Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

feat(api): use new participation table on campaign participation repository Co-authored-by: Alice Goarnisson <alice.goarnisson@pix.fr>
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-repository.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-repository_test.js
Due: eslint --fix

feat(api): update getByUserId to use organization_learner_participations on combined course participation repository Co-authored-by: Alice Goarnisson <alice.goarnisson@pix.fr>
  api/src/quest/domain/services/combined-course-details-service.js
  api/src/quest/infrastructure/repositories/combined-course-participation-repository.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-participation-repository_test.js
Due: eslint --fix

Notes added by 'git notes add'
  a0bf2eb62e996c7dea46e866db1bec4afef169d1
Due: none

(docs): add CODE_OF_CONDUCT draft file
  CODE_OF_CONDUCT.md
Due: none

🗃️ api: remove not null constraint on version
  api/db/migrations/20251027132926_remove-not-null-version-constraint-on-consolidated-frameworks-challenges-table.js
Due: eslint --fix

Notes added by 'git notes add'
  1c0be6feb7c3806c45d075be69e7a5495a6df8d5
Due: none

Notes added by 'git notes add'
  c24b6afd7ceb0b5764df498d835c6ba14100e5f5
Due: none

Notes added by 'git notes add'
  d3dec2b9925dd326b9a8663d783388cff6b58e78
Due: none

test
  mon-pix/app/styles/globals/_buttons.scss
  mon-pix/package-lock.json
  mon-pix/package.json
Due: stylelint --fix

[FEATURE] Alternative vlight IAGenBiais_NOV
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenBiais_NOV.json
Due: none

feat(api): prevent publication of sessions with pix+
  api/src/certification/session-management/domain/errors.js
  api/src/certification/session-management/domain/models/PixPlusCertificationCourse.js
  api/src/certification/session-management/domain/services/session-publication-service.js
  api/src/certification/session-management/domain/usecases/index.js
  api/src/certification/session-management/domain/usecases/publish-session.js
  api/src/certification/session-management/domain/usecases/publish-sessions-in-batch.js
  api/src/certification/session-management/infrastructure/repositories/index.js
  api/src/certification/session-management/infrastructure/repositories/pix-plus-certification-repository.js
  api/tests/certification/session-management/integration/infrastructure/repositories/pix-plus-certification-repository_test.js
  api/tests/certification/session-management/unit/domain/services/session-publication-service_test.js
  api/tests/certification/session-management/unit/domain/usecases/publish-session_test.js
  api/tests/certification/session-management/unit/domain/usecases/publish-sessions-in-batch_test.js
  api/tests/tooling/domain-builder/factory/certification/session-management/build-pix-plus-certification-course.js
  api/tests/tooling/domain-builder/factory/index.js
Due: eslint --fix

Notes added by 'git notes add'
  c2123d12a5cb933607834146765b887b57ed90d4
Due: none

Notes added by 'git notes add'
  697726d7f10ca323f62a49d39fed75dc377042c4
Due: none

Notes added by 'git notes add'
  0e08de6e3be201d118e8bf7ce7e8da8a72848a18
Due: none

Notes added by 'git notes add'
  4578008cf21321111797ecdcf71b2c1b58a9634a
Due: none

Notes added by 'git notes add'
  a246821ceee715320b391f24165e4fa2c04ef7e6
Due: none

docs(adr): test components in integration
  docs/adr/0062-tester-les-composants-en-integration.md
Due: none

test
  mon-pix/app/components/module/_passage.scss
  mon-pix/app/components/module/passage.gjs
  mon-pix/package-lock.json
  mon-pix/package.json
Due: stylelint --fix

feat(api): add new route /api/context
  api/src/shared/application/context/context.controller.js
  api/src/shared/application/context/context.route.js
  api/src/shared/infrastructure/serializers/jsonapi/context.serializer.js
  api/src/shared/routes.js
  api/tests/shared/unit/infrastructure/serializers/jsonapi/context-serializer.test.js
Due: eslint --fix

feat(mon-pix): add new context service
  mon-pix/app/models/context.js
  mon-pix/app/services/context.js
Due: eslint --fix

feat(mon-pix): leverage new context service
  mon-pix/app/routes/application.js
  mon-pix/app/services/feature-toggles.js
  mon-pix/app/services/oidc-identity-providers.js
Due: eslint --fix

WIP
  mon-pix/app/routes/application.js
  mon-pix/app/services/context.js
  mon-pix/app/services/feature-toggles.js
Due: eslint --fix

wip: try with html2canvas-pro
  mon-pix/app/components/module/passage.gjs
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

Notes added by 'git notes add'
  cb59b1fe8a5886b5ac43f53d873270b5c9782ba3
Due: none

Notes added by 'git notes add'
  4de604e5812ff65930e0dfbe6e82baf4535c97fe
Due: none

Notes added by 'git notes add'
  02e422d79d5d94d487dad5bcf99a1e9db76c10fa
Due: none

Notes added by 'git notes add'
  6c7272917d4a11343db6972155f99dfc5c253978
Due: none

plop
  api/src/shared/config.js
  api/src/shared/domain/services/mail-service.js
Due: eslint --fix

plop
  api/src/shared/domain/services/mail-service.js
  api/src/shared/mail/infrastructure/services/mailer.js
  api/src/shared/mail/infrastructure/services/smtp-mailer.js
Due: eslint --fix

Notes added by 'git notes add'
  4be27a9ac9fd1f08d0b317af925c1ef7b3e16e51
Due: none

wip: add plugin for snapdom debug
  mon-pix/app/components/module/_passage.scss
  mon-pix/app/components/module/passage.gjs
  mon-pix/app/components/module/plugins/test-plugin.js
  mon-pix/package-lock.json
  mon-pix/package.json
Due: eslint --fix, stylelint --fix

Notes added by 'git notes add'
  ae8d64ceaf7eea00eba8294520f4c55884a19f22
Due: none

Notes added by 'git notes add'
  3482763356b8aa6bc2afdadfbfa77b8bf2f0e323
Due: none

Notes added by 'git notes add'
  f19c0e54b815748e2b453bda40e71f1bb2770b03
Due: none

wip Co-authored-by: Laura Bergoens <laura.bergoens@pix.fr> Co-authored-by: Fael Bassetti <fael.bassetti@pix.fr>
  api/src/llm/domain/models/Chat.js
  api/src/llm/domain/models/Configuration.js
  api/src/llm/domain/usecases/prompt-chat.js
  api/src/llm/infrastructure/streaming/to-event-stream.js
  api/src/llm/infrastructure/streaming/transforms/response-object-to-event-stream-transform.js
  api/src/llm/infrastructure/streaming/transforms/send-debug-data-transform.js
  api/src/llm/infrastructure/streaming/transforms/send-user-prompts-left-transform.js
  api/tests/devcomp/acceptance/application/passages/passage-controller_test.js
  api/tests/evaluation/acceptance/application/assessments/assessment-controller_test.js
  api/tests/llm/acceptance/application/llm-preview-route_test.js
  api/tests/llm/integration/domain/usecases/prompt-chat_test.js
Due: eslint --fix

Notes added by 'git notes add'
  19810e22b9b9b2fb5e2c3566e46bafe54f76442d
Due: none

Notes added by 'git notes add'
  55d25b77e0c17cf0db903762ea40460850510cd9
Due: none

test(api): add a test context for "POST /api/oidc/token"
  api/tests/identity-access-management/acceptance/application/oidc-provider.route.test.js
Due: eslint --fix

test(api): remove useless code concerning cookies, it’s done already
  api/tests/identity-access-management/acceptance/application/oidc-provider.route.test.js
Due: eslint --fix

feat(api): add applicationTld property to RequestedApplication
  api/src/identity-access-management/infrastructure/utils/network.js
  api/tests/identity-access-management/integration/domain/services/oidc-authentication-service-registry.test.js
  api/tests/identity-access-management/integration/domain/usecases/get-ready-identity-providers.usecase.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.controller.test.js
  api/tests/identity-access-management/unit/application/saml/saml.controller.test.js
  api/tests/identity-access-management/unit/application/token.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-for-saml.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-oidc-user.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/create-oidc-user.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/get-saml-authentication-redirection-url_test.js
  api/tests/identity-access-management/unit/domain/usecases/reconcile-oidc-user-for-admin.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/reconcile-oidc-user.usecase.test.js
  api/tests/identity-access-management/unit/infrastructure/utils/network.test.js
  api/tests/prescription/organization-learner/integration/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
Due: eslint --fix
