Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

fix search - log values
  mon-pix/app/components/progress-bar.gjs
Due: none

fix search - static progression value in label
  mon-pix/app/components/progress-bar.gjs
Due: none

Notes added by 'git notes add'
  95d0323d63f413a2b00ba931b9933c4188f8dc65
Due: none

✨ (mon-pix): use modulix variant
  mon-pix/app/components/module/element/qcm.gjs
  mon-pix/app/components/module/element/qcu.gjs
Due: none

à supprimer
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

🔥 (mon-pix): remove useless css
  mon-pix/app/components/module/element/_qcm.scss
  mon-pix/app/components/module/element/_qcu.scss
Due: stylelint --fix

feat(api): adds questId on combined-course-blueprint
  api/db/migrations/20260223084910_adds-questId-on-combined-course-blueprint.js
Due: eslint --fix

feat(api): adds quest id when saving combined course blueprint
  api/src/quest/infrastructure/repositories/combined-course-blueprint-repository.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-blueprint-repository_test.js
Due: eslint --fix

feat(api): questId on combinedCourseBlueprint model and builder
  api/db/database-builder/factory/build-combined-course-blueprint.js
  api/src/quest/domain/models/CombinedCourseBlueprint.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-blueprint-repository_test.js
  api/tests/quest/unit/domain/models/CombinedCourseBlueprint_test.js
Due: eslint --fix

feat(admin): adds input for questId in form
  admin/app/components/combined-course-blueprints/form.gjs
  admin/tests/integration/components/combined-course-blueprints/form-test.gjs
Due: none

feat(admin): adds translations for questId label
  admin/translations/en.json
  admin/translations/fr.json
Due: none

Notes added by 'git notes add'
  58576133c02dc01f4df78e7e5fb80cc27a9e5f1f
Due: none

✨ (mon-pix): state must be neutral/success or error
  mon-pix/app/components/module/element/qcm.gjs
  mon-pix/app/components/module/element/qcu.gjs
Due: none

tech(api): remove ownerOrganizationId from seeds
  api/db/seeds/data/common/common-builder.js
  api/db/seeds/data/common/complementary-certification-builder.js
  api/db/seeds/data/common/tooling/target-profile-tooling.js
  api/db/seeds/data/team-contenu/data-builder.js
  api/db/seeds/data/team-devcomp/build-target-profiles.js
  api/db/seeds/data/team-evaluation/autonomous-courses/create-autonomous-courses.js
  api/db/seeds/data/team-evaluation/data-builder.js
  api/db/seeds/data/team-evaluation/users/eval-campaign-with-badges.js
  api/db/seeds/data/team-evaluation/users/eval-campaign-with-stages.js
  api/db/seeds/data/team-prescription/build-combined-courses.js
  api/db/seeds/data/team-prescription/build-quests.js
  api/db/seeds/data/team-prescription/build-target-profiles.js
Due: eslint --fix

tech(api): remove ownerOrganizationId from factory
  api/db/database-builder/factory/build-campaign.js
  api/db/database-builder/factory/build-target-profile.js
Due: eslint --fix

tech(api): remove ownerOrganizationId from tooling
  api/tests/tooling/domain-builder/factory/build-target-profile-for-admin.js
  api/tests/tooling/domain-builder/factory/build-target-profile-summary-for-admin.js
  api/tests/tooling/domain-builder/factory/build-target-profile.js
Due: eslint --fix

tech(api): remove ownerOrganizationId from certification
  api/tests/certification/complementary-certification/acceptance/application/attach-target-profile-controller_test.js
Due: eslint --fix

tech(api): remove ownerOrganizationId from shared
  api/src/shared/domain/models/TargetProfile.js
Due: eslint --fix

tech(api): clean canDetach unecessary option
  api/src/prescription/target-profile/domain/models/TargetProfileSummaryForAdmin.js
  api/src/prescription/target-profile/infrastructure/serializers/jsonapi/target-profile-summary-for-admin-serializer.js
  api/tests/devcomp/acceptance/application/trainings/training-route_test.js
  api/tests/prescription/target-profile/unit/infrastructure/serializers/jsonapi/target-profile-summary-for-admin-serializer_test.js
Due: eslint --fix

tech(api): remove ownerOrganizationId from organizationtal profile
  api/tests/profile/integration/scripts/share-attestations-to-eligible-organizations_test.js
Due: eslint --fix

tech(admin): remove reference of ownerOrganizationId on administration backoffice
  admin/app/components/target-profiles/target-profile.gjs
  admin/app/serializers/target-profile.js
  admin/tests/acceptance/authenticated/target-profiles/target-profile/management-test.js
  admin/tests/integration/components/target-profiles/target-profile-test.gjs
  admin/tests/unit/serializers/target-profile-test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

tech(api): remove ownerOrganizationId from devcomp
  api/tests/devcomp/acceptance/application/trainings/training-route_test.js
Due: eslint --fix

tech(api): remove ownerOrganizationId from evaluation
  api/src/evaluation/domain/usecases/save-autonomous-course.js
  api/tests/evaluation/acceptance/application/autonomous-courses/autonomous-course-controller_test.js
  api/tests/evaluation/integration/domain/usecases/save-autonomous-course_test.js
  api/tests/evaluation/integration/infrastructure/repositories/autonomous-course-repository_test.js
  api/tests/evaluation/integration/infrastructure/repositories/autonomous-course-target-profile-repository_test.js
Due: eslint --fix

tech(api): remove ownerOrganizationId from organizationtal quest
  api/tests/quest/integration/domain/services/combined-course-details-service_test.js
  api/tests/quest/integration/domain/usecases/check-user-quest-success_test.js
  api/tests/quest/integration/domain/usecases/create-combined-course_test.js
  api/tests/quest/integration/domain/usecases/create-combined-courses_test.js
  api/tests/quest/integration/domain/usecases/get-combined-course-by-code_test.js
  api/tests/quest/integration/domain/usecases/get-quest-results-for-campaign-participation_test.js
  api/tests/quest/integration/domain/usecases/update-combined-course_test.js
Due: eslint --fix

tech(admin): remove canDetach useless option
  admin/app/components/organizations/target-profiles-section.gjs
  admin/app/models/target-profile-summary.js
  admin/tests/integration/components/organizations/target-profiles-section-test.gjs
Due: eslint --fix

tech(api): remove ownerOrganizationId from prescription context
  api/src/prescription/campaign/infrastructure/repositories/campaign-creator-repository.js
  api/src/prescription/target-profile/domain/models/TargetProfileForAdmin.js
  api/src/prescription/target-profile/domain/models/TargetProfileSummaryForAdmin.js
  api/src/prescription/target-profile/infrastructure/repositories/target-profile-administration-repository.js
  api/src/prescription/target-profile/infrastructure/repositories/target-profile-for-specifier-repository.js
  api/src/prescription/target-profile/infrastructure/repositories/target-profile-summary-for-admin-repository.js
  api/src/prescription/target-profile/infrastructure/serializers/jsonapi/target-profile-for-admin-serializer.js
  api/src/prescription/target-profile/infrastructure/serializers/jsonapi/target-profile-serializer.js
  api/tests/prescription/campaign-participation/integration/domain/usecases/get-campaign-assessment-participation_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-overview-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/participant-result-repository_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-administration-route_test.js
  api/tests/prescription/campaign/integration/application/api/campaigns-api_test.js
  api/tests/prescription/campaign/integration/domain/usecases/create-campaign_test.js
  api/tests/prescription/campaign/integration/domain/usecases/create-campaigns_test.js
  api/tests/prescription/campaign/integration/domain/usecases/update-campaign-details_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-creator-repository_test.js
  api/tests/prescription/organization-learner/integration/domain/usecases/get-organization-learner-with-participations_test.js
  api/tests/prescription/target-profile/acceptance/application/admin-target-profile-route_test.js
  api/tests/prescription/target-profile/acceptance/application/api/target-profile-api_test.js
  api/tests/prescription/target-profile/integration/infrastructure/repositories/target-profile-administration-repository_test.js
  api/tests/prescription/target-profile/integration/infrastructure/repositories/target-profile-for-specifier-repository_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profile-controller_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profiles-route_test.js
  api/tests/prescription/target-profile/unit/domain/models/TargetProfileSummaryForAdmin_test.js
  api/tests/prescription/target-profile/unit/domain/usecases/create-target-profile_test.js
  api/tests/prescription/target-profile/unit/domain/validators/creation-command-validation_test.js
  api/tests/prescription/target-profile/unit/infrastructure/serializers/jsonapi/target-profile-for-admin-serializer_test.js
  api/tests/prescription/target-profile/unit/infrastructure/serializers/jsonapi/target-profile-serializer_test.js
  api/tests/prescription/target-profile/unit/infrastructure/serializers/jsonapi/target-profile-summary-for-admin-serializer_test.js
Due: eslint --fix

tech(api): remove ownerOrganizationId from organizationtal entities
  api/tests/organizational-entities/acceptance/application/organization/organization.admin.route.test.js
  api/tests/organizational-entities/integration/domain/usecases/create-organizations-with-tags-and-target-profiles.usecase.test.js
Due: eslint --fix

Notes added by 'git notes add'
  f4c93b0b8d2cdd1599392c82555b215e9934b248
Due: none

Notes added by 'git notes add'
  77615a49271e3b6105a18c22c8b916b5dbd18ed2
Due: none

wip
  high-level-tests/e2e-playwright/fixtures/browser-contexts.ts
  high-level-tests/e2e-playwright/fixtures/prescription/index.ts
  high-level-tests/e2e-playwright/global-setup.ts
  high-level-tests/e2e-playwright/helpers/auth.ts
  high-level-tests/e2e-playwright/helpers/db-data.ts
  high-level-tests/e2e-playwright/helpers/db.ts
  high-level-tests/e2e-playwright/pages/pix-admin/OrganizationsListPage.ts
  high-level-tests/e2e-playwright/playwright.config.prescription.ts
  high-level-tests/e2e-playwright/tests/recette-prescription/create-organization-learner.spec.ts
  high-level-tests/e2e-playwright/tests/recette-prescription/organization-learner-anonymisation/user-anonymization.spec.ts
  orga/.watchman-cookie-Maches-MacBook-Air.local-2021-10961
Due: none

feat(api): creates rewardId and rewardType column on blueprints
  api/db/migrations/20260225084111_add-rewardId-rewardType-on-blueprints.js
Due: eslint --fix

Notes added by 'git notes add'
  298aab6016936af045f1080bd245b9342e181b01
Due: none

⚡(api): add new image element to galerie
  api/src/devcomp/infrastructure/datasources/learning-content/modules/galerie.json
Due: none

Notes added by 'git notes add'
  57f4b04500d802160996ce5897d0a35274afda18
Due: none

raise the timeout
  high-level-tests/e2e-playwright/playwright.config.certif.ts
Due: none

upgrade the circleci machine
  .circleci/config.yml
Due: eslint --fix

tech(e2e): port a11y tests on non authenticated pages from cypress to playwright
  high-level-tests/e2e-playwright/helpers/utils.ts
  high-level-tests/e2e-playwright/tests/pix-app/a11y-authenticated.test.ts
  high-level-tests/e2e-playwright/tests/pix-app/a11y-not-authenticated.test.ts
  high-level-tests/e2e-playwright/tests/pix-app/a11y.test.ts
  high-level-tests/e2e/cypress/integration/pix-app/a11y-not-authenticated.test.js
Due: eslint --fix

tech(e2e): move some a11y checks on authenticated routes from cypress to playwright
  high-level-tests/e2e-playwright/tests/pix-app/a11y-authenticated.test.ts
  high-level-tests/e2e/cypress/integration/pix-app/a11y-authenticated-2.test.js
Due: eslint --fix
