Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

WIP use presentation.gjs instead of new components
  mon-pix/app/components/combined-course/combined-course-item.gjs
  mon-pix/app/components/combined-course/combined-course-step-item.gjs
  mon-pix/app/components/combined-course/tunnel/tunnel-steps.gjs
  mon-pix/app/components/routes/combined-courses/presentation.gjs
  mon-pix/app/models/combined-course-item.js
  mon-pix/app/templates/combined-courses/tunnel.gjs
Due: eslint --fix

fix(mon-pix): fixing display and duration
  mon-pix/app/components/combined-course/combined-course-item.gjs
  mon-pix/app/components/combined-course/combined-course-items-list.gjs
  mon-pix/app/components/combined-course/duration.gjs
  mon-pix/app/components/combined-course/level.gjs
  mon-pix/app/components/combined-course/tunnel/step-details.gjs
  mon-pix/app/components/combined-course/tunnel/tunnel-steps.gjs
  mon-pix/app/components/routes/combined-courses/presentation.gjs
  mon-pix/app/components/routes/combined-courses/tunnel.gjs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/combined-courses/_combined-courses.scss
  mon-pix/app/styles/components/combined-courses/_step-details.scss
  mon-pix/app/styles/components/combined-courses/_tunnel.scss
  mon-pix/app/templates/combined-courses/tunnel.gjs
  mon-pix/tests/integration/components/routes/combined-courses/presentation-test.gjs
  mon-pix/tests/integration/components/routes/combined-courses/step-details-test.gjs
  mon-pix/tests/integration/components/routes/combined-courses/tunnel-test.gjs
Due: stylelint --fix

refactor(mon-pix): isolate combined course item styles into its own file
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/combined-courses/_combined-course-item.scss
  mon-pix/app/styles/components/combined-courses/_combined-courses.scss
Due: stylelint --fix

feat(ui): other option for viewport fullscreen for tunnel page
  mon-pix/app/styles/components/combined-courses/_tunnel.scss
Due: stylelint --fix

feat(api):add acceptPixCertifTos to legalDocumentApiRepository
  api/src/identity-access-management/infrastructure/repositories/legal-document-api.repository.js
Due: eslint --fix

feat(api):call legalDocumentApiRepository instead of userRepository in accept-pix-certif-terms-of-service usecase
  api/src/identity-access-management/domain/usecases/accept-pix-certif-terms-of-service.usecase.js
Due: eslint --fix

[TECH] Upgrade d'un test de membership-repository (#17544)
  api/tests/team/integration/infrastructure/repositories/membership.repository.test.js
Due: eslint --fix

✨️(api): call learningContentRepo for getAllByIds function
  api/src/devcomp/infrastructure/repositories/module-metadata-repository.js
  api/tests/devcomp/integration/infrastructure/repositories/module-metadata-repository_test.js
Due: eslint --fix

feat(api): LTI initialization
  api/src/identity-access-management/application/lti/lti.controller.js
  api/src/identity-access-management/application/lti/lti.route.js
  api/src/identity-access-management/domain/models/LtiPlatformRegistration.js
  api/src/identity-access-management/infrastructure/serializers/html/lti-initialization-serializer.js
Due: eslint --fix

refactor(api): refactors lti registration
  api/src/identity-access-management/application/lti/lti.controller.js
  api/src/identity-access-management/domain/models/LtiPlatformRegistration.js
  api/src/identity-access-management/domain/usecases/register-lti-platform.js
  api/src/identity-access-management/infrastructure/repositories/lti-platform-registration.repository.js
  api/src/identity-access-management/infrastructure/serializers/html/lti-error-serializer.js
  api/src/identity-access-management/infrastructure/serializers/html/lti-registration-serializer.js
Due: eslint --fix

feat(api): adds ltiPlatformRegistrationRepository.findByPlatformOriginAndDeploymentId
  api/src/identity-access-management/infrastructure/repositories/lti-platform-registration.repository.js
  api/tests/identity-access-management/integration/infrastructure/repositories/lti-platform-registration.repository.test.js
  api/tests/tooling/domain-builder/factory/identity-access-management/build-lti-platform-registration.js
Due: eslint --fix

wip: feat(api): LTI launch
  api/src/identity-access-management/application/lti/lti.controller.js
  api/src/identity-access-management/application/lti/lti.route.js
  api/src/identity-access-management/domain/models/LtiPlatformRegistration.js
  api/src/identity-access-management/infrastructure/serializers/html/lti-deep-linking-serializer.js
Due: eslint --fix

✨️(api): call learningContentRepo for getAllByShortIds function
  api/src/devcomp/infrastructure/repositories/module-metadata-repository.js
  api/tests/devcomp/integration/infrastructure/repositories/module-metadata-repository_test.js
Due: eslint --fix

✨️(api): call learningContentRepo for getByShortId function
  api/src/devcomp/infrastructure/repositories/module-metadata-repository.js
  api/tests/devcomp/integration/infrastructure/repositories/module-metadata-repository_test.js
Due: eslint --fix

✨️(api): call learningContentRepo for getBySlug function
  api/src/devcomp/infrastructure/repositories/module-metadata-repository.js
  api/tests/devcomp/integration/infrastructure/repositories/module-metadata-repository_test.js
Due: eslint --fix

✨️(api): call learningContentRepo for listPublic function
  api/src/devcomp/infrastructure/repositories/module-metadata-repository.js
  api/tests/devcomp/integration/infrastructure/repositories/module-metadata-repository_test.js
Due: eslint --fix

chore(api): enable isFetchingModulesFromLearningContentEnabled by default on review apps
  api/config/feature-toggles-config.js
Due: eslint --fix

tech(api): create OrganizationBatchCreationError domain error
  api/src/organizational-entities/application/http-error-mapper-configuration.js
  api/src/organizational-entities/domain/errors.js
  api/tests/organizational-entities/unit/domain/errors.test.js
Due: eslint --fix

tech(api): add FIELD_NOT_A_NUMBER validation error to api constants
  api/src/shared/constants.js
Due: eslint --fix

tech(api): use OrganizationBatchCreationError in validate method and add error line
  api/src/organizational-entities/domain/usecases/create-organizations-with-tags-and-target-profiles.usecase.js
  api/src/organizational-entities/domain/validators/organization-with-tags-and-target-profiles.js
  api/tests/organizational-entities/integration/domain/usecases/create-organizations-with-tags-and-target-profiles.usecase.test.js
  api/tests/organizational-entities/integration/domain/validators/organization-with-tags-and-target-profiles.test.js
Due: eslint --fix

feat(admin): add validation-errors translations and registry
  admin/app/utils/get-message-from-validation-code.js
  admin/tests/unit/utils/get-message-from-validation-code_test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

feat(admin): handle validation error in organization batch import
  admin/app/components/administration/deployment/organizations-import.gjs
  admin/tests/integration/components/administration/deployment/organizations-import-test.gjs
Due: none

feat(api): verifies the typ header of access tokens
  api/src/shared/domain/services/token-service.js
  api/tests/shared/unit/domain/services/token-service_test.js
  high-level-tests/e2e-playwright/helpers/auth.ts
  high-level-tests/e2e/cypress/support/commands.js
Due: eslint --fix

feat(api): ensures backward compatibility for older access tokens
  api/src/shared/domain/services/token-service.js
  api/tests/shared/unit/domain/services/token-service_test.js
Due: eslint --fix

feat(api): adds possibility to verify audience in token service
  api/src/shared/domain/services/token-service.js
  api/tests/shared/unit/domain/services/token-service_test.js
Due: eslint --fix

feat(api): add revocation of all user accesses in anonymizeUser usecase
  api/src/identity-access-management/domain/usecases/anonymize-user.usecase.js
  api/tests/identity-access-management/integration/application/anonymize-user.event-handler.test.js
Due: eslint --fix

docs(api): update to document that refreshTokenRepository is deprecated and is legacy
  api/src/identity-access-management/domain/usecases/revoke-access-for-users.usecase.js
Due: eslint --fix

fix(api): avoir id collision for course item
  api/src/quest/domain/models/combined-courses/value-objects/CourseItem.js
  api/src/quest/infrastructure/repositories/course-repository.js
  api/src/quest/infrastructure/serializers/course-serializer.js
  api/tests/quest/acceptance/application/course-route_test.js
  api/tests/quest/integration/infrastructure/repositories/course-repository_test.js
  api/tests/quest/unit/infrastructure/serializers/course-serializer_test.js
Due: eslint --fix

wip
  api/src/evaluation/domain/services/scorecard-service.js
Due: eslint --fix

[BUGFIX] Répare l'affichage de la durée et de la description du bloc formation d'un parcours combiné (#17542)
  mon-pix/app/components/combined-course/combined-course-item.gjs
  mon-pix/tests/integration/components/combined-course/combined-course-item-test.gjs
Due: none

feat(mon-pix): use on change instead of on input
  mon-pix/app/components/module/issue-report/issue-report-modal.gjs
Due: none

:zap: (mon-pix): improve a11y of card
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/training/card.gjs
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/training/registration-card-tag.gjs
  mon-pix/app/styles/components/campaigns/assessment/results/recommendation-engine/trainings.scss
Due: stylelint --fix

tech(api): add route for pdf generator
  api/src/certification/results/application/certificate-preview-controller.js
  api/src/certification/results/application/certificate-preview-route.js
  api/src/certification/results/routes.js
Due: eslint --fix

tech(admin): add form for certificate generator
  admin/app/components/tools/certification.gjs
  admin/app/components/tools/certification/certificate-generator.gjs
Due: none

chore(release): 5.503.1 [skip ci]
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
  packages/pix-types/package.json
Due: none

Notes added by 'git notes add'
  47ca1e877080cd36bd4382291fd7004a1dd20ece
Due: none

feat(api): add categoryId to validator
  api/src/organizational-entities/domain/validators/organization-with-tags-and-target-profiles.js
  api/tests/organizational-entities/integration/domain/validators/organization-with-tags-and-target-profiles.test.js
Due: eslint --fix

refactor(api): use named params in checkStructureCategoryExist verification method to include currentLine param
  api/src/organizational-entities/domain/services/organization-verification.service.js
  api/src/organizational-entities/domain/usecases/create-organization.js
  api/src/organizational-entities/domain/usecases/update-organization-information.usecase.js
  api/tests/organizational-entities/integration/domain/services/organization-verification.service.test.js
  api/tests/organizational-entities/integration/domain/usecases/create-organization_test.js
Due: eslint --fix

feat(api): include categoryId in CSV deseralizer
  api/src/organizational-entities/infrastructure/serializers/csv/organizations-csv-serializer.js
Due: eslint --fix

[TECH] Editer modale de signalement pour préparer au nouveau PixTextArea (PIX-24331) (#17552)
  mon-pix/app/components/module/issue-report/issue-report-modal.gjs
Due: none
