Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

fix: leçon3 : reformulation + restructuration
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_durabilite_Nov.json
Due: none

fix: récap: fix typo
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_durabilite_Nov.json
Due: none

fix: act1 : reformulations
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_durabilite_Nov.json
Due: none

refactor(api): identity-access-management - remove serializer injections in controllers
  api/src/identity-access-management/application/account-recovery/account-recovery.controller.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.controller.js
  api/src/identity-access-management/application/organization-learner-account-recovery/organization-learner-account-recovery.controller.js
  api/src/identity-access-management/application/password/password.controller.js
  api/src/identity-access-management/application/saml/saml.controller.js
  api/src/identity-access-management/application/token/token.controller.js
  api/src/identity-access-management/application/user/user-existence-verification-pre-handler.js
  api/src/identity-access-management/application/user/user.admin.controller.js
  api/src/identity-access-management/application/user/user.controller.js
  api/tests/identity-access-management/unit/application/password/password.controller.test.js
  api/tests/identity-access-management/unit/application/user-existence-verification_test.js
  api/tests/identity-access-management/unit/application/user/user.admin.controller.test.js
  api/tests/unit/application/sco-organization-learners/sco-organization-learner-controller_test.js
Due: eslint --fix

refactor(api): announcements - remove serializer injections in controllers
  api/src/announcements/application/announcement-controller.js
Due: eslint --fix

refactor(api): banners - rewrite controlleur export
  api/src/banner/application/banner-controller.js
Due: eslint --fix

fix: act2 : change qroqm > qcu
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_durabilite_Nov.json
Due: none

fix: aller+plusloin : fix typo
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_durabilite_Nov.json
Due: none

refactor(api): shared - remove serializer injections in controllers
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/application/country/country-controller.js
  api/src/shared/application/feature-toggles/feature-toggle-controller.js
  api/src/shared/application/healthcheck/healthcheck-controller.js
  api/tests/shared/unit/application/country/country-controller_test.js
Due: eslint --fix

fix: derniers retours edito
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_durabilite_Nov.json
Due: none

refactor(api): devcomp - remove serializer injections in controllers
  api/src/devcomp/application/campaign-participations/campaign-participation-controller.js
  api/src/devcomp/application/module-issue-report/module-issue-report-controller.js
  api/src/devcomp/application/modules-metadata/module-metadata-controller.js
  api/src/devcomp/application/modules/module-controller.js
  api/src/devcomp/application/passage-events/passage-event-controller.js
  api/src/devcomp/application/passages/passage-controller.js
  api/src/devcomp/application/trainings/training-controller.js
  api/src/devcomp/application/tutorial-evaluations/tutorial-evaluations-controller.js
  api/src/devcomp/application/user-trainings/user-trainings-controller.js
  api/src/devcomp/application/user-tutorials/user-tutorials-controller.js
  api/src/devcomp/infrastructure/utils/handlerWithDependencies.js
  api/tests/devcomp/unit/application/campaign-participations/campaign-participation-controller_test.js
  api/tests/devcomp/unit/application/modules/module-controller_test.js
  api/tests/devcomp/unit/application/passage-events/passage-event-controller_test.js
  api/tests/devcomp/unit/application/passages/passage-controller_test.js
  api/tests/devcomp/unit/application/trainings/training-controller_test.js
  api/tests/devcomp/unit/application/user-trainings/user-trainings-controller_test.js
  api/tests/devcomp/unit/application/user-tutorials/user-tutorials-controller_test.js
Due: eslint --fix

feat:remove fk constraint on ke
  api/db/migrations/20260609150710_drop_fk_constraint_answer_on_ke.js
Due: eslint --fix

feat(mon-pix): removes combinix survey link, france travail organization id and organizations combinix survey exclusion list environment variables
  mon-pix/app/components/routes/combined-courses/presentation.gjs
  mon-pix/config/environment.js
  mon-pix/tests/integration/components/routes/combined-courses/presentation-test.gjs
Due: eslint --fix

mob next [ci-skip] [ci skip] [skip ci]
  api/tests/quest/integration/infrastructure/repositories/quest-repository_test.js
Due: eslint --fix

Notes added by 'git notes add'
  3a3d119a0190f0dbebc4aec97ef79f38f03963c2
Due: none

[FEATURE] intégration v0 virus_ind
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYVirus_IND.json
Due: none

feat : accroche, decouverte 1
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYVirus_IND.json
Due: none

feat : decouverte 3 stepper
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYVirus_IND.json
Due: none

feat : transition 3
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYVirus_IND.json
Due: none

feat : instruction decouverte 3
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYVirus_IND.json
Due: none

feat : br recap
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYVirus_IND.json
Due: none

:recycle: chore(api): duplicate candidates when save enrolment
  api/src/certification/enrolment/infrastructure/repositories/candidate-repository.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/candidate-repository_test.js
Due: eslint --fix

feat(mon-pix): add new element in grain and element-factory
  mon-pix/app/components/module/component/element.gjs
  mon-pix/app/components/module/grain/grain.gjs
Due: none

feat(mon-pix): add translations
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: none

feat(mon-pix): create element qcm-declarative
  mon-pix/app/components/module/element/_qcm-declarative.scss
  mon-pix/app/components/module/element/qcm-declarative.gjs
  mon-pix/app/styles/app.scss
  mon-pix/tests/integration/components/module/qcm-declarative_test.gjs
Due: stylelint --fix

Notes added by 'git notes add'
  ba7ca0ef9c0fb3436e4f715eb31ec6c7abe6bd50
Due: none

Notes added by 'git notes add'
  cd51144ed1e1859b26de39261446299f693c2b7a
Due: none

retours textuels relecture edito
  api/src/devcomp/infrastructure/datasources/learning-content/modules/12_RangerFichiers_NOV.json
Due: none

[FEATURE] MDX-17 Biais_AVA integration retours JRO
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenBiais_AVA.json
Due: none

Notes added by 'git notes add'
  fa7ff874ee630e20c4cbd1165667d0f09a5c3c1f
Due: none

⚡(api): add new attributes to update repository method
  api/src/devcomp/infrastructure/repositories/training-repository.js
  api/tests/devcomp/integration/infrastructure/repositories/training-repository_test.js
Due: eslint --fix

⚡(api): update serializer
  api/src/devcomp/infrastructure/serializers/jsonapi/training-serializer.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/training-serializer_test.js
Due: eslint --fix

⚡(api): accept new fields on PATCH route
  api/src/devcomp/application/trainings/training-route.js
  api/tests/devcomp/acceptance/application/trainings/training-route_test.js
Due: eslint --fix

WIP
  api/db/database-builder/factory/build-combined-course.js
Due: eslint --fix

feat(api): push candidate enrolled events in SCO enrolment
  api/src/certification/enrolment/domain/usecases/enrol-students-to-session.js
  api/tests/certification/enrolment/unit/domain/usecases/enrol-students-to-session_test.js
Due: eslint --fix

feat(api): push candidate enrolled events in ODS enrolment
  api/src/certification/enrolment/domain/usecases/import-certification-candidates-from-candidates-import-sheet.js
  api/tests/certification/enrolment/unit/domain/usecases/import-certification-candidates-from-candidates-import-sheet_test.js
Due: eslint --fix

tech(api): put certification event sourcing under FT
  api/config/feature-toggles-config.js
  api/src/certification/shared/infrastructure/repositories/event-repository.js
  api/tests/certification/shared/integration/infrastructure/repositories/event-repository_test.js
Due: eslint --fix

tech(api): define event-api
  api/src/certification/shared/application/api/event-api.js
  api/tests/certification/shared/integration/application/api/event-api_test.js
Due: eslint --fix

feat(api): push candidate enrolled event in individual enrolment
  api/src/certification/enrolment/domain/models/Candidate.js
  api/src/certification/enrolment/domain/usecases/add-candidate-to-session.js
  api/src/certification/enrolment/domain/usecases/index.js
  api/src/certification/shared/domain/constants/event-names.js
  api/tests/certification/enrolment/unit/domain/usecases/add-candidate-to-session_test.js
Due: eslint --fix

tech(api): define specific event for each enrolment type
  api/src/certification/enrolment/domain/usecases/add-candidate-to-session.js
  api/src/certification/enrolment/domain/usecases/create-sessions.js
  api/src/certification/enrolment/domain/usecases/enrol-students-to-session.js
  api/src/certification/enrolment/domain/usecases/import-certification-candidates-from-candidates-import-sheet.js
  api/src/certification/shared/domain/constants/event-names.js
  api/tests/certification/enrolment/unit/domain/usecases/add-candidate-to-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/create-sessions_test.js
  api/tests/certification/enrolment/unit/domain/usecases/enrol-students-to-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/import-certification-candidates-from-candidates-import-sheet_test.js
Due: eslint --fix
