Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

remove isSco repo method
  api/src/certification/enrolment/domain/models/SessionEnrolment.js
  api/src/certification/enrolment/domain/usecases/add-candidate-to-session.js
  api/src/certification/enrolment/domain/usecases/import-certification-candidates-from-candidates-import-sheet.js
  api/src/certification/enrolment/infrastructure/repositories/session-repository.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/session-repository_test.js
  api/tests/certification/enrolment/unit/domain/models/SessionEnrolment_test.js
  api/tests/certification/enrolment/unit/domain/usecases/add-candidate-to-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/import-certification-candidates-from-candidates-import-sheet_test.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-session.js
Due: eslint --fix

remove getVersion repo method
  api/src/certification/enrolment/domain/usecases/get-certification-candidate-subscription.js
  api/src/certification/enrolment/infrastructure/repositories/session-repository.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/session-repository_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-certification-candidate-subscription_test.js
Due: eslint --fix

replace certifCenterRepo by centerRepo in import certif candidate from sheet usecase
  api/src/certification/enrolment/domain/services/certification-candidates-ods-service.js
  api/src/certification/enrolment/domain/usecases/import-certification-candidates-from-candidates-import-sheet.js
  api/src/certification/enrolment/infrastructure/files/candidates-import/candidates-import-transformation-structures.js
  api/tests/certification/enrolment/integration/domain/services/certification-candidates-ods-service/certification-candidates-ods-service_test.js
  api/tests/certification/enrolment/integration/infrastructure/ods/read-ods-utils_test.js
  api/tests/certification/enrolment/unit/domain/usecases/import-certification-candidates-from-candidates-import-sheet_test.js
Due: eslint --fix

refacto exports in repository
  api/src/certification/enrolment/infrastructure/repositories/session-repository.js
Due: eslint --fix

replace certifcenterrepository by centerrepository in validate sessions usecase
  api/src/certification/enrolment/domain/models/Center.js
  api/src/certification/enrolment/domain/usecases/validate-sessions.js
  api/tests/certification/enrolment/acceptance/application/session-mass-import-route_test.js
  api/tests/certification/enrolment/unit/domain/models/Center_test.js
  api/tests/certification/enrolment/unit/domain/usecases/validate-sessions_test.js
Due: eslint --fix

remove certif center repo dependency injection \o/
  api/src/certification/enrolment/domain/usecases/index.js
Due: eslint --fix

remove unused dependency sharedSessionRepo
  api/src/certification/enrolment/domain/usecases/index.js
Due: eslint --fix

replace certifCenterRepo by centerRepo in get candidate import sheet data usecase
  api/src/certification/enrolment/domain/usecases/get-candidate-import-sheet-data.js
  api/src/certification/enrolment/infrastructure/files/candidates-import/CandidateData.js
  api/src/certification/enrolment/infrastructure/repositories/center-repository.js
  api/tests/certification/enrolment/integration/infrastructure/ods/files/fill-candidates-import-sheet_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/center-repository_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-candidate-import-sheet-data_test.js
Due: eslint --fix

replace certifCenterRepo with centerRepo in create session usecase
  api/src/certification/enrolment/domain/usecases/create-session.js
  api/tests/certification/enrolment/unit/domain/usecases/create-session_test.js
Due: eslint --fix

remove redundant check for referent right to alter session (checked in pre-handler)
  api/src/certification/enrolment/application/enrolment-controller.js
  api/src/certification/enrolment/domain/usecases/enrol-students-to-session.js
  api/tests/certification/enrolment/unit/application/enrolment-controller_test.js
  api/tests/certification/enrolment/unit/domain/usecases/enrol-students-to-session_test.js
Due: eslint --fix

replace certifCenterRepo by centerRepo in getCenter usecase
  api/src/certification/enrolment/application/session-mass-import-controller.js
  api/src/certification/enrolment/domain/usecases/get-center.js
  api/src/certification/enrolment/domain/usecases/get-certification-center.js
  api/src/shared/infrastructure/serializers/csv/csv-serializer.js
  api/tests/certification/enrolment/unit/application/session-mass-import-controller_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-center_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-certification-center_test.js
Due: eslint --fix

replace certifCenterRepo by centerRepo in getCandidatesubscription usecase
  api/src/certification/enrolment/domain/models/Center.js
  api/src/certification/enrolment/domain/usecases/get-certification-candidate-subscription.js
  api/src/certification/enrolment/infrastructure/repositories/center-repository.js
  api/tests/certification/enrolment/unit/domain/models/Center_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-certification-candidate-subscription_test.js
Due: eslint --fix

replace certifCenterRepo by centerRepo in create sessions usecase
  api/src/certification/enrolment/domain/usecases/create-sessions.js
  api/tests/certification/enrolment/unit/domain/usecases/create-sessions_test.js
Due: eslint --fix

feat(mon-pix): add selected qcu proposal state on answer
  mon-pix/app/components/module/element/qcu.gjs
Due: none

refactor(mon-pix): migrate qcu to gjs
  mon-pix/app/components/module/element/qcu.gjs
  mon-pix/app/components/module/element/qcu.hbs
  mon-pix/app/components/module/element/qcu.js
  mon-pix/tests/integration/components/module/qcu-test.gjs
  mon-pix/tests/unit/components/module/qcu-test.gjs
Due: eslint --fix

wip
  api/src/certification/shared/infrastructure/repositories/certification-center-repository.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-center-repository_test.js
Due: eslint --fix

feat(mon-pix): add selected qcm proposals state on answer
  mon-pix/app/components/module/element/qcm.gjs
Due: none

refactor(mon-pix): migrate qcm to gjs
  mon-pix/app/components/module/element/qcm.gjs
  mon-pix/app/components/module/element/qcm.hbs
  mon-pix/app/components/module/element/qcm.js
  mon-pix/tests/integration/components/module/qcm-test.gjs
  mon-pix/tests/unit/components/module/qcm-test.gjs
Due: eslint --fix

:recycle: Migrate add-organization-features-in-batch in gjs
  admin/app/components/administration/add-organization-features-in-batch.gjs
  admin/app/components/administration/add-organization-features-in-batch.hbs
  admin/tests/integration/components/administration/add-organization-features-in-batch-test.gjs
Due: none

[RELEASE] A minor is being released to 4.199.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

tech(api): add property name to ImportOrganizationLearnersJobHandler
  api/src/prescription/learner-management/infrastructure/jobs/ImportOrganizationLearnersJobHandler.js
  api/tests/prescription/learner-management/unit/infrastructure/jobs/ImportOrganizationLearnersJobHandler_test.js
Due: eslint --fix

tech(api): add property name to ValidateOrganizationImportFileJobHandler
  api/src/prescription/learner-management/infrastructure/jobs/ValidateOrganizationImportFileJobHandler.js
  api/tests/prescription/learner-management/unit/infrastructure/jobs/ValidateOrganizationImportFileJobHandler_test.js
Due: eslint --fix

Make insertJobs use params
  api/scripts/insertJobs.js
Due: eslint --fix

tech(api): add priority field in JobPgBoss
  api/src/shared/infrastructure/jobs/JobPgBoss.js
  api/tests/shared/integration/infrastructure/jobs/JobPgBoss_test.js
  api/tests/tooling/jobs/expect-job.js
Due: eslint --fix

:sparkles: api: enumeration for pgboss job priorities
  api/src/shared/infrastructure/jobs/JobPgBoss.js
  api/src/shared/infrastructure/jobs/JobPriority.js
  api/tests/shared/integration/infrastructure/jobs/JobPgBoss_test.js
Due: eslint --fix

🔧 certif: Add parameter for ember to build scss in app components folder
  certif/ember-cli-build.js
Due: eslint --fix

🚛 certif: Move css for login session supervisor from style folder to component folder
  certif/app/components/login-session-supervisor/footer.gjs
  certif/app/components/login-session-supervisor/footer.scss
  certif/app/components/login-session-supervisor/form.gjs
  certif/app/components/login-session-supervisor/form.scss
  certif/app/components/login-session-supervisor/header.gjs
  certif/app/components/login-session-supervisor/header.scss
  certif/app/components/login-session-supervisor/index.gjs
  certif/app/components/login-session-supervisor/index.scss
  certif/app/styles/app.scss
Due: stylelint --fix

🚛 certif: Delete useless css files
  certif/app/styles/components/login-session-supervisor/form.scss
  certif/app/styles/components/login-session-supervisor/index.scss
Due: stylelint --fix

tech(api): use one job to trigger multiple event
  api/src/prescription/campaign-participation/application/jobs/participation-result-calculation-job-controller.js
  api/src/prescription/campaign-participation/application/jobs/send-share-participation-results-to-pole-emploi-job-controller.js
  api/src/prescription/campaign-participation/application/learner-participation-controller.js
  api/src/prescription/campaign-participation/domain/models/ParticipationResultCalculationJob.js
  api/src/prescription/campaign-participation/domain/models/SendSharedParticipationResultsToPoleEmploiJob.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/participation-result-calculation-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/send-share-participation-results-to-pole-emploi-job-repository.js
  api/src/shared/infrastructure/jobs/JobPgBoss.js
  api/tests/prescription/campaign-participation/acceptance/application/learner-participation-route_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-result-calculation-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/send-share-participation-results-to-pole-emploi-job-repository_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-result-calculation-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/send-share-participation-results-to-pole-emploi-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/learner-participation-controller_test.js
  api/worker.js
Due: eslint --fix

refactor(api): use job name on pgboss.job instead of getter on controller
  api/src/shared/infrastructure/jobs/JobQueue.js
  api/src/shared/infrastructure/jobs/monitoring/MonitoredJobHandler.js
Due: eslint --fix

tech(api): clean unecessary file
  api/lib/infrastructure/events/EventBusBuilder.js
  api/lib/infrastructure/events/EventHandlerDependenciesBuilder.js
  api/lib/infrastructure/events/subscribers/ScheduleParticipationResultCalculationJob.js
  api/lib/infrastructure/events/subscribers/ScheduleSendSharedParticipationResultsToPoleEmploiJob.js
  api/src/shared/infrastructure/jobs/campaign-result/ParticipationResultCalculationJob.js
  api/src/shared/infrastructure/jobs/campaign-result/ParticipationResultCalculationJobHandler.js
  api/src/shared/infrastructure/jobs/campaign-result/SendSharedParticipationResultsToPoleEmploiHandler.js
  api/src/shared/infrastructure/jobs/campaign-result/SendSharedParticipationResultsToPoleEmploiJob.js
  api/tests/shared/integration/infrastructure/jobs/campaign-result/ParticipationResultCalculationJobHandler_test.js
  api/tests/shared/integration/infrastructure/jobs/campaign-result/ParticipationResultCalculationJob_test.js
  api/tests/shared/integration/infrastructure/jobs/campaign-result/SendSharedParticipationResultsToPoleEmploiJob_test.js
  api/tests/shared/unit/infrastructure/jobs/campaign-result/ParticipationResultCalculationJobHandler_test.js
  api/tests/shared/unit/infrastructure/jobs/campaign-result/SendSharedParticipationResultsToPoleEmploiHandler_test.js
  api/tests/unit/infrastructure/events/handlers/ScheduleParticipationResultCalculationJob_test.js
  api/tests/unit/infrastructure/events/handlers/ScheduleSendSharedParticipationResultsToPoleEmploiJob_test.js
Due: eslint --fix

Migrate autonomous courses folder into gjs
  admin/app/components/autonomous-courses/create-autonomous-course-form.gjs
  admin/app/components/autonomous-courses/create-autonomous-course-form.hbs
  admin/app/components/autonomous-courses/create-autonomous-course-form.js
  admin/app/components/autonomous-courses/details.gjs
  admin/app/components/autonomous-courses/details.hbs
  admin/app/components/autonomous-courses/details.js
  admin/app/components/autonomous-courses/list-items.gjs
  admin/app/components/autonomous-courses/list-items.hbs
  admin/app/components/autonomous-courses/update-autonomous-course-form.gjs
  admin/app/components/autonomous-courses/update-autonomous-course-form.hbs
  admin/app/components/autonomous-courses/update-autonomous-course-form.js
  admin/app/components/autonomous-courses/view-autonomous-course.gjs
  admin/app/components/autonomous-courses/view-autonomous-course.hbs
  admin/app/components/autonomous-courses/view-autonomous-course.js
  admin/tests/integration/components/autonomous-courses/create-autonomous-course-form-test.gjs
  admin/tests/integration/components/autonomous-courses/details-test.gjs
  admin/tests/integration/components/autonomous-courses/list-items-test.gjs
Due: eslint --fix

Migrate card file into gjs
  admin/app/components/card.gjs
  admin/app/components/card.hbs
Due: none

Migrate campaign criterion component into gjs
  admin/app/components/badges/campaign-criterion.gjs
  admin/app/components/badges/campaign-criterion.hbs
  admin/app/components/badges/campaign-criterion.js
  admin/tests/integration/components/badges/campaign-criterion-test.gjs
Due: eslint --fix

Migrate badge component into gjs
  admin/app/components/badges/badge.gjs
  admin/app/components/badges/badge.hbs
  admin/app/components/badges/badge.js
  admin/tests/integration/components/badges/badge-test.gjs
Due: eslint --fix

feat(api): add tabletSupport in module details
  api/src/devcomp/domain/models/module/Details.js
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/chatgpt-parle-francais.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
  api/tests/devcomp/acceptance/scripts/get-answerable-elements_test.js
  api/tests/devcomp/acceptance/scripts/get-elements_test.js
  api/tests/devcomp/acceptance/scripts/get-modules_test.js
  api/tests/devcomp/acceptance/scripts/get-proposals_test.js
  api/tests/devcomp/integration/repositories/element-repository_test.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
  api/tests/devcomp/unit/domain/models/module/Details_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-validation_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module.js
  api/tests/devcomp/unit/infrastructure/factories/module-factory_test.js
Due: eslint --fix

Migrate admin smart random simulator folder in gjs
  admin/app/components/card.gjs
  admin/app/components/card.hbs
  admin/app/components/smart-random-simulator/current-challenge.gjs
  admin/app/components/smart-random-simulator/current-challenge.hbs
  admin/app/components/smart-random-simulator/previous-challenges.gjs
  admin/app/components/smart-random-simulator/previous-challenges.hbs
  admin/app/components/smart-random-simulator/previous-challenges.js
  admin/app/components/smart-random-simulator/reset.gjs
  admin/app/components/smart-random-simulator/reset.hbs
  admin/app/components/smart-random-simulator/smart-random-params.gjs
  admin/app/components/smart-random-simulator/smart-random-params.hbs
  admin/app/components/smart-random-simulator/smart-random-params.js
  admin/app/components/smart-random-simulator/start.gjs
  admin/app/components/smart-random-simulator/start.hbs
  admin/app/components/smart-random-simulator/tubes-viewer.gjs
  admin/app/components/smart-random-simulator/tubes-viewer.hbs
  admin/app/components/smart-random-simulator/tubes-viewer.js
  admin/tests/integration/components/smart-random-simulator/smart-random-params-test.gjs
  admin/tests/integration/components/smart-random-simulator/tubes-viewer-test.gjs
Due: eslint --fix

Migrate capped tube criterion component into gjs
  admin/app/components/badges/badge.gjs
  admin/app/components/badges/capped-tubes-criterion.gjs
  admin/app/components/badges/capped-tubes-criterion.hbs
  admin/app/components/common/tubes-details/area.gjs
  admin/app/components/common/tubes-details/area.hbs
  admin/tests/integration/components/badges/campaign-criterion-test.gjs
  admin/tests/integration/components/badges/capped-tubes-criterion-test.gjs
Due: none

feat(api): remove sentry
  api/.depcheckrc
  api/package-lock.json
  api/package.json
  api/sample.env
  api/src/shared/config.js
  api/src/shared/infrastructure/plugins/index.js
  api/src/shared/infrastructure/plugins/sentry.js
Due: eslint --fix
