Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

♻️ certif: fusion acceptance tests
  certif/tests/acceptance/routes/authenticated/sessions/import_test.js
  certif/tests/acceptance/session-import_test.js
Due: eslint --fix

✨ certif: add file import block on step two section
  certif/app/components/import/step-one-section.hbs
  certif/app/components/import/step-two-section.hbs
  certif/app/controllers/authenticated/sessions/import.js
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/app/templates/authenticated/sessions/import.hbs
  certif/tests/integration/components/sessions-import/step-two-section_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix, stylelint --fix

♻️ certif: manage errors on step two section
  certif/app/components/import/step-two-section.hbs
  certif/app/templates/authenticated/sessions/import.hbs
Due: none

💄 certif: enhance blocks content to match the reimport block in step two
  certif/app/components/import/file-import-block.hbs
  certif/app/components/import/step-one-section.hbs
  certif/app/styles/pages/authenticated/sessions/import.scss
Due: stylelint --fix

♻️ certif: filename correction
  certif/app/components/import/file-import-block.hbs
  certif/app/components/import/step-one-section.hbs
  certif/app/components/import/step-two-section.hbs
  certif/app/controllers/authenticated/sessions/import.js
  certif/app/templates/authenticated/sessions/import.hbs
  certif/tests/integration/components/sessions-import/file-import-block_test.js
  certif/tests/integration/components/sessions-import/step-one-section_test.js
Due: eslint --fix

✨ certif: create fileImportBlock component
  certif/app/components/import/file-import-block.hbs
  certif/app/components/import/step-one-section.hbs
  certif/tests/integration/components/sessions-import/file-import-block_test.js
  certif/tests/integration/components/sessions-import/step-one-section_test.js
Due: eslint --fix

✨ certif: add a loader for file re importation
  certif/app/components/import/step-one-section.hbs
  certif/app/components/import/step-two-section.hbs
  certif/app/controllers/authenticated/sessions/import.js
  certif/app/styles/globals/panels.scss
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/app/templates/authenticated/sessions/import.hbs
  certif/public/images/interwind.gif
Due: eslint --fix, stylelint --fix

♻️ certif: remove useless class
  certif/app/components/import/step-two-section.hbs
  certif/app/styles/pages/authenticated/sessions/import.scss
Due: stylelint --fix

feat(mon-pix): add nl translations
  api/lib/infrastructure/utils/request-response-utils.js
  mon-pix/app/languages.js
Due: eslint --fix

refactor(api): create isStageNotUpdatable method
  api/src/evaluation/domain/usecases/update-stage.js
  api/tests/evaluation/unit/domain/usecases/update-stage_test.js
  api/tests/tooling/domain-builder/factory/build-target-profile-for-admin.js
Due: eslint --fix

refactor(api): improve update-stage usecase
  api/src/evaluation/domain/usecases/update-stage.js
  api/tests/evaluation/integration/domain/usecases/update-stage_test.js
Due: eslint --fix

fix(mon-pix): prevent feedpack-panel flacky integration test
  mon-pix/tests/integration/components/feedback-panel_test.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.95.0.
  1d/package-lock.json
  1d/package.json
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

feat(api): allow empty alt on module image element
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/image.js
Due: eslint --fix

feat(api): create a new module didacticiel-modulix
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Due: none

chore: handle ember-data deprecation
  mon-pix/app/pods/element/model.js
Due: eslint --fix

♻️ refactor: move activity answer files and more
  api/lib/domain/models/index.js
  api/lib/domain/usecases/correct-answer-then-update-assessment.js
  api/lib/routes.js
  api/src/school/application/activity-answer-controller.js
  api/src/school/application/activity-answer-route.js
  api/src/school/infrastructure/serializers/activity-answer-serializer.js
  api/src/school/routes.js
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/domain/models/Examiner.js
  api/src/shared/domain/usecases/correct-answer.js
  api/src/shared/domain/usecases/index.js
  api/tests/school/unit/application/activity-answer-route.js
  api/tests/school/unit/infrastructure/serializers/activity-answer-serializer_test.js
  api/tests/shared/integration/domain/usecases/correct-answer_test.js
  api/tests/shared/unit/domain/models/Examiner_test.js
  api/tests/unit/application/activity-answers/activity-answer-controller_test.js
  api/tests/unit/domain/usecases/correct-answer_test.js
Due: eslint --fix

feat(api): use new way to get knowledgeelement snapped with associated campaignParticipationId
  api/lib/infrastructure/repositories/knowledge-element-repository.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-assessment-results-to-stream.js
  api/tests/integration/infrastructure/repositories/knowledge-element-repository_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-assessment-results-to-stream_test.js
  api/tests/prescription/campaign/unit/domain/usecases/start-writing-campaign-assessment-results-to-stream_test.js
Due: eslint --fix

feat(api): add element snapshot repo with cmapaign participation
  api/lib/infrastructure/repositories/knowledge-element-snapshot-repository.js
  api/src/prescription/shared/domain/read-models/CampaignParticipationKnowledgeElementSnapshots.js
  api/tests/integration/infrastructure/repositories/knowledge-element-snapshot-repository_test.js
Due: eslint --fix

refactor(mon-pix): rename grain buttons display condition param
  mon-pix/app/pods/components/module/details/component.js
  mon-pix/app/pods/components/module/details/template.hbs
  mon-pix/app/pods/components/module/grain/component.js
  mon-pix/tests/integration/components/module/grain_test.js
Due: eslint --fix

feat(mon-pix): hide skip button when grain is not active
  mon-pix/app/pods/components/module/grain/component.js
  mon-pix/tests/integration/components/module/grain_test.js
Due: eslint --fix

💄 admin: improve login-form
  admin/app/components/login-form.hbs
  admin/app/styles/login.scss
  admin/app/templates/login.hbs
  admin/tests/integration/components/login-form_test.js
Due: eslint --fix, stylelint --fix

feat(admin): add method to check if provider is enabled
  admin/app/services/oidc-identity-providers.js
  admin/tests/unit/services/oidc-identity-providers_test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
