Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat(api): add children relationship
  api/lib/infrastructure/serializers/jsonapi/organizations-administration/organization-for-admin-serializer.js
  api/tests/acceptance/application/organizations-administration/organization-administration-get_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/organization-for-admin-serializer_test.js
Due: eslint --fix

feat(admin): add Children organizations tab
  admin/app/templates/authenticated/organizations/get.hbs
  admin/translations/en.json
  admin/translations/fr.json
Due: none

feat(admin): add OrganizationsChildrenListItem component
  admin/app/components/organizations/children/list-item.hbs
  admin/tests/integration/components/organizations/children/list-item_test.js
Due: eslint --fix

refactor(api): extract common data from assessment / profile collection
  api/lib/infrastructure/repositories/knowledge-element-snapshot-repository.js
  api/tests/integration/infrastructure/repositories/knowledge-element-snapshot-repository_test.js
Due: eslint --fix

feat(api): use only snapshot to determinate scor e pix on participation
  api/lib/domain/services/placement-profile-service.js
  api/tests/integration/domain/services/placement-profile-service_test.js
Due: eslint --fix

feat(api): implement get in PassageRepository
  api/db/database-builder/factory/build-passage.js
  api/src/devcomp/infrastructure/repositories/passage-repository.js
  api/tests/devcomp/integration/repositories/passage-repository_test.js
Due: eslint --fix

feat(api): add getGrainByElementId method in Module model and getElementById in Grain model
  api/src/devcomp/domain/models/Grain.js
  api/src/devcomp/domain/models/Module.js
  api/tests/devcomp/unit/domain/models/Grain_test.js
  api/tests/devcomp/unit/domain/models/Module_test.js
Due: eslint --fix

feat(api): add element answers table
  api/db/migrations/20231229135121_add-element-answers.js
Due: eslint --fix

feat(api): add element-answer-repository
  api/src/devcomp/domain/models/ElementAnswer.js
  api/src/devcomp/domain/models/element/QCU-for-answer-verification.js
  api/src/devcomp/domain/models/element/QROCM-for-answer-verification.js
  api/src/devcomp/infrastructure/repositories/element-answer-repository.js
  api/src/devcomp/infrastructure/repositories/index.js
  api/tests/devcomp/integration/repositories/element-answer-repository_test.js
  api/tests/devcomp/unit/domain/models/ElementAnswer_test.js
  api/tests/devcomp/unit/domain/models/element/QCU-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QROCM-for-answer-verification_test.js
Due: eslint --fix

sr(api): only accept uuid v4 in modules content
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/utils.js
Due: eslint --fix

feat(api): add verifyAndSaveAnswer usecase
  api/src/devcomp/domain/errors.js
  api/src/devcomp/domain/usecases/verify-and-save-answer.js
  api/tests/devcomp/unit/domain/usecases/verify-and-save-answer_test.js
Due: eslint --fix

feat(api): provide id from element-answer in serializer
  api/src/devcomp/infrastructure/serializers/jsonapi/element-answer-serializer.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/element-answer-serializer_test.js
Due: eslint --fix

feat(api): add passage-answer route
  api/lib/domain/types/identifiers-type.js
  api/src/devcomp/application/http-error-mapper-configuration.js
  api/src/devcomp/application/passages/index.js
  api/tests/devcomp/acceptance/application/passages/passage-controller_test.js
  api/tests/devcomp/integration/application/passages/index_test.js
Due: eslint --fix

feat(api): add endpoint to verify and save answer
  api/src/devcomp/application/passages/controller.js
  api/tests/devcomp/unit/application/passages/controller_test.js
Due: eslint --fix

sr(api): use real proposal id format for qcu test
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/element-answer-serializer_test.js
Due: eslint --fix

:bug: api: protect get divisions route
  api/lib/application/certification-centers/index.js
  api/tests/acceptance/application/certification-centers/index_test.js
  api/tests/unit/application/certification-centers/index_test.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.87.0.
  1d/package-lock.json
  1d/package.json
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

fix(1d): display style for ordered list
  1d/app/pods/components/bubble/bubble.scss
Due: stylelint --fix

:beers: Add funfuzz script to test Hapi
  api/funfuzz.js
  api/package-lock.json
  api/package.json
Due: eslint --fix

feat(api): use prehandler for GET /api/admin/target-profiles/{id}/content-json endpoint
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/src/prescription/target-profile/domain/usecases/get-target-profile-content-as-json.js
  api/tests/prescription/target-profile/integration/application/admin-target-profile-route_test.js
  api/tests/prescription/target-profile/unit/domain/usecases/get-target-profile-content-as-json_test.js
Due: eslint --fix

feat(api): add eslint new—files config file
  api/.eslint-new-files-in-lib-config.cjs
Due: none

feat(api): add fake usecase TO_DROP
  api/lib/domain/usecases/fake-usecase.js
Due: eslint --fix

feat(api): add a lint:staged script
  api/package.json
Due: none

feat(ci): add a github action to lint:staged
  .github/workflows/lint-api-lib.yaml
Due: none

feat(1d): add new css token / remove scss variabe
  1d/app/pods/components/bubble/bubble.scss
  1d/app/pods/components/challenge/challenge-actions/template.hbs
  1d/app/pods/components/challenge/challenge-illustration/challenge-illustration.scss
  1d/app/pods/components/challenge/item/challenge-item-proposals.scss
  1d/app/pods/components/mission-card/card.scss
  1d/app/pods/identified/missions/list/missions.scss
  1d/app/pods/identified/missions/mission/mission.scss
  1d/app/pods/loading/loading.scss
  1d/app/pods/organization-code/home.scss
  1d/app/pods/school/school.scss
  1d/app/styles/app.scss
  1d/app/styles/globals/_buttons.scss
  1d/app/styles/globals/_colors.scss
Due: stylelint --fix

💄 certif: add font-size on session mandatory information
  certif/app/styles/pages/authenticated/sessions.scss
Due: stylelint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
