Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

:recycle: admin: Display api data for pilot certification pixscor
  admin/app/components/certification-centers/information-view.hbs
  admin/app/components/certification-centers/information-view.js
  admin/app/models/certification-center.js
Due: eslint --fix

🎨 admin: style certification center information
  .husky/lint
  admin/app/components/certification-centers/habilitation-tag/index.hbs
  admin/app/components/certification-centers/habilitation-tag/index.js
  admin/app/components/certification-centers/information-edit.hbs
  admin/app/components/certification-centers/information-view.hbs
  admin/app/styles/authenticated/certification-center/index.scss
  admin/app/styles/components/certification-centers/information.scss
  admin/app/styles/globals/form.scss
  admin/tests/acceptance/authenticated/certification-centers/get_test.js
  admin/tests/integration/components/certification-centers/information-edit_test.js
  admin/tests/integration/components/certification-centers/information-view_test.js
  admin/tests/unit/components/certification-centers/habilitation-tag/index_test.js
  admin/translations/en.json
  admin/translations/fr.json
  certif/app/components/new-candidate-modal/index.hbs
Due: eslint --fix, stylelint --fix

update ember-data 4.12.7
  certif/package-lock.json
  certif/package.json
Due: none

:recycle: certif: fix custom error handling via JSONAPISerializer
  certif/app/serializers/certification-candidate.js
Due: eslint --fix

✨ certif: create certification candidate serializer to delete hasComplementaryReferential attribute
  certif/app/serializers/certification-candidate.js
  certif/tests/acceptance/session-details-certification-candidates_test.js
  certif/tests/unit/serializers/certification-candidate_test.js
Due: eslint --fix

:recycle: certif: more serializer tests
  certif/tests/unit/serializers/certification-candidate_test.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.145.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

refactor(api): extract template's params from sendScoOrganizationInvitationEmail
  api/lib/domain/services/mail-service.js
Due: eslint --fix

refactor(api): add orga and certif trad for email-sender-name
  api/lib/domain/services/mail-service.js
  api/translations/en.json
  api/translations/es.json
  api/translations/fr.json
  api/translations/nl.json
Due: eslint --fix

refactor(api): extract template's params from sendOrganizationInvitationEmail
  api/lib/domain/services/mail-service.js
  api/tests/unit/domain/services/mail-service_test.js
Due: eslint --fix

refactor(api): use mailer config for sendAccountRecoveryEmail
  api/lib/domain/services/mail-service.js
Due: eslint --fix

refactor(api): extract template's params from sendResetPasswordDemandEmail
  api/lib/domain/services/mail-service.js
Due: eslint --fix

refactor(api): extract LOCALE_TEMPLATE_PARAMS in _getMailerConfig function
  api/lib/domain/services/mail-service.js
Due: eslint --fix

refactor(api): add _formatUrlWithLocale to handle url with lang param
  api/lib/domain/services/mail-service.js
  api/tests/unit/domain/services/mail-service_test.js
Due: eslint --fix

refactor(api): extract template's params by locales from sendAccountCreationEmail
  api/lib/domain/services/mail-service.js
Due: eslint --fix

refactor(api): use mailer config for sendCertificationCenterInvitationEmail
  api/lib/domain/services/mail-service.js
  api/tests/unit/domain/services/mail-service_test.js
Due: eslint --fix

refactor(api): add template verification in tests
  api/src/shared/config.js
  api/tests/unit/domain/services/mail-service_test.js
Due: eslint --fix

refactor(api): add JSDoc and move down private function
  api/lib/domain/services/mail-service.js
Due: eslint --fix

refactor(api): extract template's params from sendVerificationCodeEmail
  api/lib/domain/services/mail-service.js
Due: eslint --fix

refactor(api): extract validateSupCsvFile usecase
  api/src/prescription/learner-management/application/sup-organization-management-controller.js
  api/src/prescription/learner-management/domain/usecases/validate-sup-csv-file.js
  api/tests/prescription/learner-management/unit/application/sup-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-sup-organization-learners_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/valide-sup-csv-file_test.js
Due: eslint --fix

refactor(api): extract uploading csv file into a usecase
  api/src/prescription/learner-management/domain/usecases/upload-csv-file.js
  api/tests/prescription/learner-management/unit/domain/usecases/upload-csv-file_test.js
Due: eslint --fix

test(api): add a helper function to return a Stream from a string
  api/tests/test-helper.js
Due: eslint --fix

refactor(api): use UploadCsvFile usecase
  api/src/prescription/learner-management/application/sup-organization-management-controller.js
  api/src/prescription/learner-management/domain/usecases/import-sup-organization-learners.js
  api/tests/prescription/learner-management/unit/application/sup-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-sup-organization-learners_test.js
Due: eslint --fix

chore: disable lint for fetch
  api/scripts/update-audit-api-csv-file.js
Due: eslint --fix

fix(mon-pix): tests
  mon-pix/tests/acceptance/challenge-item-qcm_test.js
  mon-pix/tests/integration/components/module/qrocm_test.js
Due: eslint --fix

fix(junior): ensure QROCM properly initiaize during activities
  junior/app/modifiers/did-render.js
  junior/app/pods/components/challenge/challenge-item-qrocm/component.js
  junior/app/pods/components/challenge/challenge-item-qrocm/template.hbs
Due: eslint --fix

fix(junior): store and use accurate stepIndex in activities
  api/src/school/domain/services/init-mission-activity.js
  api/src/school/domain/usecases/get-next-challenge.js
  api/tests/school/integration/domain/services/init-mission-activity_test.js
  api/tests/school/integration/domain/usecases/get-next-challenge_test.js
Due: eslint --fix

feat(junior): rename some pix1d into pix junior
  junior/app/pods/application/template.hbs
  junior/app/pods/components/mission-card/incomplete-mission/template.hbs
  junior/translations/fr.json
Due: none

wip: test new @ember/debug warn method in PixCheckbox @isDisabled
  mon-pix/app/components/signup-form.hbs
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

Update pix1d-dp-di1.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/pix1d-dp-di1.json
Due: none

Update pix1d-dp-di2.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/pix1d-dp-di2.json
Due: none

feat(api): add unauthenticated redirect logout endpoint
  api/src/identity-access-management/application/oidc-provider.controller.js
  api/src/identity-access-management/application/oidc-provider.route.js
  api/src/identity-access-management/domain/services/oidc-authentication-service.js
  api/src/identity-access-management/domain/usecases/get-unauthenticated-redirect-logout-url.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
Due: eslint --fix

feat(mon-pix): map new fields return with oidc provider error
  mon-pix/app/routes/error.js
Due: eslint --fix

feat(mon-pix): add disconnect oidc provider session behaviour
  mon-pix/app/controllers/error.js
  mon-pix/app/templates/error.hbs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: eslint --fix

feat(orga): add typescript support for docs and auto import
  orga/app/app.js
Due: eslint --fix

Update fr.json
  orga/translations/fr.json
Due: none

refactor(api): remove unused returned warnings from import sup learner
  api/src/prescription/learner-management/application/sup-organization-management-controller.js
  api/src/prescription/learner-management/domain/usecases/import-sup-organization-learners.js
  api/tests/prescription/learner-management/acceptance/application/sup-organization-management-route_test.js
  api/tests/prescription/learner-management/unit/application/sup-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-sup-organization-learners_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/validate-sup-csv-file_test.js
Due: eslint --fix

refactor(api): split replaceSupOrganizationLearner into 3 usecases
  api/src/prescription/learner-management/application/sup-organization-management-controller.js
  api/src/prescription/learner-management/domain/usecases/replace-sup-organization-learner.js
  api/tests/prescription/learner-management/acceptance/application/sup-organization-management-route_test.js
  api/tests/prescription/learner-management/unit/application/sup-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/replace-sup-organization-learners_test.js
Due: eslint --fix

Wouah
  orga/translations/en.json
  orga/translations/fr.json
Due: none
