Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

refactor(api): remove create-or-update-sco-agri-organizations script
  api/scripts/create-or-update-sco-agri-organizations.js
  api/tests/integration/scripts/create-or-update-sco-agri-organizations_test.js
Due: eslint --fix

refactor(api): remove populate-organizations-email script
  api/scripts/populate-organizations-email.js
  api/tests/integration/scripts/populate-organizations-email_test.js
Due: eslint --fix

refactor(api): remove create-or-update-sco-organizations script
  api/scripts/create-or-update-sco-organizations.js
  api/tests/acceptance/scripts/create-or-update-sco-organizations_test.js
Due: eslint --fix

refactor(api): remove create-sco-certification-centers script
  api/scripts/create-sco-certification-centers.js
  api/tests/acceptance/scripts/create-sco-certification-centers_test.js
  api/tests/unit/scripts/create-sco-certification-centers_test.js
Due: eslint --fix

feat(mon-pix): change design for report button
  high-level-tests/e2e/cypress/support/step_definitions/assessment.js
  mon-pix/app/components/feedback-panel.hbs
  mon-pix/app/styles/components/_feedback-panel.scss
  mon-pix/tests/acceptance/certification-course_test.js
  mon-pix/tests/acceptance/challenge-feedback_test.js
  mon-pix/tests/acceptance/challenge-item-qcm_test.js
  mon-pix/tests/integration/components/feedback-panel_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: eslint --fix, stylelint --fix

feat(mon-pix): modify according to PR comments
  mon-pix/app/styles/components/_feedback-panel.scss
Due: stylelint --fix

Add eslint-plugin-i18n-json to ignored dep in api
  api/.depcheckrc
Due: none

Move eslint-plugin-i18n-json to each packages that use it
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
Due: none

:sparkles: api: allow deactivation from passage in all competences
  api/lib/application/scenarios-simulator/index.js
  api/lib/application/scenarios-simulator/scenario-simulator-controller.js
  api/lib/domain/services/algorithm-methods/flash.js
  api/lib/domain/usecases/simulate-flash-deterministic-assessment-scenario.js
  api/tests/integration/application/scenarios-simulator/scenario-simulator-controller_test.js
  api/tests/integration/domain/services/algorithm-methods/flash_test.js
Due: eslint --fix

refactor(1d): move GetNextChallengeForPix1d to school bounded context
  api/db/database-builder/factory/build-activity.js
  api/lib/domain/models/index.js
  api/lib/infrastructure/repositories/activity-repository.js
  api/lib/infrastructure/repositories/challenge-repository.js
  api/src/school/domain/models/Activity.js
  api/src/school/domain/services/activity-challenge.js
  api/src/school/domain/services/activity.js
  api/src/school/domain/services/algorithm-method.js
  api/src/school/domain/services/challenge.js
  api/src/school/domain/services/last-answer-status.js
  api/src/school/domain/usecases/get-next-challenge-for-pix1d.js
  api/tests/integration/infrastructure/repositories/activity-answer-repository_test.js
  api/tests/integration/infrastructure/repositories/activity-repository_test.js
  api/tests/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/school/integration/domain/usecases/get-next-challenge-for-pix1d_test.js
  api/tests/school/unit/application/assessments/assessment-controller_test.js
  api/tests/school/unit/domain/services/activity-challenge_test.js
  api/tests/school/unit/domain/services/activity_test.js
  api/tests/school/unit/domain/services/algorithm-methods.js
  api/tests/school/unit/domain/services/challenge_test.js
  api/tests/school/unit/domain/services/last-answer-status_test.js
  api/tests/tooling/domain-builder/factory/build-activity.js
  api/tests/unit/application/assessments/assessment-controller_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/activity-serializer_test.js
Due: eslint --fix

tech(api-1d): rename the usecase to get-next-challenge
  api/src/school/application/assessments/assessment-controller.js
  api/src/school/domain/usecases/get-next-challenge.js
  api/tests/school/integration/domain/usecases/get-next-challenge_test.js
  api/tests/school/unit/application/assessments/assessment-controller_test.js
Due: eslint --fix

tech(api-1d): move assessment get next challenge route
  api/lib/application/assessments/assessment-controller.js
  api/lib/application/assessments/index.js
  api/server.js
  api/src/school/application/assessments/assessment-controller.js
  api/src/school/application/assessments/assessment-route.js
  api/src/school/routes.js
  api/src/school/shared/usecases/index.js
  api/tests/school/integration/domain/usecases/get-next-challenge-for-pix1d_test.js
  api/tests/school/unit/application/assessments/assessment-controller_test.js
  api/tests/school/unit/application/assessments/route_test.js
  api/tests/unit/application/assessments/assessment-controller_test.js
  api/tests/unit/application/assessments/index_test.js
Due: eslint --fix

:recycle: api: extract the flash algorithm to a service in v3 certification
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/lib/domain/events/index.js
  api/lib/domain/models/CertificationAssessmentScoreV3.js
  api/lib/domain/models/FlashAssessmentAlgorithm.js
  api/lib/domain/usecases/get-next-challenge-for-campaign-assessment.js
  api/lib/domain/usecases/get-next-challenge-for-certification.js
  api/lib/domain/usecases/simulate-flash-deterministic-assessment-scenario.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/tests/unit/domain/models/CertificationAssessmentScoreV3_test.js
  api/tests/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-certification_test.js
  api/tests/unit/domain/usecases/simulate-flash-deterministic-assessment-scenario_test.js
Due: eslint --fix

:recycle: api: enable empty externalId for candidate in attendance sheet pdf Co-authored-by: Jérémy Pluquet <jemyplu@gmail.com>
  api/lib/infrastructure/utils/pdf/attendance-sheet-pdf.js
  api/tests/integration/infrastructure/utils/pdf/attendance-sheet-pdf_test.js
  api/tests/integration/infrastructure/utils/pdf/attendance-sheet-with-optional-value_expected.pdf
Due: eslint --fix

[RELEASE] A minor is being released to 4.43.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

Add information about number of approvals needed for merging
  CONTRIBUTING.md
Due: none

Clean and correction of current Contributing.md
  CONTRIBUTING.md
Due: none

Typo and update after review about US-ID and conventional commit
  CONTRIBUTING.md
Due: none

Typo from code review
  CONTRIBUTING.md
Due: none

feat(1d): improve buttons and options space
  1d/app/pods/components/challenge/challenge-actions/challenge-actions.scss
  1d/app/pods/components/challenge/item/challenge-item.scss
Due: stylelint --fix

Test de modification de config
  api/src/shared/config.js
Due: eslint --fix

tech(1d): add environnement variable to allow embeds from RA
  1d/app/pods/components/challenge/challenge-item-auto-reply/component.js
  1d/app/utils/embed-allowed-origins.js
  1d/config/environment.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,yml, yaml}
  stylelint --fix: any of: *.scss
