Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

:recycle: certif: renaming team list acceptance test file
  certif/tests/acceptance/team/list/list_test.js
Due: eslint --fix

:fire: certif: remove useless width for the referer add button
  certif/app/styles/pages/authenticated/team.scss
  certif/app/templates/authenticated/team/list.hbs
Due: stylelint --fix

:sparkles: certif: Get back acceptance test on adding a certification-center referer
  certif/tests/acceptance/team/list/list_test.js
Due: eslint --fix

:sparkles: certif: edit wording in team tab
  certif/tests/acceptance/team_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

:sparkles: certif: edit wording in certification-center member list
  certif/translations/en.json
  certif/translations/fr.json
Due: none

:sparkles: certif: edit wording in referer selection modal
  certif/tests/acceptance/team/list/list_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

:sparkles: certif: update of pix referer tooltip
  certif/app/components/members-list-item.hbs
  certif/tests/acceptance/team/list/list_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

:sparkles: certif: add a success toaster when adding a Pix referer
  certif/app/controllers/authenticated/team/list.js
  certif/tests/acceptance/team/list/list_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

♿️ certif: change referer title to h2
  certif/app/templates/authenticated/team/list.hbs
  certif/tests/acceptance/team/list/list_test.js
Due: eslint --fix

💄 certif: change position to display the tooltip message
  certif/app/components/members-list-item.hbs
Due: none

:sparkles: certif: add integration test on step one import
  certif/tests/acceptance/routes/authenticated/sessions/import_test.js
  certif/tests/integration/components/sessions-import/step-one-section_test.js
Due: eslint --fix

🔥 certif: remove breadcrumb
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/app/templates/authenticated/sessions/import.hbs
  certif/tests/acceptance/session-import_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix, stylelint --fix

✨ certif: add h2 title on step-two section
  certif/app/components/import/step-two-section.hbs
  certif/tests/integration/components/sessions-import/step-two-section_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

✨ certif: add h2 title on step-one section
  certif/app/components/import/step-one-section.hbs
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/tests/integration/components/sessions-import/step-one-section_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix, stylelint --fix

:bulb: api: Update typedef in lib
  api/lib/domain/services/session-publication-service.js
  api/lib/domain/usecases/publish-session.js
Due: eslint --fix

:bulb: api: Update typedef to avoid array-like access
  api/lib/domain/usecases/index.js
  api/src/certification/shared/domain/usecases/index.js
Due: eslint --fix

:recycle: api: Add missing repo in jsdoc
  api/src/certification/shared/domain/usecases/index.js
Due: eslint --fix

:bulb: api: Add jsdoc for usecase
  api/src/certification/session/domain/usecases/assign-certification-officer-to-jury-session.js
Due: eslint --fix

:bulb: api: Update typedef in src
  api/src/certification/session/domain/usecases/add-certification-candidate-to-session.js
  api/src/certification/session/domain/usecases/create-session.js
  api/src/certification/session/domain/usecases/delete-session.js
  api/src/certification/session/domain/usecases/delete-unlinked-certification-candidate.js
  api/src/certification/session/domain/usecases/dismiss-live-alert.js
  api/src/certification/session/domain/usecases/get-attendance-sheet.js
  api/src/certification/session/domain/usecases/get-cpf-presigned-urls.js
  api/src/certification/session/domain/usecases/get-invigilator-kit-session-info.js
  api/src/certification/session/domain/usecases/get-session-certification-candidates.js
  api/src/certification/session/domain/usecases/integrate-cpf-processing-receipts.js
  api/src/certification/session/domain/usecases/update-session.js
  api/src/certification/session/domain/usecases/upload-cpf-files.js
  api/src/certification/session/domain/usecases/validate-live-alert.js
Due: eslint --fix

:speech_balloon: api: update auto jury comments for V3
  api/lib/domain/events/handle-certification-rescoring.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
Due: eslint --fix

feat(admin): add places management feature in organization model
  admin/app/models/organization.js
  admin/tests/unit/models/organization_test.js
Due: eslint --fix

feat(admin): let user enable places management feature on an organization
  admin/app/components/organizations/information-section-edit.hbs
  admin/app/components/organizations/information-section-edit.js
Due: eslint --fix

feat(admin): display if places management is enabled on an organization
  admin/app/components/organizations/information-section-view.hbs
  admin/tests/integration/components/organizations/information-section_test.js
Due: eslint --fix

style?(admin): align checkboxes in organization edition form
  admin/app/components/organizations/information-section-edit.hbs
  admin/app/styles/authenticated/organizations/get.scss
  admin/app/styles/globals/form.scss
Due: stylelint --fix
