Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat(admin): expand or collapse all accordions on blueprint attestation criteria
  admin/app/components/combined-course-blueprints/form.gjs
  admin/app/components/target-profiles/badge-form/capped-tubes-criterion.gjs
  admin/tests/integration/components/target-profiles/badge-form/capped-tubes-criterion-test.gjs
Due: none

feat(admin): expand or collapse all accordions on target profile badge criteria
  admin/app/components/target-profiles/badge-form/criteria.gjs
  admin/tests/integration/components/target-profiles/badge-form-test.gjs
Due: none

feat(admin): expand or collapse all accordions on blueprint details
  admin/app/components/combined-course-blueprints/capped-tubes/area.gjs
  admin/app/components/combined-course-blueprints/capped-tubes/competence.gjs
  admin/app/components/combined-course-blueprints/details.gjs
  admin/tests/integration/components/combined-course-blueprints/details-test.gjs
Due: none

perf(admin): expand accordions by waves to keep the page responsive
  admin/app/components/common/expandable-accordion.gjs
  admin/app/components/common/expandable-accordions.gjs
Due: none

fix : accroche qcu image
  api/src/devcomp/infrastructure/datasources/learning-content/modules/21_RepondreMail_NOV.json
Due: none

fix : lien qcu image
  api/src/devcomp/infrastructure/datasources/learning-content/modules/21_RepondreMail_NOV.json
Due: none

feat(api): legal document acceptance udpates users table for pix-certif
  api/src/legal-documents/domain/usecases/accept-legal-document-by-user-id.usecase.js
  api/src/legal-documents/infrastructure/repositories/user.repository.js
  api/tests/legal-documents/integration/domain/usecases/accept-legal-document-by-user-id.usecase.test.js
Due: eslint --fix

[FEATURE] Écrire dans la table `users` lors de l’acceptation des CGUs certif (PIX-22563) (#17264)
  api/src/legal-documents/domain/usecases/accept-legal-document-by-user-id.usecase.js
  api/src/legal-documents/infrastructure/repositories/user.repository.js
  api/tests/legal-documents/integration/domain/usecases/accept-legal-document-by-user-id.usecase.test.js
Due: eslint --fix

♻️️(mon-pix): review
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/trainings.gjs
  mon-pix/app/styles/components/campaigns/assessment/results/recommendation-engine/trainings.scss
  mon-pix/tests/integration/components/campaigns/assessment/evaluation-results-recommendation-engine-test.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/trainings-test.gjs
Due: stylelint --fix

[BUGFIX] Corriger les informations sensibles passées dans les URL + potentiel problème de cache (PIX-24007) (#17203)
  api/src/identity-access-management/application/password/password.controller.js
  api/src/identity-access-management/application/password/password.route.js
  api/src/identity-access-management/application/user/user-existence-verification-pre-handler.js
  api/src/identity-access-management/application/user/user.controller.js
  api/src/identity-access-management/application/user/user.route.js
  api/src/identity-access-management/domain/usecases/update-user-password.usecase.js
  api/tests/identity-access-management/acceptance/application/password/password.route.test.js
  api/tests/identity-access-management/acceptance/application/user/user.route.test.js
  api/tests/identity-access-management/integration/application/password/password.route.test.js
  api/tests/identity-access-management/integration/application/user/user.route.test.js
  api/tests/identity-access-management/integration/domain/usecases/update-user-password.usecase.test.js
  api/tests/identity-access-management/unit/application/user-existence-verification_test.js
  api/tests/identity-access-management/unit/application/user/user.route.test.js
  mon-pix/app/adapters/user.js
  mon-pix/app/components/authentication/password-reset-form.gjs
  mon-pix/app/routes/reset-password.js
  mon-pix/app/templates/reset-password.gjs
  mon-pix/mirage/config.js
  mon-pix/mirage/routes/passwords/index.js
  mon-pix/mirage/routes/users/index.js
  mon-pix/tests/integration/components/authentication/password-reset-form-test.gjs
  mon-pix/tests/unit/adapters/user-test.js
  mon-pix/tests/unit/routes/reset-password-test.js
Due: eslint --fix

minis modifs
  api/src/devcomp/infrastructure/datasources/learning-content/modules/31_StructurerTexte_NOV.json
Due: none

[FEATURE] Add Proxy on Pix Admin (#17209)
  admin/.buildpacks
  admin/Procfile
  admin/sample.env
Due: none

[FEATURE] Afficher des boutons permettant d'afficher les contenus formatifs par 3 sur la page de résultat sur Pix App (PIX-22793). (#17192)
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/trainings.gjs
  mon-pix/app/styles/components/campaigns/assessment/results/recommendation-engine/trainings.scss
  mon-pix/tests/integration/components/campaigns/assessment/evaluation-results-recommendation-engine-test.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/trainings-test.gjs
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: stylelint --fix

[BUGFIX] Afficher correctement la page d'acceptation des CGU sur mobile (PIX-24023) (#17292)
  mon-pix/app/styles/pages/_terms-of-service.scss
  mon-pix/app/templates/terms-of-service.gjs
  orga/app/styles/pages/authenticated/terms-of-service.scss
Due: stylelint --fix

hauteur embed
  api/src/devcomp/infrastructure/datasources/learning-content/modules/31_StructurerTexte_NOV.json
Due: none

[FEATURE] Mettre à dispo le nom du domaine de la compétence via Maddo (PIX-23762) (#17250)
  api/src/maddo/application/campaigns-routes.js
  api/src/maddo/domain/models/TubeCoverage.js
  api/src/prescription/campaign/application/api/models/CampaignParticipation.js
  api/src/prescription/campaign/domain/models/CampaignResultLevelsPerTubesAndCompetences.js
  api/src/prescription/campaign/domain/models/TubeResultForKnowledgeElementSnapshots.js
  api/src/prescription/campaign/domain/read-models/CampaignParticipation.js
  api/tests/maddo/application/acceptance/campaigns-routes_test.js
  api/tests/prescription/campaign/integration/application/api/campaigns-api_test.js
  api/tests/prescription/campaign/integration/domain/usecases/find-paginated-filtered-organization-campaigns_test.js
  api/tests/prescription/campaign/integration/domain/usecases/get-campaign-participations_test.js
  api/tests/prescription/campaign/unit/domain/models/CampaignResultLevelsPerTubesAndCompetences_test.js
  api/tests/prescription/campaign/unit/domain/models/TubeResultForKnowledgeElementSnapshots_test.js
  api/tests/prescription/campaign/unit/domain/read-models/CampaignReport_test.js
  api/tests/tooling/domain-builder/factory/maddo/build-tube-coverage.js
Due: eslint --fix

[FEATURE] Permettre de déplier / replier tous les accordéons à la création ou consultation d'un PC (PIX-23862) (#17258)
  admin/app/components/combined-course-blueprints/capped-tubes/area.gjs
  admin/app/components/combined-course-blueprints/capped-tubes/competence.gjs
  admin/app/components/combined-course-blueprints/details.gjs
  admin/app/components/combined-course-blueprints/form.gjs
  admin/app/components/common/expandable-accordion.gjs
  admin/app/components/common/expandable-accordions.gjs
  admin/app/components/common/tubes-details/area.gjs
  admin/app/components/common/tubes-details/competence.gjs
  admin/app/components/common/tubes-selection.gjs
  admin/app/components/common/tubes-selection/areas.gjs
  admin/app/components/common/tubes-selection/competence.gjs
  admin/app/components/target-profiles/badge-form/capped-tubes-criterion.gjs
  admin/app/components/target-profiles/badge-form/criteria.gjs
  admin/app/components/target-profiles/details.gjs
  admin/app/styles/app.scss
  admin/app/styles/components/common/expandable-accordions.scss
  admin/tests/integration/components/combined-course-blueprints/details-test.gjs
  admin/tests/integration/components/common/expandable-accordions-test.gjs
  admin/tests/integration/components/common/tubes-selection-test.gjs
  admin/tests/integration/components/routes/authenticated/target-profiles/target-profile/details-test.gjs
  admin/tests/integration/components/target-profiles/badge-form-test.gjs
  admin/tests/integration/components/target-profiles/badge-form/capped-tubes-criterion-test.gjs
Due: stylelint --fix

chore(app): new reviewed translations for 'de' and 'it' locales
  mon-pix/translations/de.json
  mon-pix/translations/it.json
Due: none

chore: remove test-helper
  api/tests/test-helper.js
Due: eslint --fix

[FEATURE] Module Structurertext_NOV mini modifs (#17322)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/31_StructurerTexte_NOV.json
Due: none

[FEATURE] MDX-244 CY_Generalite_IND retours interne mdx
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CY_Generalites_IND.json
Due: none

chore(release): 5.490.0 [skip ci]
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  c5550670a853e295adef701a1a634fc241c6f02a
Due: none

fix: Eslint dependency must be overriden
  admin/package.json
  api/package.json
  audit-logger/package.json
  certif/package.json
  high-level-tests/e2e-playwright/package.json
  junior/package.json
  mon-pix/package.json
  orga/package.json
Due: none

[TECH] La dépendance eslint 9 doit être surchargée (#17327)
  admin/package.json
  api/package.json
  audit-logger/package.json
  certif/package.json
  high-level-tests/e2e-playwright/package.json
  junior/package.json
  mon-pix/package.json
  orga/package.json
Due: none

remplacement de l'expression "faux mail" par "mail trompeur"
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CY_Generalites_IND.json
Due: none

tech(jobs): bump pg-boss from 12.15.0 to 12.29.0
  api/package-lock.json
  api/package.json
Due: none

move areas formatting from usecase to learning content repo
  api/src/quest/domain/models/combined-course-blueprints/value-objects/AreaForCappedTubes.js
  api/src/quest/domain/models/combined-course-blueprints/value-objects/FrameworkForCappedTubes.js
  api/src/quest/domain/usecases/get-combined-course-blueprint-by-id.js
  api/src/quest/infrastructure/repositories/learning-content-repository.js
  api/tests/quest/integration/domain/usecases/get-combined-course-blueprint-by-id_test.js
  api/tests/quest/unit/infrastructure/repositories/learning-content-repository_test.js
Due: eslint --fix

tech(jobs): enable pg-boss LISTEN/NOTIFY for workers
  api/sample.env
  api/src/shared/config.js
  api/src/shared/infrastructure/jobs/JobClient.js
  api/tests/shared/unit/infrastructure/jobs/JobClient_test.js
Due: eslint --fix

tech(jobs): remove obsolete onComplete job option
  api/src/shared/infrastructure/repositories/jobs/job-repository.js
Due: eslint --fix

[TECH] Déplacer la logique de formattage des areas du usecase vers le repository (PIX-24072) (#17326)
  api/src/quest/domain/models/combined-course-blueprints/value-objects/AreaForCappedTubes.js
  api/src/quest/domain/models/combined-course-blueprints/value-objects/FrameworkForCappedTubes.js
  api/src/quest/domain/usecases/get-combined-course-blueprint-by-id.js
  api/src/quest/infrastructure/repositories/learning-content-repository.js
  api/tests/quest/integration/domain/usecases/get-combined-course-blueprint-by-id_test.js
  api/tests/quest/unit/infrastructure/repositories/learning-content-repository_test.js
Due: eslint --fix

fix(orga): order category options alphabetically
  orga/app/components/catalogue/list.gjs
  orga/tests/integration/components/catalogue/list-test.gjs
Due: none

[FEATURE] MDX-361 IAGen_Fonction_AVA-pro Changement image (#17259)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenFonction_Ava_pro.json
Due: none

fix(api): use snapshot to display assessment result
  api/src/prescription/shared/domain/services/knowledge-state-for-participation-service.js
  api/tests/prescription/shared/integration/domain/services/knowledge-state-for-participation-service_test.js
Due: eslint --fix

:bug: (api): set different values in qrocm proposals input
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYMFA_IND.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenFonction_Ava.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenFonction_Ava_pro.json
Due: none

feat(llm-assistant): bootstrap both bounded contexts and config
  api/package-lock.json
  api/package.json
  api/server.js
  api/src/llm-assistant/dependencies.json
  api/src/llm-assistant/routes.js
  api/src/mcp-admin-server/dependencies.json
  api/src/mcp-admin-server/routes.js
  api/src/shared/config.js
  api/tests/llm-assistant/unit/config_test.js
Due: eslint --fix

feat(mcp-admin-server): HTTP repositories for reference data and organizations
  api/src/mcp-admin-server/infrastructure/repositories/administration-team.repository.js
  api/src/mcp-admin-server/infrastructure/repositories/country.repository.js
  api/src/mcp-admin-server/infrastructure/repositories/organization-learner-type.repository.js
  api/src/mcp-admin-server/infrastructure/repositories/organization.repository.js
Due: eslint --fix

[BUMP] Montée de version pg-boss (#17328)
  api/package-lock.json
  api/package.json
  api/sample.env
  api/src/shared/config.js
  api/src/shared/infrastructure/jobs/JobClient.js
  api/src/shared/infrastructure/repositories/jobs/job-repository.js
  api/tests/shared/unit/infrastructure/jobs/JobClient_test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
