Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

:recycle: api: Remove readSync
  api/tests/certification/course/integration/infrastructure/utils/pdf/certification-attestation-pdf_test.js
Due: eslint --fix

:recycle: api: Get jury level by complementary certification badge id
  api/lib/domain/usecases/save-jury-complementary-certification-course-result.js
  api/lib/infrastructure/repositories/complementary-certification-course-result-repository.js
  api/lib/infrastructure/repositories/complementary-certification-scoring-criteria-repository.js
  api/tests/integration/infrastructure/repositories/complementary-certification-course-result-repository_test.js
Due: eslint --fix

:recycle: api: Replace partnerKey by complementaryCertificationBadgeId
  api/db/database-builder/factory/build-complementary-certification-course-result.js
  api/lib/domain/models/ComplementaryCertificationCourseResult.js
  api/lib/domain/models/ComplementaryCertificationScoringWithoutComplementaryReferential.js
  api/lib/domain/models/PartnerCertificationScoring.js
  api/lib/domain/read-models/ComplementaryCertificationCourseResultForJuryCertification.js
  api/lib/domain/read-models/ComplementaryCertificationCourseResultForJuryCertificationWithExternal.js
  api/lib/domain/usecases/save-jury-complementary-certification-course-result.js
  api/lib/infrastructure/repositories/certification-result-repository.js
  api/lib/infrastructure/repositories/complementary-certification-course-result-repository.js
  api/lib/infrastructure/repositories/complementary-certification-scoring-criteria-repository.js
  api/lib/infrastructure/repositories/jury-certification-repository.js
  api/lib/infrastructure/repositories/jury-certification-summary-repository.js
  api/src/certification/complementary-certification/infrastructure/repositories/complementary-certification-course-repository.js
  api/src/certification/course/infrastructure/repositories/certificate-repository.js
  api/tests/acceptance/application/certification-courses/certification-course-controller_test.js
  api/tests/acceptance/application/complementary-certification-course-results/complementary-certification-course-results-controller_test.js
  api/tests/acceptance/application/session/session-controller-get-jury-certification-summaries_test.js
  api/tests/certification/complementary-certification/integration/infrastucture/repositories/complementary-certification-course-repository_test.js
  api/tests/certification/course/acceptance/application/certification-attestation-route_test.js
  api/tests/certification/course/acceptance/application/sticker.pdf
  api/tests/certification/course/integration/infrastructure/repositories/certificate-repository_test.js
  api/tests/integration/domain/event/handle-complementary-certifications-scoring_test.js
  api/tests/integration/infrastructure/repositories/certification-result-repository_test.js
  api/tests/integration/infrastructure/repositories/complementary-certification-course-result-repository_test.js
  api/tests/integration/infrastructure/repositories/jury-certification-repository_test.js
  api/tests/integration/infrastructure/repositories/jury-certification-summary-repository_test.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-course-result-for-certification-with-external.js
  api/tests/unit/domain/models/ComplementaryCertificationCourseResult_test.js
  api/tests/unit/domain/models/ComplementaryCertificationScoringWithComplementaryReferential_test.js
  api/tests/unit/domain/read-models/ComplementaryCertificationCourseResultForJuryCertificationWithExternal_test.js
  api/tests/unit/domain/usecases/save-jury-complementary-certification-course-result_test.js
Due: eslint --fix

:sparkles: api: Limit juryLevel to id or specific states
  api/lib/application/complementary-certification-course-results/index.js
  api/lib/domain/types/identifiers-type.js
  api/tests/unit/application/complementary-certification-course-results/index_test.js
Due: eslint --fix

:recycle: api: JuryLevel is now either an id or a string
  api/lib/application/complementary-certification-course-results/index.js
  api/tests/integration/application/complementary-certification-course-results/complementary-certification-course-results-controller_test.js
  api/tests/unit/domain/usecases/save-jury-complementary-certification-course-result_test.js
Due: eslint --fix

sr(admin): fix case in training type
  admin/tests/integration/components/trainings/create-or-update-training-form_test.js
  admin/tests/integration/components/trainings/training-details-card_test.js
  admin/tests/unit/controllers/authenticated/trainings/new_test.js
Due: eslint --fix

feat(app): add translation for new training type
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: none

feat(admin): add new training type
  admin/app/models/training.js
Due: eslint --fix

sr(seed): fix case in training type
  api/db/seeds/data/team-contenu/data-builder.js
Due: eslint --fix

feat(api): allow new training type
  api/src/devcomp/application/trainings/index.js
Due: eslint --fix

:sparkles: api: handle cancel certification v3 case
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/tests/unit/domain/models/CertificationAssessmentScoreV3_test.js
Due: eslint --fix

fix(1d): use queryRecord instaed of findRecord for the code of an organization
  1d/app/pods/school/route.js
  1d/mirage/config.js
Due: eslint --fix

fix(api-1d): use code as a query params
  api/src/school/application/school-controller.js
  api/src/school/application/school-route.js
  api/tests/school/unit/application/school-controller_test.js
  api/tests/school/unit/application/school-route_test.js
Due: eslint --fix

feat(orga): update pix ui to use nunito font
  orga/app/components/campaign/list-header.hbs
  orga/app/components/sco-organization-participant/header-actions.hbs
  orga/app/components/sco-organization-participant/manage-authentication-method-modal.hbs
  orga/app/components/sup-organization-participant/header-actions.hbs
  orga/app/components/terms-of-service/page-en.hbs
  orga/app/components/terms-of-service/page-fr.hbs
  orga/app/styles/components/campaign/analysis/recommendations.scss
  orga/app/styles/components/campaign/analysis/tube-recommendation-row.scss
  orga/app/styles/components/campaign/header/archived-banner.scss
  orga/app/styles/components/layout/topbar.scss
  orga/app/styles/components/manage-authentication-method-modal.scss
  orga/app/styles/components/ui/cards.scss
  orga/app/styles/globals/competences.scss
  orga/app/styles/globals/texts.scss
  orga/app/styles/globals/titles.scss
  orga/app/styles/pages/authenticated/campaigns/details/analysis.scss
  orga/app/styles/pages/authenticated/preselect-target-profile.scss
  orga/app/styles/pages/authenticated/sup-organization-participants/import.scss
  orga/app/styles/pages/authenticated/terms-of-service.scss
  orga/app/styles/pages/join-request.scss
  orga/app/styles/pages/login.scss
  orga/app/templates/authenticated/preselect-target-profile.hbs
  orga/app/templates/authenticated/team/list.hbs
  orga/package-lock.json
  orga/package.json
  orga/tests/acceptance/join_test.js
Due: eslint --fix, stylelint --fix

[RELEASE] A minor is being released to 4.70.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

feat(api): copy and adapt Solution and build-solution to devcomp bounded context for QROC
  api/src/devcomp/domain/models/Solution.js
  api/tests/devcomp/tooling/domain-builder/factory/build-solution.js
  api/tests/devcomp/tooling/domain-builder/factory/index.js
  api/tests/devcomp/unit/domain/models/Solution_test.js
  api/tests/devcomp/unit/domain/models/validator/ValidatorQCU_test.js
  api/tests/devcomp/unit/domain/models/validator/ValidatorQROC_test.js
Due: eslint --fix

feat(api): adapt solution-service-qroc to modulix interface
  api/src/devcomp/domain/models/validator/ValidatorQROC.js
  api/src/devcomp/domain/services/solution-service-qroc.js
  api/tests/devcomp/unit/domain/models/validator/ValidatorQROC_test.js
  api/tests/devcomp/unit/domain/services/solution-service-qroc_test.js
Due: eslint --fix

feat(api): add treatments and levenshtein to devcomp bounded context
  api/src/devcomp/domain/services/services-utils.js
  api/src/devcomp/domain/services/solution-service-qroc.js
  api/src/devcomp/domain/services/string-comparison-service.js
  api/src/devcomp/domain/services/validation-treatments.js
  api/tests/devcomp/unit/domain/services/services-utils_test.js
  api/tests/devcomp/unit/domain/services/string-comparison-service_test.js
  api/tests/devcomp/unit/domain/services/validation-treatments_test.js
Due: eslint --fix

feat(api): copy over ValidatorQroc to devcomp bounded context
  api/src/devcomp/domain/models/validator/ValidatorQROC.js
  api/src/devcomp/domain/services/solution-service-qroc.js
  api/tests/devcomp/unit/domain/models/validator/ValidatorQROC_test.js
  api/tests/devcomp/unit/domain/services/solution-service-qroc_test.js
Due: eslint --fix

docs(root): improve contributing styles
  CONTRIBUTING.md
Due: none

Path conditions:
  eslint --fix: any of: *.{js,yml, yaml}
  stylelint --fix: any of: *.scss
