Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

chore(mon-pix): bump stylelint-config to v4
  mon-pix/.stylelintrc.json
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

feat(certif): setup css properties rational order
  certif/app/styles/app.scss
  certif/app/styles/components/add-issue-report-modal.scss
  certif/app/styles/components/add-student-list.scss
  certif/app/styles/components/certif-checkbox.scss
  certif/app/styles/components/certification-candidate-details-modal.scss
  certif/app/styles/components/dropdown.scss
  certif/app/styles/components/ember-cli-notifications-ie-fallback.scss
  certif/app/styles/components/finalize.scss
  certif/app/styles/components/issue-report-modal.scss
  certif/app/styles/components/login-form.scss
  certif/app/styles/components/login-or-register.scss
  certif/app/styles/components/login-session-supervisor-form.scss
  certif/app/styles/components/members-list.scss
  certif/app/styles/components/new-certification-candidate-modal.scss
  certif/app/styles/components/register-form.scss
  certif/app/styles/components/select-referer-modal.scss
  certif/app/styles/components/session-finalization-step-container.scss
  certif/app/styles/components/user-logged-menu.scss
  certif/app/styles/globals/forms.scss
  certif/app/styles/globals/modals.scss
  certif/app/styles/globals/pages.scss
  certif/app/styles/globals/panels.scss
  certif/app/styles/globals/tables.scss
  certif/app/styles/globals/texts.scss
  certif/app/styles/globals/titles.scss
  certif/app/styles/pages/authenticated.scss
  certif/app/styles/pages/join.scss
  certif/app/styles/pages/login-session-supervisor.scss
  certif/app/styles/pages/login.scss
  certif/app/styles/pages/session-supervising-error.scss
  certif/app/styles/pages/session-supervising.scss
  certif/app/styles/pages/terms-of-service.scss
  certif/package-lock.json
  certif/package.json
Due: stylelint --fix

chore(1d): bump stylelint-config to v4
  1d/.stylelintrc.json
  1d/package-lock.json
  1d/package.json
Due: none

sort timeSeriesMetrics to beautify timeSeries Chart
  api/scripts/arborescence-monitoring/add-metrics-to-gist.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.19.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

refactor(api): put const code at the root scope of the module + more explicit name
  api/lib/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user.js
Due: eslint --fix

test(api): normalize and improve test texts
  api/tests/integration/domain/usecases/create-and-reconcile-user-to-organization-learner_test.js
  api/tests/integration/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
Due: eslint --fix

refactor(api): move non-exported functions at the end of the module + reorder exports order
  api/lib/domain/services/user-service.js
  api/lib/domain/usecases/create-and-reconcile-user-to-organization-learner.js
  api/lib/infrastructure/repositories/authentication-method-repository.js
Due: eslint --fix

refactor(api): rename checkIfStudentHasAnAlreadyReconciledAccount
  api/lib/domain/services/user-reconciliation-service.js
  api/lib/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user.js
  api/lib/domain/usecases/reconcile-sco-organization-learner-manually.js
  api/tests/unit/domain/services/user-reconciliation-service_test.js
  api/tests/unit/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
  api/tests/unit/domain/usecases/reconcile-sco-organization-learner-manually_test.js
Due: eslint --fix

refactor(api): improve error messages in user-reconciliation-service
  api/lib/domain/services/user-reconciliation-service.js
  api/tests/integration/domain/usecases/create-and-reconcile-user-to-organization-learner_test.js
  api/tests/integration/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
  api/tests/unit/domain/services/user-reconciliation-service_test.js
Due: eslint --fix

refactor(api): add TODO
  api/lib/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user.js
Due: eslint --fix

test(api): add a test context
  api/tests/integration/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
Due: eslint --fix

feat(api): add transaction in createUserAndReconcileToOrganizationLearnerFromExternalUser
  api/lib/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user.js
  api/lib/infrastructure/repositories/authentication-method-repository.js
  api/lib/infrastructure/repositories/organization-learner-repository.js
Due: eslint --fix

feat(api): update firstName and lastName too when reconciling and updating the samlId
  api/lib/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user.js
  api/tests/integration/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
Due: eslint --fix

test(api): add more assertions
  api/tests/integration/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
Due: eslint --fix

refactor(api): some factoring-out of code
  api/lib/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user.js
Due: eslint --fix

refactor(api): rename findMatchingOrganizationLearnerIdForGivenOrganizationIdAndUser
  api/lib/domain/services/user-reconciliation-service.js
  api/lib/domain/usecases/create-and-reconcile-user-to-organization-learner.js
  api/lib/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user.js
  api/lib/domain/usecases/reconcile-sco-organization-learner-manually.js
  api/tests/unit/domain/services/user-reconciliation-service_test.js
  api/tests/unit/domain/usecases/create-and-reconcile-user-to-organization-learner_test.js
  api/tests/unit/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
  api/tests/unit/domain/usecases/reconcile-sco-organization-learner-manually_test.js
Due: eslint --fix

Switch the repository used for eslint-plugin-knex
  api/package-lock.json
  api/package.json
Due: none
