Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

test(mon-pix): correct tests titles
  mon-pix/tests/integration/components/authentication/login-or-register-oidc_test.js
Due: eslint --fix

refactor(mon-pix): fix wording on login or register form oidc
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: none

feat(pix1d): add warning modal if user has not started the challenge
  1d/app/pods/components/answer-feedback/component.js
  1d/app/pods/components/answer-feedback/template.hbs
  1d/app/pods/components/challenge/challenge-actions/template.hbs
  1d/app/pods/components/challenge/item/component.js
  1d/app/pods/components/challenge/item/template.hbs
  1d/app/pods/components/warning-feedback/template.hbs
  1d/app/styles/app.scss
  1d/app/styles/components/answer.scss
  1d/app/styles/components/challenge-actions.scss
  1d/app/styles/components/mission.scss
  1d/app/styles/components/warning.scss
  1d/app/styles/globals/_buttons.scss
  1d/mirage/config.js
  1d/tests/acceptance/display-answer-modal_test.js
  1d/tests/acceptance/display-warning-modal_test.js
  1d/tests/integration/components/answer_test.js
Due: eslint --fix, stylelint --fix

Remove the version at the top of the changelog
  CHANGELOG.md
Due: none

feat(api): create feature toggle FT_LEVEL7_ENABLED set as false
  api/lib/config.js
  api/lib/infrastructure/validate-environment-variables.js
  api/tests/acceptance/application/feature-toggles/feature-toggle-controller_test.js
Due: eslint --fix

feat(mon-pix): add feature toggle isLevel7Enabled
  mon-pix/app/models/feature-toggle.js
  mon-pix/tests/unit/services/feature-toggles_test.js
Due: eslint --fix

feat(api): add FT_LEVEL7_ENABLED to sample.env
  api/sample.env
Due: none

feat(orga): add confirmation modal when deleting participant(s)
  orga/app/components/organization-participant/deletion-modal.hbs
  orga/app/components/organization-participant/deletion-modal.js
  orga/app/components/organization-participant/list.hbs
  orga/app/components/organization-participant/list.js
  orga/app/styles/app.scss
  orga/app/styles/pages/authenticated/organization-participants/deletion-modal.scss
  orga/app/styles/pages/authenticated/organization-participants/list.scss
  orga/tests/integration/components/organization-participant/list_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix, stylelint --fix

Update test:api:watch to works with es modules
  api/nodemon.json
  api/package.json
Due: none

feat(orga): add success message
  orga/translations/en.json
  orga/translations/fr.json
Due: none

feat(orga): add success toaster
  orga/app/controllers/authenticated/organization-participants/list.js
  orga/tests/unit/controllers/authenticated/organization-participants/list_test.js
Due: eslint --fix

:sparkles: certif: add method showMassImportBanner for non sco and fr
  certif/app/controllers/authenticated.js
  certif/app/templates/authenticated.hbs
  certif/tests/acceptance/session-details-certification-candidates_test.js
  certif/tests/acceptance/session-finalization_test.js
  certif/tests/unit/controllers/authenticated_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

certif: Replace stub with value
  certif/tests/unit/components/no-session-panel_test.js
Due: eslint --fix

feat(orga): add error message
  orga/translations/en.json
  orga/translations/fr.json
Due: none

orga(feat): add error toaster
  orga/app/controllers/authenticated/organization-participants/list.js
  orga/tests/unit/controllers/authenticated/organization-participants/list_test.js
Due: eslint --fix

:wheelchair: mon-pix: reword feedback panel submit button
  mon-pix/app/components/feedback-panel.hbs
  mon-pix/tests/acceptance/challenge-feedback_test.js
  mon-pix/tests/integration/components/feedback-panel_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: eslint --fix

:wheelchair: mon-pix: use the same labels for secondary select label and screen reader
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: none

:wheelchair: mon-pix: use the same text for sr label and placeholder for textareas
  mon-pix/app/components/feedback-panel.hbs
Due: none

:sparkles: api: save session challenges in database when picked for v3 certification
  api/lib/domain/usecases/get-next-challenge-for-certification.js
  api/tests/acceptance/application/assessments/assessment-controller-get-next-challenge-for-certification_spec.js
  api/tests/unit/domain/usecases/get-next-challenge-for-certification_test.js
Due: eslint --fix

:wrench: api: Tests are dependent from execution location (PIX-8663)
  api/tests/integration/domain/services/organization-learners-csv-service_test.js
  api/tests/integration/domain/services/organization-learners-xml-service_test.js
  api/tests/integration/scripts/prod/archive-campaigns_test.js
Due: eslint --fix

Add missing peer dependencies from ember-file-upload
  certif/package-lock.json
  certif/package.json
Due: none

fix(orga): lint translations
  orga/.eslintrc.js
  orga/.prettierignore
  orga/package.json
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix

refactor(api): use ICU format like ember-intl
  api/tests/tooling/i18n/i18n.js
  api/translations/en.json
  api/translations/fr.json
Due: eslint --fix

sr: change ESLint config files extensions to .cjs
  1d/.eslintrc.cjs
  admin/.eslintrc.cjs
  certif/.eslintrc.cjs
  high-level-tests/e2e/.eslintrc.cjs
  mon-pix/.eslintrc.cjs
  mon-pix/config/linter-translation-order.cjs
  orga/.eslintrc.cjs
  orga/config/linter-translation-order.cjs
Due: none

sr: move json translations order config file to root
  .eslintrc.cjs
  .eslintrc.yaml
  1d/.eslintrc.cjs
  admin/.eslintrc.cjs
  admin/config/linter-translation-order.cjs
  api/.depcheckrc
  api/.eslintrc.cjs
  certif/.eslintrc.cjs
  certif/config/linter-translation-order.cjs
  config/linter-translation-order.cjs
  mon-pix/.eslintrc.cjs
  mon-pix/config/linter-translation-order.cjs
  orga/.eslintrc.cjs
  orga/config/linter-translation-order.cjs
  scripts/.eslintrc.yaml
Due: none

sr: clean eslint config to extend root one
  certif/.eslintrc.js
  mon-pix/.eslintrc.js
  orga/.eslintrc.js
Due: eslint --fix

fix: broken links to contact support when account is blocked
  admin/translations/en.json
  admin/translations/fr.json
  certif/translations/en.json
  certif/translations/fr.json
  orga/translations/en.json
  orga/translations/fr.json
Due: none
