Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

doc(pix1d): add adr about Pix1D project tech decisions
  docs/adr/0043-choix-techniques-pix1d.md
Due: none

feat(pix1D): fetch challenge api data
  pix1d/.eslintignore
  pix1d/app/adapters/application.js
  pix1d/app/models/.gitkeep
  pix1d/app/models/challenge.js
  pix1d/app/routes/challenge.js
  pix1d/app/serializers/application.js
  pix1d/app/templates/challenge.hbs
  pix1d/config/environment.js
  pix1d/mirage/config.js
  pix1d/mirage/factories/challenge.js
  pix1d/mirage/scenarios/default.js
  pix1d/mirage/serializers/application.js
  pix1d/package-lock.json
  pix1d/package.json
  pix1d/tests/acceptance/challenge_test.js
Due: eslint --fix

build(pix1d): improve project configuration
  pix1d/.eslintrc.js
  pix1d/.prettierrc.js
  pix1d/.prettierrc.json
  pix1d/.slugignore
  pix1d/.stylelintrc.json
  pix1d/.template-lintrc.js
  pix1d/app/styles/app.css
  pix1d/app/styles/app.scss
  pix1d/app/templates/application.hbs
  pix1d/blueprints/acceptance-test/files/tests/acceptance/__name___test.js
  pix1d/blueprints/adapter-test/files/tests/unit/adapters/__name___test.js
  pix1d/blueprints/component-test/files/tests/integration/components/__name___test.js
  pix1d/blueprints/route-test/files/tests/unit/routes/__name___test.js
  pix1d/ember-cli-build.js
  pix1d/package-lock.json
  pix1d/package.json
  pix1d/servers.conf.erb
Due: eslint --fix, stylelint --fix

feat(pix1d): add first dummy challenge route & remove welcome page
  pix1d/app/router.js
  pix1d/app/routes/.gitkeep
  pix1d/app/routes/challenge.js
  pix1d/app/templates/application.hbs
  pix1d/app/templates/challenge.hbs
  pix1d/package-lock.json
  pix1d/package.json
  pix1d/tests/acceptance/challenge_test.js
Due: eslint --fix

build(pix1d): initialize the new app :tada:
  pix1d/.editorconfig
  pix1d/.ember-cli
  pix1d/.eslintignore
  pix1d/.eslintrc.js
  pix1d/.prettierignore
  pix1d/.prettierrc.js
  pix1d/.template-lintrc.js
  pix1d/.watchmanconfig
  pix1d/README.md
  pix1d/app/app.js
  pix1d/app/components/.gitkeep
  pix1d/app/controllers/.gitkeep
  pix1d/app/helpers/.gitkeep
  pix1d/app/index.html
  pix1d/app/models/.gitkeep
  pix1d/app/router.js
  pix1d/app/routes/.gitkeep
  pix1d/app/styles/app.css
  pix1d/app/templates/application.hbs
  pix1d/config/ember-cli-update.json
  pix1d/config/environment.js
  pix1d/config/optional-features.json
  pix1d/config/targets.js
  pix1d/ember-cli-build.js
  pix1d/package-lock.json
  pix1d/package.json
  pix1d/public/robots.txt
  pix1d/testem.js
  pix1d/tests/helpers/index.js
  pix1d/tests/index.html
  pix1d/tests/integration/.gitkeep
  pix1d/tests/test-helper.js
  pix1d/tests/unit/.gitkeep
Due: eslint --fix

build(pix1d): add pix1d in to circle ci config
  .circleci/config.yml
  pix1d/package.json
Due: eslint --fix

chore(pix1d): switch to pod ember layout
  pix1d/.ember-cli
  pix1d/app/application.hbs
  pix1d/app/controllers/.gitkeep
  pix1d/app/pods/challenge/model.js
  pix1d/app/pods/challenge/route.js
  pix1d/app/pods/challenge/template.hbs
  pix1d/config/environment.js
Due: eslint --fix

feat(api): add featureToggle to allow Pix1d to access to the api
  api/lib/application/challenges/index.js
  api/lib/application/security-pre-handlers.js
  api/lib/application/usecases/checkPix1dEnabled.js
  api/lib/config.js
  api/sample.env
  api/tests/acceptance/application/feature-toggles/feature-toggle-controller_tests.js
  api/tests/integration/application/security-pre-handlers_test.js
  api/tests/unit/application/security-pre-handlers_test.js
  api/tests/unit/application/usecases/checkPix1dEnabled_test.js
Due: eslint --fix

feat(pix1d): use Pix1D specific route
  pix1d/app/adapters/application.js
  pix1d/mirage/config.js
Due: eslint --fix

feat(pix1D): Add home page
  pix1d/app/application.hbs
  pix1d/app/pods/home/controller.js
  pix1d/app/pods/home/route.js
  pix1d/app/pods/home/template.hbs
  pix1d/app/router.js
  pix1d/app/styles/app.scss
  pix1d/public/images/Logo_123_Pix_V2.png
  pix1d/tests/unit/routes/home_test.js
Due: eslint --fix, stylelint --fix

feat(mon-pix): improve accessbility
  mon-pix/app/components/campaign-skill-review-competence-result.hbs
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: none

feat(mon-pix): add reachedStage to competence-result model
  mon-pix/app/models/competence-result.js
Due: eslint --fix

feat(mon-pix): create skill review competence stages result component
  mon-pix/app/components/campaigns/assessment/campaign-skill-review-competence-result.hbs
  mon-pix/app/components/campaigns/assessment/skill-review-competence-stages-result.hbs
  mon-pix/app/components/campaigns/assessment/skill-review-competence-stages-result.js
  mon-pix/app/components/routes/campaigns/assessment/skill-review.hbs
  mon-pix/app/components/routes/campaigns/assessment/skill-review.js
  mon-pix/app/models/competence-result.js
  mon-pix/app/styles/pages/_skill-review.scss
  mon-pix/tests/acceptance/skill-review_test.js
Due: eslint --fix, stylelint --fix

fix(api): use masteryPercentage to calculate reachedStageForCompetence
  api/lib/domain/read-models/participant-results/AssessmentResult.js
  api/lib/domain/read-models/participant-results/CompetenceResult.js
  api/tests/acceptance/application/users/get-user-campaign-assessment-result_test.js
  api/tests/unit/domain/read-models/participant-results/AssessmentResult_test.js
Due: eslint --fix

🌐certif: translate session finalization page
  certif/app/components/session-finalization/complementary-information-step.hbs
  certif/app/components/session-finalization/completed-reports-information-step.hbs
  certif/app/components/session-finalization/uncompleted-reports-information-step.hbs
  certif/app/components/session-finalization/uncompleted-reports-information-step.js
  certif/app/templates/authenticated/sessions/finalize.hbs
  certif/tests/integration/components/session-finalization/complementary-information-step_test.js
  certif/tests/integration/components/session-finalization/completed-reports-information-step_test.js
  certif/tests/integration/components/session-finalization/uncompleted-reports-information-step_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

💄certif: fix message style
  certif/app/styles/components/session-finalization/reports-information-step.scss
Due: stylelint --fix

:memo: Add missing entries in changelog
  CHANGELOG.md
Due: none

fix pix1d missing buildpack
  pix1d/.buildpacks
Due: none

bsr(api): fix lowRAM mode
  api/scripts/data-generation/generate-campaign-with-participants.js
Due: eslint --fix

bsr(api): fix code unicity generate campaign code
  api/scripts/data-generation/generate-campaign-with-participants.js
Due: eslint --fix

fix(script): fix script for generate campaign with participant
  api/scripts/data-generation/generate-campaign-with-participants.js
  api/scripts/prod/compute-participation-results.js
  api/tests/integration/scripts/data-generation/generate-campaign-with-participant_test.js
Due: eslint --fix
