Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

chore(api): fix require violation without codemod
  api/db/database-builder/factory/index.js
  api/lib/domain/events/index.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/jobs/cpf-export/index.js
  api/lib/routes.js
  api/tests/tooling/domain-builder/factory/index.js
Due: eslint --fix

chore(api): fix joi date extension
  api/lib/application/account-recovery/index.js
  api/lib/application/organization-learners/index.js
  api/lib/application/organizations/index.js
  api/lib/application/sco-organization-learners/index.js
  api/lib/application/sup-organization-learners/index.js
  api/lib/domain/models/AdminMember.js
  api/lib/domain/models/AuthenticationMethod.js
  api/lib/domain/models/CertificationAssessment.js
  api/lib/domain/models/CertificationCandidate.js
  api/lib/domain/models/CertificationCenterInvitation.js
  api/lib/domain/models/CertificationCourse.js
  api/lib/domain/models/OrganizationInvitation.js
  api/lib/domain/models/PartnerCertificationScoring.js
  api/lib/domain/models/SCOCertificationCandidate.js
  api/lib/domain/read-models/CampaignParticipationInfo.js
  api/lib/domain/read-models/OrganizationLearnerForAdmin.js
  api/lib/domain/validators/organization-learner-validator.js
  api/lib/domain/validators/organization-places-lot-validator.js
  api/lib/domain/validators/sup-organization-learner-set-validator.js
  api/lib/domain/validators/sup-organization-learner-validator.js
Due: eslint --fix

Add extension codemod
  api/codemods/migrate-cjs-to-esm/transforms/__testfixtures__/add-file-extension-to-import/add-file-extension-to-import-on-local-file.input.js
  api/codemods/migrate-cjs-to-esm/transforms/__testfixtures__/add-file-extension-to-import/add-file-extension-to-import-on-local-file.output.js
  api/codemods/migrate-cjs-to-esm/transforms/__testfixtures__/add-file-extension-to-import/do-not-add-file-extension-to-cjs-file.input.js
  api/codemods/migrate-cjs-to-esm/transforms/__testfixtures__/add-file-extension-to-import/do-not-add-file-extension-to-cjs-file.output.js
  api/codemods/migrate-cjs-to-esm/transforms/__testfixtures__/add-file-extension-to-import/do-not-add-file-extension-to-import-on-library.input.js
  api/codemods/migrate-cjs-to-esm/transforms/__testfixtures__/add-file-extension-to-import/do-not-add-file-extension-to-import-on-library.output.js
  api/codemods/migrate-cjs-to-esm/transforms/add-file-extension-to-import.js
Due: eslint --fix

wip
  api/.eslintrc.yaml
  api/db/knexfile.js
  api/index.js
  api/lib/application/healthcheck/healthcheck-controller.js
  api/lib/application/target-profiles/presenter/pdf/manager/font-manager.js
  api/lib/application/target-profiles/presenter/pdf/manager/template-page-manager.js
  api/lib/config.js
  api/lib/domain/services/mail-service.js
  api/lib/domain/usecases/get-attendance-sheet.js
  api/lib/infrastructure/files/candidates-import/fill-candidates-import-sheet.js
  api/lib/infrastructure/plugins/i18n.js
  api/lib/infrastructure/plugins/sentry.js
  api/lib/infrastructure/utils/lodash-utils.js
  api/lib/infrastructure/utils/pdf/certification-attestation-pdf.js
  api/lib/infrastructure/utils/pdf/supervisor-kit-pdf.js
  api/lib/swaggers.js
  api/package-lock.json
  api/package.json
  api/server.js
  api/translations/index.js
  api/worker.js
Due: eslint --fix

chore(api): fix dotenv config import without codemod
  api/index.js
  api/scripts/_template.js
  api/scripts/add-or-update-certification-centers-dpo-infos.js
  api/scripts/add-or-update-organizations-dpo-infos.js
  api/scripts/add-tags-to-organizations.js
  api/scripts/certification/fill-last-assessment-result-certification-course-table.js
  api/scripts/certification/fill-pix-certification-status-column-in-certification-courses-table.js
  api/scripts/certification/generate-certificate-verification-code.js
  api/scripts/certification/generate-certification-attestations-by-session-ids.js
  api/scripts/certification/generate-certification-test-statistics.js
  api/scripts/certification/launch-auto-jury-for-session.js
  api/scripts/clean-anonymized-users-authentication-methods.js
  api/scripts/compare-pix-with-latest-release.js
  api/scripts/create-or-update-sco-agri-organizations.js
  api/scripts/create-or-update-sco-organizations.js
  api/scripts/create-organizations-with-tags-and-target-profiles.js
  api/scripts/data-generation/target-profiles-for-migrations.js
  api/scripts/database/create-database.js
  api/scripts/database/drop-database.js
  api/scripts/database/pg-boss-migration.js
  api/scripts/fill-in-assessment-method.js
  api/scripts/fill-skill-id-in-user-saved-tutorials.js
  api/scripts/prod/compute-badge-acquisitions.js
  api/scripts/prod/target-profile-migrations/convert-target-profiles-into-new-format.js
  api/scripts/prod/target-profile-migrations/copy-target-profile-skills-into-campaign-skills.js
  api/scripts/refresh-cache.js
  api/scripts/switch-campaign-to-flash.js
  api/scripts/toggle-is-for-absolute-novice-campaign-attribute.js
  api/scripts/update-sco-organizations-with-is-managing-students-to-true.js
  api/scripts/update-sco-organizations-with-province-code-and-external-id.js
  api/server.js
  api/tests/acceptance/database/configuration.js
  api/worker.js
Due: eslint --fix

chore(api): replace dynamic export by a static one
  api/lib/domain/models/index.js
Due: eslint --fix

chore(api): multiple fixs no-undef rule violation in multiple files
  api/lib/application/organizations/organization-controller.js
  api/lib/domain/services/authentication/authentication-session-service.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
  api/lib/domain/services/refresh-token-service.js
  api/lib/infrastructure/bookshelf.js
  api/lib/infrastructure/jobs/JobDependenciesBuilder.js
  api/lib/infrastructure/logger.js
  api/lib/infrastructure/mail-check.js
  api/lib/infrastructure/monitoring-tools.js
  api/lib/infrastructure/plugins/i18n.js
  api/lib/infrastructure/plugins/index.js
  api/lib/infrastructure/plugins/pino.js
  api/lib/infrastructure/plugins/sentry.js
  api/lib/infrastructure/repositories/user-email-repository.js
  api/lib/infrastructure/utils/lodash-utils.js
Due: eslint --fix

[RELEASE] A minor is being released to 3.327.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

chore(api): remove script for pole emploi sendings
  api/scripts/prod/compute-pole-emploi-sendings.js
  api/tests/integration/scripts/prod/compute-pole-emploi-sendings_test.js
Due: eslint --fix

feat(api): fetch badge data in usecase
  api/lib/domain/usecases/send-shared-participation-results-to-pole-emploi.js
  api/tests/unit/domain/usecases/send-shared-participation-results-to-pole-emploi_test.js
Due: eslint --fix

feat(api): add badges to payload for pole emploi
  api/lib/infrastructure/externals/pole-emploi/PoleEmploiPayload.js
  api/tests/unit/infrastructure/externals/pole-emploi/PoleEmploiPayload_test.js
Due: eslint --fix

feat(admin) Create Stage only when all stages is valid
  admin/app/components/target-profiles/stages.hbs
  admin/app/components/target-profiles/stages.js
Due: eslint --fix

feat(admin) remove notification no 0 stage
  admin/app/components/target-profiles/stages.hbs
  admin/app/components/target-profiles/stages.js
  admin/tests/integration/components/target-profiles/stages_test.js
Due: eslint --fix

feat(admin) Add test default message and title
  admin/tests/acceptance/authenticated/target-profiles/target-profile/insights_test.js
Due: eslint --fix

sr(admin): remove counter in TubesSelection common component title
  admin/app/components/common/tubes-selection.hbs
Due: none

feat(admin): add CSS counters for title cards in CreateTargetProfileForm and TrainingTriggersTab pages
  admin/app/styles/components/target-profiles/create-target-profile-form.scss
  admin/app/styles/components/trainings/training-triggers-tab.scss
Due: stylelint --fix

sr(admin): remove titles counters in CreateTargetProfileForm page
  admin/app/components/target-profiles/create-target-profile-form.hbs
Due: none

feat(api): map OIDC errors to an ServiceUnavailableError http error
  api/lib/application/error-manager.js
  api/tests/unit/application/error-manager_test.js
Due: eslint --fix

refactor(mon-pix): remove LinkTo from translations
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: none

feat(api): add errors related to OIDC user info retrieval
  api/lib/domain/errors.js
Due: eslint --fix

feat(api): return 422 instead of 503
  api/lib/domain/services/authentication/oidc-authentication-service.js
  api/tests/unit/domain/services/authentication/oidc-authentication-service_test.js
Due: eslint --fix

feat(mon-pix): improve api error display
  mon-pix/app/routes/error.js
  mon-pix/tests/unit/routes/error_test.js
Due: eslint --fix

feat(mon-pix): add JSONApiError class
  mon-pix/app/errors/json-api-error.js
Due: eslint --fix

feat(api): add specific pole emploi error details as constants
  api/lib/domain/constants.js
Due: eslint --fix

refactor(mon-pix): improve text readability
  mon-pix/app/styles/pages/_error.scss
Due: stylelint --fix

feat(mon-pix): handle oidc missing required fields error
  mon-pix/app/routes/authentication/login-oidc.js
  mon-pix/tests/unit/routes/authentication/login-oidc_test.js
Due: eslint --fix
