Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

refactor(admin): move tubesDetails files into common folder
  admin/app/components/badges/capped-tubes-criterion.hbs
  admin/app/components/common/tubes-details/area.hbs
  admin/app/components/common/tubes-details/competence.hbs
  admin/app/components/common/tubes-details/thematic.hbs
  admin/app/components/common/tubes-details/tube.hbs
  admin/app/components/target-profiles/details.hbs
Due: none

refactor(api): improve code
  api/lib/infrastructure/repositories/user-repository.js
  api/tests/integration/infrastructure/repositories/user-repository_test.js
Due: eslint --fix

lengthen timeout on pdf presenter test
  api/tests/integration/application/target-profile/presenter/pdf/learning-content-pdf-presenter_test.js
Due: eslint --fix

Remove Bookshelf from find method in pole-emploi-sending-repository
  api/lib/infrastructure/repositories/pole-emploi-sending-repository.js
Due: eslint --fix

Remove Bookshelf from create method in pole-emploi-sending-repository
  api/lib/infrastructure/repositories/pole-emploi-sending-repository.js
Due: eslint --fix

:sparkles: certif: translate new session page
  certif/app/controllers/authenticated/sessions/new.js
  certif/app/templates/authenticated/sessions/new.hbs
  certif/tests/acceptance/session-new_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

feat(api): create repository for target-profile-trainings table
  api/lib/infrastructure/repositories/target-profile-training-repository.js
  api/tests/integration/infrastructure/repositories/target-profile-training-repository_test.js
Due: eslint --fix

feat(api): add route to attach target profiles to a training
  api/lib/application/trainings/index.js
  api/lib/application/trainings/training-controller.js
  api/tests/acceptance/application/trainings/training-controller_test.js
  api/tests/unit/application/trainings/index_test.js
  api/tests/unit/application/trainings/training-controller_test.js
Due: eslint --fix

feat(api): create use case to attach target profiles to a training
  api/lib/domain/usecases/attach-target-profiles-to-training.js
  api/lib/domain/usecases/index.js
  api/tests/unit/domain/usecases/attach-target-profiles-to-training_test.js
Due: eslint --fix

feat(api): add unique constraint for target-profile-trainings
  api/db/migrations/20230209172400_create-unique-constrain-for-target-profile-trainings-table.js
Due: eslint --fix

feat(admin): add attach target-profiles to training
  admin/app/controllers/authenticated/trainings/training/target-profiles.js
  admin/app/models/training.js
  admin/app/styles/app.scss
  admin/app/styles/components/trainings/training-target-profiles-tab.scss
  admin/app/styles/globals/nav.scss
  admin/app/templates/authenticated/trainings/training/target-profiles.hbs
  admin/translations/fr.json
Due: eslint --fix, stylelint --fix

test(admin): add acceptance test for target profile attachment
  admin/mirage/config.js
  admin/mirage/handlers/trainings.js
  admin/tests/acceptance/authenticated/trainings/target-profiles_test.js
Due: eslint --fix

:sparkles: certif: add new icon empty session list
  certif/app/components/no-session-panel.hbs
  certif/public/icons/empty-list-session.svg
  certif/tests/acceptance/session-list_test.js
Due: eslint --fix

certif: add acceptance test
  certif/app/routes/authenticated/sessions/new.js
  certif/tests/acceptance/session-list_test.js
Due: eslint --fix

:sparkles: certif: add button import sessions
  certif/app/components/no-session-panel.hbs
  certif/app/components/no-session-panel.js
  certif/app/styles/pages/authenticated/sessions/no-session-panel.scss
  certif/tests/acceptance/session-list_test.js
  certif/tests/integration/components/no-session-panel_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix, stylelint --fix

:fire: certif: Remove orphan images
  certif/public/coming-soon.jpg
  certif/public/icons/icon-close-modal.svg
  certif/public/icons/icon-session-start.svg
  certif/public/icons/session-finalization-edit.svg
  certif/public/icons/session-finalization-send.svg
  certif/public/images/loader-white.svg
Due: none

:recycle: certif: change css for page title
  certif/app/styles/globals/titles.scss
Due: stylelint --fix

(sr)mon-pix: remove error messages on reset register form
  mon-pix/app/components/routes/register-form.js
  mon-pix/tests/unit/components/register-form_test.js
Due: eslint --fix

(fix)mon-pix: display catched api errors when create and reconciliate user by campaign access
  mon-pix/app/components/routes/register-form.hbs
  mon-pix/app/components/routes/register-form.js
  mon-pix/app/utils/errors-messages.js
  mon-pix/tests/integration/components/routes/register-form_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: eslint --fix

(sr)api: add detailed error in create and reconcile organization learner user
  api/lib/domain/usecases/create-and-reconcile-user-to-organization-learner.js
  api/tests/integration/domain/usecases/create-and-reconcile-user-to-organization-learner_test.js
Due: eslint --fix

fix(api): throw error on unique constraint violation not showing data to logs
  api/lib/domain/constants.js
  api/lib/infrastructure/repositories/user-to-create-repository.js
  api/tests/integration/infrastructure/repositories/user-to-create-repository_test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,yml, yaml}
  stylelint --fix: any of: *.scss
