Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat(api): create send file usecase
  api/src/prescription/learner-management/domain/errors.js
  api/src/prescription/learner-management/domain/usecases/import-from-feature/send-organization-learners-file.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-from-feature/send-organization-learners-file_test.js
Due: eslint --fix

feat(api): add static method to build a parser
  api/src/prescription/learner-management/infrastructure/serializers/csv/common-csv-learner-parser.js
  api/tests/prescription/learner-management/unit/infrastructure/serializers/csv/common-csv-learner-parser_test.js
Due: eslint --fix

feat(api): add buildSet on ImportOrgnaizationSet
  api/src/prescription/learner-management/domain/models/ImportOrganizationLearnerSet.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/learner-management/unit/domain/models/ImportOrganizationLearnerSet_test.js
Due: eslint --fix

feat?(api): add get data buffer utils
  api/src/prescription/learner-management/domain/usecases/import-from-feature/save-organization-learners-file.js
  api/src/prescription/learner-management/domain/usecases/import-from-feature/send-organization-learners-file.js
  api/src/prescription/learner-management/domain/usecases/import-from-feature/validate-organization-learners-file.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-csv-format.js
  api/src/prescription/learner-management/domain/usecases/import-sup-organization-learners.js
  api/src/prescription/learner-management/domain/usecases/replace-sup-organization-learner.js
  api/src/prescription/learner-management/infrastructure/utils/bufferize/get-data-buffer.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-from-feature/send-organization-learners-file_test.js
Due: eslint --fix

feat(api): create validate-organization-learners-file usecase
  api/src/prescription/learner-management/domain/errors.js
  api/src/prescription/learner-management/domain/usecases/import-from-feature/validate-organization-learners-file.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-from-feature/validate-organization-learners-file_test.js
Due: eslint --fix

feat(api): add saveOrgaizationLearner usecase
  api/src/prescription/learner-management/domain/usecases/import-from-feature/save-organization-learners-file.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-from-feature/save-organization-learners-file_test.js
Due: eslint --fix

refactor(admin): improve target-profile badge criteria style
  admin/app/components/badges/badge.hbs
  admin/app/components/badges/badge.js
  admin/app/components/badges/capped-tubes-criterion.hbs
  admin/app/styles/components/badges/badge.scss
  admin/tests/acceptance/authenticated/target-profiles/target-profile/insights_test.js
  admin/tests/unit/components/badges/badge_test.js
Due: eslint --fix, stylelint --fix

Create pix1d-dp-di1.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/pix1d-dp-di1.json
Due: none

Update pix1d-dp-di1.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/pix1d-dp-di1.json
Due: none

[RELEASE] A minor is being released to 4.127.0.
  1d/package-lock.json
  1d/package.json
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

:memo: api: script: Update script example
  api/scripts/data-generation/generate-certif-cli.js
Due: eslint --fix

:sparkles: api: default session params for centertype and candidates number
  api/scripts/data-generation/generate-certif-cli.js
Due: eslint --fix

:fire: api: remove inquirer dependency
  api/package-lock.json
  api/package.json
Due: none

:fire: api: script: remove use of inquirer
  api/scripts/data-generation/generate-certif-cli.js
Due: eslint --fix

:sparkles: api: add new ComplementaryCertificationVersioning read-model
  api/src/certification/complementary-certification/domain/read-models/ComplementaryCertificationVersioning.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-versioning.js
  api/tests/tooling/domain-builder/factory/index.js
Due: eslint --fix

:sparkles: api: add new assertion method
  api/src/shared/domain/models/asserts.js
  api/tests/shared/unit/domain/models/asserts_test.js
Due: eslint --fix

:recycle: api: remove repository redirection
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/complementary-certification-repository.js
  api/src/certification/complementary-certification/domain/usecases/index.js
  api/tests/integration/domain/services/certification-candidates-ods-service/certification-candidates-ods-service_test.js
Due: eslint --fix

:sparkles: api: add new ComplementaryCertificationBadgesHistory model
  api/src/certification/complementary-certification/application/api/models/ComplementaryCertificationBadgesHistory.js
Due: eslint --fix

:recycle: api: documentation && new methods to ComplementaryCertificationCourseWithResults
  api/lib/domain/models/ComplementaryCertificationBadgeForAdmin.js
  api/lib/domain/models/ComplementaryCertificationCourseWithResults.js
  api/lib/domain/models/TargetProfileHistoryForAdmin.js
  api/lib/domain/services/certification-badges-service.js
  api/lib/domain/usecases/get-user-certification-eligibility.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/certifiable-badge-acquisition-repository.js
  api/lib/infrastructure/repositories/index.js
  api/lib/infrastructure/serializers/jsonapi/certification-eligibility-serializer.js
  api/src/certification/complementary-certification/application/api/complementary-certification-api.js
  api/src/certification/complementary-certification/domain/models/ComplementaryCertificationTargetProfileHistory.js
  api/src/certification/complementary-certification/domain/usecases/get-complementary-certification-target-profile-history.js
  api/tests/unit/domain/models/ComplementaryCertificationCourseWithResults_test.js
Due: eslint --fix

:sparkles: api: do not return certification eligibility if outdated by more than one version and lower level
  api/lib/domain/usecases/get-user-certification-eligibility.js
  api/src/certification/complementary-certification/infrastructure/repositories/complementary-certification-course-repository.js
  api/src/certification/complementary-certification/infrastructure/repositories/complementary-certification-for-target-profile-attachment-repository.js
  api/src/certification/complementary-certification/infrastructure/repositories/target-profile-history-repository.js
  api/src/certification/complementary-certification/infrastructure/serializers/jsonapi/complementary-certification-serializer.js
  api/tests/certification/complementary-certification/integration/infrastucture/repositories/complementary-certification-for-target-profile-attachment-repository_test.js
  api/tests/certification/complementary-certification/integration/infrastucture/repositories/target-profile-history-repository_test.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-badge-for-admin.js
  api/tests/unit/domain/usecases/get-user-certification-eligibility_test.js
Due: eslint --fix

:sparkles: api: return isAcquiredExpectedLevel instead of isAcquired
  api/lib/domain/usecases/get-user-certification-eligibility.js
  api/lib/infrastructure/serializers/jsonapi/certification-eligibility-serializer.js
  api/tests/acceptance/application/users/users-controller-is-certifiable_test.js
  api/tests/unit/domain/usecases/get-user-certification-eligibility_test.js
Due: eslint --fix

:sparkles: api: add FT check on feature
  api/lib/domain/usecases/get-user-certification-eligibility.js
  api/tests/unit/domain/usecases/get-user-certification-eligibility_test.js
Due: eslint --fix

:sparkles: mon-pix: display outdated message only if outdated and not acquired expected level
  mon-pix/app/components/certification-banners/index.hbs
  mon-pix/app/components/certification-banners/index.js
  mon-pix/tests/integration/components/certification-banners/eligible-complementary-certification-banner_test.js
  mon-pix/tests/integration/components/certification-banners/index_test.js
  mon-pix/tests/integration/components/certification-banners/outdated-complementary-certification-banner_test.js
Due: eslint --fix

feat(mon-pix): allow display inline input
  mon-pix/app/pods/components/module/qrocm/styles.scss
  mon-pix/app/pods/components/module/qrocm/template.hbs
  mon-pix/tests/acceptance/module/retry-qrocm_test.js
  mon-pix/tests/acceptance/module/verify-qrocm_test.js
  mon-pix/tests/integration/components/module/qrocm_test.js
Due: eslint --fix, stylelint --fix

feat(api): update didacticiel module with 1 inline qrocm
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
Due: none

sr(api): replace inline proposal by block
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/qrocm.sample.js
Due: eslint --fix

sr(api): replace qrocm proposal paragraphs by span
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
Due: none

refactor(api): move siecle xml validation into a usecase
  api/src/prescription/learner-management/domain/usecases/validate-siecle-xml-file.js
  api/tests/prescription/learner-management/unit/domain/usecases/validate-siecle-xml-file_test.js
Due: eslint --fix

refactor(api): use validate-siecle-xml-file usecase
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-xml-format.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-xml-format_test.js
Due: eslint --fix

fix?(orga): always show loading message while loading
  orga/app/components/import-banner.gjs
  orga/tests/integration/components/import-banner_test.gjs
Due: none

refactor(api): rename to uploadFileToBucket
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/domain/usecases/upload-siecle-file.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/upload-siecle-file_test.js
Due: eslint --fix

fix(api): change module name
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
Due: none

fix(api): reupdate module name
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
Due: none

fix(api): update duration based on data
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
Due: none

fix(api): re reupdate module name
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
Due: none

feat: add *.json, *.csv to .gitignore to prevent
  .gitignore
Due: none

fix(api): accept new json modules
  api/src/devcomp/infrastructure/datasources/learning-content/.gitignore
Due: none

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
