Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

:sparkles: api: return sessions and cadidates count from usecase
  api/lib/application/certification-centers/certification-center-controller.js
  api/lib/domain/usecases/sessions-mass-import/validate-sessions.js
  api/tests/unit/application/certification-centers/certification-center-controller_test.js
  api/tests/unit/domain/usecases/sessions-mass-import/validate-sessions_test.js
Due: eslint --fix

:sparkles: api: create SessionMassImportReport model
  api/lib/application/certification-centers/certification-center-controller.js
  api/lib/domain/models/SessionMassImportReport.js
  api/lib/domain/usecases/sessions-mass-import/validate-sessions.js
  api/tests/unit/domain/usecases/sessions-mass-import/validate-sessions_test.js
Due: eslint --fix

:lipstick: certif: replace p by ul > li
  certif/app/components/import/step-two-section.hbs
  certif/app/styles/pages/authenticated/sessions/import.scss
Due: stylelint --fix

:recycle: api: return cachedValidatedSessionKey in object
  api/lib/application/certification-centers/certification-center-controller.js
  api/lib/domain/usecases/sessions-mass-import/validate-sessions.js
  api/tests/unit/application/certification-centers/certification-center-controller_test.js
Due: eslint --fix

:lipstick: certif: add icons for count messages
  certif/app/components/import/step-two-section.hbs
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/public/icons/solid-square-chevron-rigth.svg
Due: stylelint --fix

:globe_with_meridians: certif: add translations and pluralization for sessions and candidates count
  certif/app/components/import/step-two-section.hbs
  certif/app/controllers/authenticated/sessions/import.js
  certif/app/templates/authenticated/sessions/import.hbs
  certif/tests/acceptance/session-import_test.js
  certif/tests/integration/components/sessions-import/step-two-section_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

:sparkles: certif: add sessions and candidates count
  certif/app/components/import/step-two-section.hbs
  certif/app/controllers/authenticated/sessions/import.js
  certif/app/templates/authenticated/sessions/import.hbs
  certif/tests/acceptance/session-import_test.js
  certif/tests/integration/components/sessions-import/step-two-section_test.js
  certif/tests/unit/controllers/authenticated/sessions/import_test.js
Due: eslint --fix

:recycle: rename emptySessionsCount to sessionsWithoutCandidatesCount
  api/lib/domain/models/SessionMassImportReport.js
  api/lib/domain/usecases/sessions-mass-import/validate-sessions.js
  api/tests/unit/application/certification-centers/certification-center-controller_test.js
  api/tests/unit/domain/usecases/sessions-mass-import/validate-sessions_test.js
  certif/app/components/import/step-two-section.hbs
  certif/app/controllers/authenticated/sessions/import.js
  certif/app/templates/authenticated/sessions/import.hbs
  certif/tests/acceptance/session-import_test.js
  certif/tests/integration/components/sessions-import/step-two-section_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

fix(app): add margin to training block
  mon-pix/app/styles/pages/_skill-review.scss
Due: stylelint --fix

chore(orga): fix table alignment on sco organization participant
  orga/app/components/sco-organization-participant/list.hbs
  orga/app/styles/pages/authenticated/sco-organization-participants/list.scss
Due: stylelint --fix

chore(orga): fix table alignment on organization participant
  orga/app/components/organization-participant/list.hbs
Due: none

style(orga): remove padding on global participant count
  orga/app/styles/pages/authenticated/organization-participants.scss
Due: stylelint --fix

chore(orga): fix table alignment on sup organization participant
  orga/app/components/sup-organization-participant/list.hbs
  orga/app/styles/pages/authenticated/sup-organization-participants/list.scss
Due: stylelint --fix

:globe_with_meridians: certif: Fix on translations on sessions list page
  certif/app/components/session-summary-list.js
  certif/tests/unit/components/session-summary-list_test.js
  certif/translations/en.json
Due: eslint --fix

fix(api): fix linter
  api/.eslintignore
Due: none

refacto(api): rename tubes to triggerTubes in TrainingTrigger
  api/lib/domain/models/TrainingTrigger.js
  api/lib/domain/models/TrainingTriggerTube.js
  api/lib/infrastructure/repositories/training-trigger-repository.js
  api/lib/infrastructure/serializers/jsonapi/training-trigger-serializer.js
  api/tests/acceptance/application/trainings/training-controller_test.js
  api/tests/integration/infrastructure/repositories/training-trigger-repository_test.js
  api/tests/tooling/domain-builder/factory/build-training-trigger.js
  api/tests/unit/infrastructure/serializers/jsonapi/training-trigger-serializer_test.js
Due: eslint --fix

sr(api): return complete tube in training-trigger creation
  api/lib/domain/usecases/create-or-update-training-trigger.js
  api/lib/infrastructure/repositories/training-trigger-repository.js
  api/tests/acceptance/application/trainings/training-controller_test.js
  api/tests/integration/infrastructure/repositories/training-trigger-repository_test.js
  api/tests/unit/domain/usecases/create-or-update-training-trigger_test.js
Due: eslint --fix

sr(api): remove useless prerequise and goal threshold in Training model
  api/lib/domain/models/Training.js
  api/lib/infrastructure/serializers/jsonapi/training-serializer.js
  api/tests/acceptance/application/trainings/training-controller_test.js
  api/tests/tooling/domain-builder/factory/build-training.js
  api/tests/unit/infrastructure/serializers/jsonapi/training-serializer_test.js
Due: eslint --fix

refacto(api): extract from module exports get method in training-repository
  api/lib/infrastructure/repositories/training-repository.js
Due: eslint --fix

feat(api): add findByTrainingId method in training-trigger-repository
  api/lib/infrastructure/repositories/training-trigger-repository.js
  api/tests/integration/infrastructure/repositories/training-trigger-repository_test.js
Due: eslint --fix

refacto(api): add domainTransaction params in get training-repository method
  api/lib/domain/usecases/create-or-update-training-trigger.js
  api/lib/domain/usecases/get-training.js
  api/lib/domain/usecases/update-training.js
  api/lib/infrastructure/repositories/training-repository.js
  api/tests/integration/infrastructure/repositories/training-repository_test.js
  api/tests/unit/domain/usecases/create-or-update-training-trigger_test.js
  api/tests/unit/domain/usecases/get-training_test.js
  api/tests/unit/domain/usecases/update-training_test.js
Due: eslint --fix

feat(api): add getWithTriggers method in training-repository
  api/lib/domain/models/Training.js
  api/lib/infrastructure/repositories/training-repository.js
  api/tests/integration/infrastructure/repositories/training-repository_test.js
Due: eslint --fix

feat(api): add training serialize for admin
  api/lib/infrastructure/serializers/jsonapi/training-serializer.js
  api/tests/tooling/domain-builder/factory/build-training-trigger-tube.js
  api/tests/tooling/domain-builder/factory/build-training.js
  api/tests/unit/infrastructure/serializers/jsonapi/training-serializer_test.js
Due: eslint --fix
