Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

Can we connect to REDIS ?
  api/servers.conf.erb
Due: none

feat(api): adds accepted answers in last grain
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
Due: none

feat(mon-pix): remove aria-label in language switcher
  mon-pix/app/components/language-switcher.hbs
  mon-pix/tests/acceptance/authentication/login_test.js
  mon-pix/tests/acceptance/campaigns/campaign-landing-page_test.js
  mon-pix/tests/acceptance/fill-in-campaign-code_test.js
  mon-pix/tests/acceptance/inscription_test.js
  mon-pix/tests/integration/components/language-switcher_test.js
Due: eslint --fix

feat(mon-pix): display retry button on ko feedback and enable form on click
  mon-pix/app/pods/components/module/qcu/component.js
  mon-pix/app/pods/components/module/qcu/styles.scss
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/tests/integration/components/module/qcu_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: eslint --fix, stylelint --fix

:recycle: api: Rename estimatedLevel to capacity in flash.getPossibleNextChallenges
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/tests/certification/course/unit/domain/usecases/get-next-challenge-for-v3-certification_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/unit/domain/usecases/simulate-flash-deterministic-assessment-scenario_test.js
Due: eslint --fix

:recycle: api: Rename estimatedLevel to capacity in flash.calculateTotalPixScoreAndScoreByCompetence
  api/lib/infrastructure/repositories/participant-result-repository.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
Due: eslint --fix

:recycle: api: Rename estimatedLevel to capacity in flash.reward
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorDoubleMeasureStrategy.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorSingleMeasureStrategy.js
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorDoubleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorSingleMeasureStrategy_test.js
  api/tests/unit/domain/usecases/simulate-flash-deterministic-assessment-scenario_test.js
Due: eslint --fix

:recycle: api: Rename estimatedLevel to capacity param in flash.getEstimatedLevelAndErrorRate
  api/lib/domain/usecases/correct-answer-then-update-assessment.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorDoubleMeasureStrategy.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorSingleMeasureStrategy.js
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/src/certification/scoring/domain/models/CertificationAssessmentHistory.js
  api/src/certification/scoring/domain/models/CertificationAssessmentScoreV3.js
  api/src/certification/scoring/domain/models/V3CertificationScoring.js
  api/tests/certification/course/unit/domain/usecases/get-next-challenge-for-v3-certification_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorDoubleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorSingleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentHistory_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentScoreV3_test.js
  api/tests/certification/scoring/unit/domain/models/V3CertificationScoring_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/tests/unit/domain/usecases/correct-answer-then-update-assessment_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/unit/domain/usecases/simulate-flash-deterministic-assessment-scenario_test.js
Due: eslint --fix

:recycle: api: Rename getEstimatedLevelAndErrorRateHistory to getCapacityAndErrorRateHistory in flash.js
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/src/certification/scoring/domain/models/CertificationAssessmentHistory.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentHistory_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
Due: eslint --fix

:recycle: api: Rename getEstimatedLevelAndErrorRate to getCapacityAndErrorRate in flash.js
  api/lib/domain/usecases/correct-answer-then-update-assessment.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorDoubleMeasureStrategy.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorSingleMeasureStrategy.js
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/src/certification/scoring/domain/models/CertificationAssessmentScoreV3.js
  api/tests/certification/course/unit/domain/usecases/get-next-challenge-for-v3-certification_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorDoubleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorSingleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentScoreV3_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/tests/unit/domain/usecases/correct-answer-then-update-assessment_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/unit/domain/usecases/simulate-flash-deterministic-assessment-scenario_test.js
Due: eslint --fix

:recycle: api: Rename various constants from estimatedLevel to capacity in flash.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
Due: eslint --fix

:recycle: api: Rename FlashAssessmentAlgorithm.getPossibleNextChallenges param from answersForComputingEstimatedLevel to answersForComputingCapacity
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorDoubleMeasureStrategy.js
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithm.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorDoubleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
Due: eslint --fix

:recycle: api: Rename various constants from estimatedLevel to capacity in CertificationAssessmentScoreV3
  api/src/certification/scoring/domain/models/CertificationAssessmentScoreV3.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentScoreV3_test.js
Due: eslint --fix

:recycle: api: Rename various constants from estimatedLevel to capacity in FlashAssessmentAlgorithm
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithm_test.js
Due: eslint --fix

feat(api): fixes a11y img alt txt on module adresse-mail
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
Due: none

:bug: api: get default number of challenges if no available config
  api/src/certification/course/infrastructure/repositories/v3-certification-course-details-for-administration-repository.js
  api/tests/certification/course/integration/infrastructure/repositories/v3-certification-course-details-for-administration-repository_test.js
Due: eslint --fix

feat(api): fixes a11y img alt txt on module ports-connexion
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
Due: none

feat: modify circleci workflow
  .circleci/config.yml
  .circleci/continue_config.yml
Due: eslint --fix

tentons openresty
  api/.buildpacks
Due: none

docs(adr): add an ADR about communication between bounded contexts
  docs/adr/0055-communication-bounded-contexts.md
Due: none

feat(admin): add TubesViewer component
  admin/app/components/smart-random-simulator/tubes-viewer.hbs
  admin/app/controllers/authenticated/smart-random-simulator/get-next-challenge.js
  admin/app/styles/authenticated/smart-random-simulator/get-next-challenge.scss
  admin/app/templates/authenticated/smart-random-simulator/get-next-challenge.hbs
Due: eslint --fix, stylelint --fix

test(api): fix wrong monkey-patching of DomainTransaction.execute
  api/tests/prescription/campaign-participation/unit/application/campaign-participation-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/learner-participation-controller_test.js
  api/tests/shared/unit/application/assessments/assessment-controller_test.js
  api/tests/shared/unit/domain/usecases/delete-unassociated-badge_test.js
  api/tests/unit/application/account-recovery/account-recovery-controller_test.js
  api/tests/unit/domain/usecases/account-recovery/update-user-for-account-recovery_test.js
  api/tests/unit/domain/usecases/import-certification-candidates-from-candidates-import-sheet_test.js
Due: eslint --fix

🔨 api: sco division certification result csv holds the last certification session joined by a student
  api/src/certification/course/infrastructure/repositories/sco-certification-candidate-repository.js
  api/tests/certification/course/integration/infrastructure/repositories/sco-certification-candidate-repository_test.js
Due: eslint --fix

♻️ api: introduce a unit test context for division certification result
  api/src/certification/course/infrastructure/repositories/sco-certification-candidate-repository.js
  api/tests/certification/course/integration/infrastructure/repositories/sco-certification-candidate-repository_test.js
Due: eslint --fix

:art: use pix ui color
  admin/app/styles/authenticated/certifications/certification/details-v3.scss
  admin/app/styles/components/certification-centers/information.scss
  admin/app/styles/components/certification-issue-report.scss
  admin/app/styles/components/common/tubes-selection.scss
  admin/app/styles/components/confirm-popup.scss
  admin/app/styles/components/target-profiles/badge-form.scss
Due: stylelint --fix

:art: use pix ui color variables
  mon-pix/app/styles/components/_certifications-list.scss
  mon-pix/app/styles/components/_challenge-embed-simulator.scss
  mon-pix/app/styles/components/_challenge-statement.scss
  mon-pix/app/styles/components/_competence-card-mobile.scss
  mon-pix/app/styles/components/_feedback-panel.scss
  mon-pix/app/styles/components/_login-form.scss
  mon-pix/app/styles/components/_new-information.scss
  mon-pix/app/styles/components/_no-certification-panel.scss
  mon-pix/app/styles/components/_panel.scss
  mon-pix/app/styles/components/_pix-toggle.scss
  mon-pix/app/styles/components/_progress-bar.scss
  mon-pix/app/styles/components/_tooltip.scss
  mon-pix/app/styles/globals/_buttons.scss
  mon-pix/app/styles/globals/_text.scss
  mon-pix/app/styles/pages/_fill-in-participant-external-id.scss
  mon-pix/app/styles/pages/_sign-form.scss
  mon-pix/app/styles/pages/_skill-review.scss
  mon-pix/app/styles/pages/_terms-of-service.scss
Due: stylelint --fix

:recycle: disable stylelint rules about hex color
  orga/app/styles/globals/colors.scss
Due: stylelint --fix

:recycle: refactor: use pix ui var instead of direct color value
  orga/app/styles/globals/tables.scss
Due: stylelint --fix

Remove some remaining usage of current-lang in admin and orga
  admin/app/services/url.js
  orga/app/components/auth/login-form.js
Due: eslint --fix

Remove current-lang usage in the API
  api/lib/application/healthcheck/healthcheck-controller.js
  api/src/certification/session/infrastructure/utils/pdf/attendance-sheet-pdf.js
  api/tests/tooling/i18n/i18n_test.js
  api/tests/unit/application/healthcheck/healthcheck-controller_test.js
  api/translations/en.json
  api/translations/fr.json
  api/translations/nl.json
Due: eslint --fix
