Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

fix(mon-pix): replace '$error' with '$pix-error-50'
  mon-pix/app/styles/components/_certification-joiner.scss
  mon-pix/app/styles/components/_result-item.scss
  mon-pix/app/styles/components/_user-certifications-detail-header.scss
  mon-pix/app/styles/pages/_terms-of-service.scss
Due: stylelint --fix

fix(mon-pix): replace '$security-light' with '$pix-security-light'
  mon-pix/app/styles/components/_user-certifications-detail-competence.scss
Due: stylelint --fix

fix(mon-pix): replace 'text-large' with 'pix-body-l'
  mon-pix/app/styles/components/authentication/_oidc-reconciliation.scss
Due: stylelint --fix

fix(mon-pix): replace 'h4' with 'pix-title-xs'
  mon-pix/app/styles/components/authentication/_oidc-reconciliation.scss
Due: stylelint --fix

fix(mon-pix): replace '$white' with '$pix-neutral-0'
  mon-pix/app/styles/pages/_sign-form.scss
Due: stylelint --fix

fix(mon-pix): replace '$yellow-alert-light' with '$pix-warning-5'
  mon-pix/app/styles/components/_certification-starter.scss
Due: stylelint --fix

fix(mon-pix): replace 'subheading' with 'pix-title-xs'
  mon-pix/app/styles/components/authentication/_oidc-reconciliation.scss
Due: stylelint --fix

chore(mon-pix): bump pix-ui to v29.0.0
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

fix(mon-pix): replace '$spacing-*' with '$pix-spacing-*'
  mon-pix/app/styles/components/_badge-card-certifiable.scss
  mon-pix/app/styles/components/_challenge-item.scss
  mon-pix/app/styles/components/_challenge-statement.scss
  mon-pix/app/styles/components/_comparison-window.scss
  mon-pix/app/styles/components/_feedback-panel.scss
  mon-pix/app/styles/components/_footer.scss
  mon-pix/app/styles/components/_navbar-burger-menu.scss
  mon-pix/app/styles/components/_reached-stage.scss
  mon-pix/app/styles/components/_scorecard-details.scss
  mon-pix/app/styles/components/_training-card.scss
  mon-pix/app/styles/components/authentication/_oidc-reconciliation.scss
  mon-pix/app/styles/pages/_challenge.scss
  mon-pix/app/styles/pages/_connection-methods.scss
  mon-pix/app/styles/pages/_fill-in-campaign-code.scss
  mon-pix/app/styles/pages/_fill-in-participant-external-id.scss
  mon-pix/app/styles/pages/_sign-form.scss
  mon-pix/app/styles/pages/_skill-review.scss
Due: stylelint --fix

fix(mon-pix): replace '$environment-light' with '$pix-environment-light'
  mon-pix/app/styles/components/_user-certifications-detail-competence.scss
Due: stylelint --fix

fix(mon-pix): replace 'h2' with 'pix-title-m'
  mon-pix/app/styles/components/authentication/_oidc-reconciliation.scss
Due: stylelint --fix

fix(mon-pix): replace '$information-light' with '$pix-information-light'
  mon-pix/app/styles/components/_user-certifications-detail-competence.scss
Due: stylelint --fix

fix(mon-pix): replace 'pix-text--small' with 'pix-body-s' and 'pix-text--link' with BEM class usage
  mon-pix/app/styles/pages/_fill-in-campaign-code.scss
  mon-pix/app/templates/fill-in-campaign-code.hbs
Due: stylelint --fix

fix(mon-pix): replace '$font-semi-bold' with '$font-medium'
  mon-pix/app/styles/components/_challenge-actions.scss
  mon-pix/app/styles/components/_comparison-window.scss
  mon-pix/app/styles/components/_new-information.scss
  mon-pix/app/styles/components/_tutorial-card.scss
  mon-pix/app/styles/components/_user-certification-hexagon-score.scss
  mon-pix/app/styles/components/dashboard/_content.scss
  mon-pix/app/styles/globals/_text.scss
  mon-pix/app/styles/pages/_assessment-results.scss
  mon-pix/app/styles/pages/_campaign-landing-page.scss
  mon-pix/app/styles/pages/_course-preview.scss
  mon-pix/app/styles/pages/_skill-review.scss
Due: stylelint --fix

sr(api): use new model in training-trigger serializer
  api/tests/unit/infrastructure/serializers/jsonapi/training-trigger-serializer_test.js
Due: eslint --fix

feat(api): create TrainingForAdmin read-model
  api/lib/domain/read-models/TrainingForAdmin.js
  api/tests/tooling/domain-builder/factory/build-training-for-admin.js
Due: eslint --fix

sr(api): use new model in training-trigger-repository
  api/lib/infrastructure/repositories/training-trigger-repository.js
  api/tests/integration/infrastructure/repositories/training-repository_test.js
  api/tests/integration/infrastructure/repositories/training-trigger-repository_test.js
Due: eslint --fix

feat(api): add TrainingTriggerForAdmin read-model
  api/lib/domain/read-models/TrainingTriggerForAdmin.js
  api/tests/tooling/domain-builder/factory/build-training-trigger-for-admin.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/read-models/TrainingTriggerForAdmin_test.js
Due: eslint --fix

sr(api): return new model in create method
  api/lib/infrastructure/repositories/training-repository.js
  api/tests/integration/infrastructure/repositories/training-repository_test.js
Due: eslint --fix

sr(api): return new model in update method
  api/lib/infrastructure/repositories/training-repository.js
  api/tests/integration/infrastructure/repositories/training-repository_test.js
Due: eslint --fix

sr(api): use new builder in serializer test
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/infrastructure/serializers/jsonapi/training-serializer_test.js
Due: eslint --fix

sr(api): rename getWithTriggers method to getWithTriggersForAdmin
  api/lib/domain/usecases/get-training.js
  api/lib/infrastructure/repositories/training-repository.js
  api/tests/integration/infrastructure/repositories/training-repository_test.js
  api/tests/unit/domain/usecases/get-training_test.js
Due: eslint --fix

sr(api): return new model in getWithTriggers method
  api/lib/infrastructure/repositories/training-repository.js
  api/tests/integration/infrastructure/repositories/training-repository_test.js
Due: eslint --fix

feat(api): add reachedStageForCompetence in serializer
  api/lib/infrastructure/serializers/jsonapi/participant-result-serializer.js
  api/tests/unit/infrastructure/serializers/jsonapi/participant-result-serializer_test.js
Due: eslint --fix

feat(api): add reachedStageForCompetence in model
  api/lib/domain/models/user-campaign-results/StageCollection.js
  api/lib/domain/read-models/participant-results/AssessmentResult.js
  api/lib/domain/read-models/participant-results/CompetenceResult.js
  api/tests/unit/domain/models/user-campaign-results/StageCollection_test.js
  api/tests/unit/domain/read-models/participant-results/AssessmentResult_test.js
  api/tests/unit/domain/read-models/participant-results/CompetenceResult_test.js
Due: eslint --fix

feat(api): fix usecase test
  api/tests/acceptance/application/users/get-user-campaign-assessment-result_test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,yml, yaml}
  stylelint --fix: any of: *.scss
