Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

chore(mon-pix): migrate eslint to flat config format
  mon-pix/.eslintignore
  mon-pix/.eslintrc.cjs
  mon-pix/eslint.config.cjs
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

refactor(api): Migrate CpfExportSenderJob
  api/src/certification/session-management/application/jobs/cpf-export-sender-job-controller.js
  api/src/shared/infrastructure/jobs/cpf-export/handlers/send-email.js
  api/src/shared/infrastructure/jobs/cpf-export/index.js
  api/src/shared/infrastructure/jobs/cpf-export/schedule-cpf-jobs.js
  api/tests/certification/session-management/unit/application/jobs/cfp-export-sender-job-controller_test.js
Due: eslint --fix

fix no subscriptions bug for center with all features but no habilitations
  certif/app/components/enrolled-candidates.js
  certif/app/components/new-candidate-modal/index.gjs
  certif/tests/acceptance/session-add-candidate-test.js
Due: eslint --fix

✨ (api): disallow multiple candidate subscription validation in mass import
  api/src/certification/enrolment/domain/services/sessions-import-validation-service.js
  api/src/certification/enrolment/domain/usecases/validate-sessions.js
  api/tests/certification/enrolment/unit/domain/services/sessions-import-validation-service_test.js
  api/tests/certification/enrolment/unit/domain/usecases/validate-sessions_test.js
Due: eslint --fix

handle compatibility at deserialization
  api/src/certification/enrolment/application/session-mass-import-controller.js
  api/src/shared/infrastructure/serializers/csv/csv-serializer.js
  api/tests/shared/unit/infrastructure/serializers/csv/csv-serializer_test.js
Due: eslint --fix

handle compatibilty when validating and creating data from deserialized data
  api/src/certification/enrolment/domain/services/sessions-import-validation-service.js
  api/src/certification/enrolment/domain/usecases/validate-sessions.js
  api/tests/certification/enrolment/unit/domain/services/sessions-import-validation-service_test.js
Due: eslint --fix

♻️ api: throw error when candidat does not exists
  api/src/certification/enrolment/domain/usecases/delete-unlinked-certification-candidate.js
  api/tests/certification/session-management/unit/domain/usecases/delete-unlinked-certification-candidate_test.js
Due: eslint --fix

refactor(api): Migrate CpfExportBuilderJob
  api/src/certification/session-management/application/jobs/cpf-export-builder-job-controller.js
  api/src/certification/session-management/domain/models/CpfExportBuilderJob.js
  api/src/shared/infrastructure/jobs/cpf-export/handlers/create-and-upload.js
  api/src/shared/infrastructure/jobs/cpf-export/index.js
  api/src/shared/infrastructure/jobs/cpf-export/schedule-cpf-jobs.js
  api/tests/certification/session-management/integration/application/.gitkeep
  api/tests/certification/session-management/integration/application/jobs/cfp-export-builder-job-controller_test.js
  api/tests/certification/session-management/integration/application/jobs/export.xml
  api/tests/certification/session-management/unit/application/jobs/cfp-export-builder-job-controller_test.js
Due: eslint --fix

fix (api): pétouille html
  api/src/devcomp/infrastructure/datasources/learning-content/modules/technique-de-tri-avance-sur-tableur.json
Due: none

feat(api): add job id handler parameters
  api/src/shared/infrastructure/jobs/JobQueue.js
  api/src/shared/infrastructure/jobs/monitoring/MonitoredJobHandler.js
Due: eslint --fix

refactor(api): Migrate CpfExportPlannerJob
  api/src/certification/session-management/application/jobs/cpf-export-planner-job-controller.js
  api/src/certification/session-management/infrastructure/repositories/jobs/cpf-export-builder-job-repository.js
  api/src/shared/infrastructure/jobs/cpf-export/handlers/planner.js
  api/src/shared/infrastructure/jobs/cpf-export/index.js
  api/src/shared/infrastructure/jobs/cpf-export/schedule-cpf-jobs.js
  api/tests/certification/session-management/unit/application/jobs/cfp-export-planner-job-controller_test.js
  api/tests/certification/session-management/unit/application/jobs/cfp-export-sender-job-controller_test.js
  api/worker.js
Due: eslint --fix

feat(api): update tabletSupport values order
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module.js
Due: eslint --fix

feat(mon-pix): display small screen modal on modulix details page
  mon-pix/app/components/module/details.gjs
  mon-pix/app/styles/components/module/_details.scss
  mon-pix/tests/acceptance/module/navigate-into-the-module-details-test.js
  mon-pix/tests/acceptance/module/retake_completed_module-test.js
  mon-pix/tests/acceptance/module/visit-module-recap-page-test.js
  mon-pix/tests/integration/components/module/details-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: eslint --fix, stylelint --fix

feat(mon-pix): redesign modal footer for better responsiveness
  mon-pix/app/components/module/details.gjs
  mon-pix/app/styles/components/module/_details.scss
Due: stylelint --fix

refactor(mon-pix): switch from grid to flex in download container
  mon-pix/app/styles/components/module/_download.scss
Due: stylelint --fix

feat(mon-pix): add tabletSupport in modulix preview default module
  mon-pix/app/controllers/module-preview.js
Due: eslint --fix

refactor(mon-pix): share inline-flex behaviour using new ResponsiveUlWideWrap component
  mon-pix/app/components/common/responsive-ul-wide-wrap.gjs
  mon-pix/app/components/module/details.gjs
  mon-pix/app/components/module/element/download.gjs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/common/_responsive-list-wide-wrap.scss
  mon-pix/app/styles/components/module/_details.scss
  mon-pix/app/styles/components/module/_download.scss
Due: stylelint --fix

fix(mon-pix): use pix-ui breakpoint values
  mon-pix/app/breakpoints.js
Due: eslint --fix

:recycle: api: trigger-autojury-on-finalized-sessions deletion
  api/scripts/certification/trigger-autojury-on-finalized-sessions.js
Due: eslint --fix

feat(api): replace SessionFinalizedEvent by processAutoJury usecase
  api/src/certification/session-management/application/finalize-controller.js
  api/tests/certification/session-management/acceptance/application/finalize-route_test.js
  api/tests/certification/session-management/unit/application/finalize-controller_test.js
Due: eslint --fix

refactor(api): use DomainTransaction in repositories used in finalizeSession and processAutoJury
  api/src/certification/session-management/infrastructure/repositories/session-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-assessment-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-issue-report-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-report-repository.js
Due: eslint --fix

feat(api): Add processAutoJury usecase based on the event handler
  api/src/certification/session-management/domain/usecases/process-auto-jury.js
  api/tests/certification/session-management/unit/domain/usecases/process-auto-jury_test.js
Due: eslint --fix

:recycle: api: moved SessionFinalized to Certification read models
  api/lib/domain/events/handle-auto-jury.js
  api/lib/domain/events/index.js
  api/scripts/certification/launch-auto-jury-for-session.js
  api/src/certification/session-management/application/finalize-controller.js
  api/src/certification/session-management/domain/read-models/SessionFinalized.js
  api/src/certification/session-management/domain/usecases/finalize-session.js
  api/tests/certification/session-management/acceptance/application/finalize-route_test.js
  api/tests/certification/session-management/unit/application/finalize-controller_test.js
  api/tests/certification/session-management/unit/domain/usecases/finalize-session_test.js
  api/tests/certification/session-management/unit/domain/usecases/process-auto-jury_test.js
  api/tests/unit/domain/events/event-choreography-finalized-session_test.js
  api/tests/unit/domain/events/handle-auto-jury_test.js
Due: eslint --fix

refactor(api): use getter for isJobEnabled function
  api/src/prescription/learner-management/application/jobs/import-organization-learners-job-controller.js
  api/src/prescription/learner-management/application/jobs/validate-organization-learners-import-file-job-controller.js
  api/src/shared/application/jobs/job-controller.js
  api/tests/prescription/learner-management/unit/application/jobs/import-organization-learners-job-controller_test.js
  api/tests/prescription/learner-management/unit/application/jobs/validate-organization-learners-import-file-job-controller_test.js
  api/worker.js
Due: eslint --fix

feat(api): add teamSize and teamConcurrency getter
  api/src/shared/application/jobs/job-controller.js
Due: eslint --fix

feat(api): use teamConcurrency and teamSize property in JobQueue
  api/src/shared/infrastructure/jobs/JobQueue.js
  api/tests/shared/integration/infrastructure/jobs/JobQueue_test.js
Due: eslint --fix

fix(worker): avoid marking validate import job as failed for business errors
  api/src/prescription/learner-management/domain/usecases/validate-siecle-xml-file.js
  api/tests/prescription/learner-management/unit/domain/usecases/validate-siecle-xml-file_test.js
Due: eslint --fix

feat(api): add retry abstraction for job
  api/lib/infrastructure/repositories/jobs/certification-completed-job-repository.js
  api/lib/infrastructure/repositories/jobs/user-anonymized-event-logging-job-repository.js
  api/src/identity-access-management/infrastructure/repositories/jobs/gar-anonymized-batch-events-logging-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/participation-completed-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/participation-result-calculation-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/participation-shared-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/participation-started-job-repository.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/compute-certificability-job-repository.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/import-organization-learners-job-repository.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/validate-organization-learners-import-file-job-repository.js.js
  api/src/shared/infrastructure/repositories/jobs/job-repository.js
  api/src/shared/infrastructure/repositories/jobs/lcms-refresh-cache-job-repository.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-completed-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-result-calculation-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-shared-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-started-job-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/jobs/job-repository_test.js
Due: eslint --fix

fix(api): remove duplicate extension from file
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/validate-organization-learners-import-file-job-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/validate-organization-learners-import-file-job-repository_test.js
Due: eslint --fix

fix(test): display how to use expireIn prioriry retry with Class name and available attributes
  api/src/shared/infrastructure/repositories/jobs/job-repository.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-completed-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-result-calculation-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-shared-job-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/jobs/job-repository_test.js
Due: eslint --fix

fix(api): fix test
  api/tests/certification/session-management/integration/infrastructure/repositories/jobs/certification-rescoring-by-script-job-repository_test.js
Due: eslint --fix

feat(api): add JobExpireIn ruleset
  api/src/prescription/learner-management/infrastructure/repositories/jobs/import-organization-learners-job-repository.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/validate-organization-learners-import-file-job-repository.js.js
  api/src/shared/infrastructure/repositories/jobs/job-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/validate-organization-learners-import-file-job-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/jobs/job-repository_test.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.201.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

:recycle: (admin) migrate integration tests to gjs
  admin/tests/integration/components/common/tubes-selection-test.gjs
Due: none

:recycle: (admin) migrate integration tests to gjs
  admin/tests/integration/components/routes/authenticated/certification-centers/list-items-test.gjs
  admin/tests/integration/components/routes/authenticated/organizations/list-items-test.gjs
  admin/tests/integration/components/routes/authenticated/sessions/list-items-test.gjs
  admin/tests/integration/components/routes/authenticated/sessions/session-id/informations-test.gjs
  admin/tests/integration/components/routes/authenticated/target-profiles/list-items-test.gjs
  admin/tests/integration/components/routes/authenticated/target-profiles/target-profile/details-test.gjs
  admin/tests/integration/components/routes/authenticated/target-profiles/target-profile/insights-test.gjs
  admin/tests/integration/components/routes/authenticated/to-be-published-sessions/list-items-test.gjs
  admin/tests/integration/components/routes/authenticated/trainings/list-items-test.gjs
  admin/tests/integration/components/routes/authenticated/users/list-items-test.gjs
Due: none

:recycle: (admin) migrate integration tests to gjs
  admin/tests/integration/components/trainings/create-or-update-training-form-test.gjs
  admin/tests/integration/components/trainings/create-training-triggers-test.gjs
  admin/tests/integration/components/trainings/create-training-triggers-test.js
  admin/tests/integration/components/trainings/training-details-card-test.gjs
Due: eslint --fix

:recycle: (admin) migrate integration tests to gjs
  admin/tests/integration/components/sessions/jury-comment-test.gjs
Due: none

:recycle: (admin) migrate integration tests to gjs
  admin/tests/integration/components/organizations/all-tags-test.gjs
  admin/tests/integration/components/organizations/campaigns-section-test.gjs
  admin/tests/integration/components/organizations/children/attach-child-form-test.gjs
  admin/tests/integration/components/organizations/children/list-item-test.gjs
  admin/tests/integration/components/organizations/children/list-test.gjs
  admin/tests/integration/components/organizations/creation-form-test.gjs
  admin/tests/integration/components/organizations/information-section-edit-test.gjs
  admin/tests/integration/components/organizations/information-section-test.gjs
  admin/tests/integration/components/organizations/information-section-view-test.gjs
  admin/tests/integration/components/organizations/invitations-action-test.gjs
  admin/tests/integration/components/organizations/invitations-test.gjs
  admin/tests/integration/components/organizations/list-items-test.gjs
  admin/tests/integration/components/organizations/list-items-test.js
  admin/tests/integration/components/organizations/places-lot-creation-form-test.gjs
  admin/tests/integration/components/organizations/places-test.gjs
  admin/tests/integration/components/organizations/places/capacity-test.gjs
  admin/tests/integration/components/organizations/places/delete-modal-test.gjs
  admin/tests/integration/components/organizations/places/delete-modal-test.js
  admin/tests/integration/components/organizations/places/list-test.gjs
  admin/tests/integration/components/organizations/target-profiles-section-test.gjs
  admin/tests/integration/components/organizations/team-section-test.gjs
Due: eslint --fix

:recycle: (admin) migrate integration tests to gjs
  admin/tests/integration/components/actions-on-users-role-in-organization-test.gjs
  admin/tests/integration/components/confirm-popup-test.gjs
  admin/tests/integration/components/login-form-test.gjs
  admin/tests/integration/components/menu-bar-test.gjs
  admin/tests/integration/components/safe-markdown-to-html-test.gjs
  admin/tests/integration/components/team-actions-section-test.gjs
Due: none

:recycle: (admin) migrate integration tests to gjs
  admin/tests/integration/components/certifications/candidate-edit-modal-test.gjs
Due: none

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
