Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

⚡(mon-pix): trigger tracking when drawer appears
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results-recommendation-engine.gjs
  mon-pix/tests/integration/components/campaigns/assessment/evaluation-results-recommendation-engine-test.gjs
Due: none

♻️ (mon-pix): Fix illustrations on Safari
  mon-pix/app/styles/components/campaigns/assessment/results/recommendation-engine/trainings.scss
Due: stylelint --fix

♻️ (mon-pix): Fix modal feedback on Safari
  mon-pix/app/styles/components/campaigns/assessment/results/recommendation-engine/trainings.scss
Due: stylelint --fix

refactor(api): remove dead code relative to CpfReceipts
  api/src/certification/session-management/domain/models/CpfInfos.js
  api/src/certification/session-management/domain/models/CpfReceipt.js
  api/src/certification/session-management/domain/usecases/index.js
  api/src/certification/session-management/infrastructure/deserializers/xml/cpf-receipt-file-deserializer.js
  api/src/certification/session-management/infrastructure/storage/cpf-receipts-storage.js
  api/tests/certification/session-management/unit/infrastructure/deserializers/xml/cpf-receipt-file-deserializer_test.js
  api/tests/certification/session-management/unit/infrastructure/storage/cpf-receipts-storage_test.js
Due: eslint --fix

:fire: (api): remove dev-convert-joi-to-join-schema script
  api/src/devcomp/scripts/dev-convert-joi-to-json-schema.js
Due: eslint --fix

feat(api): move reward requirements description from quests table to blueprints table
  api/db/migrations/20260703090121_move-column-reward-requirements-description-from-quest-to-blueprints.js
Due: eslint --fix

refactor(api): remove CpfReceipt env var
  api/sample.env
  api/src/shared/config.js
Due: eslint --fix

feat(api): add reward requirements details to quest, manageable by admins
  api/src/quest/application/combined-course-blueprint-route.js
  api/src/quest/domain/models/combined-course-blueprints/value-objects/QuestInput.js
  api/src/quest/domain/models/combined-course-participations/aggregates/CombinedCourseReward.js
  api/src/quest/domain/models/quests/entities/Quest.js
  api/src/quest/infrastructure/repositories/combined-course-repository.js
  api/src/quest/infrastructure/repositories/quest-repository.js
  api/src/quest/infrastructure/serializers/combined-course-blueprint-for-creation-serializer.js
  api/src/quest/infrastructure/serializers/combined-course-serializer.js
  api/tests/quest/acceptance/application/combined-course-blueprint-route_test.js
  api/tests/quest/integration/domain/usecases/find-combined-course-blueprint-by-id_test.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-blueprint-repository_test.js
  api/tests/quest/integration/infrastructure/repositories/quest-repository_test.js
  api/tests/quest/unit/application/combined-course-blueprint-route_test.js
  api/tests/quest/unit/domain/models/QuestInput_test.js
  api/tests/quest/unit/domain/models/Quest_test.js
  api/tests/quest/unit/domain/models/combined-course-participation/CombinedCourseReward_test.js
  api/tests/quest/unit/infrastructure/serializers/combined-course-blueprint-for-creation-serializer_test.js
  api/tests/quest/unit/infrastructure/serializers/combined-course-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-combined-course-details.js
Due: eslint --fix

feat(mon-pix): display description of reward requirements if defined when reward has not been obtained
  mon-pix/app/components/combined-course/attestation.gjs
  mon-pix/app/models/combined-course-reward.js
  mon-pix/tests/integration/components/combined-course/attestation-test.gjs
Due: eslint --fix

feat(admin): make reward requirements description manageable by admins
  admin/app/components/combined-course-blueprints/details.gjs
  admin/app/components/combined-course-blueprints/form.gjs
  admin/app/models/combined-course-blueprint.js
  admin/app/serializers/combined-course-blueprint.js
  admin/tests/acceptance/authenticated/combined-course-blueprints/create-combined-course-blueprint-test.js
  admin/tests/acceptance/authenticated/combined-course-blueprints/update-combined-course-blueprint-test.js
  admin/tests/integration/components/combined-course-blueprints/details-test.gjs
  admin/tests/integration/components/combined-course-blueprints/form-test.gjs
  admin/tests/unit/serializers/combined-course-blueprint-test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

Notes added by 'git notes add'
  066537b0e1af7b21ce3e6b4b58273d313991baf3
Due: none

refactor(api): change code-generator to accessCodeGenerator
  api/src/organizational-entities/domain/usecases/create-organization.js
  api/src/organizational-entities/domain/usecases/create-organizations-with-tags-and-target-profiles.usecase.js
  api/src/organizational-entities/domain/usecases/index.js
  api/src/prescription/campaign/domain/usecases/create-campaign.js
  api/src/prescription/campaign/domain/usecases/create-campaigns.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/quest/domain/usecases/create-combined-course.js
  api/src/quest/domain/usecases/create-combined-courses.js
  api/src/quest/domain/usecases/index.js
  api/src/shared/domain/services/access-code-generator.js
  api/tests/prescription/campaign/integration/domain/usecases/create-campaign_test.js
  api/tests/shared/unit/domain/services/code-generator_test.js
Due: eslint --fix

refactor(api): use new accessCodeGenerator
  api/src/organizational-entities/domain/usecases/create-organization.js
  api/src/organizational-entities/domain/usecases/create-organizations-with-tags-and-target-profiles.usecase.js
  api/src/prescription/campaign/domain/usecases/create-campaign.js
  api/src/prescription/campaign/domain/usecases/create-campaigns.js
  api/src/quest/domain/usecases/create-combined-course.js
  api/src/quest/domain/usecases/create-combined-courses.js
  api/src/shared/domain/services/access-code-generator.js
Due: eslint --fix

refactor(api): add tests got accessCodeGenerator
  api/src/shared/domain/services/access-code-generator.js
  api/tests/shared/unit/domain/services/code-generator_test.js
Due: eslint --fix

wip review do not save in quest
  admin/app/components/combined-course-blueprints/form.gjs
  api/db/database-builder/factory/build-combined-course-blueprint.js
  api/src/quest/application/combined-course-blueprint-route.js
  api/src/quest/domain/models/combined-course-blueprints/entities/CombinedCourseBlueprint.js
  api/src/quest/domain/models/combined-course-blueprints/value-objects/CombinedCourseBlueprintForCreation.js
  api/src/quest/domain/models/combined-course-blueprints/value-objects/CombinedCourseBlueprintForUpdate.js
  api/src/quest/domain/models/combined-course-blueprints/value-objects/QuestInput.js
  api/src/quest/domain/models/combined-course-participations/aggregates/CombinedCourseReward.js
  api/src/quest/domain/models/quests/entities/Quest.js
  api/src/quest/domain/usecases/get-combined-course-by-code.js
  api/src/quest/infrastructure/repositories/combined-course-blueprint-repository.js
  api/src/quest/infrastructure/repositories/combined-course-repository.js
  api/src/quest/infrastructure/repositories/quest-repository.js
  api/src/quest/infrastructure/serializers/admin-combined-course-blueprint-details-serializer.js
  api/src/quest/infrastructure/serializers/combined-course-blueprint-for-creation-serializer.js
  api/tests/quest/integration/domain/usecases/find-combined-course-blueprint-by-id_test.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-blueprint-repository_test.js
  api/tests/quest/integration/infrastructure/repositories/quest-repository_test.js
  api/tests/quest/unit/domain/models/CombinedCourseBlueprintForCreation_test.js
  api/tests/quest/unit/domain/models/CombinedCourseBlueprint_test.js
  api/tests/quest/unit/domain/models/QuestInput_test.js
  api/tests/quest/unit/domain/models/Quest_test.js
  api/tests/quest/unit/domain/models/combined-course-participation/CombinedCourseReward_test.js
  api/tests/quest/unit/infrastructure/serializers/combined-course-blueprint-for-creation-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-combined-course-details.js
Due: eslint --fix

refactor(api): replace micromatch by regex in logger
  api/src/shared/infrastructure/utils/logger.js
Due: eslint --fix

refactor(api): rewrite InMemoryKeyValueStorage without micromatch and node-cache
  api/src/shared/infrastructure/key-value-storages/InMemoryKeyValueStorage.js
  api/tests/shared/unit/infrastructure/key-value-storages/InMemoryKeyValueStorage_test.js
Due: eslint --fix

mob next [ci-skip] [ci skip] [skip ci]
  api/db/seeds/data/team-prescription/build-combined-courses.js
  api/db/seeds/data/team-prescription/fixtures/sco-siecle-combined-course.js
  api/src/quest/domain/models/combined-course-participations/aggregates/CombinedCourseReward.js
  api/src/quest/domain/usecases/get-combined-course-by-code.js
  api/src/quest/infrastructure/serializers/combined-course-serializer.js
  api/tests/quest/unit/infrastructure/serializers/combined-course-serializer_test.js
  mon-pix/app/components/combined-course/attestation.gjs
  mon-pix/app/models/combined-course-reward.js
Due: eslint --fix

feat(api): add module duplication usecase
  api/src/devcomp/domain/usecases/duplicate-module.js
  api/tests/devcomp/unit/domain/usecases/duplicate-module_test.js
Due: eslint --fix

mob next [ci-skip] [ci skip] [skip ci]
  api/db/database-builder/factory/build-combined-course-blueprint.js
  api/tests/quest/integration/domain/usecases/find-combined-course-blueprint-by-id_test.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-blueprint-repository_test.js
  api/tests/tooling/domain-builder/factory/build-combined-course-blueprint.js
Due: eslint --fix

mob next [ci-skip] [ci skip] [skip ci]
  api/db/database-builder/factory/build-combined-course-blueprint.js
  api/src/profile/domain/models/AttestationUserDetail.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-blueprint-repository_test.js
  api/tests/quest/unit/domain/models/combined-course-participation/CombinedCourseReward_test.js
  api/tests/quest/unit/infrastructure/serializers/admin-combined-course-blueprint-details-serializer_test.js
  api/tests/quest/unit/infrastructure/serializers/combined-course-blueprint-for-update-serializer_test.js
  api/tests/quest/unit/infrastructure/serializers/combined-course-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-attestation-user-detail.js
Due: eslint --fix

chore: remove micromatch and node-cache dependencies
  api/package-lock.json
  api/package.json
Due: none

WIP
  api/src/certification/enrolment/infrastructure/candidates-import/fill-candidates-import-sheet.js
  api/src/certification/session-management/infrastructure/serializers/certification-serializer.js
  api/src/certification/shared/infrastructure/repositories/certifiable-badge-acquisition-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-issue-report-repository.js
Due: eslint --fix

:broom: Remove lodash from FlashAssessmentAlgorithmPassageByAllCompetencesRule
  api/src/certification/evaluation/domain/models/FlashAssessmentAlgorithmPassageByAllCompetencesRule.js
Due: eslint --fix

tech(api): fix various tests
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v2_test.js
  api/tests/certification/session-management/unit/application/invigilator-kit-route_test.js
  api/tests/prescription/campaign-participation/unit/domain/usecases/get-user-profile-shared-for-campaign_test.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/organization-learner-feature/unit/application/organization-learner-feature-route_test.js
  api/tests/quest/unit/application/attestation-route_test.js
  api/tests/quest/unit/application/combined-course-route_test.js
  api/tests/school/unit/application/mission-route_test.js
Due: eslint --fix

tech(api): set which properties badge should contain
  api/src/prescription/campaign/domain/read-models/CampaignAssessmentParticipationResultMinimal.js
  api/tests/prescription/campaign/unit/domain/read-models/CampaignAssessmentParticipationResultMinimal_test.js
Due: eslint --fix

tech(api): retrieve all badges and stages by campaignParticipationId
  api/src/prescription/campaign/infrastructure/repositories/campaign-assessment-participation-result-list-repository.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-assessment-participation-result-list-repository_test.js
Due: eslint --fix

feat(api): add reward requirements details to combined course blueprints, manageable by admins
  api/db/database-builder/factory/build-combined-course-blueprint.js
  api/db/seeds/data/team-prescription/build-combined-courses.js
  api/db/seeds/data/team-prescription/fixtures/sco-siecle-combined-course.js
  api/src/quest/application/combined-course-blueprint-route.js
  api/src/quest/domain/models/combined-course-blueprints/entities/CombinedCourseBlueprint.js
  api/src/quest/domain/models/combined-course-blueprints/value-objects/CombinedCourseBlueprintForCreation.js
  api/src/quest/domain/models/combined-course-blueprints/value-objects/CombinedCourseBlueprintForUpdate.js
  api/src/quest/domain/models/combined-course-participations/aggregates/CombinedCourseReward.js
  api/src/quest/domain/usecases/get-combined-course-by-code.js
  api/src/quest/infrastructure/repositories/combined-course-blueprint-repository.js
  api/src/quest/infrastructure/serializers/admin-combined-course-blueprint-details-serializer.js
  api/src/quest/infrastructure/serializers/combined-course-blueprint-for-creation-serializer.js
  api/src/quest/infrastructure/serializers/combined-course-serializer.js
  api/tests/quest/acceptance/application/combined-course-blueprint-route_test.js
  api/tests/quest/integration/domain/usecases/find-combined-course-blueprint-by-id_test.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-blueprint-repository_test.js
  api/tests/quest/unit/application/combined-course-blueprint-route_test.js
  api/tests/quest/unit/domain/models/CombinedCourseBlueprintForCreation_test.js
  api/tests/quest/unit/domain/models/CombinedCourseBlueprint_test.js
  api/tests/quest/unit/domain/models/combined-course-participation/CombinedCourseReward_test.js
  api/tests/quest/unit/infrastructure/serializers/admin-combined-course-blueprint-details-serializer_test.js
  api/tests/quest/unit/infrastructure/serializers/combined-course-blueprint-for-creation-serializer_test.js
  api/tests/quest/unit/infrastructure/serializers/combined-course-blueprint-for-update-serializer_test.js
  api/tests/quest/unit/infrastructure/serializers/combined-course-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-attestation-user-detail.js
  api/tests/tooling/domain-builder/factory/build-combined-course-blueprint.js
  high-level-tests/e2e-playwright/helpers/db.ts
Due: eslint --fix

refactor(api): add checkIfCandidateCanAnswer in AssessmentSheet model
  api/src/certification/evaluation/domain/models/AssessmentSheet.js
  api/src/certification/evaluation/domain/usecases/evaluate-and-save-answer.js
  api/tests/certification/evaluation/unit/domain/models/AssessmentSheet_test.js
Due: eslint --fix

refactor(api): add isEmpty getter in Answer model
  api/src/certification/evaluation/domain/usecases/evaluate-and-save-answer.js
  api/src/evaluation/domain/models/Answer.js
  api/src/evaluation/domain/usecases/save-and-correct-answer-for-campaign.js
  api/src/evaluation/domain/usecases/save-and-correct-answer-for-competence-evaluation.js
  api/src/evaluation/domain/usecases/save-and-correct-answer-for-demo-and-preview.js
  api/tests/evaluation/unit/domain/models/Answer_test.js
Due: eslint --fix

refactor(mon-pix): move template in ChallengeActions component
  mon-pix/app/components/challenge-actions.gjs
Due: none

feat(mon-pix): redirect to certification-ender page when candidate duration is exceeded
  mon-pix/app/components/certifications/certification-ender.gjs
  mon-pix/app/components/challenge/item.gjs
  mon-pix/app/controllers/authenticated/certifications/results.js
  mon-pix/app/models/assessment.js
  mon-pix/app/styles/components/certifications/certification-ender.scss
  mon-pix/app/templates/authenticated/certifications/results.gjs
  mon-pix/tests/acceptance/certification-course-test.js
  mon-pix/tests/integration/components/certifications/certification-ender-test.gjs
  mon-pix/tests/integration/components/challenge/item-test.gjs
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: eslint --fix, stylelint --fix

refactor(api): optimize evaluate-and-save-answer usecase
  api/src/certification/evaluation/domain/usecases/evaluate-and-save-answer.js
  api/tests/certification/evaluation/integration/domain/usecases/evaluate-and-save-answer_test.js
Due: eslint --fix

feat(api): prevent candidate to post answer 24h+ after the beginning of the course
  api/src/certification/evaluation/application/http-error-mapper-configuration.js
  api/src/certification/evaluation/domain/errors.js
  api/src/certification/evaluation/domain/models/AssessmentSheet.js
  api/src/certification/evaluation/domain/usecases/evaluate-and-save-answer.js
  api/src/certification/evaluation/infrastructure/repositories/assessment-sheet-repository.js
  api/src/shared/domain/models/Assessment.js
  api/tests/certification/evaluation/acceptance/answer-route_test.js
  api/tests/certification/evaluation/integration/domain/usecases/evaluate-and-save-answer_test.js
  api/tests/certification/evaluation/integration/infrastructure/repositories/assessment-sheet-repository_test.js
  api/tests/certification/evaluation/unit/application/http-error-mapper-configuration_test.js
  api/tests/certification/evaluation/unit/domain/models/AssessmentSheet_test.js
  api/tests/tooling/domain-builder/factory/certification/evaluation/build-assessment-sheet.js
Due: eslint --fix

review collective
  api/src/certification/evaluation/domain/usecases/evaluate-and-save-answer.js
  api/tests/certification/evaluation/unit/domain/models/AssessmentSheet_test.js
Due: eslint --fix

feat: remove down option
  api/db/migrations/20260609150710_drop_fk_constraint_answer_on_ke.js
Due: eslint --fix

linter
  mon-pix/app/styles/components/certifications/certification-ender.scss
Due: stylelint --fix

refactor(api): rename badly named extractTokenFromAuthChain function
  api/src/identity-access-management/infrastructure/server-authentication.js
  api/src/shared/domain/services/token-service.js
  api/src/shared/infrastructure/execution-context-manager.js
  api/src/shared/infrastructure/utils/request-response-utils.js
  api/tests/identity-access-management/unit/infrastructure/server-authentication.test.js
  api/tests/shared/unit/application/security-pre-handlers_test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
