Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

refactor(junior): migrate Bubble component to gjs format
  junior/app/components/bubble.gjs
  junior/app/components/bubble/integration-test.js
  junior/app/components/bubble/template.hbs
  junior/tests/integration/bubble_test.gjs
Due: eslint --fix

refactor(junior): migrate issue component to gjs format
  junior/app/components/issue.gjs
  junior/app/components/issue/component.js
  junior/app/components/issue/template.hbs
  junior/tests/integration/issue_test.gjs
Due: eslint --fix

refactor(junior): migrate robot-dialog to gjs component
  junior/app/components/robot-dialog.gjs
  junior/app/components/robot-dialog/component.js
  junior/app/components/robot-dialog/integration-test.js
  junior/app/components/robot-dialog/template.hbs
  junior/tests/integration/robot-dialog_test.gjs
Due: eslint --fix

refactor(junior): migrate markdownToHtml to gjs component
  junior/app/components/markdown-to-html.gjs
  junior/app/components/markdown-to-html/template.hbs
Due: none

refactor(junior): add dependencies for gjs components
  junior/.eslintrc.cjs
  junior/.prettierrc.json
  junior/.template-lintrc.js
  junior/ember-cli-build.js
  junior/package-lock.json
  junior/package.json
  junior/testem.js
Due: eslint --fix

:bug: api: fix variation percent use in challenge selection
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
Due: eslint --fix

feat(api): Add refresh token getters in refresh-token-service
  api/src/identity-access-management/domain/services/refresh-token-service.js
Due: eslint --fix

feat(api): Add integration test for refresh-token-service
  api/src/identity-access-management/domain/services/refresh-token-service.js
  api/tests/identity-access-management/integration/domain/services/refresh-token-service.test.js
Due: eslint --fix

feat(api): Add flushAll in temporary storages
  api/src/shared/infrastructure/temporary-storage/InMemoryTemporaryStorage.js
  api/src/shared/infrastructure/temporary-storage/RedisTemporaryStorage.js
  api/src/shared/infrastructure/temporary-storage/TemporaryStorage.js
Due: eslint --fix

test(api): add createRefreshTokenFromUserId in anonymize-user.usecase.test.js
  api/tests/identity-access-management/integration/domain/usecases/anonymize-user.usecase.test.js
Due: eslint --fix

feat(api): delete refresh-token not necessary unit tests
  api/tests/identity-access-management/unit/domain/services/refresh-token-service_test.js
Due: eslint --fix

refactor(api): dont access refresh token storage in other tests
  api/tests/identity-access-management/integration/domain/usecases/anonymize-user.usecase.test.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.193.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

♻️ certif: use new spacing vars
  certif/app/styles/components/auth/toggable-login-form.scss
  certif/app/styles/components/dropdown.scss
  certif/app/styles/components/login-form.scss
  certif/app/styles/components/login-or-register.scss
  certif/app/styles/components/login-session-supervisor/index.scss
  certif/app/styles/components/members-list-item.scss
  certif/app/styles/components/register-form.scss
  certif/app/styles/components/session-supervising/candidate-in-list.scss
  certif/app/styles/components/team/invitations-list-item.scss
  certif/app/styles/components/user-logged-menu.scss
  certif/app/styles/globals/forms.scss
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/app/styles/pages/authenticated/sessions/list-items.scss
  certif/app/styles/pages/authenticated/sessions/no-session-panel.scss
  certif/app/styles/pages/authenticated/team.scss
  certif/app/styles/pages/authenticated/team/invite.scss
  certif/app/styles/pages/terms-of-service.scss
Due: stylelint --fix

♻️ certif: use new color vars
  certif/app/styles/components/dropdown.scss
Due: stylelint --fix

feat(mon-pix): review dashboard new information panel
  mon-pix/app/components/new-information.hbs
  mon-pix/app/styles/components/_new-information.scss
  mon-pix/app/styles/components/dashboard/_content.scss
Due: stylelint --fix

fix(mon-pix): avoid sass conflict with recent css
  mon-pix/app/styles/components/dashboard/_content.scss
Due: stylelint --fix

feat(mon-pix): set dashboard links to pix ui component
  mon-pix/app/components/dashboard/section.hbs
  mon-pix/app/styles/components/dashboard/_content.scss
Due: stylelint --fix

fix(api): increase test timeout to swagger.json endpoint
  api/tests/shared/acceptance/application/swagger_test.js
Due: eslint --fix

refactor(api): remove useless code in server test creation
  api/tests/tooling/server/hapi-server-with-test-oidc-provider.js
Due: eslint --fix

fix(api): increase test timeout to db truncate all tables tests
  api/tests/integration/infrastructure/knex-database-connection_test.js
Due: eslint --fix

refactor(api): move validators to evaluation scope
  api/src/evaluation/domain/models/Validator.js
  api/src/evaluation/domain/models/ValidatorAlwaysOK.js
  api/src/evaluation/domain/models/ValidatorQCM.js
  api/src/evaluation/domain/models/ValidatorQCU.js
  api/src/evaluation/domain/models/ValidatorQROC.js
  api/src/evaluation/domain/models/ValidatorQROCMDep.js
  api/src/evaluation/domain/models/ValidatorQROCMInd.js
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/domain/models/Challenge.js
  api/src/shared/domain/models/index.js
  api/tests/evaluation/unit/domain/models/ValidatorQCM_test.js
  api/tests/evaluation/unit/domain/models/ValidatorQCU_test.js
  api/tests/evaluation/unit/domain/models/ValidatorQROCMDep_test.js
  api/tests/evaluation/unit/domain/models/ValidatorQROCMInd_test.js
  api/tests/evaluation/unit/domain/models/ValidatorQROC_test.js
  api/tests/evaluation/unit/domain/models/Validator_test.js
  api/tests/school/integration/domain/services/correct-answer_test.js
  api/tests/school/integration/domain/usecases/correct-preview-answer_test.js
  api/tests/school/integration/domain/usecases/handle-activity-answer_test.js
  api/tests/shared/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/tooling/domain-builder/factory/build-challenge.js
  api/tests/tooling/domain-builder/factory/build-validator.js
  api/tests/unit/domain/models/Challenge_test.js
Due: eslint --fix

refactor(api): move csv serializer to src/shared
  api/lib/application/organizations/organization-controller.js
  api/src/certification/enrolment/application/session-mass-import-controller.js
  api/src/prescription/campaign/application/campaign-adminstration-controller.js
  api/src/prescription/campaign/domain/services/campaign-csv-export-service.js
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-assessment-results-to-stream.js
  api/src/prescription/campaign/infrastructure/exports/campaigns/campaign-profiles-collection-result-line.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-profiles-collection-export.js
  api/src/prescription/learner-management/domain/usecases/get-organization-learners-csv-template.js
  api/src/shared/infrastructure/serializers/csv/csv-serializer.js
  api/tests/shared/unit/infrastructure/serializers/csv/csv-serializer_test.js
Due: eslint --fix

refactor(api): move csv helper to src/shared
  api/lib/infrastructure/serializers/csv/csv-serializer.js
  api/scripts/update-audit-api-csv-file.js
  api/src/shared/infrastructure/helpers/csv.js
  api/tests/shared/unit/infrastructure/helpers/csv.js
  api/tests/unit/infrastructure/helpers/files/organizations-empty-file.csv
  api/tests/unit/infrastructure/helpers/files/organizations-with-tags-and-target-profiles-test.csv
  api/tests/unit/infrastructure/helpers/files/withHeader-test.csv
Due: eslint --fix

feat(junior): change design of mission card + migrate to gjs component
  junior/app/components/mission-card/completed-mission-card.gjs
  junior/app/components/mission-card/completed-mission/template.hbs
  junior/app/components/mission-card/incomplete-mission/template.hbs
  junior/app/components/mission-card/mission-card-background.gjs
  junior/app/components/mission-card/mission-card-completed-background.gjs
  junior/app/components/mission-card/mission-card.gjs
  junior/app/components/mission-card/template.hbs
  junior/app/styles/components/mission-card/card.scss
  junior/app/styles/globals/_colors.scss
  junior/app/templates/assessment/results.hbs
  junior/app/templates/identified/missions/list.hbs
  junior/app/templates/identified/missions/mission.hbs
  junior/public/images/icons/mission-card/img-area-1.svg
  junior/public/images/icons/mission-card/img-area-2.svg
  junior/public/images/icons/mission-card/img-area-3.svg
  junior/public/images/icons/mission-card/img-area-4.svg
  junior/public/images/icons/mission-card/img-area-5.svg
  junior/public/images/mission/icon/area-code-1.svg
  junior/public/images/mission/icon/area-code-2.svg
  junior/public/images/mission/icon/area-code-3.svg
  junior/public/images/mission/icon/area-code-4.svg
  junior/public/images/mission/icon/finished-icon.svg
  junior/tests/acceptance/display-missions-list-test.js
  junior/translations/fr.json
Due: eslint --fix, stylelint --fix

feat(junior): change design of mission card + migrate to gjs component
  junior/package-lock.json
  junior/package.json
Due: none

fix(api): update updatedAt and enabling organizationLearner
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participant-repository.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participant-repository_test.js
Due: eslint --fix

refactor(api): remove useless OrganizationNotFound meta
  api/src/organizational-entities/domain/usecases/update-organizations-in-batch.usecase.js
Due: eslint --fix

feat(admin): new generic organization-not-found-error with organizationId
  admin/app/components/administration/organization-tags-import.js
  admin/app/services/error-response-handler.js
  admin/tests/unit/services/error-response-handler-test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

fix(api): copy target profile category
  api/src/shared/domain/models/TargetProfile.js
  api/tests/integration/domain/usecases/copy-target-profile_test.js
Due: eslint --fix

refactor(mon-pix): use pix-ui css spacing variables
  mon-pix/app/styles/components/_assessment-banner.scss
  mon-pix/app/styles/components/_badge-card-certifiable.scss
  mon-pix/app/styles/components/_badge-card.scss
  mon-pix/app/styles/components/_challenge-actions.scss
  mon-pix/app/styles/components/_challenge-embed-simulator.scss
  mon-pix/app/styles/components/_challenge-item.scss
  mon-pix/app/styles/components/_challenge-statement.scss
  mon-pix/app/styles/components/_checkpoint.scss
  mon-pix/app/styles/components/_comparison-window.scss
  mon-pix/app/styles/components/_congratulations-certification-banner.scss
  mon-pix/app/styles/components/_feedback-panel-v3.scss
  mon-pix/app/styles/components/_feedback-panel.scss
  mon-pix/app/styles/components/_footer.scss
  mon-pix/app/styles/components/_navbar-burger-menu.scss
  mon-pix/app/styles/components/_qcm-proposals.scss
  mon-pix/app/styles/components/_qrocm-solution-panel.scss
  mon-pix/app/styles/components/_reached-stage.scss
  mon-pix/app/styles/components/_reset-campaign-participation-modal.scss
  mon-pix/app/styles/components/_scorecard-details.scss
  mon-pix/app/styles/components/_training-card.scss
  mon-pix/app/styles/components/_user-certifications-detail-competence.scss
  mon-pix/app/styles/components/authentication/_oidc-reconciliation.scss
  mon-pix/app/styles/components/campaigns/assessment/skill-review/share-badge-icons.scss
  mon-pix/app/styles/pages/_campaign-landing-page.scss
  mon-pix/app/styles/pages/_challenge.scss
  mon-pix/app/styles/pages/_connection-methods.scss
  mon-pix/app/styles/pages/_fill-in-campaign-code.scss
  mon-pix/app/styles/pages/_fill-in-participant-external-id.scss
  mon-pix/app/styles/pages/_inscription.scss
  mon-pix/app/styles/pages/_join-restricted-campaign.scss
  mon-pix/app/styles/pages/_language.scss
  mon-pix/app/styles/pages/_sign-form.scss
  mon-pix/app/styles/pages/_skill-review.scss
  mon-pix/app/styles/pages/_user-trainings.scss
  mon-pix/app/styles/pages/_user-tutorials.scss
Due: stylelint --fix

fix(mon-pix): manual colors review
  mon-pix/app/styles/components/_action-chip.scss
  mon-pix/app/styles/components/_certification-joiner.scss
  mon-pix/app/styles/components/_certification-starter.scss
  mon-pix/app/styles/components/_choice-chip.scss
  mon-pix/app/styles/components/_circle-chart.scss
  mon-pix/app/styles/components/_competence-card-default.scss
  mon-pix/app/styles/components/_competence-card-mobile.scss
  mon-pix/app/styles/components/_feedback-panel.scss
  mon-pix/app/styles/components/_footer.scss
  mon-pix/app/styles/components/_form-textfield.scss
  mon-pix/app/styles/components/_reached-stage.scss
  mon-pix/app/styles/components/_scorecard-details.scss
  mon-pix/app/styles/components/_tutorial-card.scss
  mon-pix/app/styles/components/_tutorial-panel.scss
  mon-pix/app/styles/components/_user-account.scss
  mon-pix/app/styles/components/campaign-participation-overview/_card.scss
  mon-pix/app/styles/components/dashboard/_content.scss
  mon-pix/app/styles/globals/_buttons.scss
  mon-pix/app/styles/globals/_inputs.scss
  mon-pix/app/styles/pages/_connection-methods.scss
  mon-pix/app/styles/pages/_fill-in-participant-external-id.scss
  mon-pix/app/styles/pages/_join-restricted-campaign.scss
  mon-pix/app/styles/pages/_personal-information.scss
Due: stylelint --fix

fix(mon-pix): use some design tokens on devcomp pages
  mon-pix/app/styles/components/_choice-chip.scss
  mon-pix/app/styles/pages/_user-trainings.scss
Due: stylelint --fix

fix(mon-pix): remove background transitions on buttons hover
  mon-pix/app/styles/globals/_buttons.scss
Due: stylelint --fix

fix(mon-pix): a11y color contrast issues
  mon-pix/app/styles/components/_scorecard-details.scss
  mon-pix/app/styles/globals/_buttons.scss
Due: stylelint --fix

feat(api): load webComponent config when embedUrl ends with .json
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/tests/shared/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/tooling/domain-builder/factory/build-challenge.js
  api/tests/tooling/domain-builder/factory/index.js
Due: eslint --fix

feat(api): add challenge.hasEmbedWebComponentConfig method
  api/src/shared/domain/models/Challenge.js
  api/tests/unit/domain/models/Challenge_test.js
Due: eslint --fix
