Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

chore: add missing api tag, so route can be listed in swagger.json
  api/lib/application/campaigns/index.js
  api/lib/application/certification-center-invitations/index.js
  api/lib/application/memberships/index.js
Due: eslint --fix

chore: add a script to ease the update of the audit googlesheet
  api/scripts/update-audit-api-csv-file.js
  api/tests/unit/scripts/update-audit-api-csv-file_test.js
Due: eslint --fix

feat(api): add a script to generate Prescription's API documentation from jsdoc
  api/package-lock.json
  api/package.json
  api/scripts/generate-api-documentation.js
  api/src/prescription/API.md
  api/src/prescription/campaign/application/api/campaigns-api.js
  api/src/prescription/target-profile/application/api/target-profile-api.js
Due: eslint --fix

refactor(api): move csv export for profile collection into its bounded context
  api/lib/application/campaigns/campaign-controller.js
  api/lib/application/campaigns/index.js
  api/lib/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/campaign/application/campaign-detail-controller.js
  api/src/prescription/campaign/application/campaign-detail-route.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-profiles-collection-export.js
  api/tests/acceptance/application/campaigns/campaign-controller_test.js
  api/tests/integration/application/campaigns/index_test.js
  api/tests/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-detail-controller_test.js
  api/tests/prescription/campaign/integration/application/campaign-detail-route_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/prescription/campaign/unit/application/campaign-detail-controller_test.js
  api/tests/prescription/campaign/unit/application/campaign-detail-route_test.js
  api/tests/prescription/campaign/unit/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream_test.js
  api/tests/unit/application/campaign/campaign-controller_test.js
  api/tests/unit/application/campaign/index_test.js
  api/tests/unit/infrastructure/serializers/csv/campaign-profile-collection-export_test.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.80.0.
  1d/package-lock.json
  1d/package.json
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

fix(mon-pix): fix css on language switcher on my account page
  mon-pix/app/styles/pages/_language.scss
  mon-pix/app/templates/authenticated/user-account/language.hbs
Due: stylelint --fix

fix(mon-pix): add a container around language switcher to fix it on campaign landing page
  mon-pix/app/templates/campaigns/campaign-landing-page.hbs
Due: none

fix(certif): add a container around language switcher to fix it on login or register page
  certif/app/components/auth/login-or-register.hbs
Due: none

feat(api): add to _toQROCMForAnswerVerificationDomain in ModuleRepository
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
Due: eslint --fix

feat(api): copy qrocm-ind validation logic from lib to devcomp bc
  api/src/devcomp/domain/models/validator/ValidatorQROCMInd.js
  api/src/devcomp/domain/services/solution-service-qrocm-ind.js
  api/tests/devcomp/unit/domain/models/validator/ValidatorQROCMInd_test.js
  api/tests/devcomp/unit/domain/services/solution-service-qrocm-ind_test.js
Due: eslint --fix

refactor(mon-pix) into correction-responses replace `solutionId` by `solution`
  mon-pix/app/pods/correction-response/model.js
  mon-pix/tests/acceptance/module/verify-qcu_test.js
  mon-pix/tests/integration/components/module/qcu_test.js
  mon-pix/tests/unit/models/modules/correction-response_test.js
Due: eslint --fix

refactor(api) into correction-responses replace `solutionId` and `solutionValue` by `solution`
  api/src/devcomp/domain/models/QcuCorrectionResponse.js
  api/src/devcomp/domain/models/QrocmCorrectionResponse.js
  api/src/devcomp/domain/models/element/QCU-for-answer-verification.js
  api/src/devcomp/domain/models/element/QROCM-for-answer-verification.js
  api/src/devcomp/infrastructure/serializers/jsonapi/correction-response-serializer.js
  api/src/devcomp/infrastructure/serializers/jsonapi/element-answer-serializer.js
  api/tests/devcomp/acceptance/application/modules/controller-validateAnswer_test.js
  api/tests/devcomp/unit/domain/models/QcuCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/QrocmCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/element/QCU-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QROCM-for-answer-verification_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/correction-response-serializer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/element-answer-serializer_test.js
Due: eslint --fix

feat(api): add QROCMForAnswerVerification domain model
  api/src/devcomp/domain/models/element/QROCM-for-answer-verification.js
  api/tests/devcomp/unit/domain/models/element/QROCM-for-answer-verification_test.js
Due: eslint --fix

feat(api): add QrocmSolution domain model
  api/src/devcomp/domain/models/QrocmSolutions.js
  api/tests/devcomp/unit/domain/models/QrocmSolutions_test.js
Due: eslint --fix

fix(api) add correct feedbacks for qrocm
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Due: none

refactor(api) internalize elements' type
  api/src/devcomp/domain/models/block/BlockInput.js
  api/src/devcomp/domain/models/block/BlockSelect.js
  api/src/devcomp/domain/models/block/BlockText.js
  api/src/devcomp/domain/models/element/Element.js
  api/src/devcomp/domain/models/element/Image.js
  api/src/devcomp/domain/models/element/QCU.js
  api/src/devcomp/domain/models/element/QROCM.js
  api/src/devcomp/domain/models/element/Text.js
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
  api/tests/devcomp/unit/domain/models/block/BlockInput_test.js
  api/tests/devcomp/unit/domain/models/block/BlockSelect_test.js
  api/tests/devcomp/unit/domain/models/block/BlockText_test.js
  api/tests/devcomp/unit/domain/models/element/Image_test.js
  api/tests/devcomp/unit/domain/models/element/QCU-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QCU_test.js
  api/tests/devcomp/unit/domain/models/element/QROCM_test.js
  api/tests/devcomp/unit/domain/models/element/Text_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
Due: eslint --fix

feat(api): manage qrocm into element-answer-serializer
  api/src/devcomp/infrastructure/serializers/jsonapi/element-answer-serializer.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/element-answer-serializer_test.js
Due: eslint --fix

feat(mon-pix) allow QROCM answer verification
  mon-pix/app/pods/components/module/qrocm/component.js
  mon-pix/app/pods/components/module/qrocm/styles.scss
  mon-pix/app/pods/components/module/qrocm/template.hbs
  mon-pix/tests/acceptance/module/verify-qrocm_test.js
  mon-pix/tests/integration/components/module/qrocm_test.js
Due: eslint --fix, stylelint --fix

feat(mon-pix) allow QROCM answer verification
  mon-pix/app/pods/components/module/qrocm/component.js
  mon-pix/tests/acceptance/module/verify-qrocm_test.js
Due: eslint --fix

feat(mon-pix) display required message if QROCM is submitted without answer
  mon-pix/app/pods/components/module/qrocm/component.js
  mon-pix/app/pods/components/module/qrocm/template.hbs
  mon-pix/tests/integration/components/module/qrocm_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: eslint --fix

fix(mon-pix) fix grain width
  mon-pix/app/pods/components/module/grain/style.scss
Due: stylelint --fix

feat(api): add QrocmCorrectionResponse domain model
  api/src/devcomp/domain/models/QrocmCorrectionResponse.js
  api/tests/devcomp/unit/domain/models/QrocmCorrectionResponse_test.js
Due: eslint --fix

fix(api): remove useless QCU validation logic from devcomp bc
  api/src/devcomp/domain/models/validator/ValidatorQROC.js
  api/src/devcomp/domain/services/solution-service-qroc.js
  api/tests/devcomp/unit/domain/models/validator/ValidatorQROC_test.js
  api/tests/devcomp/unit/domain/services/solution-service-qroc_test.js
Due: eslint --fix
