Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

♻️ (mon-pix): use component parameters to invalid the session id input
  mon-pix/app/components/certification-joiner.hbs
  mon-pix/app/components/certification-joiner.js
  mon-pix/app/styles/components/_certification-joiner.scss
Due: eslint --fix, stylelint --fix

[RELEASE] A minor is being released to 4.203.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

refactor(mon-pix): WIP try to create a dumb grain component
  mon-pix/app/components/module/grain.gjs
  mon-pix/app/components/module/grain/dumb-grain.gjs
  mon-pix/app/components/module/passage.js
  mon-pix/app/components/module/preview.gjs
  mon-pix/app/components/module/step.gjs
  mon-pix/app/components/module/stepper.gjs
Due: eslint --fix

Revert "refactor(mon-pix): WIP try to create a dumb grain component"
  mon-pix/app/components/module/grain.gjs
  mon-pix/app/components/module/grain/dumb-grain.gjs
  mon-pix/app/components/module/passage.js
  mon-pix/app/components/module/preview.gjs
  mon-pix/app/components/module/step.gjs
  mon-pix/app/components/module/stepper.gjs
Due: eslint --fix

Revert "feat(mon-pix): add grain.shoulFoldStepper parameter"
  mon-pix/app/components/module/grain.gjs
  mon-pix/tests/integration/components/module/grain_test.gjs
Due: none

Revert "feat(mon-pix): unfold all steppers steps on preview page"
  mon-pix/app/components/module/preview.gjs
Due: none

🌐 admin: Add translation for deactivate buttons
  admin/app/components/actions-on-users-role-in-organization.gjs
  admin/app/components/team/list.gjs
Due: none

🌐 admin: Add translation for validate buttons
  admin/app/components/organizations/target-profiles-section.gjs
  admin/app/components/organizations/team-actions-section.gjs
  admin/app/components/target-profiles/organizations.gjs
  admin/app/components/target-profiles/stages/stage.gjs
  admin/app/components/team/add-member.gjs
  admin/app/components/team/list.gjs
Due: none

🌐 admin: Add translation for mandatory fields
  admin/app/components/autonomous-courses/create-autonomous-course-form.gjs
  admin/app/components/autonomous-courses/update-autonomous-course-form.gjs
  admin/app/components/campaigns/update.gjs
  admin/app/components/organizations/information-section-edit.gjs
  admin/app/components/organizations/places-lot-creation-form.gjs
  admin/app/components/stages/update-stage.gjs
  admin/app/components/target-profiles/badge-form.gjs
  admin/app/components/target-profiles/badge-form/campaign-criterion.gjs
  admin/app/components/target-profiles/badge-form/capped-tubes-criterion.gjs
  admin/app/components/target-profiles/edit-target-profile-form.gjs
  admin/app/components/target-profiles/stages/new-stage.gjs
  admin/app/components/team/add-member.gjs
  admin/app/components/users/user-detail-personal-information/add-authentication-method-modal.gjs
  admin/app/components/users/user-overview.gjs
  admin/tests/integration/components/autonomous-courses/create-autonomous-course-form-test.gjs
  admin/tests/integration/components/autonomous-courses/details-test.gjs
  admin/tests/integration/components/campaigns/update-test.gjs
  admin/tests/integration/components/organizations/information-section-edit-test.gjs
  admin/tests/integration/components/organizations/information-section-test.gjs
  admin/tests/integration/components/organizations/places-lot-creation-form-test.gjs
  admin/tests/integration/components/stages/stage-test.gjs
  admin/tests/integration/components/target-profiles/badge-form-test.gjs
  admin/tests/integration/components/target-profiles/stages-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Due: none

🌐 admin: Add translation for save buttons
  admin/app/components/actions-on-users-role-in-organization.gjs
  admin/app/components/badges/badge.gjs
  admin/app/components/badges/campaign-criterion.gjs
  admin/app/components/campaigns/participation-row.gjs
  admin/app/components/campaigns/update.gjs
  admin/app/components/certification-centers/information-edit.gjs
  admin/app/components/certifications/candidate-edit-modal.hbs
  admin/app/components/certifications/certification/comments.gjs
  admin/app/components/organizations/information-section-edit.gjs
  admin/app/components/sessions/jury-comment.gjs
  admin/app/components/stages/update-stage.gjs
  admin/app/components/target-profiles/stages.gjs
Due: none

🌐 admin: Add translation for roles names
  admin/app/components/actions-on-users-role-in-organization.gjs
  admin/app/components/organizations/invitations-action.gjs
  admin/app/components/organizations/team-section.gjs
Due: none

🌐 admin: Add translation for autonomous course
  admin/app/components/autonomous-courses/create-autonomous-course-form.gjs
  admin/translations/en.json
  admin/translations/fr.json
Due: none

🌐 admin: Add translation for add buttons
  admin/app/components/certification-centers/creation-form.gjs
  admin/app/components/organizations/creation-form.gjs
  admin/app/components/organizations/places-lot-creation-form.gjs
Due: none

🌐 admin: Add translation for edit buttons
  admin/app/components/autonomous-courses/details.gjs
  admin/app/components/badges/badge.gjs
  admin/app/components/campaigns/details.gjs
  admin/app/components/campaigns/participation-row.gjs
  admin/app/components/certification-centers/information-view.gjs
  admin/app/components/organizations/information-section-view.gjs
  admin/app/components/sessions/jury-comment.gjs
  admin/app/components/stages/view-stage.gjs
  admin/app/components/target-profiles/stages/new-stage.gjs
  admin/app/components/target-profiles/target-profile.gjs
  admin/app/components/team/list.gjs
  admin/app/components/users/user-overview.gjs
  admin/tests/acceptance/authenticated/autonomous-courses/autonomous-courses-test.js
  admin/tests/integration/components/badges/badge-test.gjs
  admin/tests/integration/components/campaigns/details-test.gjs
  admin/tests/integration/components/campaigns/participation-row-test.gjs
  admin/tests/integration/components/campaigns/participations-section-test.gjs
  admin/tests/integration/components/sessions/jury-comment-test.gjs
  admin/tests/integration/components/team/list-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

🌐 admin: Add translation for generic error
  admin/app/components/administration/common/learning-content.gjs
  admin/app/components/campaigns/update.gjs
  admin/app/components/organizations/target-profiles-section.gjs
  admin/app/components/target-profiles/organizations.gjs
  admin/app/components/target-profiles/stages.gjs
  admin/app/components/target-profiles/target-profile.gjs
Due: none

🌐 admin: Add translation for yes and no
  admin/app/components/actions-on-users-role-in-organization.gjs
  admin/app/components/campaigns/details.gjs
  admin/app/components/campaigns/update.gjs
  admin/app/components/certification-centers/information-edit.gjs
  admin/app/components/organizations/information-section-view.gjs
  admin/app/components/organizations/invitations-action.gjs
  admin/app/components/organizations/team-actions-section.gjs
  admin/app/components/organizations/team-section.gjs
  admin/app/components/smart-random-simulator/current-challenge.gjs
  admin/app/components/smart-random-simulator/previous-challenges.gjs
  admin/app/components/target-profiles/organizations.gjs
  admin/app/components/target-profiles/target-profile.gjs
  admin/tests/acceptance/authenticated/organizations/create-organization-test.js
  admin/tests/integration/components/organizations/invitations-action-test.gjs
  admin/tests/integration/components/team-actions-section-test.gjs
  admin/tests/unit/components/organizations/target-profiles-section-test.js
  admin/tests/unit/components/target-profiles/organizations-test.js
Due: eslint --fix

fix(mon-pix): revert modulix default links styles
  mon-pix/app/styles/components/module/_passage.scss
Due: stylelint --fix

feat(mon-pix): display all steps in preview mode
  mon-pix/app/components/module/stepper.gjs
  mon-pix/tests/integration/components/module/stepper_test.gjs
Due: none

refactor(mon-pix): rename module preview component
  mon-pix/app/components/module/preview.gjs
  mon-pix/app/templates/module-preview.hbs
Due: none

feat(mon-pix): enable preview mode in preview component
  mon-pix/app/components/module/preview.gjs
  mon-pix/tests/unit/components/module/preview_test.gjs
Due: none

feat(service): add modulix preview mode service
  mon-pix/app/services/modulix-preview-mode.js
  mon-pix/tests/unit/services/modulix-preview-mode-test.js
Due: eslint --fix

refactor(mon-pix): migrate Grain to gjs
  mon-pix/app/components/module/grain.gjs
  mon-pix/app/components/module/grain.hbs
  mon-pix/tests/unit/components/module/grain-test.gjs
Due: none

feat(mon-pix): disable auto-scroll in preview mode
  mon-pix/app/services/modulix-auto-scroll.js
  mon-pix/tests/unit/services/modulix-auto-scroll-test.js
Due: eslint --fix

:recycle: admin: delete tubes selection checkbox
  admin/app/components/common/tubes-selection/checkbox.hbs
  admin/app/components/common/tubes-selection/checkbox.js
  admin/app/components/common/tubes-selection/competence.gjs
  admin/app/components/common/tubes-selection/thematic.gjs
  admin/app/components/common/tubes-selection/tube.gjs
  admin/app/helpers/is-tube-selected.js
  admin/tests/integration/components/common/tubes-selection-test.gjs
  admin/tests/unit/components/common/tubes-selection-test.js
  admin/tests/unit/helpers/is-tube-selected-test.js
Due: eslint --fix

:bug: admin: remove element.focus()
  admin/app/components/certifications/candidate-edit-modal.gjs
  admin/app/components/certifications/candidate-edit-modal.hbs
  admin/app/components/certifications/candidate-edit-modal.js
Due: eslint --fix

:recycle: admin: remove did-insert and did-update in tubes selection
  admin/app/components/common/tubes-selection.gjs
  admin/app/components/common/tubes-selection.hbs
Due: none

:white_check_mark: update tests files after intl upgrade
  admin/tests/acceptance/authenticated/autonomous-courses/autonomous-courses-test.js
  admin/tests/acceptance/authenticated/certifications/certification/neutralization-test.js
  admin/tests/acceptance/authenticated/organizations/invitations-management-test.js
  admin/tests/acceptance/authenticated/target-profiles/target-profile/management-test.js
  admin/tests/acceptance/authenticated/trainings/edit-triggers-test.js
  admin/tests/acceptance/authenticated/trainings/target-profiles-test.js
  admin/tests/acceptance/authenticated/trainings/training-test.js
  admin/tests/integration/components/administration/access/anonymize-gar-import-test.gjs
  admin/tests/integration/components/administration/access/oidc-providers-import-test.gjs
  admin/tests/integration/components/administration/campaigns/campaigns-import-test.gjs
  admin/tests/integration/components/administration/campaigns/swap-campaign-codes-test.gjs
  admin/tests/integration/components/administration/campaigns/update-campaign-code-test.gjs
  admin/tests/integration/components/administration/common/add-organization-features-in-batch-test.gjs
  admin/tests/integration/components/administration/deployment/organization-tags-import_test.gjs
  admin/tests/integration/components/administration/deployment/organizations-import-test.gjs
  admin/tests/integration/components/administration/deployment/update-organizations-in-batch-test.gjs
  admin/tests/integration/components/certification-centers/information-view-test.gjs
  admin/tests/integration/components/certifications/certification/details-v3-test.gjs
  admin/tests/integration/components/complementary-certifications/attach-form/badges/list-test.gjs
  admin/tests/integration/components/login-form-test.gjs
  admin/tests/integration/components/organizations/all-tags-test.gjs
  admin/tests/integration/components/trainings/create-training-triggers-test.gjs
  admin/tests/integration/components/users/certification-centers/membership-item-role-test.gjs
  admin/tests/integration/components/users/user-detail-personal-information/authentication-method-test.gjs
  admin/tests/integration/components/users/user-overview-test.gjs
  admin/tests/unit/components/campaigns/update-test.js
  admin/tests/unit/components/certification-centers/information-view-test.js
  admin/tests/unit/components/users/user-overview-test.js
  admin/tests/unit/controllers/authenticated/certification-centers/get/team-test.js
  admin/tests/unit/controllers/authenticated/organizations/get-test.js
  admin/tests/unit/controllers/authenticated/sessions/session/informations-test.js
  admin/tests/unit/controllers/authenticated/users/get/certification-center-memberships-test.js
Due: eslint --fix

Updated translations from Phrase
  mon-pix/translations/es.json
  mon-pix/translations/nl.json
Due: none

Updated translations from Phrase
  mon-pix/translations/es.json
Due: none

:recycle: (admin): use PixUI in tables search
  admin/app/components/certification-centers/list-items.gjs
  admin/app/components/organizations/list-items.gjs
  admin/app/components/organizations/team-section.gjs
  admin/app/components/sessions/list-items.gjs
  admin/app/components/target-profiles/list-summary-items.gjs
  admin/app/components/trainings/list-summary-items.gjs
Due: none

Revert "feat(api): add script to find comments in confluence and create knex migration"
  api/package-lock.json
  api/package.json
  api/scripts/generate-table-columns-comment.js
Due: eslint --fix

fix(doc): fix a misspell in an ADR
  docs/adr/0055-communication-bounded-contexts.md
Due: none

[DOC] Corriger une erreur de frappe dans la doc. (#9961)
  docs/adr/0055-communication-bounded-contexts.md
Due: none

fix(mon-pix): autonomous course landing page description color
  mon-pix/app/styles/components/autonomous-course/_landing-page-start-block.scss
Due: stylelint --fix

fix(doc): corriger absence d'accent
  docs/Accessibilite.md
Due: none

fix(doc): corriger oubli de tiret
  docs/Accessibilite.md
Due: none

[DOC] Corriger des fautes dans la doc pour tester la CI (#9966)
  docs/Accessibilite.md
Due: none

feat(api): add migration to create new column claimMapping in oidc-providers
  api/db/migrations/20240826162221_add-new-claim-mapping-in-oidc-providers.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
