Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

test(candidate-information): drop ember-cli-htmlbars for template tag
  mon-pix/tests/integration/components/certifications/certificate-information/candidate-information-test.gjs
Due: none

test(candidate-global-level): drop ember-cli-htmlbars for template tag
  mon-pix/tests/integration/components/certifications/certificate-information/candidate-global-level-test.gjs
Due: none

test(complementary-information-details): drop ember-cli-htmlbars for template tag
  mon-pix/tests/integration/components/certifications/certificate-information/complementary-information-details-test.gjs
Due: none

test(v3-certificate): drop ember-cli-htmlbars for template tag
  mon-pix/tests/integration/components/certifications/candidate-certificate/v3-certificate-test.gjs
Due: none

test(download-session-results): drop ember-cli-htmlbars for template tag
  mon-pix/tests/integration/components/download-session-results-test.gjs
Due: none

test(grain): drop ember-cli-htmlbars for template tag
  mon-pix/tests/integration/components/module/grain_test.gjs
Due: none

test(v2-certificate): drop ember-cli-htmlbars for template tag
  mon-pix/tests/integration/components/certifications/shareable-certificate/v2-certificate-test.gjs
Due: none

test(v3-certificate): drop ember-cli-htmlbars for template tag
  mon-pix/tests/integration/components/certifications/shareable-certificate/v3-certificate-test.gjs
Due: none

test(header-details): drop ember-cli-htmlbars for template tag
  mon-pix/tests/integration/components/header-details-test.gjs
Due: none

test(v3-pix-plus-certificate): drop ember-cli-htmlbars for template tag
  mon-pix/tests/integration/components/certifications/shareable-certificate/v3-pix-plus-certificate-test.gjs
Due: none

tech(ember-cli-clipboard): use native copy paste
  mon-pix/app/components/copy-paste-button.gjs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/_copy-paste-button.scss
  mon-pix/package-lock.json
  mon-pix/package.json
  mon-pix/tests/integration/components/copy-paste-button-test.gjs
Due: stylelint --fix

tech(mon-pix): remove @sentry/ember
  mon-pix/app/app.js
  mon-pix/config/environment.js
  mon-pix/package-lock.json
  mon-pix/package.json
Due: eslint --fix

tech(modifiers): update did insert to use template tag
  mon-pix/tests/integration/modifiers/modifier-did-insert-test.gjs
Due: none

(chore): remove ember-cli-autoprefixer to remove install ember-cli-htmlbars
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

fix(mon-pix): use correct font-size for Program body
  mon-pix/app/styles/components/campaigns/assessment/results/recommendation-engine/trainings.scss
Due: stylelint --fix

✨️️ (mon-pix): review
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/drawer/satisfaction-score.gjs
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/drawer/thank-you.gjs
  mon-pix/app/styles/components/campaigns/assessment/results/recommendation-engine/drawer.scss
  mon-pix/public/images/illustrations/results/sent-feedback.webp
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/drawer-test.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/drawer/satisfaction-score-test.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/drawer/thank-you-test.gjs
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: stylelint --fix

feat(mon-pix): hides objectives and program accordions when appropriate
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/training/card-modal.gjs
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/training/card.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/training/card-modal-test.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/training/card-test.gjs
Due: none

refactor(api): move repositories to domain folders
  api/src/prescription/campaign/domain/usecases/delete-campaigns.js
  api/src/prescription/campaign/domain/usecases/get-campaign.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-management-repository.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/src/prescription/target-profile/infrastructure/repositories/target-profile-summary-for-admin-repository.js
  api/src/quest/domain/usecases/index.js
  api/src/quest/infrastructure/repositories/combined-course-blueprints/combined-course-blueprint-repository.js
  api/src/quest/infrastructure/repositories/combined-course-blueprints/target-profile-repository.js
  api/src/quest/infrastructure/repositories/combined-course-participations/combined-course-participation-repository.js
  api/src/quest/infrastructure/repositories/combined-course-participations/organization-learner-participation-repository.js
  api/src/quest/infrastructure/repositories/combined-courses/campaign-repository.js
  api/src/quest/infrastructure/repositories/combined-courses/combined-course-repository.js
  api/src/quest/infrastructure/repositories/combined-courses/module-repository.js
  api/src/quest/infrastructure/repositories/course-repository.js
  api/src/quest/infrastructure/repositories/eligibility-repository.js
  api/src/quest/infrastructure/repositories/index.js
  api/tests/prescription/organization-learner/integration/domain/usecases/get-organization-to-join_test.js
  api/tests/quest/integration/infrastructure/repositories/campaign-repository_test.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-blueprint-repository_test.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-participation-repository_test.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-repository_test.js
  api/tests/quest/integration/infrastructure/repositories/organization-learner-participation-repository_test.js
  api/tests/quest/unit/infrastructure/repositories/campaign-repository_test.js
  api/tests/quest/unit/infrastructure/repositories/module-repository_test.js
  api/tests/quest/unit/infrastructure/repositories/target-profile-repository_test.js
Due: eslint --fix

⚡(mon-pix): don't display nps if user already answered nps
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results-recommendation-engine.gjs
  mon-pix/app/routes/campaigns/assessment/results.js
  mon-pix/mirage/config.js
  mon-pix/mirage/routes/get-has-answered-survey.js
  mon-pix/tests/acceptance/campaigns/campaign-results-recommendation-engine-test.js
Due: eslint --fix

théatre -> théâtre
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenPrompt_AVA.json
Due: none

:wheelchair:(mon-pix): add aria-label and dialog role to nps drawer
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/drawer.gjs
  mon-pix/tests/acceptance/campaigns/campaign-results-recommendation-engine-test.js
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: eslint --fix

♻️(api): move modulix script
  api/scripts/modulix/dev-convert-joi-to-json-schema.js
  api/src/devcomp/scripts/dev-convert-joi-to-json-schema.js
  api/src/devcomp/scripts/generate-demo-epreuve-component.js
  api/src/devcomp/scripts/get-elements-csv.js
  api/src/devcomp/scripts/get-modules-assets-debt.js
  api/src/devcomp/scripts/get-modules-csv.js
  api/src/devcomp/scripts/get-proposals-csv.js
  api/src/devcomp/scripts/get-sections-csv.js
  api/src/devcomp/scripts/list-modules-for-db-replication.js
  api/src/devcomp/scripts/utils/get-answerable-elements.js
  api/src/devcomp/scripts/utils/get-grains.js
  api/tests/devcomp/acceptance/scripts/get-elements-csv_test.js
  api/tests/devcomp/acceptance/scripts/get-modules-csv_test.js
  api/tests/devcomp/acceptance/scripts/get-proposals-csv_test.js
  api/tests/devcomp/acceptance/scripts/get-sections-csv_test.js
  api/tests/devcomp/acceptance/scripts/utils/get-answerable-elements_test.js
  api/tests/devcomp/acceptance/scripts/utils/get-grains_test.js
  api/tests/devcomp/unit/scripts/get-modules-csv_test.js
Due: eslint --fix

fix(api): batch audit logger jobs when deleting organization's learner
  api/src/prescription/learner-management/domain/usecases/delete-organization-learners.js
  api/tests/prescription/learner-management/integration/domain/usecases/delete-organization-learners_test.js
Due: eslint --fix

:sparkles: add CAndidateReconciled event
  api/src/certification/enrolment/domain/usecases/reconcile-candidate.js
  api/src/certification/enrolment/infrastructure/adapters/event-adapter.js
  api/src/certification/shared/domain/constants/event-names.js
  api/tests/certification/enrolment/unit/domain/usecases/reconcile-candidate_test.js
  api/tests/certification/enrolment/unit/infrastructure/adapters/event-adapter_test.js
Due: eslint --fix

add userId to candidateReconciledEvent metadata
  api/src/certification/enrolment/infrastructure/adapters/event-adapter.js
  api/tests/certification/enrolment/unit/infrastructure/adapters/event-adapter_test.js
Due: eslint --fix

tech(api): add service to generate random code
  api/src/shared/infrastructure/utils/code-generator.js
  api/tests/shared/unit/infrastructure/utils/code-generator_test.js
Due: eslint --fix

refactor(api): remove randomstring usage from password generator service
  api/src/identity-access-management/domain/services/password-generator.service.js
  api/tests/identity-access-management/unit/domain/services/password-generator.service.test.js
Due: eslint --fix

tech(api): remove randomstring usage in code generator domain service
  api/src/shared/domain/services/code-generator.js
  api/tests/shared/unit/domain/services/code-generator_test.js
Due: eslint --fix

refactor(api): remove randomstring usage from data generation script
  api/scripts/data-generation/add-many-divisions-and-students-to-sco-organization.js
Due: eslint --fix

refactor(api): remove randomstring usage from CertificationCenterInvitation
  api/src/team/domain/models/CertificationCenterInvitation.js
  api/tests/team/unit/domain/models/CertificationCenterInvitation_test.js
Due: eslint --fix

refactor(api): remove randomstring usage from user reconciliation service
  api/src/shared/domain/services/user-reconciliation-service.js
Due: eslint --fix

refactor(api): remove randomstring usage from send-verification-code usecase
  api/src/identity-access-management/domain/usecases/send-verification-code.usecase.js
Due: eslint --fix

Notes added by 'git notes add'
  347504b739bc6088d37e1046e6dfed0dd2e6898f
Due: none

feat(api): add createdAt to certification center model
  api/src/certification/enrolment/domain/models/Center.js
  api/src/organizational-entities/domain/models/factories/CenterForAdminFactory.js
  api/tests/organizational-entities/acceptance/application/certification-center/certification-center.admin.route.test.js
  api/tests/organizational-entities/unit/domain/models/factories/CenterForAdminFactory_test.js
  api/tests/tooling/domain-builder/factory/build-center.js
Due: eslint --fix

feat(admin): add createdAt to certif center details page
  admin/app/components/certification-centers/information-view.gjs
  admin/app/models/certification-center.js
  admin/tests/integration/components/certification-centers/information-view-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

tech(api): delete unused event
  api/src/certification/evaluation/domain/events/CertificationScoringCompleted.js
  api/tests/tooling/domain-builder/factory/build-certification-scoring-completed-event.js
  api/tests/tooling/domain-builder/factory/index.js
Due: eslint --fix

refactor(api): remove randomstring usage from code utils
  api/src/identity-access-management/domain/usecases/index.js
  api/src/identity-access-management/domain/usecases/send-verification-code.usecase.js
  api/src/shared/infrastructure/utils/code-utils.js
  api/tests/shared/unit/infrastructure/utils/code-utils_test.js
Due: eslint --fix

refactor(api): remove randomstring package
  api/package-lock.json
  api/package.json
Due: none

refactor(api): remove randomstring usage from organization invitation service
  api/src/team/domain/services/organization-invitation.service.js
Due: eslint --fix
