Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

WIP use presentation.gjs instead of new components
  mon-pix/app/components/combined-course/combined-course-item.gjs
  mon-pix/app/components/combined-course/duration.gjs
  mon-pix/app/components/combined-course/level.gjs
  mon-pix/app/components/combined-course/tunnel/step-details.gjs
  mon-pix/app/components/combined-course/tunnel/tunnel-steps.gjs
  mon-pix/app/components/routes/combined-courses/presentation.gjs
  mon-pix/app/models/combined-course-item.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/combined-courses/_combined-courses.scss
  mon-pix/app/styles/components/combined-courses/_step-details.scss
  mon-pix/app/templates/combined-courses/tunnel.gjs
  mon-pix/tests/acceptance/combined-courses-test.js
  mon-pix/tests/integration/components/combined-course/combined-course-item-test.gjs
  mon-pix/tests/integration/components/routes/combined-courses/presentation-test.gjs
  mon-pix/tests/integration/components/routes/combined-courses/step-details-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix, stylelint --fix

WIP use presentation.gjs instead of new components
  mon-pix/app/components/combined-course/combined-course-item.gjs
  mon-pix/app/components/combined-course/combined-course-step-item.gjs
  mon-pix/app/components/combined-course/tunnel/tunnel-steps.gjs
  mon-pix/app/components/routes/combined-courses/presentation.gjs
  mon-pix/app/models/combined-course-item.js
  mon-pix/app/templates/combined-courses/tunnel.gjs
Due: eslint --fix

wip add tunnel step items
  junior/.watchman-cookie-Sebastiens-MacBook-Pro.local-4026-247
  mon-pix/app/components/combined-course/combined-course-step-item.gjs
  mon-pix/app/components/combined-course/tunnel/step-details.gjs
  mon-pix/app/components/combined-course/tunnel/tunnel-steps.gjs
  mon-pix/app/components/routes/combined-courses/tunnel-steps.gjs
  mon-pix/app/models/combined-course-item.js
  mon-pix/app/templates/combined-courses/tunnel.gjs
  mon-pix/tests/integration/components/combined-course/tunnel/tunnel-steps-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: eslint --fix

feat(ui): other option for viewport fullscreen for tunnel page
  mon-pix/app/components/combined-course/combined-course-item.gjs
  mon-pix/app/components/combined-course/combined-course-items-list.gjs
  mon-pix/app/components/combined-course/combined-course-step-item.gjs
  mon-pix/app/components/combined-course/level.gjs
  mon-pix/app/components/combined-course/tunnel/tunnel-steps.gjs
  mon-pix/app/components/routes/combined-courses/presentation.gjs
  mon-pix/app/components/routes/combined-courses/tunnel.gjs
  mon-pix/app/styles/components/combined-courses/_combined-course-item.scss
  mon-pix/app/styles/components/combined-courses/_combined-courses.scss
  mon-pix/app/styles/components/combined-courses/_step-details.scss
  mon-pix/app/styles/components/combined-courses/_tunnel.scss
  mon-pix/app/templates/application.gjs
  mon-pix/app/templates/combined-courses/tunnel.gjs
  mon-pix/tests/integration/components/combined-course/tunnel-test.gjs
Due: stylelint --fix

fix(mon-pix): fixing display and duration
  mon-pix/app/components/combined-course/combined-course-items-list.gjs
  mon-pix/app/components/combined-course/duration.gjs
  mon-pix/app/components/combined-course/level.gjs
  mon-pix/app/components/combined-course/tunnel/step-details.gjs
  mon-pix/app/components/combined-course/tunnel/tunnel-steps.gjs
  mon-pix/app/components/routes/combined-courses/presentation.gjs
  mon-pix/app/components/routes/combined-courses/tunnel.gjs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/combined-courses/_combined-courses.scss
  mon-pix/app/styles/components/combined-courses/_step-details.scss
  mon-pix/app/styles/components/combined-courses/_tunnel.scss
  mon-pix/app/templates/combined-courses/tunnel.gjs
  mon-pix/tests/integration/components/routes/combined-courses/presentation-test.gjs
  mon-pix/tests/integration/components/routes/combined-courses/step-details-test.gjs
  mon-pix/tests/integration/components/routes/combined-courses/tunnel-test.gjs
Due: stylelint --fix

feat(mon-pix): add combined course step item component
  mon-pix/app/components/combined-course/combined-course-step-item.gjs
  mon-pix/app/components/routes/combined-courses/tunnel-steps.gjs
Due: none

feat(mon-pix): adds sticky
  mon-pix/app/components/combined-course/tunnel/step-details.gjs
  mon-pix/app/components/routes/combined-courses/presentation.gjs
  mon-pix/app/components/routes/combined-courses/tunnel.gjs
  mon-pix/app/styles/components/combined-courses/_step-details.scss
  mon-pix/app/styles/components/combined-courses/_tunnel.scss
  mon-pix/tests/integration/components/routes/combined-courses/tunnel-test.gjs
Due: stylelint --fix

refactor(mon-pix): isolate combined course item styles into its own file
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/combined-courses/_combined-course-item.scss
  mon-pix/app/styles/components/combined-courses/_combined-courses.scss
Due: stylelint --fix

feat(mon-pix): for tunnel fix button redirection, set selected item and add aria-details
  mon-pix/app/components/combined-course/combined-course-item.gjs
  mon-pix/app/components/combined-course/combined-course-items-list.gjs
  mon-pix/app/components/combined-course/tunnel/step-details.gjs
  mon-pix/app/components/routes/combined-courses/presentation.gjs
  mon-pix/app/components/routes/combined-courses/tunnel.gjs
  mon-pix/tests/integration/components/combined-course/tunnel-test.gjs
  mon-pix/tests/integration/components/routes/combined-courses/presentation-test.gjs
  mon-pix/tests/integration/components/routes/combined-courses/tunnel-test.gjs
Due: none

feat(mon-pix): maps data from modules
  mon-pix/app/components/combined-course/tunnel/step-details.gjs
Due: none

[BUGFIX] Corriger la lecture des modules JSON pour les besoins des parcours combinés (PIX-24308) (#17549)
  api/db/database-builder/factory/build-combined-course-blueprint.js
  api/src/devcomp/infrastructure/repositories/module-metadata-repository.js
  api/tests/devcomp/integration/application/api/modules-api_test.js
  api/tests/devcomp/integration/application/api/recommended-modules-api_test.js
  api/tests/devcomp/integration/domain/usecases/find-recommendable-modules-by-target-profile-ids_test.js
  api/tests/devcomp/integration/domain/usecases/find-recommended-modules-by-campaign-participation-ids_test.js
  api/tests/devcomp/integration/infrastructure/repositories/module-metadata-repository_test.js
  api/tests/quest/integration/domain/services/combined-course-details-service_test.js
  api/tests/quest/integration/domain/usecases/create-combined-course_test.js
  api/tests/quest/integration/domain/usecases/create-combined-courses_test.js
  api/tests/quest/integration/domain/usecases/find-combined-course-blueprint-by-id_test.js
  api/tests/quest/integration/domain/usecases/find-combined-course-participations_test.js
  api/tests/quest/integration/domain/usecases/get-combined-course-blueprint-by-id_test.js
  api/tests/quest/integration/domain/usecases/get-combined-course-by-code_test.js
  api/tests/quest/integration/domain/usecases/update-combined-course-progress_test.js
Due: eslint --fix

WIP: add icons in generateV3 pdf
  api/src/certification/results/infrastructure/utils/pdf/generate-v3-pdf-certificate.js
  api/src/certification/results/infrastructure/utils/pdf/templates/assets/area-icon/area-1.png
  api/src/certification/results/infrastructure/utils/pdf/templates/assets/area-icon/area-2.png
  api/src/certification/results/infrastructure/utils/pdf/templates/assets/area-icon/area-3.png
  api/src/certification/results/infrastructure/utils/pdf/templates/assets/area-icon/area-4.png
  api/src/certification/results/infrastructure/utils/pdf/templates/assets/area-icon/area-5.png
Due: eslint --fix

wip update step-details with tests
  mon-pix/app/components/combined-course/tunnel/step-details.gjs
  mon-pix/tests/integration/components/routes/combined-courses/tunnel/step-details-test.gjs
Due: none

chore(release): 5.504.0 [skip ci]
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
  packages/pix-types/package.json
Due: none

Notes added by 'git notes add'
  532cfe269268dc9e26d49f77f6d712161da5f76a
Due: none

tech(orga): rename the errors attribute of organization-import-detail to importErrors
  orga/app/components/import/index.gjs
  orga/app/models/organization-import-detail.js
  orga/app/serializers/organization-import-detail.js
  orga/tests/integration/components/import-information-banner-test.gjs
  orga/tests/integration/components/import/banner-test.gjs
  orga/tests/integration/components/import/index-test.gjs
  orga/tests/unit/models/organization-import-detail-test.js
Due: eslint --fix

tech(api): convert models to TS
  orga/app/components/places/places-lot-alert.gjs
  orga/app/models/analysis-by-tube.js
  orga/app/models/analysis-by-tube.ts
  orga/app/models/announcement.js
  orga/app/models/announcement.ts
  orga/app/models/attestation-participant-status.js
  orga/app/models/attestation-participant-status.ts
  orga/app/models/attestation.js
  orga/app/models/attestation.ts
  orga/app/models/banner.js
  orga/app/models/banner.ts
  orga/app/models/information-banner.js
  orga/app/models/information-banner.ts
  orga/app/models/mission-learner.js
  orga/app/models/mission-learner.ts
  orga/app/models/mission.js
  orga/app/models/mission.ts
  orga/app/models/organization-import-detail.js
  orga/app/models/organization-import-detail.ts
  orga/app/models/organization-place-statistic.js
  orga/app/models/organization-place-statistic.ts
  orga/app/models/organization-places-lot.js
  orga/app/models/organization-places-lot.ts
  orga/app/models/organization.ts
  orga/app/models/participation-statistic.js
  orga/app/models/participation-statistic.ts
  packages/pix-types/index.d.ts
Due: eslint --fix

[FEATURE] Accepter les CGU de l'utilisateur de Pix Certif en passant par le nouveau modèle (PIX-22443) (#17548)
  api/src/identity-access-management/domain/usecases/accept-pix-certif-terms-of-service.usecase.js
  api/src/identity-access-management/infrastructure/repositories/legal-document-api.repository.js
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/tests/identity-access-management/integration/domain/usecases/accept-pix-certif-terms-of-service.usecase.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user.repository.test.js
  api/tests/identity-access-management/unit/domain/usecases/accept-pix-certif-terms-of-service.usecase.test.js
  api/tests/identity-access-management/unit/infrastructure/repositories/legal-document-api.repository.test.js
Due: eslint --fix

wip
  api/tests/certification/session-management/integration/infrastructure/repositories/finalized-session-repository_test.js
Due: eslint --fix

[TECH] Ajoute des index sur la table `users`. (#17556)
  api/db/migrations/20260921144357_add-users-indexes.js
Due: eslint --fix

tech: create repository method to retrieve highest sequence number of a given passage
  api/src/devcomp/infrastructure/repositories/passage-event-repository.js
  api/tests/devcomp/integration/infrastructure/repositories/passage-event-repository_test.js
Due: eslint --fix

tech: improve passage events recording perf
  api/src/devcomp/domain/usecases/record-passage-events.js
  api/src/devcomp/infrastructure/repositories/passage-event-repository.js
  api/tests/devcomp/unit/domain/usecases/record-passage-events_test.js
Due: eslint --fix

chore: remove now unused getAllByPassageId function
  api/src/devcomp/infrastructure/repositories/passage-event-repository.js
  api/tests/devcomp/integration/infrastructure/repositories/passage-event-repository_test.js
Due: eslint --fix

[TECH] Améliore les performances de la route qui enregistre un passage-event. (#17566)
  api/src/devcomp/domain/usecases/record-passage-events.js
  api/src/devcomp/infrastructure/repositories/passage-event-repository.js
  api/tests/devcomp/integration/infrastructure/repositories/passage-event-repository_test.js
  api/tests/devcomp/unit/domain/usecases/record-passage-events_test.js
Due: eslint --fix

chore(webcomponent): update package to latest
  api/package-lock.json
  api/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

docs(llm-assistant): add scoping spec, tickets and domain glossary
  .scratch/llm-assistant-prod/brief.md
  .scratch/llm-assistant-prod/issues/01-amorce-serveur-mcp.md
  .scratch/llm-assistant-prod/issues/02-outil-read-schema-organisations.md
  .scratch/llm-assistant-prod/issues/03-schema-profils-cibles.md
  .scratch/llm-assistant-prod/issues/04-attacher-detacher-essai-a-blanc.md
  .scratch/llm-assistant-prod/issues/05-journal-des-operations.md
  .scratch/llm-assistant-prod/issues/06-integrite-structurelle.md
  .scratch/llm-assistant-prod/spec.md
  CONTEXT.md
Due: none

docs(llm-assistant): move scoping documents to docs and reorder tickets
  docs/fr/llm-assistant/spec.md
  docs/fr/llm-assistant/tickets/01-integrite-structurelle.md
  docs/fr/llm-assistant/tickets/02-amorce-serveur-mcp.md
  docs/fr/llm-assistant/tickets/03-outil-read-schema-organisations.md
  docs/fr/llm-assistant/tickets/04-schema-profils-cibles.md
  docs/fr/llm-assistant/tickets/05-attacher-detacher-essai-a-blanc.md
  docs/fr/llm-assistant/tickets/06-journal-des-operations.md
Due: none

docs(llm-assistant): keep the handover note out of the repository
  .scratch/llm-assistant-prod/brief.md
Due: none

fix(mon-pix): handle network failure when terminating a module passage
  mon-pix/app/components/module/passage.gjs
  mon-pix/tests/integration/components/module/passage_test.gjs
Due: none

feat(mon-pix): update combined course loading screen wordings
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: none

feat(api): leverage native Locks for OidcAuthenticationServiceRegistry
  api/src/identity-access-management/domain/services/oidc-authentication-service-registry.js
Due: eslint --fix

tech(api): fix two update-translations tests that asserted nothing
  api/tests/scripts/integration/update-translations_test.js
Due: eslint --fix

[TECH] Amélioration d'un test de script (#17577)
  api/tests/scripts/integration/update-translations_test.js
Due: eslint --fix

chore: remove duplicated email field in query
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
Due: eslint --fix

tech: search user by firstname or lastname by lowering first
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user.repository.test.js
Due: eslint --fix

tech(api): assert the simulator usecase rejection correctly
  api/tests/evaluation/integration/domain/usecases/get-campaign-parameters-for-simulator_test.js
Due: eslint --fix

Add CNAF attestation illustrations
  mon-pix/public/images/illustrations/attestations/CNAFMENA.svg
  mon-pix/public/images/illustrations/attestations/CNAFSECU.svg
Due: none

[FEATURE] Ajouter les pictos pour les attestations cyber CNAF (PIX-24367) (#17578)
  mon-pix/public/images/illustrations/attestations/CNAFMENA.svg
  mon-pix/public/images/illustrations/attestations/CNAFSECU.svg
Due: none

[TECH] Améliore les performances de la recherche d'utilisateurs depuis Pix Admin. (#17580)
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user.repository.test.js
Due: eslint --fix

chore(release): 5.505.0 [skip ci]
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
  packages/pix-types/package.json
Due: none
