Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

feat(admin): create adapter
  admin/app/adapters/import-files.js
  admin/tests/unit/adapters/import-files_test.js
Due: eslint --fix

feat(api): refacto sco import template
  api/lib/domain/usecases/get-organization-learners-csv-template.js
Due: eslint --fix

feat(api): create route
  api/lib/application/campaigns-administration/campaign-controller.js
  api/lib/application/campaigns-administration/index.js
  api/lib/routes.js
  api/tests/acceptance/application/campaign-administration/archive-campaigns_test.js
  api/tests/unit/application/campaigns-administration/campaign-controller_test.js
  api/tests/unit/application/campaigns-administration/index_test.js
Due: eslint --fix

feat(api): create use case
  api/lib/domain/usecases/campaigns-administration/archive-campaigns.js
  api/lib/domain/usecases/index.js
  api/tests/unit/domain/usecases/campaigns-administration/archive-campaigns_test.js
Due: eslint --fix

feat(api): create parser
  api/lib/infrastructure/serializers/csv/csv-column.js
  api/lib/infrastructure/serializers/csv/csv-parser.js
  api/tests/unit/infrastructure/serializers/csv/csv-parser_test.js
Due: eslint --fix

feat(api): create parser for campaign ids csv
  api/lib/infrastructure/serializers/csv/campaigns-administration/campaign-ids-csv-header.js
  api/lib/infrastructure/serializers/csv/campaigns-administration/csv-campaigns-ids-parser.js
  api/tests/integration/infrastructure/serializer/campaigns-administration/csv-campaigns-ids-parser_test.js
  api/tests/test-helper.js
  api/tests/tooling/temporary-file.js
Due: eslint --fix

feat(api): refacto sup import
  api/lib/infrastructure/serializers/csv/sup-organization-learner-columns.js
  api/lib/infrastructure/serializers/csv/sup-organization-learner-import-header.js
  api/lib/infrastructure/serializers/csv/sup-organization-learner-parser.js
  api/tests/acceptance/application/organizations/organization-controller-import-sup-organization-learners_test.js
  api/tests/acceptance/application/organizations/organization-controller-replace-sup-organization-learners_test.js
  api/tests/integration/domain/usecases/import-sup-organization-learners_test.js
  api/tests/unit/infrastructure/serializers/csv/higher-organization-learner-parser_test.js
Due: eslint --fix

feat(admin): add button to archives a list of campaigns
  admin/app/controllers/authenticated/tools.js
  admin/app/styles/authenticated/tools.scss
  admin/app/templates/authenticated/tools.hbs
  admin/tests/unit/controllers/authenticated/tools_test.js
  admin/tests/unit/routes/authenticated/tools_test.js
Due: eslint --fix, stylelint --fix

feat(admin): change administration icon
  admin/app/components/menu-bar.hbs
Due: none

feat(api): refacto sco import
  api/lib/infrastructure/serializers/csv/csv-learner-parser.js
  api/lib/infrastructure/serializers/csv/organization-learner-columns.js
  api/lib/infrastructure/serializers/csv/organization-learner-import-header.js
  api/lib/infrastructure/serializers/csv/organization-learner-parser.js
  api/tests/acceptance/application/organizations/organization-controller-import-sco-organization-learners_test.js
  api/tests/unit/infrastructure/serializers/csv/csv-learner-parser_test.js
  api/tests/unit/infrastructure/serializers/csv/organization-learner-parser_test.js
Due: eslint --fix

:fire: api: Remove temporary file
  api/tests/integration/infrastructure/utils/ods/files/1.5/candidates_import_template-with-one-complementary-certification-sco.tmp.ods
Due: none

:recycle: api: create validateCandidate function
  api/lib/domain/services/sessions-import-validation-service.js
  api/lib/domain/usecases/create-sessions.js
  api/tests/unit/domain/services/sessions-import-validation-service_test.js
Due: eslint --fix

:recycle: api: rename validate to validateSession
  api/lib/domain/services/sessions-import-validation-service.js
  api/lib/domain/usecases/create-sessions.js
  api/tests/unit/domain/services/sessions-import-validation-service_test.js
  api/tests/unit/domain/usecases/create-sessions_test.js
Due: eslint --fix

bsr(api) Add empty validation on stage
  api/lib/domain/models/target-profile-management/StageCollection.js
  api/tests/unit/domain/usecases/create-stage_test.js
  api/tests/unit/domain/usecases/update-stage_test.js
Due: eslint --fix

feat(admin): Front validation on creation stage
  admin/app/components/target-profiles/stages.hbs
  admin/app/components/target-profiles/stages.js
  admin/app/components/target-profiles/stages/new-stage.hbs
  admin/app/components/target-profiles/stages/new-stage.js
Due: eslint --fix

bsr(admin): Use index instead of path to route
  admin/app/router.js
  admin/app/routes/authenticated/target-profiles/index.js
Due: eslint --fix

feat(admin): Fix test after update pix-ui
  admin/app/components/users/user-detail-personal-information/add-authentication-method-modal.hbs
  admin/tests/acceptance/authenticated/target-profiles/list_test.js
  admin/tests/acceptance/authenticated/target-profiles/target-profile/creation_test.js
  admin/tests/acceptance/authenticated/target-profiles/target-profile/management_test.js
  admin/tests/acceptance/authenticated/users/authentication-method_test.js
Due: eslint --fix

fix(admin): lint
  admin/app/components/target-profiles/stages/new-stage.hbs
Due: none

chore(admin): Update Pix-ui to 26.0.3
  admin/package-lock.json
  admin/package.json
Due: none

[RELEASE] A minor is being released to 3.326.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

feat(orga) : add sortable column on lastname for sco organization
  orga/app/components/sco-organization-participant/list.hbs
  orga/app/controllers/authenticated/sco-organization-participants/list.js
  orga/app/routes/authenticated/sco-organization-participants/list.js
  orga/app/templates/authenticated/sco-organization-participants/list.hbs
  orga/tests/integration/components/sco-organization-participant/list_test.js
Due: eslint --fix

chore(orga): refacto header sort
  orga/app/components/campaign/analysis/recommendations.hbs
  orga/app/components/campaign/analysis/recommendations.js
  orga/app/components/table/header-sort.hbs
  orga/app/components/table/header-sort.js
  orga/tests/integration/components/tables/header-sort_test.js
Due: eslint --fix

feat(api): update controller for sort by lastname
  api/lib/application/organizations/index.js
  api/tests/unit/application/organizations/organization-controller_test.js
Due: eslint --fix

feat(orga) : add sortable column on lastname for sup organization
  orga/app/components/sup-organization-participant/list.hbs
  orga/app/controllers/authenticated/sup-organization-participants/list.js
  orga/app/routes/authenticated/sup-organization-participants/list.js
  orga/app/templates/authenticated/sup-organization-participants/list.hbs
  orga/tests/integration/components/sup-organization-participant/list_test.js
Due: eslint --fix

feat(api): update repository for sort by lastname
  api/lib/infrastructure/repositories/organization-participant-repository.js
  api/lib/infrastructure/repositories/sco-organization-participant-repository.js
  api/lib/infrastructure/repositories/sup-organization-participant-repository.js
  api/tests/integration/infrastructure/repositories/organization-participant-repository_test.js
  api/tests/integration/infrastructure/repositories/sco-organization-participant-repository_test.js
  api/tests/integration/infrastructure/repositories/sup-organization-participant-repository_test.js
Due: eslint --fix

feat(orga) : add sortable column on lastname for organization
  orga/app/components/organization-participant/list.hbs
  orga/app/controllers/authenticated/organization-participants/list.js
  orga/app/routes/authenticated/organization-participants/list.js
  orga/app/templates/authenticated/organization-participants/list.hbs
  orga/tests/integration/components/organization-participant/list_test.js
Due: eslint --fix
