Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Wait for answers and challenge
  mon-pix/app/routes/assessments/challenge.js
  mon-pix/tests/unit/routes/assessments/challenge_test.js
Due: eslint --fix

:fire: api: Remove unused partnerKeys
  api/db/seeds/data/common/tooling/session-tooling.js
  api/tests/acceptance/application/certifications/index_test.js
  api/tests/acceptance/application/complementary-certification-course-results/complementary-certification-course-results-controller_test.js
  api/tests/acceptance/application/session/session-controller-get-jury-certification-summaries_test.js
  api/tests/certification/course/acceptance/application/certification-attestation-route_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-course-repository_test.js
  api/tests/integration/domain/event/handle-complementary-certifications-scoring_test.js
  api/tests/integration/infrastructure/repositories/certificate-repository_shareable_test.js
  api/tests/integration/infrastructure/utils/csv/certification-results/get-session-certification-results-csv_test.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-course-result-for-certification.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-course-result.js
  api/tests/unit/domain/events/handle-complementary-certifications-scoring_test.js
  api/tests/unit/domain/models/ComplementaryCertificationCourseResult_test.js
  api/tests/unit/domain/models/ComplementaryCertificationCourseWithResults_test.js
  api/tests/unit/domain/models/ComplementaryCertificationScoringWithComplementaryReferential_test.js
  api/tests/unit/domain/models/JuryCertification_test.js
  api/tests/unit/domain/models/PartnerCertificationScoring_test.js
  api/tests/unit/domain/read-models/ComplementaryCertificationCourseResultForJuryCertification_test.js
  api/tests/unit/domain/usecases/get-user-certification-eligibility_test.js
  api/tests/unit/domain/usecases/save-jury-complementary-certification-course-result_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/jury-certification-serializer_test.js
Due: eslint --fix

:card_file_box: api: drop partnerKey column
  api/db/migrations/20231206185610_drop-column-partner-key.js
  api/tests/unit/domain/read-models/CertifiedBadge_test.js
Due: eslint --fix

:fire: api: Remove partnerKey from CertifiedBadge
  api/db/migrations/20231206185610_drop-column-partner-key.js
  api/lib/domain/models/ComplementaryCertificationScoringWithComplementaryReferential.js
  api/lib/domain/read-models/CertifiedBadge.js
  api/lib/infrastructure/repositories/certificate-repository.js
  api/src/certification/course/infrastructure/repositories/certificate-repository.js
  api/tests/acceptance/application/certifications/index_test.js
  api/tests/certification/course/integration/infrastructure/repositories/certificate-repository_test.js
  api/tests/integration/infrastructure/repositories/certificate-repository_private_test.js
  api/tests/integration/infrastructure/repositories/certificate-repository_shareable_test.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-scoring-without-complementary-referential.js
  api/tests/tooling/domain-builder/factory/build-pix-plus-certification-scoring.js
  api/tests/unit/domain/models/ComplementaryCertificationScoringWithComplementaryReferential_test.js
  api/tests/unit/domain/models/ComplementaryCertificationScoringWithoutComplementaryReferential_test.js
  api/tests/unit/domain/read-models/CertifiedBadge_test.js
Due: eslint --fix

feat(mon-pix): add autonomouse-course landing-page acceptance test
  mon-pix/config/environment.js
  mon-pix/mirage/factories/campaign.js
  mon-pix/tests/acceptance/campaigns/campaign-landing-page_test.js
Due: eslint --fix

feat(mon-pix): add autonomouse-course landing-page-start-block unit test
  mon-pix/tests/unit/components/autonomous-courses/landing-page-start-block_test.js
Due: eslint --fix

feat(mon-pix): add autonomouse-course landing-page-start-block integration test
  mon-pix/tests/integration/components/autonomous-course/landing-page-start-block_test.js
Due: eslint --fix

tech(api): improve autonomous-courses seeds
  api/db/seeds/data/team-evaluation/autonomous-courses/create-autonomous-courses.js
Due: eslint --fix

feat(mon-pix): add autonomous-course landing-page start block
  mon-pix/app/components/autonomous-course/landing-page-start-block.hbs
  mon-pix/app/components/autonomous-course/landing-page-start-block.js
  mon-pix/app/controllers/campaigns/campaign-landing-page.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/autonomous-course/_landing-page-start-block.scss
  mon-pix/app/templates/campaigns/campaign-landing-page.hbs
  mon-pix/config/environment.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: eslint --fix, stylelint --fix

Revert "[FEATURE] Créer la page d'atterrissage d'un parcours autonome (PIX-9184)."
  api/db/seeds/data/team-evaluation/autonomous-courses/create-autonomous-courses.js
  mon-pix/app/components/autonomous-course/landing-page-start-block.hbs
  mon-pix/app/components/autonomous-course/landing-page-start-block.js
  mon-pix/app/controllers/campaigns/campaign-landing-page.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/autonomous-course/_landing-page-start-block.scss
  mon-pix/app/templates/campaigns/campaign-landing-page.hbs
  mon-pix/config/environment.js
  mon-pix/mirage/factories/campaign.js
  mon-pix/tests/acceptance/campaigns/campaign-landing-page_test.js
  mon-pix/tests/integration/components/autonomous-course/landing-page-start-block_test.js
  mon-pix/tests/unit/components/autonomous-courses/landing-page-start-block_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: eslint --fix, stylelint --fix

feat(orga): query place-statistics data
  orga/app/adapters/organization-place-statistic.js
  orga/app/models/organization-place-statistic.js
  orga/app/routes/authenticated/places.js
Due: eslint --fix

feat(orga): show place organization place statistics
  orga/app/components/places/statistics.hbs
  orga/app/styles/components/places/index.scss
  orga/app/styles/components/places/statistics.scss
  orga/app/templates/authenticated/places.hbs
  orga/tests/integration/components/places/statistics_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix, stylelint --fix

feat(admin): reword for Places Page feature on organization
  admin/app/components/organizations/information-section-edit.hbs
  admin/app/components/organizations/information-section-view.hbs
  admin/tests/integration/components/organizations/information-section_test.js
Due: eslint --fix

fix(orga): put the right translations from places to seats
  orga/translations/en.json
Due: none

:seedling: api: add seeds for completed v3 certification session
  api/db/seeds/data/common/tooling/learning-content.js
  api/db/seeds/data/common/tooling/session-tooling.js
  api/db/seeds/data/team-certification/data-builder.js
Due: eslint --fix

fix(orga): use tertiary color for tag background color
  orga/app/components/campaign/results/profile-list.hbs
Due: none

[RELEASE] A minor is being released to 4.77.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

feat(orga): add new Places entry on menu
  orga/app/components/layout/sidebar.hbs
  orga/app/components/layout/sidebar.js
  orga/app/services/current-user.js
  orga/tests/acceptance/campaign-parameters_test.js
  orga/tests/acceptance/campaign-update_test.js
  orga/tests/integration/components/layout/sidebar_test.js
  orga/tests/unit/services/current-user_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix

feat(orga): add new ticket icon for use with font awesome
  orga/app/app.js
  orga/app/custom-icons/fapix-ticket.js
  orga/app/custom-icons/index.js
Due: eslint --fix

refacto?(orga): use currentUser getter to access to Places Page
  orga/app/routes/authenticated/places.js
  orga/tests/unit/routes/authenticated/places_test.js
Due: eslint --fix

feat(api): add internal route to update campaign name
  api/src/prescription/campaign/application/api/campaigns-api.js
  api/tests/prescription/campaign/unit/application/api/campaigns-api_test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,yml, yaml}
  stylelint --fix: any of: *.scss
