Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

test(api): remove unit tests redundant with integration tests
  api/tests/identity-access-management/unit/domain/usecases/get-user-by-reset-password-demand.usecase.test.js
Due: eslint --fix

test(api): remove unit and integration tests redundant with acceptance tests
  api/tests/identity-access-management/integration/application/password/password.route.test.js
  api/tests/identity-access-management/unit/application/password/password.controller.test.js
  api/tests/identity-access-management/unit/application/password/password.route.test.js
Due: eslint --fix

refactor(api): remove long deprecated and unused payload old format for POST /api/password-reset-demands
  api/src/identity-access-management/application/password/password.route.js
  api/tests/identity-access-management/acceptance/application/password/password.route.test.js
Due: eslint --fix

test(api): add missing tokenService tests
  api/tests/shared/unit/domain/services/token-service_test.js
Due: eslint --fix

refactor(api): fix tokenService JSDoc
  api/src/shared/domain/services/token-service.js
Due: eslint --fix

test(api): add missing a missing test about expiration for getUserByResetPasswordDemand
  api/tests/identity-access-management/integration/domain/usecases/get-user-by-reset-password-demand.usecase.test.js
Due: eslint --fix

refactor(api): remove unused function decodeIfValid
  api/src/shared/domain/services/token-service.js
Due: eslint --fix

refactor(api): reorder passwordController functions in chronological order
  api/src/identity-access-management/application/password/password.controller.js
Due: eslint --fix

refactor(api): remove serializer as a dependency injection
  api/src/identity-access-management/application/password/password.controller.js
Due: eslint --fix

refactor(api): rename explicitly config properties for passwordResetDemand
  api/src/identity-access-management/domain/services/reset-password.service.js
  api/src/shared/config.js
  api/tests/identity-access-management/integration/domain/usecases/get-user-by-reset-password-demand.usecase.test.js
  api/tests/identity-access-management/unit/domain/services/reset-password.service.test.js
Due: eslint --fix

fix(api): make the password reset demand lifespan be configurable through
  api/sample.env
  api/src/shared/config.js
Due: eslint --fix

refactor(api): remove useless config.temporaryKey.payload
  api/src/shared/config.js
Due: eslint --fix

Notes added by 'git notes add'
  bcf261193f103dba33a7a38ec30bd65b19122207
Due: none

[FEATURE] MDX-121 Visio_IND Corrections suite à la relecture finale
  api/src/devcomp/infrastructure/datasources/learning-content/modules/21_Visio_IND.json
Due: none

[FEATURE] MDX-119 Visio_IND Corrections suite à la relecture
  api/src/devcomp/infrastructure/datasources/learning-content/modules/21_Visio_IND.json
Due: none

chore(api): allow legacy and new format of subscription in endpoint payload
  api/src/certification/enrolment/application/certification-candidate-route.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-controller-post-certification-candidate_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/candidate-serializer_test.js
Due: eslint --fix

chore(certif): remove subscriptions object usage in certif
  certif/app/components/sessions/session-details/enrolled-candidates/index.gjs
  certif/tests/acceptance/session-add-candidate-test.js
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/index-test.gjs
Due: eslint --fix

chore(api): stop expecting subscriptions object in endpoint
  api/src/certification/enrolment/application/certification-candidate-route.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-controller-post-certification-candidate_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/candidate-serializer_test.js
Due: eslint --fix

chore(api): remove legacy subscriptions from candidate model
  api/src/certification/enrolment/domain/models/Candidate.js
Due: eslint --fix

chore(certif): linter
  certif/app/adapters/certification-candidate.js
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/index-test.gjs
Due: eslint --fix

chore(api): remove writing to subscription table from candidate repo
  api/src/certification/enrolment/infrastructure/repositories/candidate-repository.js
  api/tests/certification/enrolment/acceptance/application/session-controller-delete-certification-candidate_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/candidate-repository_test.js
Due: eslint --fix

chore(api): linter
  api/src/certification/enrolment/domain/models/Candidate.js
  api/src/certification/enrolment/infrastructure/repositories/candidate-repository.js
  api/src/certification/enrolment/infrastructure/repositories/session-repository.js
  api/tests/certification/enrolment/acceptance/application/session-controller-delete-certification-candidate_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/candidate-repository_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/session-repository_test.js
Due: eslint --fix

chore(api): stop deleting subscriptions when deleting sessions
  api/src/certification/enrolment/infrastructure/repositories/session-repository.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/session-repository_test.js
Due: eslint --fix

chore(certif): remove no longer needed createRecord
  certif/app/adapters/certification-candidate.js
Due: eslint --fix

:bug: (mon-pix): correct drawer display
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results-recommendation-engine.gjs
  mon-pix/tests/acceptance/campaigns/campaign-results-recommendation-engine-test.js
  mon-pix/tests/integration/components/campaigns/assessment/evaluation-results-recommendation-engine-test.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/trainings-test.gjs
Due: eslint --fix

chore(api): fix error exeption to match new attribute name
  api/src/certification/enrolment/domain/services/sessions-import-validation-service.js
Due: eslint --fix

fix(api): subscription in seeds
  api/db/seeds/data/team-certification/cases/pix-plus-droit-v3.js
  api/db/seeds/data/team-certification/cases/pix-plus-edu-2nd-degre-v3.js
  api/db/seeds/data/team-certification/cases/simple-pix-plus-droit-v2.js
Due: eslint --fix

chore(api): delete Subscription model and related files
  api/db/database-builder/factory/build-certification-subscription.js
  api/src/certification/enrolment/domain/models/Subscription.js
  api/src/certification/shared/domain/validators/subscription-validator.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-subscription.js
  api/tests/tooling/domain-builder/factory/index.js
Due: eslint --fix

feat(admin): add organization learners table component
  admin/app/components/organization-learners/list-table.gjs
  admin/app/styles/app.scss
  admin/app/styles/authenticated/organization-learners/list.scss
  admin/tests/integration/components/organization-learners/list-table-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Due: stylelint --fix

chore(admin): hide organization learners search tab in sidebar to prevent large requests until filters are ready
  admin/app/components/layout/sidebar.gjs
  admin/tests/integration/components/layout/sidebar_test.gjs
Due: none

test(admin): add acceptance test for organization learner list
  admin/tests/acceptance/authenticated/organization-learners/list-test.js
  admin/tests/mirage/handlers/admin-organization-learners.js
  admin/tests/mirage/models.js
  admin/tests/mirage/models/admin-organization-learner.js
  admin/tests/mirage/routes.js
  admin/tests/mirage/serializers.js
  admin/tests/mirage/serializers/admin-organization-learner.js
Due: eslint --fix

chore(admin): remove subscription attribute from CertificationCandidate model
  admin/app/components/sessions/session/session-candidates.gjs
  admin/app/models/certification-candidate.js
  admin/app/routes/authenticated/sessions/session/candidates.js
  admin/app/templates/authenticated/sessions/session/candidates.gjs
  admin/tests/integration/components/sessions/session/session-candidates-test.gjs
  admin/tests/mirage/factories/certification-candidate.js
  admin/tests/mirage/models/certification-candidate.js
  admin/tests/mirage/serializers/certification-candidate.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

chore(admin): delete subscription model
  admin/app/models/subscription.js
  admin/tests/mirage/models.js
Due: eslint --fix

feat(orga): hide campaign landing url until course is selected
  orga/app/components/campaign/create-form-catalogue.gjs
  orga/tests/integration/components/campaign/create-form-catalogue-test.gjs
Due: none

feat(orga): hide external ids when needed
  orga/app/components/campaign/create-form-catalogue.gjs
  orga/tests/integration/components/campaign/create-form-catalogue-test.gjs
Due: none

feat(orga): hide the campaign title until a goal is selected
  orga/app/components/campaign/create-form-catalogue.gjs
  orga/tests/integration/components/campaign/create-form-catalogue-test.gjs
Due: none

refactor(orga): rename getters
  orga/app/components/campaign/create-form-catalogue.gjs
Due: none

fix(orga): hides title field for profile collection campaign
  orga/app/components/campaign/create-form-catalogue.gjs
  orga/tests/acceptance/campaign-creation-catalogue-test.js
Due: eslint --fix
