Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

:truck: api: Move isRelatedToCertification to complementaryCertificationBadgeRepository
  api/src/certification/complementary-certification/infrastructure/repositories/complementary-certification-badge-repository.js
  api/src/shared/domain/usecases/delete-unassociated-badge.js
  api/src/shared/domain/usecases/index.js
  api/src/shared/infrastructure/repositories/badge-repository.js
  api/tests/certification/complementary-certification/integration/infrastucture/repositories/complementary-certification-badge-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/badge-repository_test.js
  api/tests/shared/unit/domain/usecases/delete-unassociated-badge_test.js
Due: eslint --fix

test(api): fix wrong monkey-patching of DomainTransaction.execute
  api/tests/prescription/campaign-participation/unit/application/campaign-participation-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/learner-participation-controller_test.js
  api/tests/shared/unit/application/assessments/assessment-controller_test.js
  api/tests/shared/unit/domain/usecases/delete-unassociated-badge_test.js
  api/tests/unit/application/account-recovery/account-recovery-controller_test.js
  api/tests/unit/domain/usecases/account-recovery/update-user-for-account-recovery_test.js
  api/tests/unit/domain/usecases/import-certification-candidates-from-candidates-import-sheet_test.js
Due: eslint --fix

feat(certif): bump pix-ui to v45
  certif/package-lock.json
  certif/package.json
Due: none

feat(certif): update PixInput params
  certif/app/components/auth/register-form.hbs
  certif/app/components/auth/toggable-login-form.hbs
  certif/app/components/login-form.hbs
  certif/app/components/login-session-supervisor-form.hbs
  certif/app/components/new-certification-candidate-modal.hbs
  certif/app/components/session-supervising/candidate-list.hbs
Due: none

feat(certif): update PixInputPassword params
  certif/app/components/auth/register-form.hbs
  certif/app/components/auth/toggable-login-form.hbs
  certif/app/components/login-form.hbs
  certif/app/components/login-session-supervisor-form.hbs
Due: none

feat(certif): update PixRadioButton params
  certif/app/components/new-certification-candidate-modal.hbs
  certif/app/components/session-supervising/handle-live-alert-modal.hbs
Due: none

feat(certif): update PixCheckbox params
  certif/app/components/add-student-list.hbs
  certif/app/components/auth/register-form.hbs
  certif/app/components/session-finalization/complementary-information-step.hbs
  certif/app/components/session-finalization/completed-reports-information-step.hbs
Due: none

feat(certif): update PixMultiSelect params
  certif/app/components/add-student-list.hbs
Due: none

feat(certif): update PixTextarea params
  certif/app/components/issue-report-modal/candidate-information-change-certification-issue-report-fields.hbs
  certif/app/components/issue-report-modal/non-blocking-candidate-issue-certification-issue-report-fields.hbs
  certif/app/components/issue-report-modal/non-blocking-technical-issue-certification-issue-report-fields.hbs
  certif/app/components/issue-report-modal/signature-issue-report-fields.hbs
  certif/app/components/team/invite-form.hbs
Due: none

feat(certif): update PixSelect params
  certif/app/components/issue-report-modal/candidate-information-change-certification-issue-report-fields.hbs
  certif/app/components/issue-report-modal/in-challenge-certification-issue-report-fields.hbs
  certif/app/components/language-switcher.hbs
  certif/app/components/members-list-item.hbs
  certif/app/components/new-certification-candidate-modal.hbs
  certif/app/components/select-referer-modal.hbs
  certif/app/components/session-finalization/uncompleted-reports-information-step.hbs
  certif/tests/acceptance/login_test.js
  certif/tests/acceptance/routes/join_test.js
  certif/tests/integration/components/auth/login-or-register_test.js
  certif/tests/integration/components/language-switcher_test.js
  certif/tests/integration/components/session-finalization/uncompleted-reports-information-step_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

🔨 api: make an untrustable certification assessment canceled even if the score does not grant a certification
  api/lib/domain/events/handle-certification-rescoring.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
Due: eslint --fix

♻️ api: cleanup certification rescoring test setup
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
Due: eslint --fix

✨ api: cancel certification when candidate did not answer enough question due to technical abortion
  api/lib/domain/events/handle-certification-rescoring.js
  api/tests/tooling/domain-builder/factory/certification/scoring/build-assessment-result.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
Due: eslint --fix

feat(api): return auto jury comment when the certification failed due to technical issue
  api/lib/domain/events/handle-certification-scoring.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
Due: eslint --fix

feat(api): add data-builder for oidc-providers
  api/db/database-builder/factory/build-oidc-provider.js
  api/db/seeds/data/team-acces/build-oidc-providers.js
  api/db/seeds/data/team-acces/data-builder.js
Due: eslint --fix

feat(api): add organizationImportDetail createdAt
  api/src/prescription/learner-management/domain/read-models/OrganizationImportDetail.js
  api/src/prescription/learner-management/infrastructure/serializers/jsonapi/organization-import-detail-serializer.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-import-repository_test.js
  api/tests/prescription/learner-management/unit/domain/read-models/OrganizationImportDetail_test.js
  api/tests/prescription/learner-management/unit/infrastructure/serializers/jsonapi/organization-import-detail-serializer_test.js
Due: eslint --fix

chore(orga): avoid linter crash
  orga/package-lock.json
  orga/package.json
Due: none

feat(orga): add import state banner
  orga/app/components/import-banner.gjs
  orga/app/components/import.hbs
  orga/app/components/import.js
  orga/app/models/organization-import-detail.js
  orga/app/styles/app.scss
  orga/app/styles/components/import-banner.scss
  orga/app/styles/components/import.scss
  orga/tests/integration/components/import-banner_test.gjs
  orga/tests/integration/components/import_test.js
  orga/tests/unit/components/import-banner_test.js
  orga/tests/unit/components/import_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix, stylelint --fix

chore(orga): add tooling for gsj file support
  orga/.eslintrc.cjs
  orga/.prettierrc.json
  orga/.template-lintrc.js
  orga/package-lock.json
  orga/package.json
  orga/testem.js
Due: eslint --fix

refactor(api): rename getExternalAuthenticationRedirectionUrl usecase
  api/src/authentication/domain/usecases/get-saml-authentication-redirection-url.js
  api/src/authentication/domain/usecases/index.js
  api/tests/authentication/unit/domain/usecases/get-saml-authentication-redirection-url_test.js
Due: eslint --fix

refactor(api): rename authentication-controller into token-controller
  api/src/authentication/application/token-controller.js
  api/tests/acceptance/application/users/users-controller-update-password_test.js
  api/tests/authentication/acceptance/application/token.route.test.js
  api/tests/authentication/integration/routes_test.js
  api/tests/authentication/unit/token-controller_test.js
Due: eslint --fix

refactor(api): move saml routes from lib to src
  api/lib/application/saml/index.js
  api/lib/routes.js
  api/src/authentication/application/routes.js
  api/src/authentication/application/saml-controller.js
  api/src/authentication/application/saml.route.js
  api/src/authentication/application/token.route.js
  api/src/authentication/infrastructure/saml.js
  api/tests/authentication/acceptance/application/saml.route.test.js
Due: eslint --fix

fix(orga): override pix-input width in campaign creation page
  orga/app/styles/pages/authenticated/campaigns/new.scss
Due: stylelint --fix

[RELEASE] A minor is being released to 4.125.0.
  1d/package-lock.json
  1d/package.json
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

:recycle: api: Rename estimatedLevel to capacity in flash.getPossibleNextChallenges
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/tests/certification/course/unit/domain/usecases/get-next-challenge-for-v3-certification_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/unit/domain/usecases/simulate-flash-deterministic-assessment-scenario_test.js
Due: eslint --fix

:recycle: api: Rename estimatedLevel to capacity in flash.calculateTotalPixScoreAndScoreByCompetence
  api/lib/infrastructure/repositories/participant-result-repository.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
Due: eslint --fix

:recycle: api: Rename estimatedLevel to capacity param in flash.getEstimatedLevelAndErrorRate
  api/lib/domain/usecases/correct-answer-then-update-assessment.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorDoubleMeasureStrategy.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorSingleMeasureStrategy.js
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/src/certification/scoring/domain/models/CertificationAssessmentHistory.js
  api/src/certification/scoring/domain/models/CertificationAssessmentScoreV3.js
  api/src/certification/scoring/domain/models/V3CertificationScoring.js
  api/tests/certification/course/unit/domain/usecases/get-next-challenge-for-v3-certification_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorDoubleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorSingleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentHistory_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentScoreV3_test.js
  api/tests/certification/scoring/unit/domain/models/V3CertificationScoring_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/tests/unit/domain/usecases/correct-answer-then-update-assessment_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/unit/domain/usecases/simulate-flash-deterministic-assessment-scenario_test.js
Due: eslint --fix

:recycle: api: Rename getEstimatedLevelAndErrorRate to getCapacityAndErrorRate in flash.js
  api/lib/domain/usecases/correct-answer-then-update-assessment.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorDoubleMeasureStrategy.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorSingleMeasureStrategy.js
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/src/certification/scoring/domain/models/CertificationAssessmentScoreV3.js
  api/tests/certification/course/unit/domain/usecases/get-next-challenge-for-v3-certification_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorDoubleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorSingleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentScoreV3_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/tests/unit/domain/usecases/correct-answer-then-update-assessment_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/unit/domain/usecases/simulate-flash-deterministic-assessment-scenario_test.js
Due: eslint --fix

:recycle: api: Rename various constants from estimatedLevel to capacity in flash.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
Due: eslint --fix

:recycle: api: Rename getEstimatedLevelAndErrorRateHistory to getCapacityAndErrorRateHistory in flash.js
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/src/certification/scoring/domain/models/CertificationAssessmentHistory.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentHistory_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
Due: eslint --fix

:recycle: api: Rename various constants from estimatedLevel to capacity in FlashAssessmentAlgorithm
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithm_test.js
Due: eslint --fix

:recycle: api: Rename estimatedLevel to capacity in flash.reward
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorDoubleMeasureStrategy.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorSingleMeasureStrategy.js
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorDoubleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorSingleMeasureStrategy_test.js
  api/tests/unit/domain/usecases/simulate-flash-deterministic-assessment-scenario_test.js
Due: eslint --fix

:recycle: api: Rename FlashAssessmentAlgorithm.getPossibleNextChallenges param from answersForComputingEstimatedLevel to answersForComputingCapacity
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorDoubleMeasureStrategy.js
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithm.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorDoubleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
Due: eslint --fix

:recycle: api: Rename various constants from estimatedLevel to capacity in CertificationAssessmentScoreV3
  api/src/certification/scoring/domain/models/CertificationAssessmentScoreV3.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentScoreV3_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
Due: eslint --fix

refactor(mon-pix): extract QCM common logic into a Element parent
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/components/module/qcm/component.js
  mon-pix/app/pods/components/module/qcm/template.hbs
  mon-pix/tests/integration/components/module/qcm_test.js
Due: eslint --fix

refactor(mon-pix): extract Qcu common logic into a Element parent
  mon-pix/app/pods/components/module/element/component.js
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/components/module/qcu/component.js
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/tests/acceptance/module/retry-qcu_test.js
  mon-pix/tests/integration/components/module/qcu_test.js
Due: eslint --fix

feat(mon-pix): re-verify a question after click on retry
  mon-pix/app/pods/components/module/qcu/component.js
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/app/pods/passage/model.js
  mon-pix/tests/acceptance/module/retry-qcu_test.js
Due: eslint --fix

feat(mon-pix): display retry button on ko feedback and enable form on click
  mon-pix/app/pods/components/module/qcu/component.js
  mon-pix/app/pods/components/module/qcu/styles.scss
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/tests/integration/components/module/qcu_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: eslint --fix, stylelint --fix

feat(mon-pix) add retry to qcm
  mon-pix/app/pods/components/module/qcm/styles.scss
  mon-pix/app/pods/components/module/qcm/template.hbs
  mon-pix/tests/acceptance/module/retry-qcm_test.js
  mon-pix/tests/integration/components/module/qcm_test.js
Due: eslint --fix, stylelint --fix

sr(mon-pix): fix bem naming
  mon-pix/app/pods/components/module/qcm/template.hbs
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/app/pods/components/module/qrocm/template.hbs
Due: none
