Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

:recycle: certif: CSS adjustments
  certif/app/components/no-session-panel.hbs
  certif/app/styles/pages/authenticated/sessions/no-session-panel.scss
  certif/tests/integration/components/no-session-panel_test.js
Due: eslint --fix, stylelint --fix

sr(mon-pix): use higher priority testing-library selectors
  mon-pix/tests/integration/components/module/qcu_test.js
Due: eslint --fix

feat(mon-pix): add required alert message for QCU
  mon-pix/app/pods/components/module/qcu/component.js
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/tests/integration/components/module/qcu_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: eslint --fix

fix(root): install eslint-plugin
  package-lock.json
  package.json
Due: none

fix(root): remove duplicate dependency
  package-lock.json
  package.json
Due: none

fix(1d): remove duplicate dependency
  1d/package-lock.json
  1d/package.json
Due: none

♻️ certif: add modules on authenticated acceptance test for sco banner
  certif/tests/acceptance/authenticated_test.js
Due: eslint --fix

✨certif: display role management banner
  certif/app/controllers/authenticated.js
  certif/app/templates/authenticated.hbs
  certif/tests/acceptance/authenticated_test.js
  certif/tests/acceptance/session-details-certification-candidates_test.js
  certif/tests/acceptance/session-finalization_test.js
  certif/tests/unit/controllers/authenticated_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

:recycle: certif: avoid magic string for the certification center types
  certif/app/models/allowed-certification-center-access.js
Due: eslint --fix

:recycle: certif: implement additional getters instead of using isSco in displayRoleManagementBanner()
  certif/app/controllers/authenticated.js
  certif/app/models/allowed-certification-center-access.js
  certif/tests/acceptance/authenticated_test.js
  certif/tests/unit/models/allowed-certification-center-access_test.js
Due: eslint --fix

fix(admin): remove duplicate dependency
  admin/package-lock.json
  admin/package.json
Due: none

bump(audit-logger): update @1024pix/eslint-config to v1.1.1
  audit-logger/package-lock.json
Due: none

fix(audit-logger): remove duplicate dependency
  audit-logger/package-lock.json
  audit-logger/package.json
Due: none

fix(mon-pix): remove duplicate dependency
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

refactor(api): fix flaky test
  api/tests/evaluation/acceptance/application/autonomous-courses/autonomous-course-controller_test.js
Due: eslint --fix

fix(certif): remove duplicate dependency
  certif/package-lock.json
  certif/package.json
Due: none

fix(orga): remove duplicate dependency
  orga/package-lock.json
  orga/package.json
Due: none

Update 1d/app/pods/components/challenge/component.js
  1d/app/pods/components/challenge/component.js
Due: eslint --fix

refactor(1d) trigger enable button event
  1d/tests/acceptance/challenge-item-qroc_test.js
  1d/tests/acceptance/challenge-item-qrocm_test.js
Due: eslint --fix

feat(1d): check button is disabled on uncompleted answers
  1d/app/pods/components/challenge/challenge-item-qrocm/component.js
  1d/app/pods/components/challenge/component.js
  1d/mirage/factories/challenge.js
  1d/tests/acceptance/challenge-item-qcm_test.js
  1d/tests/acceptance/challenge-item-qroc_test.js
  1d/tests/acceptance/challenge-item-qrocm_test.js
  1d/tests/acceptance/challenge-workflow_test.js
Due: eslint --fix

feat(1d) enable check button after first letter given
  1d/app/pods/components/challenge/challenge-item-qroc/template.hbs
  1d/app/pods/components/challenge/challenge-item-qrocm/template.hbs
Due: none

Path conditions:
  eslint --fix: any of: *.{js,yml, yaml}
  stylelint --fix: any of: *.scss
