Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

feat(1d) enable check button after first letter given
  1d/app/pods/components/challenge/challenge-item-qroc/template.hbs
  1d/app/pods/components/challenge/challenge-item-qrocm/template.hbs
Due: none

feat(1d): check button is disabled on uncompleted answers
  1d/app/pods/components/challenge/challenge-item-qrocm/component.js
  1d/app/pods/components/challenge/component.js
  1d/mirage/factories/challenge.js
  1d/tests/acceptance/challenge-item-qcm_test.js
  1d/tests/acceptance/challenge-item-qroc_test.js
  1d/tests/acceptance/challenge-item-qrocm_test.js
  1d/tests/acceptance/challenge-workflow_test.js
Due: eslint --fix

:recycle: controller renaming
  api/src/certification/session/application/certification-candidate-controller.js
  api/src/certification/session/application/certification-candidate-route.js
  api/tests/certification/session/unit/application/certification-candidate-controller_test.js
  api/tests/certification/session/unit/application/certification-candidate-route_test.js
Due: eslint --fix

:recycle: api: GET /api/sessions/{id}/certification-candidates to src
  api/lib/application/sessions/index.js
  api/lib/application/sessions/session-controller.js
  api/src/certification/session/application/certification-candidate-controller.js
  api/src/certification/session/application/certification-candidate-route.js
  api/tests/certification/session/unit/application/certification-candidate-controller_test.js
  api/tests/certification/session/unit/application/certification-candidate-route_test.js
  api/tests/unit/application/session/index_test.js
  api/tests/unit/application/session/session-controller_test.js
Due: eslint --fix

:recycle: api: getSessionCertificationCandidates to src
  api/lib/application/sessions/session-controller.js
  api/src/certification/session/application/certification-candidate-controller.js
  api/src/certification/session/domain/usecases/get-session-certification-candidates.js
  api/tests/certification/session/unit/application/certification-candidate-controller_test.js
  api/tests/certification/session/unit/domain/usecases/get-session-certification-candidates_test.js
  api/tests/unit/application/session/session-controller_test.js
Due: eslint --fix

:recycle: api: DELETE /api/sessions/{id}/certification-candidates/{certificationCandidateId} moved to src
  api/lib/application/sessions/index.js
  api/lib/application/sessions/session-controller.js
  api/src/certification/session/application/certification-candidate-controller.js
  api/src/certification/session/application/certification-candidate-route.js
  api/src/certification/session/domain/usecases/delete-unlinked-certification-candidate.js
  api/tests/acceptance/application/session/session-controller-delete-certification-candidate_test.js
  api/tests/certification/session/unit/application/certification-candidate-controller_test.js
  api/tests/certification/session/unit/application/certification-candidate-route_test.js
  api/tests/certification/session/unit/domain/usecases/delete-unlinked-certification-candidate_test.js
  api/tests/unit/application/session/index_test.js
  api/tests/unit/application/session/session-controller_test.js
Due: eslint --fix

:recycle: api: move CertificationCandidateForbiddenDeletionError to src
  api/lib/application/error-manager.js
  api/lib/domain/errors.js
  api/src/certification/session/domain/errors.js
  api/src/certification/session/domain/usecases/delete-unlinked-certification-candidate.js
  api/src/shared/application/error-manager.js
  api/tests/certification/session/unit/domain/usecases/delete-unlinked-certification-candidate_test.js
  api/tests/integration/application/error-manager_test.js
  api/tests/shared/unit/application/error-manager_test.js
  api/tests/unit/domain/errors_test.js
Due: eslint --fix

:recycle: api: uniformization of controller methods calls
  api/src/certification/session/application/certification-candidate-controller.js
  api/src/certification/session/application/certification-candidate-route.js
  api/tests/certification/session/unit/application/certification-candidate-controller_test.js
  api/tests/certification/session/unit/application/certification-candidate-route_test.js
Due: eslint --fix

:recycle: api: migrating to the new domain error system
  api/src/certification/session/application/http-error-mapper-configuration.js
  api/src/shared/application/error-manager.js
  api/tests/certification/session/unit/application/http-error-mapper-configuration_test.js
  api/tests/shared/unit/application/error-manager_test.js
Due: eslint --fix

fix(api): respect french typography non breaking spaces before colon
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Due: none

feat(api): add inline style to some lists in first module
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Due: none

feat(mon-pix): allow team contenu to use 'pix-list-inline' CSS class on paragraphs followed by ul
  mon-pix/app/pods/module/get/styles.scss
Due: stylelint --fix

feat(mon-pix): add tracking on alternative text button
  mon-pix/app/pods/components/module/image/component.js
  mon-pix/tests/unit/components/module/image_test.js
Due: eslint --fix

:sparkles: api: move mass import routes to src
  api/lib/application/certification-centers/index.js
  api/src/certification/session/application/session-mass-import-route.js
  api/src/certification/session/routes.js
  api/tests/acceptance/application/certification-centers/sessions-mass-import/certification-centers-controller-post-create-sessions_test.js
  api/tests/certification/session/acceptance/application/session-mass-import-route_test.js
  api/tests/certification/session/unit/application/session-mass-import-route_test.js
  api/tests/unit/application/certification-centers/index_test.js
Due: eslint --fix

:sparkles: api: add jsdoc to mass import usecases
  api/src/certification/session/domain/usecases/create-sessions.js
  api/src/certification/session/domain/usecases/validate-sessions.js
Due: eslint --fix

:sparkles: api: move mass import services to src
  api/lib/domain/usecases/index.js
  api/src/certification/session/domain/services/sessions-import-validation-service.js
  api/src/certification/session/domain/services/temporary-sessions-storage-for-mass-import-service.js
  api/src/certification/shared/domain/usecases/index.js
  api/tests/certification/session/acceptance/application/session-mass-import-route_test.js
  api/tests/certification/session/unit/domain/services/sessions-import-validation-service_test.js
  api/tests/certification/session/unit/domain/services/temporary-sessions-storage-for-mass-import-service_test.js
Due: eslint --fix

:sparkles: api: move mass import usecases to src
  api/lib/domain/usecases/index.js
  api/src/certification/session/application/session-mass-import-controller.js
  api/src/certification/session/application/session-mass-import-route.js
  api/src/certification/session/domain/usecases/create-sessions.js
  api/src/certification/session/domain/usecases/validate-sessions.js
  api/tests/certification/session/unit/application/session-mass-import-controller_test.js
  api/tests/certification/session/unit/application/session-mass-import-route_test.js
  api/tests/certification/session/unit/domain/usecases/create-sessions_test.js
  api/tests/certification/session/unit/domain/usecases/validate-sessions_test.js
Due: eslint --fix

:sparkles: api: move mass import controller methods to src
  api/lib/application/certification-centers/certification-center-controller.js
  api/src/certification/session/application/session-mass-import-controller.js
  api/src/certification/session/application/session-mass-import-route.js
  api/tests/certification/session/unit/application/session-mass-import-controller_test.js
  api/tests/certification/session/unit/application/session-mass-import-route_test.js
  api/tests/unit/application/certification-centers/certification-center-controller_test.js
Due: eslint --fix

:sparkles: api: move SessionMassImportReport model to src
  api/lib/domain/usecases/sessions-mass-import/validate-sessions.js
  api/src/certification/session/domain/models/SessionMassImportReport.js
  api/tests/certification/session/unit/domain/models/SessionMassImportReport_test.js
  api/tests/unit/domain/usecases/sessions-mass-import/validate-sessions_test.js
Due: eslint --fix

:lipstick: api: rename usecases into libUsecases
  api/src/certification/session/application/session-mass-import-controller.js
  api/tests/certification/session/unit/application/session-mass-import-controller_test.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.71.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none
