Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

test(api): add test for disabled training
  api/tests/devcomp/integration/infrastructure/repositories/user-recommended-training-repository_test.js
Due: eslint --fix

test(admin): add forgotten statistics component test
  admin/tests/integration/components/organizations/statistics-test.gjs
Due: none

feat(admin): display total participants count by year in stats tab
  admin/app/components/organizations/statistics.gjs
  admin/app/components/organizations/statistics.scss
  admin/app/models/organization-statistic.js
  admin/tests/integration/components/organizations/statistics-test.gjs
Due: eslint --fix, stylelint --fix

feat(admin): add new keys for stats in translations
  admin/translations/en.json
  admin/translations/fr.json
Due: none

chore(release): 5.424.0 [skip ci]
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

fix(api): do not create profile-reward if combined course's quest has no reward
  api/src/quest/domain/usecases/update-combined-course-progress.js
  api/tests/quest/integration/domain/usecases/update-combined-course-progress_test.js
Due: eslint --fix

feat(admin): adds route component template to edit blueprint
  admin/app/components/combined-course-blueprints/details.gjs
  admin/app/components/combined-course-blueprints/form.gjs
  admin/app/router.js
  admin/app/routes/authenticated/combined-course-blueprints/edit.js
  admin/app/serializers/combined-course-blueprint.js
  admin/app/styles/components/combined-course-blueprints/list.scss
  admin/app/templates/authenticated/combined-course-blueprints/edit.gjs
  admin/tests/acceptance/authenticated/combined-course-blueprints/create-combined-course-blueprint-test.js
  admin/tests/acceptance/authenticated/combined-course-blueprints/update-combined-course-blueprint-test.js
  admin/tests/integration/components/combined-course-blueprints/form-test.gjs
  admin/tests/mirage/routes.js
  admin/tests/unit/serializers/combined-course-blueprint-test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix, stylelint --fix

chore(release): 5.425.0 [skip ci]
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

feat(api): add isEqual() on CommonOrganizationLearner model
  api/src/prescription/learner-management/domain/models/CommonOrganizationLearner.js
  api/tests/prescription/learner-management/unit/domain/models/CommonOrganizationLearner_test.js
Due: eslint --fix

feat(api): adds update method and route for combined course blueprints
  api/db/database-builder/factory/build-combined-course-blueprint.js
  api/src/quest/application/combined-course-blueprint-controller.js
  api/src/quest/application/combined-course-blueprint-route.js
  api/src/quest/domain/models/CombinedCourseBlueprint.js
  api/src/quest/domain/models/CombinedCourseBlueprintForUpdate.js
  api/src/quest/domain/usecases/index.js
  api/src/quest/domain/usecases/update-combined-course-blueprint.js
  api/src/quest/infrastructure/repositories/combined-course-blueprint-repository.js
  api/src/quest/infrastructure/serializers/combined-course-blueprint-for-update-serializer.js
  api/tests/quest/acceptance/application/combined-course-blueprint-route_test.js
  api/tests/quest/integration/domain/usecases/update-combined-course-blueprint_test.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-blueprint-repository_test.js
  api/tests/quest/unit/application/combined-course-blueprint-route_test.js
  api/tests/quest/unit/domain/models/CombinedCourseBlueprint_test.js
  api/tests/quest/unit/infrastructure/serializers/combined-course-blueprint-for-update-serializer_test.js
  api/tests/quest/unit/infrastructure/serializers/combined-course-blueprint-serializer_test.js
Due: eslint --fix

feat(api): handle duplicate line in common organization import
  api/src/prescription/learner-management/domain/models/ImportOrganizationLearnerSet.js
  api/tests/prescription/learner-management/unit/domain/models/ImportOrganizationLearnerSet_test.js
Due: eslint --fix

:broom: chore(api) remove duplicate model ComplementaryCertification
  api/src/certification/configuration/domain/models/ComplementaryCertification.js
  api/src/certification/configuration/infrastructure/repositories/complementary-certification-repository.js
  api/src/certification/results/infrastructure/repositories/certification-parcoursup-repository.js
  api/src/certification/shared/domain/models/ComplementaryCertification.js
  api/tests/certification/configuration/unit/infrastructure/serializers/complementary-certification-serializer_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/certification-candidate-repository_test.js
  api/tests/certification/results/integration/infrastructure/repositories/certification-parcoursup-repository_test.js
  api/tests/tooling/domain-builder/factory/certification/complementary-certification/build-complementary-certification.js
  api/tests/tooling/domain-builder/factory/certification/results/parcoursup/build-certification-result.js
Due: eslint --fix

feat(api): add locale fallback to language when no tutorials found
  api/src/devcomp/infrastructure/repositories/tutorial-repository.js
  api/tests/devcomp/integration/infrastructure/repositories/tutorial-repository_test.js
Due: eslint --fix

feat(api): admin combined course blueprint model is renamed into combined course blueprint for creation
  api/src/quest/application/combined-course-blueprint-controller.js
  api/src/quest/domain/models/AdminCombinedCourseBlueprintDetails.js
  api/src/quest/domain/models/CombinedCourseBlueprintForCreation.js
  api/src/quest/domain/usecases/create-combined-course-blueprint.js
  api/src/quest/infrastructure/serializers/combined-course-blueprint-for-creation-serializer.js
  api/tests/quest/integration/domain/usecases/create-combined-course-blueprint_test.js
  api/tests/quest/integration/domain/usecases/get-combined-course-blueprint-by-id_test.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-blueprint-repository_test.js
  api/tests/quest/unit/domain/models/CombinedCourseBlueprintForCreation_test.js
  api/tests/quest/unit/infrastructure/serializers/combined-course-blueprint-for-creation-serializer_test.js
Due: eslint --fix

chore(api): remove reading to subscription table from enrolment candidate repo
  api/src/certification/enrolment/infrastructure/repositories/candidate-repository.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/candidate-repository_test.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-candidate.js
Due: eslint --fix

🔥(api): delete getModule usecase (used slug)
  api/src/devcomp/domain/usecases/get-module.js
  api/src/devcomp/domain/usecases/index.js
  api/tests/devcomp/unit/domain/usecases/get-module_test.js
Due: eslint --fix

chore(api): fix tests
  api/tests/acceptance/application/session/session-controller_test.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-route_test.js
  api/tests/certification/enrolment/acceptance/application/enrolment-route_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/session-candidate-serializer_test.js
Due: eslint --fix

refactor(api): move quest security pre-handlers from shared
  api/src/quest/application/combined-course-route.js
  api/src/quest/application/security-pre-handlers.js
  api/src/quest/application/usecases/check-participation-belongs-to-combined-course.js
  api/src/quest/application/usecases/check-user-can-manage-combined-course.js
  api/src/quest/domain/usecases/can-manage-combined-course.js
  api/src/quest/domain/usecases/has-access-to-combined-course.js
  api/src/quest/domain/usecases/index.js
  api/src/quest/domain/usecases/is-participation-on-combined-course.js
  api/src/shared/application/security-pre-handlers.js
  api/src/shared/dependencies.json
  api/tests/prescription/campaign/integration/application/usecases/checkCampaignBelongsToCombinedCourse_test.js
  api/tests/quest/acceptance/application/security-pre-handlers_test.js
  api/tests/quest/integration/domain/usecases/can-manage-combined-course_test.js
  api/tests/quest/integration/domain/usecases/has-access-to-combined-course_test.js
  api/tests/quest/integration/domain/usecases/is-participation-on-combined-course_test.js
  api/tests/quest/unit/application/combined-course-route_test.js
  api/tests/quest/unit/application/security-pre-handlers_test.js
  api/tests/shared/acceptance/application/security-pre-handlers_test.js
  api/tests/shared/unit/application/security-pre-handlers_test.js
Due: eslint --fix

fix(api): makes columns in profile-rewards not nullable
  api/db/migrations/20260605070510_make-profile-rewards-reward-id-not-nullable.js
Due: eslint --fix

fix(api): fixes incorrect reward types in tests
  api/tests/prescription/scripts/integration/delete-and-anonymise-previous-archive-organization_test.js
  api/tests/prescription/scripts/integration/delete-and-anonymise-previous-organization-learners_test.js
Due: eslint --fix

chore(api): fix candidate import
  api/src/certification/enrolment/infrastructure/candidates-import/CandidateData.js
  api/src/certification/enrolment/infrastructure/candidates-import/fill-candidates-import-sheet.js
  api/tests/certification/enrolment/integration/infrastructure/candidates-import/fill-candidates-import-sheet_test.js
  api/tests/certification/enrolment/unit/infrastructure/candidates-import/CandidateData_test.js
Due: eslint --fix

🔥(api): remove getBySlug handling in module controller
  api/src/devcomp/application/modules/module-controller.js
  api/tests/devcomp/unit/application/modules/module-controller_test.js
Due: eslint --fix

chore(certif): allow certif to accept new subscription format in get
  certif/app/adapters/certification-candidate.js
  certif/app/components/sessions/session-details/enrolled-candidates/index.gjs
  certif/app/models/certification-candidate.js
Due: eslint --fix

chore(api): remove reading to subscription table in shared session repo
  api/src/certification/enrolment/infrastructure/serializers/session-candidate-serializer.js
  api/src/certification/shared/infrastructure/repositories/session-repository.js
  api/tests/certification/shared/integration/infrastructure/repositories/session-repository_test.js
Due: eslint --fix

refactor(api): move checkCombinedCoursesFeatureIsEnabled to quest context
  api/src/quest/application/combined-course-route.js
  api/src/quest/application/security-pre-handlers.js
  api/src/shared/application/security-pre-handlers.js
  api/tests/quest/acceptance/application/security-pre-handlers_test.js
  api/tests/quest/unit/application/combined-course-route_test.js
  api/tests/shared/integration/application/security-pre-handlers_test.js
Due: eslint --fix

chore(api): stop reading from subscription table in enrolled candidate repo
  api/src/certification/enrolment/domain/read-models/EnrolledCandidate.js
  api/src/certification/enrolment/infrastructure/repositories/enrolled-candidate-repository.js
  api/src/certification/enrolment/infrastructure/serializers/enrolled-candidate-serializer.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/enrolled-candidate-repository_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/enrolled-candidate-serializer_test.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-enrolled-candidate.js
Due: eslint --fix

chore(release): 5.426.0 [skip ci]
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

🔥(api): remove modules/:slug route
  api/src/devcomp/application/modules/module-route.js
  api/tests/devcomp/acceptance/application/modules/module-route_test.js
  api/tests/devcomp/integration/application/modules/module-route_test.js
Due: eslint --fix

Update IAGenFonction_Ava.json - ajout picto
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenFonction_Ava.json
Due: none

fix: harmonisation "point de collecte spécialisé"
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_durabilite_Nov.json
Due: none

fix: se questionner, qcu > qcu-discovery
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_durabilite_Nov.json
Due: none

fix: dec 1 gras + consignes + typo etc
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_durabilite_Nov.json
Due: none

fix: reformulation + typo leçon 1
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_durabilite_Nov.json
Due: none

fix: dec2 reformulation + typo + changement question
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_durabilite_Nov.json
Due: none

fix: dec3 reformulation + typos
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_durabilite_Nov.json
Due: none

fix: leçon 3 : typo
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_durabilite_Nov.json
Due: none

wip
  a11y.txt
Due: none

fix: dec4 : harmonisation + reformulation
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_durabilite_Nov.json
Due: none

Notes added by 'git notes add'
  ac25637fca13b62cf94567795c9e212adf068c10
Due: none

TODO
  api/src/identity-access-management/domain/models/UserAccessToken.js
  api/src/identity-access-management/domain/usecases/authenticate-anonymous-user.usecase.js
  api/src/identity-access-management/domain/usecases/authenticate-oidc-user.usecase.js
  api/src/identity-access-management/domain/usecases/authenticate-user.usecase.js
  api/src/identity-access-management/domain/usecases/create-access-token-from-refresh-token.usecase.js
  api/src/identity-access-management/infrastructure/repositories/revoked-user-access.repository.js
  api/src/identity-access-management/infrastructure/server-authentication.js
  api/src/privacy/domain/usecases/anonymize-user.usecase.js
Due: eslint --fix
