Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat(orga): Add mission detail page
  orga/app/adapters/mission.js
  orga/app/components/campaign/empty-state.hbs
  orga/app/components/campaign/header/title.hbs
  orga/app/components/campaign/settings/view.hbs
  orga/app/components/copy-paste-button.hbs
  orga/app/components/copy-paste-button.js
  orga/app/components/mission/header.hbs
  orga/app/components/mission/header.js
  orga/app/components/mission/mission-information.hbs
  orga/app/components/mission/mission-information.js
  orga/app/controllers/authenticated/missions/list.js
  orga/app/models/mission.js
  orga/app/models/organization.js
  orga/app/router.js
  orga/app/routes/authenticated/missions/details.js
  orga/app/styles/app.scss
  orga/app/styles/components/mission/header.scss
  orga/app/styles/components/mission/index.scss
  orga/app/styles/pages/authenticated/mission.scss
  orga/app/templates/authenticated/missions/details.hbs
  orga/app/templates/authenticated/missions/list.hbs
  orga/mirage/config.js
  orga/tests/acceptance/missions-details_test.js
  orga/tests/acceptance/missions-list_test.js
  orga/tests/integration/components/copy-paste-button_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix, stylelint --fix

feat(orga): Add mission detail page
  orga/app/components/mission/header.hbs
Due: none

Update orga/translations/fr.json
  orga/translations/fr.json
Due: none

feat(orga): Add mission detail page
  orga/app/adapters/mission.js
Due: eslint --fix

Update orga/app/styles/app.scss
  orga/app/styles/app.scss
Due: stylelint --fix

[RELEASE] A minor is being released to 4.108.0.
  1d/package-lock.json
  1d/package.json
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

💄 mon-pix: fix list style on feedback certification section
  mon-pix/app/components/feedback-certification-section.hbs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/_feedback-certification-section.scss
Due: stylelint --fix

💬 mon-pix: fix wording on feedback certification section
  mon-pix/app/components/feedback-certification-section.hbs
  mon-pix/tests/integration/components/feedback-certification-section_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: eslint --fix

♿️ certif: improve the HTML semantics of the information list
  certif/app/components/session-supervising/header.hbs
  certif/tests/integration/components/session-supervising/header_test.js
Due: eslint --fix

✨ certif: add address attribut in sessionForSupervising model and display it in the session-supervising header component
  certif/app/components/session-supervising/header.hbs
  certif/app/models/session-for-supervising.js
  certif/tests/integration/components/session-supervising/header_test.js
  certif/tests/unit/models/session-for-supervising_test.js
Due: eslint --fix

:sparkles: certif: use correct translation keys for the supervisor page
  certif/app/components/session-supervising/header.hbs
  certif/translations/en.json
  certif/translations/fr.json
Due: none

🔥 (api/certif): remove unused certificationCenterName property in sessionForSupervising
  api/lib/domain/read-models/SessionForSupervising.js
  api/lib/infrastructure/repositories/sessions/session-for-supervising-repository.js
  api/lib/infrastructure/serializers/jsonapi/session-for-supervising-serializer.js
  api/tests/integration/infrastructure/repositories/sessions/session-for-supervising-repository_test.js
  api/tests/tooling/domain-builder/factory/build-session-for-supervising.js
  api/tests/unit/infrastructure/serializers/jsonapi/session-for-supervising-serializer_test.js
  certif/app/models/session-for-supervising.js
  certif/tests/integration/components/session-supervising/header_test.js
  certif/tests/unit/models/session-for-supervising_test.js
Due: eslint --fix

✨ api: add session address in the SessionForSupervising when retrieved from repository get method
  api/lib/domain/read-models/SessionForSupervising.js
  api/lib/infrastructure/repositories/sessions/session-for-supervising-repository.js
  api/tests/integration/infrastructure/repositories/sessions/session-for-supervising-repository_test.js
Due: eslint --fix

✨ api: serialize address attribute from sessionForSupervising in the controller and update the builder used in controller tests
  api/lib/infrastructure/serializers/jsonapi/session-for-supervising-serializer.js
  api/tests/tooling/domain-builder/factory/build-session-for-supervising.js
  api/tests/unit/infrastructure/serializers/jsonapi/session-for-supervising-serializer_test.js
Due: eslint --fix

📝 api: deprecate route /api/certification-courses/{id}
  api/lib/application/certification-courses/index.js
Due: eslint --fix

✨ api: create PATCH /api/admin/certification-courses/{certificationCourseId} route
  api/lib/application/certification-courses/certification-course-controller.js
  api/lib/application/certification-courses/index.js
  api/tests/acceptance/application/certification-courses/certification-course-controller_test.js
Due: eslint --fix

♻️ api: move admin route to admin array
  api/lib/application/certification-courses/index.js
Due: eslint --fix

✨ admin: add admin in PATCH /api/certification-courses/{certificationCourseId} route
  admin/app/adapters/certification.js
  admin/mirage/config.js
  admin/tests/acceptance/authenticated/certifications/certification/informations_test.js
  admin/tests/unit/adapters/certification_test.js
Due: eslint --fix

:recycle: refactor: move solution adapter to src
  api/lib/infrastructure/repositories/index.js
  api/src/school/infrastructure/repositories/challenge-repository.js
  api/src/shared/infrastructure/adapters/solution-adapter.js
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/tests/unit/infrastructure/adapters/solution-adapter_test.js
Due: eslint --fix

Add application version in API call for every frontend version
  1d/app/adapters/application.js
  admin/app/adapters/application.js
  certif/app/adapters/application.js
  orga/app/adapters/application.js
Due: eslint --fix

Add Pix app version in dedicated header
  mon-pix/app/adapters/application.js
Due: eslint --fix

fix(admin): loadAllAvailableIdentityProviders in beforeModel for organization
  admin/app/routes/authenticated/organizations/get.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
