Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

tech(certif): remove RSVP usage
  certif/tests/integration/components/auth/toggable-login-form-test.js
  certif/tests/integration/components/login-test.gjs
  certif/tests/unit/adapters/certification-point-of-contact-test.js
  certif/tests/unit/adapters/division-test.js
  certif/tests/unit/adapters/session-for-supervising-test.js
  certif/tests/unit/adapters/student-test.js
  certif/tests/unit/services/current-user-test.js
  certif/tests/unit/services/feature-toggles-test.js
Due: eslint --fix

[BUMP] Mise à jour d'epreuves components (#17438)
  api/package-lock.json
  api/package.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/demo-epreuves-components.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

[TECH] Conserver le mode examen lors de la duplication d'une campagne (PIX-23813) (#17412)
  orga/app/routes/authenticated/campaigns/new.js
  orga/tests/unit/routes/authenticated/campaigns/new-test.js
Due: eslint --fix

[TECH] Supprime tous les usages de `RSVP` dans les applications front. (#17434)
  admin/app/routes/authenticated/certification-frameworks/certification-framework/versions/new.js
  admin/app/routes/authenticated/organizations/get/invitations.js
  admin/app/routes/authenticated/organizations/list.js
  admin/app/routes/authenticated/organizations/new.js
  admin/app/routes/authenticated/sessions/certification/informations.js
  admin/app/routes/authenticated/sessions/session/certifications.js
  admin/app/routes/authenticated/target-profiles/target-profile/badges/badge.js
  admin/app/routes/authenticated/trainings/training/target-profiles.js
  admin/app/routes/authenticated/users/get/authentication-methods.js
  admin/eslint.config.mjs
  admin/tests/integration/components/login-form-test.gjs
  admin/tests/unit/services/current-user-test.js
  admin/tests/unit/services/feature-toggles-test.js
  certif/eslint.config.mjs
  certif/tests/integration/components/auth/toggable-login-form-test.js
  certif/tests/integration/components/login-test.gjs
  certif/tests/unit/adapters/certification-point-of-contact-test.js
  certif/tests/unit/adapters/division-test.js
  certif/tests/unit/adapters/session-for-supervising-test.js
  certif/tests/unit/adapters/student-test.js
  certif/tests/unit/services/current-user-test.js
  certif/tests/unit/services/feature-toggles-test.js
  junior/eslint.config.mjs
  mon-pix/app/routes/assessments/challenge.js
  mon-pix/eslint.config.mjs
  mon-pix/tests/integration/components/feedback-panel-test.gjs
  mon-pix/tests/unit/services/competence-evaluation-test.js
  orga/eslint.config.mjs
Due: eslint --fix

✨️(api): create script
  api/src/prescription/scripts/set-highlighted-trainings-for-campaign.js
  api/tests/prescription/scripts/integration/set-highlighted-trainings-for-campaign_test.js
Due: eslint --fix

docs(architecture): add the DDD and Clean Architecture corpus
  docs/fr/architecture/corpus-index.md
  docs/fr/architecture/fiche-api-interne.md
  docs/fr/architecture/fiche-application.md
  docs/fr/architecture/fiche-controleur.md
  docs/fr/architecture/fiche-entite.md
  docs/fr/architecture/fiche-objet-valeur.md
  docs/fr/architecture/fiche-racine-agregat.md
  docs/fr/architecture/fiche-read-model.md
  docs/fr/architecture/fiche-repository.md
  docs/fr/architecture/fiche-route.md
  docs/fr/architecture/fiche-serialiseur.md
  docs/fr/architecture/fiche-service-domaine.md
  docs/fr/architecture/fiche-specification.md
  docs/fr/architecture/fiche-usecase.md
  docs/fr/architecture/invariants-clean-archi-ddd.md
  docs/fr/architecture/migration-typescript.md
  docs/fr/architecture/rapport-divergence-quest.md
  docs/fr/architecture/references-ddd.md
Due: none

chore(release): 5.498.1 [skip ci]
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  b3b0a5242b74147e4548378bfe5ae5c2f1f87b96
Due: none

docs(architecture): rework the entity and aggregate root fiches
  docs/fr/architecture/corpus-index.md
  docs/fr/architecture/fiche-entite.md
  docs/fr/architecture/fiche-racine-agregat.md
Due: none

[TECH] Créer un script permettant l'ajout des ids de contenus formatifs pour la mise en avant en fin de parcours (PIX-24009). (#17410)
  api/src/prescription/scripts/set-highlighted-trainings-for-campaign.js
  api/tests/prescription/scripts/integration/set-highlighted-trainings-for-campaign_test.js
Due: eslint --fix

feat(api): add new attributes to certificationPointOfContact serializer
  api/src/deprecated/infrastructure/serializers/jsonapi/certification-point-of-contact.serializer.js
  api/tests/deprecated/unit/infrastructure/serializers/jsonapi/certification-point-of-contact.serializer.test.js
Due: eslint --fix

feat(api): add isAccepted getter to LegalDocumentStatus to encapsulate status logic
  api/src/legal-documents/domain/models/LegalDocumentStatus.js
Due: eslint --fix

feat(api): get certif tos status in getCertificationPointOfContact usecase
  api/src/deprecated/domain/usecases/get-certification-point-of-contact.js
  api/src/identity-access-management/infrastructure/repositories/legal-document-api.repository.js
  api/tests/deprecated/integration/domain/usecases/get-certification-point-of-contact.test.js
Due: eslint --fix

feat(api): add builder for legalDocumentStatus
  api/tests/tooling/domain-builder/factory/build-legal-document-status.js
  api/tests/tooling/domain-builder/factory/index.js
Due: eslint --fix

feat(api): add legal document seed for Pix Certif
  api/db/seeds/data/common/common-builder.js
  api/db/seeds/data/common/constants.js
  api/db/seeds/data/common/tooling/legal-documents.js
Due: eslint --fix

feat(api): add new attributes in CertificationPointOfContact model called by repository and domain builder
  api/src/deprecated/infrastructure/repositories/certification-point-of-contact-repository.js
  api/src/organizational-entities/domain/read-models/CertificationPointOfContact.js
  api/tests/deprecated/integration/infrastructure/repositories/certification-point-of-contact-repository.test.js
  api/tests/tooling/domain-builder/factory/build-certification-point-of-contact.js
Due: eslint --fix

feat(api): remove unused pixCertifTermsOfServiceAccepted from getAuthorizedCenterIds method
  api/src/deprecated/infrastructure/repositories/certification-point-of-contact-repository.js
  api/tests/deprecated/integration/infrastructure/repositories/certification-point-of-contact-repository.test.js
Due: eslint --fix

docs(architecture): rework the usecase and domain service fiches
  docs/fr/architecture/corpus-index.md
  docs/fr/architecture/fiche-entite.md
  docs/fr/architecture/fiche-service-domaine.md
  docs/fr/architecture/fiche-usecase.md
Due: none

docs(architecture): rework the specification fiche
  docs/fr/architecture/corpus-index.md
  docs/fr/architecture/fiche-objet-valeur.md
  docs/fr/architecture/fiche-specification.md
Due: none

:recycle: (mon-pix): change trainingsPerPage variable scope
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/trainings.gjs
Due: none

docs(architecture): number every gap with X, not the invariant prefix
  docs/fr/architecture/corpus-index.md
  docs/fr/architecture/fiche-objet-valeur.md
  docs/fr/architecture/fiche-racine-agregat.md
  docs/fr/architecture/fiche-read-model.md
  docs/fr/architecture/fiche-repository.md
  docs/fr/architecture/fiche-usecase.md
Due: none

tech(orga): convert participant models to TS
  orga/app/models/available-campaign-participation.js
  orga/app/models/available-campaign-participation.ts
  orga/app/models/campaign-participant-activity.js
  orga/app/models/campaign-participant-activity.ts
  orga/app/models/campaign-profiles-collection-participation-summary.js
  orga/app/models/campaign-profiles-collection-participation-summary.ts
  orga/app/models/dependent-user.js
  orga/app/models/dependent-user.ts
  orga/app/models/organization-learner-activity.js
  orga/app/models/organization-learner-activity.ts
  orga/app/models/organization-learner-filter.js
  orga/app/models/organization-learner-filter.ts
  orga/app/models/organization-learner-participation.js
  orga/app/models/organization-learner-participation.ts
  orga/app/models/organization-learner-statistic.js
  orga/app/models/organization-learner-statistic.ts
  orga/app/models/organization-learner.js
  orga/app/models/organization-learner.ts
  orga/app/models/organization-participant.js
  orga/app/models/organization-participant.ts
  orga/app/models/sco-organization-participant.js
  orga/app/models/sco-organization-participant.ts
  orga/app/models/sup-organization-participant.js
  orga/app/models/sup-organization-participant.ts
  orga/app/utils/campaign-participation-statuses.ts
  orga/app/utils/campaign-types.ts
Due: eslint --fix

tech(api): run oxlint migration tool
  api/.oxlintrc.json
  api/package-lock.json
  api/package.json
Due: none

docs(architecture): rework the four application-layer fiches
  docs/fr/architecture/corpus-index.md
  docs/fr/architecture/fiche-api-interne.md
  docs/fr/architecture/fiche-controleur.md
  docs/fr/architecture/fiche-route.md
  docs/fr/architecture/fiche-serialiseur.md
Due: none

[FEATURE] migration pour remettre des contraintes "not nullable" supprimés par inadvertance (PIX-24132) (#17429)
  api/db/migrations/20260908134704_restore-not-nullable-for-attestations-key-and-template-name.js
  api/db/migrations/20260908140000_restore-not-nullable-for-quests-success-requirements.js
  api/db/migrations/20260908150000_restore-not-nullable-for-organizations-profile-rewards-organization-id.js
Due: eslint --fix

feat(admin): add static stepper
  admin/app/styles/components/certification-frameworks/certification-frameworks/framework.scss
  admin/app/templates/authenticated/certification-frameworks/certification-framework/versions.gjs
  admin/translations/en.json
  admin/translations/fr.json
Due: stylelint --fix

sr(api): removes expiration from InMemoryKeyValueStorage
  api/src/shared/infrastructure/key-value-storages/InMemoryKeyValueStorage.js
  api/tests/shared/unit/infrastructure/key-value-storages/InMemoryKeyValueStorage_test.js
Due: eslint --fix

refactor(api): stops storing timestamp for revoked sessions
  api/src/identity-access-management/infrastructure/repositories/revoked-user-access.repository.js
  api/tests/identity-access-management/acceptance/application/token.route.test.js
  api/tests/identity-access-management/integration/domain/usecases/revoke-session.usecase.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/revoked-user-access.repository.test.js
Due: eslint --fix

tech(api): moves revokeSession above revokeAll
  api/src/identity-access-management/infrastructure/repositories/revoked-user-access.repository.js
Due: eslint --fix

refactor(api): removes timestamps for revoked sessions in RevokedUserAccess model
  api/src/identity-access-management/domain/models/RevokedUserAccess.js
  api/src/identity-access-management/infrastructure/repositories/revoked-user-access.repository.js
  api/tests/identity-access-management/integration/infrastructure/repositories/revoked-user-access.repository.test.js
  api/tests/identity-access-management/unit/domain/models/RevokedUserAccess.test.js
Due: eslint --fix

fix(api): synchronous feature toggles could be outdated
  api/src/shared/infrastructure/feature-toggles/feature-toggles-client.js
Due: eslint --fix

sr(api): makes in memory key value storage actual unit tests
  api/src/shared/infrastructure/key-value-storages/InMemoryKeyValueStorage.js
  api/src/shared/infrastructure/key-value-storages/KeyValueStorage.js
  api/tests/shared/unit/infrastructure/key-value-storages/InMemoryKeyValueStorage_test.js
Due: eslint --fix

refactor(api): renames revokedSessions to revokedSessionIds in RevokedUserAccess model
  api/src/identity-access-management/domain/models/RevokedUserAccess.js
  api/src/identity-access-management/infrastructure/repositories/revoked-user-access.repository.js
  api/tests/identity-access-management/integration/infrastructure/repositories/revoked-user-access.repository.test.js
  api/tests/identity-access-management/unit/domain/models/RevokedUserAccess.test.js
Due: eslint --fix

tech(api): add categoryId param do buildOrganizationStructure database-builder
  api/db/database-builder/factory/build-organization.js
Due: eslint --fix

feat(api): add categoryId param to OrganizationBatchUpdateDTO model
  api/src/organizational-entities/domain/dtos/OrganizationBatchUpdateDTO.js
  api/tests/organizational-entities/unit/domain/dtos/OrganizationBatchUpdateDTO.test.js
Due: eslint --fix

feat(api): handle categoryId update within OrganizationForAdmin update method
  api/src/organizational-entities/domain/models/OrganizationForAdmin.js
  api/tests/organizational-entities/unit/domain/models/OrganizationForAdmin_test.js
Due: eslint --fix

feat(api): add findExistingIds repository method in structure-category-repository
  api/src/organizational-entities/infrastructure/repositories/structure-category-repository.js
  api/tests/organizational-entities/integration/infrastructure/repositories/structure-category-repository_test.js
Due: eslint --fix

feat: handle categoryId update in batch update usecase
  api/src/organizational-entities/domain/constants.js
  api/src/organizational-entities/domain/usecases/update-organizations-in-batch.usecase.js
  api/tests/organizational-entities/acceptance/application/organization/organization.admin.route.test.js
  api/tests/organizational-entities/integration/domain/usecases/update-organizations-in-batch.usecase.test.js
Due: eslint --fix

feat(admin): handle category not found when batch updating organizations through Pix Admin app
  admin/app/components/administration/deployment/update-organizations-in-batch.gjs
  admin/tests/integration/components/administration/deployment/update-organizations-in-batch-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Due: none

refactor(admin): use switch/case instead of if/else in organizations batch update error handling
  admin/app/components/administration/deployment/update-organizations-in-batch.gjs
Due: none
