Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

feat(api): add organization learner attributes
  api/src/prescription/organization-learner/domain/models/OrganizationLearnerImported.js
  api/tests/prescription/organization-learner/unit/domain/models/OrganizationLearnerImported_test.js
Due: eslint --fix

refactor?(api): remove followUp naming because why not ?
  api/src/prescription/organization-learner/domain/usecases/get-organization-learner.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/tests/prescription/organization-learner/integration/domain/usecases/get-organization-learner_test.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/get-organization-learner_test.js
Due: eslint --fix

feat(api): add builder for learner with attributes
  api/db/database-builder/factory/index.js
  api/db/database-builder/factory/prescription/organization-learners/build-organization-learner.js
Due: eslint --fix

tech(api): add intern organization learner api
  api/src/prescription/API.md
  api/src/prescription/organization-learner/application/api/models/OrganizationLearnerListItem.js
  api/src/prescription/organization-learner/application/api/organization-learners-api.js
  api/tests/prescription/organization-learner/unit/application/api/models/OrganizationLearnerListItem_test.js
  api/tests/prescription/organization-learner/unit/application/api/organization-learners-api_test.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/tooling/domain-builder/factory/prescription/organization-learner/build-organization-learner-imported.js
Due: eslint --fix

feat(api): add migration to refresh the view
  api/db/migrations/20240411124340_refresh-view-organization-learner.js
Due: eslint --fix

feat(1d): add usecase to get paginated learners
  api/src/prescription/organization-learner/domain/usecases/find-paginated-organization-learners.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-paginated-organization-learners_test.js
Due: eslint --fix

feat(api): add findPaginatedOrganizationLearners to repository
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-repository.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-learner-repository_test.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.131.0.
  1d/package-lock.json
  1d/package.json
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

:bug: api: fix notification usecase call
  api/src/certification/complementary-certification/application/attach-target-profile-controller.js
Due: eslint --fix

♻️ certif: remove dead scss code
  certif/app/styles/pages/authenticated/restricted-access.scss
Due: stylelint --fix

♿️ certif : replace span with heading
  certif/app/components/import/file-import-block.hbs
  certif/app/components/import/step-one-section.hbs
Due: none

💄certif: adjust restricted access page title typography
  certif/app/styles/pages/authenticated/restricted-access.scss
Due: stylelint --fix

💄 certif: harmonize font rules using design token
  certif/app/styles/app.scss
  certif/app/styles/components/add-student-list.scss
  certif/app/styles/components/auth/toggable-login-form.scss
  certif/app/styles/components/dropdown.scss
  certif/app/styles/components/issue-report-modal.scss
  certif/app/styles/components/layout/footer.scss
  certif/app/styles/components/login-or-register.scss
  certif/app/styles/components/login-session-supervisor-form.scss
  certif/app/styles/components/register-form.scss
  certif/app/styles/components/select-referer-modal.scss
  certif/app/styles/components/session-finalization-step-container.scss
  certif/app/styles/components/session-supervising/candidate-in-list.scss
  certif/app/styles/components/session-supervising/candidate-list.scss
  certif/app/styles/components/session-supervising/header.scss
  certif/app/styles/globals/forms.scss
  certif/app/styles/globals/panels.scss
  certif/app/styles/globals/texts.scss
  certif/app/styles/globals/titles.scss
  certif/app/styles/pages/authenticated/restricted-access.scss
  certif/app/styles/pages/authenticated/sessions/details.scss
  certif/app/styles/pages/authenticated/sessions/details/certification-candidates.scss
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/app/styles/pages/authenticated/team.scss
  certif/app/styles/pages/login-session-supervisor.scss
  certif/app/styles/pages/session-supervising-error.scss
  certif/app/styles/pages/terms-of-service.scss
Due: stylelint --fix

refactor(api): remove usage of modulix in trainings
  api/db/seeds/data/team-devcomp/build-trainings.js
Due: eslint --fix

refactor(mon-pix): remove usage of modulix in trainings
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: none

refactor(admin): remove usage of modulix in trainings
  admin/app/models/training.js
Due: eslint --fix

feat(mon-pix): display sco survey banner
  mon-pix/app/components/dashboard/banner.hbs
  mon-pix/app/components/dashboard/banner.js
  mon-pix/app/components/dashboard/content.hbs
  mon-pix/app/components/dashboard/content.js
  mon-pix/config/environment.js
  mon-pix/tests/integration/components/dashboard/content_test.js
Due: eslint --fix

feat(mon-pix): add profile collection banner for sco user
  mon-pix/app/components/dashboard/banner.hbs
  mon-pix/tests/integration/components/dashboard/content_test.js
Due: eslint --fix

feat(mon-pix): add isSCO getter on user model
  mon-pix/app/models/user.js
  mon-pix/tests/unit/models/user_test.js
Due: eslint --fix

feat(api): add update badge criterion route and controller
  api/src/evaluation/application/badge-criteria/badge-criteria-controller.js
  api/src/evaluation/application/badge-criteria/index.js
  api/src/evaluation/routes.js
  api/tests/evaluation/acceptance/application/badge-criteria/badge-criteria-controller_test.js
  api/tests/evaluation/unit/application/badge-criteria/badge-criteria-controller_test.js
  api/tests/evaluation/unit/application/badge-criteria/index_test.js
Due: eslint --fix

feat(api): add update-badge-criterion usecase
  api/db/database-builder/factory/build-badge-criterion.js
  api/lib/domain/errors.js
  api/src/evaluation/domain/usecases/index.js
  api/src/evaluation/domain/usecases/update-badge-criterion.js
  api/tests/evaluation/unit/domain/usecases/update-badge-criterion_test.js
Due: eslint --fix

feat(api): add badge-criterion serializer
  api/src/evaluation/infrastructure/serializers/jsonapi/badge-criterion-serializer.js
  api/tests/evaluation/unit/infrastructure/serializers/jsonapi/badge-criterion-serializer_test.js
Due: eslint --fix

feat(api): add BadgeCriterion model
  api/db/database-builder/factory/build-badge-criterion.js
  api/src/evaluation/domain/models/BadgeCriterion.js
Due: eslint --fix

feat(api): add updateCriterion badge-criteria-repository method
  api/src/evaluation/infrastructure/repositories/badge-criteria-repository.js
  api/tests/evaluation/integration/infrastructure/repositories/badge-criteria-repository_test.js
Due: eslint --fix

fix(orga): fetch import information only for admin, and display sco participant page for all
  orga/app/routes/authenticated/sco-organization-participants/list.js
  orga/tests/unit/routes/authenticated/sco-organization-participants/list_test.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.132.0.
  1d/package-lock.json
  1d/package.json
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

Update pix1d-recherche-di1.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/pix1d-recherche-di1.json
Due: none

♻️ api: use juryId only in _createV3AssessmentResult
  api/lib/domain/events/handle-certification-rescoring.js
Due: eslint --fix

:recycle: api: Remove duplicated parameter
  api/lib/domain/events/handle-certification-scoring.js
Due: eslint --fix

:recycle: api: Rename private method
  api/lib/domain/events/handle-certification-rescoring.js
Due: eslint --fix

✨ api: V3 reproducibility rate constant
  api/lib/domain/constants.js
Due: eslint --fix

♻️ api: move private methods on scoring certification service
  api/lib/domain/services/scoring/scoring-certification-service.js
Due: eslint --fix

✨ api: create isCancelled in certification course model
  api/src/certification/shared/domain/models/CertificationCourse.js
Due: eslint --fix

✨ api: create isLackOfAnswersForTechnicalReason method in certification scoring service
  api/lib/domain/services/scoring/scoring-certification-service.js
  api/tests/unit/domain/services/scoring/scoring-certification-service_test.js
Due: eslint --fix

✨ api: create handleV3CertificationScoring method in certification scoring service
  api/lib/domain/services/scoring/scoring-certification-service.js
  api/tests/unit/domain/services/scoring/scoring-certification-service_test.js
Due: eslint --fix

✨ api: use certification scoring methods in rescoring
  api/lib/domain/events/handle-certification-rescoring.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
Due: eslint --fix

✨ api: create handleV2CertificationScoring method in certification scoring service
  api/lib/domain/services/scoring/scoring-certification-service.js
  api/tests/unit/domain/services/scoring/scoring-certification-service_test.js
Due: eslint --fix
