Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

Notes added by 'git notes add'
  6ec955e142d2922427bae9623cf5248fcf4016b8
Due: none

Notes added by 'git notes add'
  0194830ae725e9db5f0f66ead657923d39f6a867
Due: none

Create 11_MoteurRechInfo_NOV1.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/11_MoteurRechInfo_NOV1.json
Due: none

Update 11_MoteurRechInfo_NOV1.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/11_MoteurRechInfo_NOV1.json
Due: none

feat(admin): leverage detail-page-layout component in get organization page
  admin/app/templates/authenticated/organizations/get.gjs
Due: none

feat(admin): create new detail page layout component
  admin/app/components/layout/detail-page-layout.gjs
  admin/app/components/layout/detail-page-layout.scss
  admin/app/styles/app.scss
Due: stylelint --fix

feat(admin): create details route for get certification center
  admin/app/controllers/authenticated/certification-centers/get/details.js
  admin/app/router.js
  admin/app/routes/authenticated/certification-centers/get/index.js
  admin/tests/acceptance/authenticated/certification-centers/form-test.js
  admin/tests/acceptance/authenticated/certification-centers/get/team-test.js
  admin/tests/acceptance/authenticated/certification-centers/list-test.js
  admin/tests/acceptance/session-test.js
  admin/tests/unit/controllers/authenticated/certification-centers/get/details-test.js
Due: eslint --fix

feat(admin): leverage new detail page layout component for certification center get page
  admin/app/components/certification-centers/information-view.gjs
  admin/app/styles/authenticated/certification-center/index.scss
  admin/app/templates/authenticated/certification-centers/get.gjs
  admin/app/templates/authenticated/certification-centers/get/details.gjs
  admin/app/templates/authenticated/certification-centers/get/team.gjs
  admin/tests/acceptance/authenticated/certification-centers/get-test.js
  admin/tests/integration/components/certification-centers/information-view-test.gjs
Due: eslint --fix, stylelint --fix

first pass (`npm run lint:docs` – from 29 dead links to 14)
  docs/Ember.md
  docs/README.md
  docs/accessibility.md
  docs/adr/0007-calcul-des-pix.md
  docs/adr/0021-gravitee-pix-apim.md
  docs/adr/0024-encapsuler-appel-http.md
  docs/adr/0035-image-base-docker.md
  docs/adr/0036-formater-le-code.md
  docs/adr/0053-utilisation-de-workspaces.md
  docs/adr/0057-migration-css-dans-les-composants.md
  docs/security/security.md
  docs/test.md
  docs/translations.md
  docs/use-case.md
Due: none

fixing one typo
  docs/adr/0026-tester-routeur-api.md
Due: none

Notes added by 'git notes add'
  b67a77da3c735bb14ede87e7a70ebe53eef54d10
Due: none

sr(mon-pix): removes @embroider/util
  mon-pix/app/components/challenge/item.gjs
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

test
  mon-pix/app/components/challenge-item/challenge-item-generic.js
  mon-pix/app/components/challenge/content.gjs
  mon-pix/app/components/challenge/item.gjs
  mon-pix/app/controllers/assessments/challenge.js
  mon-pix/app/router.js
  mon-pix/app/templates/assessments.gjs
  mon-pix/app/templates/assessments/challenge.gjs
Due: eslint --fix

Notes added by 'git notes add'
  ffdd30e04dcadb70ccb79926733149455b9849a4
Due: none

add open telemetry
  api/index.js
  api/index.maddo.js
  api/package-lock.json
  api/package.json
  api/sample.env
  api/src/shared/config.js
  api/src/shared/infrastructure/otel/otel-setup.js
  api/src/shared/infrastructure/utils/import-named-exports-from-directory.js
  api/src/shared/infrastructure/utils/otel_proxy.js
  api/tests/shared/unit/infrastructure/utils/otel_proxy_test.js
  k8s/api/configmap.yaml
Due: eslint --fix

Notes added by 'git notes add'
  a3e2d3e0e431e2b981f03b94f0f49f2ca75ad171
Due: none

fix(admin): prevent browser autofill since it is unuseful and not tracked by change event
  admin/app/components/users/user-detail-personal-information/add-authentication-method-modal.gjs
Due: none

fix(admin): handle real error thrown by back-end
  admin/app/components/users/user-detail-personal-information/authentication-method.gjs
  admin/tests/mirage/routes.js
Due: eslint --fix

fix(mon-pix): display dedicated error message when user submits code with already used email
  mon-pix/app/components/user-account/email-verification-code.gjs
  mon-pix/tests/integration/components/user-account/email-verification-code-test.js
Due: eslint --fix

active log transitions
  mon-pix/config/environment.js
Due: eslint --fix

Notes added by 'git notes add'
  c717d448c0fd6734e521dfab3260c6e424ca4507
Due: none

Notes added by 'git notes add'
  0d3fef3ec419a65e377f4704bac0a5dfd35833c0
Due: none

Notes added by 'git notes add'
  52a25fc4582c03147373d30e676150f55869e194
Due: none

refactor(mon-pix): rely on error code rather than HTTP status for email verification error handling
  mon-pix/app/components/user-account/email-verification-code.gjs
  mon-pix/tests/integration/components/user-account/email-verification-code-test.js
Due: eslint --fix

Notes added by 'git notes add'
  fd9a8f8ad0c90074422aca8a35bf008999ce65ff
Due: none

Notes added by 'git notes add'
  f45239a7628965e53c339d74f80b03b63eb60adb
Due: none

Notes added by 'git notes add'
  68a2a23ef8b23cfcdc87b8beaaf8415edebe333e
Due: none

tech: add flaky test workflow
  .github/workflows/report-flaky-tests.yaml
Due: none

Notes added by 'git notes add'
  fa1c9a093ff7457d8384914edea6ffc20e1900de
Due: none

Notes added by 'git notes add'
  9b9e4fcde322b8a225fa86c0022dd1c280193e32
Due: none

feat: add name to flaky test notification workflow
  .github/workflows/report-flaky-tests.yaml
Due: none

feat: shedule flaky test notification workflow every monday morning
  .github/workflows/report-flaky-tests.yaml
Due: none

fix: invalid circle ci url in flaky test notification
  .github/workflows/report-flaky-tests.yaml
Due: none

feat: replace webhook url to post in #engineering
  .github/workflows/report-flaky-tests.yaml
Due: none

allow rate speed to be set by the user
  mon-pix/app/components/challenge-statement.gjs
Due: none

chore: remove unncessary circle ci token to fetch flaky tests
  .github/workflows/report-flaky-tests.yaml
Due: none

Notes added by 'git notes add'
  64b9d7cae5ca9a9bfab21c13946e8e2f8500de61
Due: none

chore(app): make translations consistents
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: none

Notes added by 'git notes add'
  6052ec9d46de1484de80ce341247b8d87730b4d7
Due: none
