Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

[FEATURE] Déplacer les boutons sous la mise en avant (moteur de reco) sur Pix App (PIX-24126). (#17401)
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/evaluation-results-hero-recommendation-engine/action-buttons.gjs
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/evaluation-results-hero-recommendation-engine/action-buttons/campaign-participation-reset-button.gjs
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/evaluation-results-hero-recommendation-engine/action-buttons/recommendation-button.gjs
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/evaluation-results-hero-recommendation-engine/index.gjs
  mon-pix/app/styles/pages/_evaluation-results-recommendation-engine.scss
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/evaluation-results-hero-recommendation-engine/action-buttons/campaign-participation-reset-button-test.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/evaluation-results-hero-recommendation-engine/action-buttons/recommendation-button-test.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/evaluation-results-hero-recommendation-engine/index-test.gjs
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: stylelint --fix

fix(api): provide type declarations for the test stack
  api/package-lock.json
  api/package.json
  api/tsconfig.json
Due: none

fix(admin): simplify locales validation in challenge schema
  api/src/evaluation/application/smart-random-simulator/index.js
Due: eslint --fix

[TECH] Utilise pgboss plutôt qu'un cron job scalingo pour rafraichir le cache LCMS périodiquement. (#17409)
  api/package.json
  api/scripts/generate-cron.js
  api/src/learning-content/application/jobs/refresh-learning-content-job-controller.js
  api/src/shared/config.js
Due: eslint --fix

[BUGFIX] Réparer Smart Random simulator (#17411)
  api/src/evaluation/application/smart-random-simulator/index.js
Due: eslint --fix

:broom: chore(api): remove lodash usage
  api/src/certification/configuration/infrastructure/repositories/attachable-target-profiles-repository.js
  api/src/certification/session-management/domain/read-models/ComplementaryCertificationCourseResultForJuryCertificationWithExternal.js
  api/src/certification/session-management/infrastructure/serializers/jury-certification-summary-serializer.js
  api/src/certification/shared/infrastructure/repositories/certifiable-badge-acquisition-repository.js
  api/src/shared/infrastructure/utils/lodash-utils.js
  api/tests/shared/unit/infrastructure/utils/lodash-utils_test.js
Due: eslint --fix

[TECH] :broom: suppression de certaines utilisations de `lodash` chez Certif (#17402)
  api/src/certification/configuration/infrastructure/repositories/attachable-target-profiles-repository.js
  api/src/certification/session-management/domain/read-models/ComplementaryCertificationCourseResultForJuryCertificationWithExternal.js
  api/src/certification/session-management/infrastructure/serializers/jury-certification-summary-serializer.js
  api/src/certification/shared/infrastructure/repositories/certifiable-badge-acquisition-repository.js
  api/src/shared/infrastructure/utils/lodash-utils.js
  api/tests/shared/unit/infrastructure/utils/lodash-utils_test.js
Due: eslint --fix

[TECH] Ajouter nationalStudentId aux organization learners SCO dans les seeds (#17399)
  api/db/seeds/data/team-prescription/build-combined-courses.js
  api/db/seeds/data/team-prescription/fixtures/sco-siecle-combined-course.js
Due: eslint --fix

refactor(api): make startDate required
  api/src/certification/configuration/application/certification-version-route.js
Due: eslint --fix

refactor(admin): improve wordings
  admin/app/styles/components/certification-frameworks/certification-frameworks/versions/certification-version-global-scoring-form.scss
  admin/tests/acceptance/authenticated/certification-frameworks/certification-framework/versions/calibration-test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix, stylelint --fix

fix(admin): make error management more robust
  admin/app/components/certification-frameworks/certification-framework/versions/certification-version-global-scoring-form.gjs
Due: none

refactor(admin): configure number input based on tolerated values
  admin/app/components/certification-frameworks/certification-framework/versions/certification-version-edit-form.gjs
Due: none

feat(api): filter calibrated challenges on selected tubes
  api/src/certification/configuration/domain/usecases/activate-version.js
  api/tests/certification/configuration/unit/domain/usecases/activate-version_test.js
Due: eslint --fix

[FEATURE] Corrections mineures sur la création d'une version (#17361)
  admin/app/components/certification-frameworks/certification-framework/versions/certification-version-edit-form.gjs
  admin/app/components/certification-frameworks/certification-framework/versions/certification-version-global-scoring-form.gjs
  admin/app/styles/components/certification-frameworks/certification-frameworks/versions/certification-version-global-scoring-form.scss
  admin/tests/acceptance/authenticated/certification-frameworks/certification-framework/versions/calibration-test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/src/certification/configuration/application/certification-version-route.js
  api/src/certification/configuration/domain/usecases/activate-version.js
  api/tests/certification/configuration/unit/domain/usecases/activate-version_test.js
Due: eslint --fix, stylelint --fix

[TECH] Corriger les configurations d'outillage qui ignorent les fichiers TypeScript (#17408)
  api/.dependency-cruiser.mjs
  api/.ls-lint.yml
  api/.mocharc.cjs
  api/knip.jsonc
  api/nodemon.json
  api/package-lock.json
  api/package.json
  api/tsconfig.json
Due: eslint --fix

chore(orga): update all dependencies patches available
  orga/.nvmrc
  orga/package-lock.json
  orga/package.json
Due: none

chore(orga): all dependencies minor updates
  orga/.nvmrc
  orga/package-lock.json
  orga/package.json
Due: none

:recycle: chore(api) fix some flaky test around v2 scoring
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v2_test.js
Due: eslint --fix

fix(orga): not overide campaign type for exam campaign
  orga/app/routes/authenticated/campaigns/new.js
  orga/tests/unit/routes/authenticated/campaigns/new-test.js
Due: eslint --fix

:art: chore(api): setup functions declaration linter for certif/shared
  api/eslint.config.mjs
  api/src/certification/shared/application/pre-handlers/authorization.js
  api/src/certification/shared/domain/services/certification-badges-service.js
  api/src/certification/shared/domain/validators/session-validator.js
  api/src/certification/shared/infrastructure/repositories/certification-challenge-live-alert-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-challenge-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-companion-alert-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-issue-report-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-report-repository.js
  api/src/certification/shared/infrastructure/repositories/competence-mark-repository.js
  api/src/certification/shared/infrastructure/repositories/complementary-certification-badge-repository.js
  api/src/certification/shared/infrastructure/repositories/complementary-certification-course-result-repository.js
  api/src/certification/shared/infrastructure/repositories/issue-report-category-repository.js
  api/src/certification/shared/infrastructure/repositories/target-profile-history-repository.js
  api/src/certification/shared/infrastructure/serializers/jsonapi/certification-report-serializer.js
Due: eslint --fix

[TECH] :art: Met en place la règle de linter autour des noms de fonctions pour le sous domaine `certification/shared` (#17406)
  api/eslint.config.mjs
  api/src/certification/shared/application/pre-handlers/authorization.js
  api/src/certification/shared/domain/services/certification-badges-service.js
  api/src/certification/shared/domain/validators/session-validator.js
  api/src/certification/shared/infrastructure/repositories/certification-challenge-live-alert-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-challenge-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-companion-alert-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-issue-report-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-report-repository.js
  api/src/certification/shared/infrastructure/repositories/competence-mark-repository.js
  api/src/certification/shared/infrastructure/repositories/complementary-certification-badge-repository.js
  api/src/certification/shared/infrastructure/repositories/complementary-certification-course-result-repository.js
  api/src/certification/shared/infrastructure/repositories/issue-report-category-repository.js
  api/src/certification/shared/infrastructure/repositories/target-profile-history-repository.js
  api/src/certification/shared/infrastructure/serializers/jsonapi/certification-report-serializer.js
Due: eslint --fix

chore(release): 5.498.0 [skip ci]
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  dae58f20762e0122738f335964c8ca00ab8a8820
Due: none

refactor(api): move assessment pre-handler to shared
  api/src/certification/evaluation/application/companion-alert-route.js
  api/src/certification/evaluation/application/live-alert-route.js
  api/src/evaluation/application/assessments/index.js
  api/src/evaluation/application/pre-handlers/assessment-authorization.js
  api/src/shared/application/security-pre-handlers.js
  api/src/shared/infrastructure/utils/request-response-utils.js
  api/tests/evaluation/integration/application/assessments/assessment-controller_test.js
  api/tests/evaluation/unit/application/assessments/assessment-routes_test.js
  api/tests/evaluation/unit/application/pre-handlers/assessment-authorization_test.js
  api/tests/shared/unit/application/security-pre-handlers_test.js
Due: eslint --fix

[TECH] :recycle: Corrige des tests aléatoire dans le contexte du scoring de certification v2 (PIX-24158) (#17425)
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v2_test.js
Due: eslint --fix

fix(api): fix checkUserOwnsAssessment unit tests
  api/tests/evaluation/unit/application/pre-handlers/assessment-authorization_test.js
  api/tests/shared/unit/application/security-pre-handlers_test.js
Due: eslint --fix

feat(api): add migrations to restore non-nullable constaints that were dropped unintentionally
  api/db/migrations/20260908134704_restore-not-nullable-for-attestations-key-and-template-name.js
  api/db/migrations/20260908140000_restore-not-nullable-for-quests-success-requirements.js
  api/db/migrations/20260908150000_restore-not-nullable-for-organizations-profile-rewards-organization-id.js
Due: eslint --fix

chore(orga): ember-metrics major update
  orga/package-lock.json
  orga/package.json
Due: none

chore(orga): ember-source major update
  orga/package-lock.json
  orga/package.json
Due: none

pour mache
  orga/package-lock.json
  orga/package.json
Due: none

tech(api): add rule to forbid importing databse builder in unit tests
  api/.dependency-cruiser.mjs
Due: none

[TECH] Ajoute une règle pour interdire l'usage des builders de base de données dans les tests unitaires. (#17433)
  api/.dependency-cruiser.mjs
Due: none

tech(admin): remove RSVP usage
  admin/app/routes/authenticated/certification-frameworks/certification-framework/versions/new.js
  admin/app/routes/authenticated/organizations/get/invitations.js
  admin/app/routes/authenticated/organizations/list.js
  admin/app/routes/authenticated/organizations/new.js
  admin/app/routes/authenticated/sessions/certification/informations.js
  admin/app/routes/authenticated/sessions/session/certifications.js
  admin/app/routes/authenticated/target-profiles/target-profile/badges/badge.js
  admin/app/routes/authenticated/trainings/training/target-profiles.js
  admin/app/routes/authenticated/users/get/authentication-methods.js
  admin/eslint.config.mjs
  admin/tests/integration/components/login-form-test.gjs
  admin/tests/unit/services/current-user-test.js
  admin/tests/unit/services/feature-toggles-test.js
Due: eslint --fix

tech(mon-pix): remove RSVP usage
  mon-pix/app/routes/assessments/challenge.js
  mon-pix/eslint.config.mjs
  mon-pix/tests/integration/components/feedback-panel-test.gjs
  mon-pix/tests/unit/services/competence-evaluation-test.js
Due: eslint --fix

tech: restrict rsvp import in all front apps
  certif/eslint.config.mjs
  junior/eslint.config.mjs
  orga/eslint.config.mjs
Due: none

bump(pix-epreuves-compontents): upgrade epreuves components to v4.21.1
  api/package-lock.json
  api/package.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/demo-epreuves-components.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none
