Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

feat: split certif job
  .circleci/config.yml
Due: eslint --fix

feat: split api test job
  .circleci/config.yml
Due: eslint --fix

refactor: reorganize jobs
  .circleci/config.yml
Due: eslint --fix

Updated translations from Phrase
  api/translations/es.json
Due: none

Updated translations from Phrase
  api/translations/es.json
  api/translations/nl.json
Due: none

Updated translations from Phrase
  mon-pix/translations/es.json
  mon-pix/translations/nl.json
Due: none

Updated translations from Phrase
  mon-pix/translations/nl.json
Due: none

tech(api): Rename seed onde format name
  api/db/seeds/data/team-prescription/build-organization-learner-import-formats.js
Due: eslint --fix

tech(api): Add Onde format into organization learner import format table
  api/db/migrations/20240426142706_add-onde-format-into-organization-learner-import-formats.js
Due: eslint --fix

feat(api): support components in grain model
  api/src/devcomp/domain/models/Grain.js
  api/tests/devcomp/unit/domain/models/Grain_test.js
Due: eslint --fix

refactor(api): extract mapping of element type in Module domain
  api/src/devcomp/domain/models/module/Module.js
Due: eslint --fix

feat(api): add components to module toDomain
  api/src/devcomp/domain/models/module/Module.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
  api/tests/devcomp/unit/domain/models/module/Module_test.js
Due: eslint --fix

feat(api): add ComponentElement model
  api/src/devcomp/domain/models/ComponentElement.js
  api/tests/devcomp/unit/domain/models/ComponentElement_test.js
Due: eslint --fix

feat(seeds): add recommended trainings for devcomp
  api/db/seeds/data/common/tooling/campaign-tooling.js
  api/db/seeds/data/team-devcomp/build-campaigns.js
  api/db/seeds/data/team-devcomp/build-trainings.js
  api/db/seeds/data/team-devcomp/data-builder.js
Due: eslint --fix

feat(seeds): add assessmentCampaign config to save userRecommendedTrainings
  api/db/seeds/data/common/tooling/campaign-tooling.js
Due: eslint --fix

feat(orga): add controller for place route
  orga/app/controllers/authenticated/places.js
  orga/tests/unit/controllers/authenticated/places_test.js
Due: eslint --fix

feat(orga): add place definition block
  orga/app/components/places/place-info.gjs
  orga/app/styles/components/places/index.scss
  orga/app/styles/components/places/place-info.scss
  orga/app/templates/authenticated/places.hbs
  orga/public/icons/place-info.svg
  orga/tests/integration/components/places/place-info_test.gjs
  orga/translations/en.json
  orga/translations/fr.json
Due: stylelint --fix

feat(orga): add a capacity alert on places page
  orga/app/components/places/capacity-alert.gjs
  orga/app/styles/components/places/capacity-alert.scss
  orga/app/styles/components/places/index.scss
  orga/app/templates/authenticated/places.hbs
  orga/tests/integration/components/places/capacity-alert_test.gjs
  orga/translations/en.json
  orga/translations/fr.json
Due: stylelint --fix

refactor(api): move copy-organization target profile into bounded context
  api/lib/application/target-profiles/index.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/domain/usecases/index.js
  api/src/prescription/target-profile/application/admin-target-profile-controller.js
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/src/prescription/target-profile/domain/usecases/attach-organizations-from-existing-target-profile.js
  api/src/prescription/target-profile/domain/usecases/index.js
  api/src/prescription/target-profile/infrastructure/repositories/organizations-to-attach-to-target-profile-repository.js
  api/src/prescription/target-profile/infrastructure/serializers/jsonapi/target-profile-attach-organization-serializer.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/integration/domain/usecases/attach-organizations-to-target-profile_test.js
  api/tests/prescription/target-profile/acceptance/application/admin-target-profile-route_test.js
  api/tests/prescription/target-profile/integration/domain/attach-organizations-from-existing-target-profile_test.js
  api/tests/prescription/target-profile/integration/infrastructure/repositories/organizations-to-attach-to-target-profile-repository_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profile-controller_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profiles-route_test.js
  api/tests/prescription/target-profile/unit/infrastructure/serializers/jsonapi/target-profile-attach-organization-serializer_test.js
  api/tests/unit/application/target-profiles/index_test.js
  api/tests/unit/application/target-profiles/target-profile-controller_test.js
Due: eslint --fix

fix: modify the extends in .eslintrc.json
  audit-logger/.eslintrc.json
Due: none

[RELEASE] A minor is being released to 4.140.0.
  1d/package-lock.json
  1d/package.json
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

test(admin): add missing tests
  admin/tests/unit/services/references_test.js
Due: eslint --fix

feat(admin): add spanish language
  admin/app/services/references.js
  admin/tests/unit/services/references_test.js
Due: eslint --fix

:refactor: migration of Organization to `src/shared`
  api/lib/domain/models/index.js
  api/lib/domain/validators/organization-with-tags-and-target-profiles-script.js
  api/lib/infrastructure/repositories/membership-repository.js
  api/lib/infrastructure/serializers/jsonapi/organization-serializer.js
  api/src/school/scripts/create-school-learners.js
  api/src/shared/domain/models/Organization.js
  api/src/shared/infrastructure/repositories/organization-repository.js
  api/src/shared/infrastructure/repositories/user-repository.js
  api/src/shared/prescriber-management/infrastructure/repositories/prescriber-repository.js
  api/tests/integration/infrastructure/repositories/certification-point-of-contact-repository_test.js
  api/tests/integration/infrastructure/repositories/membership-repository_test.js
  api/tests/integration/infrastructure/utils/bookshelf-to-domain-converter_test.js
  api/tests/school/integration/scripts/create-school-learners_test.js
  api/tests/shared/integration/infrastructure/repositories/membership-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/user-repository_test.js
  api/tests/shared/prescriber-management/integration/infrasctructure/repositories/prescriber-repository_test.js
  api/tests/shared/unit/domain/models/Organization_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-to-join.js
  api/tests/tooling/domain-builder/factory/build-membership.js
  api/tests/tooling/domain-builder/factory/build-organization.js
  api/tests/tooling/domain-builder/factory/build-prescriber.js
  api/tests/tooling/domain-builder/factory/build-user-orga-settings.js
  api/tests/unit/domain/usecases/find-paginated-filtered-organizations_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/organization-serializer_test.js
Due: eslint --fix

tech(api): use organizationLearnerApi into findPaginatedMissionLearners method
  api/src/school/domain/usecases/index.js
  api/src/school/infrastructure/repositories/index.js
  api/src/school/infrastructure/repositories/mission-learner-repository.js
  api/tests/school/integration/infrastructure/repositories/mission-learners-repository_test.js
  api/tests/school/unit/infrastructure/repositories/mission-learner-repository_test.js
Due: eslint --fix

tech(api): use organizationLearner APi to retrieve all organizationLearners
  api/src/school/domain/services/inject-complement-data-to-mission.js
  api/src/school/domain/usecases/get-organization-learner-with-completed-mission-ids.js
  api/src/school/domain/usecases/get-school-by-code.js
  api/src/school/domain/usecases/index.js
  api/src/school/infrastructure/repositories/index.js
  api/src/school/infrastructure/repositories/organization-learner-repository.js
  api/tests/school/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/school/unit/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/tooling/domain-builder/factory/prescription/organization-learner/build-organization-learner-imported.js
Due: eslint --fix

tech(api): use organizationLearnerApi to get one learner
  api/src/school/infrastructure/repositories/organization-learner-repository.js
  api/tests/school/integration/domain/usecases/get-organization-learner-with-completed-mission-ids_test.js
  api/tests/school/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/school/unit/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/tooling/domain-builder/factory/prescription/organization-learner/build-organization-learner-imported.js
Due: eslint --fix

tech(api): use organizationLearnerApi into getDivisionsWhichStartedMission method
  api/src/school/infrastructure/repositories/organization-learner-repository.js
  api/tests/school/integration/domain/usecases/get-mission_test.js
  api/tests/school/integration/infrastructure/repositories/organization-learner-repository_test.js
Due: eslint --fix

tech(api): update buildOrganizationLearner factory to include division
  api/db/database-builder/factory/prescription/organization-learners/build-organization-learner.js
Due: eslint --fix

tech(api): complete jsdoc for organizationLearnerApi
  api/src/prescription/API.md
  api/src/prescription/organization-learner/application/api/organization-learners-api.js
Due: eslint --fix

tech(api): update seed
  api/db/seeds/data/team-1d/data-builder.js
Due: eslint --fix

feat(api): add components to Module Serializer
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
Due: eslint --fix

sr(api): add missing tests for each element type in components and elements
  api/tests/devcomp/unit/domain/models/module/Module_test.js
Due: eslint --fix
