Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

:bug: api: missing worker declaration for CertificationCompletedJob and CampaignParticipationCompleted
  api/lib/domain/events/CertificationCompleted.js
  api/tests/unit/worker_test.js
  api/worker.js
Due: eslint --fix

refactor(api): remove pole emploi participation finished handler
  api/lib/domain/events/handle-pole-emploi-participation-finished.js
  api/lib/domain/events/index.js
  api/tests/certification/shared/unit/domain/services/scoring-certification-service_test.js
  api/tests/integration/domain/event/handle-pole-emploi-participation-finished_test.js
  api/tests/unit/domain/events/event-choreography-pole-emploi-participation-finished_test.js
  api/tests/unit/domain/events/handle-pole-emploi-participation-finished_test.js
Due: eslint --fix

:sparkles: api: dispatch CertificationScoringCompleted in scoring controller handler
  api/src/certification/scoring/application/jobs/certification-completed-job-controller.js
  api/tests/certification/scoring/unit/application/jobs/certification-completed-job-controller_test.js
Due: eslint --fix

tech(api): add campaign participation job
  api/lib/domain/usecases/complete-assessment.js
  api/lib/domain/usecases/index.js
  api/src/prescription/campaign-participation/application/jobs/campaign-participation-completed-job-controller.js
  api/src/prescription/campaign-participation/domain/models/CampaignParticipationCompletedJob.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/campaign-participation-completed-job-repository.js
  api/src/shared/application/assessments/assessment-controller.js
  api/tests/integration/domain/usecases/complete-assessment_test.js
  api/tests/prescription/campaign-participation/integration/application/jobs/campaign-participation-completed-job-controller_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/campaign-participation-completed-job-repository_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/campaign-participation-completed-job-controller_test.js
  api/tests/shared/unit/application/assessments/assessment-controller_test.js
  api/tests/unit/domain/usecases/complete-assessment_test.js
Due: eslint --fix

fix(api): remove domain transaction from job repository
  api/lib/infrastructure/repositories/jobs/certification-completed-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/pole-emploi-participation-completed-job-repository.js
  api/worker.js
Due: eslint --fix

:recycle: api: usage of new chai assertions for jobs
  api/tests/integration/domain/usecases/complete-assessment_test.js
  api/tests/integration/infrastructure/repositories/jobs/certification-completed-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/campaign-participation-completed-job-repository_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-complete-assessment_test.js
Due: eslint --fix

:recycle: api: correcting acceptance test on certification complete assessment
  api/tests/certification/scoring/integration/application/jobs/certification-completed-job-controller_test.js
  api/tests/certification/session-management/acceptance/application/downgrade-capacity_test.js
Due: eslint --fix

setup new subscriptions validation schema for candidate creation
  api/src/certification/enrolment/domain/models/Candidate.js
  api/src/certification/enrolment/domain/validators/candidate-validator.js
  api/tests/certification/enrolment/unit/domain/models/Candidate_test.js
Due: eslint --fix

replace feature toggle with getter from center model
  api/src/certification/enrolment/application/certification-candidate-controller.js
  api/src/certification/enrolment/application/enrolment-controller.js
  api/src/certification/enrolment/domain/models/Candidate.js
  api/src/certification/enrolment/domain/services/certification-candidates-ods-service.js
  api/src/certification/enrolment/domain/usecases/add-candidate-to-session.js
  api/src/certification/enrolment/domain/usecases/import-certification-candidates-from-candidates-import-sheet.js
  api/src/certification/enrolment/domain/validators/candidate-validator.js
  api/src/shared/config.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-controller-post-certification-candidate_test.js
  api/tests/certification/enrolment/integration/domain/services/certification-candidates-ods-service/certification-candidates-ods-service_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-controller_test.js
  api/tests/certification/enrolment/unit/application/enrolment-controller_test.js
  api/tests/certification/enrolment/unit/domain/models/Candidate_test.js
  api/tests/certification/enrolment/unit/domain/usecases/add-candidate-to-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/import-certification-candidates-from-candidates-import-sheet_test.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
Due: eslint --fix

remove useless mention of hasComplementaryReferential
  api/lib/infrastructure/serializers/jsonapi/certification-point-of-contact-serializer.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-point-of-contact-serializer_test.js
  certif/mirage/config.js
  certif/tests/acceptance/session-add-candidate-test.js
  certif/tests/integration/components/enrolled-candidates-test.js
  certif/tests/integration/components/new-candidate-modal/index_test.gjs
Due: eslint --fix

certif: update add candidate modal for compatibility
  certif/app/components/new-candidate-modal/complementary-list.gjs
  certif/app/components/new-candidate-modal/complementary-with-referential.gjs
  certif/app/components/new-candidate-modal/index.gjs
  certif/mirage/config.js
  certif/tests/acceptance/session-add-candidate-test.js
  certif/tests/integration/components/new-candidate-modal/index_test.gjs
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

just doing as the comment says !
  certif/app/serializers/certification-candidate.js
Due: eslint --fix

refacto importCandidateOds usecase to be compatible with new validate signature
  api/src/certification/enrolment/application/enrolment-controller.js
  api/src/certification/enrolment/domain/services/certification-candidates-ods-service.js
  api/src/certification/enrolment/domain/usecases/import-certification-candidates-from-candidates-import-sheet.js
  api/tests/certification/enrolment/acceptance/application/enrolment-route_test.js
  api/tests/certification/enrolment/integration/domain/services/certification-candidates-ods-service/certification-candidates-ods-service_test.js
  api/tests/certification/enrolment/unit/application/enrolment-controller_test.js
  api/tests/certification/enrolment/unit/domain/usecases/import-certification-candidates-from-candidates-import-sheet_test.js
Due: eslint --fix

Add getter for models Center for compatibility core/complementary
  api/src/certification/enrolment/domain/models/Center.js
  api/tests/certification/enrolment/unit/domain/models/Center_test.js
Due: eslint --fix

certif: make subscription field mandatory in create candidate modal
  certif/app/components/new-candidate-modal/complementary-list.gjs
Due: none

certif: remove all mentions of complementaryCertification attribute in candidate model
  certif/app/models/certification-candidate.js
  certif/app/serializers/certification-candidate.js
  certif/tests/integration/components/certification-candidate-details-modal/index-test.gjs
  certif/tests/integration/components/enrolled-candidates-test.js
  certif/tests/unit/serializers/certification-candidate-test.js
Due: eslint --fix

refacto addCandidateToSession usecase to be compatible with new validate signature
  api/src/certification/enrolment/domain/usecases/add-candidate-to-session.js
  api/tests/certification/enrolment/unit/domain/usecases/add-candidate-to-session_test.js
Due: eslint --fix

fix test
  api/tests/acceptance/application/certification-point-of-contacts/certification-point-of-contact-controller_test.js
  certif/app/components/new-candidate-modal/complementary-list.gjs
  certif/app/components/new-candidate-modal/index.gjs
  certif/tests/acceptance/session-add-candidate-test.js
  certif/tests/acceptance/session-details-certification-candidates-test.js
  certif/tests/integration/components/new-candidate-modal/index_test.gjs
Due: eslint --fix

api: delete complementary certification attributes for read in serialized and move default core sub build in domain layer
  api/src/certification/enrolment/application/certification-candidate-route.js
  api/src/certification/enrolment/domain/usecases/add-candidate-to-session.js
  api/src/certification/enrolment/infrastructure/serializers/candidate-serializer.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-controller-post-certification-candidate_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-route_test.js
  api/tests/certification/enrolment/unit/domain/usecases/add-candidate-to-session_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/candidate-serializer_test.js
Due: eslint --fix

certif: replace feature toggle with combination isV3pilot and isComplementaryAlone
  certif/app/components/enrolled-candidates.js
  certif/app/components/new-candidate-modal/complementary-list.gjs
  certif/app/components/new-candidate-modal/index.gjs
  certif/app/models/allowed-certification-center-access.js
  certif/app/models/feature-toggle.js
  certif/mirage/config.js
  certif/tests/acceptance/session-add-candidate-test.js
  certif/tests/integration/components/enrolled-candidates-test.js
  certif/tests/integration/components/new-candidate-modal/index_test.gjs
  certif/tests/unit/models/allowed-certification-center-access-test.js
Due: eslint --fix

front is in charge of subscribing to core certification (v2)
  api/src/certification/enrolment/domain/usecases/add-candidate-to-session.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-controller-post-certification-candidate_test.js
  api/tests/certification/enrolment/unit/domain/usecases/add-candidate-to-session_test.js
  certif/app/components/enrolled-candidates.js
  certif/mirage/config.js
Due: eslint --fix

refacto front end to submit subscriptions when adding new candidate
  certif/app/adapters/certification-candidate.js
  certif/app/components/enrolled-candidates.js
  certif/app/components/new-candidate-modal/index.gjs
  certif/mirage/config.js
  certif/tests/acceptance/session-add-candidate-test.js
  certif/tests/unit/components/enrolled-candidates-test.js
  certif/tests/unit/components/new-candidate-modal/index-test.js
Due: eslint --fix

api: enable compatibility subscription
  api/src/certification/enrolment/application/certification-candidate-controller.js
  api/src/certification/enrolment/application/certification-candidate-route.js
  api/src/certification/enrolment/infrastructure/serializers/candidate-serializer.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-controller-post-certification-candidate_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-controller_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/candidate-serializer_test.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.200.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

tech(api): remove Bookshelf on membership repositories
  api/lib/infrastructure/repositories/membership-repository.js
  api/src/shared/infrastructure/repositories/membership-repository.js
  api/tests/integration/infrastructure/repositories/membership-repository_test.js
Due: eslint --fix

:recycle: migrate index to gjs
  admin/app/components/certification-centers/habilitation-tag/index.gjs
  admin/app/components/certification-centers/habilitation-tag/index.hbs
  admin/tests/unit/components/certification-centers/habilitation-tag/index-test.gjs
Due: none

:recycle: migrate information scss in component folder
  admin/app/components/certification-centers/information.scss
  admin/app/styles/app.scss
Due: stylelint --fix

:recycle: Migrate creation-form in gjs
  admin/app/components/certification-centers/creation-form.gjs
  admin/app/components/certification-centers/creation-form.hbs
  admin/app/components/certification-centers/creation-form.js
  admin/tests/integration/components/certification-centers/creation-form-test.gjs
Due: eslint --fix

:recycle: admin: move style in component folder
  admin/app/components/certification-centers/invitations-action.scss
  admin/app/components/certification-centers/member-item.scss
  admin/app/components/certification-centers/membership-item.scss
  admin/app/styles/app.scss
Due: stylelint --fix

:recycle: migrate information edit in component gjs
  admin/app/components/certification-centers/information-edit.gjs
  admin/app/components/certification-centers/information-edit.hbs
  admin/app/components/certification-centers/information-edit.js
Due: eslint --fix

:recycle: migrate membership section in component gjs
  admin/app/components/certification-centers/memberships-section.gjs
  admin/app/components/certification-centers/memberships-section.hbs
  admin/tests/integration/components/certification-centers/memberships-section-test.gjs
Due: none

:recycle: migrate membership item role in component gjs
  admin/app/components/certification-centers/membership-item-role.gjs
  admin/app/components/certification-centers/membership-item-role.hbs
  admin/app/components/certification-centers/membership-item-role.js
  admin/tests/integration/components/certification-centers/membership-item-role-test.gjs
Due: eslint --fix

:recycle: migrate membership item in component gjs
  admin/app/components/certification-centers/membership-item.gjs
  admin/app/components/certification-centers/membership-item.hbs
  admin/app/components/certification-centers/membership-item.js
  admin/tests/integration/components/certification-centers/membership-item-test.gjs
Due: eslint --fix

:recycle: admin: remove habilitation-tag from index
  admin/app/components/certification-centers/habilitation-tag.gjs
Due: none

:recycle: migrate membership item actions in component gjs
  admin/app/components/certification-centers/membership-item-actions.gjs
  admin/app/components/certification-centers/membership-item-actions.hbs
  admin/tests/integration/components/certification-centers/membership-item-actions-test.gjs
Due: none

:recycle: migrate information view in component gjs
  admin/app/components/certification-centers/information-view.gjs
  admin/app/components/certification-centers/information-view.hbs
  admin/app/components/certification-centers/information-view.js
  admin/tests/integration/components/certification-centers/information-view-test.gjs
Due: eslint --fix

:recycle: migrate information in component gjs
  admin/app/components/certification-centers/information.gjs
  admin/app/components/certification-centers/information.hbs
  admin/app/components/certification-centers/information.js
Due: eslint --fix

:recycle: migrate invitations in component gjs
  admin/app/components/certification-centers/invitations.gjs
  admin/app/components/certification-centers/invitations.hbs
  admin/app/components/certification-centers/invitations.js
  admin/tests/integration/components/certification-centers/invitations-test.gjs
Due: eslint --fix

:recycle: migrate information action in component gjs
  admin/app/components/certification-centers/invitations-action.gjs
  admin/app/components/certification-centers/invitations-action.hbs
  admin/app/components/certification-centers/invitations-action.js
  admin/tests/integration/components/certification-centers/invitations-action-test.gjs
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
