Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

[RELEASE] A minor is being released to 4.115.0.
  1d/package-lock.json
  1d/package.json
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

refactor(mon-pix): improve challenge actions responsive style
  mon-pix/app/components/challenge-actions.hbs
  mon-pix/app/styles/components/_challenge-actions.scss
Due: stylelint --fix

refactor(mon-pix): improve feedback panel contrast
  mon-pix/app/components/feedback-panel.hbs
  mon-pix/app/styles/components/_feedback-panel.scss
Due: stylelint --fix

refactor(mon-pix): improve dashboard score link style
  mon-pix/app/components/dashboard/content.hbs
  mon-pix/app/styles/components/dashboard/_content.scss
Due: stylelint --fix

refactor(mon-pix): improve competence card details link style
  mon-pix/app/styles/components/_competence-card-default.scss
Due: stylelint --fix

:bug: api: use the active configuration at the time the challenge started for v3 certification rescoring
  api/lib/domain/events/handle-certification-rescoring.js
  api/tests/certification/course/acceptance/application/certification-course-route_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
Due: eslint --fix

:sparkles: api: get algo configuration depending on date
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithmConfiguration.js
  api/src/certification/flash-certification/domain/usecases/update-active-flash-assessment-configuration.js
  api/src/certification/flash-certification/infrastructure/repositories/flash-algorithm-configuration-repository.js
  api/tests/certification/flash-certification/integration/infrastructure/repositories/flash-algorithm-configuration-repository_test.js
  api/tests/tooling/domain-builder/factory/build-flash-algorithm-configuration.js
Due: eslint --fix

fix(api): use correct grain id
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
Due: none

:bug: api: use the active configuration at the time the challenge started for v3 certification scoring
  api/lib/domain/events/handle-certification-scoring.js
  api/lib/domain/models/CertificationCourse.js
  api/tests/certification/flash-certification/unit/domain/usecases/update-active-flash-assessment-configuration_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-complete-assessment_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
Due: eslint --fix

:rotating_light: api: Fix lint on import order errors
  api/db/database-builder/factory/build-flash-algorithm-configuration.js
  api/src/certification/flash-certification/infrastructure/repositories/flash-algorithm-configuration-repository.js
  api/tests/certification/flash-certification/integration/infrastructure/repositories/flash-algorithm-configuration-repository_test.js
  api/tests/certification/flash-certification/unit/domain/usecases/update-active-flash-assessment-configuration_test.js
Due: eslint --fix

:recycle: api: rename flashAlgorithmConfigurationRepository.get to getMostRecent
  api/lib/domain/usecases/get-next-challenge-for-campaign-assessment.js
  api/src/certification/flash-certification/domain/usecases/get-active-flash-assessment-configuration.js
  api/src/certification/flash-certification/domain/usecases/update-active-flash-assessment-configuration.js
  api/src/certification/flash-certification/infrastructure/repositories/flash-algorithm-configuration-repository.js
  api/tests/certification/flash-certification/integration/infrastructure/repositories/flash-algorithm-configuration-repository_test.js
  api/tests/certification/flash-certification/unit/domain/usecases/get-active-flash-assessment-configuration_test.js
  api/tests/certification/flash-certification/unit/domain/usecases/update-active-flash-assessment-configuration_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
Due: eslint --fix

:bug: api: use the active configuration at the time the challenge started when selecting the challenge
  api/db/database-builder/factory/build-flash-algorithm-configuration.js
  api/src/certification/course/domain/usecases/get-next-challenge-for-certification.js
  api/src/shared/config.js
  api/tests/certification/course/unit/domain/usecases/get-next-challenge-for-certification_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get-next-challenge-for-certification_test.js
Due: eslint --fix

:recycle: api: add missing given-when-then in tests
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
Due: eslint --fix

tech(api): add LEARNER_IMPORT feature
  api/db/migrations/20240314091037_add-organization-learner-import-to-features.js
  api/db/seeds/data/common/constants.js
  api/db/seeds/data/common/feature-builder.js
  api/src/shared/domain/constants.js
Due: eslint --fix

tech(api): add migration to create organization-learner-import-formats table
  api/db/migrations/20240314095400_create-organization-learner-import-format-table.js
Due: eslint --fix

:sparkles: api: save competence marks on rescoring
  api/lib/domain/events/handle-certification-rescoring.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
Due: eslint --fix

:sparkles: api: calculate level by competence on rescoring
  api/lib/domain/events/handle-certification-rescoring.js
  api/tests/certification/course/acceptance/application/certification-course-route_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
Due: eslint --fix

feat(api): Return 502 error on module instantiation errors
  api/src/devcomp/application/http-error-mapper-configuration.js
  api/src/shared/application/http-errors.js
  api/tests/devcomp/unit/application/modules/controller_test.js
Due: eslint --fix

feat(api): throw an error if Module.toDomain or toDomainForVerification fails
  api/src/devcomp/domain/errors.js
  api/src/devcomp/domain/models/module/Module.js
  api/tests/devcomp/unit/domain/models/module/Module_test.js
Due: eslint --fix

refactor(api): delegate module instantiation to Module model itself
  api/src/devcomp/domain/models/module/Module.js
  api/src/devcomp/infrastructure/repositories/module-repository.js
Due: eslint --fix

feat(api): return all errors
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-xml-format.js
  api/src/prescription/learner-management/infrastructure/serializers/xml/siecle-parser.js
  api/src/prescription/learner-management/infrastructure/serializers/xml/xml-organization-learner-set.js
  api/tests/prescription/learner-management/integration/infrastructure/serializers/xml/siecle-parser_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-xml-format_test.js
  api/tests/tooling/fixtures/siecle-file/siecle-student-with-no-sex-no-birthdate.xml
Due: eslint --fix

docs(api): add tag organizational-entities
  api/src/organizational-entities/application/routes.js
Due: eslint --fix

feat(api): migrate attach child organization route
  api/lib/application/error-manager.js
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/lib/domain/errors.js
  api/lib/domain/models/index.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/data-protection-officer-repository.js
  api/lib/infrastructure/serializers/jsonapi/organizations-administration/organization-for-admin-serializer.js
  api/scripts/organization/update-organizations-identity-provider-for-campaigns.js
  api/scripts/organization/update-organizations-province-code.js
  api/server.js
  api/src/organizational-entities/application/organization-controller.js
  api/src/organizational-entities/application/routes.js
  api/src/organizational-entities/domain/errors.js
  api/src/organizational-entities/domain/models/DataProtectionOfficer.js
  api/src/organizational-entities/domain/models/OrganizationForAdmin.js
  api/src/organizational-entities/domain/usecases/attach-child-organization-to-organization.js
  api/src/organizational-entities/domain/usecases/index.js
  api/src/organizational-entities/infrastructure/repositories/organization-for-admin-repository.js
  api/tests/integration/domain/usecases/create-organization_test.js
  api/tests/integration/domain/usecases/update-certification-center-data-protection-officer-information_test.js
  api/tests/integration/domain/usecases/update-organization-data-protection-officer-information_test.js
  api/tests/integration/infrastructure/repositories/data-protection-officer-repository_test.js
  api/tests/organizational-entities/acceptance/attach-child-organization-route-post_test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin-repository_test.js
  api/tests/organizational-entities/unit/domain/usecases/attach-child-organization-to-organization_test.js
  api/tests/tooling/domain-builder/factory/build-data-protection-officer.js
  api/tests/tooling/domain-builder/factory/build-organization-for-admin.js
  api/tests/unit/application/error-manager_test.js
  api/tests/unit/domain/errors_test.js
  api/tests/unit/domain/models/DataProtectionOfficer_test.js
  api/tests/unit/domain/models/organizations-administration/OrganizationForAdmin_test.js
  api/tests/unit/domain/usecases/create-certification-center_test.js
  api/tests/unit/domain/usecases/create-organization_test.js
  api/tests/unit/domain/usecases/organizations-administration/update-organization-information_test.js
  api/tests/unit/domain/usecases/organizations-administration/update-organization-province-code_test.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.116.0.
  1d/package-lock.json
  1d/package.json
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

feat(api): modify joi schema
  api/lib/domain/validators/organization-with-tags-and-target-profiles-script.js
  api/tests/integration/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
  api/tests/unit/domain/validators/organization-with-tags-and-target-profiles-script_test.js
Due: eslint --fix

:sparkles: api: replace erroneous certificate templates with new ones
  api/src/certification/course/infrastructure/utils/pdf/files/EN-attestation-template-with-complementary-certification.pdf
  api/src/certification/course/infrastructure/utils/pdf/files/EN-attestation-template-without-complementary-certification.pdf
  api/src/certification/course/infrastructure/utils/pdf/files/FR-attestation-template-with-professionalizing-message-and-with-complementary-certifications.pdf
  api/src/certification/course/infrastructure/utils/pdf/files/FR-attestation-template-with-professionalizing-message-and-without-complementary-certifications.pdf
  api/src/certification/course/infrastructure/utils/pdf/files/FR-attestation-template-without-professionalizing-message-and-with-complementary-certifications.pdf
  api/src/certification/course/infrastructure/utils/pdf/files/FR-attestation-template-without-professionalizing-message-and-without-complementary-certifications.pdf
Due: none

feat(mon-pix): return correct DPP URL for nederland language
  mon-pix/app/services/url.js
  mon-pix/tests/unit/services/url_test.js
Due: eslint --fix

♻️ api: limit the verification code size in the certification course database builder
  api/db/database-builder/factory/build-certification-course.js
Due: eslint --fix

refactor(mon-pix): rename variables
  mon-pix/tests/unit/services/url_test.js
Due: eslint --fix

fix(api): correct coquille
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
Due: none

feat(api): update content
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
Due: none

feat(mon-pix): return correct CGU URL for nederland language
  mon-pix/app/services/url.js
  mon-pix/tests/unit/services/url_test.js
Due: eslint --fix

feat(api): re update content
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
Due: none

feat(api): update grain 1
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
Due: none

feat(1d): update meta validation rule for activity answer creation
  api/src/school/application/activity-answer-route.js
  api/tests/school/unit/application/activity-answer-route.js
  api/tests/school/unit/application/activity-answer-route_test.js
Due: eslint --fix

feat(api): reupdate (jro feedbacks)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
Due: none

feat(1d): specify isPreview meta when saving activity-answer
  1d/app/adapters/activity-answer.js
  1d/app/pods/components/challenge/component.js
  1d/mirage/config.js
  1d/tests/acceptance/challenge-preview_test.js
Due: eslint --fix

feat(1d): deserialize isPreview meta when saving activity answer
  api/src/school/infrastructure/serializers/activity-answer-serializer.js
  api/tests/school/unit/infrastructure/serializers/activity-answer-serializer_test.js
Due: eslint --fix

feat(1d): pass isPreview arg in controller when saving activity answer
  api/src/school/application/activity-answer-controller.js
  api/tests/unit/application/activity-answers/activity-answer-controller_test.js
Due: eslint --fix
