Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

update usecase
  api/lib/domain/usecases/get-user-certification-eligibility.js
  api/src/certification/enrolment/domain/models/UserEligibilityList.js
  api/tests/certification/enrolment/unit/domain/models/UserEligibilityList_test.js
  api/tests/unit/domain/usecases/get-user-certification-eligibility_test.js
Due: eslint --fix

integration test
  api/src/certification/enrolment/domain/services/index.js
  api/src/certification/enrolment/infrastructure/repositories/index.js
  api/tests/certification/enrolment/integration/domain/services/user-eligibility-service_test.js
Due: eslint --fix

add repo to get necessary badge data in enrolment context
  api/lib/domain/usecases/index.js
  api/src/certification/enrolment/domain/read-models/ComplementaryCertificationBadge.js
  api/src/certification/enrolment/infrastructure/repositories/complementary-certification-badge-repository.js
  api/src/certification/enrolment/infrastructure/repositories/index.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/complementary-certification-badge-repository_test.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-complementary-certification-badge.js
  api/tests/tooling/domain-builder/factory/index.js
Due: eslint --fix

service computes complementary eligibilities v2
  api/src/certification/enrolment/domain/services/user-eligibility-service.js
  api/tests/certification/enrolment/unit/domain/services/user-eligibility-service_test.js
Due: eslint --fix

compute complementary eligibility v2 in models
  api/src/certification/enrolment/domain/models/UserEligibilityCalculator.js
  api/src/certification/enrolment/domain/models/UserEligibilityList.js
  api/tests/certification/enrolment/unit/domain/models/UserEligibilityCalculator_test.js
  api/tests/certification/enrolment/unit/domain/models/UserEligibilityList_test.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-user-complementary-eligibility-v2.js
  api/tests/tooling/domain-builder/factory/index.js
Due: eslint --fix

add repo method to efficienlty get how many versions behind for each complementary certif badge
  api/src/certification/enrolment/infrastructure/repositories/user-eligibility-calculator-repository.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/user-eligibility-calculator-repository_test.js
Due: eslint --fix

remove dead code
  api/src/certification/complementary-certification/application/api/models/ComplementaryCertificationBadgesHistory.js
  api/src/certification/complementary-certification/domain/read-models/ComplementaryCertificationVersioning.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-versioning.js
  api/tests/tooling/domain-builder/factory/index.js
Due: eslint --fix

feat(mon-pix): review modulix grains background colors
  mon-pix/app/styles/components/module/_grain.scss
Due: stylelint --fix

[FEATURE] Changement des couleurs de fonds Modulix (PIX-14066) (#9996)
  mon-pix/app/styles/components/module/_grain.scss
Due: stylelint --fix

fix(api) : erreur ID element
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
Due: none

feat(api): v0 step mdl bien-ecrire-son-adresse-mail
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
Due: none

fix(api): delete one step after review
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

feat(api): add stepp to mdl mots-de-passe-securises
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
Due: none

feat(api): delete step in particular context (retour à version précédente)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

fix(api): delete 2 empty steps
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
Due: none

feat(api): add step mdl distinguer-vrai-faux-sur-internet
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
Due: none

feat(api): add stepper to mdl ports-connexions-essentiels + fix typo
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
Due: none

fix html
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
Due: none

feat(api): add step to mdl adresse-ip-publique-et-vous
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

feat(api): add step mdl sources-informations
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

[FEATURE] Ajout des stepper-step sur les modules du MVP (#9954)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

feat(api): retrieve documentationUrl for a mission
  api/src/school/domain/models/Mission.js
  api/src/school/infrastructure/repositories/mission-repository.js
  api/src/school/infrastructure/serializers/mission-serializer.js
  api/tests/school/integration/application/mission-controller_test.js
  api/tests/school/integration/infrastructure/repositories/mission-repository_test.js
Due: eslint --fix

tech(api): add sco-1d orga to admin user in seed
  api/db/seeds/data/team-1d/data-builder.js
Due: eslint --fix

feat(junior): display documentation link
  orga/app/components/mission/details.gjs
  orga/app/components/mission/header.hbs
  orga/app/components/mission/header.js
  orga/app/components/mission/mission-information.hbs
  orga/app/components/mission/mission-information.js
  orga/app/models/mission.js
  orga/app/styles/app.scss
  orga/app/styles/components/mission/header.scss
  orga/app/styles/pages/authenticated/mission.scss
  orga/app/templates/authenticated/missions/details.hbs
  orga/tests/acceptance/missions-details-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Due: eslint --fix, stylelint --fix

:recycle: api: unused script fill-issue-report-category-id.js
  api/scripts/certification/fill-issue-report-category-id.js
  api/tests/integration/scripts/certification/fill-issue-report-category-id_test.js
Due: eslint --fix

:recycle: api: unused script fill-last-assessment-result-certification-course-table.js
  api/scripts/certification/fill-last-assessment-result-certification-course-table.js
  api/tests/integration/scripts/certification/fill-last-assessment-result-certification-course-table_test.js
Due: eslint --fix

:recycle: api: unused script generate-certification-test-statistics.js
  api/scripts/certification/generate-certification-test-statistics.js
Due: eslint --fix

:recycle: api: unused script update-certification-infos.js
  api/scripts/certification/update-certification-infos.js
  api/tests/acceptance/scripts/certification/update-certification-infos_test.js
Due: eslint --fix

fix(api) erreurs html
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
Due: none

:recycle: api: unused script cancel-certifications-and-publish-sessions.js
  api/scripts/certification/cancel-certifications-and-publish-sessions.js
Due: eslint --fix

:recycle: api: unused script generate-certification-results.js
  api/scripts/certification/generate-certification-results.js
Due: eslint --fix

:recycle: api: unused script generate-last-assessments-score.js
  api/scripts/certification/generate-last-assessments-score.js
Due: eslint --fix

:recycle: api: unused script import-certifications-from-csv.js
  api/scripts/certification/import-certifications-from-csv.js
  api/tests/acceptance/scripts/certification/import-certifications-from-csv_test.js
Due: eslint --fix

:recycle: api: unused script verify-certificate-code-service.js
  api/scripts/certification/verify-certificate-code-service_script.js
Due: eslint --fix

:recycle: api: unused script validate-cpf-xml.js
  api/package-lock.json
  api/package.json
  api/scripts/certification/validate-cpf-xml.js
  api/tests/unit/domain/services/cpf/cpf-certification-xml-export-service_test.js
Due: eslint --fix

:recycle: api: unused script generate-certification-csv-results-by-session-ids.js
  api/scripts/certification/generate-certification-csv-results-by-session-ids.js
Due: eslint --fix

:recycle: api: there are no possible cases of empty verificationCode.
  api/scripts/certification/generate-certificate-verification-code.js
Due: eslint --fix

:recycle: api: documentation
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/retrieve-last-or-create-certification-course.js
Due: eslint --fix

:recycle: api: moving workaround closer to what it wants to work around
  api/lib/domain/usecases/retrieve-last-or-create-certification-course.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Due: eslint --fix

:recycle: api: removing useless usage of bluebird
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
Due: eslint --fix
