Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

:recycle: api: use Candidate model instead of its equivalent read-model
  api/src/certification/enrolment/application/certification-candidate-controller.js
  api/src/certification/enrolment/application/services/register-candidate-participation-service.js
  api/src/certification/enrolment/application/session-controller.js
  api/src/certification/enrolment/domain/read-models/EnrolledCandidate.js
  api/src/certification/enrolment/domain/usecases/candidate-has-seen-certification-instructions.js
  api/src/certification/enrolment/domain/usecases/link-user-to-candidate.js
  api/src/certification/enrolment/domain/usecases/verify-candidate-identity.js
  api/src/certification/enrolment/infrastructure/repositories/enrolled-candidate-repository.js
  api/src/certification/enrolment/infrastructure/serializers/candidate-serializer.js
  api/src/certification/enrolment/infrastructure/serializers/enrolled-candidate-serializer.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/enrolled-candidate-repository_test.js
  api/tests/certification/enrolment/unit/domain/services/register-candidate-participation-service_test.js
  api/tests/certification/enrolment/unit/domain/usecases/candidate-has-seen-certification-instructions_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/candidate-serializer_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/enrolled-candidate-serializer_test.js
Due: eslint --fix

♻️ certif: Hide prepaiement code for not prepaid billing mode in candidate creation modal
  certif/app/components/sessions/session-details/enrolled-candidates/candidate-creation-modal.gjs
Due: none

chore(api): update js doc in JobRepository constructor
  api/src/shared/infrastructure/repositories/jobs/job-repository.js
Due: eslint --fix

[BUGFIX] Supprimer l'initialisation en lang fr par défaut de l'application (PIX-14387) (#10143)
  admin/app/index.html
  certif/app/index.html
  mon-pix/app/index.html
  mon-pix/app/routes/application.js
  mon-pix/tests/unit/routes/application-test.js
  orga/app/index.html
Due: eslint --fix

:sparkles: api: using UK wording for reconciliation
  api/db/database-builder/factory/build-certification-candidate.js
  api/db/migrations/20240920163000_modify-to-reconciledAt-on-certification-candidates-table .js
  api/tests/certification/enrolment/integration/infrastructure/repositories/candidate-repository_test.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-candidate.js
Due: eslint --fix

♻️ certif: Add test for Hide prepaiement code for not prepaid billing mode case
  certif/app/components/sessions/session-details/enrolled-candidates/candidate-creation-modal.gjs
  certif/tests/acceptance/session-details-certification-candidates-test.js
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/candidate-creation-modal-test.gjs
Due: eslint --fix

feat(api): create a job to log in audit logger
  api/src/identity-access-management/application/jobs/event-logging.job-controller.js
  api/src/identity-access-management/domain/models/jobs/EventLoggingJob.js
  api/src/identity-access-management/infrastructure/repositories/jobs/event-logging-job.repository.js
  api/tests/identity-access-management/unit/application/jobs/event-logging.job-controller.test.js
  api/tests/identity-access-management/unit/domain/models/jobs/EventLoggingJob.test.js
  api/tests/identity-access-management/unit/infrastructure/repositories/jobs/event-logging-job.repository.test.js
Due: eslint --fix

🚛 certif: reorganizing folders components for sessions
  certif/app/components/enrolled-candidates.hbs
  certif/app/components/enrolled-candidates.js
  certif/app/components/sessions/index.gjs
  certif/app/components/sessions/session-details/clea-results-download.gjs
  certif/app/components/sessions/session-details/controls-links.gjs
  certif/app/components/sessions/session-details/details-modal-row.gjs
  certif/app/components/sessions/session-details/details-modal.gjs
  certif/app/components/sessions/session-details/enrolled-candidates.gjs
  certif/app/components/sessions/session-details/header.gjs
  certif/app/components/sessions/session-details/index.gjs
  certif/app/components/sessions/session-details/nav.gjs
  certif/app/components/sessions/session-list-header.gjs
  certif/app/components/sessions/session-list-row.gjs
  certif/app/components/sessions/session-list.gjs
  certif/app/templates/authenticated/sessions/details.hbs
  certif/app/templates/authenticated/sessions/details/certification-candidates.hbs
  certif/tests/integration/components/sessions/session-details/details-modal-test.gjs
  certif/tests/integration/components/sessions/session-details/enrolled-candidates-test.js
  certif/tests/integration/components/sessions/session-list-header_test.gjs
  certif/tests/integration/components/sessions/session-list_test.gjs
  certif/tests/unit/components/sessions/session-details/clea-results-download-test.js
  certif/tests/unit/components/sessions/session-details/enrolled-candidates-test.js
  certif/tests/unit/components/sessions/session-list-header_test.gjs
  certif/tests/unit/components/sessions/session-list_test.gjs
Due: eslint --fix

tech: use a Github Action to trigger CircleCI
  .circleci/config.yml
  .github/workflows/trigger-ci.yaml
Due: eslint --fix

fix(junior): add margin in a button between text and icon
  junior/app/styles/pages/identified/missions/mission.scss
Due: stylelint --fix

refactor(api): log email change in audit logger
  api/src/identity-access-management/domain/usecases/index.js
  api/src/identity-access-management/domain/usecases/update-user-email-with-validation.usecase.js
  api/tests/identity-access-management/integration/domain/usecases/update-user-email-with-validation.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/update-user-email-with-validation.usecase.test.js
Due: eslint --fix

[FEATURE] Suppression du check de certificabilité à la création de la certification (PIX-14206). (#10162)
  api/lib/domain/usecases/retrieve-last-or-create-certification-course.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Due: eslint --fix

:sparkles: api: seeds with reconciliation date
  api/db/seeds/data/common/tooling/session-tooling.js
Due: eslint --fix

[TECH] Migration de la route /api/users/{id}/profile (PIX-14454) (#10166)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/server.js
  api/src/profile/application/index.js
  api/src/profile/application/profile-controller.js
  api/src/profile/domain/usecases/get-user-profile.js
  api/src/profile/domain/usecases/index.js
  api/src/profile/infrastructure/serializers/jsonapi/profile-serializer.js
  api/src/profile/routes.js
  api/tests/profile/unit/application/index_test.js
  api/tests/profile/unit/application/profile-controller_test.js
  api/tests/profile/unit/domain/usecases/get-user-profile_test.js
  api/tests/profile/unit/infrastructure/serializers/jsonapi/profile-serializer_test.js
  api/tests/unit/application/users/index_test.js
  api/tests/unit/application/users/user-controller_test.js
Due: eslint --fix

♻️ certif: Move creation and edition modal into session-details
  certif/app/components/sessions/session-details/enrolled-candidates/candidate-creation-modal-complementary-list.gjs
  certif/app/components/sessions/session-details/enrolled-candidates/candidate-creation-modal.gjs
  certif/app/components/sessions/session-details/enrolled-candidates/candidate-details-modal-row.gjs
  certif/app/components/sessions/session-details/enrolled-candidates/candidate-details-modal.gjs
  certif/app/components/sessions/session-details/enrolled-candidates/candidate-edition-modal.gjs
  certif/app/components/sessions/session-details/enrolled-candidates/index.gjs
  certif/tests/integration/components/edit-candidate-modal/index-test.gjs
  certif/tests/integration/components/new-candidate-modal/index_test.gjs
  certif/tests/integration/components/sessions/session-details/details-modal-test.gjs
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/candidate-creation-modal-test.gjs
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/candidate-details-modal-test.gjs
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/candidate-edition-modal-test.gjs
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/index-test.gjs
  certif/tests/unit/components/new-candidate-modal/index-test.js
  certif/tests/unit/components/sessions/session-details/clea-results-download-test.gjs
  certif/tests/unit/components/sessions/session-details/enrolled-candidates/candidate-creation-modal-test.js
  certif/tests/unit/components/sessions/session-details/enrolled-candidates/index-test.js
Due: eslint --fix

fix(junior): handle mission card name issues
  junior/app/styles/components/mission-card/card.scss
Due: stylelint --fix

feat(mon-pix): create signin form with new design
  mon-pix/app/components/authentication-layout/index.gjs
  mon-pix/app/components/authentication/login-form.gjs
  mon-pix/app/components/authentication/signin-form.gjs
  mon-pix/app/components/authentication/signin-form.scss
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/pages/_sign-form.scss
  mon-pix/app/templates/authentication/login.hbs
Due: stylelint --fix

feat(mon-pix): add acceptance tests for new SigninForm
  mon-pix/tests/acceptance/authentication-test.js
  mon-pix/tests/acceptance/authentication/authentication-redirections-test.js
  mon-pix/tests/acceptance/authentication/login-test.js
Due: eslint --fix

feat(mon-pix): create integration test for new SigninForm
  mon-pix/tests/integration/components/authentication/signin-form-test.gjs
Due: none

Try to use pdf form
  api/src/evaluation/application/users/index.js
  api/src/evaluation/application/users/template.pdf
Due: eslint --fix

api: add migration to add a reconciliation date to former candidates
  api/db/migrations/20240924091540_add-reconciliation-date-to-former-candidates.js
Due: eslint --fix

feat(mon-pix): add trainings tab content
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/index.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/trainings.gjs
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results.gjs
  mon-pix/app/styles/components/campaigns/assessment/skill-review/evaluation-results-tabs/trainings.scss
  mon-pix/app/styles/components/campaigns/index.scss
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/evaluation-results-tabs-test.js
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/rewards/trainings-test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: eslint --fix, stylelint --fix

fix(certif): ensure candidate is on correct session when retrieving in evaluation context
  api/src/certification/evaluation/infrastructure/repositories/certification-candidate-repository.js
  api/tests/certification/evaluation/integration/infrastructure/repositories/certification-candidate-repository_test.js
Due: eslint --fix

:fire: api: Remove ping companion endpoint
  api/sample.env
  api/src/certification/enrolment/application/companion-controller.js
  api/src/certification/enrolment/application/companion-route.js
  api/src/certification/enrolment/domain/models/CompanionPingInfo.js
  api/src/certification/enrolment/domain/usecases/save-companion-ping.js
  api/src/certification/enrolment/infrastructure/repositories/certification-candidate-repository.js
  api/src/certification/enrolment/routes.js
  api/src/certification/shared/domain/services/temporary-companion-storage-service.js
  api/src/shared/config.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/certification-candidate-repository_test.js
  api/tests/certification/enrolment/unit/application/companion-controller_test.js
  api/tests/certification/enrolment/unit/application/companion-route_test.js
  api/tests/certification/enrolment/unit/domain/usecases/save-companion-ping_test.js
  api/tests/certification/shared/integration/domain/services/temporary-companion-storage-service_test.js
  api/tests/certification/shared/unit/domain/services/temporary-companion-storage-service_test.js
Due: eslint --fix

:fire: api: removes isCompanionActive in supervising info
  api/src/certification/enrolment/domain/usecases/index.js
  api/src/certification/session-management/domain/models/CertificationCandidateForSupervising.js
  api/src/certification/session-management/domain/usecases/get-session-for-supervising.js
  api/src/certification/session-management/domain/usecases/index.js
  api/src/certification/session-management/infrastructure/serializers/session-for-supervising-serializer.js
  api/src/certification/shared/domain/services/temporary-companion-storage-service.js
  api/tests/certification/session-management/unit/domain/usecases/get-session-for-supervising_test.js
  api/tests/certification/session-management/unit/infrastructure/serializers/session-for-supervising-serializer_test.js
  api/tests/certification/shared/integration/domain/services/temporary-companion-storage-service_test.js
Due: eslint --fix

:fire: certif: removes isCompanionActive on supervising page
  certif/app/components/session-supervising/candidate-in-list.hbs
  certif/app/models/certification-candidate-for-supervising.js
  certif/tests/integration/components/session-supervising/candidate-in-list-test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

feat(mon-pix): use isNewAuthenticationDesignEnabled toggle to display the new authentication page
  mon-pix/app/components/authentication/login-form.gjs
  mon-pix/app/controllers/authentication/login.js
  mon-pix/app/templates/authentication/login.hbs
  mon-pix/tests/acceptance/authentication/login-test.js
Due: eslint --fix

feat(mon-pix): add new sass configuration
  mon-pix/ember-cli-build.js
Due: eslint --fix

feat(mon-pix): create authentication layout component
  mon-pix/app/components/authentication-layout/index.css
  mon-pix/app/components/authentication-layout/index.gjs
  mon-pix/app/styles/app.scss
  mon-pix/public/images/illustrations/authentication.svg
  mon-pix/tests/integration/components/authentication-layout/index-test.gjs
Due: stylelint --fix

feat(mon-pix): set up css for template
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/pages/_authentication.scss
  mon-pix/app/templates/authentication/login.hbs
Due: stylelint --fix

feat(mon-pix): improve css css to align components
  mon-pix/app/components/authentication-layout/index.scss
  mon-pix/tests/integration/components/authentication-layout/index-test.gjs
Due: stylelint --fix

feat(mon-pix): add header, footer and form components to layout
  mon-pix/app/components/authentication-layout/footer.gjs
  mon-pix/app/components/authentication-layout/header.gjs
  mon-pix/app/components/authentication-layout/index.css
  mon-pix/app/components/authentication-layout/login-form.gjs
  mon-pix/tests/integration/components/authentication-layout/footer_test.gjs
Due: none

feat(mon-pix): make authentication layout responsive
  mon-pix/app/components/authentication-layout/index.scss
Due: stylelint --fix

feat(mon-pix): create new footer link component
  mon-pix/app/components/authentication-layout/footer.gjs
  mon-pix/app/components/authentication-layout/index.css
  mon-pix/app/components/footer.hbs
  mon-pix/app/components/footer.js
  mon-pix/app/components/footer/footer-links.gjs
  mon-pix/app/components/footer/index.hbs
  mon-pix/app/components/footer/index.js
  mon-pix/app/services/url.js
  mon-pix/tests/integration/components/footer/footer-links_test.gjs
  mon-pix/tests/integration/components/footer/footer-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: eslint --fix

fix(mon-pix): fix scss configuration
  mon-pix/app/components/authentication-layout/index.css
  mon-pix/app/components/authentication-layout/index.scss
  mon-pix/app/styles/app.scss
  mon-pix/tests/helpers/create-glimmer-component.js
Due: eslint --fix, stylelint --fix

feat(mon-pix): prepare login form
  mon-pix/app/components/authentication-layout/login-form.gjs
  mon-pix/app/templates/authentication/login.hbs
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: none

feat(mon-pix): set up css for mobile
  mon-pix/app/components/authentication-layout/index.css
Due: none

fix(mon-pix): fix glimmer unit tests with code splitting
  mon-pix/ember-cli-build.js
  mon-pix/tests/helpers/create-glimmer-component.js
Due: eslint --fix

[TECH] migrate /api/admin/target-profiles/{id}/badges route (PIX-14465) (#10172)
  api/lib/application/target-profiles/index.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/src/evaluation/application/badges/badges-controller.js
  api/src/evaluation/application/badges/index.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/evaluation/acceptance/application/badges/index_test.js
  api/tests/evaluation/unit/application/badges/index_test.js
  api/tests/unit/application/target-profiles/index_test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
