Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

[FEATURE] :sparkles: Empêcher un candidat de lancer le test de certification après la saisie du code d'accès si la session est expirée (PIX-23768) (#17021)
  api/src/certification/evaluation/domain/models/CandidateAuthorization.js
  api/src/certification/session-management/domain/read-models/CandidateAuthorizationInfo.js
  api/src/certification/session-management/infrastructure/repositories/candidate-authorization-info-repository.js
  api/tests/certification/evaluation/unit/domain/models/CandidateAuthorization_test.js
  api/tests/certification/session-management/integration/application/api/candidate-authorization-api_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/candidate-authorization-info-repository_test.js
  api/tests/certification/session-management/unit/domain/read-models/CandidateAuthorizationInfo_test.js
  api/tests/tooling/domain-builder/factory/certification/session-management/build-candidate-authorization-info.js
Due: eslint --fix

[FEATURE] relecture interne et eval virus_ind (#17008)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYVirus_IND.json
Due: none

[BUGFIX] Résoudre les problèmes front sur la création d'un schéma de parcours combiné (PIX-23619) (#17046)
  admin/app/components/combined-course-blueprints/form.gjs
  admin/tests/integration/components/combined-course-blueprints/form-test.gjs
Due: none

[FEATURE] Rendre la recherche de prescrit par filtre Prénom Nom plus stricte (PIX-23757) (#16995)
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-repository.js
  api/src/shared/infrastructure/utils/filter-utils.js
Due: eslint --fix

[TECH] Cache de release : rendre la colonne version des modules obligatoire (PIX-23345) (#16832)
  .circleci/jobs.yml
  api/db/migrations/20260716144245_alter-modules-version-column.js
  api/tests/learning-content/integration/application/jobs/create-learning-content-job-controller_test.js
  high-level-tests/e2e-playwright/snapshots/campaign-evaluation.json
  high-level-tests/e2e-playwright/snapshots/certification.json
  high-level-tests/e2e-playwright/snapshots/competence-evaluation.json
  high-level-tests/e2e-playwright/snapshots/demo.json
Due: eslint --fix

feat : feedback decouverte 2 step 2 (video)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_Ecrans&Sante_IND.json
Due: none

feat : feedback qab d4
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_Ecrans&Sante_IND.json
Due: none

:recycle: rename session joinability
  api/src/certification/evaluation/application/http-error-mapper-configuration.js
  api/src/certification/evaluation/domain/errors.js
  api/src/certification/evaluation/domain/models/CandidateAuthorization.js
  api/src/certification/evaluation/infrastructure/adapters/candidate-authorization-adapter.js
  api/src/certification/session-management/application/api/candidate-authorization-api.js
  api/src/certification/session-management/application/http-error-mapper-configuration.js
  api/src/certification/session-management/domain/errors.js
  api/src/certification/session-management/domain/read-models/CandidateAuthorizationInfo.js
  api/src/certification/session-management/domain/usecases/supervise-session.js
  api/tests/certification/evaluation/unit/application/http-error-mapper-configuration_test.js
  api/tests/certification/evaluation/unit/domain/models/CandidateAuthorization_test.js
  api/tests/certification/evaluation/unit/infrastructure/adapters/candidate-authorization-adapter_test.js
  api/tests/certification/session-management/integration/application/api/candidate-authorization-api_test.js
  api/tests/certification/session-management/unit/domain/errors_test.js
  api/tests/certification/session-management/unit/domain/read-models/CandidateAuthorizationInfo_test.js
  api/tests/certification/session-management/unit/domain/usecases/supervise-session_test.js
  api/tests/tooling/domain-builder/factory/certification/evaluation/build-candidate-authorization.js
Due: eslint --fix

feat(admin): display attached organization name + prefill inputs
  admin/app/components/certification-centers/creation-form.gjs
  admin/app/models/certification-center.js
  admin/app/templates/authenticated/certification-centers/new.gjs
  admin/tests/integration/components/certification-centers/creation-form-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

feat(admin): add param to retrieve attachedOrganization
  admin/app/controllers/authenticated/certification-centers/new.js
  admin/app/routes/authenticated/certification-centers/new.js
  admin/tests/unit/routes/authenticated/certification-centers/new-test.js
Due: eslint --fix

:recycle: change translations keys
  certif/app/components/login-session-invigilator/form.gjs
  certif/tests/integration/components/login-session-invigilator/form-test.gjs
  certif/translations/en.json
  certif/translations/fr.json
  mon-pix/app/components/certification-joiner.gjs
  mon-pix/app/components/certification-starter.gjs
  mon-pix/tests/integration/components/certification-starter-test.gjs
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: none

[FEATURE] Afficher les informations de l'organisation qui sera rattachée lors de la création du centre de certif (PIX-22685) (#17004)
  admin/app/components/certification-centers/creation-form.gjs
  admin/app/controllers/authenticated/certification-centers/new.js
  admin/app/models/certification-center.js
  admin/app/routes/authenticated/certification-centers/new.js
  admin/app/templates/authenticated/certification-centers/new.gjs
  admin/tests/integration/components/certification-centers/creation-form-test.gjs
  admin/tests/unit/routes/authenticated/certification-centers/new-test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

feat(admin): adapt redirection depending on whether attachedOrganizationId is provided
  admin/app/controllers/authenticated/certification-centers/new.js
  admin/app/routes/authenticated/certification-centers/new.js
  admin/app/templates/authenticated/certification-centers/new.gjs
  admin/tests/unit/controllers/authenticated/certification-centers/new-test.js
  admin/tests/unit/routes/authenticated/certification-centers/new-test.js
Due: eslint --fix

feat(admin): add a create certification center on organization page
  admin/app/components/organizations/attached-certification-center.gjs
  admin/app/components/organizations/attached-certification-center.scss
  admin/app/styles/app.scss
  admin/tests/integration/components/organizations/attached-certification-center-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Due: stylelint --fix

:recycle: remove dead code
  api/src/certification/session-management/domain/models/SessionManagement.js
  api/tests/certification/session-management/unit/domain/models/SessionManagement_test.js
Due: eslint --fix

:recycle: rename isAccessible in InvigilatorSession
  api/src/certification/session-management/domain/read-models/InvigilatorSession.js
  api/src/certification/session-management/domain/usecases/supervise-session.js
  api/tests/certification/session-management/unit/domain/read-models/InvigilatorSession_test.js
Due: eslint --fix

chore(release): 5.473.0 [skip ci]
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  491d51becc565d21191dd91094d3ab96b78ccf2a
Due: none

fix(api): cyclic deps between organization-entities and prescription/campaign
  api/src/certification/session-management/domain/usecases/index.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/organizational-entities/domain/usecases/index.js
  api/src/organizational-entities/infrastructure/repositories/index.js
  api/src/organizational-entities/infrastructure/repositories/organization-for-admin.repository.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-to-join-repository.js
  api/src/prescription/campaign/infrastructure/repositories/index.js
  api/src/prescription/campaign/infrastructure/repositories/organization-membership-repository.js
  api/src/prescription/campaign/infrastructure/repositories/target-profile-repository.js
  api/tests/organizational-entities/integration/infrastructure/repositories/certification-center-api.repository.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin.repository.test.js
  api/tests/organizational-entities/unit/infrastructure/repositories/organization-for-admin.repository.test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/target-profile-repository_test.js
Due: eslint --fix

[FEATURE] Pouvoir créer un centre de certification lié à une organisation (PIX-23465) (#17020)
  admin/app/components/organizations/attached-certification-center.gjs
  admin/app/components/organizations/attached-certification-center.scss
  admin/app/controllers/authenticated/certification-centers/new.js
  admin/app/routes/authenticated/certification-centers/new.js
  admin/app/styles/app.scss
  admin/app/templates/authenticated/certification-centers/new.gjs
  admin/tests/integration/components/organizations/attached-certification-center-test.gjs
  admin/tests/unit/controllers/authenticated/certification-centers/new-test.js
  admin/tests/unit/routes/authenticated/certification-centers/new-test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix, stylelint --fix

fix(api): cyclic deps between organization-entities and prescription/campaign
  api/src/certification/session-management/domain/usecases/index.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/organizational-entities/domain/usecases/archive-organization.usecase.js
  api/src/organizational-entities/domain/usecases/archive-organizations-in-batch.usecase.js
  api/src/organizational-entities/domain/usecases/get-organization-statistics.usecase.js
  api/src/organizational-entities/domain/usecases/index.js
  api/src/organizational-entities/infrastructure/repositories/index.js
  api/src/organizational-entities/infrastructure/repositories/organization-for-admin.repository.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-to-join-repository.js
  api/src/prescription/campaign/infrastructure/repositories/index.js
  api/src/prescription/campaign/infrastructure/repositories/organization-membership-repository.js
  api/src/prescription/campaign/infrastructure/repositories/target-profile-repository.js
  api/tests/organizational-entities/integration/domain/usecases/archive-organization.usecase.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/certification-center-api.repository.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin.repository.test.js
  api/tests/organizational-entities/unit/infrastructure/repositories/organization-for-admin.repository.test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/target-profile-repository_test.js
Due: eslint --fix

[TECH] Dépendances cycliques entre organization-entities et prescription/campaign (#17058)
  api/src/certification/session-management/domain/usecases/index.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/organizational-entities/domain/usecases/archive-organization.usecase.js
  api/src/organizational-entities/domain/usecases/archive-organizations-in-batch.usecase.js
  api/src/organizational-entities/domain/usecases/get-organization-statistics.usecase.js
  api/src/organizational-entities/domain/usecases/index.js
  api/src/organizational-entities/infrastructure/repositories/index.js
  api/src/organizational-entities/infrastructure/repositories/organization-for-admin.repository.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-to-join-repository.js
  api/src/prescription/campaign/infrastructure/repositories/index.js
  api/src/prescription/campaign/infrastructure/repositories/organization-membership-repository.js
  api/src/prescription/campaign/infrastructure/repositories/target-profile-repository.js
  api/tests/organizational-entities/integration/domain/usecases/archive-organization.usecase.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/certification-center-api.repository.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin.repository.test.js
  api/tests/organizational-entities/unit/infrastructure/repositories/organization-for-admin.repository.test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/target-profile-repository_test.js
Due: eslint --fix

fix(admin): add script to clean invalid badge-criteria
  api/src/prescription/scripts/clean-capped-tubes-criteria.js
  api/tests/prescription/scripts/integration/clean-capped-tubes-criteria_test.js
Due: eslint --fix

chore(release): 5.474.0 [skip ci]
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  93f79e01f6519dbc2e2995bb5739562ededf162c
Due: none

[FEATURE] integration v0 ecran&sante_ind (#17052)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_Ecrans&Sante_IND.json
Due: none

nom changé
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenPrompt_IND_EN.json
Due: none

:truck: tech(api): move candidate registration to session-management
  api/src/certification/enrolment/application/http-error-mapper-configuration.js
  api/src/certification/enrolment/application/session-controller.js
  api/src/certification/enrolment/application/session-route.js
  api/src/certification/enrolment/domain/errors.js
  api/src/certification/enrolment/domain/usecases/index.js
  api/src/certification/session-management/application/certification-candidate-controller.js
  api/src/certification/session-management/application/certification-candidate-route.js
  api/src/certification/session-management/application/http-error-mapper-configuration.js
  api/src/certification/session-management/application/session-controller.js
  api/src/certification/session-management/domain/errors.js
  api/src/certification/session-management/domain/services/reconcile-candidate.js
  api/src/certification/session-management/domain/services/verify-candidate-identity.js
  api/src/certification/session-management/domain/usecases/index.js
  api/src/certification/session-management/domain/usecases/register-candidate-participation.js
  api/src/certification/session-management/infrastructure/serializers/candidate-serializer.js
  api/tests/certification/enrolment/acceptance/application/session-route_test.js
  api/tests/certification/enrolment/unit/application/session-controller_test.js
  api/tests/certification/enrolment/unit/application/session-route_test.js
  api/tests/certification/session-management/acceptance/application/certification-candidate-route_test.js
  api/tests/certification/session-management/unit/application/certification-candidate-controller_test.js
  api/tests/certification/session-management/unit/application/certification-candidate-route_test.js
  api/tests/certification/session-management/unit/domain/services/reconcile-candidate_test.js
  api/tests/certification/session-management/unit/domain/services/verify-candidate-identity_test.js
  api/tests/certification/session-management/unit/domain/usecases/register-candidate-participation_test.js
Due: eslint --fix

refactor(api): move anonymization routes to privacy context
  api/server.js
  api/src/identity-access-management/application/user/user.admin.controller.js
  api/src/identity-access-management/application/user/user.admin.route.js
  api/src/identity-access-management/application/user/user.controller.js
  api/src/identity-access-management/application/user/user.route.js
  api/src/identity-access-management/domain/usecases/anonymize-user.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/identity-access-management/infrastructure/repositories/privacy-users-api.repository.js
  api/src/privacy/application/anonymize-user.controller.js
  api/src/privacy/application/anonymize-user.route.js
  api/src/privacy/application/api/users-api.js
  api/src/privacy/application/routes.js
  api/src/privacy/domain/emails/create-self-delete-user-account.email.js
  api/src/privacy/domain/services/anonymize-services/anonymize-user.service.js
  api/src/privacy/domain/services/anonymize-services/can-anonymize-itself.service.js
  api/src/privacy/domain/services/anonymize-services/index.js
  api/src/privacy/domain/usecases/anonymize-user-by-admin.usecase.js
  api/src/privacy/domain/usecases/anonymize-user-by-itself.usecase.js
  api/src/privacy/domain/usecases/index.js
  api/tests/identity-access-management/acceptance/application/user/user.admin.route.test.js
  api/tests/identity-access-management/acceptance/application/user/user.route.test.js
  api/tests/identity-access-management/integration/application/user/user.admin.route.test.js
  api/tests/identity-access-management/integration/application/user/user.route.test.js
  api/tests/identity-access-management/unit/infrastructure/repositories/privacy-users-api.repository.test.js
  api/tests/privacy/acceptance/application/anonymize-user.route.test.js
  api/tests/privacy/integration/application/api/users-api.test.js
  api/tests/privacy/integration/domain/services/anonymize-services/anonymize-user.service.test.js
  api/tests/privacy/integration/domain/services/anonymize-services/can-anonymize-itself.service.test.js
  api/tests/privacy/integration/domain/usecases/anonymize-user-by-admin.usecase.test.js
  api/tests/privacy/integration/domain/usecases/anonymize-user-by-itself.usecase.test.js
  api/tests/privacy/integration/domain/usecases/can-self-delete-account.usecase.test.js
  api/tests/privacy/unit/application/anonymize-user.route.test.js
  api/tests/privacy/unit/domain/emails/create-self-delete-user-account.email.test.js
  api/tests/privacy/unit/domain/services/anonymize-services/anonymize-user-by-itself.usecase.test.js
Due: eslint --fix

refactor(api): move GET /api/users/my-account to deprecated
  api/src/deprecated/application/users-me.controller.js
  api/src/deprecated/application/users-me.route.js
  api/src/deprecated/domain/models/UserAccountInfo.js
  api/src/deprecated/domain/usecases/get-user-account-info.usecase.js
  api/src/deprecated/domain/usecases/index.js
  api/src/deprecated/infrastructure/repositories/privacy-users-api.repository.js
  api/src/deprecated/infrastructure/serializers/jsonapi/user-account-info.serializer.js
  api/src/identity-access-management/application/user/user.controller.js
  api/src/identity-access-management/application/user/user.route.js
  api/src/identity-access-management/domain/usecases/index.js
  api/tests/deprecated/acceptance/application/users-me.route.test.js
  api/tests/deprecated/integration/domain/usecases/get-user-account-info.usecase.test.js
  api/tests/deprecated/unit/domain/models/UserAccountInfo.test.js
  api/tests/deprecated/unit/infrastructure/repositories/privacy-users-api.repository.test.js
  api/tests/deprecated/unit/infrastructure/serializers/jsonapi/user-account-info.serializer.test.js
  api/tests/identity-access-management/acceptance/application/user/user.route.test.js
Due: eslint --fix

feat(admin): add learner id with link in organization learners list
  admin/app/components/organization-learners/list-table.gjs
  admin/app/models/admin-organization-learner.js
  admin/tests/integration/components/organization-learners/list-table-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

test(admin): reorder tests in adequate modules for more clarity
  admin/tests/integration/components/users/user-detail-personal-information/organization-learner-information-test.gjs
Due: none

feat(admin): add learner id with link in associated learners list in user details page
  admin/app/components/users/user-detail-personal-information/organization-learner-information.gjs
  admin/app/models/organization-learner.js
  admin/tests/integration/components/users/user-detail-personal-information/organization-learner-information-test.gjs
Due: eslint --fix

[FEATURE] Ajouter le pourcentage de réussite du diagnostic de mon participant pour les campagnes (PIX-21253) (#17054)
  api/db/seeds/data/team-prescription/build-combined-courses.js
  api/db/seeds/data/team-prescription/fixtures/sco-siecle-combined-course.js
  orga/app/components/combined-course/participation-detail.gjs
  orga/app/styles/pages/authenticated/combined-course.scss
  orga/tests/integration/components/combined-course/participation-detail-test.gjs
  orga/translations/de.json
  orga/translations/en.json
  orga/translations/es.json
  orga/translations/fr.json
  orga/translations/it.json
  orga/translations/nl.json
Due: eslint --fix, stylelint --fix

refactor(api): update dependencies.json
  api/src/deprecated/dependencies.json
  api/src/evaluation/dependencies.json
  api/src/identity-access-management/dependencies.json
  api/src/prescription/organization-learner/dependencies.json
  api/src/privacy/dependencies.json
  api/src/profile/dependencies.json
  api/src/team/dependencies.json
Due: none

refactor(api): remove specific user-repository import placed to avoid circular dependency
  api/src/identity-access-management/domain/usecases/index.js
Due: eslint --fix

[FEATURE] Ajout de la colonne ID du prescrit dans Pix Admin (PIX-23154) (#16988)
  admin/app/components/organization-learners/list-table.gjs
  admin/app/components/users/user-detail-personal-information/organization-learner-information.gjs
  admin/app/models/admin-organization-learner.js
  admin/app/models/organization-learner.js
  admin/tests/integration/components/organization-learners/list-table-test.gjs
  admin/tests/integration/components/users/user-detail-personal-information/organization-learner-information-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

[TECH] :recycle: Renomme un élément de `CandidateAuthorization` à propos de la session (#17055)
  api/src/certification/evaluation/application/http-error-mapper-configuration.js
  api/src/certification/evaluation/domain/errors.js
  api/src/certification/evaluation/domain/models/CandidateAuthorization.js
  api/src/certification/evaluation/infrastructure/adapters/candidate-authorization-adapter.js
  api/src/certification/session-management/application/api/candidate-authorization-api.js
  api/src/certification/session-management/application/http-error-mapper-configuration.js
  api/src/certification/session-management/domain/errors.js
  api/src/certification/session-management/domain/models/SessionManagement.js
  api/src/certification/session-management/domain/read-models/CandidateAuthorizationInfo.js
  api/src/certification/session-management/domain/read-models/InvigilatorSession.js
  api/src/certification/session-management/domain/usecases/supervise-session.js
  api/tests/certification/evaluation/unit/application/http-error-mapper-configuration_test.js
  api/tests/certification/evaluation/unit/domain/models/CandidateAuthorization_test.js
  api/tests/certification/evaluation/unit/infrastructure/adapters/candidate-authorization-adapter_test.js
  api/tests/certification/session-management/integration/application/api/candidate-authorization-api_test.js
  api/tests/certification/session-management/unit/domain/errors_test.js
  api/tests/certification/session-management/unit/domain/models/SessionManagement_test.js
  api/tests/certification/session-management/unit/domain/read-models/CandidateAuthorizationInfo_test.js
  api/tests/certification/session-management/unit/domain/read-models/InvigilatorSession_test.js
  api/tests/certification/session-management/unit/domain/usecases/supervise-session_test.js
  api/tests/tooling/domain-builder/factory/certification/evaluation/build-candidate-authorization.js
  certif/app/components/login-session-invigilator/form.gjs
  certif/tests/integration/components/login-session-invigilator/form-test.gjs
  certif/translations/en.json
  certif/translations/fr.json
  mon-pix/app/components/certification-joiner.gjs
  mon-pix/app/components/certification-starter.gjs
  mon-pix/tests/integration/components/certification-starter-test.gjs
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
