Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

tech(api): add competence id to competencesScoringConfigurations
  api/scripts/certification/add-competence-ids-to-scoring-configurations.js
  api/tests/integration/scripts/certification/add-competence-ids-to-scoring-configurations_test.js
Due: eslint --fix

Update IAGenFonction_Ava.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenFonction_Ava.json
Due: none

[FEATURE] MDX-138 IAGenPrompt_AVA retours JRO
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenPrompt_AVA.json
Due: none

Create CYPhishing_IND_fr_BE.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYPhishing_IND_fr_BE.json
Due: none

bugfix(api): makes sure that only recommended modules are evaluated when assigning isSuccessful on CombinedCourseDetails
  api/tests/quest/unit/domain/models/combined-course-participation/CombinedCourseDetails_test.js
Due: eslint --fix

feat(admin): add capped tubes requirement selection to blueprint creation
  admin/app/adapters/combined-course-blueprint.js
  admin/app/components/combined-course-blueprints/form.gjs
  admin/app/models/combined-course-blueprint.js
  admin/app/routes/authenticated/combined-course-blueprints/edit.js
  admin/app/routes/authenticated/combined-course-blueprints/new.js
  admin/app/serializers/combined-course-blueprint.js
  admin/app/styles/components/combined-course/form.scss
  admin/app/templates/authenticated/combined-course-blueprints/edit.gjs
  admin/app/templates/authenticated/combined-course-blueprints/new.gjs
  admin/tests/acceptance/authenticated/combined-course-blueprints/create-combined-course-blueprint-test.js
  admin/tests/integration/components/combined-course-blueprints/form-test.gjs
  admin/tests/integration/templates/authenticated/combined-course-blueprints/new-test.gjs
  admin/tests/unit/serializers/combined-course-blueprint-test.js
  api/src/quest/application/combined-course-blueprint-route.js
  api/src/quest/domain/models/combined-course-blueprints/value-objects/QuestInput.js
  api/src/quest/domain/models/quests/value-objects/Requirement.js
  api/src/quest/infrastructure/serializers/combined-course-blueprint-for-creation-serializer.js
  api/tests/quest/acceptance/application/combined-course-blueprint-route_test.js
  api/tests/quest/unit/application/combined-course-blueprint-route_test.js
  api/tests/quest/unit/domain/models/QuestInput_test.js
  api/tests/quest/unit/infrastructure/serializers/combined-course-blueprint-for-creation-serializer_test.js
Due: eslint --fix, stylelint --fix

feat(api): avoid considering non recommended modules when rewarding user
  api/src/quest/domain/models/combined-course-participations/aggregates/CombinedCourseDetails.js
  api/tests/quest/unit/domain/models/combined-course-participation/CombinedCourseDetails_test.js
Due: eslint --fix

refactor(api): delete import-user-last-logged-at script
  api/src/identity-access-management/domain/usecases/import-user-last-logged-at.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/identity-access-management/scripts/import-user-last-logged-at.script.js
  api/tests/identity-access-management/integration/domain/usecases/import-user-last-logged-at.usecase.test.js
  api/tests/identity-access-management/unit/scripts/import-user-last-logged-at.script.test.js
Due: eslint --fix

[FEATURE] RangerFichiersIND - relecture edito 1
  api/src/devcomp/infrastructure/datasources/learning-content/modules/12_RangerFichiers_IND.json
Due: none

coquille-QCU
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CY_Virus_AVA.json
Due: none

feat(api) : coquille Musique fête/fêtes
  api/src/devcomp/infrastructure/datasources/learning-content/modules/12_RangerFichiers_IND.json
Due: none

DO NOT MERGE dummy commit for review app
  mytralala
Due: none

refactor(api): handle PixOrgaTosStatus in UserDetailsForAdmin model
  api/src/identity-access-management/domain/models/UserDetailsForAdmin.js
  api/src/identity-access-management/domain/usecases/get-user-details-for-admin.usecase.js
  api/tests/identity-access-management/unit/domain/models/UserDetailsForAdmin_test.js
Due: eslint --fix

refactor(api): use inline export for legalDocumentApiRepository
  api/src/identity-access-management/infrastructure/repositories/legal-document-api.repository.js
Due: eslint --fix

refactor(api): use a method instead of a setter
  api/src/identity-access-management/domain/models/UserDetailsForAdmin.js
  api/src/identity-access-management/domain/usecases/get-user-details-for-admin.usecase.js
  api/tests/identity-access-management/unit/domain/models/UserDetailsForAdmin_test.js
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/user-details-for-admin.serializer.test.js
  api/tests/tooling/domain-builder/factory/build-user-details-for-admin.js
Due: eslint --fix

refactor(api): adapt UserDetailsForAdmin builder to new implementation.
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/user-details-for-admin.serializer.test.js
  api/tests/tooling/domain-builder/factory/build-user-details-for-admin.js
Due: eslint --fix

refactor(api): call api from legalDocumentApiRepository instead of userRepository
  api/src/identity-access-management/infrastructure/repositories/legal-document-api.repository.js
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user.repository.test.js
  api/tests/identity-access-management/unit/infrastructure/repositories/legal-document-api.repository.test.js
Due: eslint --fix

Update CYPhishing_IND_fr_BE.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYPhishing_IND_fr_BE.json
Due: none

feat(api): reward user when combined course contains capped tubes requirement
  api/src/quest/domain/usecases/update-combined-course-progress.js
  api/tests/quest/integration/domain/usecases/update-combined-course-progress_test.js
Due: eslint --fix

tech(api): add script to duplicate english calibration with new ids
  api/scripts/certification/duplicate-english-core-calibration-with-new-ids.js
  api/tests/integration/scripts/certification/duplicate-english-core-calibration-with-new-ids_test.js
Due: eslint --fix

feat(admin): add disable state for create-version-button when there is a draft version in frameworkhistory
  admin/app/components/certification-frameworks/item/framework/framework-history.gjs
  admin/app/components/certification-frameworks/item/header.gjs
  admin/app/controllers/authenticated/certification-frameworks/item.js
  admin/app/templates/authenticated/certification-frameworks/item.gjs
  admin/tests/acceptance/authenticated/certification-frameworks/item-test.js
  admin/tests/integration/components/certification-frameworks/item/framework/framework-history-test.gjs
  admin/tests/integration/components/certification-frameworks/item/header-test.gjs
  admin/tests/mirage/routes.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

refactor(admin): move some logic into the framework-history model
  admin/app/components/certification-frameworks/item/header.gjs
  admin/app/models/framework-history.js
  admin/tests/unit/models/framework-history-test.js
Due: eslint --fix

mdx: change dec3 en stepper+qcu 3 steps
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_Evaluation_NOV.json
Due: none

feat(api): create new AttachedOrganization model and findAttachedByCertificationCenterId repository method
  api/src/organizational-entities/domain/models/AttachedOrganization.js
  api/src/organizational-entities/infrastructure/repositories/organization-for-admin.repository.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin.repository.test.js
Due: eslint --fix

feat(api): create find attached organization usecase
  api/src/organizational-entities/domain/usecases/find-attached-organizations-for-admin.usecase.js
  api/src/organizational-entities/domain/usecases/index.js
  api/tests/organizational-entities/unit/domain/usecases/find-attached-organizations-for-admin.usecase.test.js
Due: eslint --fix

feat(api): create findAttachedOrganizationForAdmin certification center controller method
  api/src/organizational-entities/application/certification-center/certification-center.admin.controller.js
Due: eslint --fix

feat(api): add route to get organization attached to given certification center
  api/src/organizational-entities/application/certification-center/certification-center.admin.route.js
  api/tests/organizational-entities/acceptance/application/certification-center/certification-center.admin.route.test.js
  api/tests/organizational-entities/unit/application/certification-center/certification-center.admin.route_test.js
Due: eslint --fix

feat(api): create attachedOrganization serializer
  api/src/organizational-entities/infrastructure/serializers/jsonapi/organizations-administration/attached-organization.serializer.js
  api/tests/organizational-entities/unit/infrastructure/serializers/jsonapi/organizations-administration/attached-organization.serializer.test.js
Due: eslint --fix

Notes added by 'git notes add'
  228796d83308e16d8e901dbc9bcbaf2cbb083335
Due: none

Update 12_RangerFichiers_IND.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/12_RangerFichiers_IND.json
Due: none

tech(api):use dedicated attached-organizations resource type in attached-organization serializer
  api/src/organizational-entities/infrastructure/serializers/jsonapi/organizations-administration/attached-organization.serializer.js
  api/tests/organizational-entities/acceptance/application/certification-center/certification-center.admin.route.test.js
  api/tests/organizational-entities/unit/application/certification-center/certification-center.admin.route_test.js
  api/tests/organizational-entities/unit/infrastructure/serializers/jsonapi/organizations-administration/attached-organization.serializer.test.js
Due: eslint --fix

tech(api): get only certif-framework-challenges with English LCMS counterparts
  api/scripts/certification/duplicate-english-core-calibration-with-new-ids.js
  api/tests/integration/scripts/certification/duplicate-english-core-calibration-with-new-ids_test.js
Due: eslint --fix

feat(api): add new trad for comments
  api/translations/de.json
  api/translations/en.json
  api/translations/es.json
  api/translations/fr.json
  api/translations/it.json
  api/translations/nl.json
Due: none

feat(api): add new factories for not obtained pix plus
  api/src/certification/evaluation/domain/models/factories/AssessmentResultFactory.js
  api/src/certification/shared/domain/models/JuryComment.js
  api/tests/certification/evaluation/unit/domain/models/factories/AssessmentResultFactory_test.js
Due: eslint --fix

feat(api): use new factories in scoring
  api/src/certification/evaluation/domain/services/scoring/create-v3-assessment-result.js
  api/tests/certification/evaluation/integration/domain/usecases/score-v3-certification_test.js
  api/tests/certification/evaluation/unit/domain/services/scoring/create-v3-assessment-result_test.js
Due: eslint --fix

tech(api): use rollback/commit for dryrun mode
  api/scripts/certification/duplicate-english-core-calibration-with-new-ids.js
  api/tests/integration/scripts/certification/duplicate-english-core-calibration-with-new-ids_test.js
Due: eslint --fix

Notes added by 'git notes add'
  86656b56d13c2ea35e572fd982a4aec474fa232f
Due: none

tech(api): classifies the rest of the quest models
  api/src/quest/domain/models/combined-course-blueprints/entities/TargetProfile.js
  api/src/quest/domain/models/combined-courses/entities/Campaign.js
  api/src/quest/domain/models/combined-courses/entities/Module.js
  api/src/quest/domain/models/prescription/entities/OrganizationLearner.js
  api/src/quest/domain/models/prescription/value-objects/VerifiedCode.js
  api/src/quest/domain/models/profile/entities/Attestation.js
  api/src/quest/domain/usecases/create-combined-course.js
  api/src/quest/domain/usecases/create-combined-courses.js
  api/src/quest/domain/usecases/get-verified-code.js
  api/src/quest/infrastructure/repositories/attestation-repository.js
  api/src/quest/infrastructure/repositories/campaign-repository.js
  api/src/quest/infrastructure/repositories/combined-course-participant-repository.js
  api/src/quest/infrastructure/repositories/module-repository.js
  api/src/quest/infrastructure/repositories/target-profile-repository.js
  api/tests/quest/integration/domain/usecases/get-verified-code_test.js
  api/tests/quest/integration/infrastructure/repositories/attestation-repository_test.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-participant-repository_test.js
  api/tests/quest/unit/domain/models/Campaign_test.js
  api/tests/quest/unit/infrastructure/repositories/campaign-repository_test.js
  api/tests/quest/unit/infrastructure/repositories/module-repository_test.js
  api/tests/quest/unit/infrastructure/repositories/target-profile-repository_test.js
  api/tests/quest/unit/infrastructure/serializers/verified-code-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-combined-course-details.js
Due: eslint --fix

chore(api): add translateBillingMode static model to enrolment candidate model
  api/src/certification/enrolment/domain/models/Candidate.js
  api/src/certification/enrolment/infrastructure/candidates-import/CandidateData.js
Due: eslint --fix
