Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat(api): create oidc token for given audience
  api/lib/application/authentication/oidc/index.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
Due: eslint --fix

feat(api): get authorization url for given audience
  api/lib/application/authentication/oidc/index.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
Due: eslint --fix

refactor(orga): use correct color args for button
  orga/app/components/campaign/activity/delete-participation-modal.hbs
  orga/app/components/campaign/settings/view.hbs
  orga/app/components/organization-participant/action-bar.hbs
  orga/app/components/organization-participant/deletion-modal.hbs
  orga/app/components/sup-organization-participant/action-bar.hbs
  orga/app/components/sup-organization-participant/modal/deletion.hbs
  orga/app/components/sup-organization-participant/modal/replace-students-modal.hbs
  orga/app/components/team/leave-organization-modal.hbs
  orga/app/components/team/remove-member-modal.hbs
Due: none

refactor(admin): use correct button color for neutral button
  certif/app/templates/authenticated/sessions/details/parameters.hbs
Due: none

refactor(admin): use correct button color for success button
  certif/app/components/session-supervising/handle-live-alert-modal.hbs
Due: none

refactor(admin): use correct button color for primary button
  certif/app/components/select-referer-modal.hbs
  certif/app/components/session-delete-confirm-modal.hbs
Due: none

refactor(admin): use correct button color for secondary button
  certif/app/components/session-supervising/confirmation-modal.hbs
Due: none

refactor(admin): use correct button color for error button
  certif/app/components/session-supervising/handle-live-alert-modal.hbs
Due: none

refactor(admin): use correct button color param
  admin/app/components/actions-on-users-role-in-organization.hbs
  admin/app/components/administration/learning-content.hbs
  admin/app/components/autonomous-courses/create-autonomous-course-form.hbs
  admin/app/components/autonomous-courses/update-autonomous-course-form.hbs
  admin/app/components/badges/badge.hbs
  admin/app/components/campaigns/update.hbs
  admin/app/components/certification-centers/information-edit.hbs
  admin/app/components/certification-centers/invitations.hbs
  admin/app/components/certification-centers/membership-item-actions.hbs
  admin/app/components/confirm-popup.hbs
  admin/app/components/organizations/creation-form.hbs
  admin/app/components/organizations/information-section-edit.hbs
  admin/app/components/organizations/information-section-view.hbs
  admin/app/components/organizations/invitations.hbs
  admin/app/components/organizations/list-items.hbs
  admin/app/components/organizations/places-lot-creation-form.hbs
  admin/app/components/organizations/places.hbs
  admin/app/components/organizations/places/list.hbs
  admin/app/components/organizations/target-profiles-section.hbs
  admin/app/components/stages/update-stage.hbs
  admin/app/components/target-profiles/badge-form.hbs
  admin/app/components/target-profiles/badge-form/criteria.hbs
  admin/app/components/target-profiles/badges.hbs
  admin/app/components/target-profiles/create-target-profile-form.hbs
  admin/app/components/target-profiles/stages.hbs
  admin/app/components/target-profiles/stages/new-stage.hbs
  admin/app/components/target-profiles/stages/stage.hbs
  admin/app/components/target-profiles/target-profile.hbs
  admin/app/components/target-profiles/update-target-profile.hbs
  admin/app/components/team/list.hbs
  admin/app/components/trainings/create-or-update-training-form.hbs
  admin/app/components/users/campaign-participations.hbs
  admin/app/components/users/certification-centers/membership-item-actions.hbs
  admin/app/components/users/user-detail-personal-information/authentication-method.hbs
  admin/app/components/users/user-detail-personal-information/organization-learner-information.hbs
  admin/app/components/users/user-overview.hbs
  admin/app/templates/authenticated/certifications/certification/informations.hbs
  admin/app/templates/authenticated/certifications/certification/neutralization.hbs
  admin/app/templates/authenticated/trainings/training/triggers/edit.hbs
Due: none

refactor(admin): use correct button color for error button
  mon-pix/app/components/account-recovery/confirmation-step.hbs
  mon-pix/app/components/routes/campaigns/assessment/skill-review.hbs
Due: none

refactor(admin): use correct button color for primary button
  mon-pix/app/components/challenge-actions.hbs
Due: none

refactor(app): remove deprecated transparent in favor of transparent-light + border
  mon-pix/app/components/routes/campaigns/assessment/skill-review.hbs
Due: none

refactor(admin): use correct button color for success button
  mon-pix/app/components/challenge-actions.hbs
  mon-pix/app/components/competence-card-default.hbs
  mon-pix/app/components/scorecard-details.hbs
  mon-pix/app/components/timed-challenge-instructions.hbs
  mon-pix/app/templates/components/focused-certification-challenge-instructions.hbs
Due: none

refactor(admin): use correct button color for neutral button
  mon-pix/app/components/feedback-panel.hbs
Due: none

refactor(admin): use correct button color for secondary button
  mon-pix/app/components/campaign-share-button.hbs
  mon-pix/app/components/challenge-embed-simulator.hbs
  mon-pix/app/components/checkpoint-continue.hbs
Due: none

chore(api): remove unused files
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/campaign-report-repository.js
  api/tests/integration/infrastructure/repositories/campaign-report-repository_test.js
Due: eslint --fix

fix(api): count only shared participations once by participant"
  api/src/prescription/campaign/infrastructure/repositories/campaign-assessment-participation-result-list-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-report-repository.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-assessment-participation-result-list-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-report-repository_test.js
Due: eslint --fix

fix(orga): allow externalId to display on multiline when if to long
  orga/app/components/campaign/activity/participants-list.hbs
  orga/app/components/campaign/results/assessment-list.hbs
  orga/app/components/campaign/results/assessment-row.hbs
  orga/app/components/campaign/results/profile-list.hbs
  orga/app/styles/globals/tables.scss
Due: stylelint --fix

feat(api) : add images and last grain
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Due: none

feat(api): create functions to generate sample modulix elements
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/image.sample.js
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/qcm.sample.js
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/qcu.sample.js
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/qrocm.sample.js
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/text.sample.js
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/video.sample.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-validation_test.js
Due: eslint --fix

chore(scripts): do not use shebangs as they are not allowed :(
  api/scripts/modulix/get-sample-image-element.js
  api/scripts/modulix/get-sample-qcm-element.js
  api/scripts/modulix/get-sample-qcu-element.js
  api/scripts/modulix/get-sample-qrocm-element.js
  api/scripts/modulix/get-sample-text-element.js
  api/scripts/modulix/get-sample-video-element.js
Due: eslint --fix

feat(scripts): add modulix elements cli generators
  api/scripts/modulix/get-sample-image-element.js
  api/scripts/modulix/get-sample-qcm-element.js
  api/scripts/modulix/get-sample-qcu-element.js
  api/scripts/modulix/get-sample-qrocm-element.js
  api/scripts/modulix/get-sample-text-element.js
  api/scripts/modulix/get-sample-video-element.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
