Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

refactor(api): remove transaction from readOnly usecase
  api/src/identity-access-management/domain/usecases/get-current-user.usecase.js
Due: eslint --fix

tech(api): add jsdoc in certification-center-for-admin repository
  api/src/organizational-entities/infrastructure/repositories/certification-center-for-admin.repository.js
Due: eslint --fix

tech(api): add jsdoc in complementary-certification-habiliation repository
  api/src/organizational-entities/infrastructure/repositories/complementary-certification-habilitation.repository.js
Due: eslint --fix

Notes added by 'git notes add'
  caf73114dd24cec29379625b462bcbfc1266747f
Due: none

Notes added by 'git notes add'
  402623481662d307eccae01432f73d17b4e786cb
Due: none

refactor(api): ignore conflict on membership composite unique key constraint
  api/src/team/infrastructure/repositories/organization-invited-user.repository.js
Due: eslint --fix

Notes added by 'git notes add'
  17594cd2ed3251b950f07a327faba9d5d40d6393
Due: none

test
  mon-pix/app/components/module/component/element.gjs
  mon-pix/app/components/module/preview.gjs
  mon-pix/app/services/modulix-preview-mode.js
  mon-pix/app/styles/components/llm/preview.scss
Due: eslint --fix, stylelint --fix

feat(api): add cache-control public on banner route
  api/src/banner/application/banner-route.js
Due: eslint --fix

feat(api): add cache-control public on feature-toggles route
  api/src/shared/application/feature-toggles/index.js
Due: eslint --fix

feat(api): add cache-control public on oidc-providers route
  api/src/identity-access-management/application/oidc-provider/oidc-provider.route.js
Due: eslint --fix

Notes added by 'git notes add'
  75e403f4d4059c7cd2a6d455370cfacfd4f46049
Due: none

feat(api): test other config
  api/src/banner/application/banner-route.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.route.js
  api/src/shared/application/feature-toggles/index.js
Due: eslint --fix

Notes added by 'git notes add'
  bb44d5b257ea5cf13ce4ade08a09432ae6860ae4
Due: none

Notes added by 'git notes add'
  1d75d88c32a81aa3710c28f34772bd71238ad265
Due: none

Notes added by 'git notes add'
  61a235e32346efb78ac610413e1121f50d022d49
Due: none

feat: make additional claims optional for oidc authentication
  api/src/identity-access-management/domain/models/AuthenticationMethod.js
  api/tests/unit/domain/models/AuthenticationMethod_test.js
Due: eslint --fix

Notes added by 'git notes add'
  a8eede42efd88ad33e8e5064cb32657b231a0186
Due: none

Notes added by 'git notes add'
  ff2c83b0cbc3c9d3cbb528a6e066133db0d3c624
Due: none

WIP
  mon-pix/app/services/locale.js
  mon-pix/app/services/url-base.js
  mon-pix/config/environment.js
  mon-pix/tests/unit/services/locale-test.js
Due: eslint --fix

tech(api): improve findAllLearnerWithAtLeastOneParticipationByOrganizationId request
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-repository.js
Due: eslint --fix

Notes added by 'git notes add'
  81e443d0ea40fad1f01ca03f2fa7df433f60cbb2
Due: none

Notes added by 'git notes add'
  ff8a42b491eae6de9e25c97823935696b0bb8178
Due: none

Reapply "[TECH] Utiliser Pgboss pour insérer les jobs plutôt que knex"
  api/db/database-builder/database-builder.js
  api/index.js
  api/src/evaluation/infrastructure/repositories/answer-job-repository.js
  api/src/shared/config.js
  api/src/shared/infrastructure/repositories/jobs/job-repository.js
  api/src/shared/infrastructure/repositories/jobs/pg-boss.js
  api/tests/certification/evaluation/integration/infrastructure/repositories/jobs/certification-completed-job-repository_test.js
  api/tests/evaluation/unit/infrastructure/repositories/answer-job-repository_test.js
  api/tests/integration/tooling/jobs/expect-job.test.js
  api/tests/learning-content/integration/infrastructure/repositories/jobs/lcms-create-release-job-repository_test.js
  api/tests/learning-content/integration/infrastructure/repositories/jobs/lcms-refresh-cache-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-result-calculation-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-shared-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-started-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/compute-certificability-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-common-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-sco-csv-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-sup-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/validate-common-organization-learners-import-file-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/validate-csv-organization-learners-import-file-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/validate-organization-learners-import-file-job-repository_test.js
  api/tests/quest/integration/infrastructure/repositories/jobs/update-combine-course-job-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/jobs/job-repository_test.js
  api/tests/test-helper.js
  api/tests/tooling/jobs/expect-job.js
  api/tests/unit/tooling/database-builder/database-helpers_test.js
  api/worker.js
Due: eslint --fix

Notes added by 'git notes add'
  da150652fc8c7104e136bd9b72b4e0b8622644e1
Due: none

test(api): blank
  api/.test
Due: none

feat(api): expose globalProgression on assessment serializer
  api/src/shared/infrastructure/serializers/jsonapi/assessment-serializer.js
  api/tests/shared/unit/infrastructure/serializers/jsonapi/assessment-serializer_test.js
Due: eslint --fix

feat(api): add showGlobalProgression on assessement model
  api/src/shared/domain/read-models/CampaignAssessment.js
  api/src/shared/domain/read-models/CertificationAssessment.js
  api/src/shared/domain/read-models/CompetenceEvaluationAssessment.js
  api/src/shared/domain/read-models/DemoAssessment.js
  api/src/shared/domain/read-models/PreviewAssessment.js
  api/src/shared/infrastructure/repositories/assessment-repository.js
  api/src/shared/infrastructure/serializers/jsonapi/assessment-serializer.js
  api/tests/shared/unit/domain/read-models/CampaignAssessment_test.js
  api/tests/shared/unit/domain/read-models/CertificationAssessment_test.js
  api/tests/shared/unit/domain/read-models/CompetenceEvaluationAssessment_test.js
  api/tests/shared/unit/domain/read-models/DemoAssessment_test.js
  api/tests/shared/unit/domain/read-models/PreviewAssessment_test.js
  api/tests/shared/unit/infrastructure/serializers/jsonapi/assessment-serializer_test.js
Due: eslint --fix

refactor(mon-pix): rename showProgressBar into showChallengeStepper
  mon-pix/app/components/progress-bar.gjs
  mon-pix/app/models/assessment.js
  mon-pix/mirage/factories/assessment.js
  mon-pix/mirage/factories/certification-course.js
  mon-pix/mirage/routes/assessments/post-assessments.js
  mon-pix/mirage/routes/campaign-participations/post-campaign-participation.js
  mon-pix/mirage/routes/post-competence-evaluation.js
  mon-pix/tests/integration/components/progress-bar-test.js
Due: eslint --fix

refactor(api): rename showProgressBar into showChallengeStepper
  api/src/shared/domain/read-models/CampaignAssessment.js
  api/src/shared/domain/read-models/CertificationAssessment.js
  api/src/shared/domain/read-models/CompetenceEvaluationAssessment.js
  api/src/shared/domain/read-models/DemoAssessment.js
  api/src/shared/domain/read-models/PreviewAssessment.js
  api/src/shared/infrastructure/repositories/assessment-repository.js
  api/src/shared/infrastructure/serializers/jsonapi/assessment-serializer.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get_test.js
  api/tests/shared/unit/domain/read-models/CampaignAssessment_test.js
  api/tests/shared/unit/domain/read-models/CertificationAssessment_test.js
  api/tests/shared/unit/domain/read-models/CompetenceEvaluationAssessment_test.js
  api/tests/shared/unit/domain/read-models/DemoAssessment_test.js
  api/tests/shared/unit/domain/read-models/PreviewAssessment_test.js
  api/tests/shared/unit/infrastructure/serializers/jsonapi/assessment-serializer_test.js
Due: eslint --fix

feat(api): add global progression on exam campaign
  api/src/evaluation/domain/usecases/get-progression.js
  api/src/shared/application/assessments/assessment-controller.js
  api/tests/evaluation/integration/domain/usecases/get-progression_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get_test.js
  api/tests/shared/unit/application/assessements/assessment-controller_test.js
  api/tests/tooling/domain-builder/factory/build-knowledge-element.js
  api/tests/tooling/domain-builder/factory/index.js
Due: eslint --fix

feat(api): expose global progression on assessment type campaign
  api/src/shared/domain/models/Assessment.js
  api/src/shared/domain/read-models/CampaignAssessment.js
  api/tests/shared/unit/domain/models/Assessment_test.js
  api/tests/shared/unit/domain/read-models/CampaignAssessment_test.js
  api/tests/shared/unit/domain/read-models/CertificationAssessment_test.js
  api/tests/shared/unit/domain/read-models/CompetenceEvaluationAssessment_test.js
Due: eslint --fix

chore(mon-pix): bump pix-ui to use new progress-bar
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

refactor(mon-pix): use new PixProgressBar component api
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-tabs/rewards/badge.gjs
  mon-pix/app/templates/assessments/checkpoint.gjs
Due: none

feat(mon-pix): display assessement completion rate on exam campaign
  mon-pix/app/components/progress-bar.gjs
  mon-pix/app/controllers/assessments/checkpoint.js
  mon-pix/app/models/assessment.js
  mon-pix/app/models/progression.js
  mon-pix/app/styles/components/_progress-bar.scss
  mon-pix/mirage/factories/assessment.js
  mon-pix/mirage/factories/certification-course.js
  mon-pix/mirage/routes/campaign-participations/post-campaign-participation.js
  mon-pix/mirage/routes/post-competence-evaluation.js
  mon-pix/tests/integration/components/progress-bar-test.js
  mon-pix/tests/unit/controllers/assessments/checkpoint-test.js
  mon-pix/tests/unit/models/progression-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: eslint --fix, stylelint --fix

fix search
  mon-pix/app/components/progress-bar.gjs
Due: none

fix search - use static value
  mon-pix/app/components/progress-bar.gjs
Due: none

fix search - revert pixUI version
  mon-pix/app/components/progress-bar.gjs
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

fix search - update only progress (not label)
  mon-pix/app/components/progress-bar.gjs
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

fix search - update label
  mon-pix/app/components/progress-bar.gjs
  mon-pix/translations/fr.json
Due: none

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
