Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

feat(admin): copy mixin locally
  admin/app/styles/authenticated/certifications/index.scss
  admin/app/styles/globals/nav.scss
Due: stylelint --fix

fix(admin): correct title of complementary-certification-details page
  admin/app/styles/components/complementary-certifications/details.scss
Due: stylelint --fix

style(admin): add toggle scss
  admin/app/styles/app.scss
  admin/app/styles/globals/toggle.scss
Due: stylelint --fix

feat(admin): remove unused scss
  admin/app/styles/app.scss
  admin/app/styles/globals/button.scss
Due: stylelint --fix

fix(admin): user participations info text color contrast
  admin/app/styles/components/campaigns/participations-section.scss
Due: stylelint --fix

fix(admin): broken auto migration colors
  admin/app/styles/authenticated/campaigns/get.scss
  admin/app/styles/authenticated/certifications/certification/informations.scss
  admin/app/styles/components/campaigns/participations-section.scss
  admin/app/styles/components/certification-issue-report.scss
  admin/app/styles/components/certification-issue-reports.scss
  admin/app/styles/components/certification/candidate-edit-modal.scss
  admin/app/styles/components/complementary-certifications/details.scss
  admin/app/styles/components/complementary-certifications/search-bar.scss
  admin/app/styles/login.scss
Due: stylelint --fix

fix(admin): remove certification table first column color
  admin/app/styles/authenticated/certifications/certification/informations.scss
Due: stylelint --fix

fix(admin): remove custom broken shadow
  admin/app/styles/authenticated/certifications/certification/informations.scss
  admin/app/styles/authenticated/certifications/index.scss
  admin/app/styles/globals/nav.scss
Due: stylelint --fix

fix(admin): use error color attribute for cancelled pix tag
  admin/app/components/certifications/info-tag.hbs
  admin/app/styles/components/certification-info-tag.scss
Due: stylelint --fix

fix(admin): use spacing tokens instead of pixels
  admin/app/styles/authenticated/certifications/index.scss
  admin/app/styles/authenticated/organizations/get.scss
  admin/app/styles/globals/nav.scss
Due: stylelint --fix

fix(admin): correct background color of deneutralize button
  admin/app/templates/authenticated/certifications/certification/neutralization.hbs
Due: none

fix(admin): update link styles accordingly to Figma
  admin/app/styles/globals/global.scss
  admin/app/styles/globals/nav.scss
  admin/app/styles/globals/page.scss
  admin/app/styles/globals/table-admin.scss
  admin/app/styles/login.scss
Due: stylelint --fix

refactor(admin): align certification-center navbar template with organization detail page
  admin/app/styles/globals/nav.scss
  admin/app/templates/authenticated/certification-centers/get.hbs
Due: stylelint --fix

fix(admin): in-table grey buttons contrast is too low
  admin/app/components/certification-centers/membership-item-actions.hbs
  admin/app/components/users/certification-centers/membership-item-actions.hbs
  admin/app/templates/authenticated/sessions/session/informations.hbs
Due: none

feat(api): add internal api to list campaigns
  api/src/prescription/campaign/application/api/campaigns-api.js
  api/src/prescription/campaign/application/api/models/Campaign.js
  api/src/prescription/campaign/application/api/models/CampaignListItem.js
  api/src/prescription/campaign/application/api/models/SavedCampaign.js
  api/tests/prescription/campaign/unit/application/api/campaigns-api_test.js
Due: eslint --fix

feat(api): migrate list campaign to bounded context
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/lib/infrastructure/repositories/campaign-report-repository.js
  api/src/prescription/campaign/application/campaign-detail-controller.js
  api/src/prescription/campaign/application/campaign-detail-route.js
  api/src/prescription/campaign/domain/usecases/find-paginated-filtered-organization-campaigns.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-report-repository.js
  api/tests/integration/application/organizations/index_test.js
  api/tests/integration/infrastructure/repositories/campaign-report-repository_test.js
  api/tests/prescription/campaign/integration/application/campaign-administration-route_test.js
  api/tests/prescription/campaign/integration/application/campaign-detail-route_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-report-repository_test.js
  api/tests/prescription/campaign/unit/application/campaign-administration-controller_test.js
  api/tests/prescription/campaign/unit/application/campaign-controller_test.js
  api/tests/prescription/campaign/unit/application/campaign-detail-controller_test.js
  api/tests/prescription/campaign/unit/domain/usecases/find-paginated-filtered-organization-campaigns_test.js
  api/tests/unit/application/organizations/organization-controller_test.js
Due: eslint --fix

fix(api): throw new constraint error to avoid 500 on attempt to save twice organization learner
  api/lib/application/error-manager.js
  api/lib/domain/errors.js
  api/lib/infrastructure/repositories/campaign-participant-repository.js
  api/tests/integration/infrastructure/repositories/campaign-participant-repository_test.js
Due: eslint --fix

Update ember-data to 4.5
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

Replace mapBy by native map
  mon-pix/app/models/profile.js
  mon-pix/app/models/shared-profile-for-campaign.js
Due: eslint --fix

Remove use of ember toArray
  mon-pix/app/components/routes/campaigns/assessment/skill-review.js
  mon-pix/app/models/assessment.js
  mon-pix/app/routes/assessments/challenge.js
  mon-pix/app/services/oidc-identity-providers.js
Due: eslint --fix

Add inverse and async options to relations
  mon-pix/app/models/answer.js
  mon-pix/app/models/area.js
  mon-pix/app/models/assessment.js
  mon-pix/app/models/campaign-participation.js
  mon-pix/app/models/certification-course.js
  mon-pix/app/models/challenge.js
  mon-pix/app/models/competence-evaluation.js
  mon-pix/app/models/competence.js
  mon-pix/app/models/correction.js
  mon-pix/app/models/profile.js
  mon-pix/app/models/result-competence.js
  mon-pix/app/models/scorecard.js
  mon-pix/app/models/training.js
  mon-pix/app/models/tutorial-evaluation.js
  mon-pix/app/models/tutorial.js
  mon-pix/app/models/user-saved-tutorial.js
  mon-pix/app/models/user.js
Due: eslint --fix

Replace use of any method from ember to native some from array
  mon-pix/app/components/authentication/oidc-reconciliation.js
  mon-pix/app/controllers/authenticated/user-account/connection-methods.js
Due: eslint --fix

fix(mon-pix): await assessment in competence-evaluation resume route
  mon-pix/app/routes/authenticated/competences/resume.js
  mon-pix/tests/unit/routes/authenticated/competences/resume_test.js
Due: eslint --fix

Update ember-data to 4.7
  mon-pix/app/serializers/application.js
  mon-pix/package-lock.json
  mon-pix/package.json
Due: eslint --fix

Wait for answers and challenge
  mon-pix/app/routes/assessments/challenge.js
  mon-pix/tests/unit/routes/assessments/challenge_test.js
Due: eslint --fix
