Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

feat(api): clearer more explicit error message when some required claims are missing
  api/src/identity-access-management/domain/services/oidc-authentication-service.js
  api/tests/identity-access-management/unit/domain/services/oidc-authentication-service.test.js
Due: eslint --fix

feat(api): add getOrganizationParticipantsStatistics use case
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/domain/usecases/statistics/get-organization-participants-statistics.js
  api/tests/prescription/campaign/unit/domain/usecases/statistics/get-organization-participants-statistics_test.js
Due: eslint --fix

feat(api): expose organization stats internal API
  api/src/prescription/campaign/application/api/campaign-stats-api.js
  api/src/prescription/campaign/application/api/models/OrganizationStatistics.js
  api/tests/prescription/campaign/unit/application/api/campaign-stats-api_test.js
Due: eslint --fix

feat(api): allow rejection on cancelled certification
  api/src/certification/session-management/domain/usecases/reject-certification-course.js
  api/src/shared/domain/errors.js
  api/tests/certification/session-management/unit/domain/usecases/reject-certification-course_test.js
Due: eslint --fix

:fire: (mon-pix: remove old-module route
  mon-pix/app/router.js
  mon-pix/app/routes/old-module/details.js
  mon-pix/app/routes/old-module/index.js
  mon-pix/app/routes/old-module/passage.js
  mon-pix/app/routes/old-module/recap.js
  mon-pix/tests/acceptance/module/navigate-into-the-module-details_test.js
  mon-pix/tests/acceptance/module/navigate-into-the-module-passage_test.js
  mon-pix/tests/unit/routes/old-module/passage-test.js
Due: eslint --fix

chore(release): 5.419.0 [skip ci]
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

feat(api): allow cancellation on rejected certification
  api/src/certification/session-management/domain/usecases/cancel.js
  api/src/shared/domain/errors.js
  api/tests/certification/session-management/unit/domain/usecases/cancel_test.js
Due: eslint --fix

feat(api): adds shortId to combined-course getByCode route
  api/src/quest/domain/models/combined-course-participation/CombinedCourseDetails.js
  api/src/quest/domain/models/combined-course-participation/CombinedCourseItem.js
  api/src/quest/infrastructure/serializers/combined-course-serializer.js
  api/tests/quest/integration/domain/services/combined-course-details-service_test.js
  api/tests/quest/integration/domain/usecases/get-combined-course-by-code_test.js
  api/tests/quest/unit/domain/models/CombinedCourseItem_test.js
  api/tests/quest/unit/domain/models/combined-course-participation/CombinedCourseDetails_test.js
  api/tests/quest/unit/infrastructure/serializers/combined-course-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-combined-course-details.js
Due: eslint --fix

feat(api): add migration file for isRelevant
  api/db/migrations/20260601083610_add-column-isrelevant-for-user-recommended-trainings.js
  api/tests/devcomp/integration/infrastructure/repositories/user-recommended-training-repository_test.js
Due: eslint --fix

feat(admin): update action buttons display
  admin/app/components/certifications/certification/informations/global-actions.gjs
  admin/tests/integration/components/certifications/certification/informations/global-actions-test.gjs
Due: none

:recycle: (mon-pix): use new url route
  mon-pix/app/components/combined-course/combined-course-item.gjs
  mon-pix/app/components/routes/combined-courses/presentation.gjs
  mon-pix/app/models/combined-course-item.js
  mon-pix/tests/acceptance/start-combined-course-workflow-test.js
  mon-pix/tests/integration/components/routes/combined-courses/presentation-test.gjs
  mon-pix/tests/unit/models/combined-course-item-test.js
Due: eslint --fix

feat(api): add countParticipantsByOrganizationId to stats repo
  api/src/prescription/campaign/infrastructure/repositories/campaign-participations-stats-repository.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-participations-stats-repository_test.js
Due: eslint --fix

⚡️(mon-pix): display description, duration and localisation on modal
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/training/card.gjs
  mon-pix/app/styles/components/campaigns/assessment/results/recommendation-engine/trainings.scss
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/training/card-test.gjs
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: stylelint --fix

♻️️ (mon-pix): create card modal component
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/training/card-modal.gjs
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/training/card.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/training/card-test.gjs
Due: none

⚡️(mon-pix): add footer
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/training/card.gjs
  mon-pix/app/styles/components/campaigns/assessment/results/recommendation-engine/trainings.scss
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/training/card-test.gjs
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: stylelint --fix

⚡️(mon-pix): format duration of training
  mon-pix/app/models/training.js
  mon-pix/tests/unit/models/training-test.js
Due: eslint --fix

♻️️ (mon-pix): add missing aria-label on button
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/training/card.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/training/card-test.gjs
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: none

🎨️️ (mon-pix): use purple variant for PixTag
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/training/card.gjs
Due: none

🌱️(api): modify CF seeds
  api/db/seeds/data/team-devcomp/build-trainings.js
Due: eslint --fix

♻️️ (mon-pix): create card tag component
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/training/card.gjs
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/training/registration-card-tag.gjs
Due: none

fix(orga): creates combinedCourseBlueprint attributes on campaign model and uses it when creating a combined course
  orga/app/adapters/campaign.js
  orga/app/components/campaign/create-form.gjs
  orga/app/models/campaign.js
Due: eslint --fix

feat(api): throws NotFound when blueprint is not found with the id given in POST combined-courses payload
  api/src/quest/domain/usecases/create-combined-course.js
  api/tests/quest/integration/domain/usecases/create-combined-course_test.js
Due: eslint --fix

♻️️ (mon-pix): add translations and improve duration display on training card
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/training/card.gjs
  mon-pix/app/models/training.js
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/training/card-test.gjs
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: eslint --fix

⚡️(mon-pix): add objectives and program
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/training/card.gjs
  mon-pix/app/styles/components/campaigns/assessment/results/recommendation-engine/trainings.scss
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/training/card-test.gjs
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: stylelint --fix

⚡️(mon-pix): add description on training model
  mon-pix/app/models/training.js
Due: eslint --fix

feat(admin): add button to create a new version, fill url with active version ID if relevant
  admin/app/components/certification-frameworks/item/framework.gjs
  admin/app/components/certification-frameworks/item/framework/framework-history.gjs
  admin/app/routes/authenticated/certification-frameworks/item.js
  admin/app/templates/authenticated/certification-frameworks/item.gjs
  admin/app/templates/authenticated/certification-frameworks/item/framework/index.gjs
  admin/tests/integration/components/certification-frameworks/item/framework-test.gjs
  admin/tests/integration/components/certification-frameworks/item/framework/framework-history-test.gjs
  admin/tests/unit/routes/authenticated/certification-frameworks/item-test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

chore(api): update services to not use subscriptions
  api/src/certification/enrolment/application/services/register-candidate-participation-service.js
  api/src/certification/enrolment/domain/services/certification-candidates-ods-service.js
  api/src/certification/enrolment/domain/services/sessions-import-validation-service.js
  api/tests/certification/enrolment/integration/domain/services/certification-candidates-ods-service/certification-candidates-ods-service_test.js
  api/tests/certification/enrolment/unit/domain/services/register-candidate-participation-service_test.js
  api/tests/certification/enrolment/unit/domain/services/sessions-import-validation-service_test.js
Due: eslint --fix

feat(api): modifs POI GestionMDP_IND
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYGestionMDP_IND.json
Due: none

chore(api): add temporary logic to repository
  api/src/certification/enrolment/infrastructure/repositories/candidate-repository.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/candidate-repository_test.js
Due: eslint --fix

chore(api): update usecases
  api/src/certification/enrolment/domain/usecases/create-sessions.js
  api/src/certification/enrolment/domain/usecases/get-candidate-timeline.js
  api/src/certification/enrolment/domain/usecases/validate-sessions.js
  api/src/certification/enrolment/domain/usecases/verify-candidate-reconciliation-requirements.js
  api/tests/certification/enrolment/unit/domain/usecases/add-candidate-to-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/create-sessions_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-candidate-timeline_test.js
  api/tests/certification/enrolment/unit/domain/usecases/validate-sessions_test.js
  api/tests/certification/enrolment/unit/domain/usecases/verify-candidate-reconciliation-requirements_test.js
Due: eslint --fix

feat(admin): pre-fill creation version form when active version exists for scope
  admin/app/adapters/certification-consolidated-framework.js
  admin/app/components/certification-frameworks/item/framework.gjs
  admin/app/components/certification-frameworks/item/framework/new-version-form.gjs
  admin/app/components/certification-frameworks/item/header.gjs
  admin/app/routes/authenticated/certification-frameworks/item/framework/new-version.js
  admin/app/templates/authenticated/certification-frameworks/item/framework/new-version.gjs
  admin/tests/acceptance/authenticated/team/list-test.js
  admin/tests/integration/components/certification-frameworks/item/framework/framework-history-test.gjs
  admin/tests/integration/components/certification-frameworks/item/framework/new-version-form-test.gjs
Due: eslint --fix

feat(admin): add survey link url when creating a blueprint and display in details
  admin/app/components/combined-course-blueprints/details.gjs
  admin/app/components/combined-course-blueprints/form.gjs
  admin/app/models/combined-course-blueprint.js
  admin/tests/integration/components/combined-course-blueprints/details-test.gjs
  admin/tests/integration/components/combined-course-blueprints/form-test.gjs
  admin/tests/unit/serializers/combined-course-blueprint-test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

feat(api): make externalId field optional in organizations batch import
  api/src/organizational-entities/domain/validators/organization-with-tags-and-target-profiles.js
  api/src/organizational-entities/infrastructure/serializers/csv/organizations-csv-serializer.js
  api/tests/organizational-entities/integration/domain/usecases/create-organizations-with-tags-and-target-profiles.usecase.test.js
  api/tests/organizational-entities/integration/domain/validators/organization-with-tags-and-target-profiles.test.js
Due: eslint --fix

feat(mon-pix): add attesation info on combined course page
  mon-pix/app/components/combined-course/attestation.gjs
  mon-pix/app/components/routes/combined-courses/presentation.gjs
  mon-pix/app/models/combined-course-reward.js
  mon-pix/app/models/combined-course.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/combined-courses/_attestation.scss
  mon-pix/app/styles/components/combined-courses/_combined-courses.scss
  mon-pix/tests/integration/components/combined-course/attestation-test.gjs
  mon-pix/tests/integration/components/routes/combined-courses/presentation-test.gjs
Due: eslint --fix, stylelint --fix

chore(api): lint fix
  api/src/certification/enrolment/application/services/register-candidate-participation-service.js
  api/src/certification/enrolment/domain/models/Candidate.js
  api/src/certification/enrolment/domain/usecases/verify-candidate-reconciliation-requirements.js
  api/tests/certification/enrolment/unit/domain/models/Candidate_test.js
Due: eslint --fix

feat(mon-pix): add translations for combined courses rewards
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: none

fix(api): erreur test modulix titre vide
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYGestionMDP_IND.json
Due: none

feat(api): quot sur le defi sans apostrophe et espace insecable
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYGestionMDP_IND.json
Due: none

chore(api): update candidate model and validator
  api/src/certification/enrolment/domain/models/Candidate.js
  api/src/certification/enrolment/domain/validators/candidate-validator.js
  api/tests/certification/enrolment/unit/domain/models/Candidate_test.js
Due: eslint --fix

chore(api): update seeds
  api/db/seeds/data/team-certification/cases/simple-CLEA-v3.js
  api/db/seeds/data/team-certification/cases/simple-pro-certification.js
  api/db/seeds/data/team-certification/cases/simple-sco-managing-students-certification.js
  api/db/seeds/data/team-certification/cases/sup-certification-centre-with-habilitations.js
Due: eslint --fix
