Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

♻️(mon-pix): rename component
  mon-pix/app/components/assessments/live-alert.gjs
  mon-pix/app/components/feedback-panel-v3.hbs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/assessments/_live-alert.scss
  mon-pix/app/templates/assessments/challenge.hbs
  mon-pix/tests/integration/components/assessments/live-alert-test.gjs
Due: stylelint --fix

feat(api): adds has-ongoing-companion-live-alert in assessment serializer
  api/src/shared/infrastructure/serializers/jsonapi/assessment-serializer.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get_test.js
  api/tests/shared/unit/infrastructure/serializers/jsonapi/assessment-serializer_test.js
Due: eslint --fix

♻️ mon-pix: use challenge-live-alert component on feedback v3
  mon-pix/app/components/assessments/challenge-live-alert.gjs
  mon-pix/app/components/feedback-panel-v3.hbs
  mon-pix/app/components/feedback-panel-v3.js
  mon-pix/app/styles/components/_feedback-panel-v3.scss
  mon-pix/app/templates/assessments/challenge.hbs
  mon-pix/tests/integration/components/assessments/challenge-live-alert-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: eslint --fix, stylelint --fix

✨ mon-pix: create challenge-live-alert component and integrate it in challenge’s template
  mon-pix/app/components/assessments/assessments.gjs
  mon-pix/app/components/assessments/challenge-live-alert.gjs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/assessments/_challenge-live-alert.scss
  mon-pix/app/templates/assessments/challenge.hbs
  mon-pix/tests/integration/components/assessments/challenge-live-alert-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: stylelint --fix

♻️ mon-pix: rename existing hasOngoingLiveAlert attribute to hasOngoingChallengeLiveAlert
  mon-pix/app/components/challenge-actions.js
  mon-pix/app/components/challenge-item/challenge-item-qcm.hbs
  mon-pix/app/components/challenge-item/challenge-item-qcu.hbs
  mon-pix/app/components/challenge-item/challenge-item-qroc.hbs
  mon-pix/app/components/challenge-item/challenge-item-qrocm.hbs
  mon-pix/app/components/feedback-panel-v3.js
  mon-pix/app/models/assessment.js
  mon-pix/mirage/routes/assessments/pause-assessment.js
  mon-pix/tests/integration/components/feedback-panel-v3-test.js
Due: eslint --fix

✨ mon-pix: disable action buttons when a companion live alert exists
  mon-pix/app/components/challenge-actions.hbs
  mon-pix/app/components/challenge-actions.js
  mon-pix/tests/integration/components/challenge-actions-test.js
Due: eslint --fix

✨ mon-pix: disable feedback (v2 and v3) buttons when a companion live alert exists
  mon-pix/app/components/feedback-panel-v3.hbs
  mon-pix/app/templates/assessments/challenge.hbs
  mon-pix/tests/acceptance/challenge-item-test.js
  mon-pix/tests/integration/components/feedback-panel-test.js
Due: eslint --fix

feat(api): adds hasOngoingCompanionLiveAlert on Assessment model
  api/src/shared/domain/models/Assessment.js
  api/tests/shared/unit/domain/models/Assessment_test.js
  api/tests/tooling/domain-builder/factory/build-assessment.js
  api/tests/tooling/domain-builder/factory/index.js
Due: eslint --fix

✨ api: rename existing hasOngoingLiveAlert attribute to hasOngoingChallengeLiveAlert
  api/lib/domain/usecases/get-assessment.js
  api/src/shared/domain/models/Assessment.js
  api/src/shared/infrastructure/repositories/assessment-repository.js
  api/src/shared/infrastructure/serializers/jsonapi/assessment-serializer.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-challenge-live-alert-repository_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get_test.js
  api/tests/shared/unit/domain/models/Assessment_test.js
  api/tests/shared/unit/infrastructure/serializers/jsonapi/assessment-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-assessment.js
  api/tests/unit/domain/usecases/get-assessment_test.js
Due: eslint --fix

✨ api: create companion alert repository and use it on get-assessment usecase
  api/lib/domain/usecases/get-assessment.js
  api/lib/domain/usecases/index.js
  api/src/certification/shared/infrastructure/repositories/certification-companion-alert-repository.js
  api/src/shared/domain/models/Assessment.js
  api/src/shared/infrastructure/repositories/assessment-repository.js
  api/tests/integration/domain/usecases/get-assessment_test.js
  api/tests/unit/domain/usecases/get-assessment_test.js
Due: eslint --fix

feat(mon-pix): create tab-manager service
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-hero/index.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/index.gjs
  mon-pix/app/components/tabs/index.gjs
  mon-pix/app/services/tab-manager.js
Due: eslint --fix

feat(mon-pix): animate footer appearance
  mon-pix/app/components/module/element/flashcards/flashcards.gjs
  mon-pix/app/styles/components/module/_flashcards.scss
Due: stylelint --fix

:package: update packages dependencies
  junior/package-lock.json
  junior/package.json
Due: none

Mise à jour de webpack et un plugin babel
  junior/package-lock.json
  junior/package.json
Due: none

:art: rewrite a success wording
  junior/app/templates/assessment/results.hbs
  junior/translations/fr.json
Due: none

:art: feat: add participants page
  orga/app/components/organization-participant/header.gjs
  orga/app/components/organization-participant/learner-filters.gjs
Due: none

feat:(api) add oralization in SEEDS
  api/db/seeds/data/common/constants.js
  api/db/seeds/data/common/feature-builder.js
  api/db/seeds/data/common/organization-learner-import-formats.js
  api/db/seeds/data/team-1d/data-builder.js
Due: eslint --fix

:sparkles: feat add Oralization Feat to school organization
  api/src/organizational-entities/domain/models/OrganizationForAdmin.js
  api/tests/integration/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin.repository.test.js
  api/tests/organizational-entities/unit/domain/models/OrganizationForAdmin_test.js
Due: eslint --fix

feat: add oralization header/column
  api/src/organizational-entities/application/api/OrganizationFeaturesDTO.js
  api/src/prescription/organization-learner/domain/usecases/find-paginated-filtered-participants.js
  api/tests/organizational-entities/unit/application/api/OrganizationFeaturesDTO_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-paginated-filtered-participants_test.js
  orga/app/components/organization-participant/header.gjs
  orga/app/helpers/import-format.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Due: eslint --fix

feat(api): handle oralization feature in database
  api/db/migrations/20241015153115_create-table-organization-learner-features.js
  api/db/migrations/20241016094500_add-oralization-to-features.js
  api/db/migrations/20241016095050_add-oralization-feature-to-sco-1d-organizations.js
  api/src/shared/domain/constants.js
Due: eslint --fix

:sparkles: feat: create OrganizationLearnerFeature repo
  api/db/database-builder/factory/prescription/organization-learners/build-organization-learner-feature.js
  api/src/prescription/organization-learner/domain/usecases/find-paginated-filtered-participants.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-feature-repository.js
  api/tests/prescription/organization-learner/integration/infrastructure/organization-learner-feature-repository_test.js
Due: eslint --fix

:recycle: refactor delete create school learner script
  api/src/school/scripts/create-school-learners.js
  api/tests/school/integration/scripts/create-school-learners_test.js
Due: eslint --fix

tech(api): migrate create target profile to its bounded context
  api/lib/application/target-profiles/index.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/src/prescription/shared/application/http-error-mapper-configuration.js
  api/src/prescription/target-profile/application/admin-target-profile-controller.js
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/src/prescription/target-profile/application/http-error-mapper-configuration.js
  api/src/prescription/target-profile/domain/constants.js
  api/src/prescription/target-profile/domain/errors.js
  api/src/prescription/target-profile/domain/models/TargetProfileForCreation.js
  api/src/prescription/target-profile/domain/usecases/create-target-profile.js
  api/src/prescription/target-profile/domain/validators/base-validation.js
  api/src/prescription/target-profile/domain/validators/creation-command-validation.js
  api/src/shared/application/error-manager.js
  api/src/shared/domain/constants.js
  api/src/shared/domain/errors.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/prescription/target-profile/acceptance/application/admin-target-profile-route_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profile-controller_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profiles-route_test.js
  api/tests/prescription/target-profile/unit/domain/usecases/create-target-profile_test.js
  api/tests/prescription/target-profile/unit/domain/validators/creation-command-validation_test.js
  api/tests/unit/application/target-profiles/index_test.js
  api/tests/unit/application/target-profiles/target-profile-controller_test.js
Due: eslint --fix

fix(api): validate campaign's code
  api/src/prescription/campaign/application/campaign-detail-route.js
  api/tests/prescription/campaign/unit/application/campaign-detail-route_test.js
Due: eslint --fix

feat(mon-pix): center text on cards without image
  mon-pix/app/components/module/element/flashcards/flashcards-card.gjs
  mon-pix/app/styles/components/module/_flashcards-card.scss
Due: stylelint --fix

[RELEASE] A minor is being released to 4.227.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

:sparkles: api: introduce algorithm version in CertificationCourse
  api/db/database-builder/factory/build-certification-course.js
  api/src/certification/scoring/application/jobs/certification-completed-job-controller.js
  api/src/certification/session-management/domain/models/CertificationAssessment.js
  api/src/certification/session-management/domain/usecases/get-certification-details.js
  api/src/certification/shared/domain/models/AlgoritmEngineVersion.js
  api/src/certification/shared/domain/models/CertificationCourse.js
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/domain/services/placement-profile-service.js
  api/tests/certification/results/integration/infrastructure/repositories/certification-version-repository_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/session-for-supervising-repository_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-challenge-repository_test.js
  api/tests/certification/shared/unit/domain/models/CertificationCourse_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get-next-challenge-for-certification_test.js
  api/tests/tooling/domain-builder/factory/build-certification-course.js
Due: eslint --fix

:sparkles: api: dynamic challenge selection algorithm based on subscriptions
  api/lib/domain/usecases/retrieve-last-or-create-certification-course.js
  api/src/shared/domain/models/CertificationCandidate.js
  api/tests/tooling/domain-builder/factory/build-certification-course.js
  api/tests/unit/domain/models/CertificationCandidate_test.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Due: eslint --fix

:sparkles: api: differentiating session version from algorithm version
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/usecases/retrieve-last-or-create-certification-course.js
  api/src/certification/enrolment/domain/models/SessionEnrolment.js
  api/src/certification/enrolment/domain/usecases/create-session.js
  api/src/certification/enrolment/domain/usecases/create-sessions.js
  api/src/certification/enrolment/domain/usecases/verify-candidate-identity.js
  api/src/certification/enrolment/domain/usecases/verify-candidate-subscriptions.js
  api/src/certification/scoring/application/jobs/certification-completed-job-controller.js
  api/src/certification/session-management/domain/models/CertificationAssessment.js
  api/src/certification/session-management/domain/models/SessionManagement.js
  api/src/certification/session-management/domain/usecases/get-certification-details.js
  api/src/certification/shared/domain/models/CertificationCourse.js
  api/src/certification/shared/domain/models/CertificationVersion.js
  api/src/certification/shared/domain/models/SessionVersion.js
  api/src/certification/shared/domain/services/scoring-certification-service.js
  api/src/certification/shared/domain/validators/session-validator.js
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/domain/services/placement-profile-service.js
  api/tests/acceptance/application/certification-courses/certification-course-controller_test.js
  api/tests/certification/enrolment/acceptance/application/session-route_test.js
  api/tests/certification/enrolment/unit/domain/usecases/create-sessions_test.js
  api/tests/certification/enrolment/unit/domain/usecases/verify-candidate-identity_test.js
  api/tests/certification/enrolment/unit/domain/usecases/verify-candidate-subscriptions_test.js
  api/tests/certification/evaluation/unit/domain/usecases/get-next-challenge_test.js
  api/tests/certification/results/integration/infrastructure/repositories/certification-version-repository_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/session-for-supervising-repository_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-challenge-repository_test.js
  api/tests/certification/shared/unit/domain/models/CertificationCourse_test.js
  api/tests/certification/shared/unit/domain/services/scoring-certification-service_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get-next-challenge-for-certification_test.js
  api/tests/tooling/domain-builder/factory/build-jury-certification.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Due: eslint --fix

:sparkles: api: create test for complementary alone session with a V2 algorithm
  api/lib/domain/usecases/retrieve-last-or-create-certification-course.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Due: eslint --fix

✨ mon-pix: display companion information on invigilator page
  certif/app/components/session-supervising/header.hbs
  certif/app/components/session-supervising/header.js
  certif/app/models/feature-toggle.js
  certif/app/services/url.js
  certif/app/styles/components/session-supervising/header.scss
  certif/tests/integration/components/session-supervising/header-test.js
  certif/tests/unit/services/url-test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix, stylelint --fix

feat(api): accept for /api/password-reset-demands a simpler payload
  api/src/identity-access-management/application/password/password.controller.js
  api/src/identity-access-management/application/password/password.route.js
  api/tests/identity-access-management/acceptance/application/password/password.route.test.js
  api/tests/identity-access-management/integration/application/password/password.controller.test.js
  api/tests/identity-access-management/unit/application/password/password.controller.test.js
Due: eslint --fix

:sparkles: feat(junior) show ORALIZATION information on junior students page
  api/db/database-builder/factory/prescription/organization-learners/build-organization-learner-feature.js
  api/db/seeds/data/common/feature-builder.js
  api/src/prescription/organization-learner/domain/usecases/find-paginated-filtered-participants.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-feature-repository.js
  api/tests/organizational-entities/unit/application/api/OrganizationFeaturesDTO_test.js
  api/tests/prescription/organization-learner/integration/infrastructure/organization-learner-feature-repository_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-paginated-filtered-participants_test.js
  api/tests/tooling/domain-builder/factory/build-organization-participant.js
  orga/app/components/organization-participant/list.gjs
  orga/app/components/organization-participant/table-row.gjs
  orga/app/controllers/authenticated/missions/mission/activities.js
  orga/app/controllers/authenticated/missions/mission/results.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Due: eslint --fix

test(mon-pix): [SR] fix spelling in test titles
  mon-pix/tests/integration/components/module/passage_test.gjs
Due: none

tofixup: rename onAnswer to onSelfAssessment
  mon-pix/app/components/module/element.gjs
  mon-pix/app/components/module/element/flashcards/flashcards.gjs
  mon-pix/tests/integration/components/module/flashcards_test.gjs
  mon-pix/tests/integration/components/module/passage_test.gjs
Due: none

feat(mon-pix): add parameters when send auto-eval answer of a flashcards.
  mon-pix/app/components/module/element.gjs
  mon-pix/app/components/module/element/flashcards/flashcards.gjs
  mon-pix/app/components/module/passage.gjs
  mon-pix/tests/integration/components/module/passage_test.gjs
Due: none

tofixup: use callback arg instead of data attribute
  mon-pix/app/components/module/element/flashcards/flashcards.gjs
Due: none

feat(mon-pix): call onAnswer when answer to a card of Flashcards.
  mon-pix/app/components/module/element/flashcards/flashcards.gjs
  mon-pix/tests/integration/components/module/flashcards_test.gjs
Due: none

feat(api): add getByQuestAndUserId method in reward repository
  api/src/quest/domain/models/QuestResult.js
  api/src/quest/infrastructure/repositories/index.js
  api/src/quest/infrastructure/repositories/reward-repository.js
  api/tests/quest/unit/infrastructure/repositories/reward-repository_test.js
Due: eslint --fix

feat(api): add some logic in Eligibility model
  api/src/quest/domain/models/Eligibility.js
  api/tests/quest/unit/domain/models/Eligibility_test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
