Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

:recycle: certif: SessionDelete modal to gjs
  certif/app/components/session-delete-confirm-modal.gjs
  certif/app/components/session-delete-confirm-modal.hbs
Due: none

:recycle: Certif: Panel header to gjs
  certif/app/components/sessions/panel-header.gjs
  certif/app/components/sessions/panel-header.hbs
  certif/app/components/sessions/panel-header.js
  certif/tests/integration/components/sessions/panel-header_test.gjs
  certif/tests/unit/components/sessions/panel-header_test.gjs
Due: eslint --fix

:truck: certif: Remove list controller
  certif/app/controllers/authenticated/sessions/list.js
  certif/app/templates/authenticated/sessions/list.hbs
Due: eslint --fix

:recycle: certif: Refacto session summary list methods
  certif/app/components/sessions/session-summary-list.gjs
Due: none

:recycle: certif: Update session list test
  certif/tests/acceptance/session-list_test.js
  certif/tests/integration/components/session-delete-confirm-modal_test.js
  certif/tests/integration/components/sessions/index_test.gjs
  certif/tests/integration/components/sessions/no-session-panel_test.gjs
  certif/tests/integration/components/sessions/panel-header_test.gjs
  certif/tests/integration/components/sessions/session-delete-confirm-modal_test.gjs
  certif/tests/integration/components/sessions/session-summary-list_test.gjs
  certif/tests/unit/components/sessions/index_test.gjs
  certif/tests/unit/components/sessions/no-session-panel_test.gjs
  certif/tests/unit/components/sessions/session-summary-list_test.gjs
  certif/tests/unit/controllers/authenticated/sessions/list_test.js
Due: eslint --fix

:truck: certif: Move all the session-list component files in sessions folder
  certif/app/components/sessions/index.gjs
  certif/app/components/sessions/no-session-panel.gjs
  certif/app/components/sessions/session-delete-confirm-modal.gjs
  certif/app/components/sessions/session-summary-list.gjs
  certif/app/components/sessions/session-summary-row.gjs
Due: none

:recycle: api: Use certification-courses-last-assessment-results instead instead of calculating
  api/tests/integration/infrastructure/repositories/competence-mark-repository_test.js
Due: eslint --fix

Ajout d'un npm ci pour la création de la database dans script/configure.sh, ligne 95
  scripts/configure.sh
Due: none

Ajout des lignes 102 a 135 dans le fichier script/configure.sh pour l'installation des différents node_module dans les dossiers. A garder??
  scripts/configure.sh
Due: none

🔥(admin): remove useless placeholders
  admin/app/components/login-form.hbs
Due: none

:recycle: certif: Convert add candidate modal to gjs
  certif/app/components/new-candidate-modal/complementary-list.gjs
  certif/app/components/new-candidate-modal/complementary-list.hbs
  certif/app/components/new-candidate-modal/complementary-with-referential.gjs
  certif/app/components/new-candidate-modal/complementary-with-referential.hbs
  certif/app/components/new-candidate-modal/index.gjs
  certif/app/components/new-candidate-modal/index.hbs
  certif/app/components/new-candidate-modal/index.js
  certif/tests/acceptance/session-details-certification-candidates_test.js
  certif/tests/integration/components/new-candidate-modal/index_test.gjs
Due: eslint --fix

refactor(mon-pix): put tutorial steps in a specific component
  mon-pix/app/components/campaigns/assessment/tutorial/steps.hbs
  mon-pix/app/components/campaigns/assessment/tutorial/steps.js
  mon-pix/app/controllers/campaigns/assessment/tutorial.js
  mon-pix/app/routes/campaigns/assessment/tutorial.js
  mon-pix/app/styles/pages/_campaign-tutorial.scss
  mon-pix/app/templates/campaigns/assessment/tutorial.hbs
  mon-pix/tests/acceptance/campaigns/campaign-tutorial-page_test.js
  mon-pix/tests/integration/components/campaigns/assessment/tutorial/steps_test.js
  mon-pix/tests/unit/routes/campaigns/assessment/tutorial_test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: eslint --fix, stylelint --fix

feat(mon-pix): update notification message for retry or reset campaign
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: none

fix(orga): Some character in translation mutated with bad encoding
  orga/tests/integration/components/sup-organization-participant/modal/edit-student-number-modal_test.js
  orga/translations/fr.json
Due: eslint --fix

feat(api): get divisions for mission learners
  api/src/school/application/school-controller.js
  api/src/school/application/school-route.js
  api/src/school/domain/models/Division.js
  api/src/school/domain/usecases/get-divisions.js
  api/src/school/domain/usecases/index.js
  api/src/school/infrastructure/repositories/school-repository.js
  api/src/team/application/prescriber-informations.controller.js
  api/src/team/infrastructure/serializers/jsonapi/prescriber-serializer.js
  api/tests/school/integration/application/mission-learner-controller_test.js
  api/tests/school/integration/infrastructure/repositories/school-repository_test.js
  api/tests/school/unit/application/school-controller_test.js
  api/tests/school/unit/application/school-route_test.js
  api/tests/school/unit/domain/usecases/get-divisions_test.js
  api/tests/team/unit/infrastructure/serializers/jsonapi/prescriber-serializer_test.js
Due: eslint --fix

feat(orga): filter on learners after select a division
  orga/app/controllers/authenticated/missions/details/learners.js
  orga/app/models/organization.js
  orga/app/routes/authenticated/missions/details/learners.js
  orga/app/templates/authenticated/missions/details/learners.hbs
  orga/mirage/config.js
  orga/mirage/handlers/find-paginated-mission-learners.js
  orga/mirage/serializers/organization.js
  orga/tests/acceptance/missions-details_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix

feat(api): Add filters to getPaginatedLearner
  api/src/school/application/mission-learner-controller.js
  api/src/school/application/mission-learner-route.js
  api/src/school/domain/usecases/find-paginated-mission-learners.js
  api/src/school/infrastructure/repositories/mission-learner-repository.js
  api/tests/school/integration/application/mission-learner-controller_test.js
  api/tests/school/integration/domain/usecases/find-paginated-mission-learners_test.js
  api/tests/school/integration/infrastructure/repositories/mission-assessment-repository_test.js
  api/tests/school/unit/application/mission-learner-route_test.js
  api/tests/school/unit/domain/usecases/find-paginated-mission-learners_test.js
  api/tests/school/unit/infrastructure/repositories/mission-learner-repository_test.js
Due: eslint --fix

refactor(api): inject OrganizationLearnerApi into school-repository
  api/lib/domain/usecases/organizations-administration/get-organization-details.js
  api/src/prescription/campaign/domain/usecases/update-campaign-code.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-administration-repository.js
  api/src/school/domain/usecases/activate-school-session.js
  api/src/school/domain/usecases/get-school-by-code.js
  api/src/school/infrastructure/repositories/index.js
  api/src/school/infrastructure/repositories/school-repository.js
  api/src/shared/domain/services/code-generator.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-administration-repository_test.js
  api/tests/prescription/campaign/unit/domain/usecases/update-campaign-code_test.js
  api/tests/school/integration/infrastructure/repositories/school-repository_test.js
  api/tests/school/unit/domain/usecases/activate-school-session_test.js
  api/tests/unit/domain/usecases/get-organization-details_test.js
Due: eslint --fix

refacto(orga): Pass clear button trad to the common section
  orga/app/components/campaign/filter/campaign-filters.hbs
  orga/app/components/campaign/filter/participation-filters.hbs
  orga/app/components/organization-participant/learner-filters.hbs
  orga/app/components/sco-organization-participant/sco-learner-filters.hbs
  orga/app/components/sup-organization-participant/sup-learner-filters.hbs
  orga/tests/acceptance/campaign-list-all-campaigns_test.js
  orga/tests/acceptance/campaign-list-my-campaigns_test.js
  orga/tests/integration/components/campaign/filter/campaign-filters_test.js
  orga/tests/integration/components/organization-participant/list_test.js
  orga/tests/integration/components/sup-organization-participant/list_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix

feat(api): manage key constraint on badge save and update
  api/src/evaluation/domain/models/Badge.js
  api/src/evaluation/domain/usecases/create-badge.js
  api/src/evaluation/domain/usecases/update-badge.js
  api/src/evaluation/infrastructure/repositories/badge-repository.js
  api/tests/evaluation/integration/domain/usecases/create-badge_test.js
  api/tests/evaluation/integration/domain/usecases/update-badge_test.js
  api/tests/evaluation/integration/infrastructure/repositories/badge-repository_test.js
  api/tests/evaluation/unit/domain/models/Badge_test.js
Due: eslint --fix

fix(api): correct joi validation for badge message
  api/src/evaluation/application/badges/index.js
Due: eslint --fix

refactor(api+admin): follow ADR 44 and translate api error message
  admin/app/components/badges/badge.js
  admin/translations/en.json
  admin/translations/fr.json
  api/src/evaluation/infrastructure/repositories/badge-repository.js
  api/src/shared/application/error-manager.js
  api/src/shared/domain/errors.js
  api/tests/evaluation/integration/domain/usecases/update-badge_test.js
  api/tests/evaluation/integration/infrastructure/repositories/badge-repository_test.js
Due: eslint --fix

feat(admin): display error notifications on badge update
  admin/app/components/badges/badge.js
Due: eslint --fix

feat(api): Display the most relevant mission result for learner
  api/src/school/infrastructure/repositories/mission-assessment-repository.js
  api/tests/school/integration/infrastructure/repositories/mission-assessment-repository_test.js
Due: eslint --fix

feat(api): allow role Support to copy target profile
  api/lib/application/target-profiles/index.js
  api/tests/unit/application/target-profiles/index_test.js
Due: eslint --fix

feat(admin): duplicate a target profile and its tubes
  admin/app/components/target-profiles/modal/copy.hbs
  admin/app/components/target-profiles/target-profile.hbs
  admin/app/components/target-profiles/target-profile.js
  admin/app/models/target-profile.js
  admin/app/styles/components/target-profiles/target-profile.scss
  admin/mirage/config.js
  admin/mirage/handlers/target-profiles.js
  admin/tests/acceptance/authenticated/target-profiles/target-profile/copy_test.js
  admin/tests/integration/components/target-profiles/copy-modal_test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix, stylelint --fix

refactor(admin): migrate to gjs file
  admin/app/components/target-profiles/modal/copy.gjs
  admin/app/components/target-profiles/modal/copy.hbs
Due: none

[RELEASE] A minor is being released to 4.174.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

Updated translations from Phrase
  mon-pix/translations/es.json
Due: none

Updated translations from Phrase
  mon-pix/translations/nl.json
Due: none

fix(mon-pix): add missing translations for stepper button
  mon-pix/translations/es.json
  mon-pix/translations/nl.json
Due: none

feat(mon-pix): update account recovery support url
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: none

feat(api): create organization membership repository
  api/src/prescription/campaign/domain/read-models/OrganizationMembership.js
  api/src/prescription/campaign/infrastructure/repositories/index.js
  api/src/prescription/campaign/infrastructure/repositories/organization-membership-repository.js
  api/tests/prescription/campaign/unit/infrastrucutre/repositories/organization-membership-repository_test.js
Due: eslint --fix

feat(api): create delete campaigns usecase
  api/src/prescription/campaign/domain/usecases/delete-campaigns.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/tests/prescription/campaign/integration/domain/usecases/delete-campaigns_test.js
Due: eslint --fix

tech(api): move method from campaign participation repository in campaign context to campaign-participation context
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-participation-repository.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-participation-repository_test.js
Due: eslint --fix
