Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat(api): demonstrate revokation based on userId and revokeTokensFromUserBeforeDate
  api/lib/infrastructure/authentication.js
Due: eslint --fix

feat(api) : ajout image module
  api/src/devcomp/infrastructure/datasources/learning-content/modules/decouverte-de-l-ent.json
Due: none

fix(api): retrait isbeta true
  api/src/devcomp/infrastructure/datasources/learning-content/modules/decouverte-de-l-ent.json
Due: none

feat(api) : ajout espace insécable
  api/src/devcomp/infrastructure/datasources/learning-content/modules/decouverte-de-l-ent.json
Due: none

fix(api): retrait feedbacks généraux
  api/src/devcomp/infrastructure/datasources/learning-content/modules/decouverte-de-l-ent.json
Due: none

test(orga): matomo test
  orga/app/components/campaign/header/tabs.gjs
Due: none

feat(api) : modif iframe vidéos + retrait br dans ul
  api/src/devcomp/infrastructure/datasources/learning-content/modules/decouverte-de-l-ent.json
Due: none

Updated translations from Phrase
  orga/translations/nl.json
Due: none

WIP 2
  junior/app/components/login-information.gjs
  junior/app/routes/school/students.js
  junior/app/styles/pages/identified/missions/list.scss
  junior/app/templates/identified/missions/list.hbs
  junior/translations/fr.json
Due: eslint --fix, stylelint --fix

Suppression double espace (démo)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

Amélioration grain 3 4 et 5
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

Correction Feedback Diagnostic et suppression \n
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

Correction coquilles
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

Correction coquilles 2
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

Definition fiabilite
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

mob next [ci-skip] [ci skip] [skip ci]
  junior/app/components/challenge/challenge-content.gjs
  junior/app/components/challenge/content/auto-reply.js
  junior/app/components/challenge/content/challenge-actions.gjs
  junior/app/models/challenge.js
Due: eslint --fix

Modif format consigne Mme Sarah
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

style(junior): change layout of challenges
  junior/app/components/card-wrapper.gjs
  junior/app/components/challenge/challenge-content.gjs
  junior/app/components/challenge/challenge.gjs
  junior/app/components/challenge/content/challenge-media.gjs
  junior/app/models/challenge.js
  junior/app/styles/app.scss
  junior/app/styles/components/card-wrapper.scss
  junior/app/styles/components/challenge/challenge-actions.scss
  junior/app/styles/components/challenge/challenge-content.scss
  junior/tests/integration/challenge-content_test.gjs
  junior/tests/unit/models/challenge-test.js
  mon-pix/tests/unit/models/challenge-test.js
Due: eslint --fix, stylelint --fix

style(junior): set 60/40 layout on embed+form challenges
  junior/app/components/challenge/challenge-content.gjs
  junior/app/styles/components/challenge/challenge-content.scss
Due: stylelint --fix

feat(junior): update success/failure robot messages
  junior/translations/fr.json
Due: none

Modif sources fiables sources contestables
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

Coquilles
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

add cache header
  api/src/shared/application/feature-toggles/index.js
Due: eslint --fix

chore(api): rename OrganizationImport in OrganizationImportStatus
  api/src/prescription/learner-management/domain/models/OrganizationImportStatus.js
  api/src/prescription/learner-management/domain/usecases/handle-payload-too-large-error.js
  api/src/prescription/learner-management/domain/usecases/import-from-feature/send-organization-learners-file.js
  api/src/prescription/learner-management/domain/usecases/upload-csv-file.js
  api/src/prescription/learner-management/domain/usecases/upload-siecle-file.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-import-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-import-repository_test.js
  api/tests/prescription/learner-management/unit/domain/models/OrganizationImportStatus_test.js
  api/tests/prescription/learner-management/unit/domain/models/OrganizationImport_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/handle-payload-too-large-error_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-from-feature/send-organization-learners-file_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-csv-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-sup-organization-learners_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/replace-sup-organization-learners_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/upload-csv-file_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/upload-siecle-file_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/validate-csv-file_test.js
Due: eslint --fix

chore(orga): make campaignLearningContent extend from LearningContent
  api/src/shared/domain/models/CampaignLearningContent.js
Due: eslint --fix

feat(junior): Add automatic validation for pix writer embeds
  api/src/school/infrastructure/serializers/challenge-serializer.js
  api/tests/school/unit/infrastructure/serializers/challenge-serializer_test.js
  junior/app/components/challenge/challenge-content.gjs
  junior/app/components/challenge/content/auto-reply.js
  junior/app/components/challenge/content/challenge-actions.gjs
  junior/app/models/challenge.js
  junior/tests/acceptance/display-challenge-test.js
  junior/tests/integration/challenge-content_test.gjs
Due: eslint --fix

chore(orga): added frameworks attribute to create campaignLearningContent when necessary in prescription BC context
  api/src/prescription/campaign-participation/domain/usecases/compute-campaign-participation-analysis.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-assessment-participation-result-repository.js
  api/src/prescription/campaign/domain/usecases/compute-campaign-analysis.js
  api/src/prescription/campaign/domain/usecases/compute-campaign-collective-result.js
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-assessment-results-to-stream.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-analysis-repository_test.js
  api/tests/prescription/campaign-participation/unit/infrastructure/serializers/jsonapi/campaign-assessment-participation-result-serializer_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-collective-result-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/knowledge-element-snapshot-repository_test.js
  api/tests/prescription/campaign/unit/domain/read-models/CampaignAnalysis_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/jsonapi/campaign-collective-result-serializer_test.js
  api/tests/shared/integration/infrastructure/repositories/knowledge-element-repository_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-learning-content.js
Due: eslint --fix

feat(admin): Add a function to send a new invitation
  admin/app/components/organizations/invitations.gjs
  admin/app/controllers/authenticated/organizations/get/invitations.js
  admin/app/templates/authenticated/organizations/get/invitations.hbs
  admin/tests/unit/controllers/authenticated/organizations/get/invitations-test.js
Due: eslint --fix

chore(orga): overriding competences and areas to sort them
  api/src/shared/domain/models/CampaignLearningContent.js
  api/tests/shared/unit/domain/models/CampaignLearningContent_test.js
Due: eslint --fix

Modifs transcription vidéo
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

erreur volontaire pour tester la CI
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
Due: none

feat(orga): todos for export - replacing userId / sharedAt with CampaignParticipationId
  api/src/prescription/campaign/infrastructure/repositories/knowledge-element-snapshot-repository.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-assessment-export.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-profiles-collection-export.js
  api/src/shared/domain/services/placement-profile-service.js
Due: eslint --fix

fix(api) : erreur ID element
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
Due: none

fix(api): changement grain intro
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
Due: none

fix(api) : correction mineure
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
Due: none

fix(api) : qcu changement propositions
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
Due: none

fix(api): changement boss final
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
Due: none

fix(api) erreurs html
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
Due: none

feat(api): Add a new migration
  api/db/migrations/20250124150837_add-locale-column-to-organization-invitations-table.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
