Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

feat(mon-pix): change page title according to design
  mon-pix/tests/integration/components/password-reset-demand-form-test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: eslint --fix

refactor(mon-pix): mark FormTextfield component as deprecated
  mon-pix/app/components/form-textfield.hbs
  mon-pix/app/components/form-textfield.js
Due: eslint --fix

feat(mon-pix): use new component authentication/password-reset-demand
  mon-pix/app/templates/password-reset-demand.hbs
  mon-pix/tests/acceptance/password-reset-demand-form-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: eslint --fix

style(mon-pix): lint:translations:fix
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: none

feat(mon-pix): add new component authentication/password-reset-demand
  mon-pix/app/components/authentication/password-reset-demand-form.gjs
  mon-pix/app/components/authentication/password-reset-demand.scss
  mon-pix/app/styles/app.scss
  mon-pix/tests/integration/components/authentication/password-reset-demand-form-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: stylelint --fix

test(mon-pix): make test name clearer
  mon-pix/tests/acceptance/password-reset-demand-form-test.js
Due: eslint --fix

feat(mon-pix): better use of translations
  mon-pix/app/components/authentication/password-reset-demand-form.gjs
  mon-pix/tests/integration/components/authentication/password-reset-demand-form-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: none

refactor(mon-pix): order style files alphabetically
  mon-pix/app/styles/app.scss
Due: stylelint --fix

feat(mon-pix): add password reset form validation class
  mon-pix/app/components/authentication/password-reset-form/password-reset-form-validation.js
  mon-pix/tests/unit/components/authentication/password-reset-form/password-reset-form-validation-test.js
Due: eslint --fix

:sparkles: feat add Oralization Feat to school organization
  api/src/organizational-entities/domain/models/OrganizationForAdmin.js
  api/tests/integration/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin.repository.test.js
  api/tests/organizational-entities/unit/domain/models/OrganizationForAdmin_test.js
Due: eslint --fix

:sparkles: feat: add oralization info for participants
  api/db/database-builder/factory/prescription/organization-learners/build-organization-learner-feature.js
  api/db/seeds/data/common/feature-builder.js
  api/src/prescription/organization-learner/domain/usecases/find-paginated-filtered-participants.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-feature-repository.js
  api/tests/organizational-entities/unit/application/api/OrganizationFeaturesDTO_test.js
  api/tests/prescription/organization-learner/integration/infrastructure/organization-learner-feature-repository_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-paginated-filtered-participants_test.js
  api/tests/tooling/domain-builder/factory/build-organization-participant.js
Due: eslint --fix

feat: add oralization header/column
  api/src/organizational-entities/application/api/OrganizationFeaturesDTO.js
  api/src/prescription/organization-learner/domain/usecases/find-paginated-filtered-participants.js
  api/tests/organizational-entities/unit/application/api/OrganizationFeaturesDTO_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-paginated-filtered-participants_test.js
  orga/app/helpers/import-format.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Due: eslint --fix

feat(orga): Re-order activity-status and result
  orga/app/controllers/authenticated/missions/mission/activities.js
  orga/app/controllers/authenticated/missions/mission/results.js
Due: eslint --fix

feat(api): handle oralization feature in database
  api/db/migrations/20241015153115_create-table-organization-learner-features.js
  api/db/migrations/20241016094500_add-oralization-to-features.js
  api/db/migrations/20241016095050_add-oralization-feature-to-sco-1d-organizations.js
  api/src/shared/domain/constants.js
Due: eslint --fix

:sparkles: feat(orga): display oralization status on participants
  orga/app/components/organization-participant/table-row.gjs
  orga/tests/integration/components/organization-participant/list-test.js
  orga/tests/integration/components/organization-participant/table-row_test.gjs
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Due: eslint --fix

feat:(api) add oralization in SEEDS
  api/db/database-builder/factory/build-organization-learner-feature.js
  api/db/seeds/data/common/constants.js
  api/db/seeds/data/common/feature-builder.js
  api/db/seeds/data/common/organization-learner-import-formats.js
  api/db/seeds/data/team-1d/data-builder.js
Due: eslint --fix

:recycle: refactor delete create school learner script
  api/src/school/scripts/create-school-learners.js
  api/tests/school/integration/scripts/create-school-learners_test.js
Due: eslint --fix

feat(mon-pix): add password reset form
  mon-pix/app/components/authentication/password-reset-form/password-reset-form.gjs
  mon-pix/app/components/authentication/password-reset-form/password-reset-form.scss
  mon-pix/app/styles/app.scss
  mon-pix/tests/integration/components/authentication/password-reset-form/password-reset-form-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: stylelint --fix

test(mon-pix): add isNewAuthenticationDesignEnabled on tests/acceptance/reset-password-form-test.js
  mon-pix/tests/acceptance/reset-password-form-test.js
Due: eslint --fix

feat(mon-pix): use new component in reset password page
  mon-pix/app/controllers/reset-password.js
  mon-pix/app/templates/reset-password.hbs
  mon-pix/tests/acceptance/reset-password-form-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: eslint --fix

refactor(mon-pix): fix, good @yyy={{true}} usage
  mon-pix/app/components/authentication/signin-form.gjs
Due: none

fix(api): fix html
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

feat(api): modifs post review pch-jte
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

feat(api): changement ip publique pour éviter france MODC-149
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

feat(api): finir bascule systeme indices MODC-153
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

feat(api): MODC-154 changement phrase intro VPN
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

feat(api): change affirmation en question MODC-152
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

fix
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

feat(api): add 1 step
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

fix(api): delete 2 steps
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

feat(api): propositions post-coval (a valid)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

fix espace manquant
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

feat(api): derniere revue jte
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

feat(api): add poster image to video MODC-90
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

feat(api): actualisation systeme indices MODC-153
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

feat(api): update objectives
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

feat(api): ultime revue jte-mgo-jro
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

feat(api): review jte
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none
