Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

♻️ (mon-pix): extract html form translation keys for step one
  mon-pix/app/components/certification-instructions/step-one.hbs
  mon-pix/app/components/certification-instructions/step-one.js
  mon-pix/tests/integration/components/steps_test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: eslint --fix

♻️ (mon-pix): use strong html for important text in step five
  mon-pix/app/components/certification-instructions/step-five.hbs
  mon-pix/tests/integration/components/steps_test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: eslint --fix

♻️ (mon-pix): extract html form translation keys for step three
  mon-pix/app/components/certification-instructions/step-three.hbs
  mon-pix/app/components/certification-instructions/step-three.js
  mon-pix/tests/integration/components/steps_test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: eslint --fix

(mon-pix): BEM refacto
  mon-pix/app/components/certification-instructions/steps.hbs
  mon-pix/app/styles/pages/_certification-instructions.scss
  mon-pix/app/templates/authenticated/certifications/information.hbs
Due: stylelint --fix

feat(admin): add a loading feedback for anonymize GAR import
  admin/app/components/administration/anonymize-gar-import.hbs
  admin/app/components/administration/anonymize-gar-import.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

feat(admin): Add anonymize GAR import
  admin/app/components/administration/anonymize-gar-import.hbs
  admin/app/components/administration/anonymize-gar-import.js
  admin/app/templates/authenticated/administration.hbs
  admin/tests/integration/components/administration/anonymize-gar-import_test.js
Due: eslint --fix

chore(translation): add translation for anonymize GAR import
  admin/translations/en.json
  admin/translations/fr.json
Due: none

:sparkles: api: duplicate add certification candidate route
  api/src/certification/enrolment/application/certification-candidate-controller.js
  api/src/certification/enrolment/application/certification-candidate-route.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-controller-post-certification-candidate_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-route_test.js
Due: eslint --fix

:memo: api: add depreciation note to former route
  api/src/certification/enrolment/application/certification-candidate-route.js
Due: eslint --fix

:recycle: api: rename complementary certification usecase parameter to subscription
  api/src/certification/enrolment/application/certification-candidate-controller.js
  api/src/certification/enrolment/domain/usecases/add-certification-candidate-to-session.js
  api/tests/certification/enrolment/unit/application/certification-candidate-controller_test.js
  api/tests/certification/enrolment/unit/domain/usecases/add-certification-candidate-to-session_test.js
Due: eslint --fix

feat(junior): display mission result in Pix Orga
  api/src/school/domain/models/MissionLearnerWithStatus.js
  api/src/school/domain/services/get-mission-result.js
  api/src/school/domain/usecases/find-paginated-mission-learners.js
  api/src/school/infrastructure/repositories/mission-assessment-repository.js
  api/src/school/infrastructure/serializers/mission-learner-serializer.js
  api/tests/school/integration/application/mission-learner-controller_test.js
  api/tests/school/integration/domain/usecases/find-paginated-mission-learners_test.js
  api/tests/school/integration/infrastructure/repositories/mission-assessment-repository_test.js
  api/tests/school/unit/domain/services/get-mission-result-tests.js
  orga/app/models/mission-learner.js
  orga/app/templates/authenticated/missions/details/learners.hbs
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix

refactor(junior): Rename on schoolLearner/missionLeaner
  api/src/school/domain/models/MissionLearner.js
  api/src/school/domain/models/MissionLearnerWithStatus.js
  api/src/school/domain/models/SchoolLearner.js
  api/src/school/domain/usecases/find-paginated-mission-learners.js
  api/src/school/infrastructure/repositories/mission-learner-repository.js
  api/tests/school/integration/application/mission-learner-controller_test.js
  api/tests/school/integration/domain/usecases/find-paginated-mission-learners_test.js
  api/tests/school/unit/infrastructure/repositories/mission-learner-repository_test.js
Due: eslint --fix

tech?(api): fix test file name
  api/tests/prescription/campaign-participation/integration/application/learner-participation-route_test.js
Due: eslint --fix

feat(api): get if the campaign is deleted and so if the participation can be shared
  api/lib/domain/read-models/participant-results/AssessmentResult.js
  api/lib/infrastructure/repositories/participant-result-repository.js
  api/tests/integration/infrastructure/repositories/participant-result-repository_test.js
  api/tests/unit/domain/read-models/participant-results/AssessmentResult_test.js
Due: eslint --fix

feat(api): prevent learners to share participation to deleted campaign
  api/lib/domain/models/Campaign.js
  api/src/prescription/campaign-participation/domain/models/CampaignParticipation.js
  api/tests/prescription/campaign-participation/unit/domain/models/CampaignParticipation_test.js
  api/tests/tooling/domain-builder/factory/build-campaign.js
  api/tests/unit/domain/models/Campaign_test.js
Due: eslint --fix

feat(mon-pix): prevent learners from sharing particpation to a deleted campaign
  mon-pix/mirage/serializers/campaign-participation-result.js
  mon-pix/tests/acceptance/resume-campaigns-with-type-assessment_test.js
  mon-pix/tests/acceptance/skill-review_test.js
  mon-pix/tests/unit/components/routes/campaigns/assessment/skill-review_test.js
Due: eslint --fix

♻️(certif): use tokens on invigilator error page
  certif/app/styles/pages/session-supervising-error.scss
Due: stylelint --fix

♻️(certif): use spacing var on invigilator error page
  certif/app/styles/pages/session-supervising-error.scss
Due: stylelint --fix

:recycle: certif: Convert add candidate modal to gjs
  certif/app/components/new-candidate-modal/complementary-list.gjs
  certif/app/components/new-candidate-modal/complementary-list.hbs
  certif/app/components/new-candidate-modal/complementary-with-referential.gjs
  certif/app/components/new-candidate-modal/complementary-with-referential.hbs
  certif/app/components/new-candidate-modal/index.gjs
  certif/app/components/new-candidate-modal/index.hbs
  certif/app/components/new-candidate-modal/index.js
  certif/tests/acceptance/session-details-certification-candidates_test.js
  certif/tests/integration/components/new-candidate-modal/index_test.gjs
Due: eslint --fix

🚚(admin): move scoring simulator acceptance tests to administration tests
  admin/tests/acceptance/administration_test.js
  admin/tests/acceptance/authenticated/certifications/scoring-simulation_test.js
Due: eslint --fix

✨(admin): create certificationScoringConfiguration gjs component
  admin/app/components/administration/certification/certification-scoring-configuration.gjs
  admin/app/controllers/authenticated/certifications/configuration.js
  admin/app/styles/app.scss
  admin/app/styles/components/administration/certification/certification-scoring-configuration.scss
  admin/app/templates/authenticated/certifications/configuration.hbs
  admin/tests/integration/components/administration/certification/certification-scoring-configuration_test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix, stylelint --fix

✨(admin): create competenceScoringConfiguration gjs component
  admin/app/components/administration/certification/competence-scoring-configuration.gjs
  admin/app/controllers/authenticated/certifications/configuration.js
  admin/app/router.js
  admin/app/styles/app.scss
  admin/app/styles/components/administration/certification/competence-scoring-configuration.scss
  admin/app/templates/authenticated/certifications/configuration.hbs
  admin/tests/integration/components/administration/certification/competence-scoring-configuration_test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix, stylelint --fix

💄(admin): use xs title token for titles
  admin/app/styles/globals/page.scss
Due: stylelint --fix

✨(admin): create ScoringSimulator gjs component
  admin/app/adapters/scoring-and-capacity-simulator-report.js
  admin/app/components/administration/certification/scoring-simulator.gjs
  admin/app/controllers/authenticated/certifications/scoring-simulation.js
  admin/app/router.js
  admin/app/styles/app.scss
  admin/app/styles/components/administration/certification/scoring-simulator.scss
  admin/app/styles/components/certification/scoring-simulation.scss
  admin/app/templates/authenticated/certifications/scoring-simulation.hbs
  admin/tests/acceptance/authenticated/certifications/scoring-simulation_test.js
  admin/tests/integration/components/administration/certification/scoring-simulator_test.js
  admin/tests/unit/adapters/scoring-and-capacity-simulator-report_test.js
  admin/tests/unit/components/administration/certification/scoring-simulator_test.js
  admin/tests/unit/controllers/authenticated/certifications/certification/scoring-simulation_test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix, stylelint --fix

✨(admin): create certification tab with components
  admin/app/router.js
  admin/app/templates/authenticated/administration.hbs
  admin/app/templates/authenticated/administration/certification.hbs
  admin/tests/acceptance/administration_test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

✨(admin): add common tab on admistration page
  admin/app/router.js
  admin/app/routes/authenticated/administration/index.js
  admin/app/templates/authenticated/administration.hbs
  admin/app/templates/authenticated/administration/common.hbs
  admin/tests/acceptance/administration_test.js
  admin/tests/unit/routes/authenticated/administration/index_test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

💄(admin): design review
  admin/app/components/administration/certification/certification-scoring-configuration.gjs
  admin/app/components/administration/certification/competence-scoring-configuration.gjs
  admin/app/components/administration/certification/scoring-simulator.gjs
  admin/app/styles/components/administration/certification/scoring-simulator.scss
Due: stylelint --fix

:white_check_mark: certif: update tests with *ByRole selector
  certif/tests/acceptance/session-details-certification-candidates_test.js
  certif/tests/acceptance/session-new_test.js
  certif/tests/acceptance/session-update_test.js
  certif/tests/integration/components/new-candidate-modal/index_test.js
Due: eslint --fix

refactor(api): move usecase
  api/src/identity-access-management/domain/usecases/get-current-user.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/tests/identity-access-management/unit/domain/usecases/get-current-user.usecase.test.js
Due: eslint --fix

refactor(api): move controller method
  api/lib/application/users/user-controller.js
  api/src/identity-access-management/application/user/user.controller.js
  api/tests/identity-access-management/unit/application/user.controller.test.js
  api/tests/unit/application/users/user-controller_test.js
Due: eslint --fix

refactor(api): move route
  api/lib/application/users/index.js
  api/src/identity-access-management/application/user/user.route.js
  api/tests/acceptance/application/users/users-controller-get-current-user_test.js
  api/tests/identity-access-management/acceptance/application/user.route.test.js
  api/tests/identity-access-management/unit/application/user.route.test.js
  api/tests/unit/application/users/index_test.js
Due: eslint --fix

feat(api): add usecase getOrganizationMembership in team context
  api/src/team/domain/usecases/get-organization-membership.js
  api/tests/team/integration/domain/usecases/get-organization-membership.test.js
Due: eslint --fix

feat(api): duplicate findByUserIdAndOrganizationId in shared repo
  api/src/shared/infrastructure/repositories/membership-repository.js
  api/tests/shared/integration/infrastructure/repositories/membership-repository_test.js
Due: eslint --fix

feat(api): manage membership not found in usecase
  api/src/team/domain/errors.js
  api/src/team/domain/usecases/get-organization-membership.js
  api/tests/team/unit/domain/usecases/get-organization-membership_test.js
Due: eslint --fix

chore(api): setup documentation generation for team context
  api/package.json
  api/scripts/generate-api-documentation.js
  api/src/team/API.md
Due: eslint --fix

feat(api): create API model OrganizationMembership
  api/lib/domain/models/Membership.js
  api/src/team/application/api/models/organization-membership.js
  api/tests/team/unit/application/api/models/organization-membership.test.js
Due: eslint --fix

feat(api): manage errors
  api/src/team/application/api/errors/MembershipNotFound.js
  api/src/team/application/api/organization.js
  api/tests/team/acceptance/application/api/organization.test.js
  api/tests/team/unit/application/api/organization.test.js
Due: eslint --fix

feat(api): add organization api in team context
  api/src/team/application/api/organization.js
  api/tests/team/acceptance/application/api/organization.test.js
  api/tests/team/unit/application/api/models/organization-membership.test.js
Due: eslint --fix

refactor(api): move serializer
  api/src/identity-access-management/application/user/user.controller.js
  api/src/identity-access-management/infrastructure/serializers/jsonapi/authentication-methods.serializer.js
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/authentication-methods.serializer.test.js
Due: eslint --fix

refactor(api): move usecase
  api/lib/domain/usecases/find-user-authentication-methods.js
  api/src/identity-access-management/domain/usecases/find-user-authentication-methods.usecase.js
  api/tests/identity-access-management/unit/domain/usecases/find-user-authentication-methods.usecase.test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
