Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat(api): add new usecase
  api/lib/domain/usecases/create-or-update-certification-center-invitation.js
  api/tests/unit/domain/usecases/create-or-update-certification-center-invitation_test.js
Due: eslint --fix

feat(certif): add loading attribute to invite button
  certif/app/controllers/authenticated/team/invite.js
Due: eslint --fix

feat(certif): display error notifications
  certif/app/controllers/authenticated/team/invite.js
  certif/tests/acceptance/routes/authenticated/team/invite_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

refactor(certif): improve input cleaning
  api/lib/domain/usecases/create-or-update-certification-center-invitation.js
  certif/app/controllers/authenticated/team/invite.js
Due: eslint --fix

feat(api): add code attribute to errors
  api/lib/domain/errors.js
Due: eslint --fix

feat(certif): send invitations
  certif/app/controllers/authenticated/team/invite.js
  certif/mirage/config.js
  certif/tests/acceptance/routes/authenticated/team/invite_test.js
  certif/tests/unit/controllers/authenticated/team/invite_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

feat(certif): add sendInvitations method
  certif/app/adapters/certification-center-invitation.js
  certif/tests/unit/adapters/certification-center-invitation_test.js
Due: eslint --fix

feat(api): add updateModificationDate method
  api/lib/infrastructure/repositories/certification-center-invitation-repository.js
  api/tests/integration/infrastructure/repositories/certification-center-invitation-repository_test.js
Due: eslint --fix

feat(api): add new route
  api/lib/application/certification-centers/certification-center-controller.js
  api/lib/application/certification-centers/index.js
  api/tests/acceptance/application/certification-centers/certification-center-controller_test.js
Due: eslint --fix

feat(api): add certification-center-invitation service
  api/lib/domain/services/certification-center-invitation-service.js
  api/lib/domain/usecases/index.js
  api/tests/unit/domain/services/certification-center-invitation-service_test.js
Due: eslint --fix

doc(adr):change number of last adr
  docs/adr/0053-utilisation-de-workspaces.md
Due: none

doc(adr): write ADR on front app tree choice
  docs/adr/0054-arborescence-apps-front.md
Due: none

doc(adr): write decision and change status
  docs/adr/0054-arborescence-apps-front.md
Due: none

refactor(orga): move organization learner activity campaign type component to pods
  orga/app/pods/components/organization-learner/activity/campaign-type/component.js
  orga/app/pods/components/organization-learner/activity/campaign-type/template.hbs
Due: eslint --fix

refactor(orga): use pods for learner-activity page
  orga/app/pods/authenticated/sup-organization-participants/sup-organization-participant/activity/route.js
  orga/app/pods/authenticated/sup-organization-participants/sup-organization-participant/activity/template.hbs
  orga/pods/.gitkeep
Due: eslint --fix

refactor(orga): move organization learner activity component to pods
  orga/app/pods/components/organization-learner/activity/component.js
  orga/app/pods/components/organization-learner/activity/template.hbs
Due: eslint --fix

refactor(orga): move organization learner activity empty state component to pods
  orga/app/pods/components/organization-learner/activity/empty-state/component.js
  orga/app/pods/components/organization-learner/activity/empty-state/template.hbs
Due: eslint --fix

refactor(orga): move organization learner activity participation list component to pods
  orga/app/pods/components/organization-learner/activity/participation-list/template.hbs
Due: none

refactor(orga): move organization learner activity participation row component to pods
  orga/app/pods/components/organization-learner/activity/participation-row/component.js
  orga/app/pods/components/organization-learner/activity/participation-row/template.hbs
Due: eslint --fix

feat(orga): add config to use pods
  orga/config/environment.js
  orga/pods/.gitkeep
Due: eslint --fix

refactor(orga): config for using styles in pods folder
  orga/app/styles/app.scss
  orga/config/environment.js
  orga/package-lock.json
  orga/package.json
Due: eslint --fix, stylelint --fix

refactor(orga): move styles to pods
  orga/app/pods/components/organization-learner/activity/campaign-type/styles.scss
  orga/app/pods/components/organization-learner/activity/empty-state/styles.scss
  orga/app/pods/components/organization-learner/activity/participation-list/styles.scss
  orga/app/pods/components/organization-learner/activity/styles.scss
  orga/app/styles/app.scss
  orga/app/styles/components/campaign/index.scss
  orga/app/styles/components/organization-learner/index.scss
Due: stylelint --fix

fix(orga): Fix router stub in route unit test for campaign duplication
  orga/tests/unit/routes/authenticated/campaigns/new_test.js
Due: eslint --fix

refactor(orga): move organization-learner tests to pods
  orga/app/helpers/tests/create-glimmer-component.js
  orga/app/pods/components/organization-learner/activity/component.integration_test.js
  orga/app/pods/components/organization-learner/activity/participation-list/component.integration_test.js
  orga/app/pods/components/organization-learner/activity/participation-row/component.unit_test.js
Due: eslint --fix

refactor(orga): move sup-organization-participants activity test to pods
  orga/app/pods/authenticated/sup-organization-participants/sup-organization-participant/activity/route.unit_test.js
Due: eslint --fix

refactor(orga): poc move tests in pods
  orga/app/helpers/tests/setup-intl-rendering.js
  orga/app/helpers/tests/setup-intl.js
  orga/app/pods/components/organization-learner/activity/participation-row/component.integration_test.js
Due: eslint --fix

️♻️ certif: Remove hasMany warning
  certif/app/models/certification-report.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,yml, yaml}
  stylelint --fix: any of: *.scss
