Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

feat(api): add getByIds method in campaignAdministrationRepository
  api/src/prescription/campaign/infrastructure/repositories/campaign-administration-repository.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-administration-repository_test.js
Due: eslint --fix

tests?(api): fix typo in tests
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-repository_test.js
Due: eslint --fix

feat(api): create CampaignsDestructor aggregate
  api/src/prescription/campaign/domain/models/CampaignsDestructor.js
  api/tests/prescription/campaign/unit/domain/models/CampaignsDestructor_test.js
Due: eslint --fix

feat(api): add batchUpdate method in CampaignAdministrationRepository
  api/src/prescription/campaign/infrastructure/repositories/campaign-administration-repository.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-administration-repository_test.js
Due: eslint --fix

feat(api): add getByCampaignIds method in campaignParticipationRepository
  api/src/prescription/campaign-participation/domain/models/CampaignParticipation.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-repository.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-repository_test.js
Due: eslint --fix

feat(api): add batchUpdate method in campaignParticipationRepository
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-repository.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-repository_test.js
Due: eslint --fix

feat(api): add delete method on Campaign model
  api/src/prescription/campaign/domain/errors.js
  api/src/prescription/campaign/domain/models/Campaign.js
  api/tests/prescription/campaign/unit/domain/models/Campaign_test.js
Due: eslint --fix

feat(api): add getter isDeleted on Campaign model
  api/src/prescription/campaign/domain/models/Campaign.js
  api/tests/prescription/campaign/unit/domain/models/Campaign_test.js
Due: eslint --fix

feat(api): create route and deleteCampaigns controller method
  api/src/prescription/campaign/application/campaign-administration-route.js
  api/src/prescription/campaign/application/campaign-adminstration-controller.js
  api/tests/prescription/campaign/integration/application/campaign-administration-route_test.js
Due: eslint --fix

✨(certif): remove warning about non strict id deprecation on tests
  certif/tests/acceptance/login-session-supervisor_test.js
  certif/tests/acceptance/session-supervising_test.js
  certif/tests/acceptance/supervisor-portal-access_test.js
  certif/tests/integration/components/certification-candidate-details-modal/certification-candidate-details-modal_test.js
  certif/tests/integration/components/enrolled-candidates_test.js
  certif/tests/integration/components/members-list-item_test.js
  certif/tests/integration/components/members-list_test.js
  certif/tests/integration/components/new-candidate-modal/index_test.gjs
  certif/tests/integration/components/session-finalization/uncompleted-reports-information-step_test.js
  certif/tests/integration/components/session-supervising/candidate-in-list_test.js
  certif/tests/integration/components/session-supervising/header_test.js
  certif/tests/integration/components/sessions/index_test.gjs
  certif/tests/integration/components/sessions/session-summary-list_test.gjs
  certif/tests/integration/components/team/invitations-list-item_test.js
  certif/tests/integration/components/team/invitations-list_test.js
  certif/tests/integration/components/user-logged-menu_test.js
  certif/tests/unit/adapters/member_test.js
  certif/tests/unit/adapters/session-enrolment_test.js
  certif/tests/unit/adapters/session-management_test.js
  certif/tests/unit/adapters/session-summary_test.js
  certif/tests/unit/adapters/sessions-mass-import-report_test.js
  certif/tests/unit/components/members-list_test.js
  certif/tests/unit/components/new-candidate-modal/index_test.js
  certif/tests/unit/components/session-clea-results-download_test.js
  certif/tests/unit/controllers/authenticated/sessions/import_test.js
  certif/tests/unit/controllers/authenticated/team/invite_test.js
  certif/tests/unit/controllers/authenticated/team/list/members_test.js
  certif/tests/unit/controllers/authenticated/team/list_test.js
  certif/tests/unit/controllers/authenticated_test.js
  certif/tests/unit/models/certification-report_test.js
  certif/tests/unit/models/session-enrolment_test.js
  certif/tests/unit/models/session-management_test.js
  certif/tests/unit/models/sessions-mass-import-report_test.js
  certif/tests/unit/routes/session-supervising_test.js
  certif/tests/unit/services/current-user_test.js
Due: eslint --fix

✨(certif): remove warning about non strict types deprecation on models
  certif/app/models/session-management.js
Due: eslint --fix

✨(certif): remove warning about legacy import deprecation
  certif/app/services/store.js
  certif/app/transforms/boolean.js
  certif/app/transforms/date.js
  certif/app/transforms/number.js
  certif/app/transforms/string.js
Due: eslint --fix

✨(certif): add icons
  certif/config/icons.js
Due: eslint --fix

chore(app): update email verified translation
  mon-pix/translations/en.json
Due: none

✨ (app): add english translations
  mon-pix/translations/en.json
Due: none

:sparkles: (mon-pix): add english translations
  mon-pix/translations/en.json
Due: none

chore(mon-pix): upgrade pix-ui to v46.10.8
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

:recycle: certif: Page details from hbs to gjs
  certif/app/components/session-details/index.gjs
  certif/app/controllers/authenticated/sessions/details.js
  certif/app/templates/authenticated/sessions/details.hbs
  certif/tests/unit/controllers/authenticated/sessions/details_test.js
Due: eslint --fix

:sparkles: api: Pilot pix pix+ separation will be only allowed in V3
  api/scripts/certification/next-gen/import-pilot-certification-centers-from-csv.js
  api/tests/integration/scripts/certification/next-gen/import-pilot-certification-centers-from-csv_test.js
Due: eslint --fix

💄 (certif): change svg color to match with other menu icons
  certif/app/styles/pages/authenticated.scss
  certif/app/templates/authenticated.hbs
Due: stylelint --fix

WIP
  api/src/identity-access-management/domain/services/reset-password.service.js
  api/tests/identity-access-management/unit/domain/services/reset-password.service.test.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.175.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

chore(app): update of the translation of the SSO reconciliation page
  mon-pix/translations/en.json
Due: none

chore(app): reduce space
  mon-pix/translations/en.json
Due: none

feat(api): add ModuleFactory
  api/src/devcomp/infrastructure/factories/module-factory.js
  api/tests/devcomp/unit/infrastructure/factories/module-factory_test.js
Due: eslint --fix

refactor(api): rename toXDomain methods to buildX
  api/src/devcomp/infrastructure/factories/element-for-verification-factory.js
  api/src/devcomp/infrastructure/factories/module-factory.js
  api/src/devcomp/infrastructure/repositories/element-repository.js
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/tests/devcomp/acceptance/module-instantiation_test.js
  api/tests/devcomp/unit/infrastructure/factories/element-for-verification-factory_test.js
  api/tests/devcomp/unit/infrastructure/factories/module-factory_test.js
Due: eslint --fix

sr(api): remove unused ModuleRepository.getBySlugForVerification method
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
Due: eslint --fix

refactor(api): replace Module with ModuleFactory
  api/src/devcomp/domain/models/module/Module.js
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/tests/devcomp/unit/domain/models/module/Module_test.js
Due: eslint --fix

sr(api): remove skipped tests
  api/tests/devcomp/unit/domain/models/element/Text_test.js
Due: eslint --fix

feat(api): add ElementForVerificationFactory
  api/src/devcomp/application/http-error-mapper-configuration.js
  api/src/devcomp/domain/errors.js
  api/src/devcomp/domain/models/Grain.js
  api/src/devcomp/domain/models/module/Module.js
  api/src/devcomp/infrastructure/factories/element-for-verification-factory.js
  api/src/devcomp/infrastructure/factories/module-factory.js
  api/src/devcomp/infrastructure/repositories/element-repository.js
  api/tests/devcomp/acceptance/module-instantiation_test.js
  api/tests/devcomp/unit/domain/models/Grain_test.js
  api/tests/devcomp/unit/domain/models/module/Module_test.js
  api/tests/devcomp/unit/infrastructure/factories/element-for-verification-factory_test.js
  api/tests/devcomp/unit/infrastructure/factories/module-factory_test.js
Due: eslint --fix

:memo: (mon-pix) Add english translations for the instruction screens
  mon-pix/translations/en.json
Due: none

:memo: (mon-pix) Add English translations for the instruction screens
  mon-pix/translations/en.json
Due: none

:memo: (mon-pix) Add English translation instruction screens
  mon-pix/translations/en.json
Due: none

Updated translations from Phrase
  orga/translations/nl.json
Due: none

fix(orga): add nl to languages
  orga/app/languages.js
  orga/tests/integration/language-switcher_test.js
Due: eslint --fix

refactor(orga): migrate type component to gjs file
  orga/app/components/campaign/detail/type.gjs
  orga/app/components/campaign/detail/type.hbs
Due: none

refactor(orga): migrate campaigns filter component to gjs file
  orga/app/components/campaign/filter/campaign-filters.gjs
  orga/app/components/campaign/filter/campaign-filters.hbs
  orga/app/components/campaign/filter/campaign-filters.js
Due: eslint --fix

refactor(orga): migrate participation filters component to gjs file
  orga/app/components/campaign/filter/participation-filters.gjs
  orga/app/components/campaign/filter/participation-filters.hbs
Due: none
