Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

feat(admin): add expandable accordions component
  admin/app/components/common/expandable-accordions.gjs
  admin/app/components/common/expandable-accordions.scss
  admin/app/styles/app.scss
  admin/tests/integration/components/common/expandable-accordions-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Due: stylelint --fix

test(e2e - certif): fix typo change
  high-level-tests/e2e-playwright/pages/pix-admin/CertificationInformationPage.ts
Due: none

[TECH] Réparer une typo dans les tests e2e certif (#17122)
  high-level-tests/e2e-playwright/pages/pix-admin/CertificationInformationPage.ts
Due: none

feat(admin): display category label when provided
  admin/app/components/organizations/information-section-view.gjs
  admin/app/models/organization.js
  admin/app/styles/components/organization-information-section.scss
  admin/tests/integration/components/organizations/information-section-view-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix, stylelint --fix

tech(api): add ANSWERS_HISTORY_ASSESSMENT_ID_BATCH_SIZE env variable
  .circleci/jobs.yml
  api/sample.env
  api/src/db-history/domain/usecases/historize-answers.js
  api/src/shared/config.js
Due: eslint --fix

[FEATURE] Afficher la category de l'organisation dans sa page de détail (PIX-23555) (#17125)
  admin/app/components/organizations/information-section-view.gjs
  admin/app/models/organization.js
  admin/app/styles/components/organization-information-section.scss
  admin/tests/integration/components/organizations/information-section-view-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix, stylelint --fix

fix(orga): improve course modal content panel padding
  orga/app/styles/components/courses/course-modal.scss
Due: stylelint --fix

feat(orga): add title and description for target profile course modal content panel
  orga/app/components/catalogue/course-modal/target-profile-content.gjs
  orga/app/styles/components/courses/course-modal.scss
Due: stylelint --fix

feat(orga): display default scrollbar in course modal content
  orga/app/styles/components/courses/course-modal.scss
Due: stylelint --fix

feat(orga): add competence index label surtitle in course modal content panel for target profiles
  orga/app/components/catalogue/course-modal/target-profile-content.gjs
  orga/app/styles/components/courses/course-modal.scss
  orga/tests/integration/components/catalogue/course-modal-test.gjs
Due: stylelint --fix

feat(orga): align center level column title in target profile catalogue modal
  orga/app/styles/components/courses/course-modal.scss
Due: stylelint --fix

feat(orga): add separators in new campaign creation form and title for first section
  orga/app/components/campaign/create-form-catalogue.gjs
  orga/app/styles/components/courses/course-modal.scss
  orga/app/styles/components/ui/form-section.scss
Due: stylelint --fix

feat(orga): add overflow scroll with gradient to body in course modal details panel
  orga/app/components/catalogue/course-modal.gjs
  orga/app/styles/components/courses/course-modal.scss
Due: stylelint --fix

[FEATURE] Ajout d'un second batch pour answers history (#17000)
  .circleci/jobs.yml
  api/sample.env
  api/src/db-history/domain/usecases/historize-answers.js
  api/src/db-history/domain/usecases/index.js
  api/src/db-history/infrastructure/repositories/answers-repository.js
  api/src/db-history/infrastructure/repositories/assessments-repository.js
  api/src/db-history/scripts/historize-answers-catch-up.js
  api/src/shared/config.js
  api/tests/db-history/integration/domain/usecases/historize-answers_test.js
  api/tests/db-history/integration/infrastructure/repositories/answers-repository_test.js
  api/tests/db-history/integration/infrastructure/repositories/assessments-repository_test.js
  api/tests/db-history/integration/scripts/historize-answers-catch-up_test.js
Due: eslint --fix

fix(api): fix datamart-builder when not setup in unit tests
  api/datamart/datamart-builder/datamart-builder.js
Due: eslint --fix

feat(api): switch sessions order for admin
  api/src/certification/session-management/infrastructure/repositories/finalized-session-repository.js
  api/src/certification/session-management/infrastructure/repositories/jury-session-repository.js
  api/tests/certification/session-management/integration/infrastructure/repositories/finalized-session-repository_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/jury-session-repository_test.js
Due: eslint --fix

experimentation
  .circleci/jobs.yml
  api/package.json
  api/tests/certification/enrolment/acceptance/application/session-route_test.js
  api/tests/experimentation-certif/acceptance/common/helpers.js
  api/tests/experimentation-certif/acceptance/common/learning-content.fixture.js
  api/tests/experimentation-certif/acceptance/enrolment/sessions-route/session-route.delete-session.fixture.js
  api/tests/experimentation-certif/acceptance/enrolment/sessions-route/session-route.get-session.fixture.js
  api/tests/experimentation-certif/acceptance/enrolment/sessions-route/session-route.patch-candidate-participation.fixture.js
  api/tests/experimentation-certif/acceptance/enrolment/sessions-route/session-route.patch-session.fixture.js
  api/tests/experimentation-certif/acceptance/enrolment/sessions-route/session-route.post-session.fixture.js
  api/tests/experimentation-certif/acceptance/enrolment/sessions-route/sessions-route.delete-session.test.js
  api/tests/experimentation-certif/acceptance/enrolment/sessions-route/sessions-route.get-session.test.js
  api/tests/experimentation-certif/acceptance/enrolment/sessions-route/sessions-route.patch-candidate-participation.test.js
  api/tests/experimentation-certif/acceptance/enrolment/sessions-route/sessions-route.patch-session.test.js
  api/tests/experimentation-certif/acceptance/enrolment/sessions-route/sessions-route.post-session.test.js
  api/tests/experimentation-certif/acceptance/setup.js
Due: eslint --fix

[BUGFIX] Erreur du datamart-builder dans les tests unitaires (#17127)
  api/datamart/datamart-builder/datamart-builder.js
Due: eslint --fix

[TECH] Déplacer le code spécifique à la récupération de compte SCO dans organization-learners (#17083)
  api/src/identity-access-management/application/account-recovery/organization-learner-account-recovery.controller.js
  api/src/identity-access-management/application/account-recovery/organization-learner-account-recovery.route.js
  api/src/identity-access-management/application/routes.js
  api/src/identity-access-management/dependencies.json
  api/src/identity-access-management/domain/usecases/create-user.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/prescription/organization-learner/application/sco-organization-learner-controller.js
  api/src/prescription/organization-learner/application/sco-organization-learner-route.js
  api/src/prescription/organization-learner/domain/read-models/StudentInformationForAccountRecovery.js
  api/src/prescription/organization-learner/domain/services/sco-account-recovery.service.js
  api/src/prescription/organization-learner/domain/usecases/check-sco-account-recovery.usecase.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/src/prescription/organization-learner/domain/usecases/send-email-for-account-recovery.usecase.js
  api/src/prescription/organization-learner/infrastructure/serializers/jsonapi/student-information-for-account-recovery.serializer.js
  api/src/shared/domain/services/crypto-service.js
  api/tests/identity-access-management/acceptance/application/account-recovery/organization-learner-account-recovery.route.test.js
  api/tests/identity-access-management/unit/application/sco-organization-learner-controller_test.js
  api/tests/organizational-entities/unit/domain/read-models/AllowedCertificationCenterAccess_test.js
  api/tests/prescription/organization-learner/acceptance/application/sco-organization-learner-controller_test.js
  api/tests/prescription/organization-learner/acceptance/application/sco-organization-learner-route_test.js
  api/tests/prescription/organization-learner/integration/domain/usecases/check-sco-account-recovery.usecase.test.js
  api/tests/prescription/organization-learner/integration/domain/usecases/send-email-for-account-recovery.usecase.test.js
  api/tests/prescription/organization-learner/unit/application/sco-organization-learner-controller_test.js
  api/tests/prescription/organization-learner/unit/domain/services/sco-account-recovery.service.test.js
  api/tests/prescription/organization-learner/unit/infrastructure/serializers/jsonapi/student-information-for-account-recovery.serializer.test.js
Due: eslint --fix

fix(app+admin): fix field name in data validation in back and propose to delete relationships from front's PATCH request
  admin/app/serializers/combined-course-blueprint.js
  api/src/quest/application/combined-course-blueprint-route.js
Due: eslint --fix

test(api): update acceptance test with the correct field name
  api/tests/quest/acceptance/application/combined-course-blueprint-route_test.js
  api/tests/quest/unit/application/combined-course-blueprint-route_test.js
Due: eslint --fix

test(admin): update acceptance test with the added form fields
  admin/tests/acceptance/authenticated/combined-course-blueprints/update-combined-course-blueprint-test.js
Due: eslint --fix

fix(admin): fix requirements description translation on blueprint details page
  admin/app/components/combined-course-blueprints/details.gjs
Due: none

[BUGFIX] Réparer la création d'un schéma de parcours (PIX-23854) (#17123)
  admin/app/components/combined-course-blueprints/details.gjs
  admin/app/serializers/combined-course-blueprint.js
  admin/tests/acceptance/authenticated/combined-course-blueprints/update-combined-course-blueprint-test.js
  api/src/quest/application/combined-course-blueprint-route.js
  api/tests/quest/acceptance/application/combined-course-blueprint-route_test.js
  api/tests/quest/unit/application/combined-course-blueprint-route_test.js
Due: eslint --fix

fix(api): track tables inserted without a column list
  api/db/database-builder/database-helpers.js
  api/tests/tooling/unit/database-builder/database-helpers_test.js
Due: eslint --fix

test(api): empty the database before the test run
  api/db/database-builder/database-builder.js
  api/tests/test-helper.js
Due: eslint --fix

refactor(api): rename var isUnitTest to isDbReachable
  api/tests/test-helper.js
Due: eslint --fix

refactor(api): replace the import of learning-content's Challenge with a flat object in shared's challenge-repository
  api/src/evaluation/domain/usecases/get-campaign-parameters-for-simulator.js
  api/src/evaluation/infrastructure/repositories/challenge-to-play-repository.js
  api/src/evaluation/infrastructure/repositories/smart-random-challenge-repository.js
  api/src/learning-content/domain/models/Challenge.js
  api/src/shared/dependencies.json
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/tests/evaluation/unit/domain/usecases/get-campaign-parameters-for-simulator_test.js
  api/tests/learning-content/unit/domain/models/Challenge_test.js
  api/tests/shared/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/tooling/domain-builder/factory/learning-content/build-challenge.js
Due: eslint --fix

refactor(api): declare method isTimed in SmartRandomChallenge explicitly
  api/src/evaluation/domain/models/SmartRandomChallenge.js
Due: eslint --fix

refactor(api): freeze challenge when writing in cache deep freeze array data
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/src/shared/infrastructure/repositories/learning-content-repository.js
  api/tests/shared/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/learning-content-repository_test.js
Due: eslint --fix

[TECH] Remplacement du Challenge de learning-content utilisé dans shared par un objet plat remappé par le BC (#17068)
  api/src/evaluation/domain/models/SmartRandomChallenge.js
  api/src/evaluation/domain/usecases/get-campaign-parameters-for-simulator.js
  api/src/evaluation/infrastructure/repositories/challenge-to-play-repository.js
  api/src/evaluation/infrastructure/repositories/smart-random-challenge-repository.js
  api/src/learning-content/domain/models/Challenge.js
  api/src/shared/dependencies.json
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/src/shared/infrastructure/repositories/learning-content-repository.js
  api/tests/evaluation/unit/domain/usecases/get-campaign-parameters-for-simulator_test.js
  api/tests/learning-content/unit/domain/models/Challenge_test.js
  api/tests/shared/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/learning-content-repository_test.js
  api/tests/tooling/domain-builder/factory/learning-content/build-challenge.js
Due: eslint --fix

[TECH] S'assurer que la base est clean entre chaque tests (#17130)
  api/db/database-builder/database-builder.js
  api/db/database-builder/database-helpers.js
  api/tests/test-helper.js
  api/tests/tooling/unit/database-builder/database-helpers_test.js
Due: eslint --fix

refactor(api): remove useless sinon.restore() in tests
  api/tests/certification/configuration/unit/application/certification-version-route_test.js
  api/tests/certification/enrolment/unit/domain/services/sessions-import-validation-service_test.js
  api/tests/certification/enrolment/unit/domain/usecases/add-candidate-to-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/enrol-students-to-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/import-certification-candidates-from-candidates-import-sheet_test.js
  api/tests/certification/enrolment/unit/domain/usecases/register-candidate-participation_test.js
  api/tests/certification/enrolment/unit/domain/usecases/update-session_test.js
  api/tests/certification/evaluation/unit/application/certification-course-controller_test.js
  api/tests/certification/evaluation/unit/domain/usecases/start-or-resume-certification_test.js
  api/tests/certification/session-management/unit/application/certification-candidate-controller_test.js
  api/tests/certification/shared/integration/application/api/event-api_test.js
  api/tests/devcomp/unit/scripts/duplicate-module_test.js
  api/tests/scripts/integration/certification/duplicate-english-core-calibration-with-new-ids_test.js
Due: eslint --fix

feat : taille qcm image
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYMFA_NOV.json
Due: none

[TECH] Rassembler les pré-handlers du surveillant dans session-management (#17116)
  api/src/certification/session-management/application/certification-candidate-route.js
  api/src/certification/session-management/application/companion-alert-route.js
  api/src/certification/session-management/application/pre-handlers/authorization.js
  api/src/certification/session-management/application/session-for-supervising-route.js
  api/src/certification/session-management/application/session-live-alert-route.js
  api/src/certification/shared/application/pre-handlers/session-invigilator-authorization.js
  api/tests/certification/session-management/acceptance/application/companion-alert-route_test.js
  api/tests/certification/session-management/acceptance/application/session-live-alert-route_test.js
  api/tests/certification/session-management/integration/application/pre-handlers/authorization_test.js
  api/tests/certification/session-management/unit/application/certification-candidate-route_test.js
  api/tests/certification/session-management/unit/application/session-for-supervising-route_test.js
  api/tests/certification/shared/unit/application/pre-handlers/session-supervisor-authorization_test.js
Due: eslint --fix

[TECH] Nettoyage de quelques dépendances de certification (#17117)
  api/src/certification/configuration/domain/models/Calibration.js
  api/src/certification/configuration/domain/models/CalibrationReport.js
  api/src/certification/enrolment/infrastructure/repositories/index.js
  api/src/certification/enrolment/infrastructure/repositories/user-repository.js
  api/src/certification/evaluation/domain/usecases/start-or-resume-certification.js
  api/src/certification/shared/domain/models/CertificationCourse.js
  api/src/certification/shared/domain/models/ComplementaryCertificationCourse.js
  api/src/certification/shared/domain/models/Scopes.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/user-repository_test.js
Due: eslint --fix

feat : isCompletionRequired
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYMFA_NOV.json
Due: none
