Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat(mon-pix): fix qroc challenge phrase label
  mon-pix/app/components/challenge-item/challenge-item-qroc.hbs
Due: none

fix(mon-pix): fix empty not displayed QROC labels
  mon-pix/app/components/challenge-item/challenge-item-qroc.hbs
  mon-pix/app/components/challenge-item/challenge-item-qroc.js
Due: eslint --fix

fix(mon-pix): display input label on block
  mon-pix/app/components/qrocm-proposal-ind.hbs
  mon-pix/app/components/qrocm-proposal-ind.js
Due: eslint --fix

suggestion a11y
  mon-pix/app/components/challenge-item/challenge-item-qroc.hbs
  mon-pix/app/components/challenge-item/challenge-item-qrocm.hbs
  mon-pix/app/components/challenge/item.hbs
  mon-pix/app/components/challenge/item.js
  mon-pix/app/components/proposals/qrocm-proposal.hbs
  mon-pix/app/components/qrocm-proposal-ind.hbs
  mon-pix/app/components/qrocm-proposal-ind.js
  mon-pix/app/styles/components/_challenge-item.scss
  mon-pix/app/styles/components/_qrocm-proposals.scss
  mon-pix/app/utils/proposals-as-blocks.js
Due: eslint --fix, stylelint --fix

feat(mon-pix): fix challenge item qrocm test
  mon-pix/tests/acceptance/challenge-item-qrocm_test.js
Due: eslint --fix

feat(mon-pix): fix qrocm proposal test
  mon-pix/tests/integration/components/proposals/qrocm-proposal_test.js
Due: eslint --fix

feat(orga) add learnerImport feature to prescriber featureList
  orga/app/models/prescriber.js
  orga/tests/unit/models/prescriber_test.js
Due: eslint --fix

feat(orga): add adapter for learner import with format
  orga/app/adapters/students-import.js
  orga/tests/unit/adapters/students-import_test.js
Due: eslint --fix

feat(orga): add importLearners action in controller
  orga/app/controllers/authenticated/import-organization-participants.js
  orga/tests/unit/controllers/authenticated/import-organization-participants_test.js
Due: eslint --fix

feat(orga): add hasImportLearnerFeature to current-user
  orga/app/services/current-user.js
  orga/tests/unit/services/current-user_test.js
Due: eslint --fix

feat(api): limit route access to admin with import feature
  api/src/prescription/learner-management/application/organization-import-route.js
  api/tests/prescription/learner-management/acceptance/application/organization-import-route_test.js
  api/tests/prescription/learner-management/unit/application/organization-import-route_test.js
Due: eslint --fix

feat(api): add validateAll security-pre-handler
  api/src/shared/application/security-pre-handlers.js
  api/tests/unit/application/security-pre-handlers_test.js
Due: eslint --fix

feat(orga): call import learners api from import card
  orga/app/components/import.hbs
  orga/app/components/import.js
  orga/app/templates/authenticated/import-organization-participants.hbs
  orga/tests/integration/components/import_test.js
  orga/tests/unit/components/import_test.js
Due: eslint --fix

refactor(api): rename req param id to organizationId
  api/src/prescription/learner-management/application/organization-import-controller.js
  api/src/prescription/learner-management/application/organization-import-route.js
  api/src/shared/application/security-pre-handlers.js
  api/tests/acceptance/application/security-pre-handlers_test.js
  api/tests/prescription/learner-management/unit/application/organization-import-controller_test.js
Due: eslint --fix

refactor(mon-pix): update QROC select
  mon-pix/app/components/challenge-item/challenge-item-qroc.hbs
Due: none

feat(api): add OidcProvider model
  api/src/authentication/domain/models/OidcProvider.js
  api/tests/authentication/unit/domain/models/OidcProvider.test.js
Due: eslint --fix

feat(api): load OIDC Providers from database
  api/lib/application/authentication/oidc/oidc-controller.js
  api/lib/domain/services/authentication/oidc-authentication-service-registry.js
  api/lib/domain/usecases/get-all-identity-providers.js
  api/lib/domain/usecases/get-ready-identity-providers.js
  api/tests/tooling/server/hapi-server-with-test-oidc-provider.js
  api/tests/unit/domain/services/authentication/oidc-authentication-service-registry_test.js
  api/tests/unit/domain/usecases/get-all-identity-providers_test.js
  api/tests/unit/domain/usecases/get-ready-identity-providers_test.js
Due: eslint --fix

test(api): fix test name after renaming
  api/tests/unit/domain/services/authentication/oidc-authentication-service-registry_test.js
Due: eslint --fix

feat(api): add findAllOidcProviders to OidcProvider repository
  api/src/authentication/domain/usecases/index.js
  api/src/authentication/infrastructure/repositories/oidc-provider-repository.js
  api/tests/authentication/integration/infrastructure/repositories/oidc-provider-repository_test.js
Due: eslint --fix

feat(api): modify oidc authentication services
  api/lib/domain/services/authentication/cnav-oidc-authentication-service.js
  api/lib/domain/services/authentication/fwb-oidc-authentication-service.js
  api/lib/domain/services/authentication/google-oidc-authentication-service.js
  api/lib/domain/services/authentication/paysdelaloire-oidc-authentication-service.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
  api/src/authentication/domain/services/oidc-authentication-service.js
  api/src/authentication/domain/services/pro-sante-connect-oidc-authentication.service.js
  api/src/shared/config.js
  api/tests/authentication/unit/domain/services/oidc-authentication-service_test.js
  api/tests/integration/domain/services/authentication/GoogleOidcAuthenticationService_test.js
  api/tests/integration/domain/services/authentication/fwb-oidc-authentication-service_test.js
  api/tests/integration/domain/services/authentication/pole-emploi-oidc-authentication-service_test.js
  api/tests/unit/domain/services/authentication/fwb-oidc-authentication-service.test.js
  api/tests/unit/domain/services/authentication/pole-emploi-oidc-authentication-service_test.js
Due: eslint --fix

test(api): remove now useless test
  api/tests/integration/domain/services/authentication/GoogleOidcAuthenticationService_test.js
Due: eslint --fix

feat(api): replace customProperties
  api/OIDC_PROVIDERS.example.json
  api/db/database-builder/factory/build-oidc-provider.js
  api/lib/domain/services/authentication/fwb-oidc-authentication-service.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
  api/src/authentication/domain/models/OidcProvider.js
  api/src/authentication/domain/services/oidc-authentication-service.js
  api/tests/authentication/unit/domain/services/oidc-authentication-service_test.js
  api/tests/integration/domain/services/authentication/fwb-oidc-authentication-service_test.js
  api/tests/integration/domain/services/authentication/pole-emploi-oidc-authentication-service_test.js
  api/tests/unit/domain/services/authentication/fwb-oidc-authentication-service.test.js
  api/tests/unit/domain/services/authentication/pole-emploi-oidc-authentication-service_test.js
Due: eslint --fix

feat(api): change default session duration
  api/scripts/team-acces/load-oidc-providers-from-env-variables.js
Due: eslint --fix

feat(api): additionalRequiredProperties validation
  api/lib/domain/services/authentication/fwb-oidc-authentication-service.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
  api/src/authentication/domain/services/oidc-authentication-service.js
  api/tests/unit/domain/services/authentication/fwb-oidc-authentication-service.test.js
  api/tests/unit/domain/services/authentication/pole-emploi-oidc-authentication-service_test.js
Due: eslint --fix

feat(api): add components data to didacticiel
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module.js
Due: eslint --fix

feat(api-1d): handle mission progress through steps
  api/src/school/domain/models/Activity.js
  api/src/school/domain/models/Mission.js
  api/src/school/domain/services/challenge.js
  api/src/school/domain/services/get-next-activity-info.js
  api/src/school/domain/services/init-mission-activity.js
  api/src/school/infrastructure/repositories/activity-repository.js
  api/tests/school/acceptance/application/assessments/activity-answer-controller_test.js
  api/tests/school/integration/domain/services/init-mission-activity_test.js
  api/tests/school/unit/domain/models/Activity_test.js
  api/tests/school/unit/domain/services/get-next-activity-info_test.js
  api/tests/tooling/domain-builder/factory/build-activity.js
Due: eslint --fix

feat(1d): add robot logo as svg
  1d/app/pods/assessment/results/template.hbs
  1d/app/pods/components/bubble/bubble.scss
  1d/app/pods/components/challenge/component.js
  1d/app/pods/components/issue/issue.scss
  1d/app/pods/components/robot-dialog/integration_test.js
  1d/app/pods/components/robot-dialog/robot-dialog.scss
  1d/app/pods/components/robot-dialog/template.hbs
  1d/app/styles/app.scss
  1d/public/images/robot/dialog-robot-default.svg
  1d/public/images/robot/dialog-robot-happy.svg
  1d/public/images/robot/dialog-robot-hint.svg
  1d/public/images/robot/dialog-robot-proud.svg
  1d/public/images/robot/dialog-robot-retry.svg
  1d/public/images/robot/dialog-robot-sad.svg
  1d/public/images/robot/robot.svg
  1d/public/images/robot/sad-robot.svg
  1d/public/images/robot/very-happy-robot.svg
Due: eslint --fix, stylelint --fix

style(1d): use new robot in organization code page
  1d/public/images/background-blob-with-robot.svg
Due: none

style(1d): use enhanced robot with emotions
  1d/app/pods/assessment/results/template.hbs
  1d/app/pods/components/challenge/component.js
  1d/app/pods/components/challenge/template.hbs
  1d/app/pods/components/robot-dialog/integration_test.js
  1d/app/pods/components/robot-dialog/robot-dialog.scss
  1d/app/pods/components/robot-dialog/template.hbs
  1d/app/pods/identified/missions/mission/mission.scss
  1d/public/images/happy-robot.svg
  1d/public/images/robot.svg
  1d/public/images/robot/robot.svg
  1d/public/images/robot/sad-robot.svg
  1d/public/images/robot/very-happy-robot.svg
  1d/public/images/sad-robot.svg
Due: eslint --fix, stylelint --fix

fix(mon-pix): passage takes all space available
  mon-pix/app/styles/pages/_module-preview.scss
Due: stylelint --fix

fix(mon-pix): center grain type tag
  mon-pix/app/pods/components/module/grain/tag/component.js
  mon-pix/app/pods/components/module/grain/tag/styles.scss
  mon-pix/app/pods/components/module/grain/tag/template.hbs
  mon-pix/app/pods/module/get/styles.scss
Due: eslint --fix, stylelint --fix

feat: add team acces code owner
  .github/CODEOWNERS
Due: none

feat(orga): add spacing bottom and improve wording on import error bloc title
  orga/app/styles/components/import.scss
  orga/translations/en.json
  orga/translations/fr.json
Due: stylelint --fix

tech(orga): redirect-before-reload
  orga/app/components/layout/user-logged-menu.js
  orga/tests/integration/components/layout/user-logged-menu_test.js
Due: eslint --fix

:sparkles: admin: add adapter
  admin/app/adapters/scoring-and-capacity-simulator-report.js
  admin/tests/unit/adapters/scoring-and-capacity-simulator-report_test.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.139.0.
  1d/package-lock.json
  1d/package.json
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

:sparkles: admin: add scoring simulator form
  admin/app/controllers/authenticated/certifications/scoring-simulation.js
  admin/app/router.js
  admin/app/styles/app.scss
  admin/app/styles/components/certification/scoring-simulation.scss
  admin/app/templates/authenticated/certifications/scoring-simulation.hbs
  admin/mirage/config.js
  admin/tests/acceptance/authenticated/certifications/scoring-simulation_test.js
  admin/tests/unit/controllers/authenticated/certifications/certification/scoring-simulation_test.js
Due: eslint --fix, stylelint --fix

:lipstick: admin: fix linter
  admin/app/styles/components/certification/scoring-simulation.scss
Due: stylelint --fix

:sparkles: admin: add intl on scoring simulation page
  admin/app/controllers/authenticated/certifications/scoring-simulation.js
  admin/app/templates/authenticated/certifications/scoring-simulation.hbs
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

:sparkles: admin: add model for simulation report
  admin/app/models/scoring-and-capacity-simulator-report.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
