Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

fix(mon-pix): switch activities direction and instruction to clarify
  mon-pix/app/pods/components/module/qcm/styles.scss
  mon-pix/app/pods/components/module/qcm/template.hbs
  mon-pix/app/pods/components/module/qcu/styles.scss
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/app/pods/components/module/qrocm/styles.scss
  mon-pix/app/pods/components/module/qrocm/template.hbs
Due: stylelint --fix

fix(mon-pix): remove 'grain' outline when focused-within
  mon-pix/app/pods/components/module/grain/style.scss
  mon-pix/app/pods/components/module/grain/template.hbs
Due: stylelint --fix

fix(mon-pix): qrocm direction pluralization
  mon-pix/app/pods/components/module/qrocm/component.js
  mon-pix/tests/integration/components/module/qrocm_test.js
Due: eslint --fix

fix(mon-pix): add screen reader alternative for ≈ character
  mon-pix/app/pods/components/module/details/template.hbs
  mon-pix/tests/integration/components/module/details_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: eslint --fix

docs(api): correct notes in 'check reconciliation' and 'reconcile' routes
  api/lib/application/authentication/oidc/index.js
Due: eslint --fix

feat(api): Update smart random simulator validation
  api/src/evaluation/application/smart-random-simulator/index.js
  api/tests/evaluation/acceptance/application/smart-random-simulator/smart-random-simulator-controller_test.js
  api/tests/evaluation/unit/application/smart-random-simulator/index_test.js
Due: eslint --fix

feat(admin): add joi package
  admin/package-lock.json
  admin/package.json
Due: none

test(admin): test get next challenge controller
  admin/tests/unit/controllers/authenticated/smart-random-simulator/get-next-challenge-test.js
Due: eslint --fix

feat(admin): create smart random simulator interface
  admin/app/components/smart-random-simulator/current-challenge.hbs
  admin/app/components/smart-random-simulator/current-challenge.js
  admin/app/components/smart-random-simulator/previous-challenges.hbs
  admin/app/components/smart-random-simulator/previous-challenges.js
  admin/app/components/smart-random-simulator/reset.hbs
  admin/app/components/smart-random-simulator/smart-random-params.hbs
  admin/app/components/smart-random-simulator/smart-random-params.js
  admin/app/components/smart-random-simulator/start.hbs
  admin/app/controllers/authenticated/smart-random-simulator/get-next-challenge.js
  admin/app/router.js
  admin/app/routes/authenticated/smart-random-simulator/get-next-challenge.js
  admin/app/routes/authenticated/smart-random-simulator/index.js
  admin/app/styles/app.scss
  admin/app/styles/authenticated/smart-random-simulator/get-next-challenge.scss
  admin/app/templates/authenticated/smart-random-simulator/get-next-challenge.hbs
Due: eslint --fix, stylelint --fix

mob next [ci-skip] [ci skip] [skip ci]
  1d/app/pods/components/challenge/template.hbs
  1d/app/pods/components/robot-dialog/robot-dialog.scss
  1d/app/pods/components/robot-dialog/template.hbs
  1d/public/images/robot/robot-default.svg
  1d/public/images/robot/robot-error.svg
  1d/public/images/robot/robot-success.svg
Due: stylelint --fix

delete html in non-html label
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
Due: none

mob next [ci-skip] [ci skip] [skip ci]
  1d/app/pods/components/bubble/bubble.scss
  1d/app/pods/components/bubble/template.hbs
  1d/app/pods/components/challenge/template.hbs
  1d/app/pods/components/robot-dialog/template.hbs
Due: stylelint --fix

Update pix1d-recherche-di1.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/pix1d-recherche-di1.json
Due: none

mise à jour DnD
  api/src/devcomp/infrastructure/datasources/learning-content/modules/pix1d-recherche-di1.json
Due: none

feat(api): create table oidc-providers
  api/db/migrations/20240319110619_create-table-oidc-providers.js
Due: eslint --fix

refactor(api): rename getByOrganizationId to getLastByOrganizationId
  api/src/prescription/learner-management/domain/usecases/get-organization-import-status.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-csv-format.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-xml-format.js
  api/src/prescription/learner-management/domain/usecases/import-sup-organization-learners.js
  api/src/prescription/learner-management/domain/usecases/replace-sup-organization-learner.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-import-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-import-repository_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/get-organization-import-status_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-csv-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-xml-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-sup-organization-learners_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/replace-sup-organization-learners_test.js
Due: eslint --fix

feat(api): add get organization import route
  api/src/prescription/learner-management/application/organization-import-controller.js
  api/src/prescription/learner-management/application/organization-import-route.js
  api/src/prescription/learner-management/domain/usecases/get-organization-import-status.js
  api/src/prescription/learner-management/infrastructure/serializers/jsonapi/organization-import-serializer.js
  api/src/prescription/learner-management/routes.js
  api/tests/prescription/learner-management/acceptance/application/organization-import-route_test.js
  api/tests/prescription/learner-management/unit/application/organization-import-controller_test.js
  api/tests/prescription/learner-management/unit/application/organization-import-route_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/get-organization-import-status_test.js
  api/tests/prescription/learner-management/unit/infrastructure/serializers/jsonapi/organization-import-serializer_test.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.118.0.
  1d/package-lock.json
  1d/package.json
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

refactor(api): change administrationCampaignRepository update method to take a Campaign model
  api/src/prescription/campaign/domain/usecases/update-campaign-code.js
  api/src/prescription/campaign/domain/usecases/update-campaign-details.js
  api/src/prescription/campaign/domain/usecases/update-campaign.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-administration-repository.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-administration-repository_test.js
  api/tests/prescription/campaign/unit/domain/usecases/update-campaign-code_test.js
  api/tests/prescription/campaign/unit/domain/usecases/update-campaign-details_test.js
  api/tests/prescription/campaign/unit/domain/usecases/update-campaign_test.js
Due: eslint --fix

refactor(api): move code validation to campaign model
  api/src/prescription/campaign/domain/models/Campaign.js
  api/src/prescription/campaign/domain/usecases/update-campaign-code.js
  api/src/shared/domain/services/code-generator.js
  api/tests/prescription/campaign/unit/domain/models/Campaign_test.js
  api/tests/prescription/campaign/unit/domain/usecases/update-campaign-code_test.js
  api/tests/unit/domain/services/code-generator_test.js
Due: eslint --fix

✨ api: v3 rescoring lack of answers for technical reason auto jury comment
  api/lib/domain/events/handle-certification-rescoring.js
  api/src/certification/scoring/domain/models/factories/AssessmentResultFactory.js
  api/src/certification/shared/domain/models/JuryComment.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/translations/en.json
  api/translations/fr.json
Due: eslint --fix

✨ api: v3 scoring lack of answers for technical reason auto jury comment
  api/lib/domain/events/handle-certification-scoring.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
Due: eslint --fix
