Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat(api): update module video aspect radio
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
Due: none

feat(api): put all activities in one stepper
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
Due: none

feat(mon-pix): remove module passage page heading
  mon-pix/app/components/module/passage.gjs
Due: none

feat(mon-pix): add transition grain type
  mon-pix/app/components/module/grain/_grain.scss
  mon-pix/app/components/module/grain/grain.gjs
Due: stylelint --fix

feat(mon-pix): add animation when grain appears
  mon-pix/app/components/module/grain/_grain.scss
Due: stylelint --fix

fix(api): Paris 11th should have the right postal code
  api/scripts/certification/fix-paris-11-postal-code.js
Due: eslint --fix

feat(api): change script to fix knowledge-element-snapshot with empty snapshot
  api/scripts/prod/generate-knowledge-element-snapshots-for-campaigns.js
  api/tests/integration/scripts/prod/generate-knowledge-element-snapshots-for-campaigns_test.js
Due: eslint --fix

feat(api): removed yargs deprecated methods
  api/scripts/prod/clean-ke-snapshots.js
  api/scripts/prod/generate-knowledge-element-snapshots-for-campaigns.js
Due: eslint --fix

tech(mon-pix): disable serializer autodiscovery to prepare migration to ember-mirage
  mon-pix/mirage/config.js
Due: eslint --fix

Update antivirus.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/antivirus.json
Due: none

Create antivirus.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/antivirus.json
Due: none

Rename antivirus.json to comment-l-antivirus-protege-votre-machine.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/comment-l-antivirus-protege-votre-machine.json
Due: none

Update comment-l-antivirus-protege-votre-machine.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/comment-l-antivirus-protege-votre-machine.json
Due: none

tech(mon-pix): load explicitly factories, serializers and models to prepare migration to ember-mirage
  mon-pix/mirage/config.js
  mon-pix/mirage/factories.js
  mon-pix/mirage/models.js
  mon-pix/mirage/serializers.js
Due: eslint --fix

beer(api): review adresse-ip-publique-et-vous
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

feat(mon-pix): add vrai-faux design to qcu
  mon-pix/app/components/module/element/_qcu.scss
  mon-pix/app/components/module/element/qcu.gjs
Due: stylelint --fix

feat(mon-pix): enlarge your width
  mon-pix/app/components/module/element/_image.scss
  mon-pix/app/styles/pages/_module.scss
Due: stylelint --fix

feat(mon-pix): play with tags & cards
  mon-pix/app/components/module/grain/_grain.scss
  mon-pix/app/components/module/grain/_tag.scss
  mon-pix/app/components/module/grain/grain.gjs
Due: stylelint --fix

feat(mon-pix): downgrade retry button affordance
  mon-pix/app/components/module/element/qcm.gjs
  mon-pix/app/components/module/element/qcu.gjs
  mon-pix/app/components/module/element/qrocm.gjs
Due: none

feat(mon-pix): review navbar
  mon-pix/app/components/module/layout/_navbar.scss
  mon-pix/app/components/module/layout/navbar.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: stylelint --fix

WIP avec Stream (mais version while pas push)
  certif/app/routes/session-supervising.js
  certif/app/services/server-sent-event.js
Due: eslint --fix

cleanup + TODO for next tech times
  certif/app/routes/session-supervising.js
  certif/app/services/server-sent-event.js
Due: eslint --fix

WIP: un bon debut !
  api/src/certification/session-management/application/session-for-supervising-controller.js
  api/src/certification/session-management/application/session-for-supervising-route.js
  certif/app/routes/session-supervising.js
  certif/app/services/server-sent-event.js
Due: eslint --fix

on a des problemes avec la partie authentification
  api/src/certification/session-management/application/session-for-supervising-route.js
  certif/app/services/server-sent-event.js
Due: eslint --fix

Okay ca marche
  certif/app/routes/session-supervising.js
  certif/app/services/server-sent-event.js
Due: eslint --fix

fetch + stream + non blockng
  api/src/certification/session-management/application/session-for-supervising-controller.js
  certif/app/routes/session-supervising.js
  certif/app/services/server-sent-event.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
