Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

test(api): factor out oidcAuthenticationServiceRegistryStub
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
Due: eslint --fix

chore(certif): fix ember-data/model version
  certif/package-lock.json
  certif/package.json
Due: none

feat(api): publish event after validation
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/tests/prescription/learner-management/acceptance/application/organization-controller-import-sco-organization-learners_test.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
Due: eslint --fix

feat(api): add ScheduleImportOrganizationLearnersJob to EventBusBuilder
  api/lib/infrastructure/events/EventBusBuilder.js
Due: eslint --fix

refactor(api): make worker unit testable
  api/tests/unit/worker_test.js
  api/worker.js
Due: eslint --fix

test?(api): rename a parser test case
  api/tests/prescription/learner-management/integration/infrastructure/serializers/xml/siecle-parser_test.js
  api/tests/tooling/fixtures/siecle-file/siecle-with-only-ignored-student.xml
Due: eslint --fix

feat(api): use transaction to validate file and create job
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-import-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-import-repository_test.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
Due: eslint --fix

feat(api): create import organization learners job with custom config
  api/src/prescription/learner-management/infrastructure/jobs/ImportOrganizationLearnersJob.js
  api/src/shared/config.js
  api/worker.js
Due: eslint --fix

feat(api): return file validated event in siecle validation usecase
  api/src/prescription/learner-management/domain/usecases/validate-siecle-xml-file.js
  api/tests/prescription/learner-management/unit/domain/usecases/validate-siecle-xml-file_test.js
Due: eslint --fix

feat(api): create subscriber for import organization learners
  api/src/prescription/learner-management/infrastructure/events/subscribers/ScheduleImportOrganizationLearnersJob.js
  api/tests/prescription/learner-management/unit/infrastructure/events/subscribers/ScheduleImportOrganizationLearnersJob_test.js
Due: eslint --fix

feat(api): create file validated event
  api/src/prescription/learner-management/domain/events/FileValidated.js
Due: eslint --fix

refactor(api): use organizationImportId in usecase
  api/src/prescription/learner-management/domain/usecases/add-or-update-organization-learners.js
  api/src/prescription/learner-management/infrastructure/jobs/ImportOrganizationLearnersJobHandler.js
  api/tests/prescription/learner-management/unit/domain/usecases/add-or-update-organization-learners_test.js
  api/tests/prescription/learner-management/unit/infrastructure/jobs/ImportOrganizationLearnersJobHandler_test.js
  api/worker.js
Due: eslint --fix

feat(api): associate job and handler in pgboss worker
  api/worker.js
Due: eslint --fix

feat(api): add previously created job in dependencies builder
  api/lib/infrastructure/events/EventHandlerDependenciesBuilder.js
Due: eslint --fix

feat(api): create handler for import siecle
  api/src/prescription/learner-management/infrastructure/jobs/ImportOrganizationLearnersJobHandler.js
  api/tests/prescription/learner-management/unit/infrastructure/jobs/ImportOrganizationLearnersJobHandler_test.js
Due: eslint --fix

feat(api): add video subtitles transcript
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

fix(api): update transition texte
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

test(api): test return details for smart random simulator
  api/tests/evaluation/acceptance/application/smart-random-simulator/smart-random-simulator-controller_test.js
  api/tests/evaluation/integration/domain/usecases/get-next-challenge-for-simulator_test.js
  api/tests/evaluation/unit/domain/usecases/get-next-challenge-for-simulator_test.js
  api/tests/unit/domain/services/smart-random/skills-filter_test.js
  api/tests/unit/domain/services/smart-random/smart-random_test.js
Due: eslint --fix

refactor(api): declare cat levels as a constant
  api/lib/domain/services/algorithm-methods/cat-algorithm.js
Due: eslint --fix

feat(api): return smart random details for simulator route
  api/lib/domain/services/algorithm-methods/skills-filter.js
  api/lib/domain/services/algorithm-methods/smart-random.js
  api/src/evaluation/domain/usecases/get-next-challenge-for-simulator.js
Due: eslint --fix

feature(api): declare smart random details models
  api/src/evaluation/domain/models/SmartRandomDetails.js
  api/src/evaluation/domain/models/SmartRandomStep.js
Due: eslint --fix

feat(admin): update route handling
  admin/app/controllers/authenticated/smart-random-simulator/get-next-challenge.js
  admin/tests/unit/controllers/authenticated/smart-random-simulator/get-next-challenge-test.js
Due: eslint --fix

doc: update adr numbers
  docs/adr/0036-formater-le-code.md
  docs/adr/0038-ordonnancer-les-propriétés-css.md
  docs/adr/0040-locales-languages.md
  docs/adr/0041-stockage-de-l-access-token-cote-client.md
  docs/adr/0052-compatibilite-navigateurs.md
  docs/adr/0053-utilisation-de-workspaces.md
Due: none

fix(api): update intro text
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
Due: none

Update grain status
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
Due: none

fix(api): update grain status
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

fix(api): update grain intro status : from lesson to activity
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Due: none

feat(api): add example yahoo.fr
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
Due: none

fix(api): update content transition text
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
Due: none

fix(api): update status
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
Due: none

fix(api): update status grain 1
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
Due: none

fix(api): changement parodique <-- contestable
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

fix(api): màj consigne d'étude
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

fix(api): update photo usb wired mouse
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
Due: none

fix(api): clarification consigne
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
Due: none

feat(api): ajout texte intro pour expliciter vocabulaire
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
Due: none

feat(api): changing order of questions
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Due: none

refactor(api): migrate tutorialEvaluation from lib to src
  api/lib/domain/models/index.js
  api/lib/infrastructure/repositories/index.js
  api/lib/infrastructure/serializers/jsonapi/correction-serializer.js
  api/lib/routes.js
  api/src/devcomp/application/tutorial-evaluations/index.js
  api/src/devcomp/application/tutorial-evaluations/tutorial-evaluations-controller.js
  api/src/devcomp/domain/models/TutorialEvaluation.js
  api/src/devcomp/domain/usecases/add-tutorial-evaluation.js
  api/src/devcomp/infrastructure/datasources/learning-content/tutorial-datasource.js
  api/src/devcomp/infrastructure/repositories/index.js
  api/src/devcomp/infrastructure/repositories/tutorial-evaluation-repository.js
  api/src/devcomp/infrastructure/repositories/tutorial-repository.js
  api/src/devcomp/infrastructure/serializers/jsonapi/tutorial-attributes.js
  api/src/devcomp/infrastructure/serializers/jsonapi/tutorial-evaluation-attributes.js
  api/src/devcomp/infrastructure/serializers/jsonapi/tutorial-evaluation-serializer.js
  api/src/devcomp/infrastructure/serializers/jsonapi/tutorial-serializer.js
  api/src/devcomp/infrastructure/serializers/jsonapi/user-saved-tutorial-attributes.js
  api/src/devcomp/infrastructure/serializers/jsonapi/user-saved-tutorial-serializer.js
  api/src/devcomp/routes.js
  api/src/prescription/campaign-participation/infrastructure/serializers/jsonapi/campaign-analysis-serializer.js
  api/src/shared/infrastructure/datasources/learning-content/index.js
  api/tests/devcomp/acceptance/application/tutorial-evaulations/tutorial-evaluations-controller_test.js
  api/tests/devcomp/integration/infrastructure/repositories/tutorial-evaluation-repository_test.js
  api/tests/devcomp/unit/application/tutorial-evaluations/index_test.js
  api/tests/devcomp/unit/application/tutorial-evaluations/tutorial-evaluations-controller_test.js
  api/tests/devcomp/unit/domain/read-models/TrainingForAdmin_test.js
  api/tests/devcomp/unit/domain/usecases/add-tutorial-evaluation_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/tutorial-datasource_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/training-summary-serializer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/tutorial-serializer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/user-saved-tutorial-serializer_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/correction-serializer_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/tutorial-evaluation-serializer_test.js
Due: eslint --fix

✨ certif: use Pix Message for completed certifications
  certif/app/components/session-finalization/completed-reports-information-step.hbs
  certif/app/styles/components/session-finalization/reports-information-step.scss
Due: stylelint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
