Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

feat(certif): extract table header into a component
  certif/app/components/table/header.hbs
  certif/app/components/team/invitations-list.hbs
Due: none

refactor(api): add more context
  api/tests/acceptance/application/certification-center-invitations/index_test.js
Due: eslint --fix

feat(certif): pass cancel invitation button clicked event to parent component
  certif/app/components/team/invitations-list.hbs
  certif/tests/integration/components/team/invitations-list_test.js
Due: eslint --fix

refactor(api): extract admin routes
  api/lib/application/certification-center-invitations/index.js
Due: eslint --fix

feat(api): add usecase for security prehandler
  api/lib/application/usecases/check-user-is-admin-of-certification-center-with-certification-center-invitation-id.js
  api/tests/unit/application/usecases/check-user-is-admin-of-certification-center-with-certification-center-invitation-id_test.js
Due: eslint --fix

feat(api): add new security prehandler
  api/lib/application/security-pre-handlers.js
  api/tests/unit/application/security-pre-handlers_test.js
Due: eslint --fix

feat(certif): add Actions table header column
  certif/app/components/team/invitations-list.hbs
  certif/tests/integration/components/team/invitations-list_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

feat(certif): display an error notification
  certif/app/controllers/authenticated/team/list/invitations.js
  certif/tests/acceptance/team/list/invitations_test.js
  certif/tests/unit/controllers/authenticated/team/list/invitations_test.js
Due: eslint --fix

feat(certif): display a success notification
  certif/app/controllers/authenticated/team/list/invitations.js
  certif/tests/acceptance/team/list/invitations_test.js
  certif/tests/unit/controllers/authenticated/team/list/invitations_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

feat(api): add new route
  api/lib/application/certification-center-invitations/index.js
  api/tests/acceptance/application/certification-center-invitations/index_test.js
Due: eslint --fix

feat(certif): add cancel invitation button
  certif/app/components/team/invitations-list-item.hbs
  certif/app/styles/app.scss
  certif/app/styles/components/team/invitations-list-item.scss
  certif/tests/integration/components/team/invitations-list-item_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix, stylelint --fix

feat(certif): handle cancel invitation action
  certif/app/controllers/authenticated/team/list/invitations.js
  certif/app/templates/authenticated/team/list/invitations.hbs
  certif/mirage/config.js
  certif/tests/acceptance/team/list/invitations_test.js
  certif/tests/unit/controllers/authenticated/team/list/invitations_test.js
Due: eslint --fix

refactor(admin): use key translation in notification message
  admin/app/controllers/authenticated/users/get/certification-center-memberships.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

refactor(admin): rename files & move role membership items into new component & move method into controller
  admin/app/components/users/certification-center-memberships.hbs
  admin/app/components/users/certification-centers/membership-item-actions.hbs
  admin/app/components/users/certification-centers/membership-item.hbs
  admin/app/components/users/certification-centers/memberships.hbs
  admin/app/components/users/certification-centers/memberships.js
  admin/app/controllers/authenticated/users/get/certification-center-memberships.js
  admin/app/templates/authenticated/users/get/certification-center-memberships.hbs
  admin/tests/acceptance/authenticated/users/get/certification-center-memberships_test.js
  admin/tests/integration/components/users/certification-centers/membership-item_test.js
  admin/tests/integration/components/users/certification-centers/memberships_test.js
  admin/tests/unit/components/users/certification-centers/memberships_test.js
  admin/tests/unit/controllers/authenticated/users/get/certification-center-memberships_test.js
Due: eslint --fix

a11y(admin): add missing aria-labels
  admin/app/components/users/certification-centers/membership-item-actions.hbs
  admin/tests/acceptance/authenticated/users/get/certification-center-memberships_test.js
  admin/tests/integration/components/users/certification-centers/membership-item-actions_test.js
  admin/tests/integration/components/users/certification-centers/membership-item_test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

refactor(admin): use appropriate style class & key translation
  admin/app/components/users/certification-centers/membership-item-actions.hbs
  admin/app/components/users/certification-centers/membership-item-role.hbs
  admin/app/components/users/certification-centers/memberships.hbs
  admin/app/styles/app.scss
  admin/app/styles/components/users/membership-item.scss
  admin/translations/en.json
  admin/translations/fr.json
Due: stylelint --fix

feat(admin): add certification centers role managing on user page
  admin/app/components/users/certification-centers/membership-item-actions.hbs
  admin/app/components/users/certification-centers/membership-item-role.hbs
  admin/app/components/users/certification-centers/membership-item.hbs
  admin/app/components/users/certification-centers/membership-item.js
  admin/app/components/users/certification-centers/memberships.hbs
  admin/app/controllers/authenticated/users/get/certification-center-memberships.js
  admin/app/templates/authenticated/users/get/certification-center-memberships.hbs
  admin/tests/acceptance/authenticated/users/get/certification-center-memberships_test.js
  admin/tests/integration/components/users/certification-center-memberships_test.js
  admin/tests/integration/components/users/certification-centers/membership-item-actions_test.js
  admin/tests/integration/components/users/certification-centers/membership-item-role_test.js
  admin/tests/integration/components/users/certification-centers/membership-item_test.js
  admin/tests/integration/components/users/certification-centers/memberships_test.js
  admin/tests/unit/components/users/certification-center-memberships_test.js
  admin/tests/unit/controllers/authenticated/users/get/certification-center-memberships_test.js
Due: eslint --fix

Updated translations from Phrase
  mon-pix/translations/nl.json
Due: none

tech(api): add autonomous-courses table deletion migration script
  api/db/migrations/20231201142713_remove-autonomous-courses-table.js
Due: eslint --fix

tech(api): remove useless autonomous-courses table reset in integration tests
  api/tests/evaluation/integration/domain/usecases/save-autonomous-course_test.js
  api/tests/evaluation/integration/infrastructure/repositories/autonomous-course-repository_test.js
Due: eslint --fix

Fix nl translation
  mon-pix/translations/nl.json
Due: none
