Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

feat(mon-pix): display user's avatar
  mon-pix/app/models/user.js
  mon-pix/app/styles/pages/_personal-information.scss
  mon-pix/app/templates/authenticated/user-account/personal-information.gjs
Due: eslint --fix, stylelint --fix

feat(api): add avatarUrl in User model
  api/src/identity-access-management/domain/models/User.js
Due: eslint --fix

feat(api): add a user with an avatar url
  api/db/database-builder/factory/build-user.js
  api/db/seeds/data/team-acces/build-users.js
Due: eslint --fix

feat(api): allow null avatar in user creation route
  api/src/identity-access-management/application/user/user.route.js
Due: eslint --fix

feat(mon-pix): display avatar item only if avatar url exists
  mon-pix/app/templates/authenticated/user-account/personal-information.gjs
Due: none

feat(api): add avatarUrl in serializer
  api/src/identity-access-management/infrastructure/serializers/jsonapi/user-with-activity.serializer.js
Due: eslint --fix

feat(mon-pix): add avatar translations to mon-pix
  mon-pix/translations/en.json
  mon-pix/translations/es-419.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: none

feat(api): add column avatar in users table
  api/db/migrations/20251016141533_add_column_avatar_in_users.js
Due: eslint --fix

feat(api): add user with avatar in seeds
  api/db/database-builder/factory/build-user.js
  api/db/seeds/data/team-acces/build-users.js
Due: eslint --fix

Update IAGenBiais_NOV_alt.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenBiais_NOV_alt.json
Due: none

feat(api): test structure lesson
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenBiais_AVA.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenBiais_NOV_alt.json
Due: none

Notes added by 'git notes add'
  62b04845d23dfc7844f5994e71d37969a7c0edc4
Due: none

fix
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenBiais_AVA.json
Due: none

:broom: remove unused read models about participant results
  api/src/shared/domain/read-models/participant-results/AssessmentResult.js
  api/src/shared/domain/read-models/participant-results/BadgeResult.js
  api/src/shared/domain/read-models/participant-results/CompetenceResult.js
Due: eslint --fix

Notes added by 'git notes add'
  efa188e9816db69912bf0db64453e181543db99d
Due: none

Notes added by 'git notes add'
  6513070642af44f548744281b8095c02fb98f08a
Due: none

super WIP
  api/db/database-builder/database-builder.js
  api/db/seeds/seed.js
  api/src/shared/application/seeds/index.js
  api/src/shared/application/seeds/seeds-controller.js
  api/src/shared/routes.js
Due: eslint --fix

[FEATURE] IAGenEthique_NOV Modif activité 3
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenEthique_NOV.json
Due: none

Update IAGenEthique_NOV.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenEthique_NOV.json
Due: none

Notes added by 'git notes add'
  d9559446900adc7904784a728a0e61ca34d01e07
Due: none

install ember-args-types
  admin/package-lock.json
  admin/package.json
Due: none

implement ember-args-types in breadcrumb component
  admin/app/components/organizations/breadcrumb.gjs
Due: none

Notes added by 'git notes add'
  9e7b7d596e7ae444e7d273695922893c852d89ef
Due: none

Notes added by 'git notes add'
  0789bb5da3bd5f67e77aa248fcf6f8e754db0893
Due: none

test
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

feat(api): adds combinedCourseId param on combinedCourseParticipation update
  api/src/quest/domain/usecases/update-combined-course.js
  api/src/quest/infrastructure/repositories/combined-course-participation-repository.js
  api/tests/quest/integration/domain/usecases/update-combined-course_test.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-participation-repository_test.js
Due: eslint --fix

feat(api): create/update organization learner passages on organization Co-authored-by: Alice Goarnisson <alice.goarnisson@pix.fr>
  api/src/prescription/scripts/create-or-update-organization-learner-participations-for-passages.js
  api/tests/prescription/scripts/integration/create-or-update-organization-learner-participations-for-passages_test.js
Due: eslint --fix

feat(api): do not populate anymore organization_learner_passage_participations
  api/src/quest/infrastructure/repositories/organization-learner-passage-participation-repository.js
  api/tests/quest/integration/infrastructure/repositories/organization-learner-passage-participation-repository_test.js
Due: eslint --fix

feat(api): create/update combined course organization learner participaiton
  api/src/prescription/scripts/create-or-update-organization-learner-participations-for-combined-courses.js
  api/tests/prescription/scripts/integration/create-or-update-organization-learner-participations-for-combined-courses_test.js
Due: eslint --fix

add referenceId on builder Co-authored-by: Alice Goarnisson <alice.goarnisson@pix.fr>
  api/db/database-builder/factory/build-organization-learner-participation.js
Due: eslint --fix

feat(api): build seed to make script runnable
  api/db/seeds/data/team-prescription/build-quests.js
  api/src/prescription/organization-learner/application/api/organization-learners-with-participations-api.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/src/prescription/scripts/create-or-update-organization-learner-participations-for-passages.js
  api/src/quest/domain/services/combined-course-details-service.js
  api/src/quest/domain/usecases/index.js
  api/src/quest/domain/usecases/update-combined-course.js
  api/tests/prescription/organization-learner/integration/application/api/organization-learners-with-participations-api_test.js
  api/tests/prescription/organization-learner/integration/domain/usecases/get-organization-learner-with-participations_test.js
  api/tests/prescription/organization-learner/unit/application/api/organization-learners-with-participations-api_test.js
  api/tests/prescription/scripts/integration/create-or-update-organization-learner-participations-for-passages_test.js
  api/tests/quest/integration/domain/services/combined-course-details-service_test.js
Due: eslint --fix

refactor(api): creates a buildFromCombinedCourseParticipation static method
  api/src/quest/infrastructure/repositories/combined-course-participation-repository.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-participation-repository_test.js
Due: eslint --fix

feat(api): prevents from inserting duplicates passages for same organization learner
  api/src/prescription/scripts/create-or-update-organization-learner-participations-for-passages.js
  api/tests/prescription/scripts/integration/create-or-update-organization-learner-participations-for-passages_test.js
Due: eslint --fix

tech(api): clean databasebuilder for organization learner participation Co-authored-by: Alice Goarnisson <alice.goarnisson@pix.fr>
  api/db/database-builder/factory/build-combined-course-participation.js
  api/db/database-builder/factory/build-organization-learner-participation.js
  api/db/database-builder/factory/build-organization-learner-passage-participation.js
  api/db/seeds/data/team-prescription/build-quests.js
Due: eslint --fix

feat(api): use new learner participation table on campaign participation overview repository Co-authored-by: Alice Goarnisson <alice.goarnisson@pix.fr>
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-overview-repository.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-overview-repository_test.js
Due: eslint --fix
