Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

docs(api): align SSO section of docker sample.env and API sample.env
  docker/sample.env
Due: none

Enable use of eslint-plugin-n
  orga/.eslintrc.cjs
  orga/package.json
Due: none

Update eslint-plugin-n to version 16
  orga/package-lock.json
  orga/package.json
Due: none

feat(api): add grain type tag
  mon-pix/app/pods/components/module/grain/style.scss
  mon-pix/app/pods/components/module/grain/tag/component.js
  mon-pix/app/pods/components/module/grain/tag/styles.scss
  mon-pix/app/pods/components/module/grain/tag/template.hbs
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/module/get/styles.scss
  mon-pix/public/images/icons/icon-book.svg
  mon-pix/public/images/icons/icon-cog.svg
  mon-pix/tests/integration/components/module/grain_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: eslint --fix, stylelint --fix

feat(mon-pix): dynamically change the background colour of activity and lesson
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/grain/model.js
  mon-pix/tests/integration/components/module/grain_test.js
Due: eslint --fix

On tente le .so compilé via scalingo
  api/ngx_http_redis_module.so
Due: none

feat(orga): handle unavailable languages
  orga/app/services/locale.js
  orga/app/services/session.js
  orga/tests/unit/services/session_test.js
Due: eslint --fix

feat(orga): add Banner::LanguageAvailability component
  orga/app/components/banner/language-availability.hbs
  orga/app/components/banner/language-availability.js
  orga/tests/integration/components/banner/language-availability_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix

feat(certif): handle unavailable languages
  certif/app/services/locale.js
  certif/app/services/session.js
  certif/tests/unit/services/session_test.js
Due: eslint --fix

feat(certif): add method updateDataAttribute
  certif/app/services/session.js
  certif/tests/unit/services/session_test.js
Due: eslint --fix

feat(certif): remove session custom data
  certif/app/services/session.js
  certif/tests/unit/services/session_test.js
Due: eslint --fix

feat(certif): display language availability banner
  certif/app/templates/authenticated.hbs
Due: none

feat(orga): handle language availability close action
  orga/app/components/banner/language-availability.js
  orga/tests/integration/components/banner/language-availability_test.js
  orga/tests/unit/components/banner/language-availability_test.js
Due: eslint --fix

feat(certif): set session data attributes
  certif/app/services/session.js
  certif/tests/unit/services/session_test.js
Due: eslint --fix

feat(certif): add Banner::LanguageAvailability component
  certif/app/components/banner/language-availability.hbs
  certif/app/components/banner/language-availability.js
  certif/tests/integration/components/banner/language-availability_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

feat(certif): handle language availability close action
  certif/app/components/banner/language-availability.js
  certif/tests/integration/components/banner/language-availability_test.js
  certif/tests/unit/components/banner/language-availability_test.js
Due: eslint --fix

feat(orga): set session data attributes
  orga/app/services/session.js
  orga/tests/unit/services/session_test.js
Due: eslint --fix

feat(orga): add method updateDataAttribute
  orga/app/services/session.js
  orga/tests/unit/services/session_test.js
Due: eslint --fix

feat(orga): remove session custom data
  orga/app/services/session.js
  orga/tests/unit/services/session_test.js
Due: eslint --fix

feat(orga): display language availability banner
  orga/app/templates/authenticated.hbs
Due: none
