Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

feat(api): add gif grain final
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
Due: none

fix(api) feedbacks Elise et lisa part1
  api/src/devcomp/infrastructure/datasources/learning-content/modules/cliquer-souris-ordinateur.json
Due: none

[TECH] Ajout d'une variable d'environnement pour la gestion d'évènements asynchrones (PIX-14177). (#10073)
  api/sample.env
Due: none

refactor?(api): rename placesLot model for Admin to not duplicate with futur one for orga
  api/scripts/prod/create-organization-places-lot.js
  api/src/prescription/organization-place/domain/models/OrganizationPlacesLotForManagement.js
  api/src/prescription/organization-place/domain/usecases/create-organization-places-lot.js
  api/src/shared/domain/models/index.js
  api/tests/prescription/organization-place/integration/infrastructure/repositories/organization-places-lot-repository_test.js
  api/tests/prescription/organization-place/unit/domain/models/OrganizationPlacesLot_test.js
  api/tests/prescription/organization-place/unit/domain/usecases/create-organization-places-lot_test.js
  api/tests/tooling/domain-builder/factory/build-organization-places-lot.js
Due: eslint --fix

feat(api): add statuses to placesLot model
  api/src/prescription/organization-place/domain/read-models/PlacesLot.js
  api/tests/prescription/organization-place/unit/domain/read-models/PlacesLot_test.js
Due: eslint --fix

refactor?(api): move placeLotManagement deserializer in the same file than it serializer
  api/src/prescription/organization-place/application/organization-place-controller.js
  api/src/prescription/organization-place/infrastructure/serializers/jsonapi/organization-places-lot-management-serializer.js
  api/src/prescription/organization-place/infrastructure/serializers/jsonapi/organization-places-lot-serializer.js
  api/tests/prescription/organization-place/unit/application/organization-place-controller_test.js
  api/tests/prescription/organization-place/unit/infrastructure/serializers/jsonapi/organization-places-lot-managment-serializer_test.js
  api/tests/prescription/organization-place/unit/infrastructure/serializers/jsonapi/organization-places-lot-serializer_test.js
Due: eslint --fix

feat(api): create organization/{organizationId}/places-lots endpoint
  api/src/prescription/organization-place/application/organization-place-route.js
  api/tests/prescription/organization-place/acceptance/application/get-organization-places-lots_test.js
  api/tests/prescription/organization-place/integration/application/organization-place-route_test.js
  api/tests/prescription/organization-place/unit/application/organization-place-route_test.js
Due: eslint --fix

feat(api): create getOrganizationPlacesLots usecase
  api/src/prescription/organization-place/domain/usecases/get-organization-places-lots.js
  api/tests/prescription/organization-place/unit/domain/usecases/get-organization-places-lots_test.js
Due: eslint --fix

feat(api): create new placesLot repository method
  api/src/prescription/organization-place/infrastructure/repositories/organization-places-lot-repository.js
  api/tests/prescription/organization-place/integration/infrastructure/repositories/organization-places-lot-repository_test.js
Due: eslint --fix

feat(api): create organizationPlacesLot serializer
  api/src/prescription/organization-place/infrastructure/serializers/jsonapi/organization-places-lots-serializer.js
  api/tests/prescription/organization-place/unit/infrastructure/serializers/jsonapi/organization-places-lots-serializer_test.js
Due: eslint --fix

feat(api): create getOrganizationPlacesLots controller
  api/src/prescription/organization-place/application/organization-place-controller.js
  api/tests/prescription/organization-place/unit/application/organization-place-controller_test.js
Due: eslint --fix

feat(api): add usecase to update import format from data
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/domain/usecases/update-organization-learner-import-formats.js
  api/tests/prescription/learner-management/integration/domain/usecases/update-organization-import-learner-import-format_test.js
Due: eslint --fix

feat(api): add model to validate organization learner import format
  api/src/prescription/learner-management/domain/models/OrganizationLearnerImportFormat.js
  api/tests/prescription/learner-management/unit/domain/models/OrganizationLearnerImportFormat_test.js
Due: eslint --fix

feat(api): use usecase on script
  api/scripts/organization-import-format/update-organization-import-format.js
Due: eslint --fix

feat(api): add repository to update several learner import format
  $
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-import-format-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-import-format-repository_test.js
Due: eslint --fix

feat(mon-pix): create quit results modal
  mon-pix/app/components/campaigns/assessment/skill-review/quit-results.gjs
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results.gjs
  mon-pix/app/styles/components/campaigns/assessment/skill-review/quit-results.scss
  mon-pix/app/styles/components/campaigns/index.scss
  mon-pix/tests/acceptance/campaigns/campaign-skill-review-test.js
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/quit-results-test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: eslint --fix, stylelint --fix

[FEATURE] Permettre de modifier une configuration d'import sans migration (PIX-14151) (#10075)
  $
  api/scripts/organization-import-format/update-organization-import-format.js
  api/src/prescription/learner-management/domain/models/OrganizationLearnerImportFormat.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/domain/usecases/update-organization-learner-import-formats.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-import-format-repository.js
  api/tests/prescription/learner-management/integration/domain/usecases/update-organization-import-learner-import-format_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-import-format-repository_test.js
  api/tests/prescription/learner-management/unit/domain/models/OrganizationLearnerImportFormat_test.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.210.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

refactor(api): move admin route in src/team
  api/lib/application/organizations/index.js
  api/src/team/application/membership/membership.admin.route.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
  api/tests/team/acceptance/application/membership/membership.admin.route.test.js
Due: eslint --fix

refactor(api): remove use of should in acceptance test
  api/tests/team/acceptance/application/membership/membership.admin.route.test.js
Due: eslint --fix

refactor(api): move findPaginatedFilteredMembershipsForAdmin controller
  api/lib/application/organizations/organization-controller.js
  api/src/team/application/membership/membership.admin.controller.js
  api/src/team/application/membership/membership.admin.route.js
Due: eslint --fix

fix(api): maj derniere situation info-rumeur
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
Due: none

fix typo
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
Due: none

fix(api): change dattes en avocats
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
Due: none

fix(api): replace gifs
  api/src/devcomp/infrastructure/datasources/learning-content/modules/cliquer-souris-ordinateur.json
Due: none

fix(api): test gdevelop v2 x3
  api/src/devcomp/infrastructure/datasources/learning-content/modules/cliquer-souris-ordinateur.json
Due: none

fix(api): remove use of import assertion in time series model
  api/scripts/arborescence-monitoring/time-series.js
Due: eslint --fix

fix(file): remove unecesary file
  $
Due: none

[TECH] Supprimer un fichier inutile (#10089)
  $
Due: none

feat(api): add OpenFeature and PixEnvVarProvider
  api/package-lock.json
  api/package.json
  api/src/shared/infrastructure/feature-toggles/index.js
  api/src/shared/infrastructure/feature-toggles/pix-env-var-provider.js
  api/tests/shared/integration/infrastructure/feature-toggles/feature-toggles_test.js
Due: eslint --fix

feat(api): review mgo-pch-jte 1
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
Due: none

feat(api): precision situation Stéphane
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
Due: none

fix feedback
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
Due: none

♻️ api: explicit query params naming in DELETE session route
  api/src/certification/enrolment/application/session-controller.js
  api/src/certification/enrolment/application/session-route.js
  api/tests/certification/enrolment/acceptance/application/session-route_test.js
  api/tests/certification/enrolment/unit/application/session-controller_test.js
Due: eslint --fix

♻️ api: explicit query params naming in DELETE certification candidate route
  api/src/certification/enrolment/application/certification-candidate-route.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-route_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-route_test.js
Due: eslint --fix

♻️ api: explicit query params naming in GET session route
  api/src/certification/enrolment/application/session-controller.js
  api/src/certification/enrolment/application/session-route.js
  api/tests/certification/enrolment/acceptance/application/session-route_test.js
  api/tests/certification/enrolment/unit/application/session-controller_test.js
  api/tests/certification/enrolment/unit/application/session-route_test.js
Due: eslint --fix
