Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

:sparkles: certif: Add message on mass import success
  certif/app/controllers/authenticated/sessions/import.js
  certif/tests/acceptance/session-import_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

:globe_with_meridians: certif: translate update page
  certif/app/controllers/authenticated/sessions/update.js
  certif/app/templates/authenticated/sessions/update.hbs
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

feat(api): add campaignID on organization learner activity serializer
  api/lib/infrastructure/serializers/jsonapi/organization-learner-activity-serializer.js
  api/tests/unit/infrastructure/serializers/jsonapi/organization-learner-activity-serializer_test.js
Due: eslint --fix

feat(orga): create participation row component
  orga/app/components/organization-learner/activity/participation-list.hbs
  orga/app/components/organization-learner/activity/participation-row.hbs
  orga/app/components/organization-learner/activity/participation-row.js
  orga/tests/integration/components/organization-learner/activity/participation-row_test.js
  orga/tests/unit/components/organization-learner/activity/participation-row_test.js
Due: eslint --fix

bsr(orga): remove unused code
  orga/app/models/campaign.js
  orga/tests/unit/models/campaign_test.js
Due: eslint --fix

feat(orga): add campaignId attribute on organization learner participation model
  orga/app/models/organization-learner-participation.js
Due: eslint --fix

bsr(orga): change margin to margin-left
  orga/app/styles/components/learner-header-info.scss
Due: stylelint --fix

feat(api): add campaignID on organization learner activity repository & read model
  api/lib/domain/read-models/OrganizationLearnerParticipation.js
  api/lib/infrastructure/repositories/organization-learner-activity-repository.js
  api/tests/integration/infrastructure/repositories/organization-learner-activity-repository_test.js
Due: eslint --fix

[RELEASE] A minor is being released to 3.335.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

feat(orga): enhance some wording on the participations list in the participant detail page
  orga/translations/en.json
  orga/translations/fr.json
Due: none

feat(orga): enhance the title aria-label of the participant detail page
  orga/app/templates/authenticated/organization-participants/organization-participant.hbs
  orga/app/templates/authenticated/sco-organization-participants/sco-organization-participant.hbs
  orga/app/templates/authenticated/sup-organization-participants/sup-organization-participant.hbs
  orga/translations/en.json
  orga/translations/fr.json
Due: none

feat(orga): enhance some wording on the participant detail page
  orga/translations/en.json
  orga/translations/fr.json
Due: none

feat(orga): addanother title for screen-readerson the campaign activity, participation by status chart
  orga/app/components/campaign/charts/participants-by-status.hbs
  orga/translations/en.json
  orga/translations/fr.json
Due: none

feat(orga): addinformations for screen-readers when no-date defined
  orga/app/components/organization-learner/activity/participation-row.hbs
  orga/app/components/ui/date.hbs
  orga/tests/integration/components/ui/date_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix

:sparkles: Add username hash to api/token calls logs
  api/lib/infrastructure/plugins/pino.js
  api/tests/integration/infrastructure/plugins/pino_test.js
Due: eslint --fix

:sparkles: certif: display error report translated message
  certif/app/components/import/step-one-section.hbs
  certif/app/components/import/step-two-section.hbs
  certif/app/components/import/step-two-section.js
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/tests/integration/components/sessions-import/step-two-section_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix, stylelint --fix

:recycle: api: fix error case when billingMode is required
  api/lib/domain/constants/certification-candidates-errors.js
  api/lib/domain/models/CertificationCandidate.js
  api/tests/unit/domain/models/CertificationCandidate_test.js
Due: eslint --fix

fix(mon-pix): fix spacing button in scorecard details
  mon-pix/app/components/scorecard-details.hbs
  mon-pix/app/styles/components/_scorecard-details.scss
Due: stylelint --fix

Update fuzz_test.mjs
  api/tests/acceptance/application/fuzz_test.mjs
Due: none

feat(api): modify areas tree for training and training trigger serializer
  api/lib/application/trainings/index.js
  api/lib/domain/models/TrainingTrigger.js
  api/lib/infrastructure/repositories/training-trigger-repository.js
  api/lib/infrastructure/serializers/jsonapi/training-serializer.js
  api/lib/infrastructure/serializers/jsonapi/training-trigger-serializer.js
  api/tests/acceptance/application/trainings/training-controller_test.js
  api/tests/integration/infrastructure/repositories/training-repository_test.js
  api/tests/integration/infrastructure/repositories/training-trigger-repository_test.js
  api/tests/unit/application/trainings/index_test.js
  api/tests/unit/domain/models/TrainingTrigger_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/training-serializer_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/training-trigger-serializer_test.js
Due: eslint --fix

feat(admin): add @displayDeviceCompatibility prop to TubesDetails::Area common component
  admin/app/components/badges/capped-tubes-criterion.hbs
  admin/app/components/common/tubes-details/area.hbs
  admin/app/components/common/tubes-details/competence.hbs
  admin/app/components/common/tubes-details/tube.hbs
  admin/app/components/target-profiles/details.hbs
Due: none

Path conditions:
  eslint --fix: any of: *.{js,yml, yaml}
  stylelint --fix: any of: *.scss
