Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

docs: be more precise about PaaS versioning
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs: add Circle restriction on Node version
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs: use 'specify' instead of 'force'
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs: add precisions on what we had to deal with
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs: remove repeated context infos
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs: reorder context informations
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs: be more precise on first solution intro
  docs/adr/0049-specifier-version-nodejs.md
Due: none

chore: pin all .nvmrc :pushpin:
  .nvmrc
  admin/.nvmrc
  api/.nvmrc
  certif/.nvmrc
  high-level-tests/e2e/.nvmrc
  high-level-tests/load-testing/.nvmrc
  high-level-tests/test-algo/.nvmrc
  mon-pix/.nvmrc
  orga/.nvmrc
Due: none

chore: do not precise required npm version
  api/package-lock.json
  api/package.json
Due: none

chore: use package.json node version
  .github/workflows/arborescence-monitoring.yaml
Due: none

chore: force minimal node patch version in package.json engines
  1d/package-lock.json
  1d/package.json
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  high-level-tests/test-algo/package-lock.json
  high-level-tests/test-algo/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

✨ admin: display switch in complementary certification details page
  admin/app/components/complementary-certifications/target-profiles/badges-list.js
  admin/app/components/complementary-certifications/target-profiles/information.hbs
  admin/app/components/complementary-certifications/target-profiles/information.js
  admin/app/controllers/authenticated/complementary-certifications/complementary-certification/details.js
  admin/app/templates/authenticated/complementary-certifications/complementary-certification/details.hbs
  admin/tests/integration/components/complementary-certifications/target-profiles/badges-list_test.js
  admin/tests/integration/components/complementary-certifications/target-profiles/information_test.js
  admin/tests/unit/components/complementary-certifications/target-profiles/badges-list_test.js
  admin/tests/unit/components/complementary-certifications/target-profiles/information_test.js
  admin/tests/unit/controllers/authenticated/complementary-certifications/complementary-certification/details_test.js
Due: eslint --fix

:sparkles: api: search target profiles attachable to a complementary
  api/lib/domain/models/TargetProfileAttachableForAdmin.js
  api/lib/infrastructure/repositories/target-profile-attachable-for-admin-repository.js
  api/tests/integration/infrastructure/repositories/target-profile-attachable-for-admin-repository_test.js
Due: eslint --fix

:sparkles: api: search attachable target profiles by name
  api/lib/infrastructure/repositories/target-profile-attachable-for-admin-repository.js
  api/tests/integration/infrastructure/repositories/target-profile-attachable-for-admin-repository_test.js
Due: eslint --fix

:sparkles: api: attachable target profiles endpoint + search by id
  api/lib/application/complementary-certifications/complementary-certification-controller.js
  api/lib/application/complementary-certifications/index.js
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/search-attachable-target-profiles-for-admin.js
  api/lib/infrastructure/repositories/target-profiles-attachable-for-admin-repository.js
  api/lib/infrastructure/serializers/jsonapi/target-profiles-attachable-for-admin-serializer.js
  api/tests/acceptance/application/complementary-certifications/complementary-certification-controller_test.js
  api/tests/integration/infrastructure/repositories/target-profiles-attachable-for-admin-repository_test.js
  api/tests/unit/application/complementary-certifications/index_test.js
  api/tests/unit/domain/usecases/search-attachable-target-profiles-for-admin_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/target-profiles-attachable-for-admin-serializer_test.js
Due: eslint --fix

:sparkles: api: creating Ember model + following JSONAPI specs for backend
  admin/app/adapters/attachable-target-profile.js
  admin/app/models/attachable-target-profile.js
  admin/tests/unit/adapters/attachable-target-profile_test.js
  api/lib/application/complementary-certifications/index.js
  api/tests/acceptance/application/complementary-certifications/complementary-certification-controller_test.js
  api/tests/unit/application/complementary-certifications/index_test.js
Due: eslint --fix

tech(api): add archived organisation seeds
  api/db/seeds/data/team-acces/build-archived-organizations.js
  api/db/seeds/data/team-acces/data-builder.js
Due: eslint --fix

feat(api): add hideArchived filter
  api/lib/application/organizations/index.js
  api/lib/infrastructure/repositories/organization-repository.js
  api/tests/integration/infrastructure/repositories/organization-repository_test.js
Due: eslint --fix

feat(admin): add toggle button to filter archived organizations
  admin/app/controllers/authenticated/organizations/list.js
  admin/app/routes/authenticated/organizations/list.js
  admin/app/styles/app.scss
  admin/app/styles/components/organizations/list-items.scss
  admin/app/templates/authenticated/organizations/list.hbs
  admin/tests/acceptance/authenticated/organizations/list_test.js
  admin/tests/unit/routes/authenticated/organizations/list_test.js
Due: eslint --fix, stylelint --fix

:sparkles: admin: add session version filter for publishable sessions
  admin/app/routes/authenticated/sessions/list/to-be-published.js
  admin/app/templates/authenticated/sessions/list.hbs
  admin/mirage/config.js
  admin/mirage/handlers/get-to-be-published-sessions.js
  admin/tests/acceptance/authenticated/sessions/list/to-be-published_test.js
  admin/tests/unit/routes/authenticated/sessions/list/to-be-published_test.js
Due: eslint --fix

:sparkles: api: add version filter for publishable sessions
  api/lib/application/sessions/finalized-session-controller.js
  api/lib/application/sessions/index.js
  api/lib/domain/usecases/find-finalized-sessions-to-publish.js
  api/lib/infrastructure/repositories/sessions/finalized-session-repository.js
  api/tests/acceptance/application/finalized-session/finalized-session-controller-find-finalized-sessions-to-publish_test.js
  api/tests/integration/infrastructure/repositories/sessions/finalized-session-repository_test.js
  api/tests/unit/application/session/finalized-session-controller_test.js
  api/tests/unit/domain/usecases/find-finalized-sessions-to-publish_test.js
Due: eslint --fix

feat(api): add new migration to update view-active-organization-learner
  api/db/database-builder/factory/build-organization-learner.js
  api/db/migrations/20230807122533_refresh-view-active-organization-learner.js
  api/lib/infrastructure/repositories/organization-learner-follow-up/organization-learner-repository.js
  api/lib/infrastructure/repositories/organization-participant-repository.js
  api/lib/infrastructure/repositories/sco-organization-participant-repository.js
  api/lib/infrastructure/repositories/sup-organization-participant-repository.js
  api/tests/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/tooling/domain-builder/factory/build-organization-learner.js
Due: eslint --fix

refactor(api): create Feedback model
  api/lib/domain/models/Feedback.js
  api/tests/tooling/domain-builder/factory/build-feedback.js
  api/tests/tooling/domain-builder/factory/index.js
Due: eslint --fix

refactor(api): use new Feeback model in Serializer
  api/lib/infrastructure/serializers/jsonapi/feedback-serializer.js
  api/tests/unit/infrastructure/serializers/jsonapi/feedback-serializer_test.js
Due: eslint --fix

refactor(api): create usecase save-feedback.js
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/save-feedback.js
  api/tests/unit/domain/usecases/save-feedback_test.js
Due: eslint --fix

refactor(api): create feedback-repository
  api/lib/infrastructure/repositories/feedback-repository.js
  api/tests/integration/infrastructure/repositories/feedback-repository_test.js
Due: eslint --fix

sr(api): add feedback-serializer as controller dependency
  api/lib/application/feedbacks/feedback-controller.js
  api/tests/unit/application/feedbacks/feedback-controller_test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,yml, yaml}
  stylelint --fix: any of: *.scss
