Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

feat(api): add userId to use case
  api/src/prescription/learner-management/domain/usecases/replace-sup-organization-learner.js
  api/tests/prescription/learner-management/unit/domain/usecases/replace-sup-organization-learners_test.js
Due: eslint --fix

feat(api): update sup organization learner repository to delete learer not in the list
  api/src/prescription/learner-management/infrastructure/repositories/sup-organization-learner-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/sup-organization-learner-repository_test.js
Due: eslint --fix

bsr(api): move test to correct folder
  api/tests/prescription/learner-management/unit/application/sup-organization-management-route_test.js
Due: eslint --fix

bsr(api): update package json
  api/package.json
Due: none

feat(api): add userId from token to controller
  api/src/prescription/learner-management/application/sup-organization-management-controller.js
Due: eslint --fix

bsr(api): update tooling to add group / student number to seed who required one
  api/db/seeds/data/common/tooling/campaign-tooling.js
Due: eslint --fix

fix(api): secure tests scripts glob matching
  api/package.json
Due: none

fix(api): move error-manager EntityValidationError tests to src
  api/tests/shared/unit/application/error-manager_test.js
  api/tests/unit/application/error-manager_test.js
Due: eslint --fix

feat(api): add pays de la loire SSO
  api/lib/domain/constants/oidc-identity-providers.js
  api/lib/domain/services/authentication/authentication-service-registry.js
  api/lib/domain/services/authentication/paysdelaloire-oidc-authentication-service.js
  api/sample.env
  api/src/shared/config.js
Due: eslint --fix

:bug: api: Fix esm module import
  api/lib/infrastructure/jobs/cpf-export/index.js
Due: eslint --fix

fix(1d): display selected value of inputs in QROCM
  1d/app/pods/components/challenge/challenge-item-qrocm/component.js
  1d/app/pods/components/challenge/challenge-item-qrocm/template.hbs
Due: eslint --fix

feat(1d):redesign du challenge
  1d/app/pods/assessment/challenge/template.hbs
  1d/app/pods/challenge-preview/template.hbs
  1d/app/pods/components/challenge/challenge-actions/template.hbs
  1d/app/pods/components/challenge/challenge-instruction/template.hbs
  1d/app/pods/components/challenge/component.js
  1d/app/pods/components/challenge/item/template.hbs
  1d/app/pods/components/challenge/template.hbs
  1d/app/pods/components/robot-dialog/component.js
  1d/app/pods/components/robot-dialog/template.hbs
  1d/app/pods/home/template.hbs
  1d/app/styles/app.scss
  1d/app/styles/components/challenge-actions.scss
  1d/app/styles/components/challenge-embed-simulator.scss
  1d/app/styles/components/challenge-instruction.scss
  1d/app/styles/components/challenge-item.scss
  1d/app/styles/components/robot-dialog.scss
  1d/app/styles/globals/_buttons.scss
  1d/ember-cli-build.js
  1d/tests/integration/components/challenge-instruction_test.js
Due: eslint --fix, stylelint --fix

fix(admin): add missing navbar class for user profile
  admin/app/templates/authenticated/users/get.hbs
Due: none

:sparkles: api: add support of detached badges to findStillValidBadgeAcquisition
  api/lib/domain/models/CertifiableBadgeAcquisition.js
  api/lib/domain/services/certification-badges-service.js
  api/lib/infrastructure/repositories/certifiable-badge-acquisition-repository.js
  api/tests/integration/infrastructure/repositories/certifiable-badge-acquisition-repository_test.js
  api/tests/tooling/domain-builder/factory/build-certifiable-badge-acquisition.js
  api/tests/unit/domain/services/certification-badges-service_test.js
Due: eslint --fix

:recycle: mon-pix: split congratulations-certification-banner component Co-authored-by: Steph0 <Steph0@users.noreply.github.com>
  mon-pix/app/components/certification-banners/congratulations-certification-banner.hbs
  mon-pix/app/components/certification-banners/index.hbs
  mon-pix/app/components/certification-banners/index.js
  mon-pix/app/components/certification-banners/outdated-complementary-certification-banner.hbs
  mon-pix/app/controllers/authenticated/certifications/join.js
  mon-pix/app/templates/authenticated/certifications/join.hbs
  mon-pix/tests/integration/components/certification-banners/congratulations-certification-banner_test.js
  mon-pix/tests/integration/components/certification-banners/outdated-complementary-certification-banner_test.js
Due: eslint --fix

:recycle: mon-pix: split banner and eligible complementaries
  mon-pix/app/components/certification-banners/congratulations-certification-banner.hbs
  mon-pix/app/components/certification-banners/eligible-complementary-certification-banner.hbs
  mon-pix/app/components/certification-banners/index.hbs
  mon-pix/app/styles/components/_congratulations-certification-banner.scss
  mon-pix/tests/integration/components/certification-banners/congratulations-certification-banner_test.js
  mon-pix/tests/integration/components/certification-banners/eligible-complementary-certification-banner_test.js
  mon-pix/tests/integration/components/certification-banners/index_test.js
  mon-pix/tests/integration/components/certification-banners/outdated-complementary-certification-banner_test.js
Due: eslint --fix, stylelint --fix

:recycle: api: script: add outdated to getUserCertificationEligibility script
  api/scripts/certification/get-user-certification-eligibility.js
Due: eslint --fix

:sparkles: mon-pix: update certification eligibility serializer and isCertifiable model Co-authored-by: Antoine Ceol <antoine.ceol@gmail.com> Co-authored-by: Steph0 <Steph0@users.noreply.github.com>
  api/lib/infrastructure/serializers/jsonapi/certification-eligibility-serializer.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-eligibility-serializer_test.js
  mon-pix/app/components/congratulations-certification-banner.hbs
  mon-pix/app/components/congratulations-certification-banner.js
  mon-pix/app/models/is-certifiable.js
Due: eslint --fix

:recycle: mon-pix: create new component outdated-complementary-certification-banner
  mon-pix/app/components/congratulations-certification-banner.hbs
  mon-pix/app/components/congratulations-certification-banner.js
  mon-pix/app/components/congratulations-certification-banner/index.hbs
  mon-pix/app/components/congratulations-certification-banner/index.js
  mon-pix/app/components/congratulations-certification-banner/outdated-complementary-certification-banner.hbs
  mon-pix/app/styles/components/_congratulations-certification-banner.scss
Due: eslint --fix, stylelint --fix

:sparkles: mon-pix: add new outdated complementaries banner Co-authored-by: Antoine Ceol <antoine.ceol@gmail.com> Co-authored-by: Marianne Bost <marianne.bost@pix.fr>
  mon-pix/app/components/congratulations-certification-banner.hbs
  mon-pix/app/components/congratulations-certification-banner.js
  mon-pix/app/styles/components/_congratulations-certification-banner.scss
  mon-pix/tests/integration/components/congratulations-certification-banner_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: eslint --fix, stylelint --fix

:sparkles: api: add findBadgeAcquisitions with detached badges
  api/lib/domain/models/CertifiableBadgeAcquisition.js
  api/lib/domain/read-models/CertificationEligibility.js
  api/lib/domain/services/certification-badges-service.js
  api/lib/domain/usecases/get-user-certification-eligibility.js
  api/lib/infrastructure/repositories/certifiable-badge-acquisition-repository.js
  api/scripts/certification/get-user-certification-eligibility.js
  api/tests/acceptance/application/users/users-controller-is-certifiable_test.js
  api/tests/integration/infrastructure/repositories/certifiable-badge-acquisition-repository_test.js
  api/tests/tooling/domain-builder/factory/build-certifiable-badge-acquisition.js
  api/tests/tooling/domain-builder/factory/build-certification-eligibility.js
  api/tests/unit/application/users/user-controller_test.js
  api/tests/unit/domain/services/certification-badges-service_test.js
  api/tests/unit/domain/usecases/get-user-certification-eligibility_test.js
Due: eslint --fix

Delete mon-pix/public/humans.txt
  mon-pix/public/humans.txt
Due: none

Add AST
  mon-pix/public/humans.txt
Due: none
