Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Notes added by 'git notes add'
  cbca9f7ea7f65c312f65e829729f8be35311a3b6
Due: none

fix(api): record privacy policy consent in Oidc User creation flow
  api/src/identity-access-management/domain/models/UserToCreate.js
  api/tests/identity-access-management/unit/domain/models/UserToCreate.test.js
Due: eslint --fix

fix(api): record privacy policy consent in upgrade to real user flow
  api/src/identity-access-management/domain/models/User.js
  api/tests/identity-access-management/integration/domain/usecases/upgrade-to-real-user.usecase.test.js
  api/tests/identity-access-management/unit/domain/models/User.test.js
Due: eslint --fix

fix(api): record privacy policy consent in createUser usecase
  api/src/identity-access-management/domain/models/UserToCreate.js
  api/src/identity-access-management/domain/usecases/create-user.usecase.js
  api/src/identity-access-management/infrastructure/repositories/user-to-create.repository.js
  api/tests/identity-access-management/integration/domain/usecases/create-user.usecase.test.js
  api/tests/identity-access-management/unit/domain/models/UserToCreate.test.js
Due: eslint --fix

fix(api): record privacy policy consent in mass user accounts creation
  api/src/identity-access-management/scripts/mass-create-user-accounts.js
Due: eslint --fix

feat(orga): handle column type
  api/src/prescription/learner-management/domain/models/OrganizationLearnerImportFormat.js
  api/src/prescription/organization-learner/domain/usecases/find-paginated-filtered-participants.js
  api/tests/prescription/learner-management/unit/domain/models/OrganizationLearnerImportFormat_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-paginated-filtered-participants_test.js
  orga/app/components/organization-participant/list.gjs
  orga/tests/integration/components/organization-participant/list-test.gjs
Due: eslint --fix

[BUGFIX] Corrige l'affichage de la classe dans la liste des prescrits générique (PIX-24341) (#17557)
  api/src/prescription/learner-management/domain/models/OrganizationLearnerImportFormat.js
  api/src/prescription/organization-learner/domain/usecases/find-paginated-filtered-participants.js
  api/tests/prescription/learner-management/unit/domain/models/OrganizationLearnerImportFormat_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-paginated-filtered-participants_test.js
  orga/app/components/organization-participant/list.gjs
  orga/tests/integration/components/organization-participant/list-test.gjs
Due: eslint --fix

[BUGFIX] Gérer les erreurs lorsqu'on termine un module (PIX-24365) (#17570)
  mon-pix/app/components/module/passage.gjs
  mon-pix/tests/integration/components/module/passage_test.gjs
Due: none

feat(mon-pix): use correct translations for aria-label-level and move moduleLevel logic to level component
  mon-pix/app/components/combined-course/level.gjs
  mon-pix/app/components/combined-course/tunnel/step-details.gjs
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
  orga/translations/en.json
  orga/translations/fr.json
Due: none

chore(mon-pix): lint
  mon-pix/app/components/combined-course/combined-course-item.gjs
  mon-pix/app/components/combined-course/level.gjs
  mon-pix/app/components/combined-course/tunnel/step-details.gjs
  mon-pix/app/styles/components/combined-courses/_step-details.scss
  mon-pix/app/styles/components/combined-courses/_tunnel.scss
  mon-pix/tests/integration/components/routes/combined-courses/tunnel/step-details-test.gjs
Due: stylelint --fix

[TECH] Migres les derniers models PixOrga en TS (#17560)
  orga/app/components/import/index.gjs
  orga/app/components/places/places-lot-alert.gjs
  orga/app/models/analysis-by-tube.js
  orga/app/models/analysis-by-tube.ts
  orga/app/models/announcement.js
  orga/app/models/announcement.ts
  orga/app/models/attestation-participant-status.js
  orga/app/models/attestation-participant-status.ts
  orga/app/models/attestation.js
  orga/app/models/attestation.ts
  orga/app/models/banner.js
  orga/app/models/banner.ts
  orga/app/models/information-banner.js
  orga/app/models/information-banner.ts
  orga/app/models/mission-learner.js
  orga/app/models/mission-learner.ts
  orga/app/models/mission.js
  orga/app/models/mission.ts
  orga/app/models/organization-import-detail.js
  orga/app/models/organization-import-detail.ts
  orga/app/models/organization-place-statistic.js
  orga/app/models/organization-place-statistic.ts
  orga/app/models/organization-places-lot.js
  orga/app/models/organization-places-lot.ts
  orga/app/models/organization.ts
  orga/app/models/participation-statistic.js
  orga/app/models/participation-statistic.ts
  orga/app/serializers/organization-import-detail.js
  orga/tests/integration/components/import-information-banner-test.gjs
  orga/tests/integration/components/import/banner-test.gjs
  orga/tests/integration/components/import/index-test.gjs
  orga/tests/unit/models/organization-import-detail-test.js
  packages/pix-types/index.d.ts
Due: eslint --fix

docs(architecture): require real code for the fiche illustrations
  docs/fr/architecture/corpus-index.md
Due: none

docs(architecture): bring the domain fiches in line with the template
  docs/fr/architecture/fiche-entite.md
  docs/fr/architecture/fiche-objet-valeur.md
  docs/fr/architecture/fiche-racine-agregat.md
  docs/fr/architecture/fiche-read-model.md
  docs/fr/architecture/fiche-service-domaine.md
  docs/fr/architecture/fiche-specification.md
Due: none

docs(architecture): simplify the prose of the domain service fiche
  docs/fr/architecture/fiche-service-domaine.md
Due: none

chore(release): 5.505.1 [skip ci]
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
  packages/pix-types/package.json
Due: none

Notes added by 'git notes add'
  957e1fcd98e6b10fe8285df94d6c91e649fafaf0
Due: none

docs(architecture): spell out the plain-language rules in the template
  docs/fr/architecture/corpus-index.md
Due: none

docs(architecture): simplify the prose of the other domain fiches
  docs/fr/architecture/fiche-entite.md
  docs/fr/architecture/fiche-objet-valeur.md
  docs/fr/architecture/fiche-racine-agregat.md
  docs/fr/architecture/fiche-read-model.md
  docs/fr/architecture/fiche-specification.md
Due: none

docs(architecture): record the domain fiches pass in the corpus index
  docs/fr/architecture/corpus-index.md
Due: none

[FEATURE] Mettre à jour les wordings de l'écran de chargement des modules d'un parcours combiné (PIX-24366) (#17571)
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: none

docs(architecture): apply the adversarial review of the domain fiches
  docs/fr/architecture/corpus-index.md
  docs/fr/architecture/fiche-entite.md
  docs/fr/architecture/fiche-objet-valeur.md
  docs/fr/architecture/fiche-racine-agregat.md
  docs/fr/architecture/fiche-read-model.md
  docs/fr/architecture/fiche-service-domaine.md
  docs/fr/architecture/fiche-specification.md
Due: none

feat(api): implements find in learning content redis repository
  api/src/shared/infrastructure/repositories/learning-content-redis-repository.js
  api/tests/shared/integration/infrastructure/repositories/learning-content-redis-repository.test.js
Due: eslint --fix

tests(api): adds more tests on existing learning content repository
  api/tests/shared/integration/infrastructure/repositories/learning-content-repository_test.js
Due: eslint --fix

feat(api): implements loadMany in learning content redis repository
  api/src/shared/infrastructure/repositories/learning-content-redis-repository.js
  api/tests/shared/integration/infrastructure/repositories/learning-content-redis-repository.test.js
Due: eslint --fix

feat(api): adds learning content redis cache
  api/config/config.js
  api/index.js
  api/index.maddo.js
  api/package-lock.json
  api/package.json
  api/sample.env
  api/src/shared/application/scripts/script-runner.js
  api/src/shared/infrastructure/caches/learning-content-redis-cache.js
  api/src/shared/infrastructure/release-infrastructure.js
  api/tests/shared/unit/application/scripts/script-runner_test.js
Due: eslint --fix

feat(api): adds feature toggle isLearningContentCacheRedis
  api/config/feature-toggles-config.js
  api/src/shared/infrastructure/repositories/learning-content-redis-repository.js
  api/tests/shared/integration/infrastructure/repositories/learning-content-redis-repository.test.js
Due: eslint --fix

feat(api): adds learning content redis repository w/ load method
  api/src/shared/infrastructure/repositories/learning-content-redis-repository.js
  api/tests/setup/integration.js
  api/tests/shared/integration/infrastructure/repositories/learning-content-redis-repository.test.js
Due: eslint --fix

feat(api): switches to redis when isLearningContentCacheRedis is true
  api/src/devcomp/infrastructure/repositories/module-metadata-repository.js
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/src/devcomp/infrastructure/repositories/tutorial-repository.js
  api/src/school/infrastructure/repositories/mission-repository.js
  api/src/shared/infrastructure/repositories/area-repository.js
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/src/shared/infrastructure/repositories/competence-repository.js
  api/src/shared/infrastructure/repositories/course-repository.js
  api/src/shared/infrastructure/repositories/skill-repository.js
  api/src/shared/infrastructure/repositories/thematic-repository.js
  api/src/shared/infrastructure/repositories/tube-repository.js
Due: eslint --fix

tests(api): enables caching in redis in tests
  api/config/feature-toggles-config.js
Due: eslint --fix

feat(api): clears redis cache when updating learning content
  api/src/learning-content/domain/usecases/create-learning-content-release.js
  api/src/learning-content/domain/usecases/dependencies.js
  api/src/learning-content/domain/usecases/patch-learning-content-entry.js
  api/src/learning-content/domain/usecases/refresh-learning-content.js
  api/tests/learning-content/unit/domain/usecases/create-learning-content-release_test.js
  api/tests/learning-content/unit/domain/usecases/patch-learning-content-entry_test.js
  api/tests/learning-content/unit/domain/usecases/refresh-learning-content_test.js
Due: eslint --fix

docs(architecture): full reread of the domain fiches
  docs/fr/architecture/corpus-index.md
  docs/fr/architecture/fiche-entite.md
  docs/fr/architecture/fiche-objet-valeur.md
  docs/fr/architecture/fiche-racine-agregat.md
  docs/fr/architecture/fiche-read-model.md
  docs/fr/architecture/fiche-service-domaine.md
  docs/fr/architecture/fiche-specification.md
Due: none

WIP : get description, level and objectives from backend
  api/src/quest/domain/models/combined-course-participations/value-objects/CombinedCourseItem.js
  mon-pix/app/models/combined-course-item.js
Due: eslint --fix

[TECH] Test implementation helper pour selectionner une option d'un select / multiselect (#17516)
  admin/tests/integration/components/combined-course-blueprints/form-test.gjs
Due: none

tech: add index on suers for username
  api/db/migrations/20260923123524_add-users-index-username.js
Due: eslint --fix

[TECH] Mise à jour du package epreuves-components (#17565)
  api/package-lock.json
  api/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

✨️(api): fix 500 errors
  api/src/devcomp/domain/services/solution-service-qcm.js
  api/tests/devcomp/unit/domain/services/solution-service-qcm_test.js
Due: eslint --fix

[TECH] Ajoute d'un index username sur la table users. (#17581)
  api/db/migrations/20260923123524_add-users-index-username.js
Due: eslint --fix

[BUGFIX] Corriger l'erreur en production (PIX-24371). (#17582)
  api/src/devcomp/domain/services/solution-service-qcm.js
  api/tests/devcomp/unit/domain/services/solution-service-qcm_test.js
Due: eslint --fix

[BUGFIX] Révoquer les accès utilisateurs lors de l’anonymisation (PIX-7038) (#17550)
  api/src/identity-access-management/domain/usecases/anonymize-user.usecase.js
  api/src/identity-access-management/domain/usecases/revoke-access-for-users.usecase.js
  api/tests/identity-access-management/integration/application/anonymize-user.event-handler.test.js
Due: eslint --fix

tech(api): migrate to typescript for value-objects Campaign, Module, RecommendedModule, TargetProfile
  api/src/quest/domain/models/combined-course-blueprints/value-objects/TargetProfile.js
  api/src/quest/domain/models/combined-course-blueprints/value-objects/TargetProfile.ts
  api/src/quest/domain/models/combined-course-participations/value-objects/RecommendedModule.js
  api/src/quest/domain/models/combined-course-participations/value-objects/RecommendedModule.ts
  api/src/quest/domain/models/combined-courses/value-objects/Campaign.ts
  api/src/quest/domain/models/combined-courses/value-objects/Module.js
  api/src/quest/domain/models/combined-courses/value-objects/Module.ts
  api/src/quest/domain/usecases/create-combined-course.js
  api/src/quest/domain/usecases/create-combined-courses.js
  api/src/quest/infrastructure/repositories/combined-course-blueprints/target-profile-repository.js
  api/src/quest/infrastructure/repositories/combined-courses/campaign-repository.js
  api/src/quest/infrastructure/repositories/combined-courses/module-repository.js
  api/src/quest/infrastructure/repositories/recommended-module-repository.js
  api/tests/quest/unit/domain/models/Campaign_test.ts
  api/tests/quest/unit/infrastructure/repositories/campaign-repository_test.js
  api/tests/quest/unit/infrastructure/repositories/module-repository_test.js
  api/tests/quest/unit/infrastructure/repositories/recommended-module-repository_test.js
  api/tests/quest/unit/infrastructure/repositories/target-profile-repository_test.js
  api/tests/tooling/domain-builder/factory/build-combined-course-details.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
