Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

:sparkles: api: add number of questions in certification course repository for v3
  api/lib/domain/models/CertificationCourse.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-course-repository_test.js
Due: eslint --fix

:sparkles: api: get number of challenges for V3 certification details
  api/src/certification/course/domain/models/V3CertificationCourseDetailsForAdministration.js
  api/src/certification/course/infrastructure/repositories/v3-certification-course-details-for-administration-repository.js
  api/src/certification/course/infrastructure/serializers/jsonapi/v3-certification-course-details-for-administration-serializer.js
  api/tests/certification/course/acceptance/application/certification-course-route_test.js
  api/tests/certification/course/integration/infrastructure/repositories/v3-certification-course-details-for-administration-repository_test.js
  api/tests/certification/course/unit/infrasctructure/serializers/jsonapi/v3-certification-course-details-for-administration-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-v3-certification-course-details-for-administration.js
Due: eslint --fix

:sparkles: api: add number of challenges to certification course model
  api/lib/domain/models/CertificationCourse.js
  api/tests/tooling/domain-builder/factory/build-certification-course.js
  api/tests/unit/domain/models/CertificationCourse_test.js
Due: eslint --fix

refactor(api): split xml import usecase
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-csv-format.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-xml-format.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-csv-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-xml-format_test.js
Due: eslint --fix

Revert "[TECH] Utiliser la librairie openid-client (PIX-10990)"
  api/config/setup-oidc-authentication-service-registry.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/lib/domain/services/authentication/GoogleOidcAuthenticationService.js
  api/lib/domain/services/authentication/authentication-service-registry.js
  api/lib/domain/services/authentication/cnav-oidc-authentication-service.js
  api/lib/domain/services/authentication/fwb-oidc-authentication-service.js
  api/lib/domain/services/authentication/oidc-authentication-service.js
  api/lib/domain/services/authentication/paysdelaloire-oidc-authentication-service.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
  api/lib/domain/usecases/authentication/authenticate-oidc-user.js
  api/package-lock.json
  api/package.json
  api/sample.env
  api/server.js
  api/src/shared/config.js
  api/tests/acceptance/application/authentication/oidc/authentication-url-route-get_test.js
  api/tests/acceptance/application/authentication/oidc/token-route-post_test.js
  api/tests/acceptance/application/pole-emploi/pole-emploi-controller_test.js
  api/tests/test-helper.js
  api/tests/tooling/server/hapi-server-with-test-oidc-provider.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
  api/tests/unit/domain/services/authentication/authentication-service-registry_test.js
  api/tests/unit/domain/services/authentication/oidc-authentication-service_test.js
  api/tests/unit/domain/usecases/authentication/authenticate-oidc-user_test.js
  api/tests/unit/setup-oidc-authentication-service-registry_test.js
Due: eslint --fix

chore(orga): update pix ui to latest v43
  orga/app/components/campaign/create-form.hbs
  orga/app/components/campaign/filter/campaign-filters.hbs
  orga/app/components/campaign/filter/participation-filters.hbs
  orga/app/components/organization-participant/learner-filters.hbs
  orga/app/components/sco-organization-participant/sco-learner-filters.hbs
  orga/app/components/sup-organization-participant/sup-learner-filters.hbs
  orga/app/components/ui/divisions-filter.hbs
  orga/app/components/ui/multi-select-filter.hbs
  orga/app/components/ui/pix-fieldset.hbs
  orga/app/components/ui/search-input-filter.hbs
  orga/app/components/ui/search-input.hbs
  orga/app/components/ui/select-filter.hbs
  orga/app/styles/components/ui/pix-fieldset.scss
  orga/app/styles/globals/forms.scss
  orga/package-lock.json
  orga/package.json
  orga/tests/acceptance/sco-organization-participant-list_test.js
  orga/tests/integration/components/campaign/create-form_test.js
  orga/tests/integration/components/campaign/filter/participation-filters_test.js
  orga/tests/integration/components/sco-organization-participant/list_test.js
  orga/tests/integration/components/sup-organization-participant/list_test.js
  orga/tests/integration/components/tube/list_test.js
  orga/tests/integration/components/ui/divisions-filter_test.js
  orga/tests/integration/components/ui/search-input_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix, stylelint --fix

Update CHANGELOG
  CHANGELOG.md
Due: none

[RELEASE] A patch is being released to 4.100.1.
  1d/package-lock.json
  1d/package.json
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

feat(api): add isAutonomousCourse property to CampaignParticipationOverview read-model
  api/lib/domain/read-models/CampaignParticipationOverview.js
  api/lib/infrastructure/serializers/jsonapi/campaign-participation-overview-serializer.js
  api/tests/integration/infrastructure/repositories/campaign-participation-overview-repository_test.js
  api/tests/unit/domain/read-models/CampaignParticipationOverview_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/campaign-participation-overview-serializer_test.js
Due: eslint --fix

feat(mon-pix): filter autonomous course participations in user-dashboard
  mon-pix/app/models/campaign-participation-overview.js
  mon-pix/app/routes/authenticated/user-dashboard.js
  mon-pix/tests/unit/routes/authenticated/user-dashboard_test.js
Due: eslint --fix

Revert "[BUGFIX] corrige la suppression de fichier temporaire après un import siecle (PIX-11118) "
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
Due: eslint --fix

Revert "[TECH] Stocke les fichiers d'import dans un bucket S3 (PIX-10927) "
  .circleci/config.yml
  api/sample.env
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/domain/services/organization-learners-xml-service.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-format.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/infrastructure/serializers/xml/siecle-parser.js
  api/src/prescription/learner-management/infrastructure/storage/import-storage.js
  api/src/prescription/learner-management/infrastructure/utils/xml/detect-encoding.js
  api/src/prescription/learner-management/infrastructure/utils/xml/siecle-file-streamer.js
  api/src/prescription/learner-management/infrastructure/utils/xml/zip.js
  api/src/shared/config.js
  api/src/shared/storage/infrastructure/providers/S3ObjectStorageProvider.js
  api/tests/prescription/learner-management/integration/domain/services/organization-learners-xml-service_test.js
  api/tests/prescription/learner-management/integration/infrastructure/utils/xml/detect-encoding_test.js
  api/tests/prescription/learner-management/integration/infrastructure/utils/xml/siecle-file-streamer_test.js
  api/tests/prescription/learner-management/integration/infrastructure/utils/xml/zip_test.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-format_test.js
  api/tests/prescription/learner-management/unit/infrastructure/storage/import-storage_test.js
  api/tests/test-helper.js
  docker-compose.yaml
  docker/docker-compose.yaml
Due: eslint --fix

:memo: Update changelog with hotfix v4.100.2
  CHANGELOG.md
Due: none

Revert "[TECH]: Sépare le usecase SIECLE de celui de FREGATA (PIX-11061)"
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-csv-format.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-format.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-csv-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-xml-format_test.js
Due: eslint --fix

[RELEASE] A patch is being released to 4.100.2.
  1d/package-lock.json
  1d/package.json
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

refactor(admin): return error details for autonomous course creation errors
  admin/app/controllers/authenticated/autonomous-courses/new.js
  admin/tests/unit/controllers/authenticated/autonomous-courses/new_test.js
Due: eslint --fix

fix(api): explicitly destroy stream after upload
  api/src/prescription/learner-management/infrastructure/storage/import-storage.js
  api/src/prescription/learner-management/infrastructure/utils/xml/siecle-file-streamer.js
  api/tests/prescription/learner-management/unit/infrastructure/storage/import-storage_test.js
Due: eslint --fix

:sparkles: api: set a more appropriate focusOut message for v3 certifs
  mon-pix/app/components/challenge-actions.hbs
  mon-pix/app/components/challenge-item-qcm.hbs
  mon-pix/app/components/challenge-item-qcu.hbs
  mon-pix/app/components/challenge-item-qroc.hbs
  mon-pix/app/components/challenge-item-qrocm.hbs
  mon-pix/tests/integration/components/challenge-actions_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Due: eslint --fix

fix(api): use a second parser for uaj
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-xml-format.js
  api/src/prescription/learner-management/infrastructure/serializers/xml/siecle-parser.js
Due: eslint --fix

styles(orga): Avoid campaign without any space ou dash to overlap other cells
  orga/app/components/campaign/list.hbs
  orga/app/styles/components/campaign/list.scss
Due: stylelint --fix

:recycle: api: move SCO orga certificcation result route to src
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/lib/infrastructure/repositories/sco-certification-candidate-repository.js
  api/src/certification/course/application/organization-controller.js
  api/src/certification/course/application/organization-route.js
  api/src/certification/course/domain/usecases/get-sco-certification-results-by-division.js
  api/src/certification/course/domain/usecases/index.js
  api/src/certification/course/infrastructure/repositories/sco-certification-candidate-repository.js
  api/src/certification/course/routes.js
  api/src/certification/shared/domain/usecases/index.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
  api/tests/certification/course/acceptance/application/organization-controller_test.js
  api/tests/certification/course/integration/infrastructure/repositories/sco-certification-candidate-repository_test.js
  api/tests/certification/course/unit/application/organization-controller_test.js
  api/tests/certification/course/unit/domain/usecases/get-sco-certification-results-by-division_test.js
  api/tests/integration/infrastructure/repositories/sco-certification-candidate-repository_test.js
  api/tests/unit/application/organizations/organization-controller_test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
