Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

refactor(api): move getAuthorizationUrl controller
  api/lib/application/authentication/oidc/oidc-controller.js
  api/src/identity-access-management/application/oidc-provider.controller.js
  api/tests/identity-access-management/unit/application/oidc-provider.controller.test.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
Due: eslint --fix

feat(api): add getAuthorizationUrl usecase
  api/src/identity-access-management/domain/usecases/get-authorization-url.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/tests/identity-access-management/unit/domain/usecases/get-authorization-url.usecase.test.js
Due: eslint --fix

refactor(api): move route
  api/lib/application/authentication/oidc/index.js
  api/src/identity-access-management/application/oidc-provider.route.js
  api/tests/acceptance/application/authentication/oidc/authentication-url-route-get_test.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.route.test.js
Due: eslint --fix

Update pix1d-dp-di1.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/pix1d-dp-di1.json
Due: none

fix(orga): display credit on one line with tooltip
  orga/app/components/layout/organization-places-or-credit-info.gjs
  orga/app/styles/components/layout/organization-places-or-credit-info.scss
Due: stylelint --fix

fix?(orga): wrong color on empty state
  orga/app/styles/components/campaign/empty-state.scss
Due: stylelint --fix

Update pix1d-dp-di2.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/pix1d-dp-di2.json
Due: none

fix(mon-pix): add height 100% to div inside pix-textarea div
  mon-pix/app/styles/pages/_module-preview.scss
Due: stylelint --fix

feat(1d): disable challenge after answer
  1d/app/pods/components/challenge/challenge-embed-simulator/challenge-embed-simulator.scss
  1d/app/pods/components/challenge/challenge-embed-simulator/template.hbs
  1d/app/pods/components/challenge/challenge-item-qcm/template.hbs
  1d/app/pods/components/challenge/challenge-item-qcu/template.hbs
  1d/app/pods/components/challenge/challenge-item-qrocm/template.hbs
  1d/app/pods/components/challenge/component.js
  1d/app/pods/components/challenge/item/template.hbs
  1d/app/pods/components/challenge/template.hbs
  1d/tests/acceptance/challenge-item-qcm_test.js
  1d/tests/acceptance/challenge-item-qcu_test.js
  1d/tests/acceptance/challenge-item-qroc_test.js
Due: eslint --fix, stylelint --fix

fix(1d): remove props type attributes
  1d/app/pods/components/challenge/challenge-item-qrocm/template.hbs
  1d/app/pods/components/challenge/component.js
Due: eslint --fix

fix(junior): add aria-label to number inputs in qrocm
  1d/app/pods/components/challenge/challenge-item-qrocm/template.hbs
Due: none

:sparkles: api: add hasComplementaryReferential data to certification-point-of-contact database request
  api/lib/infrastructure/repositories/certification-point-of-contact-repository.js
  api/tests/integration/infrastructure/repositories/certification-point-of-contact-repository_test.js
Due: eslint --fix

:recycle: admin: Add external referential condition on display complementary alone options
  certif/app/components/complementary-certification-options.hbs
  certif/app/components/complementary-certification-options.js
  certif/app/components/enrolled-candidates.hbs
  certif/app/components/enrolled-candidates.js
  certif/app/components/new-candidate-modal/complementary-list.hbs
  certif/app/components/new-candidate-modal/complementary-with-referential.hbs
  certif/app/components/new-candidate-modal/index.hbs
  certif/app/components/new-candidate-modal/index.js
  certif/app/styles/app.scss
  certif/app/styles/components/new-candidate-modal.scss
  certif/tests/integration/components/complementary-certification-options_test.js
  certif/tests/integration/components/new-candidate-modal/index_test.js
  certif/tests/unit/components/enrolled-candidates_test.js
  certif/tests/unit/components/new-candidate-modal/index_test.js
Due: eslint --fix, stylelint --fix

:recycle: api: Add certification access habilitations in a toDomain in certification point of contact repository
  api/lib/infrastructure/repositories/certification-point-of-contact-repository.js
  api/lib/infrastructure/serializers/jsonapi/certification-point-of-contact-serializer.js
  api/tests/acceptance/application/certification-point-of-contacts/certification-point-of-contact-controller_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-point-of-contact-serializer_test.js
Due: eslint --fix

Correct a tiny french typo
  admin/app/components/organizations/creation-form.hbs
Due: none

feat(junior): change all 1d import references to junior
  junior/README.md
  junior/app/adapters/application.js
  junior/app/app.js
  junior/app/index.html
  junior/app/pods/components/challenge/challenge-item-auto-reply/component.js
  junior/app/pods/components/challenge/challenge-item-qcm/component.js
  junior/app/pods/components/challenge/challenge-item-qcu/component.js
  junior/app/pods/components/markdown/markdown-to-html-unsafe/component.js
  junior/app/pods/components/robot-dialog/component.js
  junior/app/utils/embed-allowed-origins.js
  junior/config/environment.js
  junior/package-lock.json
  junior/tests/index.html
  junior/tests/test-helper.js
  junior/tests/unit/utils/markdown-converter_test.js
  junior/tests/unit/utils/pshuffle_test.js
Due: eslint --fix

chore(junior): remove 1d mentions in junior package.json
  junior/package.json
Due: none

feat(junior): update all ci paths
  .circleci/config.yml
Due: eslint --fix

chore(junior): adapt root package script to junior folder
  package.json
Due: none

:recycle: api: move session usecases into enrolment folder
  api/src/certification/enrolment/domain/usecases/create-session.js
  api/src/certification/enrolment/domain/usecases/delete-session.js
  api/src/certification/enrolment/domain/usecases/update-session.js
  api/tests/certification/enrolment/unit/domain/usecases/create-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/delete-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/update-session_test.js
Due: eslint --fix

:recycle: api: Global Import error mapper from certification shared only
  api/config/server-setup-error-handling.js
  api/src/certification/shared/application/http-error-mapper-configuration.js
Due: eslint --fix

:recycle: api: move usecases into enrolment context folder
  api/src/certification/enrolment/application/session-mass-import-controller.js
  api/src/certification/enrolment/domain/usecases/add-certification-candidate-to-session.js
  api/src/certification/enrolment/domain/usecases/create-sessions.js
  api/src/certification/enrolment/domain/usecases/get-attendance-sheet.js
  api/src/certification/enrolment/domain/usecases/get-mass-import-template-information.js
  api/src/certification/enrolment/domain/usecases/get-session-certification-candidates.js
  api/src/certification/enrolment/domain/usecases/validate-sessions.js
  api/tests/certification/enrolment/integration/domain/usecases/get-mass-import-template-information_test.js
  api/tests/certification/enrolment/unit/domain/usecases/add-certification-candidate-to-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/create-sessions_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-attendance-sheet_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-mass-import-template-information_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-session-certification-candidates_test.js
  api/tests/certification/enrolment/unit/domain/usecases/validate-sessions_test.js
  api/tests/unit/application/session/session-controller_test.js
Due: eslint --fix

:truck: api: Move enrolment session services to enrolment
  api/lib/application/sessions/session-controller.js
  api/lib/domain/usecases/index.js
  api/scripts/data-generation/generate-certif-cli.js
  api/src/certification/enrolment/domain/services/certification-cpf-service.js
  api/src/certification/enrolment/domain/services/session-code-service.js
  api/src/certification/enrolment/domain/services/sessions-import-validation-service.js
  api/src/certification/enrolment/domain/services/temporary-sessions-storage-for-mass-import-service.js
  api/src/certification/session/domain/usecases/index.js
  api/tests/certification/enrolment/acceptance/application/session-mass-import-route_test.js
  api/tests/certification/enrolment/unit/domain/services/certification-cpf-service_test.js
  api/tests/certification/enrolment/unit/domain/services/session-code-service_test.js
  api/tests/certification/enrolment/unit/domain/services/sessions-import-validation-service_test.js
  api/tests/certification/enrolment/unit/domain/services/temporary-sessions-storage-for-mass-import-service_test.js
  api/tests/certification/enrolment/unit/domain/usecases/add-certification-candidate-to-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/validate-sessions_test.js
  api/tests/integration/domain/services/certification-candidates-ods-service/certification-candidates-ods-service_test.js
  api/tests/unit/domain/usecases/correct-candidate-identity-in-certification-course_test.js
Due: eslint --fix

:truck: api: Move session-validator to enrolment
  api/src/certification/enrolment/domain/validators/session-validator.js
  api/tests/certification/enrolment/unit/domain/validators/session-validator_test.js
Due: eslint --fix

:recycle: api: move Session model into enrolment context folder
  api/lib/domain/models/index.js
  api/src/certification/enrolment/domain/usecases/create-session.js
  api/src/certification/enrolment/infrastructure/serializers/session-serializer.js
  api/src/certification/session/domain/models/Session.js
  api/src/certification/session/domain/usecases/create-sessions.js
  api/src/certification/session/domain/usecases/validate-sessions.js
  api/src/certification/session/infrastructure/repositories/session-repository.js
  api/tests/certification/enrolment/unit/domain/usecases/create-session_test.js
  api/tests/certification/session/unit/domain/usecases/create-sessions_test.js
  api/tests/certification/session/unit/domain/usecases/validate-sessions_test.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-session.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/usecases/flag-session-results-as-sent-to-prescriber_test.js
Due: eslint --fix

:recycle: api: Extract session statuses to constant
  api/lib/domain/models/JurySession.js
  api/lib/domain/read-models/SessionSummary.js
  api/src/certification/session/domain/models/Session.js
  api/src/certification/session/domain/validators/session-validator.js
  api/src/certification/shared/domain/constants.js
  api/tests/certification/session/integration/infrastructure/repositories/session-repository_test.js
  api/tests/certification/session/unit/domain/models/Session_test.js
  api/tests/certification/session/unit/domain/validators/session-validator_test.js
  api/tests/certification/session/unit/infrastructure/serializers/session-serializer_test.js
Due: eslint --fix

:recycle: api: migrate session creation to new enrollment context
  api/lib/application/sessions/session-controller.js
  api/server.js
  api/src/certification/enrolment/application/http-error-mapper-configuration.js
  api/src/certification/enrolment/application/session-controller.js
  api/src/certification/enrolment/application/session-route.js
  api/src/certification/enrolment/domain/errors.js
  api/src/certification/enrolment/domain/usecases/delete-unlinked-certification-candidate.js
  api/src/certification/enrolment/infrastructure/serializers/certification-candidate-serializer.js
  api/src/certification/enrolment/infrastructure/serializers/session-serializer.js
  api/src/certification/enrolment/routes.js
  api/src/certification/session/application/certification-candidate-controller.js
  api/src/certification/session/application/http-error-mapper-configuration.js
  api/src/certification/session/application/session-controller.js
  api/src/certification/session/application/session-route.js
  api/src/certification/session/domain/errors.js
  api/src/certification/shared/application/http-error-mapper-configuration.js
  api/tests/certification/enrolment/acceptance/application/session-route_test.js
  api/tests/certification/enrolment/unit/application/http-error-mapper-configuration_test.js
  api/tests/certification/enrolment/unit/application/session-controller_test.js
  api/tests/certification/enrolment/unit/application/session-route_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/certification-candidate-serializer_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/session-serializer_test.js
  api/tests/certification/session/acceptance/application/session-route_test.js
  api/tests/certification/session/unit/application/http-error-mapper-configuration_test.js
  api/tests/certification/session/unit/application/session-controller_test.js
  api/tests/certification/session/unit/application/session-route_test.js
  api/tests/certification/session/unit/domain/usecases/delete-unlinked-certification-candidate_test.js
Due: eslint --fix

:fire: api: Drop unused/untested repo method
  api/src/certification/session/infrastructure/repositories/session-repository.js
Due: eslint --fix

:recycle: api: Move session import to enrolment
  api/src/certification/enrolment/application/session-mass-import-controller.js
  api/src/certification/enrolment/application/session-mass-import-route.js
  api/src/certification/enrolment/domain/models/Session.js
  api/src/certification/enrolment/infrastructure/files/sessions-import.js
  api/tests/certification/enrolment/acceptance/application/session-mass-import-route_test.js
  api/tests/certification/enrolment/unit/application/session-mass-import-controller_test.js
  api/tests/certification/enrolment/unit/application/session-mass-import-route_test.js
  api/tests/certification/enrolment/unit/domain/models/Session_test.js
  api/tests/certification/session/integration/infrastructure/files/sessions-import_test.js
Due: eslint --fix

:recycle: api: move controllers and routes into enrolment context folder
  api/src/certification/enrolment/application/attendance-sheet-controller.js
  api/src/certification/enrolment/application/attendance-sheet-route.js
  api/src/certification/enrolment/application/certification-candidate-controller.js
  api/src/certification/enrolment/application/certification-candidate-route.js
  api/src/certification/enrolment/routes.js
  api/src/certification/session/routes.js
  api/tests/certification/enrolment/unit/application/attendance-sheet-controller_test.js
  api/tests/certification/enrolment/unit/application/attendance-sheet-route_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-controller_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-route_test.js
Due: eslint --fix

:recycle: api: Move attendance sheet to enrolment
  api/src/certification/enrolment/infrastructure/utils/pdf/attendance-sheet-pdf.js
  api/src/certification/enrolment/infrastructure/utils/pdf/files/attendance-sheet.pdf
  api/tests/certification/enrolment/acceptance/application/attendance-sheet-controller_test.js
  api/tests/certification/enrolment/unit/application/attendance-sheet-controller_test.js
  api/tests/certification/enrolment/unit/application/attendance-sheet-route_test.js
  api/tests/certification/enrolment/unit/domain/usecases/create-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/delete-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/update-session_test.js
  api/tests/certification/session/integration/infrastructure/utils/pdf/attendance-sheet-pdf_test.js
  api/tests/certification/session/unit/domain/usecases/create-sessions_test.js
  api/tests/certification/session/unit/domain/usecases/validate-sessions_test.js
  api/tests/unit/domain/usecases/flag-session-results-as-sent-to-prescriber_test.js
Due: eslint --fix

:fire: api: Drop duplicated Session serializer
  api/lib/application/sessions/session-controller.js
  api/lib/infrastructure/serializers/jsonapi/session-serializer.js
  api/src/certification/session/application/session-controller.js
  api/tests/unit/infrastructure/serializers/jsonapi/session-serializer_test.js
Due: eslint --fix

:recycle: api: Move certification candidates to enrolment
  api/src/certification/session/domain/usecases/index.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-controller-post-certification-candidate_test.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-route_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-controller_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-route_test.js
  api/tests/certification/enrolment/unit/domain/models/Session_test.js
Due: eslint --fix

:truck: api: Rename session/Session to session/SessionManagement
  api/src/certification/session/domain/models/SessionManagement.js
  api/src/certification/session/infrastructure/repositories/session-repository.js
  api/tests/acceptance/application/session/session-for-supervising-controller-supervise_test.js
  api/tests/certification/course/unit/application/certification-attestation-controller_test.js
  api/tests/certification/course/unit/domain/usecases/get-certification-attestations-for-session_test.js
  api/tests/certification/session/integration/infrastructure/repositories/session-repository_test.js
  api/tests/certification/session/integration/infrastructure/utils/pdf/attendance-sheet-pdf_test.js
  api/tests/certification/session/unit/application/invigilator-kit-controller_test.js
  api/tests/certification/session/unit/domain/models/SessionManagement_test.js
  api/tests/certification/session/unit/domain/usecases/finalize-session_test.js
  api/tests/integration/infrastructure/repositories/sessions/session-jury-comment-repository_test.js
  api/tests/integration/infrastructure/utils/csv/certification-results/get-session-certification-results-csv_test.js
  api/tests/tooling/domain-builder/factory/certification/session/build-session.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/application/session/session-with-clea-certified-candidate-controller_test.js
  api/tests/unit/domain/services/session-publication-service_test.js
  api/tests/unit/domain/usecases/comment-session-as-jury_test.js
  api/tests/unit/domain/usecases/flag-session-results-as-sent-to-prescriber_test.js
  api/tests/unit/domain/usecases/get-clea-certified-candidate-by-session_test.js
  api/tests/unit/domain/usecases/get-session-results-by-result-recipient-email_test.js
  api/tests/unit/domain/usecases/get-session-results_test.js
  api/tests/unit/domain/usecases/publish-sessions-in-batch_test.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
  api/tests/unit/domain/usecases/supervise-session_test.js
  api/tests/unit/domain/usecases/unpublish-session_test.js
Due: eslint --fix

:recycle: api: fixing integration test
  api/tests/integration/infrastructure/repositories/sessions/session-jury-comment-repository_test.js
Due: eslint --fix

:recycle: api: Use session Management repo from enrolment
  api/src/certification/enrolment/domain/services/sessions-import-validation-service.js
  api/src/certification/enrolment/domain/usecases/delete-session.js
  api/src/certification/enrolment/domain/usecases/validate-sessions.js
  api/src/certification/enrolment/infrastructure/repositories/index.js
  api/tests/certification/enrolment/unit/domain/services/sessions-import-validation-service_test.js
  api/tests/certification/enrolment/unit/domain/usecases/delete-session_test.js
Due: eslint --fix

:recycle: api: Move get-certification-center usecase from lib to src
  api/lib/domain/usecases/get-certification-center.js
  api/src/certification/enrolment/application/session-mass-import-controller.js
  api/src/certification/enrolment/domain/usecases/get-certification-center.js
  api/src/certification/enrolment/domain/usecases/index.js
  api/tests/certification/enrolment/unit/application/session-mass-import-controller_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-certification-center_test.js
Due: eslint --fix

:recycle: api: fix attendance sheet
  api/tests/certification/session-management/integration/infrastructure/utils/pdf/attendance-sheet-pdf_test.js
Due: eslint --fix
