Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

:recycle: disable stylelint rules about hex color
  orga/app/styles/globals/colors.scss
Due: stylelint --fix

feat(certif): add method updateDataAttribute
  certif/app/services/session.js
  certif/tests/unit/services/session_test.js
Due: eslint --fix

:art: use pix ui color
  admin/app/styles/authenticated/certifications/certification/details-v3.scss
  admin/app/styles/components/certification-centers/information.scss
  admin/app/styles/components/certification-issue-report.scss
  admin/app/styles/components/common/tubes-selection.scss
  admin/app/styles/components/confirm-popup.scss
  admin/app/styles/components/target-profiles/badge-form.scss
Due: stylelint --fix

feat(api): add TargetProfileForAdmin hasLinkedAutonomousCourse property
  api/lib/domain/models/TargetProfileForAdmin.js
  api/lib/infrastructure/serializers/jsonapi/target-profile-for-admin-serializer.js
  api/src/shared/infrastructure/repositories/target-profile-for-admin-repository.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/shared/integration/infrastructure/repositories/target-profile-for-admin-repository_test.js
  api/tests/tooling/domain-builder/factory/build-target-profile-for-admin.js
  api/tests/unit/infrastructure/serializers/jsonapi/target-profile-for-admin-serializer_test.js
Due: eslint --fix

feat(certif): handle language availability close action
  certif/app/components/banner/language-availability.js
  certif/tests/integration/components/banner/language-availability_test.js
  certif/tests/unit/components/banner/language-availability_test.js
Due: eslint --fix

fix(mon-pix): prevent extra assessment checkpoint before final checkpoint
  mon-pix/app/components/checkpoint-continue.js
  mon-pix/app/routes/assessments/challenge.js
  mon-pix/app/routes/assessments/resume.js
  mon-pix/app/routes/authenticated/competences/resume.js
  mon-pix/app/routes/courses/start.js
  mon-pix/tests/unit/routes/authenticated/competences/resume_test.js
  mon-pix/tests/unit/routes/courses/start_test.js
Due: eslint --fix

feat(api): add acceptance test on assessment-participations route
  api/tests/prescription/campaign-participation/acceptance/application/campaign-participation-controller_test.js
Due: eslint --fix

feat(api): add acceptance test on admin campaign participation route
  api/tests/prescription/campaign-participation/acceptance/application/campaign-participation-controller_test.js
Due: eslint --fix

refactor(api): move to before each campaignId
  api/tests/prescription/campaign-participation/acceptance/application/campaign-participation-controller_test.js
Due: eslint --fix

Remove some remaining usage of current-lang in admin and orga
  admin/app/services/url.js
  orga/app/components/auth/login-form.js
Due: eslint --fix

Switch to released version of eslint-plugin-knex
  audit-logger/package-lock.json
  audit-logger/package.json
Due: none

Move yar plugin configuration to his own file
  api/lib/infrastructure/plugins/index.js
  api/lib/infrastructure/plugins/yar.js
Due: eslint --fix

feat(api): add acceptance test on assessment-participation results route
  api/tests/prescription/campaign-participation/acceptance/application/campaign-participation-controller_test.js
Due: eslint --fix

Use the released version of eslint-plugin-knex
  api/package-lock.json
  api/package.json
Due: none

[RELEASE] A minor is being released to 4.122.0.
  1d/package-lock.json
  1d/package.json
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

:card_file_box: api: Add answer id in certification challenges capacities table
  api/db/migrations/20240321142333_add-answer-id-in-certification-challenge-capacities.js
Due: eslint --fix

:recycle: api: Add answer id in certification assessment history and in flash algorithm
  api/db/database-builder/factory/build-certification-challenge-capacity.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/src/certification/scoring/domain/models/CertificationAssessmentHistory.js
  api/src/certification/scoring/domain/models/CertificationChallengeCapacity.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
  api/tests/certification/scoring/integration/infrastructure/repositories/certification-assessment-history-repository_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentHistory_test.js
  api/tests/tooling/domain-builder/factory/certification/scoring/build-certification-challenge-capacity.js
Due: eslint --fix

refactor(api): remove bookshelf orm from user-orga-settings repository
  api/src/shared/prescriber-management/infrastructure/repositories/user-orga-settings-repository.js
  api/tests/shared/prescriber-management/integration/infrasctructure/repositories/user-orga-settings-repository_test.js
Due: eslint --fix

refactor(api): remove bookshelf orm from user repository
  api/src/shared/infrastructure/repositories/user-repository.js
Due: eslint --fix

try to reactivate redis limiting
  api/servers.conf.erb
Due: none

feat(mon-pix): re-verify a question after click on retry
  mon-pix/app/pods/components/module/qcu/component.js
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/app/pods/passage/model.js
  mon-pix/tests/acceptance/module/retry-qcu_test.js
Due: eslint --fix

:card_file_box: api: add user id to competence-scoring-configurations table
  api/db/migrations/20240322103611_add-user-id-in-competence-scoring-configurations-table.js
Due: eslint --fix

:sparkles: api: add user id on competence scoring config creation
  api/db/database-builder/factory/build-competence-scoring-configuration.js
  api/db/seeds/data/team-certification/create-competence-scoring-configuration.js
  api/src/certification/scoring/application/scoring-configuration-controller.js
  api/src/certification/scoring/application/scoring-configuration-route.js
  api/src/certification/scoring/domain/usecases/save-competence-for-scoring-configuration.js
  api/src/certification/scoring/infrastructure/repositories/scoring-configuration-repository.js
  api/tests/certification/course/acceptance/application/certification-course-route_test.js
  api/tests/certification/scoring/integration/application/scoring-configuration-controller_test.js
  api/tests/certification/scoring/integration/infrastructure/repositories/scoring-configuration-repository_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-complete-assessment_test.js
Due: eslint --fix

fix conf
  api/servers.conf.erb
Due: none

feat(api): return auto jury comment when the certification failed due to technical issue
  api/lib/domain/events/handle-certification-scoring.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
Due: eslint --fix

sr(mon-pix): fix bem naming
  mon-pix/app/pods/components/module/qcm/template.hbs
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/app/pods/components/module/qrocm/template.hbs
Due: none

fix
  api/servers.conf.erb
Due: none

Add clean step on 1d
  1d/package.json
Due: none

Temp remove polyfill to fix build
  1d/ember-cli-build.js
  certif/ember-cli-build.js
  mon-pix/ember-cli-build.js
  orga/ember-cli-build.js
Due: eslint --fix
