Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

[RELEASE] A minor is being released to 4.86.0.
  1d/package-lock.json
  1d/package.json
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

refactor(api): move challenge-serializer.js to shared scope
  api/src/school/application/assessment-controller.js
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/application/challenges/challenge-controller.js
  api/src/shared/infrastructure/serializers/jsonapi/challenge-serializer.js
  api/tests/shared/unit/infrastructure/serializers/jsonapi/challenge-serializer_test.js
Due: eslint --fix

refactor(api): move challenges routes and controller
  api/lib/routes.js
  api/src/shared/application/challenges/challenge-controller.js
  api/src/shared/application/challenges/index.js
  api/src/shared/routes.js
  api/tests/shared/acceptance/application/challenges/challenge-controller_test.js
  api/tests/shared/unit/application/challenges/challenge-controller_test.js
  api/tests/shared/unit/application/challenges/index_test.js
Due: eslint --fix

feat(mon-pix): improve accessibility by adding a list
  mon-pix/app/components/navbar-desktop-header.hbs
  mon-pix/app/styles/components/_navbar-desktop-header.scss
Due: stylelint --fix

refactor(mon-pix): clean PixLogo component
  mon-pix/app/components/pix-logo.hbs
  mon-pix/app/styles/components/_footer.scss
  mon-pix/app/styles/components/_pix-logo.scss
Due: stylelint --fix

refactor(mon-pix): improve desktop main nav style
  mon-pix/app/components/navbar-desktop-header.hbs
  mon-pix/app/styles/components/_navbar-desktop-header.scss
Due: stylelint --fix

:bulb: api: Add jsdoc
  api/lib/domain/usecases/publish-session.js
  api/src/certification/session/domain/usecases/finalize-session.js
Due: eslint --fix

:sparkles: api: Add unfinalize session repo
  api/src/certification/session/infrastructure/repositories/session-repository.js
  api/tests/certification/session/integration/infrastructure/repositories/session-repository_test.js
Due: eslint --fix

:truck: api: Move DomainTransaction to src
  api/lib/infrastructure/DomainTransaction.js
  api/src/certification/session/domain/usecases/create-sessions.js
  api/src/certification/session/infrastructure/repositories/session-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/src/devcomp/application/trainings/training-controller.js
  api/src/devcomp/infrastructure/repositories/training-repository.js
  api/src/devcomp/infrastructure/repositories/training-trigger-repository.js
  api/src/devcomp/infrastructure/repositories/user-recommended-training-repository.js
  api/src/evaluation/application/competence-evaluations/competence-evaluation-controller.js
  api/src/evaluation/infrastructure/repositories/competence-evaluation-repository.js
  api/src/prescription/learner-management/application/organization-learners-controller.js
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/domain/DomainTransaction.js
  api/src/shared/domain/usecases/delete-unassociated-badge.js
  api/src/shared/infrastructure/repositories/assessment-repository.js
  api/src/shared/infrastructure/repositories/assessment-result-repository.js
  api/src/shared/infrastructure/repositories/badge-repository.js
  api/src/shared/infrastructure/repositories/user-repository.js
Due: eslint --fix

:sparkles: api: Add finalized-session drop with transaction
  api/src/certification/session/infrastructure/repositories/finalized-session-repository.js
  api/tests/certification/session/integration/infrastructure/repositories/finalized-session-repository_test.js
Due: eslint --fix

:recycle: api: Add domainTransaction to unfinalize-session
  api/src/certification/session/infrastructure/repositories/session-repository.js
  api/tests/certification/session/integration/infrastructure/repositories/session-repository_test.js
Due: eslint --fix

:sparkles: api: Add unfinalize use-case
  api/src/certification/session/domain/usecases/unfinalize-session.js
  api/tests/certification/session/unit/domain/usecases/unfinalize-session_test.js
Due: eslint --fix

✨api: add unfinalize session controller
  api/src/certification/session/application/session-unfinalize-controller.js
  api/tests/certification/session/unit/application/session-unfinalize-controller_test.js
Due: eslint --fix

✨api: set unfinalize session route up
  api/src/certification/session/application/session-unfinalize-controller.js
  api/src/certification/session/application/session-unfinalize-route.js
  api/src/certification/session/routes.js
  api/tests/certification/session/acceptance/application/session-unfinalize-controller_test.js
  api/tests/certification/session/unit/application/session-unfinalize-route_test.js
Due: eslint --fix

:sparkles: admin: Call route to unfinalize session
  admin/app/controllers/authenticated/sessions/session/informations.js
  admin/app/templates/authenticated/sessions/session/informations.hbs
  admin/mirage/config.js
  admin/tests/acceptance/authenticated/sessions/session/informations_test.js
  admin/tests/integration/components/routes/authenticated/sessions/session-id/informations_test.js
Due: eslint --fix

:sparkles: admin: disable unfinalise button if session published
  admin/app/templates/authenticated/sessions/session/informations.hbs
Due: none

✨admin: add unfinalize session button
  admin/app/controllers/authenticated/sessions/session/informations.js
  admin/app/styles/authenticated/sessions/session/informations.scss
  admin/app/templates/authenticated/sessions/session/informations.hbs
  admin/tests/integration/components/routes/authenticated/sessions/session-id/informations_test.js
  admin/tests/unit/controllers/authenticated/sessions/session/informations_test.js
Due: eslint --fix, stylelint --fix

:sparkles: admin: add unfinalize option in session adapter
  admin/app/adapters/session.js
  admin/tests/unit/adapters/session_test.js
Due: eslint --fix

:truck: api: Move SessionAlreadyPublishedError to src
  api/lib/domain/errors.js
  api/lib/domain/services/session-publication-service.js
  api/src/certification/session/application/http-error-mapper-configuration.js
  api/src/certification/session/domain/errors.js
  api/tests/certification/session/unit/application/http-error-mapper-configuration_test.js
  api/tests/integration/application/error-manager_test.js
  api/tests/unit/domain/services/session-publication-service_test.js
Due: eslint --fix

:sparkles: api: Check for publication before unfinalizing
  api/src/certification/session/domain/usecases/unfinalize-session.js
  api/tests/certification/session/unit/domain/usecases/unfinalize-session_test.js
Due: eslint --fix

:sparkles: api: Add isPublished to session repository
  api/src/certification/session/infrastructure/repositories/session-repository.js
  api/tests/certification/session/integration/infrastructure/repositories/session-repository_test.js
Due: eslint --fix
