Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

♻️ api: add i18n in publishInBatch
  api/lib/application/sessions/session-controller.js
  api/lib/domain/usecases/publish-sessions-in-batch.js
  api/tests/unit/application/session/session-controller_test.js
  api/tests/unit/domain/usecases/publish-sessions-in-batch_test.js
Due: eslint --fix

:sparkles: api: Remove end time from attendance sheet
  api/lib/domain/usecases/get-attendance-sheet.js
  api/lib/infrastructure/files/attendance-sheet/attendance-sheet-placeholders.js
  api/lib/infrastructure/files/attendance-sheet/non_sco_attendance_sheet_template.ods
  api/lib/infrastructure/files/attendance-sheet/sco_attendance_sheet_template.ods
  api/lib/infrastructure/files/candidates-import/SessionData.js
  api/tests/integration/domain/usecases/get-attendance-sheet/non_sco_attendance_sheet_template_target.ods
  api/tests/integration/domain/usecases/get-attendance-sheet/sco_attendance_sheet_template_target.ods
  api/tests/unit/domain/usecases/get-attendance-sheet_test.js
Due: eslint --fix

:sparkles: api: candidate import add extra time tooltips
  api/lib/infrastructure/files/candidates-import/1.5/candidates_import_template.ods
  api/lib/infrastructure/files/candidates-import/candidates-import-placeholders.js
  api/lib/infrastructure/files/candidates-import/candidates-import-transformation-structures.js
  api/lib/infrastructure/utils/ods/write-ods-utils.js
  api/tests/integration/infrastructure/utils/ods/files/1.5/candidates_import_template-sco.ods
  api/tests/integration/infrastructure/utils/ods/files/1.5/candidates_import_template-with-all-complementary-certifications-sco.ods
  api/tests/integration/infrastructure/utils/ods/files/1.5/candidates_import_template-with-billing-columns-complementary.ods
  api/tests/integration/infrastructure/utils/ods/files/1.5/candidates_import_template-with-billing-columns.ods
  api/tests/integration/infrastructure/utils/ods/files/1.5/candidates_import_template-with-one-complementary-certification-sco.ods
  api/tests/unit/domain/usecases/get-session-for-supervising_test.js
  api/translations/en.json
  api/translations/fr.json
Due: eslint --fix

:globe_with_meridians: api: Update translation to remove end hour for certification session candidates ODS
  api/translations/en.json
  api/translations/fr.json
Due: none

:recycle: api: Update ODS to remove end hour field for certification session candidates
  api/lib/infrastructure/files/candidates-import/1.5/candidates_import_template.ods
  api/lib/infrastructure/files/candidates-import/candidates-import-placeholders.js
  api/tests/integration/infrastructure/utils/ods/files/1.5/candidates_import_template-sco.ods
  api/tests/integration/infrastructure/utils/ods/files/1.5/candidates_import_template-with-all-complementary-certifications-sco.ods
  api/tests/integration/infrastructure/utils/ods/files/1.5/candidates_import_template-with-billing-columns-complementary.ods
  api/tests/integration/infrastructure/utils/ods/files/1.5/candidates_import_template-with-billing-columns.ods
  api/tests/integration/infrastructure/utils/ods/files/1.5/candidates_import_template-with-one-complementary-certification-sco.ods
Due: eslint --fix

🌐certif: add translation keys for restricted access page
  certif/app/templates/authenticated/restricted-access.hbs
  certif/translations/en.json
  certif/translations/fr.json
Due: none

🌐certif: add translation keys for sco banner
  certif/app/templates/authenticated.hbs
  certif/translations/en.json
  certif/translations/fr.json
Due: none

✨ certif: create support url for all languages
  certif/app/controllers/authenticated/sessions/add-student.js
  certif/app/services/url.js
  certif/app/templates/authenticated/sessions/add-student.hbs
  certif/tests/unit/services/url_test.js
Due: eslint --fix

🌐certif: add translation keys for sco add student list page
  certif/app/components/add-student-list.hbs
  certif/translations/en.json
  certif/translations/fr.json
Due: none

♿️certif: add extra information for external link
  certif/app/templates/authenticated/sessions/add-student.hbs
  certif/tests/acceptance/session-add-students_test.js
Due: eslint --fix

♻️ certif: move return-to translation key to common object
  certif/app/templates/authenticated/sessions/add-student.hbs
  certif/app/templates/authenticated/sessions/finalize.hbs
  certif/translations/en.json
  certif/translations/fr.json
Due: none

🌐certif: add translation keys for sco add student page
  certif/app/controllers/authenticated/sessions/add-student.js
  certif/app/templates/authenticated/sessions/add-student.hbs
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

🌐certif: add translation keys for certification-candidates-sco page
  certif/app/components/certification-candidates-sco.hbs
  certif/translations/en.json
  certif/translations/fr.json
Due: none

🌐certif: translate copy session tooltip
  certif/app/controllers/authenticated/sessions/details/parameters.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

🌐certif: translate logout page title
  certif/app/templates/logout.hbs
  certif/translations/en.json
  certif/translations/fr.json
Due: none

🌐certif: translate delete session errors
  certif/app/components/session-summary-list.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

♻️ certif: fix tooltips in session details
  certif/app/controllers/authenticated/sessions/details/parameters.js
  certif/app/templates/authenticated/sessions/details/parameters.hbs
Due: eslint --fix

♻️ certif: remove unused components
  certif/app/components/certification-candidate-in-staging-item.hbs
  certif/app/components/certification-candidate-in-staging-item.js
  certif/app/components/session-finalization/examiner-global-comment-step.hbs
  certif/app/components/session-finalization/examiner-global-comment-step.js
  certif/app/components/session-finalization/formbuilder-link-step.hbs
  certif/app/components/session-finalization/formbuilder-link-step.js
  certif/app/styles/app.scss
  certif/app/styles/components/session-finalization/examiner-global-comment-step.scss
  certif/app/styles/components/session-finalization/formbuilder-link-step.scss
  certif/app/styles/pages/authenticated/sessions/details/certification-candidates.scss
  certif/config/environment.js
  certif/tests/integration/components/certification-candidate-in-staging-item_test.js
  certif/tests/integration/components/formbuilder-link-step_test.js
  certif/tests/integration/components/session-finalization/examiner-global-comment-step_test.js
Due: eslint --fix, stylelint --fix

:sparkles: api: allow to set an initial capacity in assessment simulators
  api/lib/application/scenarios-simulator/index.js
  api/lib/application/scenarios-simulator/scenario-simulator-controller.js
  api/lib/domain/models/AssessmentSimulator.js
  api/lib/domain/usecases/simulate-flash-deterministic-assessment-scenario.js
  api/tests/integration/application/scenarios-simulator/scenario-simulator-controller_test.js
  api/tests/unit/domain/models/AssessmentSimulator_test.js
  api/tests/unit/domain/usecases/simulate-flash-deterministic-assessment-scenario_test.js
Due: eslint --fix

:sparkles: api: add missing estimated level param to getNextChallenges
  api/lib/domain/models/AssessmentSimulator.js
  api/tests/unit/domain/models/AssessmentSimulator_test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,yml, yaml}
  stylelint --fix: any of: *.scss
