Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

:sparkles: api: search target profiles attachable to a complementary
  api/lib/domain/models/TargetProfileAttachableForAdmin.js
  api/lib/infrastructure/repositories/target-profile-attachable-for-admin-repository.js
  api/tests/integration/infrastructure/repositories/target-profile-attachable-for-admin-repository_test.js
Due: eslint --fix

:sparkles: api: search attachable target profiles by name
  api/lib/infrastructure/repositories/target-profile-attachable-for-admin-repository.js
  api/tests/integration/infrastructure/repositories/target-profile-attachable-for-admin-repository_test.js
Due: eslint --fix

:sparkles: api: attachable target profiles endpoint + search by id
  api/lib/application/complementary-certifications/complementary-certification-controller.js
  api/lib/application/complementary-certifications/index.js
  api/lib/domain/models/AttachableTargetProfile.js
  api/lib/domain/models/TargetProfileAttachableForAdmin.js
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/search-attachable-target-profiles-for-admin.js
  api/lib/infrastructure/repositories/target-profile-attachable-for-admin-repository.js
  api/lib/infrastructure/repositories/target-profiles-attachable-for-admin-repository.js
  api/lib/infrastructure/serializers/jsonapi/target-profiles-attachable-for-admin-serializer.js
  api/tests/acceptance/application/complementary-certifications/complementary-certification-controller_test.js
  api/tests/integration/infrastructure/repositories/target-profiles-attachable-for-admin-repository_test.js
  api/tests/unit/application/complementary-certifications/index_test.js
  api/tests/unit/domain/usecases/search-attachable-target-profiles-for-admin_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/target-profiles-attachable-for-admin-serializer_test.js
Due: eslint --fix

:recycle: api: removing 'for-admin' in filenames
  api/lib/application/complementary-certifications/complementary-certification-controller.js
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/search-attachable-target-profiles-for-admin.js
  api/lib/domain/usecases/search-attachable-target-profiles.js
  api/lib/infrastructure/repositories/attachable-target-profiles-repository.js
  api/lib/infrastructure/serializers/jsonapi/attachable-target-profiles-serializer.js
  api/tests/integration/infrastructure/repositories/attachable-target-profiles-repository_test.js
  api/tests/unit/domain/usecases/search-attachable-target-profiles-for-admin_test.js
  api/tests/unit/domain/usecases/search-attachable-target-profiles_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/attachable-target-profiles-serializer_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/target-profiles-attachable-for-admin-serializer_test.js
Due: eslint --fix

feat(1d): add error handling pages on pix1d (not-found/errors)
  1d/app/pods/error/template.hbs
  1d/app/pods/not-found/template.hbs
  1d/app/router.js
  1d/app/styles/app.scss
  1d/app/styles/components/error.scss
  1d/translations/fr.json
Due: eslint --fix, stylelint --fix

refactor(1d): stop using error to redirect to mission end page
  1d/app/pods/assessment/challenge/route.js
  1d/tests/unit/routes/assessment-challenge_test.js
  api/lib/domain/usecases/get-next-challenge-for-pix1d.js
  api/tests/unit/domain/usecases/get-next-challenge-for-pix1d_test.js
Due: eslint --fix

:fire: Remove unused db:seed task at ra creation
  audit-logger/scripts/scalingo-post-ra-creation.sh
Due: none

feat(audit): add client secret environment variable
  audit-logger/sample.env
  audit-logger/src/lib/config.ts
Due: none

feat(audit): use newly created environment variable
  audit-logger/src/lib/infrastructure/services/authentication.service.ts
  audit-logger/tests/functional/create-audit-log.http
  audit-logger/tests/unit/infrastructure/services/authentication.service.test.ts
Due: none

refactor(audit): add static method to create Hapi server
  audit-logger/src/lib/index.ts
  audit-logger/src/lib/server.ts
  audit-logger/tests/acceptance/controllers/create-audit-log.controller.test.ts
Due: none

build(audit): add @hapi/basic dependency
  audit-logger/package-lock.json
  audit-logger/package.json
Due: none

feat(audit): register @hapi/basic plugin
  audit-logger/src/lib/server.ts
Due: none

feat(audit): implement basic authentification
  audit-logger/src/lib/controllers/create-audit-log.controller.ts
  audit-logger/src/lib/server.ts
  audit-logger/tests/acceptance/controllers/create-audit-log.controller.test.ts
Due: none

tests(audit): fix test describe text
  audit-logger/tests/acceptance/controllers/create-audit-log.controller.test.ts
Due: none

chore(audit): install bcrypt dependency
  audit-logger/package-lock.json
  audit-logger/package.json
Due: none

feat(audit): use bcrypt comparison method
  .circleci/config.yml
  audit-logger/sample.env
  audit-logger/src/lib/config.ts
  audit-logger/src/lib/infrastructure/services/authentication.service.ts
  audit-logger/src/lib/server.ts
  audit-logger/tests/acceptance/controllers/create-audit-log.controller.test.ts
  audit-logger/tests/unit/infrastructure/services/authentication.service.test.ts
Due: eslint --fix

chore(audit): set NODE_ENV value for npm script test:coverage
  audit-logger/package.json
Due: none

feat(audit): enable hapi debug mode unless in production
  audit-logger/src/lib/server.ts
Due: none

refactor(audit): extract validate method in a new service
  audit-logger/src/lib/infrastructure/services/authentication.service.ts
  audit-logger/src/lib/server.ts
  audit-logger/tests/unit/infrastructure/services/authentication.service.test.ts
Due: none

refactor(audit): return boolean in authentication service method
  audit-logger/src/lib/infrastructure/services/authentication.service.ts
  audit-logger/src/lib/server.ts
  audit-logger/tests/unit/infrastructure/services/authentication.service.test.ts
Due: none

build(audit): remove seeds command from scalingo ra creation script
  audit-logger/scripts/scalingo-post-ra-creation.sh
Due: none

Path conditions:
  eslint --fix: any of: *.{js,yml, yaml}
  stylelint --fix: any of: *.scss
