Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

:recycle: api: remove #fromInvalidCertificationCandidateError on CertificationCandidatesError
  api/lib/domain/errors.js
  api/tests/unit/domain/errors_test.js
Due: eslint --fix

:recycle: api: delete CpfBirthInformationValidationError
  api/lib/application/error-manager.js
  api/lib/domain/errors.js
  api/lib/domain/usecases/add-certification-candidate-to-session.js
  api/lib/domain/usecases/correct-candidate-identity-in-certification-course.js
  api/tests/unit/domain/usecases/add-certification-candidate-to-session_test.js
  api/tests/unit/domain/usecases/correct-candidate-identity-in-certification-course_test.js
Due: eslint --fix

✨ certif: merge candidate codes
  certif/app/components/enrolled-candidates.js
  certif/app/components/import-candidates.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

♻️ api: remove unused codes
  api/lib/domain/constants/certification-candidates-errors.js
Due: eslint --fix

:recycle: api: error more robust
  api/lib/domain/models/CertificationCandidate.js
Due: eslint --fix

♻️ certif: fix INVALID_DOCUMENT wording between french and english
  certif/tests/acceptance/session-details-certification-candidates_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

refactor(orga): add css rule to get links underlined in blocked acc ount message
  orga/app/styles/components/login-form.scss
Due: stylelint --fix

refactor(certif): add css rule to get links underlined in blocked acc ount message
  certif/app/styles/globals/forms.scss
Due: stylelint --fix

refactor(mon-pix): add css rule to get links underlined in blocked account message
  mon-pix/app/styles/components/_login-form.scss
  mon-pix/app/styles/pages/_sign-form.scss
Due: stylelint --fix

refactor(admin): add css rule to get links underlined in blocked account message
  admin/app/styles/login.scss
Due: stylelint --fix

:sparkles: api: Translate session certif result csv values
  api/lib/domain/models/CertificationResult.js
  api/lib/infrastructure/utils/csv/CertificationResultsCsvValues.js
  api/lib/infrastructure/utils/csv/SessionCertificationResultsCsvBuilder.js
  api/lib/infrastructure/utils/csv/certification-results.js
  api/tests/tooling/domain-builder/factory/build-certification-result.js
  api/tests/unit/domain/models/CertificationResult_test.js
  api/tests/unit/infrastructure/utils/csv/CertificationResultsCsvValues_test.js
  api/translations/en.json
  api/translations/fr.json
Due: eslint --fix

:sparkles: api: Translate session certif result csv headers
  api/lib/application/sessions/index.js
  api/lib/application/sessions/session-controller.js
  api/lib/domain/models/CertificationResult.js
  api/lib/infrastructure/utils/csv/CertificationResultsCsvHeaders.js
  api/lib/infrastructure/utils/csv/SessionCertificationResultsCsvBuilder.js
  api/lib/infrastructure/utils/csv/certification-results.js
  api/tests/integration/infrastructure/utils/csv/certification-results_test.js
  api/tests/unit/application/session/session-controller_test.js
  api/tests/unit/domain/models/CertificationResult_test.js
  api/translations/en.json
  api/translations/fr.json
Due: eslint --fix

:sparkles: api: Translation of division csv results
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/lib/infrastructure/utils/csv/DivisionCertificationResultsCsvBuilder.js
  api/lib/infrastructure/utils/csv/certification-results.js
  api/tests/integration/infrastructure/utils/csv/certification-results_test.js
  api/tests/unit/application/organizations/organization-controller_test.js
  api/translations/en.json
  api/translations/fr.json
Due: eslint --fix

:sparkles: api: Translate session certif result csv filename
  api/lib/application/sessions/session-controller.js
  api/lib/infrastructure/utils/csv/certification-results.js
  api/tests/integration/infrastructure/utils/csv/certification-results_test.js
  api/tests/unit/application/session/session-controller_test.js
  api/translations/en.json
  api/translations/fr.json
Due: eslint --fix

:sparkles: api: splitting certification results csv generation
  api/lib/application/organizations/organization-controller.js
  api/lib/application/sessions/session-controller.js
  api/lib/application/sessions/session-with-clea-certified-candidate-controller.js
  api/lib/infrastructure/utils/csv/certification-results/CertificationResultsCsvHeaders.js
  api/lib/infrastructure/utils/csv/certification-results/CertificationResultsCsvValues.js
  api/lib/infrastructure/utils/csv/certification-results/DivisionCertificationResultsCsvBuilder.js
  api/lib/infrastructure/utils/csv/certification-results/SessionCertificationResultsCsvBuilder.js
  api/lib/infrastructure/utils/csv/certification-results/get-clea-certified-candidate-csv.js
  api/lib/infrastructure/utils/csv/certification-results/get-division-certification-results-csv.js
  api/lib/infrastructure/utils/csv/certification-results/get-session-certification-results-csv.js
  api/scripts/certification/generate-certification-csv-results-by-session-ids.js
  api/tests/acceptance/application/session/session-with-clea-certified-candidate-controller-get-clea-certified-candidate-data-csv_test.js
  api/tests/integration/infrastructure/utils/csv/certification-results/get-clea-certified-candidate-csv_test.js
  api/tests/integration/infrastructure/utils/csv/certification-results/get-division-certification-results-csv_test.js
  api/tests/integration/infrastructure/utils/csv/certification-results/get-session-certification-results-csv_test.js
  api/tests/unit/application/organizations/organization-controller_test.js
  api/tests/unit/application/session/session-controller_test.js
  api/tests/unit/application/session/session-with-clea-certified-candidate-controller_test.js
  api/tests/unit/infrastructure/utils/csv/certification-results/CertificationResultsCsvValues_test.js
Due: eslint --fix

:global-meridians: api: English translation for certification results csv
  api/translations/en.json
  api/translations/fr.json
Due: none

:sparkles: admin: locale support to certification results retrieval
  admin/app/controllers/authenticated/sessions/session/informations.js
  admin/app/models/session.js
  admin/mirage/config.js
  admin/tests/acceptance/session_test.js
  api/lib/application/sessions/index.js
  api/lib/application/sessions/session-controller.js
  api/lib/domain/services/session-results-link-service.js
  api/tests/unit/domain/services/session-results-link-service_test.js
Due: eslint --fix

:sparkles: orga: locale support to certification results retrieval
  orga/app/controllers/authenticated/certifications.js
  orga/tests/unit/controllers/authenticated/certifications_test.js
Due: eslint --fix

:recycle: api: tech review refactoring
  api/lib/domain/services/session-results-link-service.js
  api/lib/infrastructure/utils/csv/certification-results/CertificationResultsCsvHeaders.js
  api/lib/infrastructure/utils/csv/certification-results/CertificationResultsCsvValues.js
  api/tests/unit/infrastructure/utils/csv/certification-results/CertificationResultsCsvValues_test.js
  orga/app/controllers/authenticated/certifications.js
Due: eslint --fix

:sparkles: api: changes in session certification results' template
  api/lib/domain/services/mail-service.js
  api/tests/unit/domain/services/mail-service_test.js
  api/translations/en.json
  api/translations/fr.json
Due: eslint --fix

add webcomponent in login page (signinform)
  mon-pix/app/components/signin-form.hbs
  mon-pix/app/components/signin-form.js
  mon-pix/package-lock.json
  mon-pix/package.json
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,yml, yaml}
  stylelint --fix: any of: *.scss
