Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

tests: adapt assessment banner tests
  mon-pix/app/components/ui/assessment/banner.gjs
  mon-pix/tests/integration/components/assessment-banner-test.gjs
Due: none

wip fix tests
  mon-pix/app/components/certifications/certification-ender.gjs
  mon-pix/app/components/ui/assessment/banner.gjs
  mon-pix/tests/integration/components/certification-banner-test.gjs
Due: none

feat(api): add new maxReachableLevel and maxReacahblePixScore to certification_versions table
  api/db/migrations/20261002115127_add-max-reachable-level-and-score-certification-versions.js
Due: eslint --fix

wip
  api/src/lti/application/lti.controller.js
  api/src/lti/application/lti.route.js
  api/src/lti/infrastructure/serializers/html/lti-initialization-serializer.js
Due: eslint --fix

[FEATURE] Ajoute les colonnes maxReachableLevel et maxReachablePixScore à la table certification_versions (#17714)
  api/db/migrations/20261002115127_add-max-reachable-level-and-score-certification-versions.js
Due: eslint --fix

tech(api): add database tables for knowledge states, competence scores, and migration tracking
  api/db/database-builder/factory/build-competence-score.js
  api/db/database-builder/factory/build-knowledge-state.js
  api/db/migrations/20260929100000_add-knowledge-states-table.js
  api/db/migrations/20261001110000_add-competence-scores-table.js
  api/db/migrations/20261001110100_add-knowledge-state-migrations-table.js
  api/db/seeds/data/common/knowledge-state-builder.js
  api/db/seeds/seed.js
  api/src/shared/domain/models/CompetenceScore.ts
  api/src/shared/domain/models/KnowledgeState.ts
Due: eslint --fix

tech(banner): generate dynamicly checkpoint steps
  mon-pix/app/components/ui/assessment/info-bar.gjs
  mon-pix/tests/acceptance/certification-course-test.js
  mon-pix/tests/integration/components/certifications/certification-ender-test.gjs
  mon-pix/tests/integration/components/ui/assessment/info-bar-test.gjs
Due: eslint --fix

tech: rename seed files to resemble table name
  api/datamart/seeds/cases/certification_results/verification-code-only.js
  api/datamart/seeds/cases/sco_certification_results/ine-ok.js
  api/datamart/seeds/cases/sco_certification_results/same-ine-different-person.js
  api/datamart/seeds/cases/sco_certification_results/same-person-different-birthdate.js
  api/datamart/seeds/cases/sco_certification_results/special-names.js
  api/datamart/seeds/cases/sco_certification_results/uai-ok.js
  api/datamart/seeds/populate-certification-results.js
  api/datamart/seeds/populate-sco-certification-results.js
  api/package.json
Due: eslint --fix

feature: handle certification_code_verification (migration, seeds and replication)
  api/datamart/migrations/20261002140115_add-column-certification-code-verification-in-sco-certification-results.js
  api/datamart/seeds/cases/sco_certification_results/ine-ok.js
  api/datamart/seeds/cases/sco_certification_results/same-ine-different-person.js
  api/datamart/seeds/cases/sco_certification_results/same-person-different-birthdate.js
  api/datamart/seeds/cases/sco_certification_results/special-names.js
  api/datamart/seeds/cases/sco_certification_results/uai-ok.js
  api/src/maddo/infrastructure/replications.ts
Due: eslint --fix

refactor(mon-pix): fix competence-card style
  high-level-tests/e2e-playwright/snapshots/competence-evaluation.json
  mon-pix/app/components/competence-card-default.gjs
  mon-pix/app/components/competence-card-mobile.gjs
  mon-pix/app/components/hexagon-score.gjs
  mon-pix/app/components/scorecard-details.gjs
  mon-pix/app/helpers/replace-zero-by-dash.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/_competence-card-default.scss
  mon-pix/app/styles/components/_competence-card-mobile.scss
  mon-pix/app/styles/components/_competence-card.scss
  mon-pix/tests/integration/components/competence-card-default-test.gjs
  mon-pix/tests/integration/components/competence-card-mobile-test.gjs
  mon-pix/tests/integration/components/hexagon-score-test.gjs
  mon-pix/tests/integration/components/profile-content-test.gjs
  mon-pix/tests/integration/components/scorecard-details-test.gjs
  mon-pix/tests/unit/helpers/replace-zero-by-dash-test.js
Due: eslint --fix, stylelint --fix

feat(mon-pix): use french wording for tunnel url
  mon-pix/app/router.js
Due: eslint --fix

feat(mon-pix): redirect to presentation page with replaceWith in tunnel for completed combined course
  mon-pix/app/components/routes/combined-courses/tunnel.gjs
  mon-pix/tests/integration/components/routes/combined-courses/tunnel-test.gjs
Due: none

feat(mon-pix): redirect to tunnel from page chargement
  mon-pix/app/components/routes/combined-courses/process-custom-passages.gjs
  mon-pix/tests/integration/components/routes/combined-courses/process-custom-passages-test.gjs
Due: none

feat(api): set tunnel url as result page button url for non-diag campaigns in combined courses
  api/src/quest/domain/models/combined-courses/value-objects/Campaign.ts
  api/tests/quest/unit/domain/models/Campaign_test.ts
Due: none

wip2
  api/src/lti/application/lti.controller.js
  api/src/lti/domain/usecases/register-lti-platform.usecase.js
Due: eslint --fix

[TECH] Correction de style dans PixApp (PIX-24554). (#17717)
  high-level-tests/e2e-playwright/snapshots/competence-evaluation.json
  mon-pix/app/components/competence-card-default.gjs
  mon-pix/app/components/competence-card-mobile.gjs
  mon-pix/app/components/copy-paste-button.gjs
  mon-pix/app/components/hexagon-score.gjs
  mon-pix/app/components/scorecard-details.gjs
  mon-pix/app/helpers/replace-zero-by-dash.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/_competence-card-default.scss
  mon-pix/app/styles/components/_competence-card-mobile.scss
  mon-pix/app/styles/components/_competence-card.scss
  mon-pix/app/styles/components/_copy-paste-button.scss
  mon-pix/app/styles/components/_hexagon-score.scss
  mon-pix/app/styles/components/user-certifications/list-item.scss
  mon-pix/tests/integration/components/competence-card-default-test.gjs
  mon-pix/tests/integration/components/competence-card-mobile-test.gjs
  mon-pix/tests/integration/components/copy-paste-button-test.gjs
  mon-pix/tests/integration/components/dashboard/content-test.gjs
  mon-pix/tests/integration/components/hexagon-score-test.gjs
  mon-pix/tests/integration/components/profile-content-test.gjs
  mon-pix/tests/integration/components/scorecard-details-test.gjs
  mon-pix/tests/unit/helpers/replace-zero-by-dash-test.js
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: eslint --fix, stylelint --fix

feat(api): add attestation category to target profile model
  api/src/prescription/target-profile/domain/validators/base-validation.js
  api/src/shared/domain/models/TargetProfile.js
Due: eslint --fix

feat(admin): add France Travail naming convention hint on badge key field
  admin/app/components/target-profiles/badge-form.gjs
Due: none

refactor(mon-pix): refactor routes in combined-courses
  mon-pix/app/components/campaign-participation-overview/card/ended.gjs
  mon-pix/app/components/campaign-participation-overview/card/ongoing.gjs
  mon-pix/app/components/pages/organizations/invited/reconciliation.gjs
  mon-pix/app/components/routes/combined-courses/process-custom-passages.gjs
  mon-pix/app/components/routes/combined-courses/tunnel.gjs
  mon-pix/app/components/routes/organizations/invited/associate-sup-student-form.gjs
  mon-pix/app/controllers/organizations/invited/student-sco.js
  mon-pix/app/routes/campaigns.js
  mon-pix/app/routes/combined-courses/combined-course.js
  mon-pix/app/routes/combined-courses/combined-course/presentation.js
  mon-pix/app/routes/combined-courses/combined-course/process-custom-passages.js
  mon-pix/app/routes/combined-courses/combined-course/tunnel.js
  mon-pix/app/routes/organizations/invited.js
  mon-pix/app/routes/organizations/invited/reconciliation.js
  mon-pix/app/routes/organizations/invited/student-sco.js
  mon-pix/app/routes/organizations/invited/student-sup.js
  mon-pix/app/services/session.js
  mon-pix/app/templates/application.gjs
  mon-pix/app/templates/combined-courses/combined-course/presentation.gjs
  mon-pix/app/templates/combined-courses/combined-course/process-custom-passages.gjs
  mon-pix/app/templates/combined-courses/combined-course/tunnel.gjs
  mon-pix/tests/integration/components/routes/combined-courses/process-custom-passages-test.gjs
  mon-pix/tests/integration/components/routes/combined-courses/tunnel-test.gjs
  mon-pix/tests/unit/routes/combined-courses/combined-course/presentation-test.js
  mon-pix/tests/unit/routes/combined-courses/combined-course/process-custom-passages-test.js
  mon-pix/tests/unit/routes/organizations/invited-test.js
  mon-pix/tests/unit/routes/organizations/invited/student-sco-test.js
  mon-pix/tests/unit/routes/organizations/invited/student-sup-test.js
Due: eslint --fix

feat(admin): add attestation category and rename back to school category label on target profiles
  admin/app/helpers/target-profile-categories.js
  admin/tests/integration/components/target-profiles/category-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

feat(admin): remove duplicate target profile categories translations object
  admin/app/components/target-profiles/category.gjs
  admin/app/components/target-profiles/edit-target-profile-form.gjs
  admin/app/models/target-profile.js
Due: eslint --fix

feat(orga): add attestation category and rename back to school category label on target profiles
  orga/translations/de.json
  orga/translations/en.json
  orga/translations/es.json
  orga/translations/fr.json
  orga/translations/it.json
  orga/translations/nl.json
Due: none

tech(api): add database tables for knowledge states, competence scores, and migration tracking
  api/db/database-builder/factory/build-knowledge-state.js
  api/db/database-builder/factory/build-user-competence-score.js
  api/db/migrations/20260929100000_add-knowledge-states-table.js
  api/db/migrations/20261001110000_add-user-competence-scores-table.js
  api/db/migrations/20261001110100_add-knowledge-state-migrations-table.js
  api/db/seeds/data/common/knowledge-state-builder.js
  api/db/seeds/seed.js
  api/src/shared/domain/models/KnowledgeState.ts
  api/src/shared/domain/models/UserCompetenceScore.ts
Due: eslint --fix

feat(api): attach new cert center to org structure
  api/src/organizational-entities/domain/usecases/create-certification-center.usecase.js
Due: eslint --fix

feat(api): replace structure update with save
  api/src/organizational-entities/domain/usecases/attach-certification-center-to-organization.usecase.js
  api/src/organizational-entities/infrastructure/repositories/structure.repository.js
  api/tests/organizational-entities/integration/infrastructure/repositories/structure.repository.test.js
Due: eslint --fix

refactor(api): remove unused attach repo method
  api/src/organizational-entities/infrastructure/repositories/organization-for-admin.repository.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin.repository.test.js
Due: eslint --fix

feat(api): create structure on cert center creation
  api/src/organizational-entities/domain/usecases/create-certification-center.usecase.js
  api/tests/organizational-entities/integration/domain/usecases/create-certification-center.usecase.test.js
Due: eslint --fix

tech(banner): generate dynamicly checkpoint steps
  high-level-tests/e2e-playwright/tests/assessments/certification.spec.ts
  mon-pix/app/components/certifications/certification-ender.gjs
  mon-pix/app/components/ui/assessment/info-bar.gjs
  mon-pix/tests/acceptance/certification-course-test.js
  mon-pix/tests/integration/components/certifications/certification-ender-test.gjs
  mon-pix/tests/integration/components/ui/assessment/info-bar-test.gjs
Due: eslint --fix

[BUGFIX] Afficher le texte placeholder dans les PixSelect sur Junior (PIX-24539). (#17711)
  junior/app/components/challenge/content/qrocm.gjs
  junior/tests/acceptance/challenge-item-qrocm-test.js
Due: eslint --fix

[FEATURE] Redirections vers le tunnel pour les campagnes de parcours combinés (PIX-24507) (#17704)
  api/src/quest/domain/models/combined-courses/value-objects/Campaign.ts
  api/tests/quest/unit/domain/models/Campaign_test.ts
  mon-pix/app/components/campaign-participation-overview/card/ended.gjs
  mon-pix/app/components/campaign-participation-overview/card/ongoing.gjs
  mon-pix/app/components/pages/organizations/invited/reconciliation.gjs
  mon-pix/app/components/routes/combined-courses/process-custom-passages.gjs
  mon-pix/app/components/routes/combined-courses/tunnel.gjs
  mon-pix/app/components/routes/organizations/invited/associate-sup-student-form.gjs
  mon-pix/app/controllers/organizations/invited/student-sco.js
  mon-pix/app/router.js
  mon-pix/app/routes/campaigns.js
  mon-pix/app/routes/combined-courses/combined-course.js
  mon-pix/app/routes/combined-courses/combined-course/presentation.js
  mon-pix/app/routes/combined-courses/combined-course/process-custom-passages.js
  mon-pix/app/routes/combined-courses/combined-course/tunnel.js
  mon-pix/app/routes/organizations/invited.js
  mon-pix/app/routes/organizations/invited/reconciliation.js
  mon-pix/app/routes/organizations/invited/student-sco.js
  mon-pix/app/routes/organizations/invited/student-sup.js
  mon-pix/app/services/session.js
  mon-pix/app/templates/application.gjs
  mon-pix/app/templates/combined-courses/combined-course/presentation.gjs
  mon-pix/app/templates/combined-courses/combined-course/process-custom-passages.gjs
  mon-pix/app/templates/combined-courses/combined-course/tunnel.gjs
  mon-pix/tests/integration/components/routes/combined-courses/process-custom-passages-test.gjs
  mon-pix/tests/integration/components/routes/combined-courses/tunnel-test.gjs
  mon-pix/tests/unit/routes/combined-courses/combined-course/presentation-test.js
  mon-pix/tests/unit/routes/combined-courses/combined-course/process-custom-passages-test.js
  mon-pix/tests/unit/routes/organizations/invited-test.js
  mon-pix/tests/unit/routes/organizations/invited/student-sco-test.js
  mon-pix/tests/unit/routes/organizations/invited/student-sup-test.js
Due: eslint --fix

tech(admin): add form for certificate generator
  admin/app/components/tools/certification.gjs
  admin/app/components/tools/certification/certificate-generator.gjs
Due: none

tech(api): add route for pdf generator
  api/src/certification/results/application/certificate-preview-controller.js
  api/src/certification/results/application/certificate-preview-route.js
  api/src/certification/results/routes.js
Due: eslint --fix

fix(api): put right color and disorder competences
  api/src/certification/results/application/certificate-preview-controller.js
Due: eslint --fix

fix(admin): fix nebulix import
  admin/app/components/tools/certification/certificate-generator.gjs
Due: none

refactor(api): splits /api/lti/launch in 2 distinct endpoints
  api/src/lti/application/lti.controller.js
  api/src/lti/application/lti.route.js
  api/src/lti/domain/usecases/register-lti-platform.usecase.js
  api/src/lti/infrastructure/serializers/html/lti-initialization-serializer.js
  api/tests/lti/integration/domain/usecases/register-lti-platform.usecase.test.js
Due: eslint --fix

feat(orga): add attestation download click plausible custom event
  orga/app/constants/metrics-event-name.ts
  orga/app/controllers/authenticated/attestations.js
  orga/tests/unit/controllers/authenticated/attestations-test.js
Due: eslint --fix

[TECH] LTI : Deux routes distinctes pour choix d’activité et passage de campagne (PIX-24538) (#17723)
  api/src/lti/application/lti.controller.js
  api/src/lti/application/lti.route.js
  api/src/lti/domain/usecases/register-lti-platform.usecase.js
  api/src/lti/infrastructure/serializers/html/lti-initialization-serializer.js
  api/tests/lti/integration/domain/usecases/register-lti-platform.usecase.test.js
Due: eslint --fix

chore(release): 5.514.0 [skip ci]
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
  packages/pix-types/package.json
Due: none

Notes added by 'git notes add'
  82acecc6a8b7f3a176a86c60df5aea5f8af4658a
Due: none
