Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

Inject dependencies
  api/lib/domain/usecases/sessions-mass-import/validate-sessions.js
  api/tests/unit/domain/usecases/sessions-mass-import/validate-sessions_test.js
Due: eslint --fix

Inject dependencies
  api/tests/unit/domain/usecases/sessions-mass-import/validate-sessions_test.js
Due: eslint --fix

Add canary release to all nginx
  certif/servers.conf.erb
  mon-pix/servers.conf.erb
  orga/servers.conf.erb
Due: none

Allow to loadbalance api requests from pix admin to a canary release
  admin/servers.conf.erb
Due: none

[FEATURE] Suppression des références Gravitee (PIX-7909)
  api/lib/config.js
  api/lib/domain/usecases/authenticate-application.js
  api/lib/infrastructure/authentication.js
  api/tests/acceptance/application/authentication/authentication-route_test.js
  api/tests/acceptance/application/certifications-livret-scolaire/certification-controller_test.js
  api/tests/test-helper.js
Due: eslint --fix

feat(mon-pix): use typography design token for header challenge
  mon-pix/app/styles/components/_assessment-banner.scss
  mon-pix/app/styles/components/_challenge-statement.scss
  mon-pix/app/styles/components/_progress-bar.scss
Due: stylelint --fix

feat(admin): add documentation link in training pages header
  admin/app/styles/components/trainings/training-triggers-tab.scss
  admin/app/styles/globals/page.scss
  admin/app/templates/authenticated/trainings/list.hbs
  admin/app/templates/authenticated/trainings/new.hbs
  admin/app/templates/authenticated/trainings/training.hbs
  admin/app/templates/authenticated/trainings/training/triggers.hbs
Due: stylelint --fix

fix(mon-pix): improve challenge action buttons screen reader labels
  mon-pix/app/components/challenge-actions.hbs
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: none

[RELEASE] A minor is being released to 3.350.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

feat(api): add eslint-nibble to monitor migration
  api/package-lock.json
  api/package.json
Due: none

feat(api): add codemod to migrate cjs class anonymous exports to cjs named exports
  api/codemods/migrate-cjs-to-esm/transforms/prepare.js
  api/codemods/migrate-cjs-to-esm/transforms/src/cjs-anonymous-class-export-to-cjs-named-export.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-class-export-to-cjs-named-export/simple.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-class-export-to-cjs-named-export/simple.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__tests__/cjs-anonymous-class-export-to-cjs-named-export-test.js
Due: eslint --fix

Add named export codemod
  api/codemods/migrate-cjs-to-esm/transforms/prepare.js
  api/codemods/migrate-cjs-to-esm/transforms/src/add-file-extension-to-import.js
  api/codemods/migrate-cjs-to-esm/transforms/src/cjs-anonymous-function-export-to-cjs-named-export.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-function-export-to-cjs-named-export/asynchronous-function.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-function-export-to-cjs-named-export/asynchronous-function.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-function-export-to-cjs-named-export/correctly-transform-with-private-function.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-function-export-to-cjs-named-export/correctly-transform-with-private-function.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-function-export-to-cjs-named-export/correctly-transforms-with-imports.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-function-export-to-cjs-named-export/correctly-transforms-with-imports.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-function-export-to-cjs-named-export/do-not-transform-named-export.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-function-export-to-cjs-named-export/do-not-transform-named-export.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-function-export-to-cjs-named-export/synchronous-function.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-function-export-to-cjs-named-export/synchronous-function.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__tests__/cjs-anonymous-function-export-to-cjs-named-export-test.js
Due: eslint --fix

feat(api): create codemod for functions inside named export
  api/codemods/migrate-cjs-to-esm/transforms/src/cjs-named-export-containing-functions-to-cjs-named-export.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-named-export-containing-functions-to-cjs-named-export/asynchronous-function.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-named-export-containing-functions-to-cjs-named-export/asynchronous-function.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-named-export-containing-functions-to-cjs-named-export/complex-example.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-named-export-containing-functions-to-cjs-named-export/complex-example.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-named-export-containing-functions-to-cjs-named-export/function-with-object-params.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-named-export-containing-functions-to-cjs-named-export/function-with-object-params.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-named-export-containing-functions-to-cjs-named-export/synchronous-function.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-named-export-containing-functions-to-cjs-named-export/synchronous-function.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-named-export-containing-functions-to-cjs-named-export/synchronous-functions.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-named-export-containing-functions-to-cjs-named-export/synchronous-functions.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__tests__/cjs-named-export-containing-functions-to-cjs-named-export.js
Due: eslint --fix

feat(api): add codemod to migrate joi cjs anonymous call expression exports to cjs named exports
  api/codemods/migrate-cjs-to-esm/transforms/prepare.js
  api/codemods/migrate-cjs-to-esm/transforms/src/joi-anonymous-call-expression-export-to-cjs-named-export.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/joi-anonymous-call-expression-export-to-cjs-named-export/joi-object-case.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/joi-anonymous-call-expression-export-to-cjs-named-export/joi-object-case.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__tests__/joi-anonymous-call-expression-export-to-cjs-named-export-test.js
Due: eslint --fix

Create CJS to ESM named import codemod
  api/codemods/migrate-cjs-to-esm/transforms/execute.js
  api/codemods/migrate-cjs-to-esm/transforms/src/cjs-import-to-esm-named-import.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-import-to-esm-named-import/cjs-anonymous-import-to-esm-named-import.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-import-to-esm-named-import/cjs-anonymous-import-to-esm-named-import.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-import-to-esm-named-import/cjs-import-to-esm-named-import.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-import-to-esm-named-import/cjs-import-to-esm-named-import.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-import-to-esm-named-import/cjs-renamed-import-to-esm-alias-import.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-import-to-esm-named-import/cjs-renamed-import-to-esm-alias-import.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-import-to-esm-named-import/multiple-cjs-import.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-import-to-esm-named-import/multiple-cjs-import.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-import-to-esm-named-import/should-not-migrate-package-import.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-import-to-esm-named-import/should-not-migrate-package-import.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__tests__/cjs-import-to-esm-named-import.js
Due: eslint --fix

feat(api): add codemod to migrate bookshelf cjs anonymous call expression exports to cjs named exports
  api/codemods/migrate-cjs-to-esm/transforms/prepare.js
  api/codemods/migrate-cjs-to-esm/transforms/src/bookshelf-anonymous-call-expression-export-to-cjs-named-export.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/bookshelf-anonymous-call-expression-export-to-cjs-named-export/bookshelf-model-case.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/bookshelf-anonymous-call-expression-export-to-cjs-named-export/bookshelf-model-case.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__tests__/bookshelf-anonymous-call-expression-export-to-cjs-named-export.js
Due: eslint --fix

feat(api): check all modules are esm
  api/.codemodsignore
  api/.eslintignore
  api/.eslintrc.yaml
  api/db/seeds/.eslintrc.yaml
  api/lib/.eslintrc.cjs
  api/lib/application/.eslintrc.cjs
  api/package-lock.json
  api/package.json
  api/tests/.eslintrc.yaml
  api/tests/integration/application/.eslintrc.cjs
Due: none

Create CJS export to ESM export
  api/codemods/migrate-cjs-to-esm/transforms/execute.js
  api/codemods/migrate-cjs-to-esm/transforms/src/cjs-export-to-esm-export.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-export-to-esm-export/cjs-export-to-esm-export.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-export-to-esm-export/cjs-export-to-esm-export.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__tests__/cjs-export-to-esm-export.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/add-file-extension-to-import-test.js
Due: eslint --fix

feat(api): create codemod for anonymous export from identifier to named export
  api/codemods/migrate-cjs-to-esm/transforms/prepare.js
  api/codemods/migrate-cjs-to-esm/transforms/src/cjs-anonymous-export-to-cjs-named-export.js
  api/codemods/migrate-cjs-to-esm/transforms/src/cjs-named-export-containing-functions-to-cjs-named-export.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-export-to-cjs-named-export/class-export.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-export-to-cjs-named-export/class-export.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-named-export-containing-functions-to-cjs-named-export/replace-reserved-keyword.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-named-export-containing-functions-to-cjs-named-export/replace-reserved-keyword.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__tests__/cjs-anonymous-export-to-cjs-named-export-test.js
Due: eslint --fix

feat(api): create codemod for package import
  api/codemods/migrate-cjs-to-esm/transforms/src/cjs-package-import-to-esm-import.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-package-import-to-esm-import/common-case.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-package-import-to-esm-import/common-case.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__tests__/cjs-package-import-to-esm-import.js
Due: eslint --fix

feat(api): create codemod for import invocation only
  api/codemods/migrate-cjs-to-esm/transforms/execute.js
  api/codemods/migrate-cjs-to-esm/transforms/src/cjs-import-invocation-only-to-esm-import.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-import-invocation-only-to-esm-import/preserve-library.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-import-invocation-only-to-esm-import/preserve-library.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-import-invocation-only-to-esm-import/preserve.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-import-invocation-only-to-esm-import/preserve.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-import-invocation-only-to-esm-import/replace.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-import-invocation-only-to-esm-import/replace.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__tests__/cjs-import-invocation-only-to-esm-import.js
  api/package.json
Due: eslint --fix

faet(api): create codemod for cjs export directly specified on exports expression
  api/codemods/migrate-cjs-to-esm/transforms/execute.js
  api/codemods/migrate-cjs-to-esm/transforms/src/cjs-export-directly-specified-on-exports-expression-key-to-esm.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-export-directly-specified-on-exports-expression-key-to-esm/cjs-export-directly-specified-on-exports-expression-key-to-esm.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-export-directly-specified-on-exports-expression-key-to-esm/cjs-export-directly-specified-on-exports-expression-key-to-esm.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__tests__/cjs-export-directly-specified-on-exports-expression-key-to-esm.js
Due: eslint --fix

feat(api): create codemod to use namespace import for modules with callExpression related to import
  api/codemods/migrate-cjs-to-esm/transforms/execute.js
  api/codemods/migrate-cjs-to-esm/transforms/src/cjs-anonymous-import-to-namespace-import.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-not-use-alias-import-for-library-import.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-not-use-alias-import-for-library-import.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-not-use-alias-import-for-named-imports.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-not-use-alias-import-for-named-imports.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-not-use-for-security-pre-handler-path.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-not-use-for-security-pre-handler-path.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-not-use-namespace-import-for-controller-import.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-not-use-namespace-import-for-controller-import.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-not-use-namespace-import-for-token-service-import.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-not-use-namespace-import-for-token-service-import.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-use-for-datasource-import.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-use-for-datasource-import.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-use-for-repository-import.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-use-for-repository-import.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-use-for-serializer-import.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-use-for-serializer-import.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-use-for-usecase-import.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-use-for-usecase-import.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-use-namespace-import-for-appliction-route.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-use-namespace-import-for-appliction-route.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-use-namespace-import-for-service-import.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-anonymous-import-to-namespace-import/should-use-namespace-import-for-service-import.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__tests__/cjs-anonymous-import-to-namespace-import.js
Due: eslint --fix

feat(api): configure codemod to make api pass the build step
  api/package.json
Due: none

feat(api): create codemod for cjs named import using require with a key
  api/codemods/migrate-cjs-to-esm/transforms/execute.js
  api/codemods/migrate-cjs-to-esm/transforms/src/cjs-named-import-with-key-chained-require-to-esm-named-import.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-named-import-with-key-chained-require-to-esm-named-import/cjs-named-import-with-key-chained-require-to-esm-named-import.input.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__testfixtures__/cjs-named-import-with-key-chained-require-to-esm-named-import/cjs-named-import-with-key-chained-require-to-esm-named-import.output.js
  api/codemods/migrate-cjs-to-esm/transforms/tests/__tests__/cjs-named-import-with-key-chained-require-to-esm-named-import.js
Due: eslint --fix

Add index.js
  api/lib/domain/services/sessions-mass-import/temporary-sessions-storage-for-mass-import-service.js
  api/server.js
Due: eslint --fix

chore(api): refactor to avoid js reserved keyword delete
  api/lib/application/sessions/index.js
  api/lib/domain/usecases/sessions-mass-import/create-sessions.js
Due: eslint --fix

chore(api): manually fix invalid imports on builders
  api/lib/application/target-profiles/presenter/pdf/builder/area-builder.js
  api/lib/application/target-profiles/presenter/pdf/builder/competence-builder.js
  api/lib/application/target-profiles/presenter/pdf/builder/thematic-builder.js
  api/lib/application/target-profiles/presenter/pdf/learning-content-pdf-presenter.js
Due: eslint --fix

Add exception for process.exit in worker
  api/worker.js
Due: eslint --fix

chore(api): fix no-undef lint rule
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/domain/usecases/get-identity-providers.js
Due: eslint --fix

Import JSON files
  api/translations/index.js
Due: eslint --fix
