Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat(api): use extraColmns on usecase
  api/src/prescription/organization-learner/domain/usecases/find-paginated-filtered-participants.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-paginated-filtered-participants_test.js
Due: eslint --fix

refactor: move open-api-doc to src
  api/lib/application/authentication/index.js
  api/lib/application/pole-emploi/index.js
  api/src/certification/complementary-certification/application/attach-target-profile-route.js
  api/src/certification/session-management/application/session-live-alert-route.js
  api/src/shared/infrastructure/open-api-doc/authentication/response-authentication-doc.js
  api/src/shared/infrastructure/open-api-doc/pole-emploi/envois-doc.js
  api/src/shared/infrastructure/open-api-doc/pole-emploi/erreur-doc.js
  api/tests/unit/infrastructure/open-api-doc/pole-emploi/envois-doc_test.js
  api/tests/unit/infrastructure/open-api-doc/pole-emploi/erreur-doc_test.js
Due: eslint --fix

feat(junior): add favicon to pix junior
  junior/public/favicon.ico
Due: none

feat(orga):update-wording
  orga/translations/fr.json
Due: none

feat(orga)-update-wording-NL-and-EN
  orga/translations/en.json
  orga/translations/nl.json
Due: none

feat(mon-pix): review modulix skip button design
  mon-pix/app/components/module/grain.hbs
Due: none

refactor(mon-pix): migrate modulix image element component to gjs
  mon-pix/app/components/module/element/image.gjs
  mon-pix/app/components/module/element/image.hbs
  mon-pix/app/components/module/element/image.js
Due: eslint --fix

refactor(mon-pix): migrate modulix video element component to gjs
  mon-pix/app/components/module/element/video.gjs
  mon-pix/app/components/module/element/video.hbs
  mon-pix/app/components/module/element/video.js
Due: eslint --fix

feat(mon-pix): review alternative transcriptions button design
  mon-pix/app/components/module/element/image.gjs
  mon-pix/app/components/module/element/video.gjs
Due: none

:recycle: api: update parameter passing for repository method
  api/src/certification/session-management/domain/usecases/get-jury-certification.js
  api/src/certification/session-management/infrastructure/repositories/jury-certification-repository.js
  api/tests/certification/session-management/integration/infrastructure/repositories/jury-certification-repository_test.js
  api/tests/certification/session-management/unit/domain/usecases/get-jury-certification_test.js
Due: eslint --fix

:truck: api: move get jury certification controller to src
  api/lib/application/certification-courses/certification-course-controller.js
  api/src/certification/session-management/application/jury-certification-controller.js
  api/tests/certification/session-management/unit/application/jury-certification-controller_test.js
  api/tests/unit/application/certification-courses/certification-course-controller_test.js
Due: eslint --fix

:truck: api: move acceptance test to src
  api/tests/acceptance/application/certification-courses/certification-course-controller_test.js
  api/tests/certification/session-management/acceptance/application/jury-certification-route_test.js
Due: eslint --fix

:recycle: refactor: rename test to match file
  api/tests/certification/session-management/unit/application/jury-certification-controller_test.js
Due: eslint --fix

:truck: api: move get jury certification usecase to src
  api/src/certification/session-management/domain/usecases/get-jury-certification.js
  api/tests/certification/session-management/unit/domain/usecases/get-jury-certification_test.js
Due: eslint --fix

:truck: api: move ComplementaryCertificationCourseResultForJuryCertificationWithExternal to src
  api/lib/infrastructure/repositories/jury-certification-repository.js
  api/src/certification/session-management/domain/read-models/ComplementaryCertificationCourseResultForJuryCertificationWithExternal.js
  api/tests/certification/session-management/unit/domain/read-models/ComplementaryCertificationCourseResultForJuryCertificationWithExternal_test.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-course-result-for-certification-with-external.js
Due: eslint --fix

:truck: api: move ComplementaryCertificationCourseResultForJuryCertification to src
  api/lib/infrastructure/repositories/jury-certification-repository.js
  api/src/certification/session-management/domain/read-models/ComplementaryCertificationCourseResultForJuryCertification.js
  api/tests/certification/session-management/unit/domain/read-models/ComplementaryCertificationCourseResultForJuryCertification_test.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-course-result-for-certification.js
Due: eslint --fix

:truck: api: move jury certification repository to src
  api/lib/domain/usecases/index.js
  api/src/certification/session-management/infrastructure/repositories/jury-certification-repository.js
  api/tests/certification/session-management/integration/infrastructure/repositories/jury-certification-repository_test.js
Due: eslint --fix

:truck: api: move get jury certification route to src
  api/lib/application/certification-courses/index.js
  api/src/certification/session-management/application/jury-certification-route.js
  api/src/certification/session-management/routes.js
  api/tests/certification/session-management/unit/application/jury-certification-route_test.js
  api/tests/unit/application/certification-courses/index_test.js
Due: eslint --fix

:truck: api: move jury certification serializer to src
  api/src/certification/session-management/application/jury-certification-controller.js
  api/src/certification/session-management/infrastructure/serializers/jury-certification-serializer.js
  api/tests/certification/session-management/unit/infrastructure/serializers/jury-certification-serializer_test.js
Due: eslint --fix

:heavy_plus_sign: api: inject moved repository
  api/src/certification/session-management/domain/usecases/index.js
  api/src/certification/session-management/infrastructure/repositories/index.js
Due: eslint --fix

feat(orga): update the banner info in orga for sco-1d organization
  orga/app/controllers/authenticated/missions/list.js
  orga/app/styles/pages/authenticated/mission.scss
  orga/app/templates/authenticated/missions/list.hbs
  orga/tests/acceptance/missions-list_test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Due: eslint --fix, stylelint --fix

feat: add 'dev' npm scripts for developpement usage
  admin/package.json
  api/package.json
  audit-logger/package.json
  certif/package.json
  junior/package.json
  mon-pix/package.json
  orga/package.json
  package.json
Due: none

docs: replace 'npm run start' with 'npm run dev'
  INSTALLATION.md
  admin/README.md
  api/src/devcomp/infrastructure/datasources/learning-content/readme.md
  junior/README.md
Due: none

refactor: use npm run dev in docker related files
  docker/docker-compose-dev-api.yaml
  high-level-tests/e2e/docker-compose.yaml
Due: none

fix(mon-pix): i18n for duration in timed-challenge-instruction
  mon-pix/app/components/timed-challenge-instructions.js
  mon-pix/tests/unit/components/timed-challenge-instructions_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: eslint --fix

i18n(mon-pix): pull NL and ES translations for new keys
  mon-pix/translations/es.json
  mon-pix/translations/nl.json
Due: none

sr(mon-pix): remove old translation keys from nl and es
  mon-pix/translations/es.json
  mon-pix/translations/nl.json
Due: none

:recycle: refactor : move Bookshelf.js to src
  api/src/certification/shared/infrastructure/repositories/certification-report-repository.js
  api/src/shared/infrastructure/bookshelf.js
  api/src/shared/infrastructure/orm-models/Answer.js
  api/src/shared/infrastructure/orm-models/Assessment.js
  api/src/shared/infrastructure/orm-models/AuthenticationMethod.js
  api/src/shared/infrastructure/orm-models/Badge.js
  api/src/shared/infrastructure/orm-models/Campaign.js
  api/src/shared/infrastructure/orm-models/CampaignParticipation.js
  api/src/shared/infrastructure/orm-models/CertificationCandidate.js
  api/src/shared/infrastructure/orm-models/CertificationCenter.js
  api/src/shared/infrastructure/orm-models/CertificationCenterMembership.js
  api/src/shared/infrastructure/orm-models/CertificationChallenge.js
  api/src/shared/infrastructure/orm-models/CertificationCourse.js
  api/src/shared/infrastructure/orm-models/CertificationIssueReport.js
  api/src/shared/infrastructure/orm-models/ComplementaryCertification.js
  api/src/shared/infrastructure/orm-models/ComplementaryCertificationCourse.js
  api/src/shared/infrastructure/orm-models/KnowledgeElement.js
  api/src/shared/infrastructure/orm-models/Membership.js
  api/src/shared/infrastructure/orm-models/Organization.js
  api/src/shared/infrastructure/orm-models/OrganizationLearner.js
  api/src/shared/infrastructure/orm-models/Session.js
  api/src/shared/infrastructure/orm-models/Stage.js
  api/src/shared/infrastructure/orm-models/Tag.js
  api/src/shared/infrastructure/orm-models/TargetProfile.js
  api/src/shared/infrastructure/orm-models/User.js
  api/src/shared/infrastructure/orm-models/UserOrgaSettings.js
  api/tests/acceptance/scripts/add-many-divisions-and-students-to-sco-organization_test.js
  api/tests/integration/infrastructure/repositories/complementary-certification-course-result-repository_test.js
  api/tests/integration/infrastructure/repositories/complementary-certification-habilitation-repository_test.js
  api/tests/shared/integration/infrastructure/utils/knex-utils_test.js
  api/tests/shared/unit/infrastructure/serializers/jsonapi/validation-error-serializer_test.js
Due: eslint --fix

:recycle: refactor: move orm-models to src
  api/lib/infrastructure/repositories/certification-center-membership-repository.js
  api/lib/infrastructure/repositories/membership-repository.js
  api/src/certification/enrolment/infrastructure/repositories/certification-candidate-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-center-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-report-repository.js
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/src/organizational-entities/infrastructure/repositories/certification-center.repository.js
  api/src/shared/infrastructure/orm-models/Answer.js
  api/src/shared/infrastructure/orm-models/Assessment.js
  api/src/shared/infrastructure/orm-models/AuthenticationMethod.js
  api/src/shared/infrastructure/orm-models/Badge.js
  api/src/shared/infrastructure/orm-models/Campaign.js
  api/src/shared/infrastructure/orm-models/CampaignParticipation.js
  api/src/shared/infrastructure/orm-models/CertificationCandidate.js
  api/src/shared/infrastructure/orm-models/CertificationCenter.js
  api/src/shared/infrastructure/orm-models/CertificationCenterMembership.js
  api/src/shared/infrastructure/orm-models/CertificationChallenge.js
  api/src/shared/infrastructure/orm-models/CertificationCourse.js
  api/src/shared/infrastructure/orm-models/CertificationIssueReport.js
  api/src/shared/infrastructure/orm-models/ComplementaryCertification.js
  api/src/shared/infrastructure/orm-models/ComplementaryCertificationCourse.js
  api/src/shared/infrastructure/orm-models/KnowledgeElement.js
  api/src/shared/infrastructure/orm-models/Membership.js
  api/src/shared/infrastructure/orm-models/Organization.js
  api/src/shared/infrastructure/orm-models/OrganizationLearner.js
  api/src/shared/infrastructure/orm-models/Session.js
  api/src/shared/infrastructure/orm-models/Stage.js
  api/src/shared/infrastructure/orm-models/Tag.js
  api/src/shared/infrastructure/orm-models/TargetProfile.js
  api/src/shared/infrastructure/orm-models/User.js
  api/src/shared/infrastructure/orm-models/UserOrgaSettings.js
  api/src/shared/infrastructure/repositories/membership-repository.js
  api/tests/acceptance/scripts/add-many-divisions-and-students-to-sco-organization_test.js
  api/tests/acceptance/scripts/add-many-students-to-sco-certification-center_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-course-repository_test.js
  api/tests/integration/infrastructure/repositories/certification-center-membership-repository_test.js
  api/tests/integration/scripts/create-certification-center-memberships-from-organization-admins_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-post_test.js
  api/tests/shared/integration/infrastructure/utils/bookshelf-to-domain-converter_test.js
Due: eslint --fix

feat(mon-pix): update english translation recovery account process
  mon-pix/translations/en.json
Due: none

chore(api) : update the verb "vérifier" in the welcome email
  api/translations/fr.json
Due: none

chore(api) : update a verb (EN) in the welcome email.
  api/translations/en.json
Due: none

fix(e2e): rollback @testing-library/dom bump
  high-level-tests/e2e/package-lock.json
Due: none

fix(mon-pix): npm i to fix renovate npm issue
  mon-pix/package-lock.json
Due: none

fix(mon-pix): npm run lint:fix
  mon-pix/ember-cli-build.js
Due: eslint --fix

fix(mon-pix): rollback ember-source bump
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

fix(admin): uninstall @ember/string unused dep
  admin/package-lock.json
  admin/package.json
Due: none

feat(api): add new route /api/admin/organizations/import-tags-csv
  api/src/organizational-entities/application/organization/organization.admin.route.js
  api/tests/organizational-entities/acceptance/application/organization/organization.admin.route.test.js
  api/tests/organizational-entities/unit/application/organization/organization.admin.route.test.js
Due: eslint --fix

feat(api): make it possible to pass a meta to NotFoundError
  api/src/shared/application/http-errors.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
