Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

sr(api): remove unused findByAssessmentResultId functions
  api/lib/infrastructure/repositories/competence-mark-repository.js
  api/tests/integration/infrastructure/repositories/competence-mark-repository_test.js
Due: eslint --fix

sr(api): remove unused updateStatusByAssessmentId functions
  api/lib/infrastructure/repositories/competence-evaluation-repository.js
  api/tests/integration/infrastructure/repositories/competence-evaluation-repository_test.js
Due: eslint --fix

sr(api): remove unused findByCampaignIdForSharedCampaignParticipation functions
  api/lib/infrastructure/repositories/knowledge-element-repository.js
  api/tests/integration/infrastructure/repositories/knowledge-element-repository_test.js
Due: eslint --fix

sr(api): remove unused findByCampaignIdAndUserIdForSharedCampaignParticipation functions
  api/lib/infrastructure/repositories/knowledge-element-repository.js
  api/tests/integration/infrastructure/repositories/knowledge-element-repository_test.js
Due: eslint --fix

sr(api): remove unused findByCampaignParticipationId functions
  api/lib/infrastructure/repositories/learning-content-repository.js
  api/tests/integration/infrastructure/repositories/learning-content-repository_test.js
Due: eslint --fix

sr(api): remove unused complementary-certification-course repository
  api/lib/domain/events/index.js
  api/lib/infrastructure/repositories/complementary-certification-course-repository.js
  api/tests/integration/infrastructure/repositories/complementary-certification-course-repository_test.js
Due: eslint --fix

sr(api): remove unused complementary-certification-subscription repository
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/complementary-certification-subscription-repository.js
  api/tests/integration/infrastructure/repositories/complementary-certification-subscription-repository_test.js
Due: eslint --fix

feat(api): add audit logger repository
  api/lib/domain/errors.js
  api/lib/infrastructure/repositories/audit-logger-repository.js
  api/tests/unit/infrastructure/repositories/audit-logger-repository_test.js
Due: eslint --fix

feat(api): start handling job in worker
  api/worker.js
Due: eslint --fix

feat(api): add job handler
  api/lib/infrastructure/jobs/audit-log/UserAnonymizedEventLoggingJobHandler.js
  api/tests/unit/infrastructure/jobs/audit-log/UserAnonymizedEventLoggingJobHandler_test.js
Due: eslint --fix

:wastebasket: admin: clean unused css class
  admin/app/styles/components/complementary-certifications/attach-target-profile.scss
Due: stylelint --fix

:recycle: admin: rename search bar component
  admin/app/components/complementary-certifications/target-profiles/attach-target-profile.hbs
  admin/app/components/complementary-certifications/target-profiles/search-bar.hbs
  admin/app/components/complementary-certifications/target-profiles/search-bar.js
  admin/app/styles/app.scss
  admin/app/styles/components/complementary-certifications/attach-target-profile.scss
  admin/app/styles/components/complementary-certifications/search-bar.scss
  admin/tests/integration/components/complementary-certifications/target-profiles/attach-target-profile_test.js
  admin/tests/integration/components/complementary-certifications/target-profiles/search-bar_test.js
  admin/tests/unit/controllers/authenticated/complementary-certifications/complementary-certification/attach-target-profile_test.js
Due: eslint --fix, stylelint --fix

:sparkles: admin: display section if a new target profile is selected
  admin/app/components/complementary-certifications/target-profiles/selected-target-profile.hbs
  admin/app/controllers/authenticated/complementary-certifications/complementary-certification/attach-target-profile.js
  admin/app/styles/app.scss
  admin/app/styles/components/complementary-certifications/selected-target-profile.scss
  admin/app/templates/authenticated/complementary-certifications/complementary-certification/attach-target-profile.hbs
  admin/tests/acceptance/authenticated/complementary-certifications/complementary-certification/attach-target-profile_test.js
Due: eslint --fix, stylelint --fix

refactor(api): simplify events scheduling
  api/lib/infrastructure/events/EventBus.js
  api/lib/infrastructure/events/EventBusBuilder.js
  api/lib/infrastructure/events/EventSubscriberBuilder.js
  api/lib/infrastructure/events/subscribers/audit-log/UserAnonymizedEventLoggingJobScheduler.js
  api/lib/infrastructure/jobs/PgBossJobScheduler.js
  api/lib/infrastructure/jobs/audit-log/UserAnonymizedEventLoggingJob.js
  api/lib/infrastructure/jobs/audit-log/UserAnonymizedEventLoggingJobHandler.js
  api/worker.js
Due: eslint --fix

Update ember-keyboard on mon-pix
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none

Update ember-keyboard on certif
  certif/package-lock.json
  certif/package.json
Due: none

feat(api): add methods on organization learner repository to count learners to add certificability
  api/lib/infrastructure/repositories/organization-learner-repository.js
  api/tests/integration/infrastructure/repositories/organization-learner-repository_test.js
Due: eslint --fix

feat(api): paginate ComputeCertificability jobs generation
  api/lib/config.js
  api/lib/infrastructure/jobs/organization-learner/ScheduleComputeOrganizationLearnersCertificabilityJobHandler.js
  api/lib/infrastructure/repositories/pgboss-repository.js
  api/tests/integration/infrastructure/repositories/pgboss-repository_test.js
  api/tests/unit/infrastructure/jobs/organization-learner/ScheduleComputeOrganizationLearnersCertificabilityJobHandler_test.js
  api/worker.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.25.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

feat(api): call new usecase in controller
  api/lib/application/assessments/assessment-controller.js
  api/tests/unit/application/assessments/assessment-controller_test.js
Due: eslint --fix

feat(api): create migration for stage acquisitions table
  api/db/migrations/20230721114848_create-stage_acquisitions-table.js
Due: eslint --fix

chore(api): use service to get mastery percentage
  api/lib/domain/models/BadgeCriterionForCalculation.js
Due: eslint --fix

test(api): create buildStageAcquisition factory
  api/tests/tooling/domain-builder/factory/build-stage-acquisition.js
  api/tests/tooling/domain-builder/factory/index.js
Due: eslint --fix

feat(api): create services for the new usecase
  api/lib/domain/services/get-mastery-percentage-service.js
  api/lib/domain/services/stages/convert-level-stages-into-thresholds-service.js
  api/lib/domain/services/stages/get-new-acquired-stages-service.js
  api/tests/unit/domain/services/compute-mastery-percentage-service_test.js
  api/tests/unit/domain/services/stages/convert-level-stages-into-thresholds-service_test.js
  api/tests/unit/domain/services/stages/stage-acquisition-service_test.js
Due: eslint --fix

feat(api): create new usecase to handle stage acquisition
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/stages/handle-stage-acquisition.js
  api/tests/unit/domain/usecases/handle-stage-acquisition_test.js
Due: eslint --fix

feat(api): create stage acquisition model
  api/lib/domain/models/StageAcquisition.js
  api/lib/domain/models/index.js
Due: eslint --fix

feat(api): create stage acquisition factory
  api/db/database-builder/factory/build-stage-acquisition.js
Due: eslint --fix

feat(api): create stage and stage-acquisition repositories
  api/lib/infrastructure/repositories/stage-acquisition-repository.js
  api/lib/infrastructure/repositories/stage-repository.js
  api/tests/integration/infrastructure/repositories/stage-acquisition-repository_test.js
  api/tests/integration/infrastructure/repositories/stage-repository_test.js
Due: eslint --fix

feat(api): update Stage model with isFirstSkill property
  api/lib/domain/models/Stage.js
  api/tests/tooling/domain-builder/factory/build-stage.js
Due: eslint --fix
