Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

refactor(api): extract admin routes into variable
  api/lib/application/memberships/index.js
Due: eslint --fix

feat(api): add disable-own-organization-membership usecase
  api/lib/domain/usecases/disable-own-organization-membership.js
  api/tests/unit/domain/usecases/disable-own-organization-membership_test.js
Due: eslint --fix

feat(orga): add leave-organization modal
  orga/app/components/team/leave-organization-modal.hbs
  orga/app/styles/components/team/index.scss
  orga/app/styles/components/team/leave-organization-modal.scss
  orga/tests/integration/components/team/leave-organization-modal_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix, stylelint --fix

feat(orga): add method to check multiple admins availability
  orga/app/components/team/members-list.js
  orga/tests/unit/components/team/members-list_test.js
Due: eslint --fix

feat(api): add new security pre-handler
  api/lib/application/security-pre-handlers.js
  api/lib/application/usecases/checkUserCanDisableHisOrganizationMembership.js
  api/tests/acceptance/application/security-pre-handlers_test.js
  api/tests/unit/application/usecases/checkUserCanDisableHisOrganizationMembership_test.js
Due: eslint --fix

feat(api): add disableOwnOrganizationMembership method to memberships controller
  api/lib/application/memberships/membership-controller.js
Due: eslint --fix

feat(api): add new route
  api/lib/application/memberships/index.js
  api/tests/acceptance/application/memberships/membership-controller_test.js
Due: eslint --fix

feat(orga): handle "leave organization" action
  orga/app/adapters/membership.js
  orga/app/components/team/members-list-item.hbs
  orga/app/components/team/members-list-item.js
  orga/app/components/team/members-list.hbs
  orga/app/controllers/authenticated/team/list/members.js
  orga/app/templates/authenticated/team/list/members.hbs
  orga/tests/integration/components/team/members-list-item_test.js
  orga/tests/unit/controllers/authenticated/team/list/members_test.js
Due: eslint --fix

feat(orga): display success or error notifications
  orga/app/components/team/members-list-item.js
  orga/app/services/session.js
  orga/mirage/config.js
  orga/tests/acceptance/team-list_test.js
  orga/tests/integration/components/team/members-list-item_test.js
  orga/tests/integration/components/team/members-list_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix

feat(orga): update members-list-item to display new action button
  orga/app/components/team/members-list-item.hbs
  orga/app/components/team/members-list-item.js
  orga/app/components/team/members-list.hbs
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix

feat(api): add new admin for organization as seed
  api/db/seeds/data/team-acces/build-organization-users.js
  api/db/seeds/data/team-acces/build-sco-organizations.js
Due: eslint --fix

fix(adr): do not fix npm version
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs: remove repetition
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs(adr): propose other ways to set nodejs versions
  docs/adr/0018-specifier-version-nodejs.md
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs: add example of what could happen today
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs: add precisions on Node odd versions maintenance
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs(adr): review with tech days team
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs: add Circle restriction on Node version
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs: reorder context informations
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs: remove repeated context infos
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs: use 'specify' instead of 'force'
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs: be more precise on first solution intro
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs: add precisions on what we had to deal with
  docs/adr/0049-specifier-version-nodejs.md
Due: none

docs: be more precise about PaaS versioning
  docs/adr/0049-specifier-version-nodejs.md
Due: none
