Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

feat(api): return user attestation status and attestation info
  api/src/profile/domain/models/AttestationUserDetail.js
  api/src/quest/domain/models/combined-course-participation/CombinedCourseReward.js
  api/src/quest/domain/usecases/get-combined-course-by-code.js
  api/src/quest/infrastructure/serializers/combined-course-serializer.js
  api/tests/quest/unit/domain/models/combined-course-participation/CombinedCourseReward_test.js
  api/tests/quest/unit/infrastructure/serializers/combined-course-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-attestation-user-detail.js
Due: eslint --fix

chore(api): create distinction between core scope and core framework in enrolment candidate model
  api/src/certification/enrolment/application/services/register-candidate-participation-service.js
  api/src/certification/enrolment/domain/models/Candidate.js
  api/src/certification/enrolment/domain/usecases/verify-candidate-reconciliation-requirements.js
  api/tests/certification/enrolment/unit/domain/models/Candidate_test.js
Due: eslint --fix

feat(api): save survey link url for combined course blueprints and add to serialization
  api/src/quest/domain/models/AdminCombinedCourseBlueprint.js
  api/src/quest/domain/models/CombinedCourseBlueprint.js
  api/src/quest/infrastructure/repositories/combined-course-blueprint-repository.js
  api/src/quest/infrastructure/serializers/admin-combined-course-blueprint-details-serializer.js
  api/src/quest/infrastructure/serializers/admin-combined-course-blueprint-serializer.js
  api/src/quest/infrastructure/serializers/combined-course-blueprint-serializer.js
  api/tests/quest/unit/domain/models/AdminCombinedCourseBlueprint_test.js
  api/tests/quest/unit/domain/models/CombinedCourseBlueprint_test.js
  api/tests/quest/unit/infrastructure/serializers/admin-combined-course-blueprint-details-serializer_test.js
  api/tests/quest/unit/infrastructure/serializers/admin-combined-course-blueprint-serializer_test.js
  api/tests/quest/unit/infrastructure/serializers/combined-course-blueprint-serializer_test.js
Due: eslint --fix

feat(api): add get targetProfile overview usecase
  api/src/prescription/target-profile/domain/models/TargetProfileOverview.js
  api/src/prescription/target-profile/domain/usecases/get-target-profile-overview.js
  api/src/prescription/target-profile/domain/usecases/index.js
  api/tests/prescription/target-profile/integration/domain/usecases/get-target-profile-overview_test.js
  api/tests/prescription/target-profile/unit/domain/models/TargetProfileOverview_test.js
Due: eslint --fix

refactor(api): remove unused getter
  api/src/shared/domain/models/TargetProfile.js
Due: eslint --fix

Update IAGenFonction_Ava.json - ajout alternative textuelle
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenFonction_Ava.json
Due: none

fix(api): ignore reconciled students absent from the current chunk without throwing an error
  api/src/prescription/learner-management/domain/models/ScoOrganizationLearnerSet.js
  api/tests/prescription/learner-management/unit/domain/models/ScoOrganizationLearnerSet_test.js
Due: eslint --fix

Update IAGenFonction_Ava.json - ajouts illustrations
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenFonction_Ava.json
Due: none

feat(api): add check target profile belongs to organization pre handler
  api/src/prescription/target-profile/application/pre-handlers.js
  api/src/prescription/target-profile/application/target-profile-route.js
  api/src/prescription/target-profile/domain/usecases/check-target-profile-belongs-to-organization.js
  api/src/prescription/target-profile/domain/usecases/index.js
  api/tests/prescription/target-profile/integration/application/pre-handlers_test.js
  api/tests/prescription/target-profile/integration/domain/usecases/check-target-profile-belongs-to-organization-test.js
  api/tests/prescription/target-profile/unit/application/target-profiles-route_test.js
Due: eslint --fix

Update IAGenFonction_Ava.json - suppr ancienne version step 1 découverte 3
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenFonction_Ava.json
Due: none

feat(api): add missing properties to models
  api/src/shared/domain/models/Competence.js
  api/src/shared/domain/models/TargetProfile.js
  api/src/shared/domain/models/Thematic.js
  api/tests/prescription/target-profile/unit/domain/models/TargetProfile_test.js
  api/tests/shared/unit/domain/models/TargetProfile_test.js
  api/tests/tooling/domain-builder/factory/build-competence.js
  api/tests/tooling/domain-builder/factory/build-target-profile.js
  api/tests/tooling/domain-builder/factory/build-thematic.js
Due: eslint --fix

feat(api): add route and controller
  api/src/prescription/target-profile/application/target-profile-controller.js
  api/src/prescription/target-profile/application/target-profile-route.js
  api/tests/prescription/target-profile/acceptance/application/target-profile-route_test.js
  api/tests/prescription/target-profile/unit/application/target-profiles-route_test.js
Due: eslint --fix

test(api): add missing test for targetProfileRepository.get
  api/tests/prescription/target-profile/integration/infrastructure/repositories/target-profile-repository_test.js
Due: eslint --fix

chore(release): 5.420.0 [skip ci]
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

Update IAGenFonction_Ava.json - modif découverte 3
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenFonction_Ava.json
Due: none

Update IAGenFonction_Ava.json - correction image alt
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenFonction_Ava.json
Due: none

feat(api): add targetProfileOverview serializer
  api/src/prescription/target-profile/infrastructure/serializers/jsonapi/target-profile-overview-serializer.js
  api/tests/prescription/target-profile/integration/domain/usecases/get-target-profile-overview_test.js
  api/tests/prescription/target-profile/unit/infrastructure/serializers/jsonapi/target-profile-overview-serializer_test.js
Due: eslint --fix

Correction ortho/typo
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenFonction_Ava.json
Due: none

Courbage des apostrophes
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenFonction_Ava.json
Due: none

ajout harmonisation couper/activer/ouvrir
  api/src/devcomp/infrastructure/datasources/learning-content/modules/21_Visio_NOV.json
Due: none

tech(api): use images without the level written underneath (same as in pdf)
  api/src/certification/results/domain/models/v3/CertificateMeshLevel.js
  api/tests/certification/results/unit/domain/models/v3/CertificateMeshLevel_test.js
  high-level-tests/e2e-playwright/snapshots/recette-certif/FULL_HAPPY_PATH_RIGHT_ANSWERS_DROIT/FULL_HAPPY_PATH_RIGHT_ANSWERS_DROIT.json
  high-level-tests/e2e-playwright/snapshots/recette-certif/FULL_HAPPY_PATH_RIGHT_ANSWERS_PRO_SANTE/FULL_HAPPY_PATH_RIGHT_ANSWERS_PRO_SANTE.json
Due: eslint --fix

feat(api): return 404 when campaign is deleted
  api/src/prescription/campaign/infrastructure/repositories/campaign-report-repository.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-report-repository_test.js
Due: eslint --fix

feat(orga): Add delete campaign button (PIX-22901)
  orga/app/components/campaign/settings/view.gjs
  orga/app/components/ui/deletion-modal.gjs
  orga/app/routes/authenticated/campaigns/campaign.js
  orga/tests/integration/components/campaign/settings/view-test.gjs
  orga/tests/integration/components/ui/deletion-modal-test.gjs
  orga/translations/de.json
  orga/translations/en.json
  orga/translations/es.json
  orga/translations/fr.json
  orga/translations/it.json
  orga/translations/nl.json
Due: eslint --fix

Update NR_Evaluation_AVA.json - Modif descriptif
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_Evaluation_AVA.json
Due: none

chore(release): 5.421.0 [skip ci]
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

feat(api): modifs retours experts + tags textes
  api/src/devcomp/infrastructure/datasources/learning-content/modules/12_RangerFichiers_NOV.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/21_Visio_NOV.json
Due: none

Update NR_Evaluation_AVA.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_Evaluation_AVA.json
Due: none

feat(api): chgmt image bureau maeva
  api/src/devcomp/infrastructure/datasources/learning-content/modules/12_RangerFichiers_NOV.json
Due: none

retrait balises br
  api/src/devcomp/infrastructure/datasources/learning-content/modules/21_Visio_NOV.json
Due: none

Update NR_Evaluation_AVA.json - modif de l'activité 3
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_Evaluation_AVA.json
Due: none

Coquilles
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_Evaluation_AVA.json
Due: none

Corrections de quelques coquilles
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_Evaluation_AVA.json
Due: none

Update NR_Evaluation_AVA.json -modif découverte 1 et leçon 1
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_Evaluation_AVA.json
Due: none

Update NR_Evaluation_AVA.json - modifs lesson 2
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_Evaluation_AVA.json
Due: none

⚡️(mon-pix): add feedback on footer
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/training/card-modal.gjs
  mon-pix/app/styles/components/campaigns/assessment/results/recommendation-engine/trainings.scss
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/training/card-test.gjs
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: stylelint --fix

Update NR_Evaluation_AVA.json - modif leçon 3
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_Evaluation_AVA.json
Due: none

Update api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_Evaluation_AVA.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_Evaluation_AVA.json
Due: none
