Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

fix(orga): force course card fullwidth in campaign creation form
  orga/app/styles/pages/authenticated/campaigns/create-form.scss
Due: stylelint --fix

refactor: avoid fs.existSync in loadEnvFileIfExists
  api/src/shared/load-env-file-if-exists.js
Due: eslint --fix

Revert "chore(api): allow legacy and new format of subscription in endpoint payload"
  api/src/certification/enrolment/application/certification-candidate-route.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-controller-post-certification-candidate_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/candidate-serializer_test.js
Due: eslint --fix

feat(admin): add translations for attach certification center
  admin/translations/en.json
  admin/translations/fr.json
Due: none

refactor: move otel initialization to tracing.js
  api/Procfile
  api/index.maddo.js
  api/package.json
  api/tracing.js
Due: eslint --fix

[FEATURE] IA-droit-auteur-AVA-modifs
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenEthique_AVA.json
Due: none

refactor(api): lighten shared CertificationCourse model
  api/src/certification/shared/domain/models/CertificationCourse.js
  api/tests/certification/evaluation/unit/infrastructure/serializers/certification-course-serializer_test.js
  api/tests/certification/shared/unit/domain/models/CertificationCourse_test.js
Due: eslint --fix

Notes added by 'git notes add'
  bcce2e055a9a00022a2e2273bbfecafa21293fcb
Due: none

test(api): add a test util to convert FormData to HAPI request payload
  api/tests/tooling/test-utils/http-server.js
Due: eslint --fix

fix(api): fix flaky unit test
  api/tests/certification/evaluation/unit/domain/models/AssessmentSheet_test.js
Due: eslint --fix

chore(api): remove form-data dependency
  api/package-lock.json
  api/package.json
Due: none

refactor(api): use native FormData instead of form-data lib
  api/tests/certification/enrolment/unit/application/enrolment-route_test.js
  api/tests/certification/enrolment/unit/application/session-mass-import-route_test.js
  api/tests/quest/acceptance/application/attestation-route_test.js
  api/tests/quest/unit/application/attestation-route_test.js
Due: eslint --fix

feat(mon-pix): display certification duration exceeded in session joiner
  mon-pix/app/components/certification-starter.gjs
  mon-pix/tests/integration/components/certification-starter-test.gjs
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: none

feat(api): end certification on session join if course duration exceeded
  api/src/certification/evaluation/domain/models/AssessmentSheet.js
  api/src/certification/evaluation/domain/services/certification-duration-service.js
  api/src/certification/evaluation/domain/usecases/evaluate-and-save-answer.js
  api/src/certification/evaluation/domain/usecases/retrieve-last-or-create-certification-course.js
  api/tests/certification/evaluation/acceptance/application/certification-courses/certification-course-controller_test.js
  api/tests/certification/evaluation/unit/domain/models/AssessmentSheet_test.js
  api/tests/certification/evaluation/unit/domain/services/certification-duration-service_test.js
  api/tests/certification/evaluation/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Due: eslint --fix

feat(api): add open telemetry sdk
  api/Procfile
  api/package-lock.json
  api/package.json
  api/sample.env
  api/server.js
  api/src/shared/config.js
  api/tracing.js
Due: eslint --fix

Update CYMFA_IND.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYMFA_IND.json
Due: none

feat(api): add scalingo environment variables to trace resources
  api/src/shared/infrastructure/open-telemetry/scalingo-detector.js
  api/tracing.js
Due: eslint --fix

:truck: chore(api) move constante to certification
  api/src/certification/results/domain/models/v3/Certificate.js
  api/src/certification/shared/domain/constants.js
  api/src/shared/constants.js
Due: eslint --fix

:recycle: remove constant to use config in prescription
  api/src/prescription/learner-management/domain/usecases/import-learners/import-learners-from-fregata-file.js
  api/src/prescription/learner-management/domain/usecases/import-learners/import-learners-from-siecle-file.js
  api/src/shared/constants.js
Due: eslint --fix

:broom: remove constants usage
  api/src/evaluation/domain/services/improvement-service.js
  api/src/prescription/campaign-participation/domain/usecases/get-shared-campaign-participation-profile.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/src/profile/domain/usecases/get-user-profile.js
  api/src/shared/constants.js
  api/tests/evaluation/integration/domain/usecases/get-progression_test.js
  api/tests/evaluation/unit/domain/models/Scorecard_test.js
  api/tests/evaluation/unit/domain/services/improvement-service_test.js
  api/tests/prescription/campaign-participation/integration/domain/usecases/get-campaign-assessment-participation_test.js
  api/tests/prescription/campaign-participation/unit/domain/models/PreviousCampaignParticipation_test.js
  api/tests/prescription/campaign-participation/unit/domain/usecases/get-user-profile-shared-for-campaign_test.js
  api/tests/prescription/campaign-participation/unit/infrastructure/serializers/jsonapi/participant-result-serializer_test.js
  api/tests/prescription/learner-management/acceptance/application/organization-learners-route_test.js
  api/tests/prescription/learner-management/integration/domain/usecases/delete-organization-learners_test.js
  api/tests/profile/acceptance/application/profile-route_test.js
  api/tests/profile/unit/domain/usecases/get-user-profile_test.js
  api/tests/shared/unit/domain/read-models/participant-results/AssessmentResult_test.js
Due: eslint --fix

:recycle: use config instead of AUTONOMOUS_COURSES_ORGANIZATION_ID constant
  api/src/evaluation/domain/usecases/save-autonomous-course.js
  api/src/evaluation/infrastructure/repositories/autonomous-course-repository.js
  api/src/evaluation/infrastructure/repositories/autonomous-course-target-profile-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-overview-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/target-profile/infrastructure/repositories/target-profile-administration-repository.js
  api/src/shared/config.js
  api/src/shared/constants.js
  api/tests/evaluation/acceptance/application/autonomous-courses/autonomous-course-controller_test.js
  api/tests/evaluation/integration/domain/usecases/save-autonomous-course_test.js
  api/tests/evaluation/integration/infrastructure/repositories/autonomous-course-repository_test.js
  api/tests/evaluation/integration/infrastructure/repositories/autonomous-course-target-profile-repository_test.js
  api/tests/evaluation/unit/domain/usecases/find-all-paginated-autonomous-courses_test.js
  api/tests/evaluation/unit/domain/usecases/save-autonomous-course_test.js
  api/tests/identity-access-management/acceptance/application/user/user.route.test.js
  api/tests/prescription/campaign-participation/acceptance/application/campaign-participation-route_test.js
  api/tests/prescription/campaign-participation/integration/domain/usecases/find-user-campaign-participation-overviews_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-overview-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/prescription/target-profile/integration/infrastructure/repositories/target-profile-administration-repository_test.js
Due: eslint --fix

:truck: move CHUNK_SIZE_CAMPAIGN_RESULT_PROCESSING to prescription campaign constants
  api/src/prescription/campaign/domain/constants.js
  api/src/prescription/campaign/domain/usecases/find-paginated-filtered-organization-campaigns.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-collective-result-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-profiles-collection-participation-summary-repository.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-assessment-export.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-profiles-collection-export.js
  api/src/shared/constants.js
Due: eslint --fix

:broom: remove constant used only in test
  api/src/shared/constants.js
  api/tests/certification/evaluation/unit/domain/models/CertifiedLevel_test.js
Due: eslint --fix

:truck: move oidc-errors to identity-management contexte
  api/src/identity-access-management/domain/constants/oidc-errors.js
  api/src/identity-access-management/domain/services/oidc-authentication-service.js
  api/src/shared/constants.js
  api/tests/identity-access-management/unit/domain/services/oidc-authentication-service.test.js
Due: eslint --fix

:truck: refactor(api): move constante to specific bounded context
  api/src/certification/results/domain/constants.js
  api/src/certification/results/domain/models/v3/Certificate.js
  api/src/certification/shared/domain/constants.js
Due: eslint --fix

:broom: chore(api) remove unused function isPixPlus()
  api/src/certification/shared/domain/models/CertificationChallenge.js
  api/src/certification/shared/domain/models/CertificationChallengeWithType.js
  api/tests/certification/shared/unit/domain/models/CertificationChallengeWithType_test.js
Due: eslint --fix

double espace
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYMFA_IND.json
Due: none

doubles espaces
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYMFA_IND.json
Due: none

tech(mon-pix): remove isCertificationInEnglishEnabled feature-toggle
  mon-pix/app/components/certification-starter.gjs
  mon-pix/app/models/feature-toggle.js
  mon-pix/tests/integration/components/certification-starter-test.gjs
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: eslint --fix

[FEATURE] IA-droit-auteur-ava-modifications
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenEthique_AVA.json
Due: none

tech(api): remove isCertificationInEnglishEnabled feature-toggle
  api/config/feature-toggles-config.js
  api/src/certification/enrolment/domain/usecases/verify-candidate-identity.js
  api/src/certification/evaluation/domain/usecases/retrieve-last-or-create-certification-course.js
  api/src/certification/shared/domain/models/CertificationCourse.js
  api/tests/certification/enrolment/unit/domain/usecases/verify-candidate-identity_test.js
  api/tests/certification/evaluation/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
  api/tests/certification/shared/unit/domain/models/CertificationCourse_test.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
Due: eslint --fix

Creation module phishing NOV FWB
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CYPhishing_NOV_fr_BE.json
Due: none

[FEATURE] MDX-138 IAGenPrompt_AVA anglisismes
  api/src/devcomp/infrastructure/datasources/learning-content/modules/IAGenPrompt_AVA.json
Due: none

chore: vendor hapi-intrumentation from open telemetry
  api/package-lock.json
  api/package.json
  api/src/shared/infrastructure/utils/hapi-instrumentation/enums/attribute-names.js
  api/src/shared/infrastructure/utils/hapi-instrumentation/index.js
  api/src/shared/infrastructure/utils/hapi-instrumentation/instrumentation.js
  api/src/shared/infrastructure/utils/hapi-instrumentation/internal-types.js
  api/src/shared/infrastructure/utils/hapi-instrumentation/utils.js
  api/tracing.js
Due: eslint --fix

tech(api): create certification_versions_tubes table
  api/db/migrations/20260708073135_tube_version.js
Due: eslint --fix

[FEATURE] MDX-248 Ecrans&Santé_NOV Corrections suite à la première relecture
  api/src/devcomp/infrastructure/datasources/learning-content/modules/NR_Ecrans&Sante_NOV.json
Due: none

tech(e2e): make E2E test pick language when entering certif
  high-level-tests/e2e-playwright/pages/pix-app/CertificationAccessCodePage.ts
Due: none

[FEATURE] WIP Créa module Généralités Indépendant
  api/src/devcomp/infrastructure/datasources/learning-content/modules/CY_Generalites_IND.json
Due: none

Path conditions:
  eslint --fix: any of: ./*.{js,yml, yaml}
  stylelint --fix: any of: *.scss
