Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

:sparkles: api: return errors in sessions import validation Service
  api/lib/domain/services/sessions-mass-import/sessions-import-validation-service.js
  api/tests/unit/domain/services/sessions-mass-import/sessions-import-validation-service_test.js
Due: eslint --fix

:sparkles: api: return errors report
  api/lib/domain/models/SessionMassImportReport.js
  api/lib/domain/usecases/sessions-mass-import/validate-sessions.js
  api/tests/acceptance/application/certification-centers/sessions-mass-import/certification-centers-controller-post-validate-sessions_test.js
  api/tests/unit/domain/usecases/sessions-mass-import/validate-sessions_test.js
Due: eslint --fix

:sparkles: certif: display error count on step two
  certif/app/components/import/step-two-section.hbs
  certif/app/controllers/authenticated/sessions/import.js
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/app/templates/authenticated/sessions/import.hbs
  certif/tests/acceptance/session-import_test.js
  certif/tests/integration/components/sessions-import/step-two-section_test.js
  certif/tests/unit/controllers/authenticated/sessions/import_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix, stylelint --fix

:sparkles: api: add #validateForMassSessionImport to CertificationCandidate
  api/lib/domain/models/CertificationCandidate.js
  api/tests/unit/domain/models/CertificationCandidate_test.js
Due: eslint --fix

:bug: api: add incomplete candidate to corresponding session in serializer
  api/lib/infrastructure/serializers/csv/csv-serializer.js
  api/tests/unit/infrastructure/serializers/csv/csv-serializer_test.js
Due: eslint --fix

:sparkles: api: remove useless isSessionsMassImport parameter
  api/lib/domain/models/CertificationCandidate.js
  api/tests/unit/domain/models/CertificationCandidate_test.js
Due: eslint --fix

:bug: certif: fix "right" word
  certif/app/components/import/step-two-section.hbs
  certif/public/icons/solid-square-chevron-right.svg
Due: none

fix(api): seeds correction to have the same isCertifiable value everywhere
  api/db/seeds/data/campaign-participations-builder.js
  api/db/seeds/data/campaigns-pro-builder.js
Due: eslint --fix

chore(orga): removing flex auto
  orga/app/styles/components/previous-page-button.scss
Due: stylelint --fix

feat(api): add 'isCertifiable' and 'certifiableAt' attributes on serializer
  api/lib/infrastructure/serializers/jsonapi/organization-learner-follow-up/organization-learner-serializer.js
  api/tests/unit/infrastructure/serializers/jsonapi/organization-learner-follow-up/organization-learner-serializer_test.js
Due: eslint --fix

feat(orga): add learner header info for organization participant template
  orga/app/styles/pages/authenticated/organization-participants/organization-participant.scss
  orga/app/templates/authenticated/organization-participants/organization-participant.hbs
Due: stylelint --fix

feat(api): add sub query method to check if learner is certifiable on repository
  api/lib/domain/read-models/organization-learner-follow-up/OrganizationLearner.js
  api/lib/infrastructure/repositories/organization-learner-follow-up/organization-learner-repository.js
  api/tests/integration/infrastructure/repositories/organization-learner-follow-up/organization-learner-repository_test.js
Due: eslint --fix

feat(orga): add isCertifiable conditional property in component learner header info
  orga/app/components/ui/learner-header-info.hbs
  orga/app/components/ui/learner-header-info.js
  orga/app/styles/components/ui/information.scss
  orga/tests/integration/components/ui/learner-header-info_test.js
Due: eslint --fix, stylelint --fix

feat(orga): add isCertifiable and certifiableAt attributes on model
  orga/app/models/organization-learner.js
Due: eslint --fix

improve certif center member email display in pix admin
  admin/app/components/certification-centers/memberships-section.hbs
  admin/app/styles/components/member-item.scss
Due: stylelint --fix

[RELEASE] A minor is being released to 3.332.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

:recycle: api: remove extraTimePercentage parseInt convertion in csv serializer Co-authored-by: Jérémy Pluquet <jemyplu@gmail.com>
  api/lib/infrastructure/serializers/csv/csv-serializer.js
Due: eslint --fix

:sparkles: api: add #convertExtraTimePercentageToDecimal to CertificationCandidate
  api/lib/domain/models/CertificationCandidate.js
  api/tests/unit/domain/models/CertificationCandidate_test.js
Due: eslint --fix

:sparkles: api: push an error if extraTimePercentage is not in the expected format
  api/lib/domain/services/sessions-mass-import/sessions-import-validation-service.js
  api/tests/unit/domain/services/sessions-mass-import/sessions-import-validation-service_test.js
Due: eslint --fix

:recycle: certif: reset value isImportInError in import controller
  certif/app/controllers/authenticated/sessions/import.js
  certif/tests/unit/controllers/authenticated/sessions/import_test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,yml, yaml}
  stylelint --fix: any of: *.scss
