Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

fix(admin): translations lint
  admin/.prettierignore
  admin/package.json
  admin/translations/en.json
  admin/translations/fr.json
Due: none

fix(admin): put 'title' and 'current-lang' keys on top of translations files
  admin/.eslintrc.js
  admin/config/linter-translation-order.cjs
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

:sparkles: api: end next gen certification when max answers count is reached
  api/lib/domain/constants.js
  api/lib/domain/models/AssessmentSimulator.js
  api/lib/domain/models/FlashAssessmentAlgorithm.js
  api/lib/domain/usecases/get-next-challenge-for-certification.js
  api/lib/domain/usecases/simulate-flash-deterministic-assessment-scenario.js
  api/tests/unit/domain/models/AssessmentSimulator_test.js
  api/tests/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-certification_test.js
Due: eslint --fix

feat(pix1d): custom finish page
  1d/app/pods/assessment/results/route.js
  1d/app/pods/assessment/results/template.hbs
  1d/app/pods/components/mission-card-success/template.hbs
  1d/app/styles/app.scss
  1d/app/styles/components/card.scss
  1d/app/styles/components/home.scss
  1d/app/styles/components/mission.scss
  1d/public/images/green-card-header.svg
Due: eslint --fix, stylelint --fix

:wrench: mocha test env configuration
  .vscode/sample.launch.json
  .vscode/sample.settings.json
Due: none

:rotating_light: Remove lint on .vscode json to allow comments
  .eslintignore
Due: none

:wrench: Update vscode launch.json config
  .vscode/sample.launch.json
Due: none

:memo: Add doc for vscode
  INSTALLATION.md
Due: none

:wrench: Update vscode settings.json config for esm
  .vscode/sample.settings.json
Due: none

:memo: Add recommended extensions for vscode
  .gitignore
  .vscode/extensions.json
  INSTALLATION.md
Due: none

chore(admin): improve tests for modal and computed in hbs
  admin/app/components/organizations/list-items.hbs
  admin/tests/integration/components/organizations/list-items_test.js
Due: eslint --fix

feat(orga): add main checkbox on participant list
  orga/app/components/organization-participant/list.hbs
  orga/app/components/organization-participant/list.js
  orga/app/components/selectable-list.hbs
  orga/app/components/selectable-list.js
  orga/tests/integration/components/selectable-list_test.js
  orga/tests/unit/components/selectable-list_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix

feat(orga): add checkboxes on participants list
  orga/app/components/organization-participant/list.hbs
  orga/app/components/organization-participant/list.js
  orga/app/components/selectable-list.hbs
  orga/app/components/selectable-list.js
  orga/tests/unit/components/selectable-list_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix

feat(orga): Add action bar to delete participants for pro
  orga/app/adapters/organization-participant.js
  orga/app/components/organization-participant/list.hbs
  orga/app/components/organization-participant/list.js
  orga/app/components/selectable-list.hbs
  orga/app/components/ui/action-bar.hbs
  orga/app/controllers/authenticated/organization-participants/list.js
  orga/app/routes/authenticated/organization-participants/list.js
  orga/app/styles/app.scss
  orga/app/styles/components/ui/action-bar.scss
  orga/app/templates/authenticated/organization-participants/list.hbs
  orga/tests/integration/components/organization-participant/list_test.js
  orga/tests/integration/components/ui/action-bar_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix, stylelint --fix

feat(orga): add reset method in SelectableList component
  orga/app/components/selectable-list.hbs
  orga/app/components/selectable-list.js
  orga/tests/unit/components/selectable-list_test.js
Due: eslint --fix

feat(orga): add onChange argument in PaginationControl component
  orga/app/components/table/pagination-control.js
  orga/tests/unit/components/table/pagination-control_test.js
Due: eslint --fix

feat(orga): add in-element component to fix in-element helper issues
  orga/app/components/in-element.hbs
  orga/app/components/in-element.js
  orga/tests/integration/components/in-element_test.js
Due: eslint --fix

feat(orga): disable main checkbox when participants list is empty
  orga/app/components/organization-participant/list.hbs
  orga/app/components/organization-participant/list.js
  orga/tests/integration/components/organization-participant/list_test.js
Due: eslint --fix

bug(orga): fix overlapping pagination with action bar
  orga/app/styles/components/ui/action-bar.scss
Due: stylelint --fix

feat(orga) add test on reset filter
  orga/tests/integration/components/organization-participant/list_test.js
Due: eslint --fix

feat(orga): add restriction for anyone but admin on participants selection
  orga/app/components/organization-participant/list.hbs
  orga/app/components/organization-participant/list.js
  orga/tests/integration/components/organization-participant/list_test.js
Due: eslint --fix

fix(tests): add tests to always display headers and filters
  orga/tests/integration/components/organization-participant/list_test.js
Due: eslint --fix

feat(orga): add reset on filters and sort
  orga/app/components/organization-participant/list.hbs
  orga/app/components/organization-participant/list.js
  orga/tests/integration/components/organization-participant/list_test.js
Due: eslint --fix

fix(tests): remove useless click because integration does not use api
  orga/tests/integration/components/organization-participant/list_test.js
Due: eslint --fix

feat(orga): reset selected items on pagination changes and on items deletion
  orga/app/components/organization-participant/list.hbs
  orga/app/components/organization-participant/list.js
  orga/tests/integration/components/organization-participant/list_test.js
Due: eslint --fix

feat(orga) add test to verify call to onChange on pagination control
  orga/tests/unit/components/table/pagination-control_test.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.10.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

feat(mon-pix): add aria-label for opening in new window for external link
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: none

refactor(mon-pix): fix wording on login or register form oidc
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: none
