Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

:bug: Fix error parsing that only worked when the error followed brevo response formatting
  api/lib/infrastructure/mailers/BrevoProvider.js
  api/tests/unit/infrastructure/mailers/BrevoProvider_test.js
Due: eslint --fix

test(api): fix a flacky test on findByOrganizationsWhichNeedToComputeCertificability method
  api/tests/integration/infrastructure/repositories/organization-learner-repository_test.js
Due: eslint --fix

:recycle: api: Update attachable-target-profiles-repository.find
  api/lib/infrastructure/repositories/attachable-target-profiles-repository.js
Due: eslint --fix

:bug: api: nominal case for target profile result was KO
  api/db/database-builder/factory/build-badge.js
  api/lib/infrastructure/repositories/attachable-target-profiles-repository.js
  api/tests/integration/infrastructure/repositories/attachable-target-profiles-repository_test.js
Due: eslint --fix

:sparkles: admin: new wording (and a bit of spaces)
  admin/app/components/complementary-certifications/attach-badges/badges/index.js
  admin/app/components/complementary-certifications/attach-badges/badges/list.hbs
  admin/app/controllers/authenticated/complementary-certifications/complementary-certification/attach-target-profile.js
  admin/app/templates/authenticated/complementary-certifications/complementary-certification/attach-target-profile.hbs
  admin/tests/acceptance/authenticated/complementary-certifications/complementary-certification/attach-target-profile_test.js
  admin/tests/integration/components/complementary-certifications/attach-form/badges/header_test.js
Due: eslint --fix

:sparkles: admin : add new columns to attach badges
  admin/app/components/complementary-certifications/attach-badges/badges/header.hbs
  admin/app/components/complementary-certifications/attach-badges/badges/index.hbs
  admin/app/components/complementary-certifications/attach-badges/badges/index.js
  admin/app/components/complementary-certifications/attach-badges/badges/list.hbs
  admin/app/components/complementary-certifications/attach-badges/badges/list.js
  admin/app/components/complementary-certifications/attach-badges/badges/row.hbs
  admin/app/controllers/authenticated/complementary-certifications/complementary-certification/attach-target-profile.js
  admin/app/styles/app.scss
  admin/app/styles/components/complementary-certifications/attach-badges.scss
  admin/app/styles/components/complementary-certifications/attach-badges/header.scss
  admin/app/styles/components/complementary-certifications/attach-badges/list.scss
  admin/app/styles/components/complementary-certifications/attach-target-profile.scss
  admin/app/templates/authenticated/complementary-certifications/complementary-certification/attach-target-profile.hbs
  admin/tests/integration/components/complementary-certifications/attach-form/badges/header_test.js
  admin/tests/integration/components/complementary-certifications/attach-form/badges/list_test.js
Due: eslint --fix, stylelint --fix

:recycle: admin: linting, refactoring and fixing tests after accessibility changes
  admin/app/adapters/complementary-certification.js
  admin/app/components/complementary-certifications/attach-badges/badges/index.js
  admin/app/components/complementary-certifications/attach-badges/badges/list.js
  admin/app/controllers/authenticated/complementary-certifications/complementary-certification/attach-target-profile.js
  admin/app/styles/app.scss
  admin/app/styles/components/complementary-certifications/attach-badges/list.scss
  admin/tests/acceptance/authenticated/complementary-certifications/complementary-certification/attach-target-profile_test.js
  admin/tests/integration/components/complementary-certifications/attach-form/badges/header_test.js
  admin/tests/integration/components/complementary-certifications/attach-form/badges/list_test.js
  admin/tests/unit/controllers/authenticated/complementary-certifications/complementary-certification/attach-target-profile_test.js
Due: eslint --fix, stylelint --fix

:sparkles: admin: tooltip on attach badges form headers
  admin/app/components/complementary-certifications/attach-badges/badges/list.hbs
Due: none

:recycle: admin: adjust API call to new route definition
  admin/app/adapters/complementary-certification.js
  admin/app/controllers/authenticated/complementary-certifications/complementary-certification/attach-target-profile.js
  admin/app/models/complementary-certification.js
Due: eslint --fix

:recycle: admin: accessibility and style
  admin/app/components/complementary-certifications/attach-badges/badges/header.hbs
  admin/app/components/complementary-certifications/attach-badges/badges/row.hbs
  admin/app/components/complementary-certifications/attach-badges/target-profile-selector/index.js
  admin/app/styles/components/complementary-certifications/attach-badges/header.scss
  admin/app/styles/components/complementary-certifications/attach-badges/list.scss
  admin/app/styles/components/complementary-certifications/attach-target-profile.scss
  admin/app/templates/authenticated/complementary-certifications/complementary-certification/attach-target-profile.hbs
Due: eslint --fix, stylelint --fix

:sparkles: admin: save new complementary certifications badges
  admin/app/adapters/complementary-certification.js
  admin/app/components/complementary-certifications/attach-badges/badges/list.hbs
  admin/app/components/complementary-certifications/attach-badges/badges/list.js
  admin/app/components/complementary-certifications/attach-badges/badges/row.hbs
  admin/app/components/complementary-certifications/attach-badges/target-profile-selector/selected-target-profile.hbs
  admin/app/controllers/authenticated/complementary-certifications/complementary-certification/attach-target-profile.js
  admin/app/models/complementary-certification-badge.js
  admin/app/models/complementary-certification.js
  admin/app/routes/authenticated/complementary-certifications/complementary-certification/attach-target-profile.js
  admin/app/templates/authenticated/complementary-certifications/complementary-certification/attach-target-profile.hbs
  admin/mirage/config.js
  admin/tests/acceptance/authenticated/complementary-certifications/complementary-certification/attach-target-profile_test.js
  admin/tests/integration/components/complementary-certifications/attach-form/badges/header_test.js
  admin/tests/unit/controllers/authenticated/complementary-certifications/complementary-certification/attach-target-profile_test.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.34.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

Bump
  api/package-lock.json
  api/package.json
Due: none

remove all mentions of target profile skills in codebase
  api/db/database-builder/factory/build-target-profile-skill.js
  api/db/migrations/20230818163220_drop-target-profile-skills-table.js
  api/tests/acceptance/application/target-profiles/index_test.js
Due: eslint --fix

Remove test-algo
  .circleci/config.yml
  high-level-tests/test-algo/.eslintignore
  high-level-tests/test-algo/.eslintrc.cjs
  high-level-tests/test-algo/.nvmrc
  high-level-tests/test-algo/AlgoResult.js
  high-level-tests/test-algo/Dockerfile
  high-level-tests/test-algo/README.md
  high-level-tests/test-algo/algo.js
  high-level-tests/test-algo/data_visualization.ipynb
  high-level-tests/test-algo/docker-compose.yaml
  high-level-tests/test-algo/index.js
  high-level-tests/test-algo/package-lock.json
  high-level-tests/test-algo/package.json
  high-level-tests/test-algo/sample.env
  high-level-tests/test-algo/tests/.eslintrc.cjs
  high-level-tests/test-algo/tests/AlgoResult_test.js
  high-level-tests/test-algo/tests/algo_test.js
  high-level-tests/test-algo/tests/test-helpers.js
  high-level-tests/test-algo/tests/tests.sh
  high-level-tests/test-algo/tests/utils/CsvFile_test.js
  high-level-tests/test-algo/tests/utils/timestamp_test.js
  high-level-tests/test-algo/utils/CsvFile.js
  high-level-tests/test-algo/utils/timestamp.js
Due: eslint --fix

:fire: api: remove unused currentTargetProfileBadges
  api/lib/domain/models/ComplementaryCertificationTargetProfileHistory.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-target-profile-history-for-admin.js
Due: eslint --fix

🐛 api: split into 2 repository methods to display proper information
  api/lib/domain/usecases/get-complementary-certification-target-profile-history.js
  api/lib/infrastructure/repositories/complementary-certification-target-profile-history-repository.js
  api/tests/integration/infrastructure/repositories/complementary-certification-target-profile-history-repository_test.js
  api/tests/unit/domain/usecases/get-complementary-certification-target-profile-history_test.js
Due: eslint --fix

docs(adr): add adr related to npm workspaces
  docs/adr/0052-utilisation-de-workspaces.md
Due: none

Update config.js
  api/lib/config.js
Due: eslint --fix

chore(orga): upgrade @1024pix/ember-testing-library to 0.8.1
  orga/package-lock.json
  orga/package.json
Due: none

test(app): Refactor tests to use ember-testing-library
  mon-pix/tests/acceptance/profile_test.js
Due: eslint --fix

chore(app): upgrade @1024pix/ember-testing-library to 0.8.1
  mon-pix/package-lock.json
  mon-pix/package.json
Due: none
