Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

chore(orga): enforce single quotes usage in SCSS files
  orga/app/styles/components/campaign/index.scss
  orga/app/styles/components/campaign/target-profile-details.scss
  orga/app/styles/components/organization-learner/index.scss
  orga/app/styles/components/participant/index.scss
  orga/app/styles/components/team/index.scss
  orga/app/styles/components/ui/certificability-tooltip.scss
  orga/app/styles/components/ui/last-participation-date-tooltip.scss
  orga/app/styles/components/ui/modal-display.scss
  orga/package-lock.json
  orga/package.json
Due: stylelint --fix

:sparkles: certif: create new page for step 2
  certif/app/components/import/step-one-section.hbs
  certif/app/components/import/step-two-section.hbs
  certif/app/controllers/authenticated/sessions/import.js
  certif/app/templates/authenticated/sessions/import.hbs
  certif/tests/acceptance/session-import_test.js
  certif/tests/unit/controllers/authenticated/sessions/import_test.js
Due: eslint --fix

:sparkles: certif: add missing translations
  certif/app/components/import/step-one-section.hbs
  certif/app/templates/authenticated/sessions/import.hbs
  certif/translations/en.json
  certif/translations/fr.json
Due: none

:recycle: certif: translation refacto
  certif/app/components/import/step-one-section.hbs
  certif/app/templates/authenticated/sessions/import.hbs
  certif/translations/en.json
  certif/translations/fr.json
Due: none

:sparkles: certif: add previous page button
  certif/app/controllers/authenticated/sessions/import.js
  certif/app/routes/authenticated/sessions/import.js
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/app/templates/authenticated/sessions/import.hbs
  certif/tests/acceptance/session-import_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix, stylelint --fix

:recycle: certif: disable breadcrumb summary link
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/app/templates/authenticated/sessions/import.hbs
Due: stylelint --fix

:recycle: certif: add missing test
  certif/tests/acceptance/session-import_test.js
Due: eslint --fix

:a11y: certif: create list of action buttons
  certif/app/components/import/step-one-section.hbs
  certif/app/styles/pages/authenticated/sessions/import.scss
Due: stylelint --fix

:recycle: certif: use button instead of link button
  certif/app/components/import/step-one-section.hbs
  certif/tests/acceptance/session-import_test.js
Due: eslint --fix

:sparkles: certif: move translation keys in actions object
  certif/app/components/import/step-one-section.hbs
  certif/app/controllers/authenticated/sessions/import.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix

:sparkles: certif: display errors in step two section
  certif/app/components/import/step-two-section.hbs
  certif/app/controllers/authenticated/sessions/import.js
  certif/app/templates/authenticated/sessions/import.hbs
  certif/mirage/config.js
  certif/tests/acceptance/session-import_test.js
  certif/tests/unit/controllers/authenticated/sessions/import_test.js
Due: eslint --fix

feat(orga): set id pix label required
  orga/app/components/campaign/create-form.hbs
  orga/tests/integration/components/campaign/create-form_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix

style(orga): fix spacing in double auth
  orga/app/styles/components/login-or-register.scss
Due: stylelint --fix

[RELEASE] A minor is being released to 3.328.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

feat(mon-pix): improve alt logo
  admin/app/components/trainings/create-or-update-training-form.hbs
  admin/tests/acceptance/authenticated/trainings/edit-triggers_test.js
  admin/tests/acceptance/authenticated/trainings/target-profiles_test.js
  admin/tests/acceptance/authenticated/trainings/training_test.js
  admin/tests/integration/components/trainings/create-or-update-training-form_test.js
  api/db/database-builder/factory/build-training.js
  api/db/migrations/20221212100331_add-training-editor-name-logo-column.js
  api/tests/acceptance/application/users/users-controller-find-paginated-user-recommended-trainings_test.js
  mon-pix/mirage/factories/user.js
  mon-pix/tests/integration/components/training/card_test.js
  mon-pix/translations/fr.json
Due: eslint --fix

feat(mon-pix): add details to alternative text
  mon-pix/app/components/training/card.hbs
  mon-pix/app/components/training/card.js
  mon-pix/tests/integration/components/training/card_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: eslint --fix

feat(admin): save training trigger
  admin/app/controllers/authenticated/trainings/training/triggers/edit.js
  admin/mirage/config.js
  admin/mirage/handlers/trainings.js
  admin/mirage/serializers/training-trigger.js
  admin/tests/acceptance/authenticated/trainings/edit-triggers_test.js
Due: eslint --fix

fix(api): remove JSON:API unavailable 'included' in training-trigger creation payload
  api/lib/application/trainings/index.js
  api/tests/unit/application/trainings/index_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/training-trigger-serializer_test.js
Due: eslint --fix

feat(admin): add training-trigger adapter
  admin/app/adapters/training-trigger.js
  admin/tests/unit/adapters/training-trigger_test.js
Due: eslint --fix

fix(mon-pix): add 1024 as max reachable pix score
  mon-pix/app/components/hexagon-score.hbs
  mon-pix/tests/integration/components/hexagon-score_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: eslint --fix

:sparkles: api: add sessions in coockies and cancel save action
  api/lib/domain/usecases/create-sessions.js
Due: eslint --fix
