Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

:zap: (mon-pix): display carousel navigation buttons
  mon-pix/app/components/campaigns/assessment/results-recommendation-engine/trainings.gjs
  mon-pix/app/styles/components/campaigns/assessment/results/recommendation-engine/trainings.scss
  mon-pix/tests/integration/components/campaigns/assessment/results-recommendation-engine/trainings-test.gjs
Due: stylelint --fix

docs(architecture): repercuss what the ADR 55 documentation decides
  docs/fr/architecture/corpus-index.md
  docs/fr/architecture/fiche-api-interne.md
Due: none

[TECH] Déplacer le pré-handler d'Assessment dans shared (#17070)
  api/src/certification/evaluation/application/companion-alert-route.js
  api/src/certification/evaluation/application/live-alert-route.js
  api/src/evaluation/application/assessments/index.js
  api/src/evaluation/application/pre-handlers/assessment-authorization.js
  api/src/shared/application/security-pre-handlers.js
  api/src/shared/infrastructure/utils/request-response-utils.js
  api/tests/evaluation/integration/application/assessments/assessment-controller_test.js
  api/tests/evaluation/unit/application/assessments/assessment-routes_test.js
  api/tests/evaluation/unit/application/pre-handlers/assessment-authorization_test.js
  api/tests/shared/unit/application/security-pre-handlers_test.js
Due: eslint --fix

feat(api): restrict attestation reward to assessments with campaign participation
  api/src/evaluation/application/assessments/assessment-controller.js
  api/tests/evaluation/unit/application/assessments/assessment-controller_test.js
Due: eslint --fix

[TECH] Ne pas stocker de timestamp pour la révocation de session (PIX-24133) (#17394)
  api/src/identity-access-management/domain/models/RevokedUserAccess.js
  api/src/identity-access-management/infrastructure/repositories/revoked-user-access.repository.js
  api/src/shared/infrastructure/feature-toggles/feature-toggles-client.js
  api/src/shared/infrastructure/key-value-storages/InMemoryKeyValueStorage.js
  api/src/shared/infrastructure/key-value-storages/KeyValueStorage.js
  api/tests/identity-access-management/acceptance/application/token.route.test.js
  api/tests/identity-access-management/integration/domain/usecases/revoke-session.usecase.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/revoked-user-access.repository.test.js
  api/tests/identity-access-management/unit/domain/models/RevokedUserAccess.test.js
  api/tests/shared/unit/infrastructure/key-value-storages/InMemoryKeyValueStorage_test.js
Due: eslint --fix

[FEATURE] Ajouter l'ID de la catégorie à la modification d'organisations en masse (PIX-23565) (#17418)
  admin/app/components/administration/deployment/update-organizations-in-batch.gjs
  admin/tests/integration/components/administration/deployment/update-organizations-in-batch-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
  api/db/database-builder/factory/build-organization.js
  api/src/organizational-entities/domain/constants.js
  api/src/organizational-entities/domain/dtos/OrganizationBatchUpdateDTO.js
  api/src/organizational-entities/domain/models/OrganizationForAdmin.js
  api/src/organizational-entities/domain/usecases/update-organizations-in-batch.usecase.js
  api/src/organizational-entities/infrastructure/repositories/structure-category-repository.js
  api/tests/organizational-entities/acceptance/application/organization/organization.admin.route.test.js
  api/tests/organizational-entities/integration/domain/usecases/update-organizations-in-batch.usecase.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/structure-category-repository_test.js
  api/tests/organizational-entities/unit/domain/dtos/OrganizationBatchUpdateDTO.test.js
  api/tests/organizational-entities/unit/domain/models/OrganizationForAdmin_test.js
Due: eslint --fix

sr(api): initialize a legalDocuments context for builders
  api/tests/deprecated/integration/domain/usecases/get-certification-point-of-contact.test.js
  api/tests/deprecated/integration/infrastructure/repositories/certification-point-of-contact-repository.test.js
  api/tests/deprecated/unit/infrastructure/serializers/jsonapi/certification-point-of-contact.serializer.test.js
  api/tests/legal-documents/integration/domain/usecases/create-legal-document.usecase.test.js
  api/tests/legal-documents/integration/infrastructure/repositories/legal-document.repository.test.js
  api/tests/tooling/domain-builder/factory/build-legal-document.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/tooling/domain-builder/factory/legal-documents/build-legal-document-status.js
  api/tests/tooling/domain-builder/factory/legal-documents/build-legal-document.js
Due: eslint --fix

feat(admin): Display category select in orga edition mode
  admin/app/components/organizations/information-section-edit.gjs
  admin/app/models/structure-category.js
  admin/tests/acceptance/authenticated/organizations/information-management-test.js
  admin/tests/integration/components/organizations/information-section-edit-test.gjs
  admin/tests/integration/components/organizations/information-section-test.gjs
  admin/tests/mirage/routes.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

fix(api): catch constraint error on certification center membership creation
  api/src/team/infrastructure/repositories/certification-center-membership.repository.js
  api/tests/team/integration/infrastructure/repositories/certification-center-membership.repository.test.js
Due: eslint --fix

feat(api): add test for legalDocumentStatus getter
  api/tests/legal-documents/unit/domain/models/LegalDocumentStatus.test.js
Due: eslint --fix

[FEATURE] Ajouter un sélecteur de catégorie sur la fiche d'édition d'une organisation (PIX-23563) (#17452)
  admin/app/components/organizations/information-section-edit.gjs
  admin/app/models/structure-category.js
  admin/tests/acceptance/authenticated/organizations/information-management-test.js
  admin/tests/integration/components/organizations/information-section-edit-test.gjs
  admin/tests/integration/components/organizations/information-section-test.gjs
  admin/tests/mirage/routes.js
  admin/translations/en.json
  admin/translations/fr.json
Due: eslint --fix

docs(architecture): fix a wording drift in the internal API summary
  docs/fr/architecture/fiche-api-interne.md
Due: none

[BUGFIX] Ne pas jeter d'erreur 500 lors de la concurrence de création d'invitation à un CDC (PIX-24219) (#17460)
  api/src/team/infrastructure/repositories/certification-center-membership.repository.js
  api/tests/team/integration/infrastructure/repositories/certification-center-membership.repository.test.js
Due: eslint --fix

docs(architecture): repercuss the Pix architecture documentation
  docs/fr/architecture/corpus-index.md
  docs/fr/architecture/fiche-entite.md
  docs/fr/architecture/fiche-objet-valeur.md
  docs/fr/architecture/fiche-route.md
  docs/fr/architecture/references-ddd.md
Due: none

docs(architecture): record four team decisions, and retire a false gap
  docs/fr/architecture/corpus-index.md
  docs/fr/architecture/fiche-api-interne.md
  docs/fr/architecture/fiche-entite.md
  docs/fr/architecture/fiche-objet-valeur.md
  docs/fr/architecture/fiche-route.md
  docs/fr/architecture/fiche-service-domaine.md
Due: none

docs(architecture): record the shared package lead for the response contract
  docs/fr/architecture/corpus-index.md
  docs/fr/architecture/fiche-serialiseur.md
  docs/fr/architecture/migration-typescript.md
Due: none

docs(architecture): trim two obvious caveats from the shared package lead
  docs/fr/architecture/fiche-serialiseur.md
  docs/fr/architecture/migration-typescript.md
Due: none

docs(architecture): cover deserialization, and name the write-side CQRS drift
  docs/fr/architecture/corpus-index.md
  docs/fr/architecture/fiche-entite.md
  docs/fr/architecture/fiche-objet-valeur.md
  docs/fr/architecture/fiche-serialiseur.md
  docs/fr/architecture/references-ddd.md
Due: none

[FEATURE] Récupérer les CGU de l'utilisateur de Pix Certif en passant par le nouveau modèle (PIX-22441) (#17404)
  api/db/seeds/data/common/common-builder.js
  api/db/seeds/data/common/constants.js
  api/db/seeds/data/common/tooling/legal-documents.js
  api/src/deprecated/domain/usecases/get-certification-point-of-contact.js
  api/src/deprecated/infrastructure/repositories/certification-point-of-contact-repository.js
  api/src/deprecated/infrastructure/serializers/jsonapi/certification-point-of-contact.serializer.js
  api/src/identity-access-management/infrastructure/repositories/legal-document-api.repository.js
  api/src/legal-documents/domain/models/LegalDocumentStatus.js
  api/src/organizational-entities/domain/read-models/CertificationPointOfContact.js
  api/tests/deprecated/integration/domain/usecases/get-certification-point-of-contact.test.js
  api/tests/deprecated/integration/infrastructure/repositories/certification-point-of-contact-repository.test.js
  api/tests/deprecated/unit/infrastructure/serializers/jsonapi/certification-point-of-contact.serializer.test.js
  api/tests/legal-documents/integration/domain/usecases/create-legal-document.usecase.test.js
  api/tests/legal-documents/integration/infrastructure/repositories/legal-document.repository.test.js
  api/tests/legal-documents/unit/domain/models/LegalDocumentStatus.test.js
  api/tests/tooling/domain-builder/factory/build-certification-point-of-contact.js
  api/tests/tooling/domain-builder/factory/build-legal-document.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/tooling/domain-builder/factory/legal-documents/build-legal-document-status.js
  api/tests/tooling/domain-builder/factory/legal-documents/build-legal-document.js
Due: eslint --fix

docs(architecture): read the pending ADRs, retire I7, source placements
  docs/fr/architecture/corpus-index.md
  docs/fr/architecture/fiche-controleur.md
  docs/fr/architecture/fiche-entite.md
  docs/fr/architecture/fiche-racine-agregat.md
  docs/fr/architecture/fiche-repository.md
  docs/fr/architecture/fiche-serialiseur.md
  docs/fr/architecture/fiche-service-domaine.md
  docs/fr/architecture/fiche-usecase.md
  docs/fr/architecture/references-ddd.md
Due: none

tech(api): add not null constraint to description and prescriberDescription in combined_course_blueprints table
  api/db/migrations/20260910084810_add_not_null_constraint_to_descriptions_in_table_combined_course_blueprints.js
Due: eslint --fix

tech(e2e): update combined_course_blueprint in db for tests
  high-level-tests/e2e-playwright/helpers/db.ts
Due: none

chore(release): 5.499.0 [skip ci]
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  d6ac2da13cc44b434f84f5549156bfc217267ff0
Due: none

docs(architecture): anchor the examples of three fiches in real code
  docs/fr/architecture/fiche-entite.md
  docs/fr/architecture/fiche-objet-valeur.md
  docs/fr/architecture/fiche-specification.md
Due: none

docs(architecture): anchor the read-model and aggregate-root examples
  docs/fr/architecture/fiche-racine-agregat.md
  docs/fr/architecture/fiche-read-model.md
Due: none

docs(architecture): anchor the repository fiche examples in real code
  docs/fr/architecture/fiche-repository.md
Due: none

docs(architecture): anchor the usecase fiche examples in real code
  docs/fr/architecture/fiche-usecase.md
Due: none

docs(architecture): anchor the domain-service fiche examples in real code
  docs/fr/architecture/fiche-service-domaine.md
Due: none

docs(architecture): anchor the route fiche examples and fix stale X2 references
  docs/fr/architecture/fiche-route.md
Due: none

docs(architecture): anchor the controller fiche examples in real code
  docs/fr/architecture/fiche-controleur.md
Due: none

docs(architecture): anchor the serializer fiche examples and scope the M1 rule
  docs/fr/architecture/fiche-serialiseur.md
Due: none

docs(architecture): anchor the internal-API fiche examples in real code
  docs/fr/architecture/fiche-api-interne.md
Due: none

docs(architecture): replace the last placeholder names and fix an anchor
  docs/fr/architecture/fiche-entite.md
  docs/fr/architecture/fiche-objet-valeur.md
  docs/fr/architecture/fiche-racine-agregat.md
  docs/fr/architecture/fiche-repository.md
  docs/fr/architecture/fiche-service-domaine.md
Due: none

docs(architecture): record what the examples pass corrected
  docs/fr/architecture/corpus-index.md
Due: none

[TECH] Ajouter une contrainte NOT NULL sur les descriptions de la table combined_course_blueprints (PIX-24105) (#17464)
  api/db/migrations/20260910084810_add_not_null_constraint_to_descriptions_in_table_combined_course_blueprints.js
  high-level-tests/e2e-playwright/helpers/db.ts
Due: eslint --fix

tech(mon-pix): fixes flaky e2e test on combined courses
  high-level-tests/e2e-playwright/tests/pix-app/combined-course.test.ts
Due: none

feat(api): make blueprint description and prescriberDescription required
  api/src/quest/application/combined-course-blueprint-route.js
  api/src/quest/domain/models/combined-course-blueprints/entities/CombinedCourseBlueprint.js
  api/src/quest/domain/models/combined-course-blueprints/value-objects/CombinedCourseBlueprintForCreation.js
  api/src/quest/domain/models/combined-course-blueprints/value-objects/CombinedCourseBlueprintForUpdate.js
  api/tests/quest/unit/application/combined-course-blueprint-route_test.js
  api/tests/quest/unit/domain/models/AdminCombinedCourseBlueprintDetails_test.js
  api/tests/quest/unit/domain/models/CombinedCourseBlueprintForCreation_test.js
  api/tests/quest/unit/domain/models/CombinedCourseBlueprint_test.js
Due: eslint --fix

feat(admin): add requiredLabel to description and prescriberDescription in create/update form
  admin/app/components/combined-course-blueprints/form.gjs
Due: none

tech(TimerChallenge): rework challenge timer
  mon-pix/app/components/challenge-item/challenge-item-qcm.gjs
  mon-pix/app/components/challenge-item/challenge-item-qcu.gjs
  mon-pix/app/components/challenge-item/challenge-item-qroc.gjs
  mon-pix/app/components/challenge-item/challenge-item-qrocm.gjs
  mon-pix/app/components/timeout-gauge.gjs
  mon-pix/app/styles/components/_timeout-gauge.scss
  mon-pix/public/images/icons/icon-timeout-black.svg
  mon-pix/public/images/icons/icon-timeout-red.svg
  mon-pix/tests/acceptance/challenge-timed-test.js
  mon-pix/tests/integration/components/timeout-gauge-test.gjs
  mon-pix/translations/de.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/it.json
  mon-pix/translations/nl.json
Due: eslint --fix, stylelint --fix
