Repository 1024pix/pix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "!(admin|1d|certif|monpix|orga)/**/*.{js,yml, yaml}": "eslint --fix",
  "./*.{js,yml, yaml}": "eslint --fix",
  "*.scss": "stylelint --fix"
}

:recycle: api: fetching habitations via complementary certification
  api/src/certification/session/domain/models/Center.js
  api/src/certification/session/domain/models/ComplementaryCertification.js
  api/src/certification/shared/domain/models/ComplementaryCertificationKeys.js
  api/tests/certification/session/unit/application/session-mass-import-controller_test.js
  api/tests/certification/session/unit/domain/models/ComplementaryCertification_test.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification.js
Due: eslint --fix

:recycle: api: deleting test for which file naming did not match the implementation
  api/tests/acceptance/application/certification-centers/certification-center-controller-get-import-template_test.js
Due: eslint --fix

refactor(api): normalize usage of campaignAdministrationRepository.get
  api/src/prescription/campaign/domain/models/Campaign.js
  api/src/prescription/campaign/domain/models/CampaignManagement.js
  api/src/prescription/campaign/domain/read-models/Campaign.js
  api/src/prescription/campaign/domain/usecases/update-campaign-details.js
  api/src/prescription/campaign/domain/usecases/update-campaign.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-administration-repository.js
  api/tests/prescription/campaign/integration/domain/usecases/create-campaign_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-administration-repository_test.js
  api/tests/prescription/campaign/unit/domain/models/CampaignManagement_test.js
  api/tests/prescription/campaign/unit/domain/models/Campaign_test.js
  api/tests/prescription/campaign/unit/domain/usecases/update-campaign-details_test.js
  api/tests/prescription/campaign/unit/domain/usecases/update-campaign_test.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/tooling/domain-builder/factory/prescription/campaign/build-campaign.js
Due: eslint --fix

[RELEASE] A minor is being released to 4.94.0.
  1d/package-lock.json
  1d/package.json
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: none

feat(orga): affiche le nb de participation
  orga/app/components/campaign/activity/participants-list.hbs
  orga/app/models/campaign-participant-activity.js
  orga/app/templates/authenticated/campaigns/campaign/activity.hbs
  orga/tests/integration/components/campaign/activity/participants-list_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: eslint --fix

feat(api): ajoute le nombre de participation à une campagne
  api/src/prescription/campaign/domain/read-models/CampaignParticipantActivity.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-participant-activity-repository.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-participant-activity-serializer.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-participant-activity-repository_test.js
  api/tests/prescription/campaign/unit/domain/read-models/CampaignParticipantActivity_test.js
  api/tests/prescription/campaign/unit/infrastrucutre/serializers/jsonapi/campaign-participant-activity-serializer_test.js
Due: eslint --fix

Updated translations from Phrase
  mon-pix/translations/nl.json
Due: none

Sort keys in nl.json
  mon-pix/translations/nl.json
Due: none

Create module-didacticiel.json
  api/src/devcomp/infrastructure/datasources/learning-content/module-didacticiel.json
Due: none

fix(api): modulix content cleaning
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  api/tests/devcomp/acceptance/application/passages/passage-controller_test.js
Due: eslint --fix

Update module-didacticiel.json
  api/src/devcomp/infrastructure/datasources/learning-content/module-didacticiel.json
Due: none

:recycle: api: Audit api routes for next-gen
  admin/app/adapters/v3-certification-course-details-for-administration.js
  admin/mirage/config.js
  api/src/certification/course/application/certification-course-controller.js
  api/src/certification/course/application/certification-course-route.js
  api/tests/certification/course/acceptance/application/certification-course-route_test.js
  api/tests/certification/course/unit/application/certification-course-route_test.js
Due: eslint --fix

:recycle: api: remove the use of algorithmDataFetcherService in getNextChallengeForCertification
  api/lib/domain/usecases/get-next-challenge-for-certification.js
  api/tests/unit/domain/usecases/get-next-challenge-for-certification_test.js
Due: eslint --fix

:truck: api: Remove old scoring simulator
  api/lib/application/scoring-simulator/index.js
  api/lib/application/scoring-simulator/scoring-simulator-controller.js
  api/lib/routes.js
  api/tests/acceptance/application/scoring-simulator/scoring-simulator-controller_test.js
  api/tests/integration/application/scoring-simulator/scoring-simulator-controller_test.js
Due: eslint --fix

:recycle: api: move answer-repository to shared
  api/lib/domain/events/index.js
  api/lib/domain/services/certification-challenges-service.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/participant-result-repository.js
  api/src/evaluation/domain/usecases/index.js
  api/src/shared/infrastructure/repositories/answer-repository.js
  api/tests/integration/domain/services/pick-certification-challenge_test.js
  api/tests/shared/integration/infrastructure/repositories/answer-repository_test.js
Due: eslint --fix

:recycle: api: move get-next-challenge-for-certification dependencies to src
  api/lib/domain/usecases/index.js
  api/src/certification/flash-certification/application/scenario-simulator-controller.js
  api/src/certification/flash-certification/domain/services/pick-challenge-service.js
  api/src/certification/shared/infrastructure/repositories/certification-challenge-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/src/shared/application/assessments/assessment-controller.js
  api/tests/certification/flash-certification/integration/application/scenario-simulator-controller_test.js
  api/tests/certification/flash-certification/unit/domain/services/pick-challenge-service_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-challenge-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/challenge-repository_test.js
Due: eslint --fix

:recycle: api: move get-next-challenge-for-certification to src
  api/lib/domain/usecases/index.js
  api/src/certification/course/domain/usecases/get-next-challenge-for-certification.js
  api/tests/certification/course/unit/domain/usecases/get-next-challenge-for-certification_test.js
Due: eslint --fix

♻️ certif: remove useless class
  certif/app/components/import/step-two-section.hbs
  certif/app/styles/pages/authenticated/sessions/import.scss
Due: stylelint --fix

✨ certif: add file import block on step two section
  certif/app/components/import/step-one-section.hbs
  certif/app/components/import/step-two-section.hbs
  certif/app/controllers/authenticated/sessions/import.js
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/app/templates/authenticated/sessions/import.hbs
  certif/tests/integration/components/sessions-import/step-two-section_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: eslint --fix, stylelint --fix

✨ certif: add acceptance tests for re-importing sessions
  certif/tests/acceptance/routes/authenticated/sessions/import_test.js
Due: eslint --fix

✨ certif: add a loader for file re importation
  certif/app/components/import/step-one-section.hbs
  certif/app/components/import/step-two-section.hbs
  certif/app/controllers/authenticated/sessions/import.js
  certif/app/styles/globals/panels.scss
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/app/templates/authenticated/sessions/import.hbs
  certif/public/images/interwind.gif
Due: eslint --fix, stylelint --fix

✨ certif: create fileImportBlock component
  certif/app/components/import/file-import-block.hbs
  certif/app/components/import/step-one-section.hbs
  certif/tests/integration/components/sessions-import/file-import-block_test.js
  certif/tests/integration/components/sessions-import/step-one-section_test.js
Due: eslint --fix
