Repository 1024pix/pix: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-and-test-api, build-and-test

tech(mon-pix): remove globals/_dimension.scss file
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/globals/_dimension.scss
Due: build-and-test

tech(mon-pix): move main style from footer.scss to layout.scss
  mon-pix/app/styles/components/_footer.scss
  mon-pix/app/styles/globals/_layout.scss
Due: build-and-test

tech(mon-pix): remove ember-routable-modal scss files
  mon-pix/app/styles/vendor/ember-routable-modal/core.scss
  mon-pix/app/styles/vendor/ember-routable-modal/dialog.scss
Due: build-and-test

:fire: api: Remove column for end-test-screen-removal
  api/db/migrations/20230112224527_drop-column-end-test-screen-removal.js
Due: build-and-test-api

sr(mon-pix) [a11y-1.3] clarify alt on French Republic logo
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: build-and-test

feat(api): add createOrUpdate method in training-trigger repository
  api/lib/infrastructure/repositories/training-trigger-repository.js
  api/tests/integration/infrastructure/repositories/training-trigger-repository_test.js
Due: build-and-test-api

feat(api): add trainingTrigger serializer
  api/lib/infrastructure/serializers/jsonapi/training-trigger-serializer.js
  api/tests/unit/infrastructure/serializers/jsonapi/training-trigger-serializer_test.js
Due: build-and-test-api

feat(api): add createOrUpdatTrigger in traning controller
  api/lib/application/trainings/index.js
  api/lib/application/trainings/training-controller.js
  api/tests/acceptance/application/trainings/training-controller_test.js
  api/tests/unit/application/trainings/index_test.js
  api/tests/unit/application/trainings/training-controller_test.js
Due: build-and-test-api

feat(api): create training trigger model
  api/lib/domain/models/TrainingTrigger.js
  api/lib/domain/models/TrainingTriggerTube.js
  api/tests/tooling/domain-builder/factory/build-training-trigger.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/models/TrainingTrigger_test.js
Due: build-and-test-api

feat(api): add create-or-update-training-trigger usecase
  api/lib/domain/usecases/create-or-update-training-trigger.js
  api/lib/domain/usecases/index.js
  api/tests/unit/domain/usecases/create-or-update-training-trigger_test.js
Due: build-and-test-api

feat(api): create training triggers table
  api/db/database-builder/factory/build-training-trigger-tube.js
  api/db/database-builder/factory/build-training-trigger.js
  api/db/database-builder/factory/index.js
  api/db/migrations/20230201130836_create-training-triggers-table.js
  api/db/migrations/20230201130846_create-training-trigger-tubes-table.js
Due: build-and-test-api

Bump p-queue from 6.6.2 to 7.3.0
  orga/package-lock.json
  orga/package.json
Due: none

Bump @fortawesome/free-solid-svg-icons from 6.2.0 to 6.2.1
  orga/package-lock.json
  orga/package.json
Due: none

Bump @formatjs/intl-locale from 3.0.7 to 3.0.11
  orga/package-lock.json
  orga/package.json
Due: none

Bump @ember/test-helpers from 2.8.1 to 2.9.3
  orga/package-lock.json
  orga/package.json
Due: none

Bump dayjs from 1.11.6 to 1.11.7
  orga/package-lock.json
  orga/package.json
Due: none

Bump query-string from 7.1.1 to 8.1.0
  orga/package-lock.json
  orga/package.json
Due: none

Bump @ember/render-modifiers from 2.0.4 to 2.0.5
  orga/package-lock.json
  orga/package.json
Due: none

Bump @babel/plugin-proposal-decorators from 7.20.2 to 7.20.13
  orga/package-lock.json
  orga/package.json
Due: none

Bump ember-auto-import from 2.4.3 to 2.6.0
  orga/package-lock.json
  orga/package.json
Due: none

Bump prettier from 2.7.1 to 2.8.3
  orga/package-lock.json
  orga/package.json
Due: none

Bump ember-click-outside from 4.0.0 to 5.0.1
  orga/package-lock.json
  orga/package.json
Due: none

Bump ember-dayjs from 0.10.3 to 0.10.4
  orga/package-lock.json
  orga/package.json
Due: none

Bump ember-cli from 4.8.0 to 4.10.0
  orga/package-lock.json
  orga/package.json
Due: none

Bump ember-source from 4.10.0 to 4.10.0
  orga/package-lock.json
  orga/package.json
Due: none

Bump eslint-plugin-yml from 1.2.0 to 1.4.0
  orga/package-lock.json
  orga/package.json
Due: none

Bump ember-qunit from 6.0.0 to 6.1.1
  orga/package-lock.json
  orga/package.json
Due: none

Bump @fortawesome/free-regular-svg-icons from 6.2.0 to 6.2.1
  orga/package-lock.json
  orga/package.json
Due: none

Bump ember-resolver from 8.0.3 to 10.0.0
  orga/package-lock.json
  orga/package.json
Due: none

Bump @formatjs/intl-pluralrules from 5.1.4 to 5.1.8
  orga/package-lock.json
  orga/package.json
Due: none

Path conditions:
  build-and-test-api: any of: api/.*
  build-and-test: any of: mon-pix/.*
