Repository 1024pix/pix: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-and-test-api, build-and-test

remove dependance in campaign-profile-repository
  api/lib/domain/models/CampaignParticipationResult.js
  api/lib/domain/models/Scorecard.js
  api/lib/domain/read-models/CampaignProfile.js
  api/lib/domain/read-models/CampaignProfileCompetence.js
  api/lib/infrastructure/repositories/campaign-profile-repository.js
  api/tests/unit/domain/read-models/CampaignProfile_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/campaign-profile-serializer_test.js
Due: build-and-test-api

add areaId to Competence model
  api/lib/domain/models/Competence.js
  api/lib/infrastructure/repositories/competence-repository.js
  api/tests/integration/application/target-profile/index_test.js
  api/tests/integration/infrastructure/repositories/certifiable-profile-for-learning-content-repository_test.js
  api/tests/integration/infrastructure/repositories/competence-repository_test.js
  api/tests/tooling/domain-builder/factory/build-competence.js
  api/tests/unit/domain/models/CertifiableProfileForLearningContent_test.js
  api/tests/unit/domain/services/certification-challenges-service_test.js
  api/tests/unit/domain/usecases/get-target-profile-content-as-json_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/target-profile-for-admin-new-format-serializer_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/target-profile-for-admin-old-format-serializer_test.js
Due: build-and-test-api

add method to get area by id
  api/lib/infrastructure/repositories/area-repository.js
  api/tests/integration/infrastructure/repositories/area-repository_test.js
Due: build-and-test-api

remove dependance from pdf learning content builder
  api/lib/application/target-profiles/presenter/pdf/builder/area-builder.js
Due: build-and-test-api

replace dependance in participant-result-repository
  api/lib/infrastructure/repositories/participant-result-repository.js
Due: build-and-test-api

replace dependance in target-profile-for-admin-repository
  api/lib/infrastructure/repositories/target-profile-for-admin-repository.js
Due: build-and-test-api

remove dependance from area-repository
  api/lib/infrastructure/repositories/area-repository.js
Due: build-and-test-api

use competences without area in LearningContent model
  api/lib/domain/models/CampaignLearningContent.js
  api/lib/domain/read-models/CampaignAnalysis.js
  api/lib/domain/read-models/CampaignAssessmentParticipationResult.js
  api/lib/domain/read-models/CampaignCollectiveResult.js
  api/lib/infrastructure/repositories/campaign-analysis-repository.js
  api/lib/infrastructure/repositories/campaign-assessment-participation-result-repository.js
  api/lib/infrastructure/repositories/campaign-collective-result-repository.js
  api/lib/infrastructure/repositories/learning-content-repository.js
  api/tests/integration/infrastructure/repositories/campaign-analysis-repository_test.js
  api/tests/integration/infrastructure/repositories/campaign-collective-result-repository_test.js
  api/tests/integration/infrastructure/repositories/learning-content-repository_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-collective-result.js
  api/tests/unit/domain/read-models/CampaignAnalysis_test.js
  api/tests/unit/domain/read-models/CampaignAssessmentParticipationResult_test.js
  api/tests/unit/domain/read-models/CampaignCollectiveResult_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/campaign-assessment-participation-result-serializer_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/campaign-collective-result-serializer_test.js
Due: build-and-test-api

:recycle: api: separate flash scoring results from participant results
  api/lib/domain/read-models/participant-results/AssessmentResult.js
  api/lib/infrastructure/repositories/participant-result-repository.js
  api/tests/unit/infrastructure/serializers/jsonapi/participant-result-serializer_test.js
Due: build-and-test-api

:sparkles: api: add migration script to update CONNECTION_OR_END_SCREEN value
  api/db/migrations/20230124103059_update-connection-or-end-screen-category-to-deprecated.js
Due: build-and-test-api

:recycle: api: remove CONNECTION_OR_END_SCREEN category from domain builder
  api/tests/tooling/domain-builder/factory/build-certification-issue-report.js
Due: build-and-test-api

:recycle: api: remove CONNECTION_OR_END_SCREEN from CertificationIssueReport model and update test with correct categories
  api/lib/domain/models/CertificationIssueReport.js
  api/tests/unit/domain/models/CertificationIssueReport_test.js
Due: build-and-test-api

:recycle: api: update seed with CONNECTION_OR_END_SCREEN deprecated
  api/db/seeds/data/certification/certification-courses-builder.js
Due: build-and-test-api

:recycle: api: change category CONNECTION_OR_END_SCREEN to deprecated list
  api/lib/domain/models/CertificationIssueReportCategory.js
Due: build-and-test-api

a11y(admin): use unordered list instead of description list
  admin/app/components/users/user-detail-personal-information/authentication-method.hbs
  admin/tests/integration/components/users/user-detail-personal-information/authentication-method_test.js
Due: none

feat(api): update serializer
  api/lib/infrastructure/serializers/jsonapi/user-details-for-admin-serializer.js
  api/tests/unit/infrastructure/serializers/jsonapi/user-details-for-admin-serializer_test.js
Due: build-and-test-api

feat(api): return more info about authentication methods
  api/lib/infrastructure/repositories/user-repository.js
  api/tests/integration/infrastructure/repositories/user-repository_test.js
Due: build-and-test-api

feat(admin): display more info for user authentication methods
  admin/app/components/users/user-detail-personal-information/authentication-method.hbs
  admin/app/components/users/user-detail-personal-information/authentication-method.js
  admin/app/models/authentication-method.js
  admin/app/styles/app.scss
  admin/tests/integration/components/users/user-detail-personal-information/authentication-method_test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: none

mon-pix: Fixes ~4000 tests being run instead of ~2700 in CircleCI
  mon-pix/app/components/profile-sharing-form.hbs
  mon-pix/app/components/profile-sharing-form.js
  mon-pix/app/controllers/campaigns/profiles-collection/send-profile.js
Due: build-and-test

mon-pix: Fixes mon-pix's test not being partitioned
  mon-pix/tests/test-helper.js
Due: build-and-test

mon-pix: Upgrade ember-exam to 8.0.0
  mon-pix/package-lock.json
  mon-pix/package.json
Due: build-and-test

[RELEASE] A minor is being released to 3.315.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: build-and-test-api, build-and-test

sr(mon-pix): improve a11y color contrast
  mon-pix/app/styles/components/_user-logged-menu.scss
Due: build-and-test

test(admin): add acceptance test for training detail page
  admin/app/models/training.js
  admin/mirage/config.js
  admin/mirage/handlers/trainings.js
  admin/tests/acceptance/authenticated/trainings/detail_test.js
Due: none

Path conditions:
  build-and-test-api: any of: api/.*
  build-and-test: any of: mon-pix/.*
