Repository 1024pix/pix: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-and-test-api, build-and-test

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            api/.* build-and-test-api true
            mon-pix/.* build-and-test true
          # Optional, defaults to main:
          base-revision: dev

feat(api): add isProgressable getter in Scorecard
  api/lib/domain/models/Scorecard.js
  api/tests/unit/domain/models/Scorecard_test.js
Due: build-and-test-api

feat(api): add isStarted getter in Scorecard
  api/lib/domain/models/Scorecard.js
  api/tests/unit/domain/models/Scorecard_test.js
Due: build-and-test-api

feat(api): add isImprovable getter in Scorecard
  api/lib/domain/models/Scorecard.js
  api/tests/unit/domain/models/Scorecard_test.js
Due: build-and-test-api

sr(api): use Scorecard model in build-user-scorecard
  api/tests/tooling/domain-builder/factory/build-user-scorecard.js
  api/tests/unit/infrastructure/serializers/jsonapi/profile-serializer_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/scorecard-serializer_test.js
Due: build-and-test-api

feat(api): add isResettable getter in Scorecard
  api/lib/domain/models/Scorecard.js
  api/tests/unit/domain/models/Scorecard_test.js
Due: build-and-test-api

feat(api): add remainingPixToNextLevel getter in Scorecard
  api/lib/domain/models/Scorecard.js
  api/tests/unit/domain/models/Scorecard_test.js
Due: build-and-test-api

feat(api): add shouldWaitBeforeImproving getter in Scorecard
  api/lib/domain/models/Scorecard.js
  api/tests/unit/domain/models/Scorecard_test.js
Due: build-and-test-api

feat(api): add isMaxLevel getter in Scorecard
  api/lib/domain/models/Scorecard.js
  api/tests/unit/domain/models/Scorecard_test.js
Due: build-and-test-api

refacto certification badge service, simplify model
  api/lib/domain/models/CertifiableBadgeAcquisition.js
  api/lib/domain/models/ComplementaryCertificationBadge.js
  api/lib/domain/services/certification-challenges-service.js
  api/lib/domain/usecases/get-certification-candidate-subscription.js
  api/lib/domain/usecases/get-user-certification-eligibility.js
  api/lib/domain/usecases/retrieve-last-or-create-certification-course.js
  api/lib/infrastructure/repositories/badge-for-calculation-repository.js
  api/lib/infrastructure/repositories/certifiable-badge-acquisition-repository.js
  api/tests/integration/domain/services/certification-badges-service_test.js
  api/tests/integration/infrastructure/repositories/badge-for-calculation-repository_test.js
  api/tests/integration/infrastructure/repositories/certifiable-badge-acquisition-repository_test.js
  api/tests/tooling/domain-builder/factory/build-certifiable-badge-acquisition.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-badge.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/services/certification-badges-service_test.js
  api/tests/unit/domain/services/certification-challenges-service_test.js
  api/tests/unit/domain/usecases/get-certification-candidate-subscription_test.js
  api/tests/unit/domain/usecases/get-user-certification-eligibility_test.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Due: build-and-test-api

bsr(orga) update misc injected property
  orga/translations/fr.json
Due: none

[ORGA] use information component
  orga/app/components/participant/assessment/header.hbs
  orga/app/components/participant/profile/header.hbs
Due: none

add wrapper for information definition
  orga/app/components/participant/assessment/header.hbs
  orga/app/components/participant/profile/header.hbs
  orga/app/components/ui/information-wrapper.hbs
  orga/app/components/ui/information.hbs
  orga/app/styles/components/ui/information.scss
  orga/tests/integration/components/ui/information-wrapper_test.js
Due: none

[ORGA] create information component
  orga/app/components/ui/information.hbs
  orga/app/styles/components/ui/index.scss
  orga/app/styles/components/ui/information.scss
  orga/tests/integration/components/ui/information_test.js
Due: none

chore: update auto-merge github action
  .github/workflows/auto-merge.yaml
Due: none

[BUGFIX] avoid flaky on get user profile shared for campaign
  api/lib/domain/usecases/get-user-profile-shared-for-campaign.js
  api/lib/infrastructure/repositories/knowledge-element-repository.js
  api/tests/acceptance/application/users/users-get-shared-profile-for-campaign_test.js
Due: build-and-test-api

refactor(orga): update tests folders hierarchy for sco & sup organization
  orga/tests/unit/routes/authenticated/sco-organization-participants/sco-organization-participant/activity_test.js
  orga/tests/unit/routes/authenticated/sco-organization-participants/sco-organization-participant_test.js
  orga/tests/unit/routes/authenticated/sup-organization-participants/sup-organization-participant/activity_test.js
  orga/tests/unit/routes/authenticated/sup-organization-participants/sup-organization-participant_test.js
Due: none

feat(orga): add route to get student detail
  orga/app/routes/authenticated/sco-organization-participants/sco-organization-participant.js
  orga/tests/unit/routes/authenticated/sco-organization-participant/sco-organization-participant_test.js
Due: none

feat(orga): add template to display student name and back arrow
  orga/app/styles/app.scss
  orga/app/styles/pages/authenticated/sco-organization-participants/sco-organization-participant.scss
  orga/app/templates/authenticated/sco-organization-participants/sco-organization-participant.hbs
Due: none

feat(mon-pix): allow to validate data protection policy
  mon-pix/app/adapters/user.js
  mon-pix/app/components/data-protection-policy-information-banner.hbs
  mon-pix/app/components/data-protection-policy-information-banner.js
  mon-pix/mirage/routes/users/index.js
  mon-pix/tests/unit/adapters/user_test.js
Due: build-and-test

feat(api): create rememberUserHasSeenLastDataProtectionPolicyInformation method on user controller
  api/lib/application/users/user-controller.js
  api/tests/unit/application/users/user-controller_test.js
Due: build-and-test-api

feat(mon-pix): add data protection policy banner on campaign page
  mon-pix/app/components/data-protection-policy-information-banner.js
  mon-pix/app/templates/fill-in-campaign-code.hbs
Due: build-and-test

sr(mon-pix): rename new information banner close button label
  mon-pix/app/components/new-information.hbs
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: build-and-test

feat(api): add PATCH route
  api/lib/application/users/index.js
  api/tests/acceptance/application/users/remember-user-has-seen-last-data-protection-policy-information_test.js
  api/tests/acceptance/application/users/users-controller-get-current-user_test.js
Due: build-and-test-api

feat(api): create updateLastDataProtectionPolicySeenAt method on user repository
  api/lib/infrastructure/repositories/user-repository.js
  api/tests/integration/infrastructure/repositories/user-repository_test.js
Due: build-and-test-api

feat(api): add lastDataProtectionPolicySeenAt on user database builder
  api/db/database-builder/factory/build-user.js
Due: build-and-test-api
