Repository 1024pix/pix: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-and-test-api, build-and-test

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            api/.* build-and-test-api true
            mon-pix/.* build-and-test true
          # Optional, defaults to main:
          base-revision: dev

api: add transaction in dissociateAllOrganizationLearnersByUserId
  api/lib/infrastructure/repositories/organization-learner-repository.js
Due: build-and-test-api

api: dissociate all orga learner when anonymize
  api/lib/domain/usecases/anonymize-user.js
  api/tests/unit/domain/usecases/anonymize-user_test.js
Due: build-and-test-api

api: add dissociateAllOrgaLearnerByUserId() in repo
  api/lib/infrastructure/repositories/organization-learner-repository.js
  api/tests/integration/infrastructure/repositories/organization-learner-repository_test.js
Due: build-and-test-api

api: refacto separate read and write in updateUserDetailsForAdmin
  api/lib/domain/usecases/add-pix-authentication-method-by-email.js
  api/lib/domain/usecases/anonymize-user.js
  api/lib/infrastructure/repositories/user-repository.js
  api/tests/integration/infrastructure/repositories/user-repository_test.js
  api/tests/unit/domain/usecases/add-pix-authentication-method-by-email_test.js
  api/tests/unit/domain/usecases/anonymize-user_test.js
Due: build-and-test-api

:recycle: api: change odsBuffer payload and index payload parameters
  api/lib/application/sessions/index.js
  api/lib/application/sessions/session-controller.js
  api/tests/acceptance/application/session/session-controller-import-certification-candidates-from-attendance-sheet_reports_categorization_test.js
  api/tests/unit/application/session/session-controller_test.js
Due: build-and-test-api

:recycle: certif: use Pix UI upload button for candidate import
  certif/app/components/import-candidates.hbs
  certif/app/components/import-candidates.js
Due: none

:recycle: certif: change tests according to the new upload method
  api/tests/acceptance/application/session/session-controller-import-certification-candidates-from-attendance-sheet_reports_categorization_test.js
  certif/mirage/config.js
  certif/tests/acceptance/session-details-certification-candidates_test.js
Due: build-and-test-api

:sparkles: certif: add an adapter for certification candidates import
  certif/app/adapters/certification-candidates-import.js
Due: none

Remove unused npm task
  package.json
Due: none

[RELEASE] A minor is being released to 3.303.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: build-and-test-api, build-and-test

Write full language word in select for pdf target profile
  admin/app/components/target-profiles/pdf-parameters-modal.hbs
  admin/app/components/target-profiles/pdf-parameters-modal.js
Due: none

use dayjs localized formatting for version date in pdf front page
  api/lib/application/target-profiles/presenter/pdf/drawer/CoverPageVersionText.js
  api/tests/integration/application/target-profile/presenter/pdf/learning-content-en.pdf
  api/tests/integration/application/target-profile/presenter/pdf/learning-content-fr.pdf
Due: build-and-test-api

feat(orga): change default page number for sco students list
  orga/app/controllers/authenticated/sco-organization-participants/list.js
  orga/app/routes/authenticated/sco-organization-participants/list.js
Due: none

feat(orga): change default page number for campaigns list
  orga/app/controllers/authenticated/campaigns/list/all-campaigns.js
  orga/app/controllers/authenticated/campaigns/list/my-campaigns.js
  orga/app/routes/authenticated/campaigns/list/all-campaigns.js
  orga/app/routes/authenticated/campaigns/list/my-campaigns.js
Due: none

feat(orga): change default page number for sup students list
  orga/app/controllers/authenticated/sup-organization-participants/list.js
  orga/app/routes/authenticated/sup-organization-participants/list.js
Due: none

feat(orga): replace PixDropdown with PixSelect
  orga/app/components/campaign/create-form.hbs
  orga/app/components/campaign/create-form.js
  orga/tests/integration/components/campaign/create-form_test.js
  orga/tests/unit/components/campaign/create-form_test.js
Due: none

Replace profil-cible with profil cible
  admin/app/components/badges/campaign-criterion.hbs
  admin/app/components/target-profiles/target-profile.hbs
  admin/tests/acceptance/authenticated/target-profiles/target-profile/creation_test.js
  admin/tests/acceptance/authenticated/target-profiles/target-profile/insights_test.js
  admin/tests/acceptance/authenticated/target-profiles/target-profile/organizations_test.js
  admin/tests/integration/components/badges/badge_test.js
  admin/tests/integration/components/badges/campaign-criterion_test.js
  api/lib/application/organizations/index.js
  api/lib/application/target-profiles/index.js
  api/lib/domain/usecases/attach-target-profiles-to-organization.js
  api/tests/unit/domain/usecases/attach-target-profiles-to-organization_test.js
Due: build-and-test-api

replace skills for tubes in sentence for criteria
  admin/app/components/badges/campaign-criterion.hbs
  admin/tests/acceptance/authenticated/target-profiles/target-profile/insights_test.js
  admin/tests/integration/components/badges/badge_test.js
  admin/tests/integration/components/badges/campaign-criterion_test.js
Due: none

chore(orga): update pix-ui to v23.3.0
  orga/package-lock.json
  orga/package.json
Due: none

Fix InMemoryTempStorage.update wrongly expiring key
  api/lib/infrastructure/temporary-storage/InMemoryTemporaryStorage.js
Due: build-and-test-api

use http errors serializer helper in PE notifier for monitoring
  api/lib/infrastructure/externals/pole-emploi/pole-emploi-notifier.js
  api/tests/unit/infrastructure/externals/pole-emploi/pole-emploi-notifier_test.js
Due: build-and-test-api

Return only serialized error if no custom message provided
  api/lib/infrastructure/http/errors-helper.js
  api/tests/unit/infrastructure/http/errors-helper_test.js
Due: build-and-test-api
