Repository 1024pix/pix: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-and-test-api, build-and-test

feat(api): use csv helper methods from infrastructure
  api/lib/infrastructure/helpers/csv.js
  api/lib/infrastructure/serializers/csv/csv-serializer.js
  api/tests/unit/infrastructure/helpers/csv.js
  api/tests/unit/infrastructure/helpers/files/organizations-empty-file.csv
  api/tests/unit/infrastructure/helpers/files/organizations-with-tags-and-target-profiles-test.csv
  api/tests/unit/infrastructure/helpers/files/withHeader-test.csv
Due: build-and-test-api

refactor(api): improve error messages
  api/lib/domain/usecases/create-organizations-with-tags-and-target-profiles.js
  api/lib/domain/validators/organization-with-tags-and-target-profiles-script.js
  api/tests/integration/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
Due: build-and-test-api

feat(admin): Add button for create organizations
  admin/app/adapters/organizations-import.js
  admin/app/components/administration/organizations-import.hbs
  admin/app/components/administration/organizations-import.js
  admin/app/templates/authenticated/administration.hbs
  admin/mirage/config.js
  admin/tests/integration/components/administration/organizations-import_test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: none

:recycle: api: Rename getExistingSessionByInformation method into isSessionsExisting
  api/lib/domain/usecases/create-sessions.js
  api/lib/infrastructure/repositories/sessions/session-repository.js
  api/tests/integration/infrastructure/repositories/sessions/session-repository_test.js
  api/tests/unit/domain/usecases/create-sessions_test.js
Due: build-and-test-api

:globe_with_meridians: certif: update translations for sessions import
  certif/app/controllers/authenticated/sessions/import.js
  certif/app/templates/authenticated/sessions/import.hbs
  certif/tests/acceptance/session-import_test.js
  certif/translations/en.json
  certif/translations/fr.json
Due: none

:recycle: certif: move CSV file actions from panel header component to import controller
  certif/app/components/sessions/panel-header.js
  certif/app/controllers/authenticated/sessions/import.js
  certif/app/routes/authenticated/sessions/list.js
  certif/tests/acceptance/session-import_test.js
  certif/tests/acceptance/session-list_test.js
  certif/tests/integration/components/sessions/panel-header_test.js
  certif/tests/unit/controllers/authenticated/sessions/import_test.js
Due: none

:sparkles: certif: Add download buttons on import page
  certif/app/styles/app.scss
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/app/templates/authenticated/sessions/import.hbs
Due: none

:sparkles: certif: create sessions import page
  certif/app/components/sessions/panel-header.hbs
  certif/app/router.js
  certif/app/templates/authenticated/sessions/import.hbs
Due: none

:sparkles: certif: Create button to create/edit multiple sessions
  certif/app/components/sessions/panel-header.hbs
  certif/app/styles/pages/authenticated/sessions/list-items.scss
  certif/translations/en.json
  certif/translations/fr.json
Due: none

:recycle: certif: Improve page design
  api/tests/integration/infrastructure/repositories/sessions/session-repository_test.js
  api/tests/unit/domain/usecases/create-sessions_test.js
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/app/templates/authenticated/sessions/import.hbs
Due: build-and-test-api

:recycle: certif: Rewrite given / when test
  certif/tests/acceptance/session-import_test.js
Due: none

:recycle: certif: Fix lint and tests
  api/tests/unit/domain/usecases/create-sessions_test.js
  certif/app/templates/authenticated/sessions/import.hbs
Due: build-and-test-api

[RELEASE] A minor is being released to 3.320.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: build-and-test-api, build-and-test

fix(mon-pix): add skip-link targets to missing pages
  mon-pix/app/components/sitemap/content.hbs
  mon-pix/app/templates/authenticated/user-trainings.hbs
  mon-pix/app/templates/fill-in-campaign-code.hbs
Due: build-and-test

fix(mon-pix): prevent skip-link visibility under a communication banner
  mon-pix/app/styles/components/_skip-link.scss
Due: build-and-test

sr(mon-pix): move the last acceptance test to integration
  mon-pix/tests/acceptance/sitemap_test.js
  mon-pix/tests/integration/components/Sitemap/content_test.js
Due: build-and-test

sr(mon-pix): add information on external links
  mon-pix/app/components/sitemap/content.hbs
  mon-pix/tests/acceptance/sitemap_test.js
  mon-pix/tests/integration/components/Sitemap/content_test.js
Due: build-and-test

sr(mon-pix): add information and icon on external links
  mon-pix/app/components/sitemap/content.hbs
  mon-pix/tests/acceptance/sitemap_test.js
  mon-pix/tests/integration/components/Sitemap/content_test.js
Due: build-and-test

sr(mon-pix): move external-link-title to navigation translation
  mon-pix/app/components/challenge-statement.js
  mon-pix/tests/integration/components/challenge-statement_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: build-and-test

sr(mon-pix): improve tests with testing library
  mon-pix/tests/integration/components/Sitemap/content_test.js
Due: build-and-test

tech(mon-pix): upgrade pix-ui version 24.2.2
  mon-pix/package-lock.json
  mon-pix/package.json
Due: build-and-test

Path conditions:
  build-and-test-api: any of: api/.*
  build-and-test: any of: mon-pix/.*
