Repository 1024pix/pix: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-and-test-api, build-and-test

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            api/.* build-and-test-api true
            mon-pix/.* build-and-test true
          # Optional, defaults to main:
          base-revision: dev

fix(orga): fix invitation button with tooltip
  orga/app/components/team/invitations-list.hbs
  orga/app/styles/app.scss
  orga/app/styles/pages/authenticated/team/invitations-list.scss
Due: none

feat(orga): remove wording on invitations-list
  orga/app/components/team/invitations-list.hbs
  orga/tests/integration/components/team/invitations-list_test.js
  orga/translations/en.json
  orga/translations/fr.json
Due: none

[RELEASE] A minor is being released to 3.300.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: build-and-test-api, build-and-test

:recycle: api: change supervisor kit template file for one with a white background
  api/lib/infrastructure/utils/pdf/files/kit-surveillant_template.pdf
  api/tests/integration/infrastructure/utils/pdf/kit-surveillant-with-long-labels_expected.pdf
  api/tests/integration/infrastructure/utils/pdf/kit-surveillant_expected.pdf
Due: build-and-test-api

fix(mon-pix): click outside user logged menu closes it
  mon-pix/package-lock.json
  mon-pix/package.json
Due: build-and-test

test(mon-pix): add user logged menu click outside test
  mon-pix/tests/acceptance/user-logged-menu_test.js
Due: build-and-test

test(mon-pix): use testing-library rather than test-helpers
  mon-pix/tests/acceptance/user-logged-menu_test.js
Due: build-and-test

sr(orga): revert ember-click-outside to v4.0.0
  orga/package-lock.json
  orga/package.json
Due: none

sr(mon-pix): switch from assert.equal to .strictEqual
  mon-pix/tests/acceptance/user-logged-menu_test.js
Due: build-and-test

fix(mon-pix): allow title overflow in tutorial cards
  mon-pix/app/styles/components/_tutorial-card.scss
Due: build-and-test

feat(api): add createTraining use-case
  api/lib/domain/usecases/create-training.js
  api/lib/domain/usecases/index.js
  api/tests/unit/domain/usecases/create-training_test.js
Due: build-and-test-api

feat(api): add create method for trainingRepositiory
  api/lib/infrastructure/repositories/training-repository.js
  api/tests/integration/infrastructure/repositories/training-repository_test.js
Due: build-and-test-api

feat(api): add training POST route
  api/lib/application/trainings/index.js
  api/tests/acceptance/application/trainings/training-controller_test.js
  api/tests/unit/application/trainings/index_test.js
Due: build-and-test-api

feat(api): add create method in training controller
  api/lib/application/trainings/training-controller.js
  api/tests/unit/application/trainings/training-controller_test.js
Due: build-and-test-api

[RELEASE] A minor is being released to 3.301.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: build-and-test-api, build-and-test

Use ILIKE instead of lower case inputs and columns
  api/lib/infrastructure/repositories/campaign-assessment-participation-result-list-repository.js
  api/lib/infrastructure/repositories/campaign-report-repository.js
  api/lib/infrastructure/repositories/certification-center-repository.js
  api/lib/infrastructure/repositories/membership-repository.js
  api/lib/infrastructure/repositories/organization-repository.js
  api/lib/infrastructure/repositories/sessions/jury-session-repository.js
  api/lib/infrastructure/repositories/sup-organization-participant-repository.js
  api/lib/infrastructure/repositories/target-profile-summary-for-admin-repository.js
  api/lib/infrastructure/repositories/user-repository.js
Due: build-and-test-api

Initialize test data for target profiles migration
  api/scripts/data-generation/target-profiles-for-migrations.js
Due: build-and-test-api

Add XLSX test files
  api/scripts/data-generation/target-profiles-migration/migration-test-multiform.xlsx
  api/scripts/data-generation/target-profiles-migration/migration-test.xlsx
Due: build-and-test-api

fix(mon-pix): qrocm-proposal
  mon-pix/app/components/qrocm-proposal.hbs
  mon-pix/app/components/qrocm-proposal.js
  mon-pix/tests/acceptance/challenge-item-qrocm_test.js
Due: build-and-test

app: fix pix-toggle conflict with pix-ui upgrade
  mon-pix/app/components/pix-toggle-deprecated.hbs
  mon-pix/app/components/pix-toggle-deprecated.js
  mon-pix/app/components/routes/register-form.hbs
  mon-pix/app/styles/components/_pix-toggle.scss
  mon-pix/tests/acceptance/start-campaigns-workflow_test.js
  mon-pix/tests/integration/components/pix-toggle-deprecated_test.js
  mon-pix/tests/integration/components/routes/register-form_test.js
Due: build-and-test

fix(mon-pix): qroc+qrocm select disable state
  mon-pix/app/components/challenge-item-qroc.hbs
  mon-pix/app/components/qrocm-proposal.hbs
  mon-pix/app/styles/components/_challenge-item.scss
Due: build-and-test

app: upgrade pix-ui from 20.2.4 to 23.1.2
  mon-pix/app/components/challenge-item-qroc.hbs
  mon-pix/app/components/challenge-item-qroc.js
  mon-pix/app/components/challenge-item-qrocm.hbs
  mon-pix/app/components/challenge-item-qrocm.js
  mon-pix/app/components/qrocm-proposal.hbs
  mon-pix/app/components/qrocm-proposal.js
  mon-pix/app/controllers/authenticated/user-account/language.js
  mon-pix/app/styles/components/_challenge-item.scss
  mon-pix/app/styles/pages/_fill-in-campaign-code.scss
  mon-pix/app/templates/authenticated/user-account/language.hbs
  mon-pix/config/icons.js
  mon-pix/package-lock.json
  mon-pix/package.json
  mon-pix/tests/acceptance/challenge-item-qroc_test.js
  mon-pix/tests/acceptance/challenge-item-qrocm_test.js
  mon-pix/tests/integration/components/qrocm-proposal_test.js
  mon-pix/tests/unit/controllers/authenticated/user-account/language_test.js
Due: build-and-test
