Repository 1024pix/pix: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-and-test-api, build-and-test

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            api/.* build-and-test-api true
            mon-pix/.* build-and-test true
          # Optional, defaults to main:
          base-revision: dev

sr(api): remove before each on test
  api/tests/acceptance/application/sco-organization-learners/sco-organization-learner-controller_test.js
Due: build-and-test-api

sr(api): remove dead code
  api/tests/unit/domain/usecases/delete-certification-issue-report_test.js
Due: build-and-test-api

fix(api): only block user if blockedAt date is set
  api/lib/domain/models/UserLogin.js
  api/tests/unit/domain/models/UserLogin_test.js
Due: build-and-test-api

refacto(api): clarify UserLogin method names
  api/lib/application/usecases/checkIfUserIsBlocked.js
  api/lib/domain/models/UserLogin.js
  api/lib/domain/services/authentication/pix-authentication-service.js
  api/lib/domain/usecases/unblock-user-account.js
  api/tests/unit/domain/models/UserLogin_test.js
  api/tests/unit/domain/services/authentication/pix-authentication-service_test.js
Due: build-and-test-api

[RELEASE] A minor is being released to 3.307.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: build-and-test-api, build-and-test

orga: add adapter to call resend endpoint
  orga/app/adapters/organization-invitation.js
  orga/tests/unit/adapters/organization-invitation_test.js
Due: none

api: rename createOrgaInvitation -> createOrUpdateOrgaInvitation
  api/lib/domain/services/organization-invitation-service.js
  api/lib/domain/usecases/create-organization-invitation-by-admin.js
  api/lib/domain/usecases/create-organization-invitations.js
  api/scripts/send-invitations-to-sco-organizations.js
  api/tests/integration/domain/services/organization-invitation-service_test.js
  api/tests/unit/domain/services/organization-invitation-service_test.js
  api/tests/unit/domain/usecases/create-organization-invitation-by-admin_test.js
  api/tests/unit/domain/usecases/create-organization-invitations_test.js
Due: build-and-test-api

orga: add redo icon
  orga/config/icons.js
Due: none

feat(orga): use InvitationsListItem component in InvitationsList component
  orga/app/components/team/invitations-list.hbs
  orga/app/components/team/invitations-list.js
  orga/app/styles/pages/authenticated/team/invitations-list.scss
Due: none

api: add usecase to re-send organization invitation
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/resend-organization-invitation.js
  api/tests/unit/domain/usecases/resend-organization-invitation_test.js
Due: build-and-test-api

orga: add translation for resending invitation
  orga/translations/en.json
  orga/translations/fr.json
Due: none

orga: fix a waiting time before 2 resending
  orga/config/environment.js
Due: none

feat(orga): add invitations list item component
  orga/app/components/team/invitations-list-item.hbs
  orga/app/components/team/invitations-list-item.js
  orga/tests/integration/components/team/invitations-list-item_test.js
  orga/tests/integration/components/team/invitations-list_test.js
Due: none

api: add route PATCH /organizations/{id}/resend-invitation
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
Due: build-and-test-api

mon-pix: add an id to qrocm PixSelect inputs
  mon-pix/app/components/qrocm-proposal.hbs
Due: build-and-test

chore: remove @1024pix/ember-testing-library in root packages
  package-lock.json
  package.json
Due: none

sr(api): delete obsolete code
  api/scripts/create-trainings.js
  api/tests/unit/scripts/create-trainings_test.js
Due: build-and-test-api

Prevent unsorted translations
  api/.eslintrc.yaml
  api/.prettierignore
  api/package.json
Due: build-and-test-api

Sort translations
  api/translations/en.json
  api/translations/fr.json
Due: build-and-test-api

Add translation fix task
  api/package.json
Due: build-and-test-api
