Repository 1024pix/pix: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-and-test-api, build-and-test

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            api/.* build-and-test-api true
            mon-pix/.* build-and-test true
          # Optional, defaults to main:
          base-revision: dev

Bump sinon from 14.0.2 to 15.0.1
  orga/package-lock.json
  orga/package.json
Due: none

bsr(orga) remove unused package
  orga/package-lock.json
  orga/package.json
Due: none

Bump sass from 1.56.1 to 1.57.1
  orga/package-lock.json
  orga/package.json
Due: none

fix(orga): fix tests while update to latest Pix Ui
  orga/tests/integration/components/campaign/create-form_test.js
Due: none

Bump qunit from 2.19.3 to 2.19.4
  orga/package-lock.json
  orga/package.json
Due: none

bsr(orga) remove use modifier instead of ClickOutSide Component
  orga/app/components/dropdown/content.hbs
Due: none

:recycle: api: remove unicity on session code
  api/lib/domain/services/session-code-service.js
  api/lib/domain/usecases/create-sessions.js
  api/lib/infrastructure/repositories/sessions/session-repository.js
  api/tests/integration/infrastructure/repositories/sessions/session-repository_test.js
  api/tests/unit/domain/services/session-code-service_test.js
  api/tests/unit/domain/usecases/create-sessions_test.js
Due: build-and-test-api

:recycle: harmonize knex uses
  api/lib/infrastructure/repositories/sessions/session-repository.js
Due: build-and-test-api

:recycle: api: replace bookshelf by knex in sessions repository
  api/lib/infrastructure/repositories/sessions/session-repository.js
  api/tests/integration/infrastructure/repositories/sessions/session-repository_test.js
Due: build-and-test-api

feat: add toggleIsForAbsoluteNoviceCampaignAttribute script
  api/scripts/toggle-is-for-absolute-novice-campaign-attribute.js
  api/tests/integration/scripts/toggle-is-for-absolute-novice-campaign-attribute_test.js
Due: build-and-test-api

feat(admin): allow not to defined english translations
  admin/config/ember-intl.js
Due: none

feat(admin): allow user to access tabs in training details
  admin/app/controllers/authenticated/trainings/training/target-profiles.js
  admin/app/controllers/authenticated/trainings/training/triggers.js
  admin/app/router.js
  admin/app/routes/authenticated/trainings/training/index.js
  admin/app/routes/authenticated/trainings/training/target-profiles.js
  admin/app/routes/authenticated/trainings/training/triggers.js
  admin/app/templates/authenticated/trainings/training/target-profiles.hbs
  admin/app/templates/authenticated/trainings/training/triggers.hbs
  admin/tests/acceptance/authenticated/trainings/detail_test.js
  admin/tests/acceptance/authenticated/trainings/list_test.js
Due: none

sr(admin): add some training page translations
  admin/app/templates/authenticated/trainings/training.hbs
  admin/app/templates/authenticated/trainings/training/target-profiles.hbs
  admin/app/templates/authenticated/trainings/training/triggers.hbs
  admin/tests/acceptance/authenticated/trainings/training_test.js
  admin/translations/en.json
  admin/translations/fr.json
Due: none

sr(admin): use router service to redirect, will be deprecated in next major Ember version
  admin/app/routes/authenticated/trainings/training/index.js
Due: none

sr(admin): remove training 'details' references
  admin/app/controllers/authenticated/trainings/training/details.js
  admin/app/routes/authenticated/trainings/training/details.js
  admin/tests/acceptance/authenticated/trainings/training_test.js
Due: none

refactor(admin): move training details template to parent page
  admin/app/templates/authenticated/trainings/training.hbs
  admin/app/templates/authenticated/trainings/training/details.hbs
Due: none

orga: Some reactivity in tubes selection
  orga/app/components/tube/list.hbs
  orga/app/components/tube/list.js
  orga/app/components/tube/thematic.hbs
  orga/app/components/tube/thematic.js
  orga/app/components/tube/tube.hbs
  orga/app/components/tube/tube.js
  orga/tests/unit/components/tube/list_test.js
Due: none

orga: Include framework ID in target profile JSON file export
  orga/app/components/tube/list.js
  orga/app/routes/authenticated/preselect-target-profile.js
  orga/app/templates/authenticated/preselect-target-profile.hbs
  orga/tests/integration/components/tube/list_test.js
  orga/tests/unit/components/tube/list_test.js
Due: none

sr(mon-pix): improve a11y with adding color default value (10.5)
  mon-pix/app/styles/globals/_layout.scss
  mon-pix/app/styles/pages/_sign-form.scss
Due: build-and-test

[RELEASE] A minor is being released to 3.319.0.
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/package-lock.json
  api/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Due: build-and-test-api, build-and-test

feat(api): add route for create organizations
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/lib/domain/usecases/create-organizations-with-tags-and-target-profiles.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/serializers/csv/csv-serializer.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
Due: build-and-test-api

refactor(api): improve error messages
  api/lib/domain/usecases/create-organizations-with-tags-and-target-profiles.js
  api/lib/domain/validators/organization-with-tags-and-target-profiles-script.js
  api/tests/integration/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
Due: build-and-test-api
