Repository 1024pix/pix: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-and-test-api, build-and-test

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            api/.* build-and-test-api true
            mon-pix/.* build-and-test true
          # Optional, defaults to main:
          base-revision: dev

test(admin): add acceptance test for training detail page
  admin/app/models/training.js
  admin/mirage/config.js
  admin/mirage/handlers/trainings.js
  admin/tests/acceptance/authenticated/trainings/detail_test.js
Due: none

feat(admin): create training details card component
  admin/app/components/trainings/training-details-card.hbs
  admin/app/components/trainings/training-details-card.js
  admin/app/styles/app.scss
  admin/app/styles/components/trainings/training-details-card.scss
  admin/app/templates/authenticated/trainings/training/details.hbs
  admin/tests/integration/components/trainings/training-details-card_test.js
Due: none

refactor(admin): do not duplicate security check
  admin/app/routes/authenticated/trainings/training/details.js
  admin/tests/unit/routes/authenticated/trainings/training_test.js
Due: none

feat(admin): load model data into the detail page
  admin/app/routes/authenticated/trainings/training.js
  admin/app/routes/authenticated/trainings/training/details.js
  admin/app/templates/authenticated/trainings/training/details.hbs
Due: none

feat(api): create link between training list and training details
  admin/app/components/trainings/list-summary-items.hbs
  admin/tests/acceptance/authenticated/trainings/list_test.js
Due: none

feat(admin): create training detail route
  admin/app/controllers/authenticated/trainings/training/details.js
  admin/app/router.js
  admin/app/routes/authenticated/trainings/training.js
  admin/app/routes/authenticated/trainings/training/details.js
  admin/app/routes/authenticated/trainings/training/index.js
  admin/app/templates/authenticated/trainings/training.hbs
  admin/app/templates/authenticated/trainings/training/details.hbs
  admin/tests/unit/routes/authenticated/trainings/training/details_test.js
Due: none

test(admin): add training detail card duration formating tests
  admin/app/components/trainings/training-details-card.js
  admin/tests/unit/components/trainings/training-details-card_test.js
Due: none

feat(mon-pix): add a title in tutorial card
  mon-pix/app/components/tutorials/card.hbs
  mon-pix/app/styles/components/_tutorial-card.scss
  mon-pix/tests/integration/components/tutorials/card_test.js
Due: build-and-test

feat(mon-pix): improve scorecard-details title levels
  mon-pix/app/components/scorecard-details.hbs
  mon-pix/app/styles/components/_scorecard-details.scss
Due: build-and-test

sr(api): remove unused script
  api/scripts/prod/add-target-profile-shares-to-organizations.js
  api/tests/unit/scripts/add-target-profile-shares-to-organizations_test.js
Due: build-and-test-api

:hammer: api: add script to get user eligibility
  api/scripts/certification/get-user-certifications-eligibility.js
Due: build-and-test-api

Add missing updateAt property in updates
  api/lib/infrastructure/repositories/organization-learner-repository.js
  api/tests/integration/infrastructure/repositories/organization-learner-repository_test.js
Due: build-and-test-api

Remove Bookshelf from reconcileUserByNationalStudentIdAndOrganizationId
  api/lib/infrastructure/repositories/organization-learner-repository.js
Due: build-and-test-api

Remove Bookshelf from findByUserId
  api/lib/infrastructure/repositories/organization-learner-repository.js
Due: build-and-test-api

Add missing orderBy in organization-learners-repository
  api/lib/infrastructure/repositories/organization-learner-repository.js
  api/tests/integration/infrastructure/repositories/organization-learner-repository_test.js
Due: build-and-test-api

Remove Bookshelf from findByOrganizationIdAndBirthdate
  api/lib/infrastructure/repositories/organization-learner-repository.js
  api/tests/integration/infrastructure/repositories/organization-learner-repository_test.js
Due: build-and-test-api

Remove Bookshelf from findByOrganizationIdAndUpdatedAtOrderByDivision
  api/lib/infrastructure/repositories/organization-learner-repository.js
Due: build-and-test-api

Remove Bookshelf from updateUserIdWhereNull
  api/lib/infrastructure/repositories/organization-learner-repository.js
Due: build-and-test-api

Remove Bookshelf from isOrganizationLearnerIdLinkedToUserAndSCOOrganization
  api/lib/infrastructure/repositories/organization-learner-repository.js
Due: build-and-test-api

Remove Bookshelf from reconcileUserToOrganizationLearner
  api/lib/infrastructure/repositories/organization-learner-repository.js
Due: build-and-test-api

Remove Bookshelf from findByIds method in organization-learner repository
  api/lib/infrastructure/repositories/organization-learner-repository.js
Due: build-and-test-api
